﻿@model Vhm.Web.Models.ViewModels.Shared.PageTitle
@{
    if (Model.ShowPageTitle)
    {
        <div class="v3-wrapper">
            <div class="v3-header">
            <span id="lbHeader">@Model.PageTitleName</span></div>
        </div>
       
    }
}