﻿@model Vhm.Web.Models.ViewModels.Shared.FooterViewModel
<div id="footer" class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target="#collapse-footer"><span
                class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </a>
            <div class="nav-collapse collapse" id="collapse-footer">
                <ul class="nav">
                    <li id="copyright">©@DateTime.Now.Year@ViewBag.CompanyName</li>
                    @foreach (var menutItem in Model.FooterMenu.ChildItems)
                    {
                        <li><a href="@Url.Content("~/../" + @menutItem.Url)">@menutItem.Text</a></li>
                    }
                    @if (Model.ShowPoweredByVhm)
                    {
                        <li >
                            <img src="/images/footer/powered_by_tab.png" alt="Powered By Virgin HealthMiles"
                                class="poweredby"/>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
