﻿@using Vhm.Web.Common
@using Vhm.Web.Models.ViewModels.Shared
@model Vhm.Web.Models.ViewModels.Shared.FooterViewModel

<div class="VHMFatFooter">
    <div class="VHMFatFooterInner">
        <div class="col1">
            <div class="Col1FAQForm">
                <h2 class="footerMainHeader">@Model.Content[FooterContent.HaveAQuestion]</h2>
                <form action="@ApplicationSettings.IntelliResponseURL" method="post">
                    <input type="hidden" name="interfaceID" value="1" /> 
                    <input type="hidden" name="sessionId" value="@Session.SessionID" /> 
                    <input type="hidden" id="GZVersion" name="GZVersion" value="2"/> 
                    <input type="hidden" name="id" value="-1"/> 
                    <input type="hidden" name="requestType" value="NormalRequest"/>
                    <input type="hidden" name="source" value="1"/> 
                    <textarea class="FAQTextArea" name="question" rows="2" cols="40" placeholder="@Model.Content[FooterContent.WhenWillIReceiveMyGoZonePedometer]"></textarea>
                    <input type="submit" value="@Model.Content[FooterContent.Search]" class="vbtn_red_b_md FooterSearch" />
                </form>
            </div>
            <h2 class="footerMainHeader">@Model.Content[FooterContent.ProgramFaqs]</h2>
            <ul class="disabled">
                <li><a class="disabled" target="_blank" href="@ApplicationSettings.IntelliResponseURL@Model.Content[FooterContent.HowDoRewardLevelsWorkIntelliUrl]">@Model.Content[FooterContent.HowDoRewardLevelsWork]</a></li><br>
                <li><a class="disabled" target="_blank" href="@ApplicationSettings.IntelliResponseURL@Model.Content[FooterContent.HowDoIGetMyFirstGoZoneIntelliUrl]">@Model.Content[FooterContent.HowDoIGetMyFirstGoZone]</a></li><br>
                <li><a class="disabled" target="_blank" href="@ApplicationSettings.IntelliResponseURL@Model.Content[FooterContent.HowDoIDownloadTheSoftwareIntelliUrl]">@Model.Content[FooterContent.HowDoIDownloadTheSoftware]</a></li><br>
                <li><a class="disabled" target="_blank" href="@ApplicationSettings.IntelliResponseURL@Model.Content[FooterContent.HowDoIEarnHealthMilesIntelliUrl]">@Model.Content[FooterContent.HowDoIEarnHealthMiles]</a></li><br>
                <li><a class="disabled" target="_blank" href="@ApplicationSettings.IntelliResponseURL@Model.Content[FooterContent.HowDoIChangeMyPasswordIntelliUrl]">@Model.Content[FooterContent.HowDoIChangeMyPassword]</a></li><br>
                <li><a class="disabled tertiary" target="_blank" href="@Model.Content[FooterContent.GzSupportUrl]">@Model.Content[FooterContent.SeeAll]</a></li><br>
            </ul>
        </div>
        <div class="col2">
            <h2 class="footerMainHeader">@Model.Content[FooterContent.GoZonePedometer]</h2>
            <img class="goZoneFooterImg" src="~/Content/Images/Footer/gozone.png" alt="@Model.Content[FooterContent.GoZonePedometer]" />
            <h5 class="white">@Model.Content[FooterContent.GoZoneFaqs]</h5>
            <ul class="disabled">
                <li><a class="disabled tertiary" target="_blank" href="@ApplicationSettings.IntelliResponseURL@Model.Content[FooterContent.HowDoIActivateMyGoZoneIntelliUrl]">@Model.Content[FooterContent.HowDoIActivateMyGoZone]</a></li><br>
                <li><a class="disabled tertiary" target="_blank" href="@ApplicationSettings.IntelliResponseURL@Model.Content[FooterContent.WhyDoesntTheGoZoneCountAllMyStepsIntelliUrl]">@Model.Content[FooterContent.WhyDoesntTheGoZoneCountAllMySteps]</a></li><br>
                <li><a class="disabled tertiary" target="_blank" href="@ApplicationSettings.IntelliResponseURL@Model.Content[FooterContent.WhereIsTheBestPlaceToWearMyGoZoneIntelliUrl]">@Model.Content[FooterContent.WhereIsTheBestPlaceToWearMyGoZone]</a></li><br>
                <li><a class="disabled tertiary" target="_blank" href="@ApplicationSettings.IntelliResponseURL@Model.Content[FooterContent.WhatIfMyGoZoneGotWetIntelliUrl]">@Model.Content[FooterContent.WhatIfMyGoZoneGotWet]</a></li><br>
                <li><a class="disabled tertiary" target="_blank" href="@ApplicationSettings.IntelliResponseURL@Model.Content[FooterContent.HowDoIReplaceMyGoZonesBatteryIntelliUrl]">@Model.Content[FooterContent.HowDoIReplaceMyGoZonesBattery]</a></li><br>
            </ul>
            <h5 class="white">@Model.Content[FooterContent.AdditionalGoZoneResources]</h5>
            <ul class="disabled">
                <li><a class="disabled tertiary" href="@Model.Content[FooterContent.DownloadGoZoneSoftwareUrl]">@Model.Content[FooterContent.DownloadGoZoneSoftware]</a></li><br>
                <li><a class="disabled tertiary" href="@Model.Content[FooterContent.BuyAGoZoneUrl]">@Model.Content[FooterContent.BuyAGoZone]</a></li><br>
                <li><a class="disabled tertiary" href="@Model.Content[FooterContent.HowToActivateANewGoZoneUrl]">@Model.Content[FooterContent.HowToActivateANewGoZone]</a></li><br>
            </ul>
        </div>
        <div class="col3">
            @foreach (var menutItem in Model.MainMenu.ChildItems)
            {
                if (menutItem.Text.Contains("Activity") || menutItem.Text.Contains("Measure") || menutItem.Text.Contains("Challenges"))
                {
                    <h5 class="white">@menutItem.Text</h5>
                    <ul class="disabled">
                        @foreach (var childMenuItem in menutItem.ChildItems)
                        {
                            <li><a class="disabled tertiary" href="@childMenuItem.Url">@childMenuItem.Text</a></li><br/>
                        }
                    </ul>
                }
            }
        </div>
        <div class="col4">
            @foreach (var menutItem in Model.MainMenu.ChildItems)
            {
                if (menutItem.Text.Contains("Rewards") || menutItem.Text.Contains("Connections"))
                {
                    <h5 class="white">@menutItem.Text</h5>
                    <ul class="disabled">
                        @foreach (var childMenuItem in menutItem.ChildItems)
                        {
                            <li><a class="disabled tertiary" href="@childMenuItem.Url">@childMenuItem.Text</a></li><br/>
                        }
                    </ul>
                }
            }
        </div>
        <div class="clearfix"></div>
    </div>
</div>
