﻿@using Vhm.Web.Models.ViewModels.Shared
@model HeaderViewModel
<div id="topNavigation" class="navbar navbar-fixed-top">
    <input type="hidden" id="hdnLocalizationSeemsLike" value="" />
    <input type="hidden" id="hdnLocalizationRefreshingPage" value="" />
    <input type="hidden" id="hdnLocalizationExceeded" value="" />
    <input type="hidden" id="hdnLocalizationCharactersLeft" value="" />
    <input type="hidden" id="hdnLocalizationGotoGroup" value="" />
    <input type="hidden" id="hdnLocalizationSeeMore" value="" />
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target="#topNav"><span class="icon-bar">
            </span><span class="icon-bar"></span><span class="icon-bar"></span></a>
            <div id="topNav" class="nav-collapse collapse">
                <ul class="nav pull-right"> <li class="dropdown ie8widthfix">
                        @if (Model.UnreadNotificationCount > 0)
                        {
                            <div class="notificationCount">@Model.UnreadNotificationCount</div>
                        }
                        <img id="menuProfileImage" class="pull-left" src="@Model.MemberImageUrl" alt="@Model.Content[HeaderContent.MyProfile]" />
                        <a class="dropdown-toggle pull-right userProfileName" data-toggle="dropdown" href="#">@Model.MemberFullName<b
                            class="caret pull-right"></b></a>
                        <ul class="dropdown-menu">
                            @if (Model.UnreadNotificationCount > 0)
                            { 
                                <li><a id="notificationPopupTrigger">@Model.Content[HeaderContent.Notifications]
                                    (@Model.UnreadNotificationCount new)</a> </li> 
                            }
                            <li><a href="@Url.Content("~/../secure/Member/MemberDetails.aspx?open=account")">@Model.Content[HeaderContent.MyAccount]</a>
                                <input type="hidden" name="member" value="@Model.MemberId" />
                            </li>
                            <!-- Add Link to MemberDeviceSettings page if member has a GZ3-->
                            @if (Model.ShowMemberDeviceSettingsLink)
                            {
                                <li><a href="@Url.Content("~/device/memberdevicesettings")">@Model.Content[HeaderContent.DeviceSettings]</a></li>
                            }
                            <li><a href="@Url.Content("~/../logout.aspx")">@Model.Content[HeaderContent.LogOut]</a></li>
                        </ul>
                    </li>
                    @if (@Model.ShowSiteNavigationMenu)
                    {
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">@Model.Content[HeaderContent.View]:
                            @Model.Content[HeaderContent.Member]<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                @if (@Model.Permissions.OnlineReporting)
                                {
                                    <li><a href="@Url.Content("/Reports/Report")">@Model.Content[HeaderContent.OnlineReporting]</a></li>
                                }
                                @if (@Model.Permissions.MeasurementAssessor)
                                {
                                    <li><a href="@Url.Content("~/../Secure/Professional/ProfStart.aspx")">@Model.Content[HeaderContent.MeasuremenAssessor]</a></li>
                                }
                                @if (@Model.Permissions.LifeZoneMasterLogin)
                                {
                                    <li><a href="@Url.Content("~/../Secure/MasterLogin/MstrLogin.aspx")">@Model.Content[HeaderContent.LifeZoneMasterLogin]</a></li>
                                }
                                @if (@Model.Permissions.VoucherReceiver)
                                {
                                    <li><a href="@Url.Content("~/../Secure/Voucher/VoucherStart.aspx")">@Model.Content[HeaderContent.VoucherAdministrator]</a></li>
                                }
                                @if (@Model.Permissions.ECoach)
                                {
                                    <li><a href="@Url.Content("~/../Secure/ECoach/")">@Model.Content[HeaderContent.Coach]</a></li>
                                }
                                @if (@Model.Permissions.ChallengeManager)
                                {
                                    <li><a href="@Url.Content("~/../Secure/ChallengeManager/Default.aspx")">@Model.Content[HeaderContent.ChallengeManager]</a></li>
                                }
                                @if (@Model.Permissions.HealthZoneAdmin)
                                {
                                    <li><a href="@Url.Content("~/../Secure/HealthZone/HealthZoneAdmin.aspx")">@Model.Content[HeaderContent.HealthZoneAdmin]</a></li>
                                }
                                @if (@Model.Permissions.CrmAdmin)
                                {
                                    <li><a href="@Url.Content("~/../Admin/")">@Model.Content[HeaderContent.CRMAdmin]</a></li>
                                    <li><a href="@Url.Content("/challengemanager")">Challenge Console</a></li>
                                }
                            </ul>
                        </li>
                    
                    }
                    <li id="liVHMSupport"><a href="@Url.Content("~/../secure/Help/Support.aspx")">@Model.Content[HeaderContent.Support]</a></li>
                   
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="divVHMNotification">
</div>
<div class="VHMheadermenuc">
    <div style="clear: both; overflow: auto;">
        @if (@Model.UseCustomBrand && @Model.SponsorLogoType != string.Empty)
        {
            if (@Model.SponsorLogoType == "text")
            {
            <div id="sponsorText">
                <a href="@Url.Action("LandingPage", "Member")">@Html.Raw(Model.SponsorText)</a></div>
            }
            else if (@Model.SponsorLogoType == "image")
            {
            <div id="sponsorLogo">
                <a href="@Url.Action("LandingPage", "Member")">
                    <img alt="Sponsor Logo" src="@Model.SponsorImageUrl" />
                </a>
            </div>
            }
        }
        else
        {
            <div id="vhmLogo" style="width: 300px; float: left; padding-top: 10px;">
                <a href="@Url.Action("LandingPage", "Member")">
                    <img alt="Virgin Pulse Logo" src="@Model.VhmLogoUrl" class="vhmLogoImage" />
                </a>
            </div>
            if (@Model.ShowBroughtToYouBy)
            {
            <div class="vhmCoBrandSection">
                @if (@Model.SponsorLogoType != string.Empty)
                {
                    <div class="vhmBroughtToYouBy">@Html.Raw(Model.SponsorDefaultBroughtToYouByText)</div>
                    if (@Model.SponsorLogoType == "text")
                    {
                    <div id="sponsorBroughtToYouByText" class="vhmCoBrandLogo vhmBTYBTextLogo">@Html.Raw(Model.SponsorBroughtToYouByText)</div>
                    }
                    else
                    {
                    <div class="vhmCoBrandLogo">
                        <img alt="@Html.Raw(Model.SponsorDefaultBroughtToYouByText)" src="@Model.SponsorBroughtToYouByUrl" style="max-width: 250px; max-height:57px;" /></div>
                    }
                }
            </div>
            }
        }
    </div>
    <div class="main-nav navbar">
        <ul class="nav">
            <li class="first">
                <a class="home" href="/v2/member/landingpage">@Model.Content[HeaderContent.Home]</a>
            </li>
            @foreach (var menutItem in Model.MainMenu.ChildItems)
            {
                if (menutItem.ChildItems.Count > 0)
                { 
                <li class="dropdown menu-item-li"><a id="lnkCategTitle"  class="dropdown-toggle" data-toggle="dropdown"><span>@menutItem.Text</span> <b
                                                                                                                                class="caret"></b></a>
                    <ul class="dropdown-menu">
                        @foreach (var childMenuItem in menutItem.ChildItems)
                        {
                            <li><a href="@childMenuItem.Url">@childMenuItem.Text</a></li>
                        }
                    </ul>
                </li>
                }
                else
                { 
                    <li class="dropdown menu-item-li"><a id="lnkCategTitle" class="dropdown-toggle" href="@menutItem.Url"><span>@menutItem.Text</span></a>
                </li>
                }
            }
        </ul>
    </div>
    
</div>
