﻿ul {
    list-style: none;
}

input[type=checkbox] {
    vertical-align: top;
}

#contentHeader {
    background-color: #5DBCD2;
}

textarea {
    resize: none;
}

div.summary {
    width: 30%;
    padding: 0 20px 20px 20px;
    border-left: solid 1pt silver;
}

div.mgrNav {
    /*clear:both;*/
    margin-top: 40px;
}

div.mgrNav a.btn.mgrNavButtonNext {
    background: url(../img/yellow-button.png);
    color: #fff;
    height: 21px;
    width: 75px;
}

div.mgrNav a.btn.mgrNavButtonBack {
    background: url(../img/grey-button.png);
    color: #fff;
    height: 21px;
    width: 75px;
}

div.searchBar {
    display: inline-block;
}

div.searchBar img.searchIcon {
    cursor: pointer;
    height: 32px;
    width: 32px;
    margin-top: -10px;
    padding: 5px;
}

h1.mgrPageHeader,
h2.mgrPageHeader,
h3.mgrPageHeader,
h4.mgrPageHeader,
h5.mgrPageHeader {
    display: inline-block;
    font-family: 'Tungsten Regular', 'Tungsten';
    font-weight: 700;
    font-size: 36px;
    font-style: normal;
    width: 80%;
}

h1.mgrListPageHeader,
h2.mgrListPageHeader,
h3.mgrListPageHeader,
h4.mgrListPageHeader,
h5.mgrListPageHeader {
    width: 40%;
}

a.headerLink {
    color: #008AA2;
    font-family: 'Whitney Regular', 'Whitney';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    display: inline-block;
    width: 200px;
}

.header-yellow {
    color: #FBDA72;
}

.mgrSubHeader {
    display: inline-block;
    font-family: 'Tungsten Regular', 'Tungsten';
    font-size: 28px;
}

.mgrSummaryHeader {
    display: inline-block;
    font-family: 'Tungsten Regular', 'Tungsten';
    font-size: 28px;
    font-weight: 400;
}

table.challengeList {
    width: 100%;
}

table.challengeList th {
    color: #999999;
    font-family: 'Arial Regular', 'Arial';
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    line-height: 26px;
}

table.challengeList td img {
    height: 16px;
    width: 16px;
    padding: 5px;
    cursor: pointer;
}

table.challengeList td.paging {
    line-height: 40px;
    text-align: center;
}

table.challengeList td.paging div.pagination li {
    padding: 10px;
    cursor: pointer;
    margin: 4px;
    border-radius: 4px;
    border: solid 1pt #ccc;
}

table.challengeList td.paging div.pagination li.selected {
    background: #5DBCD2;
}

ul.summaryItems {
    list-style: none;
    margin-top: 15px;
}

ul.summaryItems label {
    display: inline-block;
    width: 130px;
    text-align: right;
}

ul.summaryItems li.summaryActions label {
    color: #0000CC;
    cursor: pointer;
    font-family: 'Arial Regular', 'Arial';
    font-size: 10px;
    font-weight: 400;
    padding: 8px;
    text-align: left;
    width: auto;
}

div.work-area {
    width: 65%;
}

div.work-area fieldset {
    margin-top: 15px;
}

div.work-area label {
    font-family: 'Whitney Regular', 'Whitney';
    font-size: 18px;
    color: #666;
}

div.work-area label.radioLabel {
    font-family: 'Arial Regular', 'Arial';
    font-weight: 400;
    font-size: 13px;
    display: inline-block;
    margin-left: 7px;
    width: 100px;
}

div.work-area label.radioLabelWide {
    width: 250px;
}

div.work-area label.radioLabelXWide {
    width: auto;
}

div.work-area label.inline {
    display: inline-block;
    text-align: right;
    width: 150px;
}

div.work-area select,
div.work-area textarea {
    width: 90%;
}

div.work-area input[type='text'].inline {
    display: inline-block;
    margin-left: 15px;
}

div.work-area select.inline {
    display: inline-block;
    margin-left: 15px;
    width: 150px;
}

div.work-area input[type=radio] {
    margin: 0 5px 5px 5px;
}

div.work-area input.datePicker {
    width: 120px;
    margin: 0 5px;
}

div.work-area fieldset.options img.x {
    cursor: pointer;
    height: 32px;
    width: 32px;
    opacity: .25;
}

div.work-area fieldset.options img.check {
    cursor: pointer;
    height: 25px;
    width: 25px;
    opacity: .25;
}

ul.AvailableBadgeList {
    margin: 15px 0 0 0;
    padding: 0;
    list-style: none;
}

ul.AvailableBadgeList li {
    display: inline-block;
    margin-right: 17px;
}

ul.AvailableBadgeList li img {
    cursor: pointer;
    height: 50px;
    opacity: .4;
    width: 50px;
}

ul.AvailableBadgeList li img.selected {
    opacity: 1;
}

.small-text {
    font-size: 10px;
}

.directions {
    color: #999999;
    width: 75%;
}

.btn.gray-button {
    background-color: #333;
    background-image: -moz-linear-gradient(top #777777, #333333);
    background-image: -webkit-gradient(linear, 0 0, 0 80%, from(#777777), to(#333333));
    background-image: -webkit-linear-gradient(top, #777777, #333333);
    background-image: -o-linear-gradient(top, #777777, #333333);
    background-image: linear-gradient(to bottom, #777777, #333333);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-color: #333;
    color: #fff;
    padding: 5px 17px;
    text-shadow: none;
    font-size: 16px;
}

.btn.yellow-button {
    background-color: #ec9702;
    background-image: -moz-linear-gradient(top #fdbb2d, #ec9702);
    background-image: -webkit-gradient(linear, 0 0, 0 80%, from(#fdbb2d), to(#ec9702));
    background-image: -webkit-linear-gradient(top, #fdbb2d, #ec9702);
    background-image: -o-linear-gradient(top, #fdbb2d, #ec9702);
    background-image: linear-gradient(to bottom, #fdbb2d, #ec9702);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-color: #ffc254;
    color: #fff;
    padding: 5px 17px;
    text-shadow: none;
    font-size: 16px;
}