﻿@using Vhm.Web.Models;
@model IEnumerable<MenuLink>          
@{
    Layout = "~/Views/Shared/MasterNoCol.cshtml";
}

@{
    ViewBag.Title = "CheckMember";
    ViewData["pageTitle"] = new Vhm.Web.Models.ViewModels.Shared.PageTitle(true, "Access Type");  
}
<link href="@Url.Content("~/Content/Login.css")" rel="stylesheet" type="text/css" /> 
<style type="text/css">
    	body {background: #ffffff;}
    	header{ height: 90px;}
</style>
<div id="MemberNavWrapper">
    <h1 class="NavHeader">Access Type</h1>
    <div id="MemberNavContainer">
   
        <ul id="MemberNav">
            @foreach(MenuLink link in Model)
            {
                <li>
                    <a href="@link.Url">@link.LinkText</a>
                </li>
            }
        </ul>
    </div>
</div>  