﻿@using Vhm.Web.Models.ViewModels.Shared
@model Vhm.Web.Models.Session
@{
    Layout = "~/Views/Shared/MasterNoCol.cshtml";
}
<script type='text/javascript' language='JavaScript'><!--      //
      var elqPPS = '70';
//--></script>
<script src="@Url.Content("~/Scripts/elqNow/elqScr.js")" type='text/javascript'></script>
<script type='text/javascript' language='JavaScript'><!--
    window.onload = initPage;
    function initPage() {
        if (this.GetElqCustomerGUID) {
            document.forms["frmLogin"].elements["elqCustomerGUID"].value = GetElqCustomerGUID();
        }
    }
//--></script>
@{
    ViewData["pageTitle"] = new PageTitle(true, "Member Log In");   
}
@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "frmLogin" }))
{
    <h1 class="title">Member Log In</h1>    
    <div id="LoginFields">    
        <h3 class="red">LOG IN TO YOUR VIRGIN HEALTHMILES ACCOUNT</h3>
         
         @if (!String.IsNullOrEmpty(ViewBag.WarningMessage))
         {
             <div class="badLogin">
                 <div class="badLoginInner">
                     <img src=@(ViewBag.OldSiteUrl + "/images/general/alert_icon_anim.gif") width="20" height="20" alt="Warning!" style="margin-right: 5px; padding-bottom: 10px;" />                
                 </div>
                 <div style="width: 90%">
                     <span class="loginMsg" id="badLoginMsg">@ViewBag.WarningMessage</span>
                     @if (!ViewBag.LoginError)
                     {
                         <a class="red" href="@(ViewBag.OldSiteUrl + "session/pwdassist.aspx")">update your password?</a>
                     }
                 </div>
             </div>
         }
        <div style="margin-top: 20px;">
            <div class="editor-label">
                <label>Member ID or Email Address</label>
            </div>
            <div class="editor-field">
                <input type="text" name="UserName" value="" />
            </div>

            <div class="editor-label">
                <label>Password</label>
            </div>
            <div class="editor-field">
                <input type="password" autocomplete="off" name="Password" />
            </div>

            <div class="editor-label">
                <input type="checkbox" name="RememberMe" />
                <label>Remember my Member ID or email address</label>
            </div>
        </div>
        <p>
            <input type="submit" value="LOG IN" />
        </p>
        <p>
            <a class="red" href="@(ViewBag.OldSiteUrl + "session/pwdassist.aspx")" target="blank">Forgot your password?</a>
        </p>
        <p>    
            <a class="red" href="@(ViewBag.OldSiteUrl + "/group/CompanySearchResults.aspx")">Looking for how to join?</a>&nbsp;<span>(You must be sponsored by an organization, such as your employer).</span>
        </p>
        <input type="hidden" id="elqCustomerGUID" value="" /> 
    </div>
}
