<%@ Control Language="C#" AutoEventWireup="true" Inherits="librarytoolbar" Codebehind="librarytoolbar.ascx.cs" %>
  
<div id="dhtmltooltip"></div>
<div class="ektronPageHeader">
    <div class="ektronTitlebar" id="divTitleBar" runat="server"></div>
    <div class="ektronToolbar" id="divToolBar" runat="server"></div>
</div>
