﻿body /* Common */
{
    line-height: 1.5;
    font-family: Arial;
    font-size: 12px;
}

a
{
    color:#235478;
    text-decoration:none;
}

ul.relationshipList 
{
    list-style-type: none;
    margin: 1em;
    padding-left: 0px;
}

li.relationship
{
    border:1px solid #C0C0C0;
    background-color:#CACACA !important;
    background: url('../images/serverSprites.gif');
    background-repeat: no-repeat;
}

li.relationship.download
{
    background-position:-60px -20px;
}

li.relationship.upload
{
    background-position:-40px -40px;
}

div.relationshipInfo
{
    background-color:transparent;
    border-color:#CACACA;
    border-style:solid;
    border-width:1px;
    margin:0;
    overflow:hidden;
    padding:0 0 0.25em 24px;
}

div.relationshipInfo ul 
{
    margin-left : 0px;
    padding-left: 0px;
    list-style-type: none;
}

div.relationshipInfo h5
{
    color: #1D5987;
    font-size: 1.2em;
    margin: 0px;
}

div.relationshipInfo li 
{
    margin-left : 0px;
    padding-left: 0px;
}

div.relationshipInfo ul li 
{
    font-size: 0.8em;
}

div.relationshipInfo ul li span.relationshipLabel
{
    font-weight: bold;
}

table.profileList 
{
    background-color:#FFFFFF;
    border:2px solid #BBDDF6;
    border-collapse:collapse;
    border-spacing:0;
    width:100%;
}

table.profileList th 
{
    background-color:#FFFFFF;
    border-color: #BBDDF6;
    border-style:solid;
    border-width:0 1px 1px;
    font-family:Arial,Verdana,Sans-Serif;
    font-size:12px;
    font-weight:normal;
    padding:0.25em;
    text-align:left;
    background:none repeat scroll 0 0 #D5E7F4;
    color:#555555;
}

table.profileList td
{
    background-color:#FFFFFF;
    border-color: #BBDDF6;
    border-style:solid;
    border-width:0 1px 1px;
    font-family:Arial,Verdana,Sans-Serif;
    font-size:12px;
    font-weight:normal;
    padding:0.25em;
    text-align:left;
}

li.relationship div.syncButtons
{
    float: right;
}

div.syncButtons a
{
    background: url('../images/syncSprites.gif');
    display: block;
    float:left;
    width: 20px;
    height: 20px;
    border: 1px solid Transparent;
    background-repeat:no-repeat; 
}

div.syncButtons a.addButton
{
    background-position:-280px -160px;
    background-repeat:no-repeat;    
}

div.syncButtons a.addButton:hover
{
    background-color: #E6EFC2 !important;
    border: 1px solid #C6D880 !important;
    color: #529214 !important;
}

div.syncButtons a.syncButton
{
    background-position:-40px -400px;
}

div.syncButtons a.syncButton:hover
{
    background-color: #E6EFC2 !important;
    border: 1px solid #C6D880 !important;
    color: #529214 !important;
}

div.syncButtons a.statusButton
{
    background-position:-440px 0;
}

div.syncButtons a.statusButton:hover
{
    background-color:#DFF4FF !important;
    border:1px solid #C2E1EF !important;
    color:#336699 !important;
}

div.syncButtons a.restoreButton
{
    background-image: url('../../images/ui/icons/restore.png') !important;
    background-position: center center;
}

div.syncButtons a.restoreButton:hover
{
    background-color:#DFF4FF !important;
    border:1px solid #C2E1EF !important;
    color:#336699 !important;
}

div.syncButtons a.previewButton
{
    background-position:-420px -20px;   
}

div.syncButtons a.previewButton:hover
{
    background-color:#DFF4FF !important;
    border:1px solid #C2E1EF !important;
    color:#336699 !important;
}

div.syncButtons a.toggleScheduleButton.pause
{
    background: url('../images/controlPauseBlue.png') !important;
    background-repeat:no-repeat !important;
    background-position: center center !important;
}

div.syncButtons a.toggleScheduleButton.resume
{
    background: url('../images/controlPlayBlue.png') !important;
    background-repeat:no-repeat !important;
    background-position: center center !important;
}

div.syncButtons a.toggleScheduleButton:hover
{
    background-color:#DFF4FF !important;
    border:1px solid #C2E1EF !important;
    color:#336699 !important;
}

div.syncButtons a.deleteButton
{
    background-position:-320px -120px;   
}

div.syncButtons a.forceSyncButton
{
	background-position: -20px -420px;
}

div.syncButtons a.deleteButton:hover{
    background-color:#FBE3E4 !important;
    border:1px solid #FBC2C4 !important;
    color:#D12F19 !important;
}

p.nextRunTime
{
    color:#529214;
    margin-top:0px;
    margin-bottom: 0px;
}

td.profileButtons
{
    width: 120px;
}