﻿@using System.Web.Optimization


@section scripts
{
    @Scripts.Render( "~/bundles/create" )

    <script type="text/javascript">

        var model;
        $(document).on('click', 'img.challengeBadge', function () {

            $("img.challengeBadge").addClass('faded');
            $(this).removeClass('faded');

        });
        
        $( document ).ready( function() {
            
            model = new CreateChallengeModel();
            model.OnModelReady = bindUIAnimations;

            ko.applyBindings(model);
            
            if ( model.CategoryKey.length == 0 ) {
                $( "#wrapper" ).addClass( "wrapper-create" );
            }
            
            $("#tooltip").popover('toggle');
        } );

        function bindUIAnimations() {
            
            var badgeId = model.BadgeId();

            if (badgeId > 0) {
                var img = $("img.challengeBadge[badgeId=" + badgeId + "]").eq(0);
                $(img).removeClass('faded');
            }
            
            $(".challengeBadge").popover();
            $(".comingSoon").popover();
        }
    </script>

}
@section styles{
    <link rel="stylesheet" type="text/css" href="~/Content/styles/create-challenge.css">
}
<!--[if lte IE 8]>
    <style type="text/css">.popover-title{ display: none;}</style>
<![endif]-->
<div class="wrapper waitingContainer" style="display:none;" data-bind="visible: LoadError()">
    <p>
        We apologize, there was a problem loading this page.<br/> 
        You can <a href="javascript:window.location.reload();">click here to refresh the page</a> which may correct the problem. 
    </p>
</div>
<div class="wrapper waitingContainer" data-bind="visible: !Ready() && !LoadError()">
    <img src="/v2/Content/Images/Shared/spinner.gif"/>
</div> 
<div class="createBackground">
    <div class="createChallWrapper" style="display:none;" data-bind="visible: Ready()">
        <input type="hidden" data-bind="value: Content().ErrorGettingContent" id="hdnErrorGettingContent" />
        <input type="hidden" data-bind="value: Content().ErrorSavingChallenge" id="hdnErrorSavingChallenge" />

        <div class="mainContent" data-bind="visible: Ready()">
            <div class="centerTitle">
                <h1 class="centerAlign" data-bind="text: Content().CreateYourOwnChallenge"></h1>
            </div>

            <div class="section">
                <label class="question" data-bind="html: Content().WhatIsTheQuestion"></label>
                <input type="text" name="txtQuestion" class="questionTextBox grayWatermark" placeholder="" data-bind="value: Question, attr: { placeholder: Content().QuestionPlaceholder }" value="" />
            </div>
            <div class="section">
                <label class="question" data-bind="html: Content().WhatIsTheAnswer"></label>
                <div>
                    <img id="imgTargAnsCheckYNO" src="/Challenge/Content/images/Challenges/check-mark-lg.png" class="radioCheck radioCheckTarget" data-bind="visible: AnswerType()=='YNO'" />
                    <input type="radio" name="rdoTargetAnswer" id="rdoTargetYes" data-bind="click: ClearTarget(), checked: AnswerType" value="YNO" /><label class="help-inline" for="rdoTargetYes" data-bind="    text: Content().YesNo"></label>
                    <img id="imgTargAnsCheckNUM" src="/Challenge/Content/images/Challenges/check-mark-lg.png" class="radioCheck radioCheckTarget" data-bind="visible: AnswerType()=='NUM'" />
                    <input type="radio" name="rdoTargetAnswer" id="rdoTargetNumber" data-bind="checked: AnswerType" value="NUM" /><label class="help-inline" for="rdoTargetNumber" data-bind="    text: Content().ANumber"></label>
                    <div style="margin-left: 87px;" data-bind="visible: AnswerType() == 'NUM'">
                        <img id="imgTargOptCheckMORE" src="/Challenge/Content/images/Challenges/check-mark-lg.png" class="radioCheck radioCheckML" data-bind="visible: MoreLess()=='more'" />
                        <input type="radio" name="rdoTargetOptional" data-bind="checked: MoreLess" id="rdoOptMore" value="more" /><label class="help-inline" for="rdoOptMore" data-bind="    text: Content().MoreThan"></label>
                        <img id="imgTargOptCheckLESS" src="/Challenge/Content/images/Challenges/check-mark-lg.png" class="radioCheck radioCheckML" data-bind="visible: MoreLess()=='less'" />
                        <input type="radio" name="rdoTargetOptional" data-bind="checked: MoreLess" id="rdoOptLess" value="less" /><label class="help-inline" for="rdoOptLess" data-bind="    text: Content().LessThan"></label>
                        <input type="text" name="txtOptionalTarget" data-bind="value: Target" class="optionalTextBox" onkeypress="javascript: return onKeyPressOnlyNum(event)" value="" />
                        <img id="tooltip" alt="what is this" src="/v2/Content/Images/Challenges/icon_help.gif" style="height: 14px; width: 14px;cursor: pointer" data-bind="attr: { 'data-content': Content().AnswerToolTip }" data-toggle="popover" data-placement="top" data-content="" data-trigger="hover" />
                    </div>

                </div>
            </div>

            <div class="section">
                <label class="question" data-bind="html: Content().HowLongIsYourChallenge"></label>
                <div>
                    <img id="imgDurCheckONEDAY" src="/Challenge/Content/images/Challenges/check-mark-lg.png" class="radioCheck radioCheckDUR" data-bind="visible: Duration()=='oneDay'" />
                    <input type="radio" name="rdoDuration" id="rdoOneDay" value="oneDay" data-bind="checked: Duration" /><label class="help-inline" for="rdoOneDay" data-bind="text: '2 ' + Content().Day"></label>
                    <img id="imgDurCheckONEWEEK" src="/Challenge/Content/images/Challenges/check-mark-lg.png" class="radioCheck radioCheckDUR" data-bind="visible: Duration() == 'oneWeek'" />
                    <input type="radio" name="rdoDuration" id="rdoOneWeek" value="oneWeek" data-bind="checked: Duration" /><label class="help-inline" for="rdoOneWeek" data-bind="text: '1 ' + Content().Week"></label>
                    <img id="imgDurCheckTWOWEEK" src="/Challenge/Content/images/Challenges/check-mark-lg.png" class="radioCheck radioCheckDUR" data-bind="visible: Duration() == 'twoWeek'" />
                    <input type="radio" name="rdoDuration" id="rdoTwoWeeks" value="twoWeek" data-bind="checked: Duration" /><label class="help-inline comingSoon" for="rdoTwoWeeks" data-bind="text: '2 ' + Content().Weeks"></label>
                    <img id="imgDurCheckONEMONTH" src="/Challenge/Content/images/Challenges/check-mark-lg.png" class="radioCheck radioCheckDUR" data-bind="visible: Duration() == 'oneMonth'" />
                    <input type="radio" name="rdoDuration" id="rdoOneMonth" value="oneMonth" data-bind="checked: Duration" /><label class="help-inline comingSoon" for="rdoOneMonth" data-bind="text: '1 ' + Content().Month"></label>
                </div>
            </div>

            <div class="section">
                <div>
                    <label class="question" data-bind="text: Content().BadgeForParticipating"></label>
                    <div style="margin-top: 10px;" data-bind="foreach: Badges">
                        <img style="width: 50px;" class="challengeBadge faded" data-bind="click: $parent.SetSelectedBadge, attr: { badgeId: BadgeID, src: BadgeImageString + '.png', 'data-content': BadgeName }" src="" data-toggle="popover" data-placement="top" data-content="" data-trigger="hover" />
                    </div>
                </div>
            </div>

            <div class="section">
                <label class="question" data-bind="html: CategoryKey.length > 0 ? Content().AnyDetails : Content().AnyDetailsNotPrefilled"></label>
                <textarea rows="8" style="resize: none;" class="detailsTextArea" data-bind="value: Details, attr: { placeholder: Content().AnyRules }"></textarea>
            </div>
            <div class="ui-state-error" data-bind="visible: ValidationErrors().length > 0">
                <ul data-bind="foreach: ValidationErrors">
                    <li data-bind="text: Description"></li>
                </ul>
            </div>
            <div class="section">
                <div style="text-align: center;">
                    <input type="button" class="btn" id="btnOnlyForMe" data-bind="click: SaveChallenge, attr: { value: Content().JustForMe }" />
                    <label data-bind="html: Content().Or"></label>
                    <input type="button" class="btn btn-main" id="btnInviteFriends" data-bind="click: SaveAndSendInvites, attr: { value: Content().InviteFriends }" />

                    <a style="margin-top: 20px; display: block;" href="javascript:history.back();" data-bind="text: Content().GoBack"></a>
                </div>
            </div>
        </div>
    </div>
</div>
