﻿@{
    Layout = "~/Views/Shared/_layoutIndex.cshtml"; 
}
<input type="hidden" id="data-save-answer" value="" />
<div id="main-content">
    <div class="wrapper waitingContainer" style="display: none;" data-bind="visible: LoadError()">
        <p>
            We apologize, there was a problem loading this page.<br />
            You can <a href="javascript:window.location.reload();">click here to refresh the page</a>
            which may correct the problem.
        </p>
    </div>
    <div class="wrapper waitingContainer" data-bind="visible: Ready() == false && !LoadError()">
        <img src="/v2/Content/Images/Shared/spinner.gif" />
    </div>
    <div class="wrapper" style="display: none;" data-bind="visible: Ready()">
        <div class="row-index">
            <div class="challengeInfoContainer">
                <h2 data-bind="text: Content().ChallengeDetails" class="black-header-index">
                </h2>
                <div class="challengeInfo" data-bind="html: $data.Challenge().RulesCopy">
                </div>
            </div>
            <div class="trackerAnswerContainer">
                <div style="clear: both;">
                    <div class="challengeDates">
                        <span class="bold" data-bind="text: Content().ChallengeRuns"></span>&nbsp;<span data-bind="html: StartDate">
                                                                                            </span>- <span data-bind="html: EndDate"></span>
                    </div>
                    <div class="challengeTarget" data-bind="visible: AnswerType() == 'NUM'">
                        <span class="bold" data-bind="html: Content().ChallengeTarget"></span>&nbsp;<span data-bind="html: UseGreaterThan() ? Content().MoreThan : Content().LessThan">
                                                                                              </span>&nbsp;<span data-bind="text: Target()"></span>
                    </div> 
                </div>
                <span class="pull-left" style="margin-top: 10px;" data-bind="html: Content().EarnThisForTracking">
                </span>
                <img class="pull-left" style="height: 50px; width: 50px; margin: -5px 10px 0" data-bind="attr: { src: BadgeFileName }"
                     src="" />
                <label class="pull-left bold red" style="margin-top: 10px" data-bind="text: BadgeDescription()">
                </label>
                <div style="clear: both; padding-top: 20px;" class="nav nav-pills active" data-bind="visible: IsChallengeRunning ">
                    <div class="active">
                        <a href="#" class="btn btn-info" data-bind="attr: { href: 'invite/' + ChallengeId }, text: OwnerType()=='CRP' ? 'Tell A Friend' : 'Invite More'">
                            Invite more
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="message-label"  data-bind="visible: UploadDeadlinePassed"><span class="challenge-ended-text">"Tracking for this challenge has ended"</span></div>
        <div class="row scoreContainer" style="margin-left: -30px !important; position: relative;">
            <div class="ui-state-error alert" data-bind="visible: ValidationErrors().length > 0">
                <button type="button" class="close" data-bind="click: $data.ClearErrors">
                    &times;</button>
                <div data-bind="foreach: ValidationErrors">
                    <div data-bind="text: Description">
                    </div>
                </div>
            </div>
            
            <div class="scoreContainerRow yesRow" style="float: left; width: 850px; height: 280px;">
                   <div style="width: 500px; float: left; height: 100%;">
                    <h1 class="kagQuestion" data-bind="html: ChallengeQuestion" style="width: 450px;">
                    </h1>
                    <div id="answer-YNO-boxes" data-bind="visible: AnswerType() == 'YNO'">
                        <div class="answer-description" style="float: left; bottom: 0px; width: 85%; margin-top: 15px;">
                            <span class="instruction-msg">(Click on a box to make a selection) </span>
                            <span class="date-of-answer-boxes" style="float: right; width: auto;"  data-bind="visible: (FrequencyType() != 'Once')"></span>
                        </div>
                        <div id="YES-box" class="YES-box" onclick="saveAnswerYesNo('YES')">
                            <i id="YES-icon" class="icon-ok" style="font-size: 140px; line-height: 190px"></i>
                        </div>
                        <div id="NO-box" class="NO-box" onclick="saveAnswerYesNo('NO')">
                            <i id="NO-icon" class="icon-remove" style="font-size: 140px; line-height: 190px">
                            </i>
                        </div> 
                    </div>
                    <div  data-bind="visible: AnswerType() == 'NUM'">
                        <div id="answer-NUM-input" class="answer-description" style=" width: 70%; ">
                            <span class="instruction-msg">(Enter your answer below) </span>
                            <span class="date-of-answer-boxes" style="float: right; width: auto;" data-bind="visible: (FrequencyType() != 'Once')" ></span>
                        </div>
                        <div class="blue-wrapper-num-input">
                            <input class="rangeNumber-big-input" maxlength="4" onkeypress="javascript: return onKeyPressOnlyNum(event)" />
                            <input type="button" class="AL-button btn yellow-button" id="Challenges-btnSave"value="Track It!" onclick="saveInputAnswer()">
                        </div>
                    </div>
                </div>
                <div class="row date-scroller" data-bind="visible: TrackedDays().length > 7 && FrequencyType() != 'Once'">
                    <i class="icon-chevron-up navButton" style="position:absolute;font-size: 20px; color:#626a73; " data-bind="click:  ScrollLeft, visible:  DisplayMin() > 0">
                    </i>
                </div>
                
                <div style="float: left; width: 350px; height: 280px; margin-top: 15px;" data-bind="foreach: TrackedDays">
                    <ul style="height: 30px;" data-bind=" visible: Index >= $parent.DisplayMin() && Index < $parent.DisplayMax() , attr: { 'class': 'tracked-day-row '+ ( IsTodayFunc() ? 'tracked-day-row selected-date-background' : '') + ( IsEditable() ? '' : ' disabled') }  ">
                        <li>
                            <label class="date-label" data-bind="click: prepareSaveAnswerPost, text: Day, visible: $parent.FrequencyType() != 'Once' , attr: { 'class': 'date-label' + (IsEditable() ? '' : ' disabled') }"
                                   class="kagDates">
                            </label>
                            <label class="date-label" data-bind=" click: prepareSaveAnswerPost,  text: 'YOUR ANSWER:', visible: $parent.FrequencyType() == 'Once' , attr: { 'class': 'date-label clicked' + (IsEditable() ? '' : ' disabled') }"
                                   class="kagDates">
                            </label>
                        </li>
                        <li data-bind="selectCurrentDate: IsToday " class="checkbox-number-input">
                            <div class="checkbox" disabled="disabled" data-bind="click: SaveAnswer,  visible: $parent.AnswerType() == 'YNO'">
                            </div>
                            <div data-bind="  visible: $parent.AnswerType() == 'YNO'">
                                <i data-bind="visible: (Answer() === 0 || Answer() == '0') " class="icon-ok" style="color: green;
                                 font-size: 30px;"></i><i data-bind="visible: Answer() == 1 " class="icon-remove"
                                                          style="color: gray; font-size: 30px;"></i>
                            </div>
                            <div class="inline" data-bind=" visible: $parent.AnswerType() == 'NUM'">
                                <input class="rangeNumber" type="text" data-bind="value: Answer, event: { change: SaveAnswer, keypress: Validate }, keypressBubble: false"
                                       style="display: none;" readonly />
                                <div class="answer-display" data-bind="html: Answer , attr: {'class': 'answer-display' + (HitTarget() ? ' target-reached' : ' target-not-reached') }">
                                </div>
                            </div>
                        </li>
                        @*<i id="edit-icon-pencil" class="icon-pencil" style="float:right; font-size:20px; display:none; margin-right:10px; margin-top:5px" data-bind="visible: $parent.FrequencyType() == 'Once'"></i>*@
                    </ul>
                </div>
                <div class="row date-scroller" data-bind="visible: TrackedDays().length > 7 && FrequencyType() != 'Once'" style="top: 380px;">
                <i class="icon-chevron-down navButton" style="position:absolute; bottom:45px; font-size: 20px; color:#626a73; " data-bind="click:  ScrollRight, visible:  DisplayMax() <  TrackedDays().length">
                </i></div>
            </div>
        </div>
        <div class="row kagBottom">
            <div class="span4 rankContainer" data-bind="visible: ShowLeaderBoard()">
                <!--MY RANK-->
                <div class="rank kagBottomContent">
                    <h3 class="subHeader-index">
                        My Rank
                    </h3>
                    <div>
                        <h2 class="pull-left rankNumber" data-bind="text: Rank, visible: Rank().length > 0"></h2>
                        <img class="rankImage pull-left" data-bind="attr:{src: MemberImage()}" src="" alt="" />
                        <span class="bold lightGrey">Me:&nbsp;</span><span class="lightGrey" data-bind="text: TrackedDaysCount() + ' ' + Content().TrackedDays"></span>
                    </div>
                </div>
                <!--LEADER BOARD-->
                <div class="leaderBoard kagBottomContent" style="clear: both; padding-left: 0px;">
                    <h3 class="subHeader-index">
                        Leaderboard
                    </h3>
                    <ul data-bind="foreach: ChallengeMembers" class="leaderboardRanks">
                        <li>
                            <h2 class="pull-left rankNumber" data-bind="text: Rank"></h2>
                            <img data-bind="attr:{src: ProfilePicUrl }" class="rankImage pull-left" src="" alt="" />
                            <span data-bind="html: MemberName +':'" class="bold lightGrey"></span>&nbsp;<span class="lightGrey"
                                                                                                              data-bind="text: Score + ($parent.AnswerType() == 'YNO' ? (' ' + $parent.Content().TrackedDays) : '') ">
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="kagBottomContent">
                    <label class="dropdownAppendText">
                        Show
                    </label>
                    <select id="pageSelect" data-bind="options: PageSizes,
                                                        value: SelectedPageSize,
                                                        event: { change: LoadLeaderBoard },
                                                        changeBubble: false"></select>
                    <label class="dropdownAppendText">
                        players
                    </label>
                </div>
            </div>
            <!--CHAT BOARD-->
            <div class="span4 chatContainer" data-bind="visible: ShowChat()">
                <img style="height: 50px; width: 50px; display: none;" data-bind="attr:{src: MemberImage} " />
                <div class="chatTitle">
                    <h3 class="subHeader-index" style="float: left; width: 335px">
                        <img alt="" src="/challenge/Content/Images/Challenges/chat-icon.png" class="pull-left chatIcon" />
                        Chat
                    </h3>
                </div>
                <div style="margin-top: 120px;">
                    <ul id="chatList" data-bind="foreach: Messages, sortable: Messages">
                        <li>
                            <div class="messageItem">
                                <div data-bind="text: FilteredMessageText" class="message img-rounded">
                                </div>
                                <img alt="" class="callout" src="/challenge/Content/images/challenges/chat-arrow.png" />
                                <div class="chatInfo">
                                    <label class="pull-right chatDate lbl" data-bind="text: CreatedDateString">
                                    </label>
                                    <label class="chatName" data-bind="html: NickName">
                                    </label>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="addPost">
                    <textarea data-bind="value: Post, event :{ keypress: AllowTyping}, attr:{placeholder: Content().ChatPlaceholder}, valueUpdate: 'afterkeydown'"
                              placeholder="" style="resize: none; width: 100%" class="chatBox" id="newMessage"
                              cols="51" rows="3"></textarea>
                    <input type="button" class="btn btn-main pull-right postButton" data-bind="click: addMessage"
                           value="Post" />
                    <label style="padding: 5px; margin-top: 2px;" class="textMediumSecondary pull-right"
                           data-bind="text: PostLength" id="remainingCharacters">
                    </label>
                    <a href="#keepItClean" class="pull-left tertiary chatLink" data-toggle="modal" role="button">
                        Keep it clean!
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="keepItClean" class="modal fade" tabindex="-1" aria-hidden="true" aria-hidden="true">
        <div class="modal-body" data-bind="html: Content().Exer_PleaseRememberKeep + '<a href=/secure/help/contactusform.aspx>' + Content().ContactUs + '</a>'">
        </div>
        <div class="modal-footer">
            <a type="button" class="btn btn-main" data-dismiss="modal" aria-hidden="true">Close</a>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var cId = parseInt(window.location.href.substring(window.location.href.lastIndexOf('/') + 1)).toString();
            var model = new ChallengeModel(cId);
            ko.applyBindings(model);
        });
    </script>
    <script type="text/javascript">
        var fby = fby || [];
        fby.push(['showTab', { id: '5076', position: 'right', color: '#666666'}]);
        (function () {
            var f = document.createElement('script'); f.type = 'text/javascript'; f.async = true;
            f.src = '//cdn.feedbackify.com/f.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(f, s);
        })();

    </script>
}
