﻿@using System.Web.Optimization
@using Vhm.Web.Models.ViewModels.Social

@section styles{
    <link rel="stylesheet" type="text/css" href="~/Content/styles/invite-challenge.css">
}
<div class="alert" data-bind="visible: ModelError().length > 0">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span data-bind="text: ModelError()"></span>
</div>
<input type="hidden" data-bind="value: Content().ErrorGettingContent" id="hdnErrorGettingContent" />
<div class="centerTitle font-effect-destruction">
    <h1 class="centerAlign" data-bind="text: Content().CreateYourOwnChallenge"></h1>
    <h2 class="centerAlign lightGrey" style="margin-left:37px;" data-bind="text: OwnerType() == 'CRP' ? 'Tell A Friend' : Content().WhoToInvite"></h2>
</div>
<div class="wrapper waitingContainer" data-bind="visible: LoadError()" style="display:none;">
    <p>
        We apologize, there was a problem loading this page.<br/> 
        You can <a href="javascript:window.location.reload();">click here to refresh the page</a> which may correct the problem. 
    </p>
</div>
<div class="wrapper waitingContainer" data-bind="visible: !Ready() && !LoadError()">
    <img src="/v2/Content/Images/Shared/spinner.gif" data-bind="visible: ModelError().length == 0"/>
</div> 
<div style="display: none;padding-top:40px;" data-bind="visible: Ready">
    <!--TAB NAVIGATION-->
    <ul class="nav nav-tabs">
	    <li class="tab-item active in"><!--FRIENDS-->
	        <a onclick="_gaq.push(['_trackEvent', 'Personal Tracking Challenges', '&quot;' + 'Invite' + '&quot;', '&quot;' + 'Friends' + '&quot;']);"
                href="#friends" data-toggle="tab" data-bind="text: Content().Friends"></a><span class="caret"></span>
	    </li>
        <li class="tab-item"><!--GROUPS-->
            <a onclick="_gaq.push(['_trackEvent', 'Personal Tracking Challenges', '&quot;' + 'Invite' + '&quot;', '&quot;' + 'Groups' + '&quot;']);"
                href="#groups" data-toggle="tab" data-bind="text: Content().Groups"></a><span class="caret"></span>
        </li>
        <li class="tab-item"><!--WRITE IN-->
            <a onclick="_gaq.push(['_trackEvent', 'Personal Tracking Challenges', '&quot;' + 'Invite' + '&quot;', '&quot;' + 'Write In' + '&quot;']);"
                href="#writeIn" data-toggle="tab" data-bind="text: Content().WriteIn"></a><span class="caret"></span>
        </li>
        <li class="tab-item"><!--IMPORT NEW LIST-->
            <a onclick="_gaq.push(['_trackEvent', 'Personal Tracking Challenges', '&quot;' + 'Invite' + '&quot;', '&quot;' + 'Import New List' + '&quot;']);"
                href="#importNew" data-toggle="tab" data-bind="text: Content().ImportNewList"></a><span class="caret"></span>
        </li>
        <li class="tab-item"><!--IMPORT LAST LIST-->
            <a onclick="_gaq.push(['_trackEvent', 'Personal Tracking Challenges', '&quot;' + 'Invite' + '&quot;', '&quot;' + 'Import Last List' + '&quot;']);"
                href="#importLast" data-toggle="tab" data-bind="text: Content().ImportLastList"></a><span class="caret"></span>
        </li>
    </ul>
    <!--TAB PANES-->
    <div class="well tab-content inviteContent">
        <!--FRIENDS-->
        <div id="friends" class="tab-pane active">
            <div>
                <div class="row input-append pull-left hidden">
                    <input type="text" id="filterVal" placeholder="" data-bind="valueUpdate:'afterkeydown', value: FilterVal, event: { keyup: Filter }, attr: { placeholder: 'Filter' }" />
                </div>
                <label for="selectAll" class="pull-right" data-bind="text: Content().SelectAll"></label>
                <input id="selectAll" type="checkbox" data-bind="event: { click: ToggleSelectAllFriends }, checked: SelectAll" class="pull-right"/>
                <input type="hidden" value="false" data-bind="value: SelectAll"/>
            </div>
            <div id="friendContainer" class="friendContainer" style="overflow: auto">
                <ul id="friendList" data-bind="foreach: Friends" style="max-height: 230px;">
                    <li data-bind="visible: Visible">
                        <input type="checkbox" data-bind=" checked: Selected, attr: { mId: MemberId }"/>
                        <img class="inviteProfileImage" src="" data-bind="attr: { src: ImageUrl }"/>
                        <span class="bold displayName" data-bind="text: DisplayName"></span>
                        <input type="hidden" name="MemberID" data-bind="value: MemberId"/>
                        <input type="hidden" name="EmailAddress" data-bind="value: EmailAddress"/>
                    </li>
                </ul>
            </div>
            <button class="btn btn-block btnNextPage" data-bind="click: GetNextFriendsPage, text: Content().ShowMoreFriends"></button>
        </div>
        <!--GROUPS-->
        <div id="groups" class="tab-pane fade">
            <p>Coming soon!</p>
        </div>
        <!--WRITE IN-->
        <div id="writeIn" class="tab-pane fade">
            <div class="row input-append">
                <input type="text" id="searchVal" placeholder="" data-bind="value: SearchVal, attr: { placeholder: Content().EmailAddress }" />
                <input type="button" class="btn btnRounded" data-bind="click: Search, value: Content().Go" />
                <label style="margin:5px;" class="label label-important" data-bind="visible: NotFound, text: Content().CouldNotFind + ' ' + SearchVal()"></label>
            </div>
            <div class="well writeInContainer">
                <input type="hidden" data-bind="value: ChallengeId" name="ChallengeId" />
                <ul id="writeInList" data-bind="foreach: WriteIns" style="max-height: 200px;">
                    <li>
                        <label class="label label-info inviteLabel" data-bind="attr: { mId: MemberId }">
                            <span data-bind="html: GetDisplayName()"></span>
                            <i class="icon-remove pull-right" data-bind="click: $parent.RemoveWriteIn"></i>
                        </label>
                        <input type="hidden" name="MemberID" data-bind="value: MemberId"/>
                        <input type="hidden" name="EmailAddress" data-bind="value: EmailAddress"/>
                    </li>
                </ul>
            </div>
        </div>
        <!--IMPORT NEW LIST-->
        <div id="importNew" class="tab-pane fade">
            <div class="row input-append" >
                <form id="newListForm" action="/Challenge/PersonalTracking/GetUploadInviteList" method="post" enctype="multipart/form-data">
                    <input type="file" id="newList" name="NewList"/>
                    <input id="submitNewImportList" type="submit" class="btn btnRounded" data-bind="click: Search, value: Content().Go" />
                </form>
            </div>
            <div style="padding: 12px 7px;">
                <img src="/v2/content/images/shared/csv_icon.png" />
                <a href="/v2/content/files/Template.csv" target="_blank" data-bind="text: Content().DownloadCsvTemplate"></a>
            </div>
            <div class="well writeInContainer">
                <input type="hidden" data-bind="value: ChallengeId" name="ChallengeId" />
                <ul id="importList" data-bind="foreach: NewList" style="max-height: 200px;">
                    <li>
                        <label class="label label-info inviteLabel" data-bind="attr: { mId: MemberId }">
                            <span data-bind="html: GetDisplayName()"></span>
                            <i class="icon-remove pull-right" data-bind="click: $parent.RemoveNewList"></i>
                        </label>
                        <input type="hidden" name="MemberID" data-bind="value: MemberId"/>
                        <input type="hidden" name="EmailAddress" data-bind="value: EmailAddress"/>
                    </li>
                </ul>
            </div>
        </div>
        <!--IMPORT LAST LIST-->
        <div id="importLast" class="tab-pane fade">
            <p>Coming soon!</p>
            <div class="row input-append" style="display: none;">
                <form id="existingListForm" method="post" enctype="multipart/form-data">
                    <input type="file" id="exisingList" name="NewList" />
                    <input type="button" class="btn btnRounded" data-bind="click: GetImportList, value: Content().Go" />
                </form>
            </div>
        </div>
    </div>
    <div class="buttonContainer">
        <input type="button" class="btn btn-main" data-bind="click: AddToInviteList, value: Content().AddSelected" value="" />
    </div>
    <!--INVITED LIST-->
    <form method="POST" action="../PersonalTracking/SendInvites" id="inviteForm">
        <div class="well inviteListContainer">
    
                <div>
                    <strong class="pull-left" data-bind="text: Content().MyInvitationList"></strong>
                    <a href="#" class="btn btn-link pull-right" data-bind="click: RemoveAllInvitees">Remove all</a>
                </div>
                <input type="hidden" data-bind="value: ChallengeId" name="ChallengeId" />
                <ul id="inviteList" data-bind="foreach: Invitees" style="max-height: 200px;">
                    <li>
                        <label class="label label-info inviteLabel" data-bind="attr: { mId: MemberId }">
                            <span data-bind="html: GetDisplayName()"></span>
                            <i class="icon-remove pull-right" data-bind="click: $parent.RemoveInvitee"></i>
                        </label>
                        <input type="hidden" name="MemberId" data-bind="value: MemberId"/>
                        <input type="hidden" name="EmailAddress" data-bind="value: EmailAddress"/>
                    </li>
                </ul>
    
        </div>
        <div class="buttonContainer">
            <input type="button" value="" class="btn btn-main pull-left" data-bind="value: Content().Back, click: function () { history.back(); }" />
            <input type="submit" class="btn btn-main pull-right" data-bind="value: OwnerType() == 'CRP' ? 'Tell A Friend' : Content().SendInvites, enable: Invitees().length > 0" value="" />
        </div>
        <input type="hidden" name="PostText" value="" data-bind="value: PostText" />
    </form>
    
</div>
<div style="clear:both;"></div> 
@section scripts
{
    @Scripts.Render("~/bundles/invite")
    <script type="text/javascript" src="/challenge/Scripts/jquery.form.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var cId = window.location.href.substring(window.location.href.lastIndexOf('/') + 1)

            var model = new InviteModel(cId);

            model.OnGetNextFriendPage = function () {

                var h = $("#friendContainer").get(0).scrollHeight;
                $("#friendContainer").animate({
                    scrollTop: h
                }, 'slow');
            };
            ko.applyBindings(model);

            $("#submitNewImportList").click(function () {
                $("#newListForm").ajaxSubmit(model.FileUploadOptions);
                return false;
            });
            
            $('#inviteForm').preventDoubleSubmission();
        });
        
        jQuery.fn.preventDoubleSubmission = function () {
            $(this).on('submit', function (e) {
                var $form = $(this);

                if ($form.data('submitted') === true) {
                    // Previously submitted - don't submit again
                    e.preventDefault();
                } else {
                    // Mark it so that the next submit can be ignored
                    $form.data('submitted', true);
                }
            });

            // Keep chainability
            return this;
        };
    </script>
    
}
