﻿@section scripts
{
    @Scripts.Render("~/bundles/join")

}
@{
    Layout = "~/Views/Shared/_layoutIndex.cshtml"; 
}

<link rel="stylesheet" type="text/css" href="~/Content/styles/join-challenge.css">
     <link rel="stylesheet" type="text/css" href="/styles/v3/tungstenV3.css" />

<div id="join-challenge" class="row-fluid">
	<ul class="nav nav-tabs" data-bind="foreach: categories">
		<li><a href="#" data-target="#join-carousel" data-bind="text: title, attr: { 'data-slide-to': $index }">
		</a><span class="caret"></span></li>
	</ul>
	<div class="well">
        <div class="wrapper waitingContainer" data-bind="visible: Ready() == false">
            <img src="/v2/Content/Images/Shared/spinner.gif" />
        </div>
		@*<div class="select-all"><a href="#">Select all</a></div>*@
        <h3 data-bind="visible: (categories().length ==  0  && Ready())" style="display: none;text-align: center;" >You’ve joined all the challenges currently available! Way to go! Check back soon for more.</h3>
		<div id="join-carousel" class="carousel slide" style="overflow:auto">
            <div class="carousel-inner" data-bind="foreach: categories"> 
                <div class="item" style="overflow:visible;">
                    <ul class="thumbnails" data-bind="foreach: challenges" style="overflow:visible">
                        <li class="span5" style="width:350px; margin-left: 0px; height:300px; min-height: 290px; margin-bottom: 25px;" data-bind="css: {alt: $index() % 2}">
                            <div class="thumbnail" style="overflow:visible">
                                <span class="challengequestion" data-bind="text: title"></span>
                                <div class="challengeDescriptionContentWrapper">
                                    <div class="challenge-members-number" >
                                        @*<span> Type </span><span> | </span><span>0 members</span><br/>*@
                                        <span data-bind="pluralize: { data: numPlayers, singular: 'member', plural: 'members' }"></span><br/>
                                    </div>
                                    
                                    <span style="margin-top:15px;" data-bind="text : question"></span>
                                    <p><a class="AL-button btn yellow-button" id="btn-join-single" data-bind="click: function(){ $('.' + 'challenge-radio-button-' +  $parent.title + $index()).click(); $('#btn-join').click(); } ">Join now!</a></p>
                                    <input type="radio" name="challengeSelected" data-bind="checked: Selected, click: $root.ClearSelected , attr: { 'class': 'challenge-radio-button-' + $parent.title + $index() }" style="display:none" />
                                </div>
                                <img data-bind="attr: { src: img }" style="height:100px;width:100px;margin-top:10px;" />
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
		</div>
        <p style="display:none;" data-bind="visible: categories().length > 0"><a class="btn btn-main" id="btn-join" data-bind="click: JoinChallenges">Join</a></p>
	</div>
	<p class="create-challenge">Don't see one you like? <a class="btn " style="width:200px;" href="/challenge/create">Create your own challenge</a></p>
</div>
