﻿@section scripts
{
    @Scripts.Render("~/bundles/select")
    
    <script type="text/javascript">
        
    </script>
}
@section styles
{
<link rel="stylesheet" type="text/css" href="~/Content/styles/select-challenge.css">    
}
<div class="wrapper waitingContainer" data-bind="visible: LoadError()" style="display:none;">
    <p>
        We apologize, there was a problem loading this page.<br/> 
        You can <a href="javascript:window.location.reload();">click here to refresh the page</a> which may correct the problem. 
    </p>
</div>
<div class="wrapper waitingContainer" data-bind="visible: !Ready() && !LoadError()">
    <img src="/v2/Content/Images/Shared/spinner.gif"/>
</div> 
<div class="row" style="display:none;" data-bind="visible: Ready()">
    <div class="centerTitle">
        <h1 class="centerAlign" data-i18n="ChallengesPages.Select.CreateChallengeTitle">Create a Challenge</h1>
    </div>
    <div class="well" style="margin-bottom:20px;">
        <div class="span4">
            <h2 data-i18n="ChallengesPages.Select.Activity">Activity</h2>
            <hr/>
            <ul class="iconList" data-bind="foreach: ActivityBadges">
                <li>
                    <img data-bind="attr: { src: '/challenge/content/images/activity/' + BadgeImageString }" src=""/>
                    <a href="" onclick="_gaq.push(['_trackEvent', 'Personal Tracking Challenges', '&quot;' + $(this).attr('category') + '&quot;', '&quot;' + $(this).attr('description') + '&quot;']);" 
                       class="badgeDesc" category="" description="" data-bind="text: BadgeDescription, attr: { href: Link, category: BadgeCategoryCode, description: BadgeDescription }"></a>
                </li>
            </ul>
        </div>
        <div class="span4 borderUnderline">
            <h2 data-i18n="ChallengesPages.Select.Nutrition">Nutrition</h2>
            <hr/>
            <ul class="iconList" data-bind="foreach: NutritionBadges">
                <li>
                    <img data-bind="attr: { src: '/challenge/content/images/nutrition/' + BadgeImageString }" src=""/>
                    <a href="" onclick="_gaq.push(['_trackEvent', 'Personal Tracking Challenges', '&quot;' + $(this).attr('category') + '&quot;', '&quot;' + $(this).attr('description') + '&quot;']);" 
                       class="badgeDesc" category="" description="" data-bind="text: BadgeDescription, attr: { href: Link, category: BadgeCategoryCode, description: BadgeDescription }"></a>
                </li>                
            </ul>
            
        </div>
        <div class="span4">
            <h2 data-i18n="ChallengesPages.Select.Wellbeing">Wellbeing</h2>
            <hr/>
            <ul class="iconList" data-bind="foreach: WellBeingBadges">
                <li>
                    <img data-bind="attr: { src: '/challenge/content/images/well_being/' + BadgeImageString }" src=""/>
                    <a href="" onclick="_gaq.push(['_trackEvent', 'Personal Tracking Challenges', '&quot;' + $(this).attr('category') + '&quot;', '&quot;' + $(this).attr('description') + '&quot;']);"
                       class="badgeDesc" category="" description="" data-bind="text: BadgeDescription, attr: { href: Link, category: BadgeCategoryCode, description: BadgeDescription }"></a>
                </li>
            </ul>
        </div>
    </div>
    <hr style="clear:both;"/>
    <div>
        <label class="SeeOneYouLike lbl pull-left" data-i18n="ChallengesPages.Select.DontSeeOneYouLike">Don't see one you like?</label>
        <a href="/secure/challenge/create.aspx" class="btn" data-i18n="ChallengesPages.Select.CreateDeviceChallenge">Create a device challenge</a>
        <a href="create" data-bind="attr: { href: 'create/' + ChallengeTypeId }" class="btn" data-i18n="ChallengesPages.Select.CreateQuestionChallenge">Create a question challenge</a>
    </div>
</div>
