﻿
<div id="divBadgeInfo" class="VHMPop_badgeInfoPopUp">
    <div class="VHMPop_bInfoPop_Left" >
        <div id="badgeImage" style="clear:both; padding:0; margin:0; width:96px;position:relative; text-align:center; padding:0 7px 0 7px;">
            <img border="0" width="96px" vlc_name="vlcPop_badgeImg" style="position:relative;"/>
            <span vlc_name="VintageStamp" style="position:absolute; top:75px; left:0; width:100%;color:White; font-size:12px; font-weight:bold;"></span>
        </div>
        <div id="divBadgeLikes" vlc_name="divBadgeLikes" class="VHMPop_FeedBack"></div>
        <div id="divAvrRating" vlc_name="divAvrRating" class="VHMPop_Rating"></div><br />
        <div id="divYourRating" vlc_name="divYourRating" ></div>
    </div>
    <div class="VHMPop_bInfoPop_Right">
        <span class="VHMPop_badgeName" vlc_name="vlcPop_badgeName"></span><br /><br />
        <span class="VHMPop_sectName" vlc_name="vlcPop_CatTitle">Category: </span> <span class="VHMPop_sectContent" vlc_name="vlcPop_BadgeCateg" ></span><br /><br />
        <div vlc_name="vlcPop_DateEarned"></div><br />
        <span class="VHMPop_smallName" vlc_name="vlcPop_DescrName"></span> <span vlc_name="vlcPop_BadgeDescr"></span><br /><br />
        <div vlc_name="vlcPop_FrWithBadge"></div><br />
        <span class="VHMPop_smallName">Exclusivity: </span><span vlc_name="vlcPop_Exclusiv"></span><br /><br />
        <div vlc_name="vlcPop_AddAsFav"><a vlc_name="hrefAddFav" class="UserFullName">Add this badge to my top 5</a></div>
        <div vlc_name="vlcPop_TopFiveFav" style="display:none;"><p>This badge has been added to your top 5</p></div>
    </div>
</div>