﻿@using System.Web.Optimization
@model Vhm.Web.Models.ViewModels.Challenges.KAGCompleteVM
@Styles.Render("~/Content/sec")
<div>
    @{
    var RESPONSE_TYPE_YN = 2;
    var SEC_TASK_TYPE_WEIGHT = "WGT";
    var FREQ_TYPE_WEEKLY = "3";
    var TRACKING_TIME_SPAN_DAYS = "Days";
    var TRACKING_TIME_SPAN_WEEKS = "Weeks";
    var format = Model.IsCashReward ? "C0" : "N0";
    var cashMargin = Model.IsCashReward ? "15px" : "5px";
    }
    
    <div id="completedRewardsEarned" style="margin-bottom: 30px">
        @if (!string.IsNullOrEmpty(Model.RewardImage)) {           
            <img id="SECCompletedRewardImg" src="@(Model.RewardImageUrl + Model.RewardImage + "_on.gif")" alt="" />
        }
        @if (Model.RewardAmount > 0)
        {
            <div id="SECCompletedRewardAmt" style="margin-top: @cashMargin">@Model.RewardAmount.ToString( format )</div>
        }
        @if (!string.IsNullOrEmpty(Model.BadgeImage))
        {
            <div class="plus">+</div>
        }
        @if (!string.IsNullOrEmpty(Model.BadgeImage))
        {
            <img id="SECCompletedBadge" src="@Model.BadgeImage" alt="" />
        }
    </div>
    <div id="completedStats">
        <table id="trackerStats">
            <thead>
                <tr>
                    <th></th>
                    <th>YOU</th>
                    @if (Model.ShowOthers)
                    {
                        <th class="others">OTHERS</th>
                    }
                </tr>
            </thead>
            @if (Model.ShowAverage && Model.ResponseType!=RESPONSE_TYPE_YN)
            {
                <tr id="trSecAverage">
                    <td class="borderUnderline">
                        Average per day
                    </td>
                    <td class="borderUnderline" id="CompletedPersonalAverage">@Model.PersonalAverage</td>
                    @if ( Model.ShowOthers )
                    {
                        <td class="borderUnderline others" id="CompletedChallengeAverage">@Model.ChallengeAverage</td>
                    }
                </tr>
            }
            @if (Model.ShowDaysTracked)
            {
                <tr id="trDaysTracked">
                    @{ 
                        var TrackingType = Model.TrackingTimeSpan == 3 ? TRACKING_TIME_SPAN_WEEKS : TRACKING_TIME_SPAN_DAYS;
                    }
                    <td class="borderUnderline">
                        <span class="spanText daysTracked">@TrackingType Tracked (of @Model.TotalTrackableDays)</span>
                    </td>
                    <td class="borderUnderline" id="CompletedPersonalDaysTracked">@Model.PersonalDaysTracked</td>
                    @if ( Model.ShowOthers )
                    {
                        <td class="borderUnderline others" id="CompletedChallengeDaysTracked">@Model.ChallengeDaysTracked</td>
                    }
                </tr>
            }
            @if (Model.ShowTargetDays && Model.ResponseType != RESPONSE_TYPE_YN)
            {
                <tr id="trTargetDays">
                    <td class="borderUnderline">
                        <span class="spanText">Good Days</span>
                        <img src="/images/SelfEntryChallenge/good.png" style="margin-left: 10px;" />
                    </td>
                    <td class="borderUnderline" id="CompletedPersonalTargetDays">@Model.PersonalTargetDays
                    </td>
                    @if ( Model.ShowOthers )
                    {
                        <td class="borderUnderline others" id="CompletedChallengeTargetDays">@Model.ChallengeTargetDays</td>
                    }
                </tr>
            }
            @if (Model.ShowStretchDays && Model.ResponseType != RESPONSE_TYPE_YN)
            {
                <tr id="trStretchDays">
                    <td>
                        <span class="spanText">Top Notch Days</span>
                        <img src="/images/SelfEntryChallenge/top-notch.png" style="margin-left: 10px;" />
                    </td>
                    <td id="CompletedPersonalStretchDays">@Model.PersonalStretchDays
                    </td>
                    @if ( Model.ShowOthers )
                    {
                        <td id="CompletedChallengeStretchDays" class="others">@Model.ChallengeStretchDays</td>
                    }
                </tr>
            }
            @if (Model.ShowYesDays && Model.ResponseType == RESPONSE_TYPE_YN)
            {
                <tr id="trYesDays">
                    <td class="borderUnderline">
                        <span class="spanText">Yes Days</span>
                    </td>
                    <td class="borderUnderline" id="CompletedPersonalYesDays">@Model.PersonalYesDays</td>
                    @if ( Model.ShowOthers )
                    {
                        <td id="CompletedChallengeYesDays" class="others">@Model.ChallengeYesDays</td>
                    }
                </tr>
            }
            @if (Model.ShowNoDays && Model.ResponseType == RESPONSE_TYPE_YN)
            {
                <tr id="trNoDays">
                    <td>
                        <span class="spanText">No Days</span>
                    </td>
                    <td id="CompletedPersonalNoDays">@Model.PersonalNoDays</td>
                    @if ( Model.ShowOthers )
                    {
                        <td id="CompletedChallengeNoDays" class="others">@Model.ChallengeNoDays</td>
                    }
                </tr>
            }
        </table>
    </div>
</div>
