﻿@using Vhm.Web.Models.ViewModels
@model Vhm.Web.Models.ViewModels.PartialViews.InviteVM
<div class="inv_opt_wrapper wrapper_gray_border">
    <div class="inv_wrapper_header">
        <h3 class="grey">
            Invite options</h3>
    </div>
    <div class="inv_opt_contnt">
        <div>
            <input type="button" class="vbtn_red_a_md" value="Friends" id="btnFriends" onclick="OpenFriendsPopUp()" /></div>
        <div>
            <input type="button" class="vbtn_red_a_md" value="Groups" id="btnGroups" onclick="OpenGroupsPopUp()" /></div>
        <div>
            <input type="button" class="vbtn_red_a_md" value="Write-in" id="btnWritein" onclick="OpenWriteInPopUp()" /></div>
        <div>
            <input type="button" class="vbtn_red_a_md" value="Import new list" id="btnImport"
                tabindex="14" onclick="OpenUloadCSVPopUp()" /></div>
    </div>
</div>
<div class="inv_wrapper wrapper_gray_border">
    <div class="inv_wrapper_header">
        <h3 style="float: left" class="grey">
            Invite List</h3>
        <div id="divTotal" style="float: right; font-weight: normal;">
            <h5 class="grey">
            0 Total
            </h5>
        </div>
    </div>
    <div style="clear: both">
        <div class="inv_list_unv">
        </div>
    </div>
    <div class="inv_list">
    </div>
</div>
<div id="TemplatesForPopUps">
    @Html.Partial("InviteFriendsGroupsTemplates")
    <div style="display: none" id="divInviteFriends">
        @Html.Partial("InviteFriendsGroups", Model.InviteFriends)
    </div>
    <div style="display: none" id="divInviteGroups">
        @Html.Partial("InviteFriendsGroups", Model.InviteGroups)
    </div>
    <div id="writeIn" style="display: none;">
        <div>
            Enter the email addresses, separted by commas, semicolon or returns.</div>
        <textarea id='emails' style='width: 350px; height: 150px;'></textarea>
    </div>
</div>
<div style="display: none;">
    <table id="gridFooter" >
        <tr>
            <td width="400" >
                Select <span class='anchorSpan' id='footerSelectAll'>All</span>, <span class='anchorSpan'
                                                                                       id='footerSelectNone'>None</span>
            </td>
      
            <td>
                <input class='vbtn_gray_b_md' id='footerRemove' type='button'
                       value='Remove selected' />
            </td>
        </tr>
        <tr>
            <td><div style="margin-top:3px;">
                Show
                <select id='showPerPage'>
                    <option value='24'>24</option>
                    <option value='48'>48</option>
                    <option value='96'>96</option>
                </select>
            invitees per page
            </div></td>
            <td colspan="2">
            
            </td>
        </tr>
    </table>
</div>