﻿@using Vhm.Web.Models.ViewModels
@using Vhm.Web.Models.RepositoryModels
@using Vhm.Web.Models.ViewModels.Social
<script type="text/x-jquery-tmpl" id="memberTemplate">
<div style="width: 190px;">
    <input class="checkbox" type="checkbox" id='${Id}' style="float: left;" />
    @Html.Partial("Member/SmallMemberProfile", new MemberVM() { Member = new Member() { FirstName = "${FirstName}", LastName = "${LastName}", ImageUrl = "${ImageUrl}"}, ImageSrc = "${Id}" })
</div>
</script>
<script type="text/x-jquery-tmpl" id="groupTemplate">
<div style="width: 190px;">
    <input class="checkbox" type="checkbox" id='${Id}' style="float: left;" />
    @Html.Partial("../Social/_GroupLink", new Vhm.Web.Models.ViewModels.Social.GroupVM() { IsClickable = false, ImageSrc = "${Id}", Group = new Group() { Name = "${Name}", Category = "${Category}", ProfilePicturePath = "${ProfilePicturePath}" } })
</div>
</script>
