﻿@using System.Globalization
@using Vhm.Web.Models.ViewModels
@using Vhm.Web.Models.RepositoryModels
@model Vhm.Web.Models.ViewModels.PartialViews.InviteFriendsGroupsVM
<!--v2-->
<div>
    @Model.HeaderText
</div>
@if (Model.HasSelectAll)
{       
    <div style="float: right;"> 
        <input type="checkbox" value="Select All" id="selectAll" class="selectAll"    />
        <label for="selectAll" class="bold-label">Select all</label>
    </div>
}
@if (Model.HasViewAll)
{
    <div style="margin-bottom: 15px;">
        <span class="anchorSpan" id="viewAll" href="#">View all</span>
    </div>
}
@if (Model.HasAlphabet)
{
    <div id="divAlphabet" style="padding: 10px 0;  margin-bottom: 15px;">
        @for (int i = 0; i < 26; i++)
        {
            int num = 65 + i;
            string let = "&#" + num;
            <div style="margin-right: 10px; float: left;">
                <span class="anchorSpan disabled">&#@num</span>
            </div>
        }
    </div>
}
<div id="invitation" style="clear: both;">
</div>
<script type="text/javascript">
    var totalPages = @(Html.Raw(Json.Encode(Model.TotalPageCount)));
</script>
