﻿@model Vhm.Web.Models.ViewModels.PartialViews.InviteVM 
<div class="span9">
    <div id="inviteTabs" class="tab-content">
        <ul class="nav nav-tabs">
            <li><a href="#divInviteFriends" id="lnkShowFriendInvite">FRIENDS</a></li>
            @*<li><a href="#divInviteGroups" id="lnkShowGroupInvite">GROUPS</a></li>
            <li><a href="#writeIn">WRITE-IN</a></li>
            <li><a href="#uploadNewCSV">IMPORT NEW LIST</a></li>
            <li><a href="#uploadCSVLastList">IMPORT LAST LIST</a></li>*@
        </ul>
        <div id="divInviteFriends" class="tab-pane active well">
            @Html.Partial("InviteFriendsGroups", Model.InviteFriends)
            <input type="button" value="Add To Invite List" class="btn btn-primary" onclick="addToivIteList('MEM')" />
        </div>
        @*<div id="divInviteGroups" class="tab-pane well">
            @Html.Partial("InviteFriendsGroups", Model.InviteGroups)
            <input type="button" value="Add To Invite List" class="btn btn-primary" onclick="addToivIteList('GRP')" />
        </div>
        <div id="writeIn" class="tab-pane well">
            <div>Enter the email addresses, separted by commas, semicolon or returns.</div>
            <textarea id='emails' style='width: 350px; height: 150px;'></textarea>
        </div>
        <div id="uploadNewCSV" class="tab-pane well">
        </div> 
        <div id="uploadCSVLastList" class="tab-pane well">
        </div>*@
    </div> 
</div>
@Html.Partial("InviteFriendsGroupsTemplates")
<div class="inv_list">
</div>
