﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Ektron.Cms.Framework.UI.Controls.EktronUI.Templates.Dialog" Codebehind="Dialog.ascx.cs" %>
<div id="uxDialogControl" runat="server">
	<asp:PlaceHolder ID="aspContent" runat="server" />
</div>