<%@ Control Language="C#" AutoEventWireup="true" Inherits="Community_DistributionWizard_Metadata" Codebehind="Metadata.ascx.cs" %>
<asp:Literal ID="ltrEnhancedMetadataArea" runat="server"></asp:Literal>
<asp:Literal ID="ltrMetadataHTML" runat="server"></asp:Literal>
<div class="EnhancedMetadataBasic">
    <input type="hidden" id="inputTitle" runat="server" />
    <input type="hidden" id="inputDescription" runat="server" />
    <input type="hidden" id="inputKeywords" runat="server" />
</div>