﻿@theme-folder-name: 'int' ;
@main-theme-color: #2f5ebf;
@main-theme-hover: #2F79BB ;
@gradient-color: #2F79BB;
@gradient-color-two: #628AD0 ;

@accent-color: #f55e00;
@accent-color-two: #4e9f1c;
@accent-color-three: #333333;

@accent-button-color: #f77b00;
@accent-button-color-two:#f55e00;
@accent-border-color: #f55e00;

@link-color: #f55e00;


@import "../../../vhm.mixins.less";
@import "../../base.theme.less";
