/* Round all corners mixin - when all corners are the same */
/* Round certain corners only */
/* top right, bottom right, bottom left, top left */
/* Set background of element to a gradient between two colors */
/* Box Sizing */
/* Box Shadows */
/* Text Shadows */
/* Opacity */
@charset "UTF-8";
/* Round all corners mixin - when all corners are the same */
/* Round certain corners only */
/* top right, bottom right, bottom left, top left */
/* Set background of element to a gradient between two colors */
/* Box Sizing */
/* Box Shadows */
/* Text Shadows */
/* Opacity */
.MainHeader,
.contentSectionHeader,
.disconnectedText {
  color: #008aa2;
}
div.rightpanel_header,
.mainHeading,
h1.mainHeading {
  color: #e7a423;
}
div.leftpanel_header,
.deviceHeader {
  color: #008aa2;
}
.btn {
  padding: 5px 17px;
}
h4.deviceHeader,
.headerText {
  color: #008aa2 !important;
}
#mainNav li a {
  color: #008aa2;
}
#mainNav li a {
  background-image: url('pul/images/arrow-nav.png');
}
#extendableHeader_sub {
  background-color: #009ab1;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#00a9c0) to(#008aa2));
  background: -webkit-linear-gradient(#00a9c0, #008aa2);
  background: -moz-linear-gradient(#00a9c0, #008aa2);
  background: -ms-linear-gradient(#00a9c0, #008aa2);
  background: -o-linear-gradient(#00a9c0, #008aa2);
  -pie-background: linear-gradient(#00a9c0, #008aa2);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9c0', endColorstr='#008aa2',GradientType=0 );
}
.content-sub-header {
  background-color: #009ab1;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#00a9c0) to(#008aa2));
  background: -webkit-linear-gradient(#00a9c0, #008aa2);
  background: -moz-linear-gradient(#00a9c0, #008aa2);
  background: -ms-linear-gradient(#00a9c0, #008aa2);
  background: -o-linear-gradient(#00a9c0, #008aa2);
  -pie-background: linear-gradient(#00a9c0, #008aa2);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9c0', endColorstr='#008aa2',GradientType=0 );
}
.VHMfooter {
  background-color: #009ab1;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#00a9c0) to(#008aa2));
  background: -webkit-linear-gradient(#00a9c0, #008aa2);
  background: -moz-linear-gradient(#00a9c0, #008aa2);
  background: -ms-linear-gradient(#00a9c0, #008aa2);
  background: -o-linear-gradient(#00a9c0, #008aa2);
  -pie-background: linear-gradient(#00a9c0, #008aa2);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9c0', endColorstr='#008aa2',GradientType=0 );
}
div.rewardsClose h3.jqmClose,
div.rewardsClose h3.jqmClose:visited {
  color: #008aa2;
}
.recentRewardsPopup {
  background-image: url('pul/images/popup-swish.png');
}
.tickerBar {
  height: 34px;
  background-color: #009ab1;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#00a9c0) to(#008aa2));
  background: -webkit-linear-gradient(#00a9c0, #008aa2);
  background: -moz-linear-gradient(#00a9c0, #008aa2);
  background: -ms-linear-gradient(#00a9c0, #008aa2);
  background: -o-linear-gradient(#00a9c0, #008aa2);
  -pie-background: linear-gradient(#00a9c0, #008aa2);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9c0', endColorstr='#008aa2',GradientType=0 );
  width: 960px;
  margin: -15px 0 0 -30px;
}
.tickerArrows.left {
  background-image: url('../../pul/images/ticker-arrow-left.png') !important;
}
.tickerArrows.right {
  background-image: url('../../pul/images/ticker-arrow-right.png');
}
#AJChartBody {
  border-color: #008aa2;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 5px 5px;
  width: 719px;
  min-height: 550px;
  background-color: #fff;
  position: relative;
  behavior: url(/PIE.htc);
}
#header {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#footer {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
#footer .navbar-inner {
  background-color: #009ab1;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#00a9c0) to(#008aa2));
  background: -webkit-linear-gradient(#00a9c0, #008aa2);
  background: -moz-linear-gradient(#00a9c0, #008aa2);
  background: -ms-linear-gradient(#00a9c0, #008aa2);
  background: -o-linear-gradient(#00a9c0, #008aa2);
  -pie-background: linear-gradient(#00a9c0, #008aa2);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9c0', endColorstr='#008aa2',GradientType=0 );
}
/* Responsive navigation theming */
#topNavigation li ul li a {
  color: #008aa2;
}
#topNavigation li ul li:hover {
  color: #008aa2;
}
#topNavigation li ul li:hover a {
  color: #008aa2;
}
#mainNavBootstrap li a {
  color: #008aa2;
}
#mainNavBootstrap ul li a {
  color: #008aa2;
}
#mainNavBootstrap ul:hover {
  color: #008aa2;
}
#mainNavBootstrap ul:hover a {
  color: #008aa2;
}
/* Caret theming */
.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover,
.nav > li.dropdown.open.active > a:focus {
  color: #008aa2;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret,
.nav .dropdown-toggle .caret {
  color: #008aa2;
  border-top-color: #008aa2;
}
/* Themed Buttons */
.btn-main {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #008aa2;
  background-color: #009ab1;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#00a9c0) to(#008aa2));
  background: -webkit-linear-gradient(#00a9c0, #008aa2);
  background: -moz-linear-gradient(#00a9c0, #008aa2);
  background: -ms-linear-gradient(#00a9c0, #008aa2);
  background: -o-linear-gradient(#00a9c0, #008aa2);
  -pie-background: linear-gradient(#00a9c0, #008aa2);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9c0', endColorstr='#008aa2',GradientType=0 );
  background-repeat: repeat-x;
  border-color: #008aa2 #008aa2;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-main:hover,
.btn-main:focus,
.btn-main:active,
.btn-main.active,
.btn-main.disabled,
.btn-main[disabled] {
  color: #fff;
  background-position: 0 0;
  background-color: #008aa2;
}
/* Themed notification number */
.notificationCount {
  color: #008aa2;
}
/* Themed text */
.main-theme {
  color: #008aa2;
}
.accent-theme {
  color: #e7a423;
}
h4.deviceHeader,
.headerText,
.reportsContainer .reports h2 {
  color: #e7a423 !important;
}
/* This style is used to share @gradient-color and @gradient-color-two with JavaScript code.  The code gets the runtime styles of an element with this CSS class. */
.js-gradient-color {
  color: #008aa2;
  background-color: #00a9c0;
  display: none;
}
.v3-wrapper .v3-header {
  background-color: #008aa2;
}
.tabs .ui-state-default,
.tabs .ui-widget-content,
.ui-state-default,
.ui-tabs .ui-tabs-nav li a,
.LnkALNewEntry,
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a,
.AJmdlCell,
.AJmdlCell a,
.landing-blog-list .blog-title,
.LnkALNewEntry,
.show-Additional-Options,
#aGroupInvitations,
.blueLink,
a.blueLink,
.tertiary,
a.tertiary,
.divRgtSectArea h3,
#divSuggestedGroups h4,
.loadWaitMSG,
.LnkALNewEntry,
.show-Additional-Options,
#vhm_loadca a,
.stylev3,
#goZonePedameter a {
  color: #008aa2;
}
#manual-sync-display a {
  color: #008aa2;
}
.btn.yellow-button {
  background-color: #ec9702;
  background-image: -moz-linear-gradient(top #fdbb2d, #ec9702);
  background-image: -webkit-gradient(linear, 0 0, 0 80%, from(#fdbb2d), to(#ec9702));
  background-image: -webkit-linear-gradient(top, #fdbb2d, #ec9702);
  background-image: -o-linear-gradient(top, #fdbb2d, #ec9702);
  background-image: linear-gradient(to bottom, #fdbb2d, #ec9702);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-color: #ffc254;
  color: #fff;
  padding: 5px 17px;
  text-shadow: none;
  font-size: 16px;
}
#lblGroupsCount {
  color: #e7a423;
}
/* button example for pulse theme - might be useful to compare while implementing other themes */
/*
.btn.yellow-button {
background-color: #ec9702;
background-image: -moz-linear-gradient(top,#fdbb2d,#ec9702);
background-image: -webkit-gradient(linear,0 0,0 80%,from(#fdbb2d),to(#ec9702));
background-image: -webkit-linear-gradient(top,#fdbb2d,#ec9702);
background-image: -o-linear-gradient(top,#fdbb2d,#ec9702);
background-image: linear-gradient(to bottom,#fdbb2d,#ec9702);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border-color: #ffc254;
color: #fff;
padding: 5px 17px;
text-shadow: none;
font-size: 16px;
}*/
/* Font Awesome */
.icon-angle-left,
.icon-angle-right {
  font-size: 30px;
  color: #008aa2;
}
/* New landing page styles */
.main-body .span6 h2 {
  color: #666;
}
.main-body .span3 h2,
.main-body .span6 a {
  color: #008aa2;
}
.rewardBadges .cash {
  color: #008aa2;
}
.main-body .span6 h2 {
  color: #e7a423;
}
.main-body .span6 .btn.button-save.yellow-button {
  color: #ffffff;
}
#upForGrabsSection h2,
.grabComment h2 {
  color: #666666!important;
}
a.helpImage i.icon-question:hover,
a.helpImage i.icon-ticket:hover {
  color: #008aa2;
}
/* Wolverine menu styles */
.main-nav.navbar {
  background: url(/v2/Content/images/LandingPageV3/menu-red-repeater.png) repeat-x;
}
.main-nav .nav > li.open {
  background: url(/v2/Content/images/LandingPageV3/menu-active-red-repeater.png) repeat-x;
}
.main-nav .nav > li > a:hover {
  color: #008aa2;
}
.main-nav.navbar .dropdown-menu {
  background-color: #e4e3e1;
}
.main-nav .nav ul.dropdown-menu li {
  color: #008aa2;
}
.main-nav .nav > li.active ul li a {
  color: #008aa2;
}
.main-nav .nav ul.dropdown-menu li a {
  background: url(/v2/Content/images/LandingPageV3/menu-red-repeater.png) repeat-x transparent;
  color: #008aa2;
}
.main-nav .nav ul.dropdown-menu li a:hover {
  background-color: #008aa2;
  color: #fff;
}
.main-nav .nav > li > a .caret {
  border-top: 4px solid #008aa2;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #008aa2;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #008aa2;
  webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.main-nav .nav li a {
  color: #333333;
}
.main-nav .nav li.current a {
  color: #008aa2;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}
.main-nav.navbar .nav li.dropdown.active > .dropdown-toggle {
  background-color: #008aa2;
  color: #ffffff;
}
.check-code {
  color: #008aa2 !important;
}
/* Accordion Heading Theme Styles */
#landing-accordion .accordion-heading .accordion-toggle {
  background-color: #008aa2;
}
#landing-accordion .accordion-heading .activeAccordion {
  background-color: #e7a423;
}
/* tooltip styling*/
#tip-data {
  border-color: #e7a423;
}
#tip-data-nutrition {
  border-color: #e7a423 !important;
}
.icon-star {
  color: #008aa2;
}
ul.paging_pages li a {
  color: #008aa2;
}
.brdRight a {
  color: #008aa2;
}
.txtRight a {
  color: #008aa2;
}
.bottomLeftRight a {
  color: #008aa2;
}
.tdHeaderEdit a {
  color: #008aa2;
}
.tdHeaderEdit a {
  color: #008aa2;
}
.tabdiv a {
  color: #008aa2;
}
.pagingList .pagingItem a {
  color: #008aa2;
}
.divContentSummaryCount h3.rightpanel_header {
  color: #e7a423;
}
body {
  background-image: url('/v2/content/images/LandingPageV3/bg-pattern.png') !important;
  background-repeat: repeat;
}
h3.rightpanel_header {
  color: #e49a1f;
}
h4.rightpanel_header {
  color: #e49a1f;
}
h3.leftpanel_header {
  color: #008aa2;
}
div.chAboutTitle,
div.challSectionBtmTtl {
  color: #e49a1f;
}
div.chInvitTitle {
  color: #008aa2;
}
#extendableHeader_sub {
  background: #008aa2 !important;
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}
#contentHeader {
  padding: 6px 20px !important;
  text-shadow: none !important;
}
a.modal-remove-friend {
  color: #008aa2;
}
.ui-dialog-titlebar {
  padding-bottom: 10px;
  padding-top: 10px;
  color: #008aa2;
}
.ui-dialog .ui-dialog-titlebar {
  padding: 0px 0px 0px 10px !important;
}
/* Wolverine menu styles */
.main-nav.navbar {
  background: url(/v2/Content/images/LandingPageV3/menu-dark-repeater.png) repeat-x;
}
.main-nav .nav li a {
  color: #ffffff;
}
.main-nav .nav > li.current a {
  background: url(/v2/Content/images/LandingPageV3/menu-current-repeater.png) repeat-x;
  color: #ffffff;
}
.main-nav .nav ul.dropdown-menu li,
.main-nav .nav > li.active ul li a {
  color: #ffffff;
}
.main-nav .nav .dropdown-menu li {
  border-bottom: 1px solid #5e6d7a;
}
.main-nav .nav ul.dropdown-menu li {
  background-color: #4b5d6b;
  color: #ffffff;
}
#tip-arrow {
  background-image: url(/v2/Content/Images/LandingPageV3/arrow_tooltip_graph_pul.png);
}
#tip-data-nutrition {
  border-color: #008aa2!important;
}
.main-nav .nav ul.dropdown-menu li a {
  background-image: none;
  color: #ffffff;
}
.divContentSummaryCount h3.rightpanel_header {
  color: #e7a423;
}
.ranks {
  color: #e7a423;
}
.tealColor {
  color: #008aa2;
}
#divCreateNewSpace .btn.yellow-button {
  color: #fff ;
}
.ulSortBadges .sortOption a {
  color: #008aa2 !important;
}
#frThatHaveBadge a {
  color: #008aa2;
}
#divFrWBadgeExcl .openFRWithThisBadge {
  color: #008aa2;
}
#recentlyEarned .hrefBName.IE7hrefBName {
  color: #008aa2;
}
.FrEarningsItems .frErndDescr .openWinnerProf.UserFullName {
  color: #008aa2;
}
#allMembersWithBadge .liMembWithBadge .openCFProf_FWB.UserFullName {
  color: #008aa2;
}
.nav-tabs li.tab-item .caret {
  border-top-color: #008aa2 !important;
}
