﻿@theme-folder-name: 'pul';
@main-theme-color: #008aa2;
@main-theme-hover: #008aa2;
@gradient-color: #008aa2;
@gradient-color-two: #00a9c0;

@accent-color: #e7a423;
@accent-color-two: #008aa2;
@accent-color-three: #e49a1f;

@accent-button-color: #fdbb2d;
@accent-button-color-two:#ec9702;
@accent-border-color: #ffc254;

@link-color: #008aa2;

@import "../../../Style/vhm.mixins.less";
@import "../../base.theme.less";

body { background-image: url('/v2/content/images/LandingPageV3/bg-pattern.png') !important; background-repeat: repeat;}

h3.rightpanel_header {
    color: @accent-color-three;
}
h4.rightpanel_header {
    color: @accent-color-three;
}
h3.leftpanel_header {
     color:@accent-color-two;
}

div.chAboutTitle  , div.challSectionBtmTtl{
    color: @accent-color-three;
}

div.chInvitTitle {
    color:@accent-color-two;
}

#extendableHeader_sub {
background: @main-theme-color !important;
border-radius: 0 !important;
-moz-border-radius: 0 !important;
}

#contentHeader {
    padding: 6px 20px !important;
    text-shadow: none !important;
}

a.modal-remove-friend {
    color: @accent-color-two;
}

.ui-dialog-titlebar {
    padding-bottom: 10px;
    padding-top: 10px;
    color: @main-theme-color;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0px 0px 0px 10px !important;
    
}

/* Wolverine menu styles */
.main-nav.navbar {
    background: url(/v2/Content/images/LandingPageV3/menu-dark-repeater.png) repeat-x;
}
.main-nav .nav li a {
    color:#ffffff;
}
.main-nav .nav > li.current a {
    background: url(/v2/Content/images/LandingPageV3/menu-current-repeater.png) repeat-x;
	color:#ffffff;
}
.main-nav .nav ul.dropdown-menu li,.main-nav .nav > li.active ul li a {
    color:#ffffff;
}
.main-nav .nav .dropdown-menu li {
    border-bottom: 1px solid #5e6d7a;
}
.main-nav .nav ul.dropdown-menu li {
    background-color: #4b5d6b;
    color:#ffffff;
}
#tip-arrow {
    background-image: url(/v2/Content/Images/LandingPageV3/arrow_tooltip_graph_pul.png);
}
#tip-data-nutrition {
    border-color: #008aa2!important;
}
.main-nav .nav ul.dropdown-menu li a {
    background-image: none;
    color:#ffffff;
}
.divContentSummaryCount h3.rightpanel_header {
    color: @accent-color;
}
.ranks {
    color: @accent-color;
}

.tealColor {
    color:@link-color;
}
#divCreateNewSpace .btn.yellow-button {
    color:#fff ;
}
.ulSortBadges .sortOption a  {
    color:@link-color !important;
}
#frThatHaveBadge a {
    color:@link-color;
}
#divFrWBadgeExcl .openFRWithThisBadge {
    color:@link-color;
}
#recentlyEarned .hrefBName.IE7hrefBName {
    color:@link-color;
}
.FrEarningsItems .frErndDescr .openWinnerProf.UserFullName {
    color:@link-color;
}
#allMembersWithBadge .liMembWithBadge .openCFProf_FWB.UserFullName {
    color:@link-color;
}
.nav-tabs li.tab-item .caret {
   border-top-color:@main-theme-color !important;
}