﻿@model Vhm.Web.Models.ViewModels.CmsContent.MemberEngagementArticle

<div class="footerNewsContentBox">
    @if (!String.IsNullOrEmpty(@Model.Title))
    {
        <div class="footerEventSectionHeader @Html.Raw("ThemeColor"+Model.ThemeColor)">@Model.Title</div>
        <img src="@Model.PreviewImageUrl" alt="News Image" />
        <div class="footerNewsText">
            <p>@Model.Summary</p>
             @if (Model.HideReadMoreLink == "false" || String.IsNullOrEmpty(Model.HideReadMoreLink) || Model.HideReadMoreLink != "true")
            {
                if (!String.IsNullOrEmpty(Model.CustomLinkUrl))
                {
                    <a href="@Model.CustomLinkUrl" onclick="@Model.GoogleAnalyticsTrackingCode">@Model.CustomLinkText</a>
                }
                else
                {
                    <a href="/v2/Content/Engagement/@Model.Id" data-i18n="WolverineLandingPage.GlobalLabels.ReadMore" onclick="@Model.GoogleAnalyticsTrackingCode">Read more</a>
                }
            }

        </div>
        <div class="clearfix"></div>
    }
</div>