﻿@model Vhm.Web.Models.ViewModels.CmsContent.BlogList
@using Vhm.Web.Models.ViewModels.CmsContent
@if (Model.Articles.Count != 0)
{  <div id="bloglist">
        <h2 class="gold">
            LATEST FROM OUR BLOG</h2>
        <div class="landing-blog-list">
            @foreach (BlogArticle article in Model.Articles) {
            <div>
                <div class="blog-title">
                    <a href="/v2/Content/BlogArticle/@Html.Raw(article.Id)">@Html.Raw(article.Title)</a></div>
                <div class="blog-date">
                    Published @Html.Raw(article.DateCreated.ToShortDateString())</div>
                <div class="">
                    <img class="blog-list-image" src="@Html.Raw(article.ImgUrl)" alt="@Html.Raw(article.Title)"/>
                    <p class="blog-intro-text">@Html.Raw(article.Summary)</p>
                </div>
            </div>
            }
        </div>
    </div>
}
