﻿@model Vhm.Web.Models.ViewModels.CmsContent.OldLandingTwoByTwo
<table style="background-repeat: no-repeat; min-width: 178px !important" height="164"
    cellpadding="20" width="178" background="@Model.BackgroundImage">
    <tbody>
        <tr>
            <td style="font-size: 13px; vertical-align: top; padding-bottom: 10px; padding-top: 10px; padding-left: 10px; line-height: 15px; padding-right: 10px; width: 130px; font-family: 'Open Sans',Arial,Helvetica,sans-serif !important;">
                <span style="line-height: 18px"><font color="#990000" face="Arial" pointsize="13px">
                    <strong>@Model.Title</strong></font></span><br/><br/> @Html.Raw( Model.Summary )
            </td>
        </tr>
    </tbody>
</table>
