﻿@model Vhm.Web.Models.ViewModels.CmsContent.MemberEngagementArticle


<h1 style="color:#333;font-size:24px;font-weight: bold;">@Model.Title</h1>
<img src="@Model.PreviewImageUrl" style="float:right; margin-left:10px;margin-bottom:10px;width:190px;" /><p style="color: #333;line-height: 19px;
font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
font-size: 12px;">@Html.Raw(Model.FullText)</p><br/>
<div class="clearfix">
                    &#160;</div>