﻿@model Vhm.Web.Models.ViewModels.CmsContent.BlogArticle
@using Vhm.Web.Common
@using Vhm.Web.Models.ViewModels.CmsContent
<!DOCTYPE html>
@{
    var resourceVersion = ApplicationSettings.CachedResourceVersion;
    var background = ApplicationSettings.SiteBackgroundURL;
    string cash = string.Empty;
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="@ViewBag.OldSiteUrl, Health, Wellness, Rewards, Incentive, Pedometer, Active, Challenge" />
    <meta name="description" content="@ViewBag.CompanyName is a rewards program that works kind of like a frequent flier program, only you don't get rewarded for flying or using a credit card. You get rewarded for getting active. You get great rewards for making small choices that go a long way toward a healthier you." />
    <title>Landing Page - Virgin Pulse</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Style/LandingPageV3/Plugins/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style/LandingPageV3/Plugins/bootstrap-responsive.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style/LandingPageV3/Plugins/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style/LandingPageV3/style_notifications.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style/LandingPageV3/main.css?version=@resourceVersion" />
    <script type="text/javascript" src="../Scripts/LandingPageV3/Plugins/jquery-1.8.3.js"></script>
    <!--[if lte IE 9]>
      <script src="../Scripts/LandingPageV3/Plugins/html5shiv.js"></script>
      <script src="../Scripts/LandingPageV3/Plugins/respond.src.js"></script>
    <![endif]-->
    <script type="text/javascript" src="../Scripts/LandingPageV3/Plugins/bootstrap.js"></script>
    <script type="text/javascript" src="../Scripts/LandingPageV3/Plugins/raphael-min.js"></script>
    <script type="text/javascript" src="../Scripts/LandingPageV3/Plugins/g.raphael-min.js"></script>
    <script type="text/javascript" src="../Scripts/LandingPageV3/Plugins/knockout-2.3.0.js"></script>
    <script type="text/javascript" src="../Scripts/lib/core.js"></script>
    <script type="text/javascript" src="../Scripts/LandingPageV3/plugins/jquery.placeholder.js"></script>
    <script type="text/javascript" src="../Scripts/LandingPageV3/Plugins/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="../Scripts/VHM/WelcomeJourney.js"></script>
    <script type="text/javascript" src="../Scripts/LandingPageV3/jqModalV3.js"></script>
    <script type="text/javascript" src="../Scripts/VHM/Social/social_notifications.js"></script>
    <script type="text/javascript" src="../Scripts/LandingPageV3/social_newsfeed.js"></script>
    <script type="text/javascript" src="../Scripts/LandingPageV3/VHMNotificationsV3.js"></script>
    <script type="text/javascript" src="../Scripts/LandingPageV3/LapsGameDisplay.js"></script>
    <script type="text/javascript" src="../Scripts/LandingPageV3/LevelsGraphDisplay.js"></script>
    <script type="text/javascript" src="../Scripts/LandingPageV3/ActivityTab.js"></script>
    <script type="text/javascript" src="../Scripts/LandingPageV3/PersonalTrackingTab.js"></script>
    <script type="text/javascript" src="../Scripts/LandingPageV3/main.js"></script>
    <script type="text/javascript" src="../Scripts/lib/ConversionUtil.js"></script>
</head>
<body class="background-pattern">
    @Html.Action("HeaderV3", "Layout")
    <span class="js-gradient-color"></span>
    <div class="main-body">
        <div class="alert alert-info thicker-info" id="alert-classic-site">
        </div>
        <div class="top-bg">
        </div>
        <div class="content-bg">
            <div class="content-holder">
                <div class="row span9" style="margin-top: 25px;">
                    <div class="span6">
                        <div class="blog-article">
                            @if (Model != null)
                            {        
                                <h2 class="gold">
                                    <div class="blog-title">@Html.Raw(Model.Title)</div>
                                </h2>
                                <div class="blog-date">
                                    Published @Html.Raw(Model.DateCreated.ToShortDateString())</div>
                                <div class="">
                                    <img class="blog-list-image" src="@Html.Raw(Model.ImgUrl)" alt="@Html.Raw(Model.Title)"/>
                                    <p class="blog-intro-text">@Html.Raw(Model.Summary)</p>
                                    <p>@Html.Raw(Model.FullText)</p>
                                </div>  
                            }
                        </div>
                        @Html.Action("LatestBlogPosts", "Content", new { @sponsorSpecific = true, @count = 3 })
                    </div>
                    <div class="span3">
                        
                        <h2 class="blue">
                            NEWS AND TIPS
                        </h2>
                        <div class="infoBoxRight">
                            @Html.Action("RichContent", "Content", new { @contentAreaType = "HomepageInfoBox", @sponsorSpecific = false })
                        </div>
                        <div class="infoBoxRightFooter">
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix">
            </div>
        </div>
        <div class="bottom-bg">
        </div>
        <div class="fat-footer">
            <div class="col1">
                <div class="landingPageSection sideNavSection" id="newsfeedSection">
                    &nbsp;@*THIS SECTION IS FILLED IN VIA AJAX*@</div>
                <script>                    LoadNewsFeed();
                </script>
            </div>
            <div class="col2">
                <div class="footerEventSection">
                    @Html.Action("RichContent", "Content", new { @contentAreaType = "FooterMiddleBox", @sponsorSpecific = true })
                    <div class="clearfix">
                    </div>
                </div>
            </div>
            <div class="col3">
                <div class="footerNewsSection">
                    @Html.Action("RichContent", "Content", new { @contentAreaType = "FooterRightBox", @sponsorSpecific = true })
                </div>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
    >
    @Html.Action("FooterV3", "Layout")
    @{
        string trackerKey = Convert.ToString(Microsoft.Win32.Registry.LocalMachine.OpenSubKey(@"Software\VirginLifecare", false).GetValue("GoogleAnalyticsId", "")) == string.Empty ? "UA-5511099-1" : Convert.ToString(Microsoft.Win32.Registry.LocalMachine.OpenSubKey(@"Software\VirginLifecare", false).GetValue("GoogleAnalyticsId", ""));
    }
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '@trackerKey']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
    <script type="text/javascript">
        var fby = fby || [];
        fby.push(['showTab', { id: '5697', position: 'right', color: '#008EAA'}]);
        (function () {
            var f = document.createElement('script'); f.type = 'text/javascript'; f.async = true;
            f.src = '//cdn.feedbackify.com/f.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(f, s);
        })();
    </script>
</body>
</html>
