﻿
@theme-folder-name: 'red';
@main-theme-color: #ac0000;
@main-theme-hover: #990000;
@gradient-color: #990000;
@gradient-color-two: #CC0000;

@accent-color: #008eaa;
@accent-color-two: #ec9702;
@accent-color-three: #333333;

@accent-button-color: #00a9c0; 
@accent-button-color-two:#008eaa;
@accent-border-color: #009eb3;

@link-color: #008aa2;

@import "../../../Style/vhm.mixins.less";
@import "../../base.theme.less";

div.rightpanel_header {
    color: @accent-color;
}
div.leftpanel_header {
     color:@main-theme-color;
}
h3.rightpanel_header {
    color: @accent-color-three;
}
h3.leftpanel_header {
     color:@accent-color-two;
}
div.chAboutTitle , div.challSectionBtmTtl{
    color: @accent-color;
}
div.chInvitTitle {
    color:@accent-color-two;
}
a.modal-remove-friend {
    color: @accent-color-two;   
}
.ui-dialog-titlebar {
  padding-bottom: 10px;
    padding-top: 10px;
  color: @main-theme-color;
}
#tip-arrow {
    background-image: url(/v2/Content/Images/LandingPageV3/arrow_tooltip_graph_red.png);
}
div.rightpanel_header, .mainHeading, h1.mainHeading {
color: @accent-color;
}
.main-body .span6 a 
{
    color:@link-color;
}
.nav-tabs li.tab-item .caret {
   border-top-color:@main-theme-color !important;
}
#divSuggestedFriends h3.rightpanel_header {
    color: @accent-color;
}
#divSuggestedGroups h3.rightpanel_header {
    color: @accent-color;
}