﻿<%@ Page Language="C#" AutoEventWireup="True" Inherits="SyncDiag" Codebehind="SyncDiag.aspx.cs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Ektron Diagnostics</title>
    
    <!-- Ektron Client Script -->
    <asp:Literal id="ektronClientScript" runat="server"></asp:Literal>
    <script type="text/javascript" src="syncdiag/js/Silverlight.js"></script>
    <script type="text/javascript">
        function onSilverlightError(sender, args) {
            var appSource = "";
            if (sender != null && sender != 0) {
                appSource = sender.getHost().Source;
            }

            var errorType = args.ErrorType;
            var iErrorCode = args.ErrorCode;

            if (errorType == "ImageError" || errorType == "MediaError") {
                return;
            }

            var errMsg = "Unhandled Error in Silverlight Application " + appSource + "\n";

            errMsg += "Code: " + iErrorCode + "    \n";
            errMsg += "Category: " + errorType + "       \n";
            errMsg += "Message: " + args.ErrorMessage + "     \n";

            if (errorType == "ParserError") {
                errMsg += "File: " + args.xamlFile + "     \n";
                errMsg += "Line: " + args.lineNumber + "     \n";
                errMsg += "Position: " + args.charPosition + "     \n";
            }
            else if (errorType == "RuntimeError") {
                if (args.lineNumber != 0) {
                    errMsg += "Line: " + args.lineNumber + "     \n";
                    errMsg += "Position: " + args.charPosition + "     \n";
                }
                errMsg += "MethodName: " + args.methodName + "     \n";
            }

            throw new Error(errMsg);
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
        <div class="ektronPageHeader">
            <div id="dhtmltooltip">
            </div>
            <div class="ektronTitlebar" id="divTitleBar" runat="server">
            </div>
            <div class="ektronToolbar" id="divToolBar" runat="server">
                <table>
                    <tr id="rowToolbarButtons" runat="server"></tr>
                </table>
            </div>
        </div>
        <div class="ektronPageContainer">
            <div id="silverlightControlHost" style="height:100%;">
            <object data="data:application/x-silverlight-2," type="application/x-silverlight-2" width="100%" height="100%">
		        <param name="source" value="syncdiag/SL/EktronDiagnostics.xap"/>
		        <param name="onError" value="onSilverlightError" />
		        <param name="background" value="white" />
		        <param name="minRuntimeVersion" value="4.0.50826.0" />
		        <param name="autoUpgrade" value="true" />
                <param name="initParams" value="Help=<%=HelpLocation %>" />
                To use the Ektron Diagnostics utility, you need Silverlight installed.
		        <a href="http://go.microsoft.com/fwlink/?LinkID=149156&v=4.0.50826.0" style="text-decoration:none">
 			        <img src="http://go.microsoft.com/fwlink/?LinkId=161376" alt="Get Microsoft Silverlight" style="border-style:none"/>
		        </a>
                If you don't wish to install Silverlight, click the Download Save button to retrieve a save file representing your network.
                <asp:Button ID="btnDownloadSave" runat="server" Text="Download Save" OnClick="btnDownloadSave_click" />
	        </object><iframe id="_sl_historyFrame" style="visibility:hidden;height:0px;width:0px;border:0px"></iframe></div>
			<iframe id="_downloadIframe" name="_downloadIframe" src="#" style="visibility:hidden;height:0px;width:0px;border:0px"></iframe>
        </div>
    </form>
</body>
</html>
