﻿
@theme-folder-name: 'red';
@main-theme-color: #ac0000;
@main-theme-hover: #990000;
@gradient-color: #990000;
@gradient-color-two: #CC0000;

@accent-color: #008eaa;
@accent-color-two: #ec9702;
@accent-color-three: #333333;

@accent-button-color: #00a9c0; 
@accent-button-color-two:#008eaa;
@accent-border-color: #009eb3;

@link-color: #008aa2;
@import "../../../vhm.mixins.less";
@import "../../base.theme.less";