﻿@using Vhm.Web.Models.ViewModels.Social
@using VirginLifecareWeb.Helpers
@model Vhm.Web.Models.ViewModels.Social.PagedGroupsVM
           
<ul class="SocialList" >
    @foreach(GroupVM grpVM in Model.Groups)
    {
        <li class="SocialListItems">@Html.Partial("_GroupLink", grpVM)</li>
    }
</ul>
<div class="peoploptionsbar">
    @Html.Paging(Model.GroupsPaginationInfo, Model.PagingGroupsSource, @Href("../../../Images/challenges/icon_arrow_left.gif"), @Href("../../../Images/challenges/icon_arrow_right.gif"), 5)
</div>
<input type="hidden" id="hdnTotalNoOfItems" name="hdnTotalNoOfItems" value="@Model.GroupsPaginationInfo.TotalNumberOfItems" />

