﻿@using System.Web.Script.Serialization
@model List<Vhm.Web.Models.ViewModels.Social.PendingGroupInvitation>
<ul class="SocialList">
@{
    foreach(var grpInvitation in Model)
        {
            <li class="suggestedItems">
                <div>
                    <div class="socialList">
                        <a id="pendGrpInvimg" onclick="javascript:VHM.SocialGroups.OpenPublicGroupProfileFromID(@grpInvitation.GroupInfo.Group.Id);">
                            <img class="SocialImg" id="imgProfPic" alt="@grpInvitation.GroupInfo.Group.Name" width="50" src="@grpInvitation.GroupInfo.Group.ProfilePicturePath" />
                        </a>
                    </div>
                    <div  class="socialList_content">
                        <div class="socialList_content_title">
                            <a id="grpNameHref" class="blueLink" onclick ='javascript:VHM.SocialGroups.OpenPublicGroupProfileFromID(@grpInvitation.GroupInfo.Group.Id);'> @grpInvitation.GroupInfo.Group.Name</a>
                        </div>
                        <h6 class="lightGrey">@grpInvitation.GroupInfo.Group.Category</h6>
                    </div>
                </div>
                <div class="divApproveRej" groupId="@grpInvitation.GroupInfo.Group.Id">
				    <input type="button" value="Accept" class="AL-button btn yellow-button" name="btnAcceptGrpInvite" onclick="javascript:VHM.SocialGroups.respondInvitation('Accept', @grpInvitation.NotificationInfo.MemberNotificationId, @grpInvitation.GroupInfo.Group.Id, '@grpInvitation.GroupInfo.Group.IsPrivate');" />
				    <span class="spOption"></span>
				    <a href="javascript:VHM.SocialGroups.respondInvitation('Decline', @grpInvitation.NotificationInfo.MemberNotificationId, @grpInvitation.GroupInfo.Group.Id, '@grpInvitation.GroupInfo.Group.IsPrivate');" name="hrefDecline" class="declineGrpLnk blueLink pending-inv-decline" style="">Decline</a>
			    </div>
            </li>
    }
}
</ul>

