﻿@model Vhm.Web.Models.ViewModels.Social.GroupVM
@using System.Web.Script.Serialization
@using Vhm.Web.Models.ViewModels.Shared
@using Vhm.Web.Models.ViewModels.Social
@{
    var groupImageUrlTemplate = new HtmlString(Url.Action("GetGroupImage", "PartialView") + "/" + Model.ImageSrc);
}
@if (Model.IsClickable)
{
    if (Model.IsPartOfTheGroup)
    {
        <div class="socialList">
            @{var groupImgURL = string.Format(Model.PrivateViewURL, Model.Group.Id);
              }
            <a id="grImageRedirect" href = @groupImgURL>
                <img class="SocialImg" id="imgProfPic" width="50" alt="@Model.Group.Name" src="@Model.Group.ProfilePicturePath" style="margin: 0 8px 5px 0; padding: 2px; border: 0;"  />
                @if (Model.IsLoggedMemberTheAdmin)
{
    <i class="icon-star adminImg main-theme" style="font-size:14px; text-decoration:none; margin-top:-2px; margin-left:-18px;" id="admImg" alt="@MyGroupsContent.YouAreAnAdministratorOfThisGroup" title="@MyGroupsContent.YouAreAnAdministratorOfThisGroup"></i>
                }
            </a>
        </div>
        <div class="socialList_content">
            <a id="grpNameRedirect" class="tertiary blueLink" href = @groupImgURL>@Model.ShortGroupName</a>
        </div>
    }
    else
    {
        <div class="socialList">
            <a id='grImageHref' onclick=' javascript:VHM.SocialGroups.OpenPublicGroupProfileFromID(@Model.Group.Id);'>
                <img class="SocialImg" id="imgProfPicClickable" alt="@Model.Group.Name" width="50" src="@Model.Group.ProfilePicturePath" />
            </a>
        </div>
        <div class="socialList_content">
            <a id="grpNameHrefClickable" class="tertiary blueLink" onclick ='javascript:VHM.SocialGroups.OpenPublicGroupProfileFromID(@Model.sGroupId);'>@Model.ShortGroupName</a>
        </div>
    }
    <div class="socialList_content_Descr">
        <h6 class="lightGrey" style="float: left; padding-top: 0px; padding-left: 2px; line-height:14px;">@Model.Group.Category</h6>
    </div>
}
else
{
    <div>
        <h5>
            <img src="@Model.Group.ProfilePicturePath" class="SocialImg"  style="margin-left: 5px; margin-right: 5px;" alt="@Model.Group.Name" />
            <span>@Model.Group.Name</span>
        </h5>
    </div>
}