﻿@using Vhm.Web.Common
@model Vhm.Web.Models.ViewModels.Social.GroupVM
<div id="divPublicGrpProfile" class="VhmGroupProf">
    <div id="userProfImage" class="VHMPop_UPInfoPop_Left">
        <img id="groupImgProf" name="groupImgProf" class="profImg" width="86" src="@Model.Group.ProfilePicturePath" alt="@Model.Group.Name" />
    </div>
    <div class="VHMPop_UPInfoPop_Right_top">
        <h5 class="darkRed tertiary" id="spanGroupName">@Model.Group.Name</h5>
        <div class="spanMottoPadd" id="spanGroupCateg">"@Model.Group.Category"</div><br />
    </div>
    <div id="emptyRow" class="VHMPop_divWide_Empty">&nbsp;&nbsp;&nbsp;</div>
    <div class="VHMPop_InfoRow">
        <div class="VHMPop_UPInfoPop_Left"><span class="labelLghGray">Administrator: </span></div>
        <div class="VHMPop_infoRow_right_grp">@Model.Group.AdminName<span ></span></div>
    </div>
    <div class="VHMPop_InfoRow">
        <div class="VHMPop_UPInfoPop_Left"><span class="labelLghGray">Description:</span></div>
        <div class="VHMPop_infoRow_right_grp" style="word-wrap: break-word;">@Html.Raw(Model.Group.Description)</div>
    </div>
    <div id="divEmptyRow" class="VHMPop_divWide_Empty">&nbsp;&nbsp;&nbsp;</div>
    <div class="VHMPop_InfoRow">
        @if (Model.GroupMembersCount == 1)
        {
            <h5>@Model.GroupMembersCount Member</h5>
        }
        else
        {
            <h5>@Model.GroupMembersCount Members</h5>
        }
    </div>
    <div class="VHMPop_InfoRow">
        @if (Model.GroupMembersCount > 0)
        {
            <ul class="ulGrpMembers" id="ulGroupMembers" name="ulGroupMembers" vlc_name="ulGroupMembers">
                @foreach (var memb in Model.GroupMembers)
                {
                   @* <img class="smallThImg" src="@Url.Action("GetMemberImage", "PartialView", new { id = memb.ImageSrc })" alt="memb.Member.FirstName"  width="30px" />*@
                   <img class="smallThImg" src="@memb.Member.ImageUrl" alt="memb.Member.FirstName"  width="30px" />
                }
            </ul>
        }
    </div>
</div>
<div class="actionButtons">
    @if (Model.IsPartOfTheGroup)
    { var groupImgURL = string.Format(Model.PrivateViewURL, Model.sGroupId);
              
        //if for some reason a member of the group manages to open the pop-up, just add a button that would take member to private view of the group
        <input type="button" id="btnAction" class="vbtn_red_b_md" name="btnAction" value="Go to Group Page" onclick="window.location.href = '@groupImgURL"/>
    }
    else
    {
        if (Model.MemberGroupRelation == "Invited")
        {
            <input type="button" id="btnAction" class="btn yellow-button" name="btnAction" value="Accept Invitation" onclick="javascript:VHM.SocialGroups.JoinGroup('@Model.Group.Id', '@ApplicationSettings.ShowGroupURL');"/>
        }
        else
        {
            <input type="button" id="btnAction" class="btn yellow-button" name="btnAction" value="Join this Group" onclick="javascript:VHM.SocialGroups.JoinGroup('@Model.Group.Id');"/>
        }
    }
    <input type="button" value="Close" class="closeGrpProfile cancel btn" id="btnClose" name="btnClose"  />              
</div>
<div vlc_name="vlc_GrpLoading" class="loadingInfo">
    <img src="@Url.Content("~/Content/Images/Shared/spinner.gif")" alt="Loading info" class="ImgSpinner" />
</div>
        
