﻿@using Vhm.Web.Common
@using Vhm.Web.Models.ViewModels.Shared
@using Vhm.Web.Models.ViewModels.Social
@model Vhm.Web.Models.ViewModels.Social.CreateEditGroupVM
@{
    string action;
    string title;
    if (Model.Mode == "Edit")
    {
        title = Model.ContentCreateGroup[CreateGroupContent.EditGroup];
        action = "UpdateGroup";
    }
    else
    {
        title = Model.ContentCreateGroup[CreateGroupContent.CreateGroup];
        action = "AddGroup";
    }
}
@{
    ViewBag.Title = "CreateEditGroup";
    Layout = "~/Views/Shared/MasterNoCol.cshtml";
    ViewData["pageTitle"] = new PageTitle(Model.PageTitle.ShowPageTitle, title);
    var resourceVersion = ApplicationSettings.CachedResourceVersion;
}
@section Styles
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Style/Invitation.css?v=" + resourceVersion)" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Style/SocialStyles/SocialStyles.css?v=" + resourceVersion)" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Style/Shared/PopUp.css?v=" + resourceVersion)" />
}
@section Script
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/Invitation.js?v=" + resourceVersion)"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/VHM/Social/Social.js?v=" + resourceVersion)"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/VHM/Social/CreateEditGroup.js?v=" + resourceVersion)"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/JQuery/tablesorter.js?v=" + resourceVersion)"></script>
    @if (Model.Mode == "Create_1")
    {
        <script type="text/javascript">
            $(function () {
                VHM.SocialGroups.CreateGroupRewardTrigger();
            });
        </script>
    }
}
<div class="span9">
    <input id="hidGroupName" type="hidden" name="Name" value="@Model.GroupVM.Group.Name"/>
    @using (Html.BeginForm(action, "Social", FormMethod.Post, new { @encType = "multipart/form-data" }))
    {
        <input type="hidden" id="groupId" name="Id" value="@Model.GroupVM.Group.Id"/>
        <input type="hidden" id="mode" name="PageMode" value="@Model.Mode"/>
        <input type="hidden" id="hdnLocalization_TextIsAvailable" value="@Model.ContentCreateGroup[CreateGroupContent.TextIsAvailable]"/>
        <input type="hidden" id="hdnLocalization_TextIsAlreadyCreated" value="@Model.ContentCreateGroup[CreateGroupContent.TextIsAlreadyCreated]"/>
        <input type="hidden" id="hdnLocalization_MoreThan3" value="@Model.ContentCreateGroup[CreateGroupContent.NameShouldBeMoreThan3Characters]"/>
        <input type="hidden" id="hdnLocalization_NameIsRequired" value="@Model.ContentCreateGroup[CreateGroupContent.NameIsRequired]"/>
        <input type="hidden" id="hdnLocalization_CategoryIsRequired" value="@Model.ContentCreateGroup[CreateGroupContent.CategoryIsRequired]"/>
        <input type="hidden" id="hdnLocalization_DescriptionIsRequired" value="@Model.ContentCreateGroup[CreateGroupContent.DescriptionIsRequired]"/>
        <input type="hidden" id="hdnLocalization_SomethingWentWrongTryAgain" value="@Model.ContentError[ErrorMessagesContent.SomethingWentWrongPleaseTryAgainLater]"/>
        <input type="hidden" id="hdnLocalization_SomethingWentWrong" value="@Model.ContentError[ErrorMessagesContent.SomethingWentWrong]"/>
        <input type="hidden" id="hdnLocalization_SorrySomethingWentWrong" value="@Model.ContentError[ErrorMessagesContent.SorrySomethingWentWrongWhil_ryAgainLater]"/>
        <input type="hidden" id="hdnLocalization_YouAreAdministrator" value="@Model.ContentGroupCreated[CGYourGroupHasBeenCreatedContent.YouAreAdministratorForThisGroup_toDeleteThisGroup]"/>
        <input type="hidden" id="hdnLocalization_MissingInformation" value="@Model.ContentError[ErrorMessagesContent.MissingInformation]"/>
    

        if (Model.Mode != "Create_1")
        {
        <div class="socCreateGroup divTable">
            <div class="divRow">
                <div class="divCell">
                    <h5>
                        @Model.ContentCreateGroup[CreateGroupContent.GroupName]:</h5>
                </div>
                <div class="divCellRight">
                    <input id="txtGroupName" type="text" name="Name" value="@Model.GroupVM.Group.Name" maxlength="100" />
                    <div id="divGroupAvailability">
                    </div>
                </div>
            </div>
            <div class="divRow">
                <div class="divCell">
                    <h5>
                        @Model.ContentCreateGroup[CreateGroupContent.Image]:</h5>
                </div>
                <div class="divCellRight">
                    <input type="file" name="Image" />
                    <br />
                    <span style="font-style: italic;">@Model.ContentCreateGroup[CreateGroupContent.UploadAnImageToRepresentYourGroup]</span>
                </div>
            </div>
            <div class="divRow">
                <div class="divCell">
                    <h5>
                        @Model.ContentCreateGroup[CreateGroupContent.Privacy]:</h5>
                </div>
                <div class="divCellRight">
                    <ul class="ulSocialSearch">
                        <li>
                            <input id="Privacy" type="radio" name="Privacy" @(!Model.GroupVM.Group.IsPrivate ? Html.Raw("checked='checked'") : MvcHtmlString.Empty) value="Public" /><span>
                                @Model.ContentCreateGroup[CreateGroupContent.Public] </span><span style="font-style: italic;">
                                    @Model.ContentCreateGroup[CreateGroupContent.AnyoneCanSearchForAndJoinThisGroup]</span>
                        </li>
                        <li>
                            <input type="radio" id="Privacy" name="Privacy" @(Model.GroupVM.Group.IsPrivate ? Html.Raw("checked='checked'") : MvcHtmlString.Empty) value="Private" /><span>
                                @Model.ContentCreateGroup[CreateGroupContent.Private]</span><span style="font-style: italic;">
                                    @Model.ContentCreateGroup[CreateGroupContent.OnlyInvitedMembersCanJoinThisGroup]</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="divRow">
                <div class="divCell">
                    <h5>
                        @Model.ContentCreateGroup[CreateGroupContent.Category]:
                    </h5>
                </div>
                <div class="divCellRight">
                    @Html.DropDownListFor(c => c.GroupVM.Group.CategoryId, new SelectList(Model.Categories, "GroupCategoryId", "GroupCategoryName", Model.GroupVM.Group.CategoryId), "Select one", new { id = "CategoryId", Name = "CategoryId" })
                </div>
            </div>
            <div class="divRow">
                <div class="divCell">
                    <h5>
                        @Model.ContentCreateGroup[CreateGroupContent.Description]:</h5>
                </div>
                <div class="divCellRight">
                    <textarea id="txtDescription" rows="6" name="Description" style="width: 400px; overflow: auto">@Model.GroupVM.Group.Description</textarea>
                </div>
            </div>
        </div>
        }
        if (Model.Mode == "Edit" || Model.Mode == "Create_1")
        {
            if (Model.Mode == "Create_1")
            {
                        
        <div>
            <h4 class="blue">
                @Model.ContentGroupCreated[CGYourGroupHasBeenCreatedContent.YourGroupHasBeenCreated]</h4>
            <p id="pInviteMessage" vlc_name="pInviteMessage">
                @Model.ContentGroupCreated[CGYourGroupHasBeenCreatedContent.EnterTheNames_GroupWhenYoureF_eenCreated]</p>
        </div>
            }
            else
            {
        <h5>
            Invitation:</h5>
            }
        <br />
        <div id="divInvite">
            @Html.Partial("PartialViews/Invite", Model.Invite)
        </div>
        }
        <div style="clear: both; padding: 15px; margin-bottom: 70px;">
            @if (Model.Mode == "Edit")
            {
                <span class="anchorSpan" id="deleteGroup">@Model.ContentCreateGroup[CreateGroupContent.DeleteThisGroup]
                </span>
            }
            <div style="float: right;">
                <input id="btnCancelGroup" type="button" value="@Model.ContentCommon[CommonLabelsContent.Cancel]" onclick="window.location.href = AppPath+'/social/myGroups'"
                class="vbtn_gray_b_md" name="btnCancelGroup" />
                @if (Model.Mode == "Create")
                {
                    <input id="btnCreateGroup" type="button" value="@Model.ContentCreateGroup[CreateGroupContent.CreateGroup]" class="vbtn_red_b_md"
                    name="btnCreateGroup" />
                }
                @if (Model.Mode == "Edit")
                {
                    <input id="btnSaveSend" type="button" value="@Model.ContentSocial[SocialChallengePromotionLabelsContent.SendAndSave]" class="vbtn_red_b_md" />
                }
                @if (Model.Mode == "Create_1")
                {
                    <input id="btnSend" type="button" value="@Model.ContentGroupCreated[CGYourGroupHasBeenCreatedContent.SendInvites]" class="vbtn_red_b_md" />
                }
            </div>
        </div>
    }
    <div id="importCSV" style="display: none">
        <div>
            @Model.ContentSocial[SocialChallengePromotionLabelsContent.MakeSureYourFileContainsAddresses]
        </div>
        <div style="height: 110px; text-align: center;">
            <div style="height: 20px;">
            </div>
            <form method="POST" enctype="multipart/form-data" id="uploadCSVFile" name="uploadCSVFile">
            <input type="file" name="fileBase" id="fileBase" />
            </form>
            <p style="text-align: left; padding: 10px">
                @Model.ContentGroupCreated[CGYourGroupHasBeenCreatedContent.PleaseNoteTheMoreInviteesOn_TakeToUpload]
                <br />
                @Model.ContentGroupCreated[CGYourGroupHasBeenCreatedContent.ThanksForYourPatience]</p>
        </div>
        <div style="padding: 12px 7px;">
            <img src="/v2/content/images/shared/csv_icon.png">
            <a href="/v2/content/files/Template.csv" target="_blank">@Model.ContentSocial[SocialChallengePromotionLabelsContent.DownloadCsvTemplate]</a>
        </div>
    </div>
</div>
