﻿@using System.Web.Script.Serialization
@using System.Web.Mvc.Html;
@using Vhm.Web.Common
@using Vhm.Web.Models.RepositoryModels
@using Vhm.Web.Models.ViewModels.Shared
@using Vhm.Web.Models.ViewModels.Social
@model MyGroupsModel
@helper Encode(object obj)
    {
    @(new HtmlString(new JavaScriptSerializer().Serialize(obj)));
}           
@{
    Layout = "~/Views/Shared/MasterTwoCol.cshtml";
    string resourceVersion =ApplicationSettings.CachedResourceVersion;
}
@section Styles
{
    <link href="@Url.Content("~/Content/Style/SocialStyles/SocialStyles.css?v=" + resourceVersion)" rel="stylesheet" type="text/css"/>
}
@section Script
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/JQuery/jquery.webservice.js")"></script> 
    <script type="text/javascript" src="@Url.Content("~/Scripts/Shared/vhmButtons.js?v=" + resourceVersion)"></script> 
    <script type="text/javascript" src="@Url.Content("~/Scripts/VHM/Social/social.js?v=" + resourceVersion)"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/VHM/Social/SocialMyGroups.js?v=" + resourceVersion)"></script>
    <script type="text/javascript">
        var modelData = @Html.Raw(Json.Encode(Model.PagedGroups));
        var myGroups_TotalNo = @Html.Raw(Json.Encode(Model.PagedGroups.GroupsPaginationInfo.TotalNumberOfItems));
        var listOfGrpNames = @Html.Raw(Json.Encode(Model.JsonMemberGroupsNames));
        var listOfFriendsNames = @Html.Raw(Json.Encode(Model.JsonMemberFriendsNames));
    </script>
} 
  
@{
    ViewBag.Title = "MyGroups" ;
    ViewData["pageTitle"] = new PageTitle(Model.PageT.ShowPageTitle, Model.PageT.PageTitleName);   
}
<div class="divContentSummaryCount">
    <div class="divSocialRequests" id="divPendingInvitations">
    @{
        if(Model.HasGroupInvitations)
        {
            <a id="aGroupInvitations" class="blueLink" style="vertical-align:middle; text-decoration:none;" href="javascript:VHM.SocialGroups.OpenGroupInvitations();">
                <i class="icon-group main-theme" style="font-size:14px; vertical-align:top;" id="aGroupInvitations" alt="Group Invitations"></i>
                &nbsp;
                @Model.GroupInvitationsMessage
            </a>
        }
    }
</div>
    <h3 class="stylev3 rightpanel_header" id="lblGroupsCount"></h3>

</div>

 <input type="hidden" id="hdnLocalization_SorryTheGroupFor" value="@Model.Content[MyGroupsContent.SorryTheGroupForThisInvitat_sBeenRemoved]"/>
 <input type="hidden" id="hdnLocalization_NoMatchesWereFound" value="@Model.ContentSocial[SocialChallengePromotionLabelsContent.NoMatchesWereFoundFor]"/>
 <input type="hidden" id="hdnLocalization_NumberMatchesWereFound" value="@Model.Content[MyGroupsContent.NumberMatchesWereFoundForText]"/>
 <input type="hidden" id="hdnLocalization_N1MatchWasFound" value="@Model.ContentSocial[SocialChallengePromotionLabelsContent.FoundOneMatch]"/>
 <input type="hidden" id="hdnLocalization_YouAreNotAMember" value="@Model.Content[MyGroupsContent.YouAreNotAMemberOfAnyGroupsS_reateYourOwn]"/>
 <input type="hidden" id="hdnLocalization_YouAreAMemberOfNumber" value="@Model.Content[MyGroupsContent.YouAreAMemberOfNumberGroups]"/>
 <input type="hidden" id="hdnLocalization_YouAreAMemberOf1" value="@Model.Content[MyGroupsContent.YouAreAMemberOf1Group]"/>


<div id="divReturnToGroups" class="divInvitationsRequests" style="display: none;">
	<input id="btnReturnToGr" class="AL-button btn yellow-button" onclick="javascript:VHM.SocialGroups.BackToMyGroups();" name="btnReturnToGr" value="@Model.Content[MyGroupsContent.BackToMyGroups]" type="button"/>
</div>

<div id="divPagedGroups"></div>

@section RightColumn
{
    <div class="rightGraySection">
        <div id="divSearch" class="divRgtSectArea search-friends-area">
            <h3 class="stylev3" style="font-size:18px;border-bottom:none;padding-left:0px;">@Model.Content[MyGroupsContent.SearchForGroups]</h3>
            <ul id="rdo_list" class="ulSocialSearch">
                <li><label><input value="GroupName" type="radio" class="rdoSearchGrp" name="rdo_GroupSearch" checked /> @Model.Content[MyGroupsContent.ByGroupName]</label><br /></li>
                <li><label><input value="Administrator" type="radio" class="rdoSearchGrp" name="rdo_GroupSearch"/> @Model.Content[MyGroupsContent.ByAdministrator]</label></li>
                <li><label><input value="Category" type="radio" class="rdoSearchGrp" name="rdo_GroupSearch"/> @Model.Content[MyGroupsContent.ByCategory]</label></li>
            </ul>
            <div  style="padding-top:5px; width: 200px; margin-bottom: 10px">
                <input id="searchGroup" type="text" name="searchGroup" class="inputText" autocomplete="on" style="width:200px; height:25px;" />
                <input id="searchGroupByAdmin" type="text" name="searchGroupByAdmin" class="inputText" autocomplete="on" style="display: none; width: 200px; height: 25px;"/>
                </div>
            <div>
                @Html.DropDownListFor(c => c.AllGroupCategory,
                            new SelectList(Model.AllGroupCategory, "GroupCategoryId", "GroupCategoryName"),
                            "Select one")
            </div>
            <div style="padding-top:5px; padding-right: 6px;overflow:auto;">
                <input id="btnSearchGroup" type="button" value="@Model.ContentSocial[SocialChallengePromotionLabelsContent.Search]" class="AL-button btn yellow-button" name="btnSearchGroup" onclick="javascript:VHM.SocialGroups.SearchForGroup(this);" />
            </div>
        </div>
        <div id="divCreateNewSpace" class="divRgtSectArea create-new-group">
           <a id="crtGroupLink" href="@Url.Action("CreateEditGroup")" class="AL-button btn yellow-button" >@Model.Content[MyGroupsContent.CreateANewGroup]</a> 
        </div>
        <div id="divSuggestedGroups" class="divRgtSectArea ">
            @{
                if(Model.SuggestedGroups.Count > 0)
                {
                    <h3 class="rightpanel_header">@Model.Content[MyGroupsContent.SuggestedGroups]</h3>
                    <ul class="SocialList">
                        @for (var i = 0; i < Math.Min(Model.SuggestedGroups.Count, 3); i++)
                        {
                            <li class="suggestedItems">@Html.Partial("_GroupLink", Model.SuggestedGroups.ElementAt(i))</li>
                        }
                    </ul>
                    if (Model.SuggestedGroups.Count > 3)
                    {
                        <div id="divShowMoreSuggestGr" class="clsSeeMore">&nbsp;<a id="aShowMoreSuggestGr" class="AL-button cancel btn grey-button" href="javascript:VHM.SocialGroups.OpenSuggestGroup();">@Model.ContentSocial[SocialChallengePromotionLabelsContent.SeeMoreWithPoints]</a></div>
                        <div class="clearfix"></div>
                    }   
                }
            }
        </div>
    </div>
}
<div id="divGroupProfile"></div>
<div id="divPendGrpInvPopUp"></div>
<div id="divSgstdGrpsPopUp">
    <div id="loadingSuggested" style="display:none;"> 
        <div id="divSpinnerSuggested" class="centerSpinInDialog"><img src="@Url.Content("~/Content/Images/Shared/spinner.gif")" alt="@Model.Content[MyGroupsContent.LoadingYourGroups]" class="ImgSpinner" /></div>
    </div>
    <ul id="suggestMoreGroups" class="suggestedList" ></ul>
    <div id="divContinueShowing" class="clsSeeMore">&nbsp;<a id="aShowMoreSuggestGroups" class="blueLink" href="javascript:VHM.SocialGroups.ShowMoreGroups();">@Model.ContentSocial[SocialChallengePromotionLabelsContent.SeeMoreWithPoints]</a></div>
</div>
<div id="ContentLoading" class="centerLoading" style="display:none;">
    <div id="divSpinner"><img src="@Url.Content("~/Content/Images/Shared/spinner.gif")" alt="@Model.Content[MyGroupsContent.LoadingYourGroups]" class="ImgSpinner"/></div>
</div>
<div id="Loading" class="loadingWaitdiv">
    <div style="padding:50px;text-align:center;">
		<img src="@Url.Content("~/Content/Images/Shared/spinner.gif")" alt="@Model.ContentSocial[SocialChallengePromotionLabelsContent.Searching]" class="ImgSpinner" />
		<br />
		<br />
		<strong class="loadWaitMSG">@Model.ContentSocial[SocialChallengePromotionLabelsContent.JustAMomentWithPoints]</strong>
		<p id="prog_msg">@Model.Content[MyGroupsContent.WereLoadingYourGroups]</p> 
    </div>
</div>	

<script  type="text/x-jquery-tmpl" id="suggestedGroupsPopUpTmpl">
    <li class="SocialListItems">
    @Html.Partial("_GroupLink", new Vhm.Web.Models.ViewModels.Social.GroupVM() { IsClickable = true, ImageSrc = "${GroupId}", sGroupId = "${GroupId}", ShortGroupName = "${ShortGroupName}", Group = new Group() { Name = "${GroupName}", Category = "${Category}", ProfilePicturePath = "${ProfilePicturePath}" } })
    </li>
</script>
