﻿.ActivityTracker
{
	background-image: url(/images/ActivityTracker/TrackerBackLine.png);
	background-repeat: no-repeat;
	height: 40px;
	padding: 15px 0 5px 0;
	width: 201px;
}


.ActivityTracker2
{
	background-image: url(/images/ActivityTracker/TrackerBackLineOnly.png);
	background-repeat: no-repeat;
	height: 11px;
	padding: 14px 0 0 0;
	width: 224px;
}
.ActivityTrackerYesNo {
	height: 60px;
	padding: 15px 0 5px 0;
	margin-top: -20px;
	
}
.ActivityTrackerYesNo .badge-info {
	display: inline-block;
	text-align: center;
	color: #fff;
	margin: 0 15px;
	padding-bottom: 5px;
	width: 70px;
}
.selected .ActivityTracker2
{
    background-image: url("/images/ActivityTracker/TrackerBackLineOnly_red.png");
}
a.kagLink {
	color: #06c;
}
div.TrackerNoEditMessage
{
	background: url(/images/ActivityTracker/TrackerPopupBubble.png); 
	background-repeat: no-repeat; 
	color: #656565;
	display: none;
	font-size: 10px;
	font-weight: bold;
	height: 48px;
	margin-left: -60px;
	margin-top: -55px;
	padding-top: 10px;
	position: absolute;
	text-align: center;
	width: 152px;
	z-index:2;
}

.TrackerMessage
{
	color: #999999;
	font-size: 10px;
	font-weight: bold;
	margin-left: 60px;
	margin-top: -10px;
	text-align: center;
	width: 114px;
	position: absolute;
}
.trackerLowVal
{
	float: left;
	font-size: 12px;
	font-weight: bold;	 
	
}
.trackerVal{
	cursor:pointer;
	background-repeat: no-repeat;
	color: #fff;
	font-size:9px;
	font-weight: bold; 
	height:23px;	
	margin-top:-10px;
	padding-top:5px;
	position: absolute;
	text-align: center;
	width:34px;
	z-index:2;
}

.trackerVal a{
	color: #fff;
	font-size:9px;
	font-weight: bold; 
	height:23px;	
	/*position: absolute;*/
	text-align: center;
	text-decoration: none;
	width:34px;
	z-index:2;
}


input.trackerRadio {
	/*position: relative;*/
	display: none;
	/*margin-left: 28%;*/
}

.hasValue
{
	background-image:url(/images/ActivityTracker/Tracker.png);
}
.noValue
{
	background-image:url(/images/ActivityTracker/TrackerGrey.png);
}   

.btn-bool.trackerVal{
	color: #666666;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	height: 33px;
	margin-right: 3px;
	position: relative;
	width: 103px;
}
	.btn-bool.trackerVal.btn-main, .btn-bool.trackerVal.btn-main:hover {
		border-color: inherit;
		color:#ffffff;
	}

.trackerDateDisplayContainer
{
	height: 18px;
	width:170px;
}

.trackerDateDisplayContainerYesNo
{
	margin-bottom: 20px;
}
.trackerDateDisplay
{
	background: transparent;
	border: none;
	color: #333333;
	font-size: 9px;
	font-weight: bold;
	margin-bottom: 4px;
	vertical-align:top;
	width: 85px;
	vertical-align: middle;	
	margin-right: 10px;
}

div.trackerLabel
{
	background-image: url('/images/ActivityTracker/TrackerLabelShim.png');
	background-repeat: repeat;
	margin-top: -11px;
	padding: 4px;
	position: absolute;
	width: 20px;
}

div.lowVal, div.highVal
{
	font-size: 10px;
    font-weight: bold;
    color: #666;
}

div.lowVal
{
	margin-left: 5px;
}

div.highVal
{
	margin-left: 170px;
}

.ui-datepicker .ui-datepicker-title
{
	line-height: 1.8em;
}

.ui-corner-all 
{
	/*-webkit-border-radius: 4px;*/
}
/*div.ui-widget-content*/
div.trackerDatePicker
{
	background-color: #fff;
	border: 1px solid #C10400;
	-webkit-border-radius: 4px;
}