﻿h4, h3
{
    margin: 0;
    padding: 0;
}
h4
{
    line-height: 18px;
    font-size: 13px;
}

#wrapper {
    padding-top: 35px;
}
.deviceNotConnected, .deviceConnected
{
    background-repeat: no-repeat;
    float: right;
    clear: right;
    width: 175px;
    font-weight: bold;
}
.connectionButton
{
    background-image: url('../Images/Activity/btn-runkeeper.png') !important;
    background-repeat: no-repeat;
    background-color: red !important;
    background-color: transparent !important;
    width: 200px;
    height: 30px;
    margin: 7px 0 7px 0;
}

.connectionButton:hover
{
    background-image: url('../Images/Activity/btn-runkeeper-hover.png') !important;
}

.FitbitConnectionButton
{
    background-image: url('../Images/Activity/btn-fitbit-normal-200x26.png') !important;
    background-repeat: no-repeat;
    background-color: red !important;
    background-color: transparent !important;
    width: 200px;
    height: 26px;
    margin: 7px 0 7px 0;
}

.FitbitConnectionButton:hover
{
    background-image: url('../Images/Activity/btn-fitbit-hover-200x26.png') !important;
}

.floatRight
{
    float: right;
    clear: right;
}
.floatLeft
{
    float: left;
    clear: left;
}
.floatLeftStatus
{
    float: left;
    clear: right;
}
.floatRightStatus
{
    float: right;
    clear: right;
}
.RunKeeperImg
{
    background-image: url('../Images/Activity/runkeeper-icon.png');
    width: 90px;
    height: 90px;
}
.RunKeeperText, .OtherDeviceText, .RunKeeperDeviceURL
{
    width: 130px;
}
.endomondoDeviceContent {
    width: 140px;
    margin-bottom: 20px;
}
.misfitDeviceContent {
    width: 140px;
    margin-bottom: 20px;
}
.misfitConnectBtn {
    width: 170px !important;
}
.RunKeeperInfoURL
{
    margin-top: 20px;
}
.buttonDiv
{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 255px;
}

.FitbitImg
{
    background-image: url('../Images/Activity/fitbit-zip.png');
    background-repeat: no-repeat;
    width: 90px;
    height: 88px;
    padding-right: 10px;
    padding-bottom: 3px;

}


.OtherDeviceImg
{
    background-image: url('../Images/Activity/other-devices.png');
    background-repeat: no-repeat;
    width: 100px;
    height: 140px;
}

ul#trackers
{
    width: 600px;
    margin: 0px auto;
    padding: 0;
    overflow: auto;
    list-style-type: none;
}
#trackers li
{
    margin-right: 20px;
    float: left;
}
.AppStoreImg, .DashAppImg, .PolarImg
{
    background-repeat: no-repeat;
    margin-left: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
}
.GoZoneImg
{
    background-image: url('../Images/Activity/gozone.jpg');
    width: 124px;
    height: 127px;
}


.AppStoreImg
{
    background-image: url('../Images/Activity/btn-iphone.jpg');
    width: 175px;
    height: 65px;
    background-repeat: no-repeat;
}
.GooglePlayImg
{
    background-image: url('../Images/Activity/btn-android.jpg');
    width: 175px;
    height: 61px;
    background-repeat: no-repeat;
}
.DashAppImg
{
    background-image: url('../Images/Activity/dash.jpg');
    width: 180px;
    height: 300px;
 
}
.PhoneAppDiv
{
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
}
.PolarImg
{
    background-image: url('../Images/Activity/polar.jpg');
    width: 90px;
    height: 127px;
}
h4.grey, h4.lightGrey
{
    margin-bottom: 10px;
}
h4 ul :before
{
    content: "-  ";
}
h4 ul
{
    list-style-type: none;
}
.vbtn_red_c_md
{
    margin-bottom: 5px;
}

.statusBox
{
    width: 250px !important;
}

h5
{
    font-weight: bold !important;
}
.btn.grey-button {
background-color: #dbd4c6;
background-image: -moz-linear-gradient(top,#f1eee8,#dbd4c6);
background-image: -webkit-gradient(linear,0 0,0 80%,from(#f1eee8),to(#dbd4c6));
background-image: -webkit-linear-gradient(top,#f1eee8,#dbd4c6);
background-image: -o-linear-gradient(top,#f1eee8,#dbd4c6);
background-image: linear-gradient(to bottom,#f1eee8,#dbd4c6);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
color: #666;
border-color: #e0d9cd;
padding: 5px 17px;
text-shadow: none;
font-size: 16px;
}
/* Fitness Tracking Devices - Wolverine Styles */

.main_twoColumnLeft {
    width: 540px !important;
}
.right_twoColumnLeft {
    width: 290px !important;
}
.deviceHeader {
    background-color:#f6f6f6 !important;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    padding-left: 5px;
    padding-top: 25px !important;
    padding-left: 15px;
    padding-bottom: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: -1px;
    line-height: 15px !important;
    text-transform: uppercase;
    color: #008aa2;
}
.deviceContentShort {
    height: 260px;
    padding: 20px;
    background-color:#f6f6f6 !important;
}    
.deviceContent {
    height: 270px;
    padding: 20px;
    background-color:#f6f6f6 !important;
}

.margb10 {
    margin-bottom: 10px;
}
.margt10 {
    margin-top: 10px;
}
.linksNormal {
    font-weight: normal !important;
}
.linksThemed {
    color: #008aa2!important;
}
.right_twoColumnLeft h2 {
    font-size: 36px;
    font-weight: normal;
    line-height: 28px;
    padding: 0;
    padding-left: 5px;
    padding-bottom: 7px;
    margin: 0px 0 15px 0;
    border-bottom: 1px dotted #ddd;
}
.right-col-box {
    margin-bottom: 40px;
}
.right-col-box .btn.grey-button{
    min-width: 190px;
}
.right-col-box .box-image {
    float: right;
     margin-left: 10px;

}
.devices-list {
    background-color: #f6f4f2;
    padding: 20px;
}
.devices-list h2 {
    margin-bottom: 20px;
}
.devices-list .device-item {
    clear: both;
    margin-bottom: 50px;
}
.devices-list .device-item .device-image{
    float: left;
    width: 105px;
    margin-top: 10px;
}
.devices-list .device-item .device-image img{
    width: 88px;
}
.devices-list .device-item .device-info{
    float: left;
    width: 370px;
}
.devices-list .device-item .device-info p{
    padding-top: 0px;
    margin-top: 0px;
}
.devices-list .device-item .device-info p strong{
    padding-top: 0px;
    margin-top: 0px;
    color: #626a73;
}
.devices-list .search-box {
    width: 260px;
    margin-bottom: 40px;
}
.devices-list .search-box input[type="text"] {
    width: 140px;
}
.device-item h4 {
    border-bottom: 1px dotted #ddd;
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
    color: #626a73;
    width: 375px;
    clear: both;
}
.device-item h4 span {
    font-size: 11px;
    color: #626a73;
    font-weight: normal;
    font-style: italic;
}
.device-connection {
    float: left;
    width: 378px;
    padding-top: 10px;
}
.device-connection .status {
    float: left;
    padding-top: 8px;
}
.device-action {
    float: right;
    width: 160px;
    margin-right: 10px;
}
.status-data.red{ color: red;}
.status-data.green{ color: green;}

#connToVendorResponseError .modal-header, #connToVendorResponseConflict .modal-header, #connToVendorResponseSuccess .modal-header {
    padding: 15px 15px 0;
    border-bottom: none;
}
#connToVendorResponseError .modal-body, #connToVendorResponseConflict .modal-body, #connToVendorResponseSuccess .modal-body{
    padding: 0px 15px 15px;
}