﻿.dropdown-toggle.pull-right.userProfileName
    {
    width:auto;
    }
#wrapper .row .span12 .span3
	{
	margin-left:60px;
	}
#hdnUploadPic
{
	-moz-opacity: 0;
	opacity:0;
	filter: alpha(opacity=0);
}