﻿.VHMbody{
    color: #333;
    background-color: #fff;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top:0px;
}
/*styles for the text boxes*/
input[type=text], input[type=password] {
    width: 200px;
    padding: 5px;
    margin-right: 10px;
    border-radius: 6px;
    border: 1px solid #CCC;
    height: 19px;
    box-shadow: 0 0 8px #EDEAEA;
    font-size: 13px;
    vertical-align:middle;

}
.wrapper_OneColumn
{
    padding: 35px 40px 0 40px;
    overflow: hidden;
    text-align: left;
    /*margin: 0px auto; - add this to center align the content*/
    margin: 0px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 8px #bbb;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    padding-bottom: 30px;
    background-color: #fffcf6;
}

.interimWrap
{
    width: 400px;
}
.uploadGoZonoeWrap {
    overflow: auto;
    clear: both;
}
.interimWrap_TwoColumn { width: 350px;}
.floatRight { float: right;}
.floatLeft { float: left;}
#pageContainer {
    bottom: 0;
}
#floatingcontent
{
    width: 950px;
    padding: 0 0 60px 0;
    margin: 0 auto;
    /*margin: 0 auto 60px auto;*/
    min-height: 450px;
}
.headerMenuLogo
{
    clear: both; /* float: left;     width: 75%;*/
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}
.languageNotAvailable {
    overflow: auto;
    position: absolute;
    margin-top: -70px;
    margin-left: 200px;
   border: 1px solid #CDC8B1;
}
/* footer */
.VHMfooter, .push
{
    background-repeat: repeat-x;
    bottom: 0;
    height: 43px;
    clear: both;
     /* line-height: 40px; margin: 0;     padding: 0;    position: absolute;*/
}
ul
{
    list-style-type: disc;
    padding-left: 20px;
}
/* Top Header */
#header
{
    background: #d5cfc6;
    box-shadow: 2px 1px 6px #999;
    height: 30px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
}
#headerSub ul
{
    height: 30px;
    position: absolute;
    right: 0;
    padding: 0;
    list-style-type: none;
}
#headerSub ul li
{
    position: relative;
    float: left;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
    margin-right: 1px;
    line-height: 30px;
    font-size: 12px;
}

#headerSub ul li:hover
{
    background: #EEEEEE;
    border-left: 1px solid #BFBAB1;
    border-right: 1px solid #BFBAB1;
    margin-left: 4px;
    margin-right: 0px;
}


#headerSub ul li.expandable
{
    padding-right: 10px;
}

#headerSub ul li.expandable span
{
    padding-right: 20px;
    background-image: url('/v2/Content/Images/Header/arrow-nav.png');
    background-repeat: no-repeat;
    background-position: right;
}

#headerSub ul li
{
    cursor: default;
}

#headerSub ul li a
{
    cursor: pointer;
}

#headerSub ul li a
{
    color: #333333;
}

#headerSub ul li:hover ul
{
    display: block;
    padding: 0;
}

#headerSub ul li ul
{
    z-index: 110;
    position: absolute;
    display: none;
    height: auto;
    left: 0;
    top: 30px;
    background: #EEEEEE;
    margin-left: -1px;
    margin-right: -1px;
    padding: 0;
    border-right: 1px solid #BFBAB1;
    border-bottom: 1px solid #BFBAB1;
    border-left: 1px solid #BFBAB1;
}

#headerSub ul li ul li
{
    z-index: 110;
    float: none;
    text-align: left;
}

#headerSub ul li ul li:hover
{
    border: none;
    margin-left: 5px;
    margin-right: 1px;
}

#headerSub ul li ul li a
{
    color: #0066cc;
}

#headerSub ul li.expandable ul span
{
    background: none;
}


/*  Main Navigation */
/*
#mainNav
{
    list-style-type: none; 
    text-align: center;
    margin: 25px 0 0 0;
    height: 45px;
    font-size: 15px;
    background-color: #F4F1E5;
    font-family: Arial, Helvetica, Verdana, sans-serif;
}

#mainNav li
{
    position: relative;
    display: inline-block;
    display: -moz-inline-box; 
    width: 16%;
    text-align: center;
    float: left;
    padding-bottom: 0px;
    line-height: 45px;
    border-right: 1px solid #d3cec8;
    text-shadow: 1px 1px #ccc;
    zoom: 1; 
    z-index: 100;
}

#mainNav li:last-child
{
    border-right: none !important;
}

#mainNav li a
{
    cursor: default;
    text-decoration: none;
    padding-right: 15px;
    background-repeat: no-repeat;
    background-position: right center;
    z-index: 15;
}

#mainNav li ul
{
    z-index: 15;
    display: none;
    position: absolute;
    padding-left: 30px;
    margin-left: -1px;
    border: 1px solid #D3CEC8;
    background-color: #F4F1E5;
    text-align: left;
    left: 0;
    top: 45px;
    width: 200px;
}

#mainNav li:hover ul
{
    display: block;
}

#mainNav li ul li
{
    float: none;
    display: block;
    width: auto;
    text-align: left;
    line-height: 45px;
    border: none;
}

#mainNav li ul li a
{
    cursor: pointer;
    background: none;
    color: #575551;
    text-shadow: none;
}
*/
/*  Main Content Header */
#extendableHeader
{
    width: 950px;
    overflow: hidden;
    margin: 20px auto 0 auto;
    padding: 0;
    height: 35px;
    border-width: 0;
    background-color: transparent;
}

#extendableHeader_sub
{
    position: relative;
    display: inline;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    border-radius: 6px 6px 0 0;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-top-left-radius: 6px;
    -moz-border-top-right-radius: 6px;
}

#extendableHeader_sub div
{
    display: inline;
    float: left;
    height: 35px;
    margin: 0;
}

#extendableHeader .middle
{
    background-repeat: repeat-x;
}

#extendableHeader .left
{
    width: 5px;
    background-repeat: no-repeat;
}

#extendableHeader .right
{
    width: 5px;
    background-repeat: no-repeat;
}

/*  end content header */


/* general */
.contentSection
{
    padding-bottom: 35px;
}

.box
{
    padding: 20px;
    margin-bottom: 30px;
}

div.box.blue
{
    background-color: #c8e5ff;
}

div.box.grey
{
    background-color: #e9e9e9;
}

div.box.yellow
{
    background-color: #ffffcc;
}



/* fonts */

#contentHeader
{
    font-size: 18px;
    font-weight: normal;
    text-shadow: 1px 1px #333;
    color: #fff;
    width: 900px;
    overflow: hidden;
    padding: 9px 20px 0 20px;
}


.darkBlue
{
    color: #003366;
}

.red
{
    color: #990000;
}

.grey
{
    color: #333333;
}

.lightGrey
{
    color: #666666;
}

.green
{
    color: #006600;
}


h1
{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
}
h2
{
    font-size: 18px;
    line-height: 19px;
    font-weight: bold;
    margin-bottom: 9px;
}
h3
{
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}
h4
{
    font-size: 13px;
    line-height: 13px;
    font-weight: bold;
    margin-bottom: 7px;
}
h5
{
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    margin-bottom: 6px;
}
h6
{
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* start links */

a
{
    color: #0066cc;
    text-decoration: none;
}

a:hover, a:active, a:focus, a:visited, a:link
{
    color: #0066cc;
    text-decoration: underline;
    cursor: pointer;
	/*display: block; - this makes the inlnine urls flicker in IE. please don't add again'*/
}

.secondary, a.secondary
{
    display: block;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 14px;
}

a.tertiary
{
    /*display: block;*/
    font-size: 11px;
    font-weight: normal;
    line-height: 14px; /*padding: 0 0 20px 8px;*/
}

a#tertiaryHeader
{
    color: #fff;
    font-size: 87.5%;
    line-height: 87.5%;
    font-weight: bold;
}


#headerLink
{
    text-align: right;
    padding-right: 25px;
    margin-top: -17px;
}

#headerLink a:hover
{
    text-decoration: none;
}

/* end links */



.blue
{
    color: #003366;
}

.red
{
    color: #990000;
}

.grey
{
    color: #333333;
}

.lightGrey
{
    color: #666666;
}

.green
{
    color: #006600;
}

.popUpBlueTitle
{
    color: #003366;
}

.popUpRedTitle
{
    color: #990000;
    padding: 20px 20px 0 20px;
}

.anchorSpan
{
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.anchorSpan:hover
{
    text-decoration: underline;
}

.anchorSpan.disabled
{
    text-decoration: none;
    color: #666666;
    cursor: default;
}

.blueLink
{
    color: #0066cc;
}

.whiteLink
{
    color: #ffffff;
}

/* ******************************************************************************************
******************************OLD INTERIM STYLES - ported over*******************************
********************************************************************************************* */

.stepAdInfo
{
    margin: 10px;
    padding: 10px;
    background-color: #C8e6fc;
}

.frmLong
{
    min-height: 280px;
    height: auto !important;
    vertical-align: top;
}
.frmLong .columns
{
    padding: 0px;
}


#header a:link
{
    /*color:#333;*/
    text-decoration: none;
}
#header a:visited
{
    /*color:#333;*/
    text-decoration: none;
}
#header a:hover
{
    /*color:#666;*/
}
#header a
{
    outline: none;
}


:focus
{
    -moz-outline-style: none;
}
ul
{
    /*text-indent: 5px;*/
    list-style-position: outside;
    list-style-type: circle;
    padding-left: 6px;
}



.container
{
    width: 960px;
    margin: 0 auto;
}

#logo
{
    /*margin: 25px 0 35px 0; display: block;   float: left;     width: 152px;     position: relative;     height: 61px;     margin: 25px;     width: 480px;*/
    padding-top: 0px;
    padding-bottom: 0px;
    padding: 25px 0 40px 0;
}

#navMainContainer ul, .navMainContainer ul
{
    width: 100%;
    text-align: left;
    margin-top: 0px;
    position: relative;
    clear: both;
    vertical-align: top;
    height: 24px;
    margin-left: 0px;
    padding-left: 0px;
}

.shareSocial
{
    font-weight: bold;
    display: block;
    height: 1.75em;
    width: auto;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: dotted;
    border-bottom-style: solid;
    border-top-color: #333;
    border-bottom-color: #333;
    margin-top: .4em;
    margin-left: 0em;
}

.btnArrow
{
    position: absolute;
    display: inline;
    margin-top: 0.1em;
    top: 8px;
    right: 25px;
    width: 25px;
    height: 25px;
}
#subContent
{
    background-color: #ECE7DD;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #C00000;
    width: 680px;
    float: left;
    position: relative;
}

#subContentBody
{
    float: left;
    position: relative;
    width: 468px;
    padding-left: 20px;
    background-color: #fff;
    padding-top: 1em;
    padding-right: 20px;
    padding-bottom: 20px;
}
.subMainContent
{
    width: auto;
    margin: 0px;
    height: 100%;
    float: right;
    padding-left: 200px;
}


#subContentBody .Module
{
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #000;
    float: left;
    position: relative; /*	width: 465px;*/
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*CUSTOM DOTTED LINE ELEMENTS*/

.hrDotted
{
    border-top-width: 1px;
    border-top-style: dotted;
    border-top-color: #333;
    color: transparent;
    height: 1px;
    margin: 0px;
    padding: 0px;
}
.hrDottedSolid
{
    border-top-width: 1px;
    border-top-style: dotted;
    border-top-color: #000;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000;
    margin: 0px;
    height: 1px;
    clear: left;
    float: left;
    position: relative;
    padding: 0px;
    top: 0px;
}
.hrSolid
{
    background-color: #333;
    margin: 0px;
    padding: 0px;
}



.h1title
{
    font-size: 2.5em;
    line-height: 1;
    margin-bottom: 0.5em;
    color: #333;
    font-weight: normal;
}
.newsimage
{
    float: left;
    width: 100px;
    height: 100px;
    vertical-align: top;
}
.date
{
    font-weight: normal;
    color: #666;
    font-size: 14px;
    float: right;
    padding-left: 6px;
    margin: 0px 3px 0px 6px;
}
.htitle
{
    font-size: 1.2em;
    line-height: 1.25;
    margin-bottom: 0em;
    font-weight: bolder;
}
.tablenews tr td
{
    padding: 10px 0px 0px 0px;
}
fieldset
{
    padding: 0em;
    margin: 0 0 0 0;
    border: 0px solid #ccc;
}
legend
{
    font-weight: bold;
    font-size: 1.2em;
}
.long-form-form table
{
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, Sans-Serif;
    font-size: 1.0em;
    vertical-align: text-top;
    color: Black;
    padding-top: 0px;
}
.long-form-form hr
{
    background-color: Transparent;
}
.long-form-field-label
{
    padding-top: 0px;
    margin-top: 0px;
}
#long-form-dialog, #ui-dialog-title-long-form-dialog
{
    font-family: Trebuchet MS, Tahoma, Verdana, Arial, Sans-Serif;
    font-size: 1.1em;
    height: auto;
    width: auto;
    text-align: left;
    z-index: 1002;
}
.long-form-form, .long-form-working, .long-form-thankyou
{
}
#long-form-dialog .required
{
    color: Black;
}

.long-form-form h2, .long-form-working h2, .long-form-thankyou h2
{
    font-weight: normal;
    color: #333;
}
.long-form-form h2, .long-form-working h2, .long-form-thankyou h2
{
    font-size: 1.8em;
    margin-bottom: 0.2em;
    color: #C00000;
    padding-bottom: .4em;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    border-bottom-color: #000;
}
.ui-dialog
{
    font-size: 1.1em;
}
.bolditalic
{
    font-weight: bold;
    font-style: italic;
}
.bold
{
    font-weight: bold;
}

#oForgot
{
    font-weight: bold;
}
.loginEmail
{
    padding: 10px 0 20px 0;
}
.loginPassword
{
}
.forgotCell
{
    padding: 5px 0 15px 0;
}
.rememberUser
{
    padding-bottom: 25px;
}
.tdLogonCell
{
    padding: 0;
}
.remembermeLabel
{
    margin-left: 10px;
}
.howtojoin
{
    width: 410px;
    /* add margin-left :auto; margin-right:auto;  to center this section on the page*/
    margin: 20px 0 0 0;
}
#oNewMemberLink
{
    font-weight: bold;
}
.interimWrap h2
{
    font-weight: normal;
}
.watermark
{
    color: gray;
}
.graytext
{
    color: gray;
}
.graytextbox
{
    background-color: #d5cfc7;
    padding: 20px; 
     border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;    
}

.tanTextBox { 
background-color: #e6e2dd; 
padding: 20px; 
border-radius: 12px; 
box-shadow: inset 0px 0px 21px #d5cfc7;
font-size: 13px;
line-height: 19px;
color: #333 }

hr 
{
    height: 1px;
    border-top: 1px solid #CCC;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    display: block;
    margin: 30px 0 20px 0;
    }
    
    .required {color:#990000;}


.secondaryContentHeader, .secondarySmallHeader { color: #003366; }
.textMediumMain { font-size: 108.3% /*13px/1.083em*/; line-height: 158.3% /*19px/ 1.583em/*/; color: #333 }
.textMediumSecondary { font-size: 108.3% /*13px/1.083em*/; line-height: 158.3% /*19px/1.583em/*/; color: #666 }
.textSmallMain {font-size: 91.7% /*11px/0.917em*/; line-height: 141.7% /*17px/1.417em/*/; color: #333 }
.textSmallSecondary {font-size: 91.7% /*11px/0.917em*/; line-height: 141.7% /*1.417em/17px*/; color: #666; font-weight: bold }

.MainHeader, .contentSectionHeader, .disconnectedText { color: #990000; }
.subHeadersubHeader, .smallHeader, .secondaryMainHeader { color: #333333; }
.secondaryHeader { color: #666666; }
.connectedText { color: #006600; }
.footerSubHeader, .pageHeader { color: #ffffff; }

.login-body #footer .navbar-inner .container {
    width: 550px;
}