﻿.inv_wrapper_header
{
    background-color: #e0e0e0;
    padding-top: 10px;
    padding-left: 0.7em;
    padding-right: 0.7em;
    height: 24px;
    line-height: 2.5em;
    font-size: 13px;
    font-weight: bold;
    vertical-align: text-bottom;
}
.inv_wrapper
{
    float: right;
    width: 555px;
    height: 480px;
}
.inv_opt_wrapper
{
    float: left;
    min-height: 240px;
    width: 205px;
}
.inv_opt_contnt
{
    margin: 10px auto 0;
    padding: 15px 30px;
}
.inv_list
{
    height: 398px;
}
.inv_list_unv
{
    position: absolute;
    left: 60px;
    background-color: #444444;
    color: #ffffff;
    opacity: 0.95;
    filter: alpha(opacity=95);
    font-size: 12px;
    width: 310px;
    display: none;
}
.headerSortUp
{
    background-position: 50px 10px;
    background-image: url('../Images/Social/icon_arrow_up.gif') !important;
    background-repeat: no-repeat;
    cursor: pointer;cursor: hand;
}
.headerSortDown
{        background-position:50px  10px;
   background-image: url('../Images/Social/icon_arrow_down.gif')!important;  
   background-repeat:no-repeat;
    cursor: pointer;cursor: hand;
}
.spinner {
    position: absolute;
    z-index: 500;
}