﻿@import "vhm.mixins.less";

.hidden {
     display: none;
    color: #ffffff;
}
hr {
    height: 1px;
    border-top: 1px solid #CCC;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    display: block;
    margin: 10px 0 20px 0;
}
div.landingPageSection
{
	border: none;
	height: auto;
	padding: .2em;
	padding-bottom: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	min-width: 280px;
}
div.right div.landingPageSection
{
	padding-left: 10px;
}

h3.sectionTitle
{
	position: relative;
	width: 100%;
	padding-right: 14px;
    cursor: pointer;
    
    a {
        float: right;
	    margin-right: 10px;
    }
    
    span.sideNavStatusArrow {
        float: left;
        display: inline-block;
        width: 8px;
        height: 7px;   
        margin-top:5px;
        margin-right: 5px; 
        background-image: url('/v2/Content/images/social/icon_arrow_down.gif');
    }
    
    span.sideNavClosed {
        background-image: url('/v2/Content/images/social/icon_arrow_up.gif');    
    }
}

hr.hr_right
{
	width: 90%;
	text-align: left; /*this will align it for IE*/
	margin: 0 auto 5px 0; /*this will align it left for Mozilla*/
}

.VHMFatFooter 
{
    padding-bottom: 0px;
    box-shadow: 2px -2px 5px #CCC;
    margin: 0px auto 0px auto;
    padding: 25px 0px 33px 33px;
    width: 926px;
    background: #333333; /* Old browsers */
    .gradient(#4c4c4c, #333333);
    
    .col1{
        float: left;
        width: 240px;
        padding-right: 50px;
    }
    .col2 {
        float: left;
        width: 240px;
        padding-right: 70px;
    }
    
    .col3 {
        float: left;
        width: 160px;
        padding-right: 10px;
    }
    
    .col4{
        float: left;
        width: 150px;
    }
    
    ul {
        padding-left: 0px;
        padding-top: 10px;
    }
    
    ul li {
        list-style: none;
    }
    
    ul li a.disabled {
        color: #ccc;
    }
    
    h5.white {
        margin-top: 20px;
        font-size: 14px;
    }
}

.Col1FAQForm
{
    padding-bottom: 55px;
    
    h2 {
        padding-bottom: 20px;
        margin-bottom: 0px;
    }
    
    .FAQTextArea {
        border: 1px solid  #ccc;
        box-shadow: 0px 0px 5px #ccc;
        .rounded-corners(5px);
        background: white;
        padding: 7px 4px;
        color: #555;
        font-style: italic;
        overflow: auto;
        resize: none;
    }
    
    .FAQTextArea:focus {
        color: #333;
        font-style: italic;
    }
}

.FooterSearch {
    font-size: 16px;
    margin-top: 10px;
}

.goZoneFooterImg {
    position: absolute;
    float: right;
    display: block;
    margin-left: 180px;
    margin-top: -20px;
}

.VHMfooter
{
	float: left;
}
.VHMwrapperB
{
	float: left;
}
.left
{
	float: left;
	width: 580px;
}
.right
{
	float: right;
	width: 290px;
	margin-right: 10px;
}

div#wrapper {
	padding-bottom: 0px;
	padding-top: 15px;
	.border-radius(6px, 6px, 0, 0);
	box-shadow: 0 0 8px #CCC;
	margin: 0px auto 0px auto;
	width: 890px; /*need to override master width*/
}
.main_OneColumn
{
	padding-left: 0px;
	padding-right: 0px !important;
	padding-left: 10px !important;
	width: auto !important;
	overflow: visible;
}
.VHMwrapper, .VHMwrapperB
{
	overflow: visible;
}
#section
{
	overflow: hidden;
}
div.stats
{
	background: #7AC5CD;
	height: 20px;
}

li.reward
{
	list-style: none;
	float: left;
	margin: 0 0 20px 20px;
	cursor: pointer;
	&:first-child{
        margin-left: 0px;
    }
    
    img {
	    cursor: pointer;
	    width: 50px;
    }
}

li.reward label, label.reward
{
	position: absolute;
	margin-left: 0px;
	cursor: pointer;
	text-align: center;
	font-size: 1.3em;
	color: #B40C10;
	padding-top: 5px;
	font-weight: bold;
	height: 20px;
	width: 50px;
}

li.reward label.cash, label.cash
{
	margin-top: 5px;
	font-size: 1.7em;
}

.VHMPop_bInfoPop_Left
{
	float: left;
	width: 40%;
}
.VHMPop_bInfoPop_Right
{
	float: left;
	width: 40%;
}
.box.grey
{
	background-color: #f6f6f6;
	box-shadow: 0px 0px 6px #c2c2c2;
	padding: 10px;
}
img.ribbon
{
	position: absolute;
	right: -1px;
	margin-top: -18px;
}
div.whiteBox
{
	background-color: #fcfcfc;
	box-shadow: 0px 0px 6px #c2c2c2;
}
div.rewardTip
{
	background-color: #fcfcfc;
	border: solid 1pt #a0c7ff;
	.rounded-corners(4px);
	padding: 10px;
	position: absolute;
	display: none;
	width: 180px;
	margin-top: -70px;
	margin-left: -30px;
	box-shadow: 3px 3px 3px #CCC;
	
	h4 {
    	margin-bottom: 0px;
    }
    
    img {
	    position: absolute;
	    margin-top: 10px;
	    margin-left: 30px;
	    height: 20px;
	    width: 20px;
    }
}

.ActivityTracker
{
    margin-top: 10px;
}
/*CHALLENGES*/
h3.challengeText {
	font-weight: normal;
}
ul.challengeList {
	padding-left: 0px;
	li {
    	list-style: none;
	    padding: 10px 0 10px 0px;
    }
}

div.challengeInfo {
	float: left;
	width:200px;
	padding-right: 20px;
	a {
    	font-weight: bold;
    }
}

img.challengeBadge 
{
	height: 50px;
	width: 50px;
	
}
h5.kagQuestion {
	width:62%;
	line-height: 15px;
}
img.kagImage {
	position: relative;
	margin-left: 220px;
	margin-top: -30px;
	margin-bottom: 10px;
}
label.kagReward {
	margin-left: -50px!important;
	margin-top: -30px;
}
a.kagLink {
	display:block;
	color:#fff;
	line-height:20px;
	margin-left: 130px;
	margin-top: -15px;
	width:80px;
	text-align: center;
	text-decoration: none;
}
td.activityDay {
	border-bottom: solid 1pt #D0D0D2;
	height: 115px;
	vertical-align: bottom;
	img {
	    visibility: hidden;
	    position: absolute;
	    margin-left: 6px;
	    margin-bottom: 5px;
	    margin-top: -20px;
	    z-index: 1;	
    }
    
    img.earned {
	    visibility: visible;
    }
}

div.activityBar, div.gradient 
{
	height: 75%;
	width: 20px;
	background: #134d85;
	position: relative;
	zoom: 1;
	.border-radius(6px, 6px, 0, 0);
	.gradient(#134d85, #1e6bb7);
}

td.leftMargin {
	border-right: solid 1pt #E8E8E8;
	vertical-align: top;
	font-size: .9em;
	padding-right: 3px;
	width: 55px;
	h4 {
		margin-top: -5px;
		padding-left: 10px;	
	}
}

table.activityGraph {
	width: 90%;
	tfoot {   
	    td {
	        font-size: 10px;
	        padding-top: 8px;
	        padding-left: 2px;
	        text-align: center;
        }
    }
}

div.target {
	height: 15px;
	position: absolute;
	width: 258px;
	
	h6 {
	    background: #fff;
	    float: left;
	    padding-right: 5px;
	    text-align: right;
	    width: 46px;
    }   
}
div.targetLine {
	background-image: url('/v2/Content/images/dotted-line.png');
	background-repeat: repeat-x;
	float: left;
	height: 3px;
	margin-top: 5px;
	opacity: .6;
	-moz-opacity: .6;
	width: 195px;
}

h5.NoStepsMessage {
	color: #999;
	margin-left: 65px;
	margin-top: -5px;
	position: absolute;
	text-align: center;
	width: 200px;
}

/*RECENTLY EARNED REWARDS POPUP*/
.recentRewardsPopup
{
	background-repeat: no-repeat;
	outline: none;
	border: none;
	color: #fff;
	display: none;
	position: absolute;
	top: 50px;
	left: 20%;
	height: 700px;
	width: 900px;
}

div.rewardsListContainer {
	font-family: "VAG Rounded", "Arial Rounded", "Arial", sans-serif;
	height: 430px;
	padding-top: 114px;
	padding-left: 436px;
    margin-top: 50px;
    
    div.title {
	    font-size: 24px;
	    text-align: center;
	    width: 310px;
    }
    div.subtitle {
	    font-size: 20px;
	    padding-top: 15px;
	    text-align: center;
	    width: 305px;
    }
    div.subsubtitle {
    	font-size: 24px;	
    }
}

div.rewardsClose {
	padding-left: 235px;
	
	h3.jqmClose {
	    cursor: pointer;
	    height: 20px;
	    padding: 9px 5px 5px 5px;
	    text-align: center;
	    width: 100px;
	    background: #ccc;

	    border: 1pt solid #c9c9c9;
	    background: #ffffff;
	    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYmViZWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	    .gradient(#ffffff, #ebebeb);	
	
	    -webkit-border-radius: 6px;
	    -moz-border-radius: 6px;
	    -khtml-border-radius: 6px;
	    border-radius: 6px;
	    behavior: url(../Content/Themes/PIE.htc);
	    
	    &:hover{
            background: #ebebeb;
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViZWJlYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNGQ0ZDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            .gradient(#ebebeb, #d4d4d4);
        }
        
        &:active{
            background: #d4d4d4;
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q0ZDRkNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYmViZWIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            .gradient(#d4d4d4, #ebebeb);
        }
    }
}

table.rewardsList {
	font-family: "VAG Rounded", "Arial Rounded", Arial, sans-serif;
	font-size: 1.2em;
	line-height: 19px;
	margin-left: -215px;
	margin-top: 27px;
	td {
	    width: 220px;
	    &:first-child{
	        width: 60px;
        }
        &:last-child{
            width: 60px;
        }
    }
}
table.rewardsSubList 
{
	margin-left: -245px;
	margin-top: 10px
}

table.singleRewardsList {
	line-height: 18px;
	margin-left: -165px;
	margin-top: 80px;
}

ul#newsfeedList{
    li{
        a.profileLink, 
        a.profileLink:link, 
        a.profileLink:visited{
            font-weight: bold;
        	padding: 0px;
        }
    }
}

div.divUserProfile {
	display: none;
	label 
    {
	    display: inline-block;
	    font-weight: bold;
	    line-height: 20px;
	    width: 130px;
    }   
}

/*UP FOR GRABS*/
ul#upForGrabsList {
	list-style: none;
	margin-top: 20px;
	padding-left: 0px;
	
	li.reward {
	    float: left;
	    list-style: none;
	    margin-left: 0px;
	    padding-left: 10px;
	    padding-right: 10px;
	    height: 120px;
	    width: 100px; 	
	    label {
	        font-size: 1.3em;
        }
    }
    li {
        label.cash {
	        font-size: 1.6em;
        }
        a.secondary {
	        text-align: center;
	        width: 110px;
        }
        div.blueLink {
	        text-align: center;
	        width: 110px;
        }
        div.rewardListContainer {
	        height: 60px;
	        width: 70px;
        }
        img.ufgReward {
	        position: absolute;
	        width: 50px;
	        height: 50px;
        }
    }
}


/*REWARDS GRAPH - LEVELS*/
div.levelsContainer {
	width:320px; 
	padding-top: 5px; 
	padding-bottom: 15px;
	height: auto; 
	min-height: 350px;
	float: left;
}
	
div.tasksContainer {
	width:300px; 
	padding-top: 10px;
	padding-left: 10px;
	outline: none;
	height: 250px;
	float: left;
	margin-top: 10px;
}
select.levelsSelect {
	background: #cbc2b5;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	border-color: #d5cfc7;
	box-shadow: 0px 0px 8px #CCC;
	height: 33px;
	padding: 5px;
	option {
		display: block;
		height: 33px;
	}
}
	
table.levelsGraph {
	width: 100%;
	margin-top: 15px;
	min-height: 180px;
	td {
    	vertical-align:bottom;
    	
    	div.bar {
    	    .border-radius(6px, 6px, 0, 0);
	        position: relative;
	        width: 50px;
	        margin-left: 2px;
	        margin-right: 4px;
	        
	        h6 {
	            font-weight: normal;
	            padding-top: 4px;
	            padding-left: 2px;
	            position: relative;
	            z-index: 3;
	        }
	        label {
	            color: #fff;
	            font: normal 24px "VAG Rounded", "Arial Rounded", "Arial Rounded MT Bold", Arial;
	            position: absolute;
	            bottom: 0px;
	            opacity: .75;
	            text-align: center;
	            width: 50px;
	            -moz-opacity: .75;
	            z-index: 3;
            }
        }
        div.bar.level1 {
		    background: #bddbee;
		    height: 95px;
	    }
	    div.bar.level2 {
		    background: #bfeebd;
		    height: 135px;
	    }
	    div.bar.level3 {
		    background: #ffe5d4;
		    height: 175px;
	    }
	    div.bar.level4 {
		    background: #fbdcec;
		    height: 215px;
	    }
	    div.bar.level5 {
		    background: #ffe1e1;
		    height: 240px;
	    }
	    
	    div.completion {
	        position: absolute;
	        width: 50px;
	        bottom: 0px;
        }
        div.completion.level1 {
		    background: #134d85;
		    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzEzNGQ4NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZTZiYjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		    .gradient(#0c436d, #308ed6);
	    }
	    div.completion.level2 {
		    background: #24961f;
		    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI0OTYxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNmE2M2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		    .gradient(#064f00, #24961f);
	    }
	    div.completion.level3 {
		    background: #aa5809;
		    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2FhNTgwOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjMTY5MTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		    .gradient(#ad4201, #ff6200);
	    }
	    div.completion.level4 {
		    background: #8b115f;
		    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhiMTE1ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhYTIyNzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		    .gradient(#a92279, #ec50a1);
	    }
	    div.completion.level5 {
		    background: #a32121;
		    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2EzMjEyMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiODI1MjYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		    .gradient(#a92222, #ec5050);
	    }
	    h6 {
	        padding: 8px 0 1px 5px;
        }
        
        div.infoLevel {
		    text-align: center;
		    padding-top: 10px;
		    font-size: 1.3em;
		    margin-right: 4px;
		    margin-left: 4px;
		    height: 27px;
		    width: 50px;
	    }
	    div.infoLevel1 {
		    background: #0c436d ; 
	    }
	    div.infoLevel2 {
		    background: #064f00 ; 
	    }
	    div.infoLevel3 {
		    background: #ad4201 ; 
	    }
	    div.infoLevel4 {
		    background: #a92279 ; 
	    }
	    div.infoLevel5 {
		    background: #a92222 ; 
	    }
        
    }
}

label.graphStart, label.graphEnd 
{
	display: inline-block;
	width: 30%;
	font-size: 11px;
	color: #666;
}
label.graphStart {
	text-align: left;
}
label.graphEnd {
	text-align: right;
}
label.graphDaysLeft {
	display: inline-block;
	text-align: center;
	font-weight: bold;
	width: 37%;
	font-size: 11px;
	color: #036;
}

td.rightBorder {
	border-right: 5px solid #f2f2f2;
}

table.levelsInfo {
    border-collapse: collapse;
	width: 100%;
	height: 50px;
    
    td {
	    font-weight: bold;
	    height: 36px;
    }
    
    div.bar {
	    box-shadow: 2px -2px 5px #CCC;
	    text-align: center;
	    padding-top: 10px;
	    font-size: 1.3em;
	    height: 100%;
	    width: 50px;
	    margin-left: 4px;
	    margin-right: 4px;
    }
}
	
hr.rewardTypeRowDivider{
	position: absolute;
	opacity: .33;
	-moz-opacity: .33;
	width: 490px;
}
img.level5 {
	bottom: 0px;
	margin-left: 2px;
	position: absolute;
}
img.levlTop {
	height: 57px;
	width: 91px;
	position:absolute;
	margin-left: -18px;
	margin-top: -47px;
	z-index: 2;
}
img.runningMan {
	margin-left: 10px;
	margin-top: -35px;
	position: absolute;
}
img.lvl5runningMan {
	margin-left: 15px;
	z-index: 3;
}

/*2 x 2 SECTION*/
div.twoBytwo {	
	background-repeat: no-repeat;
	padding: 15px;
	width: 160px; 
	height: auto;
	min-height: 140px;
	float: left; 
	padding: 10px; 
	margin-left:50px;
	margin-top: -50px;
}

/***********************TASKS GRAPH************************************/
div#tasksGraph {
	margin-top: 20px;
}
div.task {
	.rounded-corners(20px);
	height: 30px;
	width: auto;
	position: relative;
}

div.task1 {
	display: inline-block;
	zoom: 1;
	/**display: inline;*/
	z-index: 14;
	.rounded-corners(20px);
	border-right: solid 1pt #fff;
	position: relative;
    height: 100%;
}
div.task1.milestone2 {
	margin-left: -25px;
	
}

div.taskBackground {
	background-color: #ccc;
	border-right: solid 1pt #fff;
	.rounded-corners(20px);
	height: 30px;
	behavior: url(/v2/content/themes/PIE.htc);
	position: absolute;
	zoom: 1;
	z-index: 1;
}
div.milestone1 {
	display: inline-block;
	zoom: 1;
	*display: inline;
	behavior: url(/v2/content/themes/PIE.htc);
}

div.milestone2 {
	display: inline-block;
	zoom: 1;
	*display: inline;
	margin-left: -23px;
	behavior: url(/v2/content/themes/PIE.htc);
}

div.milestone2.task2 {
	margin-left: -25px;
	padding-left: 25px;
	width: 150px;
	z-index: 3;
}

div.milestone3 {
	display: inline-block;
	zoom: 1;
	*display: inline;
	margin-left: -23px;
	behavior: url(/v2/content/themes/PIE.htc);
}

div.milestone3.task1 
{
	max-width: 32%;
	width: 118px;
}
div.milestone3.task2{
	margin-left: -25px;
	
}
div.milestone3.task3{
	margin-left: -25px;
	max-width: 30%;
	position: relative;
	width: 105px;
	z-index: 2;
	
	div.progress {
	    z-index: 2;
    }
}

div.progress 
{
	position: relative;
	background-color: #134d85;
	.rounded-corners(20px);
	border-right: solid 1pt #fff;
	min-width: 10%;
	z-index: 1;
	padding-left: 10px;
	behavior: url(/v2/content/themes/PIE.htc);
}

div.progress1 
{
	position: relative;
	background: #134d85;
	.gradient(#134d85, #1e6bb7);
	min-width: 10%;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-khtml-border-radius: 20px;
	border-right: solid 1pt #fff;
    margin-top: -40px;
}

div.programInfo {
    /*overflow: auto;*/
	float: left;
	font-size: .9em;
	margin-top: 10px;
	width: 300px;
}

div.currentScoreContainer {
	height: 45px;
	width: 300px;
}

label.currentScore {
	background: url('/v2/Content/images/triangles.gif');
	background-position: 10px 15px;
	background-repeat: no-repeat;
	display: block;
	height: 24px;
	margin-top: -4px;	
	width: 80px;
}

.iconHM {
    border:0; padding-bottom: 4px; vertical-align: middle;width: 18px;height: 11px;
}

input.VHMHealthmilesIcon {
    border:0;
    height:14px;
    padding:0;
    width:18px;
    margin-top:-7px;
    background:transparent url('/v2/Content/Images/Shared/hm_11.gif') no-repeat scroll right bottom;
}

div.taskInfo h2, div.taskInfo.h4 {
	display:inline-block;
}

h4.totalTaskRewards {
	display:inline-block;
	width: 120px;
}

div.currentGoalContainer {
	background: url('/v2/Content/images/triangles.gif');
	background-position: 50% -7px;
	float: right;
	background-repeat: no-repeat;
	margin-right: -37px;
	margin-top: 35px;
	padding-top: 10px;
	text-align: left;
	width: 80px;	
}

div.nextGoalContainer {
	background: url('/v2/Content/images/triangles.gif');
	background-position: 50% -7px;
	float: right;
	background-repeat: no-repeat;
	margin-right: -37px;
	margin-top: 35px;
	padding-top: 10px;
	text-align: left;
	width: 80px;	
}

div.currentGoal {
    text-align: center;
    width: 80px;
}

div.lastTask {
    float: right;
    width: 80px;
    position: relative;
	z-index: 14;
    margin-top: 6px;
    text-align: right;
    vertical-align: middle;
    margin-right: 15px;
    color: #ffffff;
}
/*****************************************************************************************************************************
******************************************************************************************************************************/
p.VHMRedeemError {
    color:#ff0000;
 
    font-weight:bold;
    display:none;
}
p.VHMRedeemError a, p.VHMRedeemError a:hover {
    font-size:11px;
    color: #003366;
    text-decoration: none;
}

.tickerBar {
    .border-radius(6px, 6px, 0, 0);
    height: 34px;
    margin: -15px 0 0 -30px;
    width: 960px;
    behavior: url(/v2/content/themes/PIE.htc);
	position: relative;
}

.tickerArrows
{
 width: 22px;
 height: 34px;  
 background-repeat: no-repeat; 
 background-position: center;
 margin: 0 13px 0 13px;
  cursor: pointer;
 
}
.tickerArrows.left
{
    clear:left;
    float:left;
}
.tickerArrows.right
{
    float:right;
}

.tickerShadow
{
    height: 40px;
    background-repeat: no-repeat;
    background-position: top;
    width: 950px;
    margin: 0 0 0 -40px;

}

#tickerContent {
    ul {
        li {
            text-align: center;
            margin: 0 0 0 0;
            height: 34px;
            list-style-type: none; /*to remove bullets*/
            display: inline;
            padding-right: 20px;
            width:850px;
            position: relative; left: 10px;
        }
    }
    li {	
	    display:none; /* hide the items at first only */
	}
}

#tickerContent, #tickerContent li{
	margin:0;
	padding:0;
	list-style:none;
	width:850px;
	line-height:34px;
	text-align: center;
	font-size: 16px;
	}

.rewardImage {
	font-weight: bold; 
	font-size: 16px
}


/****************************************************
*****************UP FOR GRABS************************
****************************************************/

div.UpForGrabInfo
{
	background-color: #fcfcfc;
	border: solid 1pt #a0c7ff;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	padding: 10px;
	position: absolute;
	display: none;
	margin-top: -70px;
	margin-left: -30px;
	box-shadow: 3px 3px 3px #CCC;
    z-index: 101;
    
    h4 {
	    margin-bottom: 0px;
    }
}

.imgBottomArrowPointer
{
	position: absolute;
	margin-top: 10px;
	margin-left: 50px;
	height: 20px;
	width: 20px;
	z-index: 102;
}
div.bottomBubbleArrow {
    overflow: auto;width: 100%;
}
.amountLabel {
    position: absolute;
    z-index: 103;
	margin-left: -50px;
	cursor: pointer;
	text-align: center;
	font-size: 1.3em;
	color: #455560;
	padding-top: 5px;
	font-weight: bold;
	height: 20px;
	width: 50px;
}

/***************PIGGY***************/
div.piggy {
	position:absolute;
	background-repeat: no-repeat; 
	height:95px; 
	width: 120px;
	margin-left: 425px;
	margin-top: -100px;
	background: url('/v2/Content/Images/piggy-bank.png')
}

td.piggy, div.piggy {
	padding-left: 15px;
	background: url('/v2/Content/Images/piggy-bank.png');
	background-position: 0px 0px;
	background-repeat: no-repeat; 
	height:95px;
	width: 120px;
}
td.piggy h3, td.piggy h2, div.piggy h3, div.piggy h2 {
	width: 80px;
	text-align: center;
}

div.piggy.spendHC {
	background: none;
	margin-top: 80px;
	text-align: center;
	position: relative;
}

.piggyTotalHealthCash {
    padding-bottom: 15px; margin: 0px; text-align: center; min-height:48px; width:92px !important;padding-left: 10px; 
}
.piggyImage {
    position: relative;
    top: 85px;
    left: 0px;
}
.piggySpendHCLink {
    margin-top:5px; width: 92px !important;
}
.piggyCell {
    vertical-align: bottom;padding-bottom:15px; text-align: center;
}
.piggyCellProgressBar {
     vertical-align: bottom;padding-bottom:15px; text-align: center; margin-left:400px; margin-top:-90px; width:127px;height:120px; position: relative;
}

/* Welcome Journey */
#divWelcomeJourney{
    .popupLeftButton{
        float: left;
        margin-top: 10px;
    }
    .popupRightButton{
        float:right;
    }
    
    .popupButtonContainer{
        margin-top: 16px;
    }
}
.label-important
{
    color: #ffffff;
    padding: 3px;
    font-weight:bold; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.browser-alert.alert.alert-error
{
	width:91%;
	display:none;
	
}

#lap-display{
	position: relative;

   .laps-how-it-works {
        position: absolute;
        left: 110px;
        top:210px;
		transition: top 1.5s;

        a {
            font-family: Helvetica, Arial, sans-serif;
            font-size: 11px;
        }
    }

    .laps-cash-back {
         margin-left: auto;
         margin-right: auto;
         width: 280px;
         text-align: center;
    }

    .laps-earned-display {
        font-size: 36px;
        font-family: 'Arial Rounded MT Bold';
        color: #006835;
        vertical-align: middle;
        letter-spacing: -2px;
        text-shadow: 1px 1px #003333;
    }

    .dollar-sign {
        font-size: 22px;
        vertical-align: text-top;
        padding-right: 3px;       
    }

    .learn-more-link {
        padding-bottom: 10px;
    }

	.laps-flip {
		font-size: 11px;
		padding-right: 35px;
		position: absolute;
		top: 286px;
		right: 0;

		.this-month {
			display: none;
		}
	}

	&.back-side {
		.laps-how-it-works {
			top: 250px;
		}

		.laps-flip {
			.this-month {
				display: block;
			}
			.last-month {
				display: none;
			}
		}
	}
}

.alert a.show-link {
	text-decoration: underline;
}

#challenges-how-it-works, #friends-family, #cash-back {
	.rounded-corners(~"15px / 20px");
	width: 650px;
	.content-box();
	
	.close {
		float: none;
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 25px;
		font-weight: normal;
		z-index: 1;

		&:hover {
		}
	}

	.carousel, .modalContent {
		width: 650px;
		margin: 50px 0 30px 0;
		.border-box();

		.carousel-control {
			.border-box();
			width: 50px;
			margin: 0;
			padding: 0;
			background-color: transparent;
			color: #aaa;
			font-size: 80px;
			top: 160px;
			border-width: 0;
			z-index: 10;

			&.left {
				left: 0;
			}

			&.right {
				right: 0;
			}
		}
		
		.carousel-indicators {
			position: static;
			text-align: center;
			margin-top: 20px;

			li {
				float: none;
				display: inline-block;

				background-color: #cbcbcb;
				font-weight: bold;
				text-align: center;
				width: 35px;
				height: 35px;
				.box-shadow(0 0 3px 2px #eee);
				.rounded-corners(17px);
				text-indent: 0;
				color: #fff;
				font-size: 20px;
				line-height: 35px;
				margin: 0 5px;
				cursor: pointer;

				&.active {
					background-color: #c00;
					cursor: default;
				}
			}
		}

		.item {
			width: 100%;
			min-height: 370px;
			padding: 0 70px;
			.border-box();

			p {
				color: #888;
				margin: 0;
				font-size: 24px;
				line-height: normal;
                font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;

				b {
					color: #e47500;
				}
			}

			.img-sprite {
				display: block;
				width: 510px;
				margin-top: 20px;
				text-align: center;
				background: transparent url(/v2/Content/Images/Challenges/challenges-how-it-works2.png) no-repeat 0 0;
			}

			.img-sprite-1 {
				height: 250px;
			}

			.img-sprite-2 {
				background-position-y: -270px;
				height: 290px;
			}

			.img-sprite-3 {
				background-position-y: -570px;
				height: 210px;
				margin-top: 50px;
			}

			.img-sprite-4 {
				background-position-y: -830px;
				height: 130px;
				margin-top: 50px;
			}
		}
	}
}

#friends-family {
	.tooltip {
		width: auto;
	}

	.alert {
		margin: 0 0 17px 0;
		line-height: 15px;
		overflow-x: hidden;
		text-overflow: ellipsis;
	}

	.button-bar {
		position: relative;
		padding: 20px 0;
	
		button {
			float: left;
			margin: -7px 30px 0 0;
			min-width: 110px;
		}
	}
}

.button-center {
        align: center;
	}

#challenges-congrats {
	.content-box();
	width: 625px;
	height: 495px;
    -webkit-border-radius: 15px/20px;
    -moz-border-radius: 15px/20px;
    -ms-border-radius: 15px/20px;
    -o-border-radius: 15px/20px;
    border-radius: 15px/20px;

	.way-to-go-msg {
		.border-box();
		width: 625px;
		height: 495px;
		margin: 0;
		padding: 0;
		background: #fff url(/v2/Content/Images/Ignite/way-to-go.png) 50% 50% no-repeat;
		text-align: center;
		padding-right: 0.05em;
		letter-spacing: -0.05em;
		font-weight: bold;
		font-family: "VAG Rounded", "Arial Rounded", "Arial Rounded MT Bold", "Arial", sans-serif;
		.text-shadow(1px 1px 5px #444);

		.title {
			.border-box();
			height: 180px;
			font-size: 96px;
			letter-spacing: -0.05em;
			padding-top: 20px;			
		}

		.value {
			.border-box();
			height: 230px;
			font-size: 135px;
			padding: 40px 0.2em 0 0;
			letter-spacing: -0.1em
		}

		.subtitle {
			.border-box();
			height: 70px;
			font-size: 30px;
			padding-top: 15px;
			text-shadow: none;
		}
	}
}


.modalContent {
    padding: 0 70px 1px 70px;
}

.item p {
	color: #888;
	margin: 0 0 40px 0;
	font-size: 24px;
	line-height: normal;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.alert {
    margin-top: -20px;
}

.modalContent .textInput {
    display: inline-block;
    height: 30px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
	.border-box();
}

/****** NEW LOOK - MODAL ******/
.modalNewLookNotification {
    width: 820px; 
    height: 510px; 
    background-color: #fff; 
    margin: 20px auto; 
    /*padding: 25px  60px; */
    display: block; 
    text-align: center;
}
.leftNewLookNotification {
    float:left; 
    width: 410px; 
    height: 270px; 
    margin-top:142px;
}
.rightNewLookNotification {
    float:left; 
    width: 410px; 
    height: 100%;
}
.modalNewLookNotification .leftNewLookNotification h2 {
    font-family: Arial, Helvetica, sans-serif; 
    font-weight:normal;
    font-size: 32px; 
    color:#ac1f2d; 
    text-transform: uppercase; 
    text-align: center; 
    margin-bottom: 35px;
}
.modalNewLookNotification .leftNewLookNotification input.modalNewLookButton {
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5); 
    padding: 12px 32px; 
    font-size: 24px; 
    margin-bottom: 20px;
    background-color: #ec9702;
    background-image: -moz-linear-gradient(top, #fdbb2d, #ec9702);
    background-image: -webkit-gradient(linear, 0 0, 0 80%, from(#fdbb2d), to(#ec9702));
    background-image: -webkit-linear-gradient(top, #fdbb2d, #ec9702);
    background-image: -o-linear-gradient(top, #fdbb2d, #ec9702);
    background-image: linear-gradient(to bottom, #fdbb2d, #ec9702);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-color: #ffc254;
    color: #fff;
}
.modalNewLookNotification .leftNewLookNotification a {
    width:410px; 
    display: block; 
    height: 40px; 
    font-size: 16px;
    color: #008eaa;
}
.modalNewLookNotification .leftNewLookNotification p {
    font-size: 13px; 
    color:#626a73;
}
#newLandingModal {
    margin-left: -445px;
    padding: 0;
    width: 890px;
}
#newLandingModal .modal-body {
    padding: 0px;
    max-height: 550px;
}
li.reward label, label.reward {
    position:absolute;
    margin-left:0;
    cursor:pointer;
    text-align:center;
    font-size:1.3em;
    color:#455560;
    padding-top:5px;
    font-weight:bold;
    height:20px;
    width:50px
}