﻿div.rewardTip {	border: solid 1pt silver; }
/*.box { border: solid 1pt silver; }
.grey.box {	padding-bottom: 5px; } */
div.milestone3.task1 
{
	max-width: 30%;
}

div.task1.milestone2 {
	margin-left: -23px;
}

