﻿@import "vhm.mixins.less";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html
{
    background-color: #fff;
}
body
{
    color: #333333;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif!important;
    font-size: 13px;
    margin: 0px;
    padding: 0px;
    background-color:#fff;
	background-repeat: no-repeat;
	background-position: center 200px;
    margin-top: 40px;
}
p
{
    margin-top: 1em;
    margin-bottom: 1em;
}

ul
{
    list-style-type: disc;
    padding-left: 20px;
}


.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}
/* Top Header */
#header
{
    background: #f2ece3;
    box-shadow: 2px 1px 6px #999;
    height: 30px;
	padding-top: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

#headerSub  
{
    position: relative;
    z-index: 110;
    width: 950px;
    margin: 0 auto;
    text-align: right;
    
    ul {
        height: 30px;
        position: absolute;
        right: 0;
        padding: 0;
        list-style-type: none;
        li {
            position: relative;
            float: left;
            height: 35px;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 5px;
            margin-right: 1px;
            line-height: 12px;
            font-size: 12px;
            &:first-child {
                 line-height: 30px;
             }
            &:hover {
                background: #EEEEEE;
                border-left: 1px solid #BFBAB1;
                border-right: 1px solid #BFBAB1;
                margin-left: 4px;
                margin-right: 0px;
                ul {
                    display: block;
                    padding: 0;
                }
}
             
			a {
				cursor: pointer;
				font-weight: normal;
				color: #333333;
                text-decoration:none;
			 }
			 
			 ul {
			    z-index: 110;
                position: absolute;
                display: none;
                height: auto;
                left: 0;
                top: 30px;
                background: #EEEEEE;
                margin-left: -1px;
                margin-right: -1px;
                padding: 0;
                border-right: 1px solid #BFBAB1;
                border-bottom: 1px solid #BFBAB1;
                border-left: 1px solid #BFBAB1;  
                li{
                    z-index: 110;
                    float: none;
                    text-align: left;
                    &:hover{
                        border: none;
                        margin-left: 5px;
                        margin-right: 1px;
                    }
                    a{
                        color: #0066cc;
                    }
                }  
             }
             
        }
        li.expandable {
            padding-right: 10px;
            min-width: 150px;
            text-align: left;
            span {
                padding-right: 20px;
                background-image: url('/v2/Content/Images/Header/arrow-nav.png');
                background-repeat: no-repeat;
                background-position: right;
            }
            ul{
                span{
                    background: none;
                }      
            }
        }
        li#menuProfile{
            &:hover{
                border-left: 1px solid #ece5db;
                border-right: 1px solid #ece5db;    
            }
            ul{
                padding: 0;
                border-right: 1px solid #ece5db;
                border-bottom: 1px solid #ece5db;
                border-left: 1px solid #ece5db;
            }
        }	
        span.notificationPopupTrigger{
            color: #0066cc;
            cursor: pointer;
            text-decoration: underline;
        }
        li#liVHMSupport{
                line-height: 30px;
            }
    }
}

.modal-backdrop, .modal-backdrop.fade.in {
	.opacity(0.5);
}

.userProfileName{
    width: auto;
}

#applicationMenuHeader{
    .activeMenu{
        background: #EEEEEE;
        border-left: 1px solid #BFBAB1;
        border-right: 1px solid #BFBAB1;
        margin-left: 4px;
        margin-right: 0px;
    }
}

#applicationNavMenu{
    .activeMenu{
        display: block;
        padding: 0;
    }
    .inactiveMenu{
        display: none;
        padding: 0; 
    }
}

.vhmCoBrandSection{width:265px; float: right; padding-top: 10px;padding-bottom: 5px; }
.vhmLogoImage { width: 250px;height: 57px; border: 0;}
.vhmBroughtToYouBy { font-size: 11px;color: #999;font-style: italic;overflow: auto;text-align: right;}
.vhmCoBrandLogo {max-width: 250px; max-height:57px; float: right;padding-top: 5px;}
.vhmBTYBTextLogo { font-size: 11px;font-weight: bold;color: #666;text-align: right;}

#menuProfile
{
    font-weight: bold;
    ul{
        font-weight: normal;
    }
}

#menuProfileImage
{
    width: 25px;
    height: 25px;
    display: inline;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: 6px;
}


/*  Main Navigation */

.VHMheadermenuc
{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    
    /* This may be a CSS hack, we should consider removing this and doing the header differently */
    #imageHeader{
        clear: both;
        overflow: hidden;
        min-height: 70px;
    }
}

#mainNav
{
    list-style-type: none; /*to remove bullets*/
    text-align: center;
    margin: 20px 0 20px 0;
    height: 45px;
    font-size: 15px;
	background-color: transparent;/* #F4F1E5;*/
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
    li{
        position: relative;
        display: inline-block;
        display: -moz-inline-box; /* *display: inline; /* For IE7 */
        width: 14%;
        text-align: center;
        float: left;
        padding-bottom: 0px;
        line-height: 45px;
        border-right: 1px solid #f1ebe1;
        text-shadow: 1px 1px #ccc;
        zoom: 1; /* Trigger hasLayout */
        z-index: 100;
        &:hover{
            background-color: #f2ece3;
	        border-color: transparent;
	        ul{
                display: block;
            }
        }
        &:last-child{
            border-right: none !important;
        }
        a{
            cursor: default;
            text-decoration: none;
            padding-right: 15px;
            background-repeat: no-repeat;
            background-position: right center;
            z-index: 15;
            font-weight: normal;
            
        }
        a.home {
            background: none;
            cursor: pointer;
        }
        
        ul{
            z-index: 15;
            display: none;
            position: absolute;
            padding: 0px;
            margin-left: -1px;
	        margin-top: 0px;
            background-color: #fff;
            text-align: left;
            left: 0;
            top: 45px;
            width: 300px;
            li{
                float: none;
                display: block;
                width: auto;
                padding-right: 15px;
                padding-left: 15px;
                text-align: left;
                line-height: auto;
                border: none;
                list-style-type: none;
                a{
                    cursor: pointer;
                    background: none;
                    color: #ac0000;
	                display: block;
                    height: auto;
                    padding-bottom: 8px;
                    padding-top: 5px;
                    position: relative;
                    text-shadow: none;
                    font-weight: normal;
                }
                &:hover{
                    background-color: #dfdac7;
                    cursor: pointer;
                    color: #ac0000;
                    a{
                        color: #ac0000;
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

.ie8widthfix img
{
    max-width: none !important;
}

.activeMenuHeader
{ 
	background-color: #f2ece3;
	border-color: transparent;
}

.inactiveMenuHeader
{
    background: none;
}

/*  Main Content Header */
#extendableHeader
{
    width: 950px;
    overflow: hidden;
    margin: 20px auto 0 auto;
    padding: 0;
    height: 35px;
    border-width: 0;
    background-color: transparent;
    .middle{
        background-repeat: repeat-x;
    }
    .left{
        width: 5px;
        background-repeat: no-repeat;
    }
    .right{
        width: 5px;
        background-repeat: no-repeat;
    }
}

#extendableHeader_sub, .extendableHeader_sub
{
    position: relative;
}

#extendableHeader_sub
{
    display: inline;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    .border-radius(6px, 6px, 0, 0);
    div {
        display: inline;
        float: left;
        height: 35px;
        margin: 0;
    }
}

/*  end content header */


/* general */

#wrapper
{
	box-shadow: 0 0 8px #CCC;
    width: 880px;
    min-height: 600px;
    height: 100%;
    border: none;
    background-color: #fff;
    padding: 35px 40px 70px 30px;
    margin: 0px auto 0px auto;
}

.contentSection
{
    padding-bottom: 35px;
}

.box
{
    padding: 20px;
    margin-bottom: 20px;
}

div.box.blue
{
    background-color: #c8e5ff;
}

div.box.grey
{
    background-color: #e9e9e9;
}

div.box.yellow
{
    background-color: #ffffcc;
}

.white {
	color: #ffffff;
}


/* fonts */

#contentHeader
{
    font-size: 20px;
    font-weight: normal;
    text-shadow: 1px 1px #333;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    width: 900px;
    overflow: hidden;
    padding: 6px 20px 0 20px;
}

#contentHeader.small-header{
    width: 695px;
}

.content-sub-header-text{
    font-size: 20px;
    font-weight: normal;
    text-shadow: 1px 1px #333;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #fff;
    width: 900px;
    overflow: hidden;
    padding: 6px 20px 0 20px;
}

.content-sub-header{
    .border-radius(6px, 6px, 0, 0);
    margin-top: 30px;
    width: 721px;
    height: 35px;
}

.darkBlue
{
    color: #003366;
}

.red
{
    color: #990000;
}

.darkRed
{
    color: #C00;
}
.grey
{
    color: #333333;
}

.green
{
    color: #006600;
}

.bold
{
    font-weight: bold;
}

h1
{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
    &.underline{
        border-bottom: 1px dotted #ddd;   
    }
}
h2
{
    font-size: 18px;
    line-height: 19px;
    margin-bottom: 9px;
    &.underline{
        border-bottom: 1px dotted #ddd;   
    }
}
h3
{
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    &.underline{
        border-bottom: 1px dotted #ddd;   
    }
}
h3.stylev3
{

    font-size: 26px;
	font-weight: normal;
	line-height: 28px;
	text-align: left;
	padding-left: 5px;
	padding-bottom: 10px;
	border-bottom: 1px dotted #ddd;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
#groupsPageTitle
{
	width:100%;
	
}
h4
{
    font-size: 13px;
    line-height: 13px;
    font-weight: normal;
    margin-bottom: 7px;
}


h5
{
    font-size: 12px;
    line-height: 12px;
    font-weight: bold;
    margin-bottom: 6px;
}
h6
{
font-size: 11px;
line-height: 10px;
font-weight: normal;
margin-bottom: 5px;
padding-top:20px;
}

.hover
{
    border-width: 1px;
    border-color: #a0c7ff;
    box-shadow: 3px 3px 3px #CCC;
}

h4.hoverMain
{
    font-weight: bold;
    line-height: 1.125em /*18px*/;
}
h5.hoverSub
{
    line-height: 1.063em /*17px*/;
}

.secondaryContentHeader, .secondarySmallHeader { color: #003366; }

.subHeader, .smallHeader, secondaryMainHeader { color: #333333; }
.secondaryHeader { color: #666666; }

.connectedText { color: #006600; }
.footerSubHeader, .pageHeader { color: #ffffff; }

.textLargeMain {
	font-size: 133.3% /*16px/1.333em*/;
	line-height: 1.833em/*/183.3% 22px*/;
color: #333 }

.textLargeSecondary {
	font-size: 133.3% /*16px/1.333em*/;
	line-height: 1.833em/*/183.3% 22px*/;
color: #666 }

.textMediumMain {
	font-size: 108.3% /*13px/1.083em*/;
	line-height: 1.583em/*/158.3% 19px*/;
color: #333 }

.textMediumSecondary {
	font-size: 108.3% /*13px/1.083em*/;
	line-height: 1.583em/*/158.3% /*19px*/;
color: #666 }

.textSmallMain {
	font-size: 91.7% /*11px/0.917em*/;
	line-height: 1.417em/*/141.7% 17px*/;
color: #333 }

.textSmallSecondary {
	font-size: 91.7% /*11px/0.917em*/;
	line-height: 1.417em/*/141.7% 17px*/;
color: #666;
font-weight: bold }

.textMediumQuote {
	font-size: 108.3% /*13px/1.083em*/;
	font-style: italic;
	line-height: 1.583em/*/158.3% 19px*/;
color: #666 }

/* start links */

a, a:active, a:focus, a:visited, a:link
{
    color: #008AA2;
    text-decoration: none;
}

a:hover
{
    text-decoration: none;
    cursor: pointer;
	/*display: block; - this makes the inlnine urls flicker in IE. please don't add again'*/
}

.secondary, a.secondary
{
    display: block;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 14px;
}

.tertiary, a.tertiary
{
    /*display: block;*/
    font-size: 13px !important;
    font-weight: bold!important;
    line-height: 16px; /*padding: 0 0 20px 8px;*/
}
.tertiary, a.tertiary:hover
{
    text-decoration:none;
}

a.modal-remove-friend {
    text-decoration:none;
     font-size: 11px ;
    font-weight: normal;
    text-decoration:none;
    float: right;
}
a#tertiaryHeader
{
    color: #fff;
    font-size: 87.5%;
    line-height: 87.5%;
    font-weight: bold;
}
.sectionTitle a.tertiary
{
	color:inherit!important;
	font-size:11px!important;
	font-weight:normal!important;
	display:block!important;
}

#headerLink
{
    text-align: right;
    padding-right: 25px;
    margin-top: -17px;
    a{
        &:hover{
            text-decoration: none;
        }
    }
}

/* end links */


/* Header Text/Logo */
#sponsorText
{
    margin: 25px 0 0 25px;
    a{
        color: #333;
        text-decoration: none;
        font-size: 24px;
    }
}

#sponsorLogo
{
    margin: 25px 0 10px 25px;
}


/* main content on left */

#mainLeft
{
    float: left;
    width: 59.8%;
}

.margin80
{
    float: left;
    width: 9.2%;
}

#rightColumn
{
    float: right;
    width: 240px;
}


/* layout */
.leftColumn
{
    float: left;
    width: 20%;
    background-color: #A52A2A;
}
.mainColumn
{
    overflow: hidden;
    min-width: 40%;
}
.rightColumn
{
    width: 20%;
    background-color: #A52A2A;
    float: right;
}
.footer
{
    clear: both;
}
.pageForm
{
    margin: 0 50px 0 50px;
}


/* footer */
.push
{
    background-repeat: repeat-x;
    bottom: 0;
    height: 43px;
    clear: both;
     /* line-height: 40px; margin: 0;     padding: 0;    position: absolute;*/
}
.VHMfooter
{
    background-repeat: repeat-x;
    width: 950px;
    height: 50px;
    bottom: 0;
    clear: both;
    width: 100%;  
    line-height: 81.3%;
    a{
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}

.VHMfooter .VHMfooterb
{
    width: 950px;
    padding: 19px 0 0 0;
    list-style-type: none; /*to remove bullets*/
    text-align: center;
    color: white;
    padding-left: 80px;
    margin-left: auto;
    margin-right: auto;
    a{
        &:hover{
            text-decoration: underline;
        }
    }
}

.VHMfooterb li
{
    display: inline-block;
    display: -moz-inline-box; /* *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    text-align: center;
    float: left;
    padding-bottom: 0px;
    padding-right: 20px;
    font-size: 11px;
}

.VHMfooter .VHMfooterb a, .VHMfooter .VHMfooterb a:link
{
    color: #fff;
    font-weight: normal;
    text-shadow: 1px 1px 0 #666;
    text-decoration: none;
}

hr.sub
{
    border:0px;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 30px;
    margin-top: 30px;
    clear: both;
}

.blue
{
    color: #003366;
}

.lightGrey
{
    color: #666666;
}

.popUpBlueTitle
{
    color: #003366;
}

.popUpRedTitle
{
    color: #990000;
    padding: 20px 20px 0 20px;
}

.anchorSpan
{
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.anchorSpan:hover
{
    text-decoration: underline;
}

.disabled
{
    color: #666666;
}

.anchorSpan.disabled
{
    text-decoration: none;
    color: #666666;
    cursor: default;
}

.blueLink
{
    color: #0066cc;
}

.whiteLink
{
    color: #ffffff;
}

.italic {font-style: italic;}

/****************************************************************************************
***************************MASTER PAGE STYLES********************************************
*****************************************************************************************/

/*****2 Column page layout - main col and right smaller = twoColumnLeft********************/
.main_twoColumnLeft
{
    overflow: hidden;
    width: 590px !important;
    padding-right: 10px !important;
    margin: 0px;
    min-height: 500px;
}

.right_twoColumnLeft
{
    float: right;
    width: 240px;
    min-height: 490px;
}

.wrapper_gray_border
{
    margin-top: 0px;
    border: 1px solid #E0E0E0;
}
#aShowMoreSuggestGr{color:#666;}
.rightGraySection
{
    clear: both;
    vertical-align: top;
	
}

.rightMyFriendsSection {
       clear: both;
    vertical-align: top; 
}
/*****2 Column page layout - main col and left smaller = twoColumnRight********************/
.main_twoColumnRight
{
    overflow: hidden;
    width: 590px !important;
    padding-left: 90px !important;
    padding-right: 40px !important;
    padding-top: 30px;
    margin: 0px;
    min-height: 490px;
}

.leftCol_twoColumnRight
{
    float: left;
    padding-left: 40px;
    width: 190px;
    padding-top: 30px;
    min-height: 490px;
}

/*****3 Column page layout -left smaller, main col and right col = threeColumn********************/
.main_threeColumn
{
    overflow: hidden;
    width: 530px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    padding-top: 30px;
    margin: 0px;
    min-height: 490px;
}

.leftCol_threeColumn
{
    float: left;
    padding-left: 40px;
    width: 150px;
    padding-top: 30px;
    min-height: 490px;
}

.rightCol_threeColumn
{
    float: right;
    padding-right: 40px;
    width: 270px;
    padding-top: 30px;
    min-height: 490px;
}

/*****1 Column page layout = oneColumn********************/
.main_OneColumn
{
    overflow: hidden;
    width: 870px !important;
    padding-left: 40px !important;
    padding-right: 40px !important;
    padding-top: 30px;
    background-color: white;
    margin: 0px;
    min-height: 490px;
}

.VHMwrapper
{
    margin: 0 auto;
    overflow: hidden;
    width: 950px;
    height: 100%;
    text-align: left;
}

.VHMwrapperB
{
    height: 100%;
    width: 950px !important;
    padding-left: 0px;
    background: white;
}

.VHMwrapperThreeColumn /*for 3 column pages, the width of the page is bigger to fit the 3 column representation of the page*/
{
    margin: 0 auto;
    overflow: hidden;
    padding: 14px 0 30px 40px;
    width: 1140px;
    text-align: left;
}

.VHMwrapperB_ThreeColumn
{
    height: auto;
    width: 1110px !important;
    padding-left: 0px;
}
/****************************************************************************************
***************************PAGE title STYLES*********************************************
*****************************************************************************************/
.pageTitleLeft
{
    float: left;
    background: url('../images/Shared/red-header-left.png') no-repeat;
    width: 5px;
    height: 39px;
}

.pageTitleRight
{
    background: url('../images/Shared/red-header-right.png') no-repeat;
    height: 39px;
    float: left;
    width: 5px;
}

.pageTitleCenter
{
    float: left;
    background: url('../images/Shared/red-header-middle.png') repeat-x;
    line-height: 35px;
    height: 39px;
}

/**************************************************************************************
***************************PAGE wrapper STYLES*****************************************
***************************************************************************************/
.ImgSpinner
{
    width: 65px;
    height: 65px;
    border: 0;
}



.loadingInfo
{
    padding: 20px;
    display: none;
    text-align: center;
}

.VHMDialog
{
    border: 0 !important;
    background-color: transparent;
}




#divInviteFriends 
{
    .bold-label
    {
        font-size: 12px;
        line-height: 12px;
        font-weight: bold;
        margin-bottom: 6px; 
    }
}

/**************************************************************************************
********************************* News Feed *******************************************
***************************************************************************************/
#newsContainer
{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    .ProfileLink{
        font-size: 11px;
    }
    .spaceText{
        font-size: 11px;
    }
}

#pager 
{
    ul{
        list-style: none;
    }
}

.poweredby
{
    height: 56px;
    width: 190px;
    margin-top: -20px;
} 

.notificationCount {
	height: 15px;
	.rounded-corners(50px);
	position: absolute;
	font-size: 12px;
	font-weight: bold;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	line-height: 17px;
	box-shadow: -1px 1px 4px #CCC;
	border: 1px solid #CCC;
	text-align: center;
	background: #fff;
	margin-left: -6px;
	width: 15px;
	padding: 1px;
}


/**************************************************************************************
********************************* Notification popup **********************************
***************************************************************************************/

#modInviteList {
    .socialList_content {
        width: 75% !important;
    }
    .divModule {
        width: 115px;
        float: right;
    }
}

#nudgeList {
    .socialList_content {
        width: 75% !important;
    }
}

/**************************************************************************************
********************************* Notification popup **********************************
***************************************************************************************/

/*Log in text boxes - watermark styles - set the login div to not display until document is ready*/
#loginSection{ display: none;}

.textMediumSecondary { font-size: 108.3% /*13px/1.083em*/; line-height: 158.3% /*19px/1.583em/*/; color: #666 }


/**************************************************************************************
********************************* Font Awesome Icons **********************************
***************************************************************************************/

i.icon-remove, i.icon-edit {
    cursor: pointer;
    color: #999999;
}

i.icon-remove:hover
{
    cursor: pointer;
    color: #A82B35;
}

i.icon-edit:hover
{
    cursor: pointer;
    color: #006600;
}



/**************************************************************************************
********************************* Bootstrap *******************************************
***************************************************************************************/

.alert {
    max-width: 850px;
}

.btn[disabled] {
	opacity: 0.45;
}

/**************************************************************************************
********************************* Content Box *****************************************
***************************************************************************************/
.content-box{
    padding: 10px;
    padding-right: 20px;
    background-color: #f6f4f2;
    .border-radius(0px);
    h2{
        margin-top:10px;
    }
}


/**************************************************************************************
********************************* Login page *****************************************
***************************************************************************************/

.login-body{
    color: #333;
    background-image: url('/v2/content/images/LandingPageV3/bg-pattern.png') !important;
    background-repeat: repeat;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top:0px;
    height:100%;
    min-height:850px;
    width: 100%;
    position: absolute;
}

#loginSection
{
    background-color: white;
    width: 290px;
}

#loginSection h2 {
    text-transform: uppercase;
    font-family: 'Conv_Tungsten-Medium',Arial,Helvetica,sans-serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 28px;
    color: #008aa2;
    padding: 10px;
}

#login-signin-div {
    margin-top: 26px;
    margin-bottom: 10px;
    padding: 0px 10px;
}

#login-signin-div span{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #626a73;
}

.btn.yellow-custom {
    background-color: #ec9702;
    background-image: -moz-linear-gradient(top #fdbb2d, #ec9702);
    background-image: -webkit-gradient(linear, 0 0, 0 80%, from(#fdbb2d), to(#ec9702));
    background-image: -webkit-linear-gradient(top, #fdbb2d, #ec9702);
    background-image: -o-linear-gradient(top, #fdbb2d, #ec9702);
    background-image: linear-gradient(to bottom, #fdbb2d, #ec9702);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-color: #ffc254;
    color: #fff;
    padding: 5px 17px;
    text-shadow: none;
    font-size: 16px;
    width: 275px;
}

#login-main-content {
    margin: 0px auto;
    width: 371px;
}

#oNewMember {
    font-style: italic;
}

#memberloginasst {
    width: 275px;
}

#txtPlainPassword, #oPwdID, #oUserID {
    width: 250px !important;
    margin-right: 0px;
}

.bad-login {
    margin-bottom: 0;
    padding-right: 5px;
    margin-top: 10px;
    background-color: #fff1c9;
    border: none;
    color: rgb(204, 0, 0);
    padding-top: 15px;
    text-shadow: none;
    border-radius: 0;
}
.login-input-rounded {
    display: inline-block;
    border: 1px solid #ddd !important;
    font-size: .9em;
    color: #939598 !important;
    background-color: #eeeeee !important;
    box-shadow: inset 0 1px 3px #ddd;
    -webkit-transition: .3s linear border;
    -moz-transition: .3s linear border;
    -ms-transition: .3s linear border;
    -o-transition: .3s linear border;
    transition: .3s linear border;
    
    
    border-radius: 2em !important;
    padding: 0.65em 1em !important;
    line-height: normal;
    margin: 0;
    vertical-align: baseline;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-style: italic;
}
#oForgot,#oNewMemberLink
{
    font-weight: normal;
}

.howtojoin {
    padding: 10px;
    margin: 0px;
}
#memberloginbtn td {
    padding: 10px;
}
#memberlogin td {
    padding: 10px;
}

.last-warning {
    padding: 0px !important;
}
.forgotCell{
    padding: 0px 10px 10px !important;
    color: #008eaa;
}
.remembermeLabel,#oNewMember {
    color: #626a73;
}
#oForgot {
    color: #008aa2;
}
#oNewMemberLink {
    color: #008eaa;
}
#login-main-content table {
    width: 300px;
}

/**************************************************************************************
********************************* Upload successful page *****************************************
***************************************************************************************/
.uploadGoZonoeWrap {
    background: white;
    box-shadow: 0px 0px 8px #bbb;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}
.upload-successful 
{
    box-shadow: none;
    background: white;
    border: none;
    border-radius: 0;
    width: 350px;
    float: left;
}

.upload-container {
    width: 850px !important;
}
.max-device {
    background-image: url('/images/max-device-bg.png');
}
.go-zone-device {
    background-image: url('/images/go-zone2.jpg');
}
.upload-info {
    height: 465px;
    width: 420px;
}
.upload-info i{
    float: left;
    padding: 11px 23px 0px 45px;
    font-size: 30px;
    color: #428c26;
}
.upload-info p {
    font-size: 19px;
    line-height: 20px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #428c26;
    width: 310px;
}
.upload-info-container {
    padding: 45px 19px 0 50px;
    height: 385px;
    width: 347px;
}
.upload-serial {
    margin-top: 320px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #626a73;
    font-style: italic;
    text-align: center;
}
#divLogin {
    text-transform: uppercase;
    font-family: 'Conv_Tungsten-Medium',Arial,Helvetica,sans-serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 0px;
    color: #008aa2;
    padding-left: 10px;
}


#tell-a-friend {
    margin-top:30px;padding: 15px;
    ul{list-style-type:none;margin:0;padding:0}
    .tell-a-friend-item{width:100%;float:left;margin-bottom:15px}
    .tell-a-friend-item img{float:left;width:54px;height:54px}
    .tell-a-friend-item a{float:left;text-decoration:none;padding:15px 0}
    .tell-a-friend-item p{text-decoration:none;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;float:left;padding:5px 10px 0;width:140px}
    .more-friends-list li{border-bottom:1px solid #e9e9e9;padding-bottom:8px}
    .more-friends-list img{width:45px;height:45px}
    .more-friends-list p{padding:0 10px 0;width:240px}
    #more-friends-modal{width:370px;margin-left:-185px}
    .more-friends-body{padding-top:7px!important;}
    .more-friends-body button{width:100%}
}
#more-friends-modal .modal-body {
    max-height: 415px;
    position:relative;
    padding:15px;
    overflow-y:auto;
}
#more-friends-modal .modal-body .more-friends-list .tell-a-friend-item p{
    padding-top:2px !important;
}
i.icon-edit:hover {cursor: pointer;color: #333;}
.pagingList .pagingItem a {text-decoration:none;}

.divWrapper_NoBrd .my-notifications .myProfFriend .socialList_content_Descr h6 {
    float: none!important;
    padding-top: 20px!important;
    padding-left: 0px!important;
}
.redeemMiddlePanel {font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;}
h1.underline {
    border-bottom: 1px dotted #afafaf !important;
    padding-left:5px!important;
    padding-bottom:5px!important;
}
.contentWidth {
    width:920px !important;
}
.PaddLeft {
    padding-left:5px;
}
#warningMsg {
    color:#ac1f2d;
}
.LowBatteryHeight {
    top:33%;
}
#tell-a-friend .more-friends-list p {
    padding: 0 8px 0 10px;
}
.calculation-refresh .Nlink {
    font-size:12px !important;
    font-style:italic !important;
    font-weight:normal !important;
}
#tell-a-friend .tell-a-friend-item p {
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    padding: 5px 10px 0;
    width: 140px;
    color:#666;
}
#tell-a-friend .tell-a-friend-list .tell-a-friend-item p {
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    float: left;
    padding: 0px 10px 0;
    width: 140px;
    color: #666;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 5px;
}
#tell-a-friend .tell-a-friend-list .tell-a-friend-item a {
    float: left;
    text-decoration: none;
    width: 34px;
    margin-left: 10px;
    padding: 0px !important; 
}
.EditGoalContainer {
    margin-top:25px;
    width:auto;
    background-color:#FFF;
}
.EditGoalContainer h2.underline{
    padding-left:10px;
    padding-bottom:3px;
}
.EditGoalTextfield {
    margin:15px 15px 15px 12px;
}
.EditGoalButtons {
    margin-left:10px;
}

.EditGoalButtons .btnLeft {
    margin-left:5px;
    font-size:16px;
}
