@import "vhm.mixins.less";

@eatenColor: #249720;
@burnedColor: #b22624;
@goalColor: #eab312;
@grey: #666;
@linkColor: #06c;
@headerFont: 'Conv_Tungsten-Medium',Arial,Helvetica,sans-serif;

#nutrition-overview {
    width: 580px;
    margin-top: 30px;

    .span6 {
        width: 48.717948717948715% !important;
    }

    #nutrition-challenge-list h2.header {
        border-bottom: 1px dotted #afafaf;
        padding-left: 5px;
    }

    h1 {
        font-weight: normal;
        font-size: 28px;
        margin-bottom: 25px;
    }

    .grey {
        color: @grey;
    }

    .lbl-date {
        text-align: center;
        min-width: 170px;
        display: inline-block;
        .border-box();
    }

    .nav {
        height: 25px;
        padding: 15px 15px 10px 15px;

        .pull-left {
            position: relative;

            a {
                font-size: 30px;
                font-weight: bold;
                text-decoration: none;
                position: absolute;
                top: -17px;
                line-height: 50px;

                &.go-left {
                    left: 0;
                }

                &.go-right {
                    right: 0;
                }

                &.disabled {
                    color: #eee;
                    cursor: default;

                    .icon-angle-right, .icon-angle-left {
                        color: #ccc;
                    }
                }
            }

            span {
                padding: 0 30px;
                font-size: 14px;
            }
        }

        .pull-right {
            a {
                margin: 0 10px;

                &.active {
                    color: @grey;
                    font-weight: bold;
                    text-decoration: none;
                    cursor: default;
                }
            }
        }
    }

    .well {
        padding: 0;
        background-color: #fff;
        padding: 15px;
        margin-right: 15px;

        h2 {
            padding: 10px;
            margin: -15px -15px 15px -15px;
            letter-spacing: -0.07em;
            color: @eatenColor;
            background-color: #deebf3;
        }

        table {
            margin-bottom: 0;

            td {
                padding: 7px 5px;
            }

                td.metric {
                    text-align: right;
                }

            tbody td {
                border-top-width: 0;
            }
        }

        .box-shadow(2px 2px 15px 0 rgba(0, 0, 0, 0.2));
        .border-radius(0, 0, 10px, 10px);
    }

    .summary {
        padding: 15px 0 0 15px;

        h3 {
            font-size: 12px;
        }

        p {
            font-style: italic;
        }
    }

    .chart-col {
        position: relative;
        text-align: center;

        .add-entry {
            display: block;
        }

        .chart-container {
            height: 300px;
        }

        .mask {
            position: absolute;
            left: 0;
            top: 20px;
            right: 0;
            bottom: 0;
            background-color: #fff;
            .opacity(0.9);
            z-index: 2;
            padding: 50px 100px 0 0;

            h3 {
                color: @burnedColor;
            }

            .arrow {
                color: @burnedColor;
                position: absolute;
                font-size: 140px;
                line-height: 100px;
                font-weight: bold;
                top: 20px;
                right: 40px;
                .opacity(0.7);
            }
        }
    }

    .chart-col-eaten {
        border-right: 1px solid #eee;

        h3 {
            color: @eatenColor;
        }

        & > .chart-container {
            position: relative;
            left: -1px;
        }
    }

    .chart-col-burned {
        h3 {
            color: @burnedColor;
        }
    }
}

#nutrition-overview-chart-container {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 30px;
    width: 550px;

    & > #nutrition-overview-chart {
        width: 550px;
        height: 200px;
    }

    & > .chart-label {
        position: absolute;
        color: @grey;
        font-size: 14px;
        text-align: center;
        width: 200px;
        bottom: 0;
        text-transform: uppercase;

        & > .chart-label-metric {
            color: @goalColor;
            font-family: @headerFont;
            font-size: 40px;
            line-height: 0.9em;
        }
    }

    & > .chart-label-left {
        left: 45px;

        .chart-label-metric {
            color: @burnedColor;
        }
    }

    & > .chart-label-right {
        right: 45px;
    }

    & > .chart-label-center {
        left: 175px;
        bottom: 10px;
        font-size: 16px;

        .chart-label-metric {
            font-size: 90px;
        }

        &.over-limit {
            &, & .chart-label-metric {
                color: @burnedColor;
            }
        }
    }
}


#nutrition-weight-dlg {
    position: absolute;
    top: 0px;
    left: 50%;
    width: 550px;
    margin-left: -100px;

    .modal-body .close {
        font-size: 25px;
    }

    label {
        text-transform: uppercase;
    }

    p {
        line-height: 22px;
        margin-bottom: 10px;
        font-size: 16px;
        color: #8a8a8a;
    }

    .form-horizontal {
        .control-group {
            margin-bottom: 0px;
        }
    }

    .control-label {
        width: 200px;
        margin-right: 16px;
    }

    .controls {
        margin: 15px 0 0 0;

        h3 {
            margin: 25px 0 0;
            font-size: 16px;
        }
    }

    .modal-body {
        padding: 20px;
        max-height: none;
    }

    input {
        width: 70px;
        padding: 7px;
        color: #8a8a8a;
        .border-box();
    }

    .help-inline {
        color: #8a8a8a;
    }

    .btn-main {
        width: 129px;
        height: 34px;
        .border-box();
        margin-top: 5px;
    }

    .form-horizontal .control-label {
        padding-top: 15px;
    }

    .text-left {
        margin-top: 35px;
    }

    .btn {
        width: 120px;
        margin-right: 10px;
    }

   
}

#nutrition-weight-guided-dlg {
    position: absolute;
    top: 50%;
}

.modal-body {
    padding: 20px;
    max-height: none;
}

.step1-goal-type {
    min-height: 250px;
}

.modal-body .close {
    font-size: 25px;
}

/*p {
    line-height: 22px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #8a8a8a;
}*/

.btn {
    width: 120px;
    /*margin-right: 10px;*/
    background-repeat: repeat-x;
}

.grey-button {
    background-color: #d3c9bf;
    background-image: -moz-linear-gradient(top,#f1eee8,#d3c9bf);
    background-image: -webkit-gradient(linear,0 0,0 80%,from(#f1eee8),to(#d3c9bf));
    background-image: -webkit-linear-gradient(top,#f1eee8,#d3c9bf);
    background-image: -o-linear-gradient(top,#f1eee8,#d3c9bf);
    background-image: linear-gradient(to bottom,#f1eee8,#d3c9bf);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #222;
    cursor: pointer;
    border-color: #e0d9cd;
    padding: 5px 20px;
    text-shadow: none;
    font-size: 16px;
}

input[type=radio].guided-goal-input {
    display: none;
}

    input[type=radio].guided-goal-input + label.guided-goal-label {
        padding-left: 26px;
        height: 21px;
        display: inline-block;
        line-height: 21px;
        background-repeat: no-repeat;
        background-position: 0 0;
        font-size: 21px;
        vertical-align: middle;
        cursor: pointer;
    }

    input[type=radio].guided-goal-input:checked + label.guided-goal-label {
        background-position: 0 -21px;
    }

label.guided-goal-label {
    text-transform: uppercase;
    background-image: url(Images/Nutrition/checkbox.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: left;
}

.margb25px {
    margin-bottom: 25px;
}

.weight-label-inputs {
    float: left;
    width: 280px;
    padding-top: 0px;
    text-align: right;
    text-transform: uppercase;
    margin-right: 15px;
}

input[type=number] {
    width: 70px;
    height: 35px !important;
    padding: 5px 9px;
    color: #8a8a8a;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.weight-intesity-label {
    width: 110px;
}

    .weight-intesity-label.weight-intesity-labels {
        width: auto;
        padding-right: 10px;
    }

.weight-final-step-label {
    width: 250px;
    margin-right: 30px;
}

.weight-intensity-note {
    color: #626a73;
    font-size: 18px;
}

.weight-intensity-comment {
    color: #626a73;
    font-size: 12px;
    font-style: italic;
    clear: both;
    margin-left: 25px;
    margin-top: 2px;
}

.weight-final-step-value {
    color: #949a9e;
    font-size: 18px;
    padding-top: 5px;
}

.weight-final-step-goal-value {
    color: #ac1f2d;
    font-size: 18px;
    padding-top: 5px;
    font-weight: bold;
}

.weight-goal-try-doing {
    font-size: 13px;
    color: #888888;
}

.agressive-weight-loss-notification {
    background-color: #f8dcd9;
    border: 1px solid #e0948e;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #333e48;
    padding: 10px;
    margin-bottom: 35px;

    strong {
        color: #ac1f2d;
        font-weight: bold;
    }
}

.weight-save-container {
    clear: both;
    margin-top: 45px;
}

.margt45px {
    margin-top: 45px;
}

.margb45px {
    margin-bottom: 45px;
}

.margb15px {
    margin-bottom: 15px;
}

#guided-goal-step3-back {
    width: 176px;
}

.goal-warning {
    color: #999;
    font-size: 10px;
    font-style: italic;
}

.control-group {
    margin-bottom: 30px;
}


.input-radioie8 {
    position: absolute !important;
    margin-left: 3px !important;
    margin-top: 5px !important;
    display: block !important;
}

.input-textie8 {
    height: 23px !important;
    width: 65px !important;
    line-height: 23px !important;
    margin-top: 5px !important;
    color: #555;
}

.input-radioie8-nobg {
    background-image: none !important;
}

.weight-intensity-note-margl {
    display: block;
}

#nutrition-progress {
    padding: 15px 15px 20px 15px;

    h2 {
        margin-bottom: 20px;
    }

    .chart-label {
        text-align: center;
        font-weight: bold;

        .name {
            font-size: 14px;
            line-height: 14px;
            margin-bottom: 1px;
            .border-box();
            height: 14px;
        }

        .name-non-empty {
            background-color: #fff;
            background-color: rgba(255,255,255,0.7);
            padding: 0 3px;
        }

        .value {
            color: #fff;
            display: inline-block;
            margin-bottom: 22px;
            font-size: 11px;
            line-height: 24px;
            background-color: #ffcd33;
            .rounded-corners(12px);
            width: 24px;
            height: 24px;
            padding-right: 1px;
        }
    }

    .chart-label-goal {
        .value {
            background-color: #34ae3c;
            color: #fff;
        }
    }

    .chart-tooltip {
        border: 1px solid #444;
        .box-shadow(1px 1px 2px #444);
        .rounded-corners(3px);
        background-color: #fff;
        background-color: rgba(255,255,255,0.8);
        padding: 5px;
        position: relative;
        font-size: 12px;
        z-index: 2; // above data
    }

    .grey-text {
        color: grey;
    }
}

#nutrition-partner-connect {
    margin-top: 30px;
    padding: 15px;

    .logo {
        margin-bottom: 10px;
    }

    h4 {
        margin-bottom: 20px;
    }

    p {
        margin: 6px 0;
    }

    .status-connected {
        color: #1e991e;
        font-weight: bold;
        padding-left: 20px;
        margin-left: 5px;
    }

    .status-disconnected {
        color: #900;
        font-weight: bold;
        padding-left: 0px;
        margin-left: 0px;
    }

    .btn {
        margin-top: 10px;
        width: auto;
        padding: 2px 20px;
    }
}

#nutrition-partner-connect,
#nutrition-widget-content {
    .btn-refreshing {
        display: none;

        > img {
            vertical-align: top;
        }
    }
}

#nutrition-widget-content {
    .btn-refreshing {
        top: 7px;
        position: relative;
    }
}

#nutrition-summary {
    text-align: center;

    & > .eaten, & > .burned {
        text-align: center;
        padding-top: 100px;
        margin: 0 25px;
        display: inline-block;
        width: 75px;
        background: transparent url(../Images/Nutrition/summary-sprite.png) no-repeat 0 0;

        span {
            display: block;
            font-size: 18px;
            font-weight: bold;
        }
    }

    & > .burned {
        background-position-x: -75px;
    }

    .tooltip-content {
        display: none;
    }

    .eaten {
        color: @eatenColor;
    }

    .burned {
        color: @burnedColor;
    }

    .tooltip {
        padding-bottom: 8px;
    }

    .tooltip-arrow {
        border-top-color: #fff;
        border-width: 8px 8px 0 8px;
        margin-left: -8px;
    }
        // FIXME:
        .tooltip-arrow:after {
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 10px;
            content: "";
        }

    .tooltip-inner {
        background-color: #fff;
        border-color: #888;
        .box-shadow(0 2px 5px 0 rgba(0,0,0,.5));
        line-height: 24px;
        color: #444;
        text-align: left;
        font-size: 12px;
        padding: 15px;

        span {
            font-size: 24px;
            font-weight: bold;
            position: relative;
            top: 5px;
        }
    }
}

#nutrition-weight-title-edit {
    margin-bottom: 20px;
}

div.span3.side-nav {
    margin-left: 40px !important;
}




/***** TOOLTIP *****/

#tip-nutrition {
    position: absolute;
    border: 1px solid gray;
    border: 0px;
    z-index: 1000;
    text-align: left;
    width: 265px;
    height: 160px;
}

#tip-arrow-nutrition {
    background-image: url(/v2/Content/Images/LandingPageV3/arrow_tooltip_graph_red.png);
    background-position-x: 15px;
    background-repeat: no-repeat;
    height: 20px;
    width: auto;
}

#tip-data-nutrition {
    width: 230px;
    height: 90px;
    max-width: 350px;
    padding: 15px 15px;
    border: 0px;
    border-color: #e7a423;
    border-top: 5px solid;
    background-color: white;
    line-height: 24px;
    box-shadow: 5px 5px 15px #ccc;
}

#steps-cals-span {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: normal;
    color: #626a73;
    font-family: Conv_Tungsten-Medium,Arial,Helvetica,sans-serif;
}

#date-span {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #6c767c;
    font-weight: normal;
}

#data-span {
    font-size: 18px;
    line-height: 20px;
    text-transform: uppercase;
    color: #626a73;
    font-family: Conv_Tungsten-Medium,Arial,Helvetica,sans-serif;
}

#nutrition-overview-lbl-left-direction {
    font-size: 16px !important;
}

#nutrition-challenge-list {
    margin-top: 50px;

    h2.header {
        border-bottom: 1px dotted #ddd;
    }

    .challengeBadge {
        float: right;
        width: 80px;

        img {
            width: 64px;
            height: 64px;
            margin: 2px 0 0 10px;
        }
    }

    .challengeItem {
        margin-bottom: 25px;
        font-family: Arial,Helvetica;
        color: #333e48;

        .challenge-item-title {
            font-size: 13px;
            color: #343e47;
            font-weight: bold;
        }

        .challenge-member-participation {
            font-style: italic;
            color: #666;
            font-size: 11px;
            margin-top: -8px;
        }

        .challenge-item-join {
            font-size: 13px;
            color: #008eaa;
            font-weight: bold;
        }
    }
}

li.reward label, label.reward {
    position: absolute;
    margin-left: 0;
    cursor: pointer;
    text-align: center;
    font-size: 1.3em;
    color: #455560;
    padding-top: 5px;
    font-weight: bold;
    height: 20px;
    width: 50px;
}

li.reward {
    list-style: none;
    height: 60px;
}

.reward-text {
    float: right;
    width: 200px;
    display: block;
    margin-top: 10px;
}


/***** HELP TEXT - MODAL WINDOWS *****/

.helpLinkNutrition {
    float: right;
    cursor: pointer;
    color: #c9cacd !important;
    font-size: 28px;
    text-decoration: none !important;
}

.helpLinkNutrition2 {
    cursor: pointer;
    text-decoration: none !important;
}

.helpLinkNutrition3 {
    float: right;
    cursor: pointer;
    color: #008aa2 !important;
    text-decoration: none !important;
}

.helpLinkNutrition:hover, .helpLinkNutrition2:hover, .helpLinkNutrition3:hover {
    color: #008aa2 !important;
}

#helpModalNutrition {
    padding: 18px;
    position: absolute;
}

#helpModalNutrition .close {
    font-size: 25px;
}

h2.helpModalTitle {
    line-height: 30px;
    padding-bottom: 7px;
    margin: 20px 0 10px 0;
    border-bottom: 1px dotted #afafaf;
    font-size: 29px !important;
    padding-left: 5px;
}

div.helpModalContent {
    font-size: 13px;
    line-height: 18px;
}

h2.helpModalTitle.first-head {
    margin: 10px 0 10px 0;
}

#nutrition-partner-connect .status-connected {
    font-weight: bold;
    padding-left: 0px;
    margin-left: 0px;
    background: none;
    color: #060;
}

#nutrition-partner-connect .status.hide .status-label.status-disconnected .icon-remove {
    color: #900;
    font-size: 14px;
    margin-right: 5px;
    margin-left: 5px;
}

#nutrition-partner-connect .status.hide .status-label.status-connected .icon-ok {
    color: #060;
    font-size: 14px;
    margin-right: 5px;
    margin-left: 5px;
}


/***** OVERLAY - MFP CONNECT  *****/

#nutrition-content {
    position: relative;
}

.overlayMFPConnect {
    display: none;
    z-index: 10;
    background: #fff;
    position: absolute;
    width: 580px;
    height: 830px;
    top: 42px;
    left: 0;
    text-align: center;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.overlayMFPConnectTopContainer {
    font-size: 16px;
    color: #666;
    margin: 30px auto;
    width: 430px;
    text-align: center !important;
    padding-top: 0px !important;
}

#connectMFPAccount {
    margin: 25px;
    width: 340px;
    height: 36px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

/*a {
    margin-top: 15px;
}*/

.importantMFP {
    font-size: 12px;
    color: #666;

    strong {
        color: #900;
    }
}

.overlayMFPConnectBottomContainer {
    text-align: left;
    width: 490px;
    margin: 30px auto;
    font-size: 13px;
}

.calories-calculation {
    height: 75px;
    margin-bottom: 65px;

    ul {
        list-style: none;
        height: 65px;
        border-top: 1px dotted;
        border-bottom: 1px dotted;
        padding-left: 0px;
    }

        ul li {
            float: left;
            padding: 13px;
        }

    li.calculation-vertical-arrow {
        border-left: 1px dotted;
        margin-top: 22px;
        margin-left: 15px;
    }

    li.calculation-minus {
        margin-top: 20px;

        i.icon-minus {
            font-size: 11px;
        }
    }

    li.calculation-equals {
        margin-top: 20px;
    }

    strong {
        color: #666;
        font-size: 14px;
    }

    p {
        color: #666;
        font-size: 14px;
        margin: 0px;
    }

    .calculation-refresh {
        text-align: center;
        margin-top: 15px;
    }
}

.calories-calculation li.calculation-minus {
    margin-top: 17px;
}

.calories-calculation li.calculation-equals {
    margin-top: 17px;
}

.helpNlast {
    top: 30% !important;
}

#nutrition-progress .chart-label .value {
    color: #fff;
    display: inline-block;
    margin-bottom: 22px;
    font-size: 13px;
    font-weight: normal;
    line-height: 28px;
    background-color: #e7a423;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    border-radius: 16px;
    width: 28px;
    height: 28px;
    padding-right: 1px;
}

#nutrition-progress .chart-label-goal .value {
    background-color: #34ae3c;
}

#nutrition-progress .chart-label .name {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 14px;
}

.overlayMFPConnectContainer {
    background-image: url(/v2/Content/Images/Nutrition/mfp-containter-bg.png);
    background-repeat: repeat;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 0 8px #bbb;
    -moz-border-radius: 6px;
    margin-top: 70px;
    position: absolute;
    width: 580px;
    z-index: 999;
    display: none;
}

.overlayMFPConnectTopBorder {
    border-bottom: 1px dotted #afafaf !important;
    width: 475px;
    margin-left: 45px;
}

.EditGoalContainer {
    margin-top: 25px;
    width: auto;
    background-color: #FFF;
}
.calories-calculation p{
    font-size:12px !important;
    font-style:normal !important;
}
.calculation-refresh.lastLink{
    font-size:12px !important;
    font-style:italic !important;
}
 .grey-button {
    background-color: #dbd4c6;
    background-image: -moz-linear-gradient(top,#f1eee8,#dbd4c6);
    background-image: -webkit-gradient(linear,0 0,0 80%,from(#f1eee8),to(#dbd4c6));
    background-image: -webkit-linear-gradient(top,#f1eee8,#dbd4c6);
    background-image: -o-linear-gradient(top,#f1eee8,#dbd4c6);
    background-image: linear-gradient(to bottom,#f1eee8,#dbd4c6);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #666;
    border-color: #e0d9cd;
    padding: 5px 17px;
    text-shadow: none;
    font-size: 16px;
    }
 
/*****BOOTSTRAP BUTTON STYLE********/
.btn.yellow-button {
   background-color: #ec9702;
  *background-color: #ec9702;
  background-image: -moz-linear-gradient(top, #fdbb2d, #ec9702);
  background-image: -webkit-gradient(linear, 0 0, 0 80%, from(#fdbb2d), to(#ec9702));
  background-image: -webkit-linear-gradient(top, #fdbb2d, #ec9702);
  background-image: -o-linear-gradient(top, #fdbb2d, #ec9702);
  background-image: linear-gradient(to bottom, #fdbb2d, #ec9702);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-color: #ffc254;
  color: #fff;
  padding: 5px 17px;
  text-shadow: none;
  font-size: 16px;
}
.btn.grey-button {
   background-color: #dbd4c6;
  *background-color: #dbd4c6;
  background-image: -moz-linear-gradient(top, #f1eee8, #dbd4c6);
  background-image: -webkit-gradient(linear, 0 0, 0 80%, from(#f1eee8), to(#dbd4c6));
  background-image: -webkit-linear-gradient(top, #f1eee8, #dbd4c6);
  background-image: -o-linear-gradient(top, #f1eee8, #dbd4c6);
  background-image: linear-gradient(to bottom, #f1eee8, #dbd4c6);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #666666;
  border-color: #e0d9cd;
  padding: 5px 17px;
  text-shadow: none;
  font-size: 16px;
}
.btn.dark-grey-button {
   background-color: #d3c9bf;
  *background-color: #d3c9bf;
  background-image: -moz-linear-gradient(top, #f1eee8, #d3c9bf);
  background-image: -webkit-gradient(linear, 0 0, 0 80%, from(#f1eee8), to(#d3c9bf));
  background-image: -webkit-linear-gradient(top, #f1eee8, #d3c9bf);
  background-image: -o-linear-gradient(top, #f1eee8, #d3c9bf);
  background-image: linear-gradient(to bottom, #f1eee8, #d3c9bf);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #222222;
  cursor:pointer;
  border-color: #e0d9cd;
  padding: 5px 20px;
  text-shadow: none;
  font-size: 16px;
}