﻿@import "vhm.mixins.less";

@defaultFont: Arial,Helvetica,Verdana,sans-serif;
@controlArrowHeight: 56px;
@controlArrowFontSize: 40px;
@carouselBorderWidth: 2px;

#personal-challenge {
	width: 550px;

	.more-link {
		margin: 0;
		padding-top: 5px;
	}

	.btn {
		.rounded-corners(8px);
	}

	.carousel {
		border: solid @carouselBorderWidth #999;
		.rounded-corners(~"12px / 6px");
		.box-shadow(0 2px 7px 0px #999);
		margin-top: 10px;

		.carousel-indicators {
			top: auto;
			right: 10px;
			bottom: 8px;

			li {
				width: 13px;
				height: 13px;
				.rounded-corners(6px);
				.border-box();
				background-color: #fff;
				cursor: pointer;
				margin-left: 8px;
				border: 1px solid #999;

				&:hover {
					background-color: mix(#fff, #227aa9, 75%);
				}

				&.active {
					background-color: #227aa9;
					cursor: default;
					border-width: 0;
				}
			}
		}

		.carousel-control {
			width: @controlArrowHeight;
			height: @controlArrowHeight;
			.border-box();
			border-width: 0;
			margin: 0;
			background-color: #999;
			opacity: 0.8;
			font-size: @controlArrowFontSize;
			color: #fff;
			padding: ((@controlArrowHeight - @controlArrowFontSize) / 2 + 2) 0 0 0;
			z-index: 1;
			.rounded-corners(@controlArrowHeight / 2);
			.box-shadow(0 0 3px #999);
			top: 100px;

			&.left {
				left: -@controlArrowHeight / 3 - @carouselBorderWidth;
				padding-left: 7px;
				text-align: left;
				clip: rect(0, @controlArrowHeight / 3 , @controlArrowHeight, -5px);
			}

			&.right {
				right: -@controlArrowHeight / 3 - @carouselBorderWidth;
				padding-right: 7px;
				text-align: right;
				clip: rect(0, @controlArrowHeight + 5, @controlArrowHeight, @controlArrowHeight / 3 * 2);
			}

			&:hover {
				background-color: #777;
			}
		}

		.carousel-inner {
			background: #59a9de url(/v2/Content/Images/Challenges/carousel-bkgd.png);
			z-index: 2;
		}

		.item {
			min-height: 279px;
			width: 100%;
			padding: 25px;
			z-index: 2;
			.border-box();
			color: #fff;
			margin: 0;

			.span6 {
				width: 48.717948717948715% !important;   // undo width set at master.css level
			}

			label {
				font-weight: bold;
				line-height: 1.1em;
				font-size: 18px;
				margin: 0;
				padding: 0;
				margin: 0 0 10px 0;
				display: block;
				cursor: default;
			}

			input {
				.border-box();
				height: 32px;
				font-size: 18px;
				padding: 4px;
				color: #444;
				width: 70px;
				text-align: right;
				vertical-align: top;
				border-color: #aa8;

			}

			form {
				margin-bottom: 15px;

				.btn {
					height: 32px;
					width: 125px;
				}

				.btn-bool {
					width: 75px;
					margin-right: 10px;
				}
			}

			h2, h3 {
				font-family: @defaultFont;
				font-weight: normal;
				padding: 0;
				font-size: 18px;
				margin: 0 0 5px 0;

				span {
					float: right;
					font-size: 80%;
				}
			}

			h3 {
				font-size: 13px;
			}
			
			.rewards {
				margin: 10px 0 8px 0;
				
				div {
					display: inline-block;
					position: relative;
					width: 50px;
					height: 50px;
					margin: 0 10px 10px 0;

					label {
						padding-top: 5px;
						top: 0;
					}
					
					img {
						width: 50px;
						height: 50px;
					}
				}
			}

			.leaders {
				margin: 15px 0 0 0;
				padding: 0;

				dt, dd {
					margin: 0 0 5px 65px;
					line-height: normal;
					color: #004;
					font-weight: normal;

					&.active {
						color: #fff;

						img {
							border: 3px solid #fff;
							.rounded-corners(4px);
							left: -68px;
							top: -2px;
						}
					}
				}

				dt {
					border-bottom: 1px dotted #008;
					font-size: 14px;
					padding: 0 0 2px 0;
					list-style: none;
					position: relative;

					&.active {
						border-bottom: 1px dotted #fff;
					}

					img {
						position: absolute;
						left: -65px;
						top: -2px;
					}

					span.place {
						font-size: 130%;
						font-weight: bold;
						display: inline-block;
						width: 40px;
					}
				}

				dd {
					padding: 0 0 13px 0;
					text-align: center;
					font-style: italic;
				}
			}

			.empty-message {
				font-size: 24px;
				text-align: center;
				margin: 40px 0 65px 0;
				line-height: 1.2em;
			}

			.btn-primary {
				color: #fff;
				.gradient(#d11c07, #941100);
				padding: 1px 25px;
				font-size: 13px;
				.box-shadow(~"inset 0 1px 0px rgba(255,255,255,0.5), inset 0 -1px 0px rgba(0,0,0,0.5)");

				&:hover {
					background-position: 0 0;
					opacity: 0.9;
				}

				&:active {
					.gradient(#941100, darken(#d11c07, 10%));
					.box-shadow(~"inset 0 1px 0px rgba(0,0,0,0.5)");
					opacity: 1;
				}
			}
		}
	}

	.btn-large {
		color: #06c;
		padding: 8px;
		margin-right: 30px;
		width: 210px;
	}

	.btn-last {
		margin-right: 0;
	}

	.summary {
		margin-top: 35px;
		margin-bottom: -140px;

		p {
			color: #8d8d8d;
			font-size: 22px;
			line-height: 1.5em;
			margin: 10px 0;
            font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;

			b {
				color: #b5271f;
			}
		}
	}
}
