﻿/* File Created: April 11, 2013 */
@import "vhm.mixins.less";

/*------------MEDIA QUERIES--------*/
@media (min-width: 979px) {
	body{margin-top:40px;}
    #mainNavBootstrap
    {
	        li{
                ul{
	                padding-right: 10px;
                    padding-left: 10px;
                }
            }
    }
    /* Enable mouseover */
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
        margin: 0px;
    }
    ul#mainNavBootstrap li#liNavCat:hover > ul.dropdown-menu {
        display: block;
        margin: 0px;
    }
    ul#mainNavBootstrap li:hover > ul.dropdown-menu {
        display: block;
        margin: 0px;
    }
}
@media (max-width: 767px) {
  body {
      margin-top: 40px;
  }
  .VHMheadermenuc {
	width: auto!important;
	}
	.poweredby
	{
	    margin-top:0px;
	}
}
@media (min-width: 767px) and (max-width: 979px) {
    body {
        margin-top: 40px;
	    .navbar-fixed-top {margin-bottom:0px;}
    }
    .poweredby
    {
	    margin-top:0px;
    }
    #floatingcontent {width:auto; padding-left:5px;}
    

@media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
        #floatingcontent {width:auto; padding-left:5px;}
      }
}
/*------------LAYOUT FIXES--------*/
.InterimMaster {margin-top:0px!important}
#vhmLogo{margin-bottom: 27px;}
#menuProfileImage {padding-left:5px;}
.spanActionText{float:none;}
.NRRewardPost{clear:both;}
#divSave td:last-child{padding-left:20px;}
#recentRewardsSideNav ul{margin:0px !important;}
#wrapper
{
    .span6
    {
        width:580px !important;
    }
    .span3
    {
        width:290px !important;
        margin-left: 60px;   
    }
}

/*------------TOP NAVIGATION--------*/
.navbar .btn-navbar
{float:left;}
#topNavigation
{
	position:fixed;
	top:0px;
    font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 12px!important;
	
    li{
        a{
            cursor: pointer;
            font-weight:normal;
        }
        ul{
            background-color: #fff;
            li{
                a{
                    font-weight: normal;
					cursor: pointer;
                }
                &:hover{
                    background-color: #dfdac7;
                    a{
                        text-decoration: none;
						cursor: pointer;
                    }
                }
            }
        }
	}
	.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav>li.dropdown.open.active>a:hover, .nav>li.dropdown.open.active>a:focus {
	    filter: none;
	    color: #fff;
	    background-color:#f2ece3;
	    border-color: #fff;
	}
	.dropdown-menu>li>a:hover
	{
	    filter: none;
		background-color:#f2ece3;
		background-image:none;
	}
	.nav-pills .open .dropdown-toggle
	{
	    filter: none;
		background-image:none;
		background-color:#f2ece3;
	}

    .dropdown-toggle.pull-right.userProfileName
    {
    float:left;
	padding-left:5px;
	padding-right:3px;
    }
	
}


#mainNavBootstrap
{
    font-size: 15px;
	background-color: transparent;/* #F4F1E5;*/
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-weight: normal;
	padding-left:0px;
	    li{
        display: -moz-inline-box; /* *display: inline; /* For IE7 */
        text-shadow: 1px 1px #ccc;
		line-height:18px;
        &:hover{
			background-color:none;
			}
        &:last-child{
            border-right: none !important;
        }
        a{
            cursor: pointer;
            text-decoration: none;
			line-height:18px;
            z-index: 50;   
            font-weight: normal;
        }
        a.home {
            background: none;
            cursor: pointer;
        }
        ul{
            z-index: 999;
            background-color: #fff;
            text-align: left;
			float:none;
			left:auto;
			margin-left:0px;
			margin-right:0px;			
	        width: auto;
	        padding-right: 10px;
            padding-left: 10px;
            li{
                    display:block;
                a{
                    cursor: pointer;
					text-shadow: none;
                    font-weight: normal;
					line-height:24px;
                }
                &:hover{
                    background-color: #dfdac7;
                    cursor: pointer;
                    a{
                        text-decoration: none;
                    }
                }
            }
        }
		
    }
	.nav-tabs .open .dropdown-toggle, 
	.nav-pills .open .dropdown-toggle, 
	.nav>li.dropdown.open.active>a:hover, 
	.nav>li.dropdown.open.active>a:focus {
	    filter: none;
	    color: #fff;
	    background-color:#f2ece3;
	    border-color: #fff;
	}
	.dropdown-menu>li>a:hover
	{
	    filter: none;
		background-color:#f2ece3;
		background-image:none;
	}
	.nav-pills .open .dropdown-toggle
	{
	    filter: none;
		background-image:none;
		background-color:#f2ece3;
	}
}

.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav>li.dropdown.open.active>a:hover, .nav>li.dropdown.open.active>a:focus {
	background-color: #f2ece3;
	border-radius:0px;
}
.navbar .nav li.dropdown>.dropdown-toggle .caret,.nav .dropdown-toggle .caret {
	margin-top: 7px;
	margin-left:8px;
}

#footer
{
    position:static;
    font-size:11px;
	ul
    {
        padding-left:0px;
    }
    
    .nav{
        li{
            a{
                padding: 10px 10px 10px;
                color:White;
                text-shadow: none !important;
                font-weight: normal;
            }
            
        }
    }
    .poweredby{width:180px!important;margin-top:-11px!important;}
}

.InterimFooter{
	width:100%;
	li.poweredBy{margin-right:15px; float:right;}
}


#copyright
{
    padding: 10px 10px 10px;  
    color: white;  
    text-decoration: none;  
    font-weight:normal;
}
.ipad_input_fix input{padding-left:5px!important; padding-right:5px!important; min-width:50px!important;}
input[type='text']{min-width:45px!important;}
.bootstrap
{
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 220px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.bootstrapShort
{
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    width: 90px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
.bootstrap-input
{
    width: 206px !important;
    height: 20px;
    margin-right: 10px;
}
.bootstrap-select
{    
    height: 30px;
    line-height: 30px;
}
#new-entry-log
{
    display:none;
}
.modal-body {
    max-height: 415px;
}
#new-entry-legend
{
    float:right;
    margin-right:130px;
}
#wrapper .row{margin-left:0px!important;}
#wrapper .row .span12{width:940px!important;margin-left:0px!important;}
[class*="span"] {margin-left:inherit;}
#wrapper .reports_page .row{margin:0 40px 20px 26px!important;}

#all-activites td
{
    width:150px;
}
#all-activites td input
{
    margin-right:5px;
}
#customActivityModal
{
    left: 41%;
    z-index: 1045;
    width:850px;

}
#ddCategory
{
    margin-right:10px;
}

#m_11
{
    width: 82px !important
}
#m_12
{
    width: 82px !important;
    margin-left: 10px;  
}
#modalManualEntry input
{
    text-align:center;
}
#bmNote
{
    float: left;    
    width: 355px;
}
#redeem-voucher-container input
{
    width: 55px;
}
.ajax-loader
{
    height: 17px; 
    display: none;
    margin-right:10px;
}
.piggyFix
{
	.piggyImage
	{
		top:0px;
	}
	h3.piggyTotalHealthCash
	{
		margin-top:-80px;
	}
}
.AJ-target-display 
{
    margin: 0 50px 0 0;
    color: #990000;
    padding: 10px; 
    position: absolute;
    bottom: 10px;
    right: 0px;
}
.BM-target-display 
{
    margin: 0 50px 0 0;
    color: #990000;
    padding: 10px; 
    right: 0px;
}

/*------------DEVICE SETTINGS PAGE--------*/
    
.settings-content{
    background-color: #f6f4f2;
	width: 850px;
    padding: 20px;
}
.settings-content img {
	width: 84px;
	height: 90px;
    margin-right: 10px;
    float: left;
    border: 1px solid #afafaf;
    box-shadow: 0 0 10px 2px #ccc;
    -moz-box-shadow: 0 0 10px 2px #ccc;
    -webkit-box-shadow: 0 0 10px 2px #ccc;
}
ul.settings-list {
    margin-left: 0;
    list-style: none;
    padding-left: 0px;
}
.settings-content ul li{
	height: 125px;
	padding-top: 10px;
	padding-bottom: 15px;
	margin-bottom: 8px;
    border-bottom: 1px dotted #afafaf;
}
ul.device-settings-steps-list  {
    list-style-type: square;
    float: left;
    width: 590px;
}
ul.device-settings-steps-list li {
    padding: 0px 0px;
	height: 100%;
	font-size: 14px;
    color: #515151;
    margin: 0;
    border: none;
}
.settings-item {
    padding: 0 5px;
    float: left;
    width: 740px;
}
.setting-title {
    font-size: 16px;
    color: #626a73;
    font-weight: bold;
    padding-bottom: 8px;
    margin-bottom: 5px;
}
.settings-content h1 {
    margin-bottom: 15px;
}
.settings-list p {
    font-size: 14px;
    color: #515151;
    margin: 0px;
    width: 610px;
    float: left;
}
.device-content p a {
    color: #008aa2;
    text-decoration: none;
}
.settings-content input[type="button"] {
    float: right;
    padding: 6px 33px;
    margin-top: 20px;
}
.settings-content input[type="text"] {
    margin-top: 20px;
    width: 200px;
    height: 25px;
    color: #515151;
}
.has-switch {
    float: right;
}
span.switch-left {
    background-color: #00879f !important;
    background-image: -moz-linear-gradient(top, #006c7f, #00879f) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#006c7f), to(#00879f)) !important;
    background-image: -webkit-linear-gradient(top, #006c7f, #00879f) !important;
    background-image: -o-linear-gradient(top, #006c7f, #00879f) !important;
    background-image: linear-gradient(to bottom, #006c7f, #00879f) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff006c7f', endColorstr='#ff00879f', GradientType=0) !important;
}
.switch-fontsize9 {
    font-size: 9px !important;
}
.settings-list-clearboth {
    clear:both;
}
.max-device-description {
    float:left; 
    width: 590px;
    color: #515151;
    font-size: 14px;
    line-height: 20px;
}
.max-device-image {
    float: right; 
    width: 320px; 
    margin-right: 20px; 
    margin-top: -20px;
}

/*------------END DEVICE SETTINGS--------*/


.AJ-target-display-number{ width: 30%;font-size: 12px;font-weight: normal; }
.AJ-text-display{ margin-top: 3px;}
.AJ-my-target{ font-weight: bold; }
.BM-my-target{ font-weight: bold; }
.google-visualization-tooltip{border:none;padding:8px!important; color:#666666!important;-webkit-box-shadow: 5px 5px 5px #cccccc!important;box-shadow: 5px 5px 5px #cccccc!important;-moz-border-radius: 5px!important;border-radius: 5px!important;-moz-box-shadow: 5px 5px 5px #cccccc!important;}
.point_bm{margin-left: 160px;margin-top: 55px;}
#point_display{z-index:100000000000;}
.spanWhite{float: right;}


/******* VHM BLOG STYLES********/
.landing-blog-list
{
	border-top-color: rgb(221, 221, 221);
	border-top-style: dotted;
	border-top-width: 1px;
	width: 552px;
	margin-top:20px;
	margin-bottom:20px;
	.blog-title
	{
		font-family:arial,helvetica,sans-serif;
		font-size:22px;
		color:#008aa2;
		margin-top:20px;
		a{
			text-decoration:none;
		}
	}
	.blog-date
	{
		font-family:arial,helvetica,sans-serif;
		font-size:12px;
		color:#ccc;
		padding:5px 0px;
	}
	p.blog-intro-text
	{
		
	}
	.blog-list-image
	{
		float:right;
		margin-left:15px;
		margin-bottom:20px;
		display:block;
		width:110px;
	}
}

#divCFNotification li.reqfrndsItems
{
	height:50px;
}
/******MAIN NAV STYLES************/
.main-nav.navbar
{
    margin-top: 0px;
    background: url(../../images/LandingPageV3/menu-dark-repeater.png) repeat-x;
    height: 53px;
    vertical-align: middle;
    margin-bottom: 0px;
    font-family: arial, helvetica, sans-serif;
	margin-bottom:20px;
	width:952px;
}
.main-nav.navbar .nav
{
    height:53px;
	padding-left:0px;
}
.main-nav.navbar .dropdown-menu
{
    left:auto;
	border:none;
	background:none;
	background-color:#4d5e6a;
	margin-top:0px;
	min-width:240px;
	padding:0px inherit;
	.border-radius(0, 0, 0, 0);
}
.main-nav.navbar .nav > li > .dropdown-menu:after,.main-nav.navbar .nav > li > .dropdown-menu:before
{
	display:none;
}
.main-nav .nav > li
{
    color: #ffffff;
    font-size: 17px;
    text-shadow: none;
    font-weight: normal;
    font-family: arial, helvetica, sans-serif;

	height:53px!important;
}



.main-nav .nav > li.open
{
    background: url(../../images/LandingPageV3/menu-active-repeater.png) repeat-x;
	-webkit-box-shadow: 5px 0px 3px rgba(57, 50, 50, 0.54);
	-moz-box-shadow:    5px 0px 3px rgba(57, 50, 50, 0.54);
	box-shadow:         5px 0px 3px rgba(57, 50, 50, 0.54);
}

.main-nav .nav > li.current
{
    background: url(../../images/LandingPageV3/menu-current-repeater.png) repeat-x;
	-webkit-box-shadow: 5px 0px 3px rgba(57, 50, 50, 0.54);
	-moz-box-shadow:    5px 0px 3px rgba(57, 50, 50, 0.54);
	box-shadow:         5px 0px 3px rgba(57, 50, 50, 0.54);
}



.main-nav .nav > li > a
{
    color: #ffffff;
    font-size: 17px;
    text-shadow: none;
    font-weight: normal;
    font-family: arial, helvetica, sans-serif;
    padding:18px 13px;
	padding-bottom:21px;
	display:block;
	float:left;
	height: 14px;
}
.main-nav .nav > li > a:hover
{
    color: #008eaa;
    font-size: 17px;
    text-shadow: none;
    font-weight: normal;
    font-family: arial, helvetica, sans-serif;
    cursor: pointer;
}
.main-nav .nav > li.first a
{
	padding-left:30px;
	padding-right:30px;
}
.main-nav .nav > li > a .caret
{
    margin-left:6px;
    border-top: 4px solid #fff;
	margin-top:9px;
}
.main-nav .nav  .dropdown-menu li
{
    display: block;
	clear: both;
	font-weight: normal;
	font-size:18px;
	line-height: 20px;
	color: #fff;
	white-space: nowrap;
	border-bottom:1px solid #dfdfdf;
}
.main-nav .nav  .dropdown-menu li:last-child
{
	border-bottom:none;
}
.main-nav .nav  .dropdown-menu li a
{
    display: block;
	padding: 13px 30px;
	clear: both;
	font-weight: normal;
	font-size:17px;
	line-height: 20px;
	color: #fff;
	white-space: nowrap;
	padding-left:25px;
	text-shadow:none;
}
.main-nav .nav  .dropdown-menu li a:hover,.main-nav .nav  .dropdown-menu li:hover
{
	background-image:none;
    background-color:#307c8f;
}

.main-nav .nav > li.menu-item-li.active a,.main-nav .nav > li.current a
{
    background:transparent;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block!important;    
}
.ui-datepicker .ui-datepicker-header{background-color:#ccc!important}
.ui-tooltip.ui-widget.ui-corner-all.ui-widget-content
{
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-box-shadow: rgb(0, 0, 0) 0px 0px 7px 0px;
background-attachment: scroll;
background-clip: border-box;
background-color: rgb(0, 0, 0);
background-image: none;
background-origin: padding-box;
background-size: auto;
border-bottom-color: rgb(255, 255, 255);
border-bottom-left-radius: 20px;
border-bottom-right-radius: 20px;
border-bottom-style: solid;
border-bottom-width: 2px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(255, 255, 255);
border-left-style: solid;
border-left-width: 2px;
border-right-color: rgb(255, 255, 255);
border-right-style: solid;
border-right-width: 2px;
border-top-color: rgb(255, 255, 255);
border-top-left-radius: 20px;
border-top-right-radius: 20px;
border-top-style: solid;
border-top-width: 2px;
box-shadow: rgb(0, 0, 0) 0px 0px 7px 0px;
color: rgb(255, 255, 255);
display: block;
font-family: 'Helvetica Neue', sans-serif;
font-size: 14px;
font-style: normal;
font-variant: normal;
font-weight: bold;
height: 32px;
left: 0px;
line-height: normal;
max-width: 300px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;
padding-top: 10px;
position: absolute;
text-transform: uppercase;
top: 26px;
width: 300px;
z-index: 9999;
}
#userNotifications_divGrInv .reqfrndsItems {margin-bottom:20px;}
#divRptFriendRequests .socialList .jqModalPendFr.VHMHref_Names.contentImg.SocialImg{height:50px}
#userNotifications_divComments .friendsList{overflow:hidden;}
#divRptGrpInvitations .reqfrndsItems{height:90px;}

.ui-widget-header .ui-icon {
    background-image: url('/v2/Content/Style/LandingPageV3/Plugins/images/ui-icons_222222_256x240.png') !important;
}
.ui-dialog-titlebar-close .ui-corner-all {
    margin-top: 0px;
}

.ui-dialog .ui-dialog-content
{
	overflow: inherit;
}

//Nits fixes//

.ui-dialog.ui-widget.ui-widget-content {
    background-color:#fff;
}