﻿body, select, td
{
	font-family: Helvetica, Verdana, Arial;
}

li.newsFeedItems, li.CommentItem{
	font-family: Helvetica, Verdana, Arial;	   
}

li 
{
	list-style: none;
	list-style-image:none;
}

table
{
	border-collapse: collapse;
}

div#oPageHeader_divMain
{
	background: url(/images/SelfEntryChallenge/Header940x35.png);
	background-repeat: no-repeat;
	width: 946px;
	
}
div.PageHeaderDiv{
	margin-bottom: 0px;
}
.CommentsContainer
{

   width:330px;
    }
div.ActivityTracker2
{
	/*margin-left: 5px;*/
	width: 215px;
}
div.SECHeader
{
	width: 972px;
}

div#TrackerOverlay
{
	background: url(/images/SelfEntryChallenge/TrackerOverlay.png);
	background-repeat: no-repeat;
	color: #656565;
	display: none;
	font-size: 14px;
	font-weight: bold;
	height: 70px;
	margin-left: 40px;
	margin-top: 90px;
	padding-top: 20px;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	width: 217px;
	z-index: 2;
}

.trackerLinkContainer{
	text-align: right;
	width:280px;
}

div.secContent{
	background-color: #fff;	
	border-top: none;
	float: left; 
	height: auto; 
	min-height: 500px;	
	width: 940px;	
}
div.secContentInner 
{
	min-height: 450px; 
	margin-left: 4px; 
	margin-top: 6px;
}
div.secImage 
{
	height: 150px; 
	width: 150px;
}
div#secContentLeft  
{
	border-right: solid 2pt silver;
	float: left;  
	height: auto;
	min-height: 944px; 
	padding: 10px; 	
	padding-top: 0px;															
	width: 605px; 
}
div#secContentRight 
{
	float: left; 
	margin-left: 16px; 
	width: 283px; 
}
div#secContentRight table#trackerTable 
{
	/*background-image: url(../images/SelfEntryChallenge/TrackerTableBack.png); */
    background-position: 60px 25px; 
    background-repeat: no-repeat;
    border-collapse: collapse; border-spacing: 0px;
    margin-top: 16px;
    width: 270px;
	z-index: 1;
}

div#trackerBack
{
	background-image: url(/images/SelfEntryChallenge/TrackerBackShim.png);
	background-repeat: repeat;
	display: none;
	position:absolute;
	z-index:0;
	opacity:0.8;
	filter:alpha(opacity=80);
}

div#trackerBackTarget
{
	background-image: url(/images/SelfEntryChallenge/TrackerBackTargetShim.png);
	background-repeat: repeat-x;
	background-position: 0px 25px;
	display: none;
	margin-top: -25px;
	padding-top: 5px;
	position:absolute;
	text-align: center;	
	opacity:0.8;
	filter:alpha(opacity=80);
	z-index:0;
}

div#trackerBackStretch
{
	background-image: url(/images/SelfEntryChallenge/TrackerBackStretchShim.png);
	background-repeat: repeat-x;
	background-position: 0px 25px;
	display: none;
	margin-top: -25px;
	position:absolute;
	text-align: center;	
	opacity:0.8;
	filter:alpha(opacity=80);
	z-index:0;
}

div#secContentRight table#trackerTable.numeric
{
	background-image: url(/images/SelfEntryChallenge/TrackerBackNoStretch.png); 
	background-position: 60px 45px;
}

div#secContentRight table#trackerTable.yesno
{
	background-image: url(/images/SelfEntryChallenge/TrackerBackYesNo.png);
}

div#secContentRight table#trackerTable div.tracker
{
	height: 28px;
}

td.trackerDate
{
	color: #333333;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	width: 62px;
}

td.trackerDate .weekly
{
    font-size: 7pt;    
}

td.trackerDate .weekly .trackerDate2
{
    font-size: 8pt;    
}

.trackerDate2
{
	font-weight: normal;
	font-size: 7pt;
}

td.today, td.today div
{
	color: #D84543; 
	font-size: 8pt;
}
a.moreTracking, a.seeMoreTC
{
	color: #005FAB;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
}	

.extraTrack, .extraTarget, .extraEarned{
	display: none;
}

table#trackerStats, table#completedStats
{
	font-size: 12px;
	margin-top: 50px;
	width: 275px;
}
	table#trackerStats th, table#completedStats th
	{
		color: #333333;
		font-size: 10px;
		font-weight: bold;
		text-align: center;
	}
	table#trackerStats td, table#completedStats td
	{
		background: none;
		color: #656565;
		font-size: 12px;
		font-weight: bold;
		height: 32px;
		width: 186px;
	}
	table#trackerStats td + td
	{
		background-color: #F5F5F5;
		color: #005FAB;
		text-align: center;
		width: 44px;
	}
	table#trackerStats td + td + td
	{
		background-color: #E9E9E9;
		color: #005FAB;
		text-align: center;
		width: 44px;
	}
	
div.secInfo 
{
	float: left;
	width: 172px;
}
div.secInfoTitle 
{
	color: #003365; 
	font-size: 12px; 
	font-weight: bold;
	margin-top: 12px; 
	text-align: left; 
	width: 150px; 
}
div.secDetails 
{
	color: #000; 
	font-size: 11px; 
	width: 150px; 
}
div.secTellAFriend 
{
	background: url(/images/SelfEntryChallenge/ButtonGrey.png); 
	background-repeat: no-repeat; 
	color: #fff; 
	cursor: pointer;
    font-size: 14px; 
    height: 30px; 
    margin-top: 24px; 
    padding-top: 8px; 
    text-align: center; 
    width: 112px; 
}
div.TellAFriendLink
{
	cursor: pointer;
}

div#summeryPopUp
{
	background-color: #F1EFED;
	border-radius: 6px;
	margin-top: 20px;
	padding: 5px;
	width: 150px;
}
div.shareResults
{
	clear:both;
	padding-top: 20px;
}
div.GroupsCenter 
{
	float: left; 
	margin-left: 24px; 
	overflow: hidden; 
	width: 400px; 
}  

input.CommentsTextBox
{
	width: 310px;
}
div.NewCommentForm
{
	width: 315px;
}
div.secQuestion 
{
	color: #CB0100; 
	font-size: 14px; 
	font-family: Helvetica, Arial, Sans-Serif;
	font-weight: bold;
	width: 265px; 
}
#newsContainer 
{
	overflow: hidden;
	padding-top: 0px;
}  

.MessageInputBox
{
	margin-top: 0px;
}
    
th.topArrow 
{
	background: url(/images/SelfEntryChallenge/TrackerArrowUp.png); 
	background-position: 5px 0px;
	background-repeat: no-repeat; 
	cursor: pointer;
	height: 14px; 
	width: 44px;
} 
th.Stretch, td.Stretch
{
	font-family: Helvetica, Verdana, Arial;
	line-height: 11px;
	text-align: right; 
	padding-right: 3px;
} 
td.Stretch, td.yes
{
	background: #fff;
}
    
th.Start, 
td.Finish 
{
	background: #fff;
	color: #999999; 
	font-family: Helvetica, Verdana, Arial;
	font-size: 10px; 
	font-weight: bold; 
	height: 15px; 
	line-height: 25px;
	text-align: center;
	width: 65px;
}  
th.yes, th.no, td.yes, td.no, th.Stretch div, td.Stretch div, div#trackerBackStretch, div#trackerBackTarget
{
	color: #333333;
	font-family: Helvetica, Verdana, Arial;
	font-size: 10px;
	font-weight: bold;
} 

td.bottomArrow 
{
	background: url(/images/SelfEntryChallenge/TrackerArrowDown.png); 
	background-position: 5px 0px;
	background-repeat: no-repeat; 
	cursor: pointer;
	height: 14px; 
	width: 44px;
}    
 
div#TopChallengers
{
	width: 100%;
}

div.TopChallengersHeader
{
	color: #999999;
	font-size: 14px;
	font-family: Helvetica, Arial, Verdana;
	font-weight: bold;
	margin-top: 32px;
}
   
div#TabControl
{
	height: 280px; 
	margin-right:-20px;
}

.ui-tabs .ui-tabs-nav li
{
	background-color: #CCCCCC;
	height: 20px;	
	padding: 5px 0px 0px 0px;
	text-align: center;
	width: 43px;
}

li#tabTrack
{
	width: 43px;
}
li#tabAchieve
{
	width: 75px;
}
li#tabEarn
{
	width: 40px;
}
li.ui-state-default a.tabLink
{
	color: #656565;
	font-size: 11px;
	font-weight: bold;	
	padding: 0px;
	width: 100%;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected 
{
	background-color: #CB0100;
	padding: 5px 0px 0px 0px;	
}
li.ui-tabs-selected a.tabLink
{
	color: #fff;
	padding: 0px;
	width: 100%;
}
div.ui-tabs .ui-tabs-panel
{
	border: solid 1pt #C8C4BC;
	border-radius: 0px 6px 6px 6px;
	margin-top: 24px;
	padding-bottom: 10px;
	width: 180px;
}

table.tcTrack
{
	height: auto;
	padding: 5px;
	width: 170px;
} 

table.tcTrack th
{
	height: 8px;
}
table.tcTrack td
{
	color: #0044CB;
	font-size: 10px;
	padding-left: 11px;
	/*padding-right: 11px;*/
	width: 40px;
}

table.tcTrack td + td
{
	width: 80px;
}
table#tblTrack td.tcBack,
table#tblAchieve td.tcBack,
table#tblEarn td.tcBack
{
	background: url(/images/SelfEntryChallenge/TopChallengerBackAmount.png);
	background-repeat: no-repeat;
	background-position: 1px 1px;
	color: #333333;
	font-size: 11px;
	font-weight: bold;
	height: 31px;
	padding: 2px 5px 0px 5px;
	text-align: center;
	vertical-align: top;
	width: 40px;
}

table#tblAchieve td.tcBack
{
	font-size: 10px;  
	line-height: 9px;
} 

table#tblEarn td.tcBack
{
	background: none;
	color: #972123;
	padding: 0px;
	text-align: center;
}
table#tblEarn td.tcBack img
{
	height: 32px; 
	width: 32px;
}
table#tblEarn td.tcBack div
{
	margin-top:5px;
	position: absolute;
	text-align: center;
	width: 32px;
	z-index: 1;
}
table#tblEarn td.tcBack div.badge_hm
{
	margin-top: 2px;
	margin-left: 2px;
}

table#tblEarn td.tcBack span.hm
{
	position: absolute;
	z-index: 1;
}
td.lightColor
{
    background-color: #F5F5DC;
    color:Blue;
    text-align:center;
    vertical-align:middle; 
}
td.darckColor
{
	background-color: #DCDCDC; 
	color:Blue;          
	vertical-align:middle;  text-align:center;
}
td.spanText
{
    color:Gray; 
    font-weight:bold; 
    vertical-align:middle;
}
td.borderUnderline
{
	border-bottom:1px solid #D9D9D9;
}

div.moreRewardsLabel
{
	color: #CB0100;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 14px;
	font-weight: bold;
	margin-top: 57px;
	width: 275px;
}
div.badgeLabel
{
	font-size: 12px;
	padding: 9px 0px 9px 3px;
	text-align: center;
	width: 63px;
}
div.earned
{
	color: #333333;
}
img.earnedCheck
{
	height: 16px;
	margin-left: auto;
	padding-left:47px;
	position: absolute;
	width: 14px;
}
div.available
{
	color: #074F89;
}

div#RewardsContainer
{
	margin-top: 10px;
	width: 285px;
}

div.RewardItem
{
	float: left;
	height: 112px;	
	text-align: center;
	vertical-align: top;
	width: 70px;
}

div.RewardItem span.moreRewardsAmount
{
	color: #595959;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: -1px;
	margin-top: 5px;
	position: absolute;
	width: 65px;
}

div.RewardItem span.moreRewardsAmount_cash
{
	margin-top: 15px;
}

div.RewardItem span.earned
{
	color: #972123;
} 

div.RewardItem img.earnedReward, div.RewardItemInner
{
	/*cursor: pointer;*/
	height: 64px;
	width: 64px;
}
div.rewardDescHover
{	
	background-image: url(/images/SelfEntryChallenge/rewardHoverBack.png);
	background-repeat: no-repeat;
	display: none;
	height: 40px;	
	margin-top: -40px;
	margin-left: -90px;
	padding: 12px 3px 3px 2px;
	position: absolute;
	min-width: 270px;
	text-align: center;
	width: 270px;
	z-index: 3;
	
}
div.rewardDescHover img
{
	position: absolute;
	height: inherit;
	width: 100%;
}

img.badgeImage
{
	height: 64px;
	width: 64px;
}		 




.ui-dialog .ui-dialog-buttonpane
{
	position:relative;
	/*margin-top: 340px;*/
}

.ui-dialog .ui-dialog-content
{
	padding-top: 0px;
}

.ui-dialog .ui-dialog-buttonpane button
{
	background-repeat: no-repeat;
	padding:  1px 6px;
}

a.c_darkred{
	color:#8b0000;
}

h3.c_red
{
	color: #C71B00;
	font-family: Verdana, Arial;
	font-size: 18px; 
	font-weight: bold;
	margin-bottom: 10px;
}

div.MessageContainer
{
	margin-bottom: 10px;
}

div.close
{
	display: none;
}
.ui-draggable .ui-dialog-titlebar {
	height: 1px;
}
/*
.ui-dialog .ui-dialog-titlebar-close
{
    background-image: url(/images/Challenges/blue_close.png);
    background-repeat: no-repeat;
    cursor:pointer;
    height: 24px;
    right:-10px;
    padding: 0px;
    position:absolute;
    top:10px;
    width: 24px;
    z-index: 2;
}
*/
img.NFImage
{
	height:26px;
	position: relative;
	width: 26px;
}

span.NFRewardAmt
{
	color: #972123;
	font-weight: bold;
	position: absolute;
	text-align: center;
	z-index:2;
	bottom: auto;
	vertical-align:top;
	width: 25px;
}
span.nfCash{
	margin-top:5px;
}

/* Overlays */
.ui-widget-overlay { background: #aaaaaa/*{bgColorOverlay}*/ url(/images/ui-bg_flat_0_aaaaaa_40x100.png)/*{bgImgUrlOverlay}*/ 50%/*{bgOverlayXPos}*/ 50%/*{bgOverlayYPos}*/ repeat-x/*{bgOverlayRepeat}*/; opacity: .3;filter:Alpha(Opacity=30)/*{opacityOverlay}*/; position: absolute; top: 0px; }
.ui-widget-shadow { margin: -8px/*{offsetTopShadow}*/ 0 0 -8px/*{offsetLeftShadow}*/; padding: 8px/*{thicknessShadow}*/; background: #aaaaaa/*{bgColorShadow}*/ url(images/ui-bg_flat_0_aaaaaa_40x100.png)/*{bgImgUrlShadow}*/ 50%/*{bgShadowXPos}*/ 50%/*{bgShadowYPos}*/ repeat-x/*{bgShadowRepeat}*/; opacity: .3;filter:Alpha(Opacity=30)/*{opacityShadow}*/; -moz-border-radius: 8px/*{cornerRadiusShadow}*/; -webkit-border-radius: 8px/*{cornerRadiusShadow}*/; }

  /*Following five classes have been added to fix the alert popups defects. The style values have been copied form ui.theme.css*/
/*.ui-dialog .alert-dialog-close
{
    background: url(jquery/images/ui-icons_222222_256x240.png) no-repeat -96px -128px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 100000;
    position: absolute;
    right: .3em;
    top: 50%;
    width: 16px;
    margin: -10px 0 0 0;
    padding: 0px;
    height: 16px;
}

.ui-dialog .alert-dialog-close:hover
{
    background: #dadada url(jquery/images/ui-icons_454545_256x240.png) no-repeat -96px -128px;
    border: 1px solid #999999;
    outline: none;
    padding: 0;
}

.ui-dialog .alert-dialog-close span
{
    display: none;
}

.alert-dialog-content
{
    background: #ffffff url(Jquery/images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x !important;
    border: 1px solid #C10400 !important;
    color: #222222 !important;
}

.alert-dialog-header  
{ 
  border: 1px solid #C10400 !important; 
  background-color: #C10400 !important; 
  color: #FFFFFF !important; 
  font-weight: bold !important; 
  height: 20px !important; 
  }	   
  */  
  /* fix for general alert box */  
.Fix_AlertParent{border: 1px solid #c10400;background-color: #fff;}      
.Fix_FirstDiv{position:absolute;color:#fff;font-size:12px;font-weight:bold;font-family:Verdana,Arial,sans-serif;} 
.Fix_FirstDivParent{background-color:#c10400;height:20px;}
.Fix_closespan{width:16px;height:16px;background-image: url(jquery/images/ui-icons_222222_256x240.png);background-position: -96px -128px ;}

/*POPUP STYLES*/
			  
table#trackerStats, table#completedStats
{
	font-size: 12px;
	margin-top: 50px;
	width: 275px;
}
	table#trackerStats th, table#completedStats th
	{
		color: #333333;
		font-size: 10px;
		font-weight: bold;
		text-align: center;
	}
	table#trackerStats td, table#completedStats td
	{
		background: none;
		color: #656565;
		font-size: 12px;
		font-weight: bold;
		height: 32px;
		width: 186px;
	}
	table#trackerStats td + td
	{
		background-color: #F5F5F5;
		color: #005FAB;
		text-align: center;
		width: 44px;
	}
	table#trackerStats td + td + td
	{
		background-color: #E9E9E9;
		color: #005FAB;
		text-align: center;
		width: 44px;
	}
	

div#dvChallengeCompletedPopup
{	
	background: none; 
	border: none;
	min-width:200px;
	width: 300px;
}

div#dvChallengeCompletedPopup h2
{
	color: #C71B00;
	font-family: Verdana;
	font-size: 18px;
	font-weight: bold;
	
}

div#dvChallengeCompletedPopup div.completedMessage
{
	font-family: Verdana;
	font-size: 11px;
}

div#completedRewardsEarned
{
	float: left;
	margin-top: 20px;
}

div#SECCompletedRewardAmt
{	
	color: #455560!important;
	font-size: 16px;
	font-weight: bold;
	margin-top: 50px;
	text-align: center;
	position: absolute;
	width: 50px;
}

.plus
{
	color: #333333;
	float: left;
	font-size:18px;
	font-family: Verdana;
	height: 40px;
	padding-top: 10px;
	text-align: center;
	width: 30px;
}

img#SECCompletedRewardImg, img#SECCompletedBadge
{
	float: left;
	height: 50px;
	width: 50px;
}

#completedStats
{
	clear: left;
	height: 170px;
	width: 270px;
}
#dvChallengeCompleteFeedback
{	
	width: 270px;
}

.tblVHMCcellL{ padding-left:12px; }
