﻿ul.fdb-rating, ul.fdb-rating-bl
{
    list-style-type:none!important;
    display: inline-block;
    margin: 6px 0 0 0;
    padding: 0;
}

ul.fdb-rating li, ul.fdb-rating li.cover, ul.fdb-rating-bl li, ul.fdb-rating-bl li.cover
{
    background: url(../images/feedback/stars-average.gif) no-repeat 0 0;
    float: left;
    line-height: 18px;
    list-style-image: none;
    margin: 0;
    padding: 0 2px;
    display: list-item;
    list-style-image: none;
    width: 17px;
    height: 16px;
    list-style-type:none!important;
}
ul.fdb-rating-bl li, ul.fdb-rating-bl li.cover
{
    background-image: url("../images/feedback/stars-yours.gif");
    list-style-type:none!important;
}

ul.rating li.cover, ul.fdb-rating li.cover, ul.fdb-rating-bl li.cover
{
    background-position: 0 -16px;
    list-style-type:none!important;
}
ul.rating li.cover .half-star, ul.fdb-rating li.cover .half-star
{
    background: url(../images/feedback/stars-average.gif) no-repeat -8px 0;
    margin-left: 7px;
    width: 17px;
    height: 16px;
    list-style-type:none!important;
}
.fdb-ratinglbl
{
    margin-left: 8px;
}
.fdb-likelbl
{
    margin: 0 0 6px 6px;
}
.fdb-likelbl img, .fdb-likelbl a img
{
    vertical-align: bottom;
    border: 0;
}
.fdb-likelbl span, .fdb-likelbl a span, .fdb-likelbl a
{
    text-decoration: none;
    margin-left: 4px;
    
    font-weight: bold;
    font-size: 9px;
    color: #868686;
}
.fdb-likelbl a span
{
    color: #2b85d0;
}
.fdb-totalLikes
{
    display: inline;
    font-size: 9px;
}
.fdb-close a
{
    background-image: url(../images/Feedback/Close.gif);
    background-repeat: no-repeat;
    cursor:pointer;
    height: 24px;
    right:-16px;
    position:absolute;
    top:-16px;
    width: 24px;
}
.fdb-doneButton
{
    margin-top: 9px;
    float: right;
    font-size: 11px !important;
}
.fdb-summary .fdb-likelbl .fdb-totalLikes
{
    margin-left: 6px;
}
.fdb-summary * ul.fdb-rating
{
    margin: 0;
}
.fdb-summarypopup
{
    cursor: pointer;
}

.fdb-summaryPopupDlg
{
    font-size: 10px;
    color: #636465;
    margin: 5px 3px;
}
.fdb-sumpoplikerating
{
    margin-top: 16px;
    margin-bottom: 15px;
}
.fdb-sumpoplike
{
    float: left;
    margin-right: 17px;
}
.fdb-sumpopcomment
{
    clear: both;
    margin-top: 15px;
    width: 95%;
}

.fdb-summaryPopupTitle
{
    color: #c81c00;
    font-size: 18px;
}
/*.fdb-sumpopbd
{
    border: 8px solid #c40000;
    border-radius: 12px;
    background-color:White;
    }*/

.fdb-commentInputBox
{
    resize: none;
    height: 33px;
    margin: 3px 0 0 0;
    border: 1px dotted #acacac;
    background-color: #FFFFDF;
    font-size: 10px !important;
    font-style: italic;
    overflow-y: auto;
    color: #444444;
    width: 98.5%;
}
.fdb-commentDflt
{
    color:Black;
    font-style: normal;
}