﻿@import url("/v2/Content/Style/LandingPageV3/style_Notifications.css");
@charset "UTF-8";
/************ GLOBAL LAYOUT STYLES ****************/
.v3-wrapper
{
	width:950px;
	margin:0 auto;

	.v3-header
	{
		background-color:#008eaa;
		height:35px;
		line-height:35px;
		font-size:19px;
		padding:0px 15px;
		color:#fff;
		font-family:arial,helvetica,sans-serif;
		border:none;
	}
	.v3-body
	{
		border-bottom:1px solid #e3e2e1;
		border-left:1px solid #e3e2e1;
		border-right:1px solid #e3e2e1;
		padding:30px;
		background-color:#fff;
		.v3-left-col
		{
			width:612px;
			float:left;
		}
	}
	
}

.ui-dialog .ui-dialog-titlebar-close
{
	outline:none;
	height:inherit;
	width:inherit;
	background-image:inherit;
	border:1px solid #f3f3f3;
}
.ui-dialog ui-widget ui-widget-content ui-corner-all no-title {
    
    display: block;
z-index: 1002;
outline: 0px none;
height: auto;
width: 450px;
top: 40px!important;
left: 446px;
}


/**************************************************************************************
********************************* New pulse popus *******************************************
***************************************************************************************/
.ui-widget-header .ui-icon {
background-image: url('LandingPageV3/Plugins/images/ui-icons_267d90_256x240.png');}
.ui-icon-closethick{
background-position: -96px -128px;
}
.ui-state-hover .ui-icon,.ui-state-focus .ui-icon{background-image:url("LandingPageV3/Plugins/images/ui-icons_f5bf2b_256x240.png")!important}
.ui-button-icon-only .ui-icon, .ui-button-text-icon-primary .ui-icon, .ui-button-text-icon-secondary .ui-icon, .ui-button-text-icons .ui-icon, .ui-button-icons-only .ui-icon {
position: absolute!important;
top: 50%!important;
margin-top: -8px!important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
border: 1px solid #ccc;
background: #f6f6f6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x;
font-weight: normal;
color: #1c94c4;
}
.ui-dialog .ui-dialog-titlebar-close {
position: absolute;
right: .3em;
top: 50%;
width: 18px;
margin: -10px 0 0 0;
padding: 1px;
height: 17px;
}
/*.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset :nth-child(2){
background-color: #ec9702!important;
background-image: -moz-linear-gradient(top,#fdbb2d,#ec9702)!important;
background-image: -webkit-gradient(linear,0 0,0 80%,from(#fdbb2d),to(#ec9702))!important;
background-image: -webkit-linear-gradient(top,#fdbb2d,#ec9702);
background-image: -o-linear-gradient(top,#fdbb2d,#ec9702);
background-image: linear-gradient(to bottom,#fdbb2d,#ec9702);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border-color: #ffc254;
color: #fff;
padding: 5px 17px;
text-shadow: none;
font-size: 16px;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset :nth-child(1){
background-color: #dbd4c6!important;
background-image: -moz-linear-gradient(top,#f1eee8,#dbd4c6)!important;
background-image: -webkit-gradient(linear,0 0,0 80%,from(#f1eee8),to(#dbd4c6))!important;
background-image: -webkit-linear-gradient(top,#f1eee8,#dbd4c6)!important;
background-image: -o-linear-gradient(top,#f1eee8,#dbd4c6);
background-image: linear-gradient(to bottom,#f1eee8,#dbd4c6);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
color: #666;
border-color: #e0d9cd;
padding: 5px 17px;
text-shadow: none;
font-size: 16px;
}
.selectionOptions input {
background-color: #ec9702!important;
background-image: -moz-linear-gradient(top,#fdbb2d,#ec9702)!important;
background-image: -webkit-gradient(linear,0 0,0 80%,from(#fdbb2d),to(#ec9702))!important;
background-image: -webkit-linear-gradient(top,#fdbb2d,#ec9702)!important;
background-image: -o-linear-gradient(top,#fdbb2d,#ec9702)!important;
background-image: linear-gradient(to bottom,#fdbb2d,#ec9702);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border-color: #ffc254;
color: #fff;
padding: 5px 17px;
text-shadow: none;
font-size: 16px;
}
.popPaddingBtm.popTitle input {
background-color: #ec9702!important;
background-image: -moz-linear-gradient(top,#fdbb2d,#ec9702)!important;
background-image: -webkit-gradient(linear,0 0,0 80%,from(#fdbb2d),to(#ec9702))!important;
background-image: -webkit-linear-gradient(top,#fdbb2d,#ec9702)!important;
background-image: -o-linear-gradient(top,#fdbb2d,#ec9702)!important;
background-image: linear-gradient(to bottom,#fdbb2d,#ec9702);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border-color: #ffc254;
color: #fff;
padding: 5px 0px!important;
text-shadow: none;
font-size: 16px;
}
.popTitle input {
background-color: #ec9702!important;
background-image: -moz-linear-gradient(top,#fdbb2d,#ec9702)!important;
background-image: -webkit-gradient(linear,0 0,0 80%,from(#fdbb2d),to(#ec9702))!important;
background-image: -webkit-linear-gradient(top,#fdbb2d,#ec9702)!important;
background-image: -o-linear-gradient(top,#fdbb2d,#ec9702)!important;
background-image: linear-gradient(to bottom,#fdbb2d,#ec9702);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border-color: #ffc254;
color: #fff;
padding: 5px 0px!important;
text-shadow: none;
font-size: 16px;
width: 115px!important;
}
.divApproveRej input {
background-color: #ec9702!important;
background-image: -moz-linear-gradient(top,#fdbb2d,#ec9702)!important;
background-image: -webkit-gradient(linear,0 0,0 80%,from(#fdbb2d),to(#ec9702))!important;
background-image: -webkit-linear-gradient(top,#fdbb2d,#ec9702)!important;
background-image: -o-linear-gradient(top,#fdbb2d,#ec9702)!important;
background-image: linear-gradient(to bottom,#fdbb2d,#ec9702);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border-color: #ffc254;
color: #fff;
padding: 5px 0px!important;
text-shadow: none;
font-size: 16px;
}
.jqmClose.vbtn_gray_a_md {
    background-color: #dbd4c6!important;
background-image: -moz-linear-gradient(top,#f1eee8,#dbd4c6)!important;
background-image: -webkit-gradient(linear,0 0,0 80%,from(#f1eee8),to(#dbd4c6))!important;
background-image: -webkit-linear-gradient(top,#f1eee8,#dbd4c6)!important;
background-image: -o-linear-gradient(top,#f1eee8,#dbd4c6);
background-image: linear-gradient(to bottom,#f1eee8,#dbd4c6);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
color: #666;
border-color: #e0d9cd;
padding: 5px 17px;
text-shadow: none;
font-size: 16px;
}
.vbtn_red_a_md {
    background-color: #ec9702!important;
background-image: -moz-linear-gradient(top,#fdbb2d,#ec9702)!important;
background-image: -webkit-gradient(linear,0 0,0 80%,from(#fdbb2d),to(#ec9702))!important;
background-image: -webkit-linear-gradient(top,#fdbb2d,#ec9702)!important;
background-image: -o-linear-gradient(top,#fdbb2d,#ec9702)!important;
background-image: linear-gradient(to bottom,#fdbb2d,#ec9702);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border-color: #ffc254;
color: #fff;
padding: 5px 0px!important;
text-shadow: none;
font-size: 16px;
}*/






/**************************************************************************************
********************************* Bootsrap custom popup *******************************************
***************************************************************************************/
.modal {
    border: 1px solid #ddd;
    background: #ffffff;
}

.modalButton {
	text-align: center;
	margin: 40px 0 20px 0;
	}

.btn.yellow-button {
    background-color: #ec9702;
    background-image: -moz-linear-gradient(top, #fdbb2d, #ec9702);
    background-image: -webkit-gradient(linear, 0 0, 0 80%, from(#fdbb2d), to(#ec9702));
    background-image: -webkit-linear-gradient(top, #fdbb2d, #ec9702);
    background-image: -o-linear-gradient(top, #fdbb2d, #ec9702);
    background-image: linear-gradient(to bottom, #fdbb2d, #ec9702);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-color: #ffc254;
    color: #fff;
    padding: 5px 17px;
    text-shadow: none;
    font-size: 16px;
}
.modal {
    border-radius: 0px;
}
#myTargetModal .ui-dialog-title {
    float: left;
    margin: .1em 0;
    white-space: nowrap;
    width: 95%;
    overflow: hidden;
    text-overflow: ellipsis;
}
#myTargetModal .modal-header {
    height: 20px;
}
#myTargetModal .modal-header .close {
    font-size:25px;
	margin-top:0px;
}
#myTargetModal .modal-header .close:hover {
    font-weight:bold;
}

#bmControlArea .yellow-button {
    padding: 5px 9px;
}
.accordion-icon {padding-right:15px}
#upForGrabsSectionWhatNext .upForGrabsItem:first-child{border-top:none!important;padding-top: 5px;}

