
/* Round all corners mixin - when all corners are the same */
.rounded-corners (@radius: 0) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

/* Round certain corners only */
/* top right, bottom right, bottom left, top left */
.border-radius(@topleft: 0, @topright: 0, @bottomright: 0, @bottomleft: 0) {
  -webkit-border-top-right-radius: @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius: @bottomleft;
  -webkit-border-top-left-radius: @topleft;
  -moz-border-radius-topright: @topright;
  -moz-border-radius-bottomright: @bottomright;
  -moz-border-radius-bottomleft: @bottomleft;
  -moz-border-radius-topleft: @topleft;
  border-top-right-radius: @topright;
  border-bottom-right-radius: @bottomright;
  border-bottom-left-radius: @bottomleft;
  border-top-left-radius: @topleft;
}

/* Set background of element to a gradient between two colors */
.gradient(@gradient-color-one, @gradient-color-two){
	background-color: mix(@gradient-color-one, @gradient-color-two, 50%);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(@gradient-color-two) to(@gradient-color-one));
	background: -webkit-linear-gradient(@gradient-color-two, @gradient-color-one);
	background: -moz-linear-gradient(@gradient-color-two, @gradient-color-one);
	background: -ms-linear-gradient(@gradient-color-two, @gradient-color-one);
	background: -o-linear-gradient(@gradient-color-two, @gradient-color-one);
	-pie-background: linear-gradient(@gradient-color-two, @gradient-color-one);
	filter: ~"progid:DXImageTransform.Microsoft.gradient( startColorstr='@{gradient-color-two}', endColorstr='@{gradient-color-one}',GradientType=0 )";
}

/* Box Sizing */
.box-sizing(@args){
    -webkit-box-sizing: @args;
    -moz-box-sizing: @args;
    box-sizing: @args;
}
.border-box(){
    .box-sizing(border-box);
}
.content-box(){
    .box-sizing(content-box);
}

/* Box Shadows */
.box-shadow(@args) {
    -webkit-box-shadow: @args;
    -moz-box-shadow: @args;
    box-shadow: @args;
}
.inner-shadow(@args) {
    .box-shadow(inset @args);
}

/* Text Shadows */
.text-shadow(@args) {
	text-shadow: @args;
}

/* Opacity */
.opacity(@percent) {
	@opacityDec: @percent * 100;
	-webkit-opacity: @percent;
	-moz-opacity: @percent;
	opacity: @percent;
	 -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(@opacityDec)); 
	filter: alpha(opacity=@opacityDec);
}

