﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="widgets_ContentBlock_Content" Codebehind="Content.ascx.cs" %>

<div class="ektron-site-content">
    <p class="ektron-site-contentwrapper"><%# ContentSource.Html %></p>

</div>
