﻿<%@ Page Language="C#" AutoEventWireup="true" Inherits="widgets_TargetedContent_controls_TargetContentListPage" Codebehind="TargetContentList.aspx.cs" %>
<%@ Register Src="TargetContentList.ascx" TagPrefix="EK" TagName="TargetContentList" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
</head>
<body>

    <form id="form1" runat="server">
        <EK:TargetContentList id="ucTargetContentList"  runat="server" />
    </form>
</body>
</html>
