﻿@charset "UTF-8";
@import "../Style/vhm.mixins.less";


.MainHeader, .contentSectionHeader, .disconnectedText { color: @main-theme-color; }

div.rightpanel_header, .mainHeading, h1.mainHeading 
{
    color: @accent-color; 
}

div.leftpanel_header, .deviceHeader {
     color:@main-theme-color;
}

.btn {
    padding: 5px 17px;
}

h4.deviceHeader, .headerText {
     color:@main-theme-color !important;
}

#mainNav li a {
	color: @main-theme-color;
}

#mainNav li a {
    background-image: url('@{theme-folder-name}/images/arrow-nav.png');
}

#extendableHeader_sub
{
	.gradient(@gradient-color, @gradient-color-two);
}

.content-sub-header {
    .gradient(@gradient-color, @gradient-color-two);
}

.VHMfooter
{
	.gradient(@gradient-color, @gradient-color-two);
}

div.rewardsClose h3.jqmClose, div.rewardsClose h3.jqmClose:visited {
	color: @main-theme-color; 
}
.recentRewardsPopup {
	background-image: url('@{theme-folder-name}/images/popup-swish.png');
}

.tickerBar
{
    height: 34px;
    .gradient(@gradient-color, @gradient-color-two);
    width: 960px;
    margin: -15px 0 0 -30px ;  
}

.tickerArrows.left 
{
    background-image: url('../../@{theme-folder-name}/images/ticker-arrow-left.png') !important; 
}
.tickerArrows.right
{
	background-image: url('../../@{theme-folder-name}/images/ticker-arrow-right.png'); 
}

#AJChartBody {
    border-color:@main-theme-color;
	border-style:solid;
	border-width:0 1px 1px 1px;
	border-radius:0 0 5px 5px;
	width:719px;
	min-height:550px;
	background-color:#fff;
	position:relative;
	behavior: url(/PIE.htc);
}


.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

#header {
  .rounded-corners;
}
#footer {
  .rounded-corners(10px); 
  .navbar-inner{
     .gradient(@gradient-color, @gradient-color-two);
   }
}


/* Responsive navigation theming */
#topNavigation{
    li{
        ul{
            li{
                a{
	                color: @main-theme-color;
                }
                 &:hover{
                    color: @main-theme-color;
                    a{
                        color: @main-theme-color;
                    }
                }
            }
        }
    }
}   

#mainNavBootstrap{
    li{
        a{
            color: @main-theme-color;
        }
    }
    ul{
        li{
            a{
                color: @main-theme-color;
            }
        }
        &:hover{
            color: @main-theme-color;
            a{
                color: @main-theme-color;
            }
        }
        
    }
}

/* Caret theming */
.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav>li.dropdown.open.active>a:hover, .nav>li.dropdown.open.active>a:focus {
    color: @main-theme-color;   
}.navbar .nav li.dropdown>.dropdown-toggle .caret,.nav .dropdown-toggle .caret {
    color: @main-theme-color;   
    border-top-color: @main-theme-color;
}

/* Themed Buttons */
.btn-main {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: @gradient-color;
  .gradient(@gradient-color, @gradient-color-two);
  background-repeat: repeat-x;
  border-color: @main-theme-color @main-theme-color;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);

  &:hover, &:focus, &:active, &.active, &.disabled, &[disabled] {
    color: #fff;
    background-position: 0 0;
    background-color: @gradient-color;
  }
}

/* Themed notification number */
.notificationCount {
    color: @main-theme-color;
}

/* Themed text */
.main-theme {
    color: @main-theme-color;
	}
	
.accent-theme{
    color: @accent-color;
}

h4.deviceHeader, .headerText, .reportsContainer .reports h2 {
     color:@accent-color !important;
}

/* This style is used to share @gradient-color and @gradient-color-two with JavaScript code.  The code gets the runtime styles of an element with this CSS class. */
.js-gradient-color {
	color: @gradient-color;
	background-color: @gradient-color-two;
	display: none;
}


.v3-wrapper .v3-header
{
	background-color:@main-theme-color;
}
.tabs .ui-state-default, .tabs .ui-widget-content, .ui-state-default,.ui-tabs .ui-tabs-nav li a,.LnkALNewEntry, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a,.AJmdlCell, .AJmdlCell a,.landing-blog-list .blog-title,.LnkALNewEntry,.show-Additional-Options,#aGroupInvitations,.blueLink,a.blueLink,.tertiary, a.tertiary,.divRgtSectArea h3,#divSuggestedGroups h4,.loadWaitMSG,.LnkALNewEntry,.show-Additional-Options,#vhm_loadca a,.stylev3,#goZonePedameter a{ color:@main-theme-color; }
#manual-sync-display a{color:@main-theme-color;}
.btn.yellow-button {
background-color: @accent-button-color-two;
background-image: -moz-linear-gradient(top@accent-button-color,@accent-button-color-two);
background-image: -webkit-gradient(linear,0 0,0 80%,from(@accent-button-color),to(@accent-button-color-two));
background-image: -webkit-linear-gradient(top,@accent-button-color,@accent-button-color-two);
background-image: -o-linear-gradient(top,@accent-button-color,@accent-button-color-two);
background-image: linear-gradient(to bottom,@accent-button-color,@accent-button-color-two);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border-color: @accent-border-color;
color: #fff;
padding: 5px 17px;
text-shadow: none; 
font-size: 16px;
} 

#lblGroupsCount{ color :@accent-color}



/* button example for pulse theme - might be useful to compare while implementing other themes */
/*
.btn.yellow-button {
background-color: #ec9702;
background-image: -moz-linear-gradient(top,#fdbb2d,#ec9702);
background-image: -webkit-gradient(linear,0 0,0 80%,from(#fdbb2d),to(#ec9702));
background-image: -webkit-linear-gradient(top,#fdbb2d,#ec9702);
background-image: -o-linear-gradient(top,#fdbb2d,#ec9702);
background-image: linear-gradient(to bottom,#fdbb2d,#ec9702);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border-color: #ffc254;
color: #fff;
padding: 5px 17px;
text-shadow: none;
font-size: 16px;
}*/


/* Font Awesome */
.icon-angle-left, .icon-angle-right{
    font-size: 30px;
    color: @main-theme-color;
}

/* New landing page styles */
.main-body .span6 h2{color:#666;}
.main-body .span3 h2, .main-body .span6 a, /*.main-body .span3 a*/ {color:@main-theme-color}
.rewardBadges .cash{color: @main-theme-color;}
.main-body .span6 h2{color:@accent-color;}
.main-body .span6 .btn.button-save.yellow-button{color:#ffffff}
#upForGrabsSection h2,.grabComment h2{color:#666666!important;}
a.helpImage i.icon-question:hover, a.helpImage i.icon-ticket:hover { color: @link-color; }

/* Wolverine menu styles */
.main-nav.navbar{background: url(/v2/Content/images/LandingPageV3/menu-red-repeater.png) repeat-x;}
.main-nav .nav > li.open{background: url(/v2/Content/images/LandingPageV3/menu-active-red-repeater.png) repeat-x;}
.main-nav .nav>li>a:hover {color:@main-theme-color;}
.main-nav.navbar .dropdown-menu{background-color:#e4e3e1;}
.main-nav .nav ul.dropdown-menu li {color:@main-theme-color;}
.main-nav .nav>li.active ul li a {color:@main-theme-color;}
.main-nav .nav ul.dropdown-menu li a {background: url(/v2/Content/images/LandingPageV3/menu-red-repeater.png) repeat-x transparent;color:@main-theme-color;}
.main-nav .nav ul.dropdown-menu li a:hover {background-color:@main-theme-color;color:#fff;}
.main-nav .nav>li>a .caret {border-top: 4px solid @main-theme-color;}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {color:@main-theme-color;}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {color:@main-theme-color;webkit-box-shadow: none;-moz-box-shadow:none;box-shadow:none;}
.main-nav .nav li a{color:#333333;}
.main-nav .nav li.current a{color:@main-theme-color;}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
-webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
-moz-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);}
.main-nav.navbar .nav li.dropdown.active > .dropdown-toggle{background-color:@main-theme-color;color:#ffffff;}
.check-code { color: @main-theme-color !important;}


/* Accordion Heading Theme Styles */
#landing-accordion .accordion-heading .accordion-toggle { background-color: @main-theme-color; }
#landing-accordion .accordion-heading .activeAccordion { background-color: @accent-color; }

/* tooltip styling*/
#tip-data {
    border-color: @accent-color;
}

#tip-data-nutrition {
    border-color: @accent-color !important;
}

.icon-star {color: @main-theme-color; }
ul.paging_pages li a {color: @main-theme-color; }

.brdRight a{color: @main-theme-color;}

.txtRight a {color: @main-theme-color;}

.bottomLeftRight a {color: @main-theme-color;}

.tdHeaderEdit a {color: @main-theme-color;}

.tdHeaderEdit a {color: @main-theme-color;}

.tabdiv a {color: @main-theme-color;}

.pagingList .pagingItem a {color: @main-theme-color;}

.divContentSummaryCount h3.rightpanel_header {
  color: @accent-color;
}