@charset "UTF-8";

.msgContentTitle
{
    color: @main-theme-color;
}

.dialog_red_width_brd .ui-dialog-titlebar .ui-dialog-titlebar-close, .dialog_red_width_brd .ui-dialog-titlebar .ui-dialog-titlebar-close:hover, .dialog_red_width_brd .ui-dialog-titlebar .ui-dialog-titlebar-close:focus .dialog_red_width_brd .ui-dialog-titlebar .ui-icon, .dialog_red_width_brd .ui-dialog-titlebar .ui-icon:hover, .dialog_red_width_brd .ui-dialog-titlebar .ui-icon:focus
{
    border-color: @main-theme-color;
}

.dialog_red_width_brd .ui-icon-closethick, .dialog_red_width_brd .ui-icon-closethick:hover, .dialog_red_width_brd .ui-icon-closethick:focus
{
    background: transparent url('../images/VHMPopUp/corner-delete.png') no-repeat !important;
}

.dialog_red_width_brd .ui-widget-header
{
    background-color: White !important;
}

.dialog_red_width_brd .ui-dialog-titlebar
{
    color: @main-theme-color !important;
}

.dialog_confirm .ui-dialog-titlebar
{
    color: @main-theme-color !important;
}

.ui-dialog
{
	border-color: @main-theme-color;
}

.ui-dialog-titlebar-close .ui-icon, .ui-icon-closethick, .ui-icon-closethick:hover, .ui-icon-closethick:focus {
	background-image: url('../images/VHMPopUp/corner-delete.png');
}