﻿
.vbtn_red_a_md.ui-button.ui-widget.ui-state-default {
    margin:auto;
	padding:0;
	border:0;
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:center center;
	cursor:pointer;
	cursor:hand;
	font-weight:bold;
	color:#FFFFFF;
	font-size:11px;
	letter-spacing:.5px;
	height:36px;
	background-image:url(/v2/content/images/Buttons/129x34_redA.gif);
}
.vbtn_red_a_md.ui-button.ui-widget.ui-state-default[disabled]:hover{background-image:url(/v2/content/images/Buttons/129x34_redA.gif);}
.ui-button_hover{background-image:url(/v2/content/images/Buttons/129x34_redA_hover.gif);}
.vbtn_red_a_md.ui-button.ui-widget.ui-state-default:hover{background-image:url(/v2/content/images/Buttons/129x34_redA_hover.gif);}
.vbtn_red_a_md.ui-button.ui-widget.ui-state-default:active{background-image:url(/v2/content/images/Buttons/129x34_redA_active.gif);}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 6px; -webkit-border-top-left-radius: 6px; -khtml-border-top-left-radius: 6px; border-top-left-radius: 6px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 6px; -webkit-border-top-right-radius: 6px; -khtml-border-top-right-radius: 6px; border-top-right-radius: 6px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 6px; -webkit-border-bottom-left-radius: 6px; -khtml-border-bottom-left-radius: 6px; border-bottom-left-radius: 6px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 6px; -webkit-border-bottom-right-radius: 6px; -khtml-border-bottom-right-radius: 6px; border-bottom-right-radius: 6px; }

.ui-widget-content
{
    border: none;
}
.ui-dialog-titlebar { position: relative; }
.ui-dialog .ui-dialog-titlebar-close 
{
    display:block;
    position: absolute;
    top: -16px;
    right: -16px;
    width: 24px;
    height: 24px;
}
.ui-dialog-titlebar-close .ui-icon,.ui-icon-closethick, .ui-icon-closethick:hover,.ui-icon-closethick:focus 
{
    display:block;
    background: url("../Style/Jquery/images/corner-delete.png") 0 0 no-repeat;    
    width: 24px;
    height: 24px;
    border: none;
    text-indent: -9999px;
}
.ui-dialog  
{
    border: solid #cc0000 8px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: #FFF;
    padding: 0;
}

.ui-widget-header .ui-state-hover
{
    border: none;
    background: none;
}

.ui-dialog .ui-dialog-titlebar
{
     padding: 10px 17px !important;
}

.ui-dialog .ui-dialog-content
{
    padding: 0 20px 10px;
}

.ui-dialog .ui-dialog-buttonpane
{
    margin: 0;
    padding: 0 20px 10px 10px;
}

.ui-dialog .buttonType1
{
    background: url("../images/buttons/106x33_redA.gif") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    height: 33px;
    line-height: 33px;
    text-align: center;
    width: 106px;
}
    .ui-dialog .buttonType1:hover
    {
        background: url("../images/buttons/106x33_redA_hover.gif") no-repeat scroll 0 0 transparent;
        text-decoration: none;
    }
    
.ui-dialog p
{
    margin-top: 1em;
}
.ui-dialog input[type=text]
{
    padding: 2px;
}

.ui-dialog .ui-dialog-title
{
    float: none;
    margin: 0;
    font-size: 13px; 
    color: #CC0000;  
}

.no-title .ui-dialog-title
{
    display: none;
}

.no-title .ui-dialog-content
{
    margin-top: 0px;
}

/*.ui-widget-content a
{
    color: blue;
}*/

button.primary.ui-state-default 
{
    background: #c00 url(images/ui-bg_flat_50_cc0000_40x100.png) 50% 50% repeat-x;
    color: #fff;
}

/* Auto Complete */
.ui-autocomplete
{
    border: 1px solid black;
    background-color: white;
}

.ui-autocomplete li a
{
    color: #333;
}

.ui-autocomplete li a.ui-state-hover
{
    color: #000;
}

.ui-autocomplete li a.ac_odd
{
    background-color: #EEE;
}