﻿<%@ Page Language="C#" AutoEventWireup="true" Inherits="Workarea_Commerce_CatalogEntry_Media_AddLibraryImage" Codebehind="AddLibraryImage.aspx.cs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
        <asp:Literal ID="litAddMediaJS" runat="server" />
    </form>
</body>
</html>

