﻿@theme-folder-name: 'asc';
@main-theme-color: #003f77;
@main-theme-hover: #2F79BB;
@gradient-color: #2F79BB;
@gradient-color-two: #003F77;

@accent-color: #268b51;
@accent-color-two: #000000;
@accent-color-three: #333333;

@accent-button-color: #63b759; 
@accent-button-color-two:#268b51;
@accent-border-color: #57a14e;

@link-color: #858D00;

@import "../../../Style/vhm.mixins.less";
@import "../../base.theme.less";

#tip-arrow {
    background-image: url(/v2/Content/Images/LandingPageV3/arrow_tooltip_graph_asc.png);
}
.nav-tabs li.tab-item .caret {
   border-top-color:@main-theme-color !important;
}