<%@ Page Language="C#" ValidateRequest="true" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">
	
	protected void Page_Load(object sender, System.EventArgs e)
	{
	}
	
	
</script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title></title>
    <script type="text/javascript">
        <!--//--><![CDATA[//><!--
        if (("undefined" != typeof self.parent) && (null != self.parent)){
            if(window.parent.document.getElementById('Ek_GroupEditRedirectUrlValue') != null){
                self.parent.location.href = window.parent.document.getElementById('Ek_GroupEditRedirectUrlValue').value;
            } else {
               if(self.parent.location.href.toLowerCase().indexOf("/workarea/closethickbox.aspx") == -1)
                    self.parent.location.href = self.parent.location.href;
            }
            if ("undefined" != typeof self.parent.ektb_remove)
                self.parent.ektb_remove(); 
        }
        //--><!]]>
    </script>
</head>
<body>
    <form id="form1" runat="server">
    </form>
</body>
</html>

