<%@ Page Language="C#" AutoEventWireup="true" Inherits="communitygroupaddeditsplash" ValidateRequest="false" Codebehind="communitygroupaddeditsplash.aspx.cs" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" runat="server">
<head runat="server">
    <title>Add Community Group</title>
</head>
<body>
    <form id="form1" runat="server">        
        <p align="center">
            <asp:Literal ID="ltr_go" Text="Go" runat="server" ></asp:Literal>
        </p>
    </form>
</body>
</html>

