<%@ Page Language="C#" AutoEventWireup="true" Inherits="editareanavigation" Codebehind="editareanavigation.aspx.cs" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head runat="server">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	    <meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1"/>
	    <meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1"/>
	    <meta name="vs_defaultClientScript" content="JavaScript"/>
	    <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5"/>
	    <asp:literal id="StyleSheetJS" runat="server" />
    </head>
    <body class="EditNavigation">
	    <form id="Form1" method="post" runat="server">
		    <table width="20" height="100%" border="0" cellpadding="0" cellspacing="0" align="right">
			    <tr>
				    <td valign="top">
				    </td>
			    </tr>
		    </table>
	    </form>
    </body>
</html>
