<%@ Page Language="C#" AutoEventWireup="true" Inherits="exportformdata" Codebehind="exportformdata.aspx.cs" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head runat="server">
    <title>exportformdata</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1"/>
    <meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1"/>
    <meta name="vs_defaultClientScript" content="JavaScript"/>
    <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script language="JavaScript" type="text/javascript" src="java/jfunct.js">
</script>
	<script language="JavaScript" type="text/javascript" src="java/empjsfunc.js">
</script>
	<script language="JavaScript" type="text/javascript" src="java/datejsfunc.js">
</script>
	<script language="JavaScript" type="text/javascript" src="java/toolbar_roll.js">
</script>
	<script language="JavaScript" type="text/javascript" src="java/dateonlyjsfunc.js">
</script>
  </head>
  <body>
    <form id="Form2" method="post" runat="server" enableviewstate="false">
		<asp:Literal ID="FormResult" runat="server"/>
    </form>
  </body>
</html>
