﻿<%@ Page Language="C#" AutoEventWireup="True" Inherits="Workarea_printreport" Codebehind="printreport.aspx.cs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Print Report</title>
    <meta name="vs_defaultClientScript" content="JavaScript">
	<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
	<meta name="ProgId" content="VisualStudio.HTML">
	<meta name="Originator" content="Microsoft Visual Studio .NET 7.1">
</head>
<body MS_POSITIONING="GridLayout">

</body>
</html>

