<%@ Page Language="C#" AutoEventWireup="True" Inherits="Workarea_Settings" Codebehind="Settings.aspx.cs" %>

<%@ Reference Control="controls/DeviceConfiguration/ViewAllDeviceConfigurations.ascx" %>
<%@ Reference Control="controls/DeviceConfiguration/AddEditDeviceConfiguration.ascx" %>
<%@ Reference Control="controls/DeviceConfiguration/DeleteDeviceConfiguration.ascx" %>
<%@ Reference Control="controls/DeviceConfiguration/ViewDeviceConfiguration.ascx" %>
<%@ Reference Control="controls/DeviceConfiguration/ReorderDeviceConfigurations.ascx" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Settings</title>
    <asp:Literal id="ltrStyleSheetJS" runat="server" />
</head>
<body>
    <form id="form1" runat="server">
        <asp:PlaceHolder runat="server" ID="DataHolder" />
    </form>
</body>
</html>
