<%@ Page Language="C#" AutoEventWireup="True" Inherits="workarea_userprofile" Codebehind="userprofile.aspx.cs" %>

<%@ Register TagPrefix="cms" Namespace="Ektron.Cms.Controls" Assembly="Ektron.Cms.Controls" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>User Profile</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <cms:UserProfile ID="p1" DynamicParameter="id" DisplayXslt="Xslt/profilebasic.xsl"
            runat="server" />
    </div>
    </form>
</body>
</html>
