﻿/******FONTS STYLES************/
@font-face
{
    font-family: 'Conv_Tungsten-Medium';
    src: url('fonts/Tungsten-Medium.eot');
    src: local('☺'), url('fonts/Tungsten-Medium.woff') format('woff'), url('fonts/Tungsten-Medium.ttf') format('truetype'), url('fonts/Tungsten-Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'Conv_Tungsten-Book';
    src: url('fonts/Tungsten-Book.eot');
    src: local('☺'), url('fonts/Tungsten-Book.woff') format('woff'), url('fonts/Tungsten-Book.ttf') format('truetype'), url('fonts/Tungsten-Book.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'Conv_Tungsten-Semibold';
    src: url('fonts/Tungsten-Semibold.eot');
    src: local('â˜º'), url('fonts/Tungsten-Semibold.woff') format('woff'), url('fonts/Tungsten-Semibold.ttf') format('truetype'), url('fonts/Tungsten-Semibold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
/**********************************/
/******LAYOUT STYLES***************/
/**********************************/
body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #333;
    background: url(../../images/LandingPageV3/bg-pattern.png) repeat;
}

@media (min-width: 1024px)
{
    [class*="span"]
    {
        float: left;
        min-height: 1px;
        margin-left: 0px;
    }
    .main-body
    {
        width: 972px;
        margin: 0 auto;
        padding-bottom: 100px;
    }
    .row.span9
    {
        margin-left: 40px;
        width: 880px;
    }
    .span6
    {
        width: 552px;
    }
    .span3
    {
        width: 250px;
        margin-left: 75px;
    }
    .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container
    {
        width: 952px;
    }
    .container .span12 .span8
    {
        margin-left: 0px;
        margin-right: 30px;
    }
    .main-body .top-bg
    {
        width: 972px;
        height: 15px;
        background: url(../../images/LandingPageV3/content_bg-top.png) no-repeat;
        background-position-y: -10px;
    }
    .main-body .content-bg
    {
        width: 952px;
        min-height: 400px;
        background: url(../../images/LandingPageV3/content_bg-middle.png) repeat-y;
        padding: 0px 10px;
    }
    .main-body .bottom-bg
    {
        width: 972px;
        height: 40px;
        background: url(../../images/LandingPageV3/content_bg-bottom.png) no-repeat;
    }
}
/******COLUMN STYLES************/
.gold
{
    color: #e7a423;
}
.blue
{
    color: #008aa2;
}
.span6 h2
{
    font-family: 'Conv_Tungsten-Medium' , Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 28px;
    padding: 0px;
    margin: 40px 15px 10px 5px;
}
.span3 h2
{
    font-family: 'Conv_Tungsten-Medium' , Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: normal;
    line-height: 28px;
    padding: 0px;
    padding-left: 5px;
    padding-bottom: 10px;
    margin: 40px 0px 15px 0px;
    border-bottom: 1px dotted #afafaf;
}
.span6 h2 .bold, .span3 h2 .bold
{
    font-family: 'Conv_Tungsten-Semibold' , Arial, Helvetica, sans-serif;
}
/******TOP NAV STYLES************/
.navbar .nav li.dropdown > .dropdown-toggle .caret, .top-nav .dropdown .caret
{
    margin-left: 8px;
    border-top-color: #008eaa;
    border-bottom-color: #008eaa;
}
.navbar .nav.pull-right.top-nav
{
    margin-right: 50px;
}
.top-nav .menu-profile-image
{
    width: 25px;
    height: 25px;
    display: inline;
    vertical-align: middle;
    margin-right: 2px;
    margin-top: 6px;
}
.navbar .nav > li > a.user-profile-name
{
    float: left;
}
/******HEADER STYLES************/
.header-wrapper
{
    margin-top: 42px;
}
.vhm-logo
{
    width: 300px;
    float: left;
    padding-top: 10px;
}
.vhm-co-brand-section
{
    float: right;
    margin-top: 10px;
}
/******FAT FOOTER STYLES************/
.fat-footer
{
    background-color: #e5dacf;
    width: 952px;
    margin: 0 auto;
}
.fat-footer .col1
{
    margin-left: 25px;
    width: 290px;
    padding-right: 25px;
    float: left;
    min-height: 100px;
}
.fat-footer .col2
{
    width: 240px;
    padding: 0px 25px;
    float: left;
    min-height: 100px;
}
.fat-footer .col3
{
    width: 265px;
    padding: 0px 25px;
    float: left;
    min-height: 100px;
}
.bottom-footer
{
    background: none;
    background-color: #333e48;
    height: 50px;
}
.bottom-footer .navbar-inner
{
    background: none;
    border: none;
    margin: 0 auto;
    padding-top: 15px;
}
.bottom-footer, .bottom-footer a
{
    border: none;
    color: #ffffff;
    font-size: 12px;
    text-shadow: none;
    text-align: center;
}
/******MAIN NAV STYLES************/
.main-nav.navbar
{
    margin-top: 90px;
    background: url(../../images/LandingPageV3/menu-dark-repeater.png) repeat-x;
    height: 69px;
    vertical-align: middle;
    margin-bottom: 0px;
    font-family: arial, helvetica, sans-serif;
}
.main-nav.navbar .dropdown-menu
{
    left: auto;
}
.main-nav .nav > li
{
    color: #ffffff;
    font-size: 17px;
    text-shadow: none;
    font-weight: normal;
    font-family: arial, helvetica, sans-serif;
    height: 50px;
    line-height: 50px;
    margin-left: 19px;
}
.main-nav .nav > li.first
{
    margin-left: 25px;
}
.main-nav .nav > li > a
{
    color: #ffffff;
    font-size: 17px;
    text-shadow: none;
    font-weight: normal;
    font-family: arial, helvetica, sans-serif;
    padding-right: 13px;
}
.main-nav .nav > li > a:hover
{
    color: #008eaa;
    font-size: 17px;
    text-shadow: none;
    font-weight: normal;
    font-family: arial, helvetica, sans-serif;
    cursor: pointer;
}
.main-nav .nav > li > a .caret
{
    margin-top: 23px;
    margin-left: 6px;
    border-top: 4px solid #fff;
}
/******ACCORDION STYLES************/
#landing-accordion .accordion-group
{
    margin-bottom: 2px;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
#landing-accordion .accordion-inner
{
    padding: 18px;
    border: none;
    background-color: #f6f4f2;
    margin-bottom: 2px;
}
#landing-accordion .accordion-heading .accordion-toggle
{
    padding: 0px;
}
#landing-accordion .accordion-heading .accordion-toggle
{
    background-color: #008eaa;
    padding: 16px 0 0 10px;
    height: 37px;
    font-family: 'Conv_Tungsten-Medium' , Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: white!important;
    text-decoration: none;
}
#landing-accordion .accordion-heading .activeAccordion
{
    background-image: url(../../images/LandingPageV3/bg-sprites.png);
}
#landing-accordion .accordion-heading .accordion1
{
    background-position: 0px 223px;
}
#landing-accordion .accordion-heading .accordion2
{
    background-position: 0px 167px;
}
#landing-accordion .accordion-heading .accordion3
{
    background-position: 0px 111px;
}
#landing-accordion .accordion-heading .accordion4
{
    background-position: 0px 55px;
}
#landing-accordion .accordion-heading .activeAccordion .openClosed
{
    background-position: 553px 268px !important;
}
#landing-accordion .accordion-heading .accordion-toggle .openClosed
{
    background-image: url(../../images/LandingPageV3/bg-sprites.png);
    background-position: 535px 268px;
    width: 14px;
    height: 20px;
    margin-right: 10px;
    display: block;
    float: left;
}


/******LEVELS GRAPH************/
#canvas_container
{
    width: 225px;
    height: 200px;
    position: absolute;
    z-index: 1;
}

#levelsgraph_bottombg
{
    width: 225px;
    height: 34px;
    background-image: url(/v2/Content/Images/LandingPageV3/levelsgraph_bottombg.png);
    position: absolute;
    bottom: 0px;
}

#levelgraphbars_container
{
    width: 225px;
    height: 166px;
    position: absolute;
    bottom: 34px;
}

.graphbar
{
    background-image: url(/v2/Content/Images/LandingPageV3/levelsgraph_bg-pattern.png);
    background-repeat: repeat;
    width: 37px;
    float: left;
    margin-left: 10px;
    position: relative;
    z-index: -1;
}

.levelGraphWrapper
{
    width: 250px;
    height: 250px;
}

svg
{
    top: 0 !important;
    left: 0 !important;
}

.counterLevel0
{
    color: #268b51;
    font-weight: bolder;
}

.counterLevel1
{
    font-size: 12px;
    color: #268b51;
    font-weight: bolder;
    top: 110px;
}
.counterLevel2
{
    font-size: 12px;
    color: #268b51;
    font-weight: bolder;
    left: 47px;
    top: 80px;
}
.counterLevel3
{
    font-size: 12px;
    color: #268b51;
    font-weight: bolder;
   top: 47px;
left: 94px;
}
.counterLevel4
{
    font-size: 12px;
    color: #268b51;
    font-weight: bolder;
    top: 14px;
    left: 141px;
    
}
.counterLevel5
{
    font-size: 12px;
    color: #268b51;
    font-weight: bolder;
    top: -19px;
    left: 188px;
}
#nutrition-weight-summary p {
    font-weight: bold;
    color: #268b51;
    font-size: 14px;
    margin-bottom: 0;
}
#levelCelebrationModal .celebrationBadgeBox .HCelebration {
    font-family: 'Conv_Tungsten-semibold',Arial,Helvetica,sans-serif;
    font-weight: normal;
    color: #626a73;
    text-align: center;
    font-size: 36px;
}