@import "../vhm.mixins.less";
@header-color: #ac1f2d;
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/******FONTS STYLES************/
@font-face {
	font-family: 'Conv_Tungsten-Medium';
	src: url('fonts/Tungsten-Medium.eot');
	src: local('☺'), url('fonts/Tungsten-Medium.woff') format('woff'), url('fonts/Tungsten-Medium.ttf') format('truetype'), url('fonts/Tungsten-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Tungsten-Book';
	src: url('fonts/Tungsten-Book.eot');
	src: local('☺'), url('fonts/Tungsten-Book.woff') format('woff'), url('fonts/Tungsten-Book.ttf') format('truetype'), url('fonts/Tungsten-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_Tungsten-Semibold';
	src: url('fonts/Tungsten-Semibold.eot');
	src: local('â˜º'), url('fonts/Tungsten-Semibold.woff') format('woff'), url('fonts/Tungsten-Semibold.ttf') format('truetype'), url('fonts/Tungsten-Semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
/**********************************/
/******LAYOUT STYLES***************/
/**********************************/
body
{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;;
    font-size: 12px;
    color: #333;
    background: url(../../images/LandingPageV3/bg-pattern.png) repeat;
}
p { font-family: 'Open Sans', Arial, Helvetica, sans-serif; color: #515151;}
a { font-family: 'Open Sans', Arial, Helvetica, sans-serif; color: #008aa2; text-decoration: none; }
a:hover { text-decoration: none; }
.pulseBlue{ color: #008aa2;}
.pulseRed{ color: #a82b35;}
.pulseYellow{ color: #f2cf4a;}
.pulseDarkGrey{ color: #2d3e47;}
.pulseLightGreen{ color: #93d2d5;}
.pulseLightGrey{ color: #d9dad8;}
h1, h2{font-family: 'Conv_Tungsten-Medium', Arial, Helvetica, sans-serif; font-weight:normal;}
textarea { 
    resize: none; 
}
@media (min-width: 1px) {
  [class*="span"]
    {
        float: left;
        min-height: 1px;
        margin-left: 0px;
    }
    .main-body
    {
        width: 972px;
        margin: 0 auto;
    }
    .row.span9
    {
        margin-left: 40px;
        width:880px;
    }
    .span6
    {
        width:552px !important;
    }
    .span3
    {
        width:250px;
        margin-left:75px;
    }
    .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container
    {
        width: 952px;
    }
    .container .span12 .span8
    {
        margin-left: 0px;
        margin-right: 30px;
    }
    .main-body .top-bg
    {
        width: 972px;
        height: 15px;
        background: url(../../images/LandingPageV3/content_bg-top.png) no-repeat;
        margin-top: -8px;
    }
    .main-body .content-bg
    {
        width: 952px;
        min-height: 400px;
        background: url(../../images/LandingPageV3/content_bg-middle.png) repeat-y;
        padding: 0px 10px;
    }
    .main-body .bottom-bg
    {
        width: 972px;
        height: 40px;
        background: url(../../images/LandingPageV3/content_bg-bottom.png) no-repeat;
    }
    .main-body .blogbottom-bg
    {
        width: 972px;
        height: 27px;
        background: url(../../images/LandingPageV3/blog_bg-bottom.png) no-repeat;
    }
    .main-body .blog-article-wrapper {
        margin: 15px 25px 40px;
    }    
}
/******COLUMN STYLES************/
.gold{color:#e7a423;}
.blue{color:#008aa2;}
h2.blue a.helpImage
{
    float: right;
    height: 30px;
    display: block;
    cursor: pointer;
    color: #c9cacd;
    font-size: 28px;
    text-decoration: none;
    margin-left: 6px;
}
.span6 h2
{
    font-family: 'Conv_Tungsten-Medium', Arial, Helvetica, sans-serif;
    font-size:36px;
    font-weight:normal;
    line-height:28px;
    padding:0px;
    margin:40px 15px 10px 5px;
    }
.span3 h2
{
    font-family: 'Conv_Tungsten-Medium', Arial, Helvetica, sans-serif;
    font-size:36px;
    font-weight:normal;
    line-height:28px;
    padding:0px;
    padding-left:5px;
    padding-bottom:10px;
    margin:40px 0px 15px 0px;
    border-bottom:1px dotted #afafaf;
    }
.span6 h2 .bold, .span3 h2 .bold{
    font-family: 'Conv_Tungsten-Semibold', Arial, Helvetica, sans-serif;
}
.blog-article-wrapper h2
{
    font-family: 'Conv_Tungsten-Medium', Arial, Helvetica, sans-serif;
    font-size:36px;
    font-weight:normal;
    line-height:28px;
    padding:0px;
    text-transform: uppercase;
    }

/******TOP NAV STYLES************/

.navbar .nav li.dropdown > .dropdown-toggle .caret, .top-nav .dropdown .caret
{
    margin-left: 8px;
    border-top-color: #008eaa;
    border-bottom-color: #008eaa;
}
.navbar .nav.pull-right.top-nav
{
    margin-right: 0px;
}
.top-nav .menu-profile-image
{
    width: 25px;
    height: 25px;
    display: inline;
    vertical-align: middle;
    margin-right: 2px;
    margin-top: 6px;
}
.navbar .nav > li > a.user-profile-name
{
    float: left;
}
.notification-count {
	height: 15px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	-ms-border-radius: 50px;
	-o-border-radius: 50px;
	border-radius: 50px;
	position: absolute;
	font-size: 12px;
	font-weight: bold;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	line-height: 17px;
	box-shadow: -1px 1px 4px #ccc;
	border: 1px solid #CCC;
	text-align: center;
	background: #fff;
	margin-left: -6px;
	width: 15px;
	padding: 1px;
	color:#008eaa;
}
.navbar .dropdown-menu,.main-nav.navbar .dropdown-menu  
{
	margin-top:-1px!important;
}
.topnav-main-wrapper
{
    padding:0px;
	width:auto;
}
.topnav-holder
{
	width:980px;
	margin:0 auto;
}
.ie8widthfix img
{
    max-width: none !important;
}
.navbar-inner
{
    filter: none;
}

/******HEADER STYLES************/

.home{
padding-bottom: 15px;
}

.header-wrapper
{
    margin-top: 42px;
}
@media (min-width: 1000px) {
.header-wrapper
{
    margin-left: 0px;
}
}
@media (max-width: 900px) {
.header-wrapper
{
    margin-left: 10px;
}
}
.vhm-logo
{
    width: 300px;
    float: left;
    padding-top: 10px;
}
.vhm-co-brand-section
{
    float: right;
    margin-top: 10px;
}
/******FAT FOOTER STYLES************/
.fat-footer {
    background-color: #e5dacf;
    width: 952px;
    margin: 0 auto;
}
.fat-footer .col1 {
    margin-left: 25px;
    width: 290px;
    padding-right: 25px;
    float: left;
    min-height: 100px;
}
.fat-footer .col2 {
    width: 240px;
    padding: 0px 25px;
    float: left;
    min-height: 100px;
    margin-bottom: 40px;
}
.fat-footer .col3 {
    width: 265px;
    padding: 0px 25px;
    float: left;
    min-height: 100px;
    margin-bottom: 40px;
}
.bottom-footer 
{
    background: none;
    background-color:#333e48;
    height: 50px;
    margin-top: 50px;
    margin-bottom: 0px;
}
.bottom-footer .container
{
    margin-top: 16px;
}
.bottom-footer .navbar-inner
{
    background: none;
    border: none;
    margin: 0 auto;
    margin-bottom: 0px;
    
}
.bottom-footer,.bottom-footer a 
{
    border: none;
    color: #ffffff;
    font-size: 12px;
    text-shadow: none;
    text-align: center;
    
}

.footer-inner {
    filter: none;
}
/******MAIN NAV STYLES************/
.main-nav.navbar
{
    margin-top: 100px;
    background: url(../../images/LandingPageV3/menu-dark-repeater.png) repeat-x;
    height: 53px;
    vertical-align: middle;
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.main-nav.navbar .nav
{
    height:53px;
}
.main-nav.navbar .dropdown-menu
{
    left:auto;
	border:none;
	background:none;
	background-color:#4d5e6a;
	margin-top:0px;
	min-width:240px;
	padding:0px inherit;
	.border-radius(0, 0, 0, 0);
}
.main-nav.navbar .nav > li > .dropdown-menu:after,.main-nav.navbar .nav > li > .dropdown-menu:before
{
	display:none;
}
.main-nav .nav > li
{
    color: #ffffff;
    font-size: 17px;
    text-shadow: none;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    height:53px;
}

.main-nav .nav > li.open
{
    background: url(../../images/LandingPageV3/menu-active-repeater.png) repeat-x;
	-webkit-box-shadow: 5px 0px 3px rgba(57, 50, 50, 0.54);
	-moz-box-shadow:    5px 0px 3px rgba(57, 50, 50, 0.54);
	box-shadow:         5px 0px 3px rgba(57, 50, 50, 0.54);
}

.main-nav .nav > li > a
{
    color: #ffffff;
    font-size: 17px;
    text-shadow: none;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    padding:18px 13px;
	padding-bottom:21px;
	display:block;
	float:left;
}
.main-nav .nav > li > a:hover
{
    color: #008eaa;
    font-size: 17px;
    text-shadow: none;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}
.main-nav .nav > li.first a
{
	padding-left:30px;
	padding-right:30px;
}
.main-nav .nav > li > a .caret
{
    margin-left:6px;
    border-top: 4px solid #fff;
	margin-top:9px;
}
.main-nav .nav  .dropdown-menu li
{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
	clear: both;
	font-weight: normal;
	font-size:18px;
	line-height: 20px;
	white-space: nowrap;
	border-bottom:1px solid #cccccc;
}
.main-nav .nav  .dropdown-menu li:last-child
{
	border-bottom:none;
}
.main-nav .nav  .dropdown-menu li a
{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
	padding: 13px 30px;
	clear: both;
	font-weight: normal;
	font-size:17px;
	line-height: 20px;
	color: #fff;
	white-space: nowrap;
	padding-left:25px;
	text-shadow:none;
}
.main-nav .nav  .dropdown-menu li a:hover,.main-nav .nav  .dropdown-menu li:hover
{
	background-image:none;
}
.main-nav .nav > li.menu-item-li.active
{
	
}
.main-nav .nav > li.menu-item-li.active a,.main-nav .nav > li.current a
{
    background:transparent;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block!important;    
}
/******ACCORDION STYLES************/
#landing-accordion .accordion-group
{
    margin-bottom: 2px;
    border: none;
    .border-radius(0, 0, 0, 0);
    }
#landing-accordion .accordion-inner
{
    padding:18px;
    border:none;
    background-color:#f6f4f2;
    margin-bottom:2px;
    }
#landing-accordion .accordion-inner.no-padding
{
	padding:0px;
}
#landing-accordion .accordion-heading .accordion-toggle
{
    padding:0px;
    }
#landing-accordion .accordion-heading .accordion-toggle 
{
    background-color: #008eaa;
    padding: 16px 0 0 10px;
    height: 37px;
    font-family: 'Conv_Tungsten-Book', Arial, Helvetica, sans-serif !important;
    font-size: 30px;
    text-transform:uppercase;
    color: white;
    text-decoration: none;
}
#landing-accordion .accordion-heading .activeAccordion 
{
    background-image: url(../../images/LandingPageV3/bg-accordion-swirls.png);
}
#landing-accordion .accordion-heading .accordion1 
{
    background-position: 0px -69px;
}
#landing-accordion .accordion-heading .accordion2 
{
    background-position: 0px -125px;
}
#landing-accordion .accordion-heading .accordion3 
{
    background-position: 0px -181px;
}
#landing-accordion .accordion-heading .accordion4 
{
    background-position: 0px -237px;
}
#landing-accordion .accordion-heading .activeAccordion .openClosed 
{
    background-position: -1px -24px!important;
}
#landing-accordion .accordion-heading .accordion-toggle .openClosed 
{
    background-image: url(../../images/LandingPageV3/bg-accordion-swirls.png);
    background-position: -19px -24px;
    width: 14px;
    height: 20px;
    margin-right: 10px;
    display: block;
    float: left;
}
.measurementsAccordion p
{
    text-align: center;
    font-size: 20px;
    color: #949a9e;
    line-height: 26px;
    padding: 0 28px;
    font-weight: normal;    
}
.measurementsAccordion input {
    margin-top: 18px;    
}
.measurementsAccordion h2 {
    font-family: 'Conv_Tungsten-Semibold',Arial,Helvetica,sans-serif;
    color: #cc0000;
    text-align: center;
    margin: 16px 0;
}

/** Nutrition accordion panel */
#collapseNtr #nutrition-overview-chart-container {
	margin: 10px 0 10px -22px;
}

#nutrition-tab-content {
    overflow: hidden;
}		
#nutrition-overview-chart-container {
    margin-left: -35px !important;
}

.calories-calculation ul li{
    padding: 13px!important;
    padding-right: 2px !important;
}

.overlayMFPLandingPageConnect{
    text-align: left;
    margin-left: 15px;
    
    p{
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-size: 16px;
	    color: #575f68;
	    line-height: 24px;
	    width: 98%;
    }
    
    h3{
        color: @header-color;
        font-family: Conv_Tungsten-Medium, Arial, Helvetica, sans-serif;
        font-size: 28px;
    }
    #connectMFPAccountLanding {
        margin: 15px 170px 25px 0;
        width: 340px;
        height: 36px;
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
    }
    span {
        font-size: 12px;
        color: #666;
        
        strong {
            color: @header-color;  
        } 
    }
}

/**** NUTRITION *****/
#tip-nutrition {
     position : absolute;
 border : 1px solid gray;
  border: 0px;
 z-index: 1000;
    text-align: left;
    width: 250px;
    height: 140px;
     
}

#nutrition-weight-summary 
{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    position: absolute;
    right: 25px;
    top: 80px;
    height: 252px;
    width: 190px;
}
#nutrition-weight-summary ul {
    list-style: none;
    margin: 0;
    font-size: 14px;
    margin-top: 5px;
}
#nutrition-weight-summary ul li{
    margin-bottom: 10px;
}
#nutrition-calorie-summary strong {
    font-size: 16px;
    color: #333e48;
}
#nutrition-weight-summary p {
    font-weight: bold;
    color: #268b51;
    font-size: 14px;
    margin-bottom: 0;
}
.nutrition-weight-summary-value {
    float: left;
    margin-right: 5px;
}
.nutrition-weight-summary-text {
    width: 130px;
}

#nutrition-tab li.active a {
    border-bottom: 1px solid #f6f4f2;
    color: #000 !important;
    background-color: #f6f4f2 !important;
}

/******PERSONAL TRACKING TAB ACCORDION************/
.tracking-item
{
	border-bottom:1px dotted #ddd;
	.challenge-bg
	{
		float:left;
		width:100px;
		height:100px;
        background-image: url(../../images/LandingPageV3/selftrackingactivity-icons.png);
            &.badgeId-d5075344-48ad-44ea-bb1e-2cf9fd5707cd
            {
	            background-position: -115px 0;
            }
            &.badgeId-9bc97c17-a1d7-4009-afdb-ef257804abcb
            {
	            background-position: -224px 0; 
            }
            &.badgeId-3958cdcb-4212-47b9-a353-951d8f3392a8
            {
	            background-position: -334px 0; 
            }
            &.badgeId-ce58c142-0504-4f0d-bc57-700e3a13d0c7
            {
	            background-position: 0 -116px; 
            }
            &.badgeId-6c5b9fac-5c68-4c8c-b711-ca0c7e45ca7a
            {
	            background-position: -117px -116px; 
            }
            &.badgeId-99bee1ad-e87f-406d-aa98-272c073d6487
            {
	            background-position: -225px -116px; 
            }
            &.badgeId-39e52f1a-1308-401e-8e53-43afede3e282
            {
	            background-position: -334px -116px; 
            }
            &.badgeId-d938d7aa-1a49-4142-90a0-d36aee77caa7
            {
	            background-position: 0 -225px; 
            }
            &.badgeId-303
            {
	            background-position: -113px -225px; 
            }
            &.badgeId-d0f3dcb9-d24d-45b2-a8e0-071aea95211e
            {
	            background-position: -225px -225px; 
            }
            &.badgeId-93c3924e-64c8-4480-af83-ea1d42e69524
            {
	            background-position: -336px -225px; 
            }
            &.badgeId-c4b6ebc7-60e5-46fe-953c-68a8ee80d3e0
            {
	            background-position: 0 -334px; 
            }
            &.badgeId-d95ef806-8c56-4872-9cb1-b6b1e5bc41d7
            {
	            background-position: -222px -334px; 
            }
            &.badgeId-aac3a1a2-7906-45ed-bc2b-97163c2508c4
            {
	            background-position: -334px -334px; 
            }
            &.badgeId-758a268b-d4d9-4f03-b00d-069ee3b3bb01
            {
	            background-position: 0 -446px; 
            }
            &.badgeId-956dac1c-4971-48cb-993c-a354d7f481bc
            {
	            background-position: -335px -556px; 
            }
            &.badgeId-314
            {
	            background-position: 0 -665px; 
            }
            &.badgeId-315
            {
	            background-position: -115px -665px; 
            }
            &.badgeId-7aa5cc00-f46f-4c3e-aa2b-a2c373f94366
            {
	            background-position: -224px -665px; 
            }
            &.badgeId-26da77f4-f02a-4ec7-b929-29db7cc8c467
            {
	            background-position: -333px -665px; 
            }
            &.badgeId-36848101-6a0c-4cbb-b1d9-0ca926eaebd3
            {
	            background-position: -115px -334px;  
            }
			
}
	.question-ph
	{
		padding:8px 25px 5px 16px;
		float:left;
		width:380px;
	}
	.challenge-link
	{
		display:block;
		float:right;
		width:30px;
		height:117px;
		background-image: url(../../images/LandingPageV3/bg-sprites.png);
		background-position: 5px 598px;
	}
}
.question-ph h3
{
	font-family: Arial, Helvetica, sans-serif;
	color:#666666;
	font-size:20px;
	padding:0px;
	margin:0px;
	font-weight:normal;
	line-height:25px;
	margin-bottom:5px;
}
.question-ph .question-text-field
{
	width:80px;
	font-size:17px;
	border-radius: 0px;
	border-color: #c7c4bc;
	margin-bottom:0px;
	text-align:center;
}

.tracking-list .empty-self-tracking{
    text-align: left;
    margin-top:-10px;
    margin-left: 34px;
    
    p{
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-size: 18px;
	    color: #949a9e;
	    line-height: 23px;
	    width: 90%;
    }
    
    h3{
        color: @header-color;
        font-family: Conv_Tungsten-Medium, Arial, Helvetica, sans-serif;
        font-size: 28px;
        padding-top:30px;
    }
}
.tracking-buttons{
    padding: 10px;
    text-align: center;
    .btn{
        margin-right: 7px;
    }
}
.answer-icon
{
	min-width:100px;
	height:49px;
	max-width:200px;
	float:left;
	.answer-left
	{
		float:left;
		width:53px;
		height:49px;
		background: url(../../images/LandingPageV3/pt-answer-checkbox.png) no-repeat;
	}
	.answer-content
	{
		float:left;
		min-width:10px;
		height:49px;
		line-height:49px;
		color:#fff;
		font-size:23px;
		background: url(../../images/LandingPageV3/pt-answer-middle.png) repeat-x center;
	}
	.answer-right
	{
		float:left;
		width:19px;
		height:49px;
		background: url(../../images/LandingPageV3/pt-answer-rightx.png) no-repeat center right;
	}
}
.question-form
{
	width:300px;
}
.change-answer{
	float:left;
	margin-left:15px;
	height:49px;
	line-height:49px;
	font-size:14px;
}


/******COMING SOON ACCORDION************/
.coming-soon{
    text-align: left;
    margin-left: 18px;
    p{
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-size: 18px;
	    color: #949a9e;
	    line-height: 23px;
	    padding-bottom: 16px;
    }
    
    h3{
        color: @header-color;
        font-family: Conv_Tungsten-Medium, Arial, Helvetica, sans-serif;
        font-size: 28px;
    }
}

/******WELCOME JOURNEY*********/
div#ExpressWelcomeJourneyContent
{
    height: 500px;
    padding-left:20px;
}
div#ExpressWelcomeJourney
{
    width: 780px;
    height: 500px;
    overflow: hidden;
}
div#ExpressWelcomeJourney .modal-body
{
    min-height: 500px;
}
.expWelcomeJourney
{
    p
    {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: #949a9e;
        line-height: 23px;
        width: 95%;
        margin: 0 auto;
        padding-bottom: 16px;
        margin: 0 0 20px 0;
    }

    h3
    {
        font-family: Conv_Tungsten-Medium, Arial, Helvetica, sans-serif;
        font-size: 48px;
        line-height: 48px;
        font-weight: normal;
    }

    input[type=button].next
    {
        padding: 12px 30px;
        font-size: 25px;
    }
}
#expWJStep2 p
{
    margin:0;
} 
#expWJStep2 p.subtext
{
    font-style: italic;
    font-size: 16px;
    margin-top: 20px;
}
#expWJStep2 input[type=text]
{
    width: 100px;
}
/******LEVELS GRAPH************/

.game-start-end-wrapper{
    position: relative;
    height:35px;
    z-index:1;
}

#tip-levels{
position: absolute;
border: 0;
z-index: 5000;
text-align: left;
    width: 215px;
    height: 60px;
    overflow: visible;
}

#drawLevelsGraph-tooltip-text {
    font-family: Conv_Tungsten-Medium, Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #626a73;
}

#drawLevelsGraph-tooltip-text-two {
    font-size: 14px;
    color: #6c767c;
    font-weight: normal;
    line-height: 15px !important;
  
}
.canvas_wrapper {
    height: 235px;
    position: relative;  
    z-index:2;
}

#canvas_container
{
    width: 225px;
    height: 200px;
    position: absolute;
    z-index: 1;
}

#levelsgraph_bottombg
{
    width: 225px;
    height: 34px;
    background-image: url(/v2/Content/Images/LandingPageV3/levelsgraph_bottombg.png);
    position: absolute;
    bottom: 0px;
}

#levelgraphbars_container
{
    width: 225px;
    height: 166px;
    position: absolute;
    bottom: 34px;
}

.graphbar
{
    background-image: url(/v2/Content/Images/LandingPageV3/levelsgraph_bg-pattern.png);
    background-repeat: repeat;
    width: 37px;
    float: left;
    margin-left: 10px;
    position: relative;
    z-index: -1;
}

.levelGraphWrapper
{
    width: 250px;
    height: 380px;
    margin-top:25px;
    }

.levels-rewards-wrapper {
    border-bottom: 1px dotted #ddd;
    border-top: 1px dotted #ddd;
    div.levels-reward-earned.single-row{
        margin-top:26px;
    }
}


.levels-cash-earned {
text-align: center;
padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 15px;
    
}

.levels-rewards-earned{
    min-height: 100px;
    .levels-earned-display{
        padding-top:30px;
    }
}
.levels-reward-earned-desc{
    padding:20px;
    text-align: center;
    width: 58%;
    .levels-reward-text{
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        color: #949a9e;
        font-size: 16px;
    }
}


.levels-cash-reward {
    text-align: center; 
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 15px;
}

.levels-earned-display {
    font-family: 'Conv_Tungsten-Medium',Arial,Helvetica,sans-serif;
    font-size: 40px;
    color: #268b51;
    line-height: 50px;
}

svg
{
    top: 0 !important;
    left: 0 !important;
}

.counterLevel0
{
    color: #268b51;
    font-weight: bolder;
}

.counterLevel1
{
    font-size: 16px;
    color: #268b51;
    font-weight: bolder;
    top: 109px;
    left: 0px; 
}
.counterLevel2
{
    font-size: 16px;
    color: #268b51;
    font-weight: bolder;
    left: 48px;
    top: 77px;
}
.counterLevel3
{
    font-size: 16px;
    color: #268b51;
    font-weight: bolder;
    top: 44px;
	left: 94px;
}
.counterLevel4
{
    font-size: 16px;
    color: #268b51;
    font-weight: bolder;
    top: 11px;
    left: 141px;
    
}
.counterLevel5
{
    font-size: 16px;
    color: #268b51;
    font-weight: bolder;
    top: -22px;
    left: 189px;
}

#start-end-date-section {
   margin-top: 15px;
   margin-bottom:10px;
}
/******LEVEL GRAPH REWARDS*********/
.rewardContent{
    table{
        width: 93%;
        margin:20px auto;
        font-family: 'Conv_Tungsten-Medium',Arial,Helvetica,sans-serif;
        font-size: 26px;
        color: #489d6c;
        float: left;
        margin-left: 20px;
        border: none;
        tr{
            td{
                text-align: center;
                border-top: none;
                border-left: none;
                a {
                    font-family: 'Conv_Tungsten-Medium',Arial,Helvetica,sans-serif;
                    color: #489d6c;
                }
                &.rewardslvl-1{
                    color: #7bc95c;
                }
                &.rewardslvl-2{
                    color: #63b759;
                }
                &.rewardslvl-3{
                    color: #43a054;
                }
                &.rewardslvl-4{
                    color: #268b51;
                }
                &.rewardslvl-5{
                    color: #1d6b3e;
                }
                &.totalRewards {
                    width: 45%;
                    color: #e7a439;
                    font-size: 34px;
                    font-family: 'Conv_Tungsten-SemiBold',Arial,Helvetica,sans-serif;
                }
                &.notEarnedReward {
                    color: #a4abaf;
                }
            }
            th{
                text-align: center;
                font-weight: normal;
                border-bottom: 1px dotted #ccc5ae;
                border-top: none;
                border-left: none;
                &.rewardslvl-1{
                    color: #7bc95c;
                }
                &.rewardslvl-2{
                    color: #63b759;
                }
                &.rewardslvl-3{
                    color: #43a054;
                }
                &.rewardslvl-4{
                    color: #268b51;
                }
                &.rewardslvl-5{
                    color: #1d6b3e;
                }
                &.totalRewards {
                    width: 45%;
                    color: #e7a439;
                    border-bottom: none;
                }
            }
        }
    }
    h2{
        margin: 30px 20px 15px 20px; 
        text-transform: uppercase;
    }
}
#levels-reward .close {
     margin-right: 15px; 
     margin-top: 10px; 
     font-size: 25px;
}
.rewardsText {
     color: #626a73; 
     margin: 10px 20px 30px 20px; 
     font-size: 14px;
}
.rewardContent table th.leftAlign, .rewardContent table td.leftAlign {
    text-align: left;
}
.buttonModalContainer {
    text-align: center; 
    width: 100%; 
    margin: 20px 0 25px 0;
}
.buttonModalContainer .modal-button {
    padding: 6px 45px !important;
}
.buttonModalContainer .RewardBtn {
    padding: 5px 17px !important;
}
/******LAP GRAPH STYLES************/
#lap-display{
	position: relative;
    width: 266px;
    float:right;

   .laps-how-it-works {
        position: absolute;
        left: 110px;
        top:206px;
		transition: top 1.5s;

        a {
            font-family: 'Open Sans', Arial, Helvetica, sans-serif;
            font-size: 11px;
        }
    }

    .laps-cash-back {
         margin-left: auto;
         margin-right: auto;
         width: 280px;
         text-align: center;
         border-top: 1px dotted #ddd;
    }

    .laps-earned-display {
        font-size: 40px;
        font-family: Conv_Tungsten-Medium,Arial,Helvetica,sans-serif;
        color: #268b51;
        vertical-align: middle;
        margin-top:24px;
    }

    .learn-more-link {
        padding-bottom: 10px;
    }

	.laps-flip {
		font-size: 11px;
		padding-right: 35px;
		position: absolute;
		top: 286px;
		right: 0;

		.this-month {
			display: none;
		}
	}

	&.back-side {
		.laps-how-it-works {
			top: 250px;
		}

		.laps-flip {
			.this-month {
				display: block;
			}
			.last-month {
				display: none;
			}
		}
	}
}

.alert a.show-link {
	text-decoration: underline;
}

#challenges-how-it-works, #friends-family, #cash-back, #game-prizes {
	.rounded-corners(~"15px / 20px");
	width: 650px;
	.content-box();
	
	.close {
		float: none;
		position: absolute;
		top: 10px;
		right: 10px;
		font-size: 25px;
		font-weight: normal;
		z-index: 1;

		&:hover {
		}
	}

	.carousel, .modalContent {
		width: 650px;
		margin: 50px 0 30px 0;
		.border-box();

		.carousel-control {
			.border-box();
			width: 50px;
			margin: 0;
			padding: 0;
			background-color: transparent;
			color: #aaa;
			font-size: 80px;
			top: 160px;
			border-width: 0;
			z-index: 10;

			&.left {
				left: 0;
			}

			&.right {
				right: 0;
			}
		}
		
		.carousel-indicators {
			position: static;
			text-align: center;
			margin-top: 20px;

			li {
				float: none;
				display: inline-block;

				background-color: #cbcbcb;
				font-weight: bold;
				text-align: center;
				width: 35px;
				height: 35px;
				.box-shadow(0 0 3px 2px #eee);
				.rounded-corners(17px);
				text-indent: 0;
				color: #fff;
				font-size: 20px;
				line-height: 35px;
				margin: 0 5px;
				cursor: pointer;

				&.active {
					background-color: #c00;
					cursor: default;
				}
			}
		}

		.item {
			width: 100%;
			min-height: 370px;
			padding: 0 70px;
			.border-box();

			p {
				color: #888;
				margin: 0;
				font-size: 24px;
				line-height: normal;
                font-family: 'Open Sans', Arial, Helvetica, sans-serif;
				b {
					color: #e47500;
				}
			}

			.img-sprite {
				display: block;
				width: 510px;
				margin-top: 20px;
				text-align: center;
				background: transparent url(/v2/Content/Images/Challenges/challenges-how-it-works2.png) no-repeat 0 0;
				position: relative;
			}

			.img-sprite-1 {
				background: transparent url(/v2/Content/Images/Challenges/laps-international.jpg) no-repeat right 0;
				height: 253px;
			}

			.TrackIt {
				background: none repeat scroll 0 0 #F6F4F2;
				position: absolute;
				top: 80px;
				width: 230px;
				padding: 8px;
				p {
					cursor: default !important;
					color: #888888;
					font-family: 'Open Sans',Arial,Helvetica,sans-serif;
					font-size: 20px;
					line-height: normal;
					text-align: left;
					margin-bottom: 8px;
				}
				.question-text-field {
					width: 50px;
					margin: 0;
					cursor: default !important;
					background-color : #fff !important;
				}
				button:hover {
					cursor: default !important;
					background-position: 0 !important;
					transition: none !important;
				}
			}

			.img-sprite-2 {
				background: transparent url(/v2/Content/Images/Challenges/laps-international.jpg) no-repeat center 0;
				height: 253px;
			}

			.img-sprite-3 {
				background: transparent url(/v2/Content/Images/Challenges/MAX3.0.gif) no-repeat center 0;
				height: 300px;
				margin-top: 10px;
			}

			.img-sprite-4 {
				background-position:0px -830px;
				height: 130px;
				margin-top: 50px;
			}
		}
	}
}

.modalContent {
    padding: 0 70px 1px 70px;
}

.item p {
	color: #888;
	margin: 0 0 40px 0;
	font-size: 24px;
	line-height: normal;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

#cash-back p, #game-prizes p {
    margin: 0 0 20px;
}

/******NO GAME DISPLAY**********************/
.noGameDisplay{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 20px;
	color: #949a9e;
	margin: auto;
	padding: 10px 10px 10px 5px;
	line-height: 23px;
}

/******GAME REWARDS EARNED******************/

/* Removed for now - not sure if no game + cash earned is possible */
/*.cashEarnedNoGame{
    border-top: 1px dotted #ddd;
    
    .cashDisplay{
        float: left;
        margin: 40px 0 0 20px;
        width: 50%;
    }
    
    .noGameContent{
        float:right;
        width: 50%;
        font-family: Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #666;
    }
}*/

.cashFont{
    font-family: Conv_Tungsten-Medium, Arial, Helvetica, sans-serif;
    font-size: 48px;
    color: #4d9332;
}


/******ACTIVITY ACCORDION STYLES************/
.activity-left {
    float: left;
    width: 280px;
	min-height:355px;
	padding-top:15px;
}
.activity-right {
    float: right;
    width: 172px;
    margin-right: 15px;
}
/******ACTIVITY FORM STYLES************/

#activity-graph-container {
    margin-top: 15px;
}
#StepsSwitch.active,#CaloriesSwitch.active {
    font-weight: bold;
}
#StepsSwitch{ color: #008aa2;}
#CaloriesSwitch{ color: #a82b35;}
.aj-row label {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #666;
    font-size: 13px;
    margin-bottom: 0px;
}
.aj-row input[type="text"]{
    width: 158px;
    border-radius: 0px;
    border-color: #c7c4bc;
}
.aj-row input[type="text"].short-input{
    width: 67px;
}
.aj-row select {
    width: 171px;
    border-radius: 0px;
    border-color: #c7c4bc;
}
.aj-row a,.aj-row a:hover {
    color: #008eaa!important;
    font-size: 13px;
    text-decoration: none;
}
.activity-buttons {
    margin-top: 8px;
}
.activity-buttons .btn.button-save {
  
}
.loading-div {
    display: none;
	text-align:center;
	padding-top:10px;
}
.activity-data-loading-div
{
    display: none;
	text-align:center;
	padding-top:10px;
}
.activity-message {
    display: none;
}
.additional-options-ph
{
	display:none;
}
.text-area
{
    width: 158px;
    border-radius: 0px;
    border-color: #c7c4bc;
	height:50px;
}
.activity-message h3{
	color: #ac1f2d;
	font-family: Conv_Tungsten-Medium,Arial,Helvetica,sans-serif;
	font-size: 36px;
}
.activity-message p
{
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #949a9e;
	line-height: 23px;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 5px;
	padding-right:0px;
}

.graph-title {
    font-size: 16px;
    color: #333;
    margin-bottom: 15px;
    padding-left:10px
}

#tip-wrapper {
    
}
#tip
{
 
 position : absolute;
 border : 1px solid gray;
  border: 0px;
 z-index: 1000;
    text-align: left;
    width: 105px;
    height: 140px;
 /* set this to create word wrap */

   /* border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;*/
}
#tip-arrow {
    background-image: url(/v2/Content/Images/LandingPageV3/arrow_tooltip_graph_red.png);
    background-position-x: 15px;
    background-repeat: no-repeat;
    height: 20px;
    width: auto;
}
#tip-data {
 width: auto;
 height: auto;
  max-width: 200px;
    padding: 5px 15px;
 border: 0px;
 border-top: 5px solid;
 background-color : white;
    line-height: 24px;
    box-shadow: 5px 5px 15px #ccc;
    
}

#steps-cals-span {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: normal;
    color: #626a73;   
    font-family: Conv_Tungsten-Medium,Arial,Helvetica,sans-serif;  
}

#date-span { 
    font-size: 14px;
    text-transform: uppercase;
    color: #6c767c;
    font-weight: normal; 
   }
 
 #data-span {
    font-size: 18px;
    text-transform: uppercase;
    color: #626a73;
    font-family: Conv_Tungsten-Medium,Arial,Helvetica,sans-serif;  
}
 

#AL-btnBack
{
	margin-bottom:15px;
}
.last-entry
{
	padding-left:12px;
	h5
	{
		font-family: 'Open Sans', Arial, Helvetica, sans-serif;
		font-size:16px;
		font-weight:normal;
		color:#333;
	}
	.data-row
	{
		font-family: 'Open Sans', Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:normal;
		color:#444;
	}
}
.no-data-msg{
	padding-left:12px;
	h5
	{
		font-family: 'Open Sans', Arial, Helvetica, sans-serif;
		font-size:16px;
		font-weight:normal;
		color:#333;
	}
}

.measurements-accordion-body {
    p {
        font-size:20px;
        line-height: 23px;  
        color: #949a9e;
        margin-bottom: 28px;
        width:95%;
    }
    
    .reward{
        color: #a00;
    }
}


/*****BOOTSTRAP BUTTON STYLE********/
.btn.yellow-button {
   background-color: #ec9702;
  *background-color: #ec9702;
  background-image: -moz-linear-gradient(top, #fdbb2d, #ec9702);
  background-image: -webkit-gradient(linear, 0 0, 0 80%, from(#fdbb2d), to(#ec9702));
  background-image: -webkit-linear-gradient(top, #fdbb2d, #ec9702);
  background-image: -o-linear-gradient(top, #fdbb2d, #ec9702);
  background-image: linear-gradient(to bottom, #fdbb2d, #ec9702);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-color: #ffc254;
  color: #fff;
  padding: 5px 17px;
  text-shadow: none;
  font-size: 16px;
}
.btn.grey-button {
   background-color: #dbd4c6;
  *background-color: #dbd4c6;
  background-image: -moz-linear-gradient(top, #f1eee8, #dbd4c6);
  background-image: -webkit-gradient(linear, 0 0, 0 80%, from(#f1eee8), to(#dbd4c6));
  background-image: -webkit-linear-gradient(top, #f1eee8, #dbd4c6);
  background-image: -o-linear-gradient(top, #f1eee8, #dbd4c6);
  background-image: linear-gradient(to bottom, #f1eee8, #dbd4c6);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #666666;
  border-color: #e0d9cd;
  padding: 5px 17px;
  text-shadow: none;
  font-size: 16px;
}
.btn.dark-grey-button {
   background-color: #d3c9bf;
  *background-color: #d3c9bf;
  background-image: -moz-linear-gradient(top, #f1eee8, #d3c9bf);
  background-image: -webkit-gradient(linear, 0 0, 0 80%, from(#f1eee8), to(#d3c9bf));
  background-image: -webkit-linear-gradient(top, #f1eee8, #d3c9bf);
  background-image: -o-linear-gradient(top, #f1eee8, #d3c9bf);
  background-image: linear-gradient(to bottom, #f1eee8, #d3c9bf);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #222222;
  cursor:pointer;
  border-color: #e0d9cd;
  padding: 5px 20px;
  text-shadow: none;
  font-size: 16px;
}

/********** RIGHT SIDE ITEMS **********/

.badgeSectionRight {
    margin: 25px 0px;
    width: 260px;
    min-height: 120px;
}

.badgeSectionRight ul {
    margin: 0;
}

.badgeSectionRight .rewardBadges li {
    list-style: none;
    float: left;
    margin: 0 11px 21px 4px;
    cursor: pointer;    
	width:50px;
}

.badgeSectionRight .rewardBadges li img {
    cursor: pointer;
    width: 50px;
}

.rewardBadges .reward .tooltip {
}

.rewardBadges .cash
{
	position: absolute;
	margin-left: 0;
	cursor: pointer;
	text-align: center;
	font-size: 1.3em;
	color: #455560!important;
	padding-top: 5px;
	font-weight: bold;
	height: 20px;
	width: 50px;
	margin-top: 12px;
}

.infoBoxRight {
    width: 196px;
    min-height: 110px;
    background-color: #f7f5f2;
    margin-left: 11px;
    padding: 20px 15px;
    color: #2f5057;
    font-size: 16px;
    line-height: 20px;
    font-family:  'Open Sans', Arial, Helvetica, sans-serif;
}
.infoBoxRight .bold {
    font-weight: bold;
}
.infoBoxRightFooter {
    width: 226px;
    height: 10px;
	background-image: url(../../images/LandingPageV3/bg-sprites.png);
    background-position: 0px -15px;
	background-repeat: no-repeat;
	margin-left: 11px;
}


/********** FOOTER **********/

.profileLink {
    font-weight: bold;    
}

.footerNewsSection {
	padding:8px 10px 25px;
	background-image: url(../../images/LandingPageV3/bg-sprites.png);
    background-position: 0px -513px;
	background-repeat: no-repeat;
	width: 239px;
    height: 340px;
	margin-bottom: 40px;
}
.footerNewsSection img {
	width: 239px;
	height: 166px;
}
.footerNewsContent {
    padding: 15px 20px;
}
.footerNewsContent h3 {
    margin: 0px 0px 5px 0px;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    max-height: 45px;
    overflow: hidden;
}
.footerNewsContent a {
    font-style: italic;
    font-size: 13px;
}
.footerNewsContent p {
    margin-top: 5px;
    height: auto;
    overflow: hidden;
}
.footerEventSection {
	padding:8px 10px 25px;
	background-image: url(../../images/LandingPageV3/bg-sprites.png);
    background-position: 0px -513px;
	background-repeat: no-repeat;
	width: 239px;
    height: 340px;
	margin-bottom: 40px;
}
.footerEventSection p {
	margin-top: 0;
	height: 100px;
    overflow: hidden;
}
.footerEventSectionHeader{
    background: linear-gradient(#CC0000, #990000) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: rgb(204,0,0); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(204,0,0,1) 0%, rgba(153,0,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,0,0,1)), color-stop(100%,rgba(153,0,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(204,0,0,1) 0%,rgba(153,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(204,0,0,1) 0%,rgba(153,0,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(204,0,0,1) 0%,rgba(153,0,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(204,0,0,1) 0%,rgba(153,0,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#990000',GradientType=0 ); /* IE6-9 */
    width: 214px;
    height: 35px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 13px;
    text-align: center;
}
.footerEventSectionHeader.ThemeColor1{
    background:none;
    background-color:#008aa3;
}
.footerEventSectionHeader.ThemeColor2{
    background:none;
    background-color:#c00;
}
.footerEventSectionHeader.ThemeColor3{
    background:none;
    background-color:#3952ca;
}
.footerEventSectionHeader.ThemeColor4{
    background:none;
    background-color:#777777;
}
.footerEventSectionHeader.ThemeColor5 {
    background: none;
    background-color: orange;
}
    .footerEventSectionHeader.ThemeColor6{
    background:none;
    background-color:green;
}
.footerEventSection.img {
	width: 239px;
	height: 136px;
}
.footerLogoImages {
    float: left;
    display: block;
    max-height: 45px;
    max-width: 90px;
}
.margr10{ margin-right: 10px;}
.newsfeedContainer .newsFeedItem .tertiary {
    font-size: 11px;
    float: right;
    padding-left: 5px;
    }

.newsfeedContainer .newsfeedPostFormContainer{
	height: 129px;
	margin-right: 25px;
    padding-bottom: 20px;
	border-bottom: 1px dotted;
	border-bottom-color:  #a29a85;
}
.newsfeedContainer .questionText{
	font-size: 18px;
	height: 25px;
	float:left; 
	display:inline;
	color: #7c7369;
	font-type: 'Open Sans', Arial, Helvetica, sans-serif;
	font-style: italic;
}

.newsfeedContainer .questionTextImage{
	background-image: url(../../images/LandingPageV3/bg-sprites.png);
	float:left;
	display:inline;
	background-position: -25px -44px;
	width: 25px;
	height: 25px;
}

.newsfeedContainer .postConfirmButton{
	float: right;
}

.newsfeedContainer .newsFeedItem{

	height: auto;
    min-height: 42px;
	padding-top: 12px;
	margin-right: 25px;
	border-bottom: 1px dotted;
	border-bottom-color: #a29a85;
	color: #515151;
}

.newsfeedContainer .newsFeedItem .newsfeedSubText {
    margin-left: 5px;
    font-size: 11px;
    color: #626a73;
}

.newsfeedContainer .newsFeedItem .postText {
	margin-left: 58px;
    font-size: 12px;
    min-height: 42px;
    line-height: 14px;
    word-wrap: break-word;
} 

.newsfeedContainer .newsFeedItem .postText-subtext-container {
    margin-bottom: 5px;
    margin-top: 5px;
}

.newsfeedContainer .newsFeedItem .postText span {
	font-size: 13px;
	line-height: 14px;
} 
.newsfeedContainer .newsFeedItem .postText span {
	font-size: 13px;
	line-height: 14px;
}



.newsfeedContainer .newsFeedItem img{
	float:left;
	height: 42px;
    width: 42px;
	margin-left:4px;  
	
}

.goto-newsfeed {
    height: 25px;
    float: right;
    margin-right: 25px;
}

.like-comment-text {
    line-height: 12px;
}

.likeImage {
    height: 12px;
    width: 12px;
}

#nothingPosted{
font-size:12px;
border-bottom: 0px;
}

#newsfeedList{
	margin: 0 0 0 0;
	list-style : none;
	}

.footerNewsContentBox {
    background-color: white;
    margin-top: 8px;
    min-height: 358px;
    width: 240px;
    -moz-box-shadow: 0 0 8px 4px #d9cbbc;
    -webkit-box-shadow: 0 0 8px 4px #d9cbbc;
    box-shadow: 0 0 8px 4px #d9cbbc;
}
.footerNewsHeaderTitle{
    background-color: #008aa3;
    width: 214px;
    height: 35px;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 13px;
    text-align: center;
    overflow: hidden;
}    
.footerNewsContentBox img {
    width: 240px;
	height: 136px;
}
.footerNewsText {
    padding: 18px 15px;
}
.footerNewsText p {
    line-height: 18px;
    font-size: 12px;
    margin-bottom: 6px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #515151;
}

/********** THICKER **********/
.thicker-info {
    background-color: #C8E9ED;
    border: 0 none;
    border-radius: 0 0 0 0;
    color: #3A87AD;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 7px;
    padding: 15px;
    position: absolute;
    width: 922px;
    text-shadow: none;
}
.thicker-info strong 
{
    color: #3e3e3e;
}
.thicker-info a {
    color: #008eaa;
}


/********* What's next for me *********/
.upForGrabsItem {
    border-top: 1px dotted;
    padding: 10px;
    color: #666;
    h2
    {
        margin: 0;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-size: 24px;
    }
    .grabComment {
        width: 432px;
        float: left;
    }
    .grabPoints {
        color: #ac1f2d;
        font-weight: bold;
    }
    a {
        margin-top: 10px;
    }
}

.upForGrabsItemRecently {
    border-top: 1px dotted;
    padding: 10px;
    color: #666;
    h2
    {
        margin: 0;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-size: 24px;
    }
    .grabComment {
        width: 432px;
        float: left;
    }
    .grabPoints {
        color: #ac1f2d;
        font-weight: bold;
    }
    a {
        margin-top: 10px;
    }
}

#upForGrabsNoData {
    font-size: 16px;
    line-height: 20px; 
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #515151;
    padding-top:10px;
    padding-left: 10px;
}


.upForGrabsNoData {
    border-top: 1px dotted;
    font-size: 16px;
    line-height: 20px; 
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #515151;
    padding-top: 10px;
    padding-left: 10px;
}

#upForGrabs {
    overflow: hidden;
}

#recentActivityList {
   overflow:visible;
}

/***** Badge Modal Window *****/

#badgesModal .close {
     margin-right: 15px; 
     margin-top: 10px; 
     font-size: 25px;
}
.badgeModalContent{
    h2{
        margin: 30px 20px 15px 20px; 
        text-transform: uppercase;
    }
    .badgeModalContentText {
     color: #626a73; 
     margin: 10px 20px 0px 20px; 
     font-size: 14px;
    }
}
.badgeModalButtonContainer {
    text-align: center; 
    width: 100%; 
    margin: 20px 0 25px 0;
}
.badgeModalButtonContainer .modal-badge-button {
    padding: 6px 45px !important;
}

.CTTrigger {
    max-width: inherit !important;
}

/***** Redeem Voucher Window *****/

#divRedeemAVoucherNewLanding {
    padding: 10px 15px 20px 20px;
    
    .close {
        font-size: 25px;
    }
    
    h2 {
        text-transform: uppercase;
    }
    p {
        color: #626a73;
        margin: 10px 0 0;
        font-size: 14px;
    }
    #inpFirstRedeem, #inpSecondRedeem, #inpThirdRedeem {
        width: 70px;
        border-radius: 0;
        border-color: #c7c4bc;
        float: left;
    }
    label {
        float: left;
        margin: 5px;
    }
    .bold {
        font-weight: bold;
    }
    .EnterVoucher {
        margin-bottom: 10px;
    }
    .VHMRedeemError{
        color: red;
        font-weight: bold;
        margin: 15px 0;
    }
    .voucherButtonContainer {
        overflow: auto;
        padding-top:10px;
        padding-bottom: 8px;
    }
    #redeem-voucher-container {
        margin-top: 15px;
    }
    .icon-ok {
        font-size: 28px;
    }
}

.badgeModalContent{
    .badgeModalContentText {
     color: #626a73; 
     margin: 10px 20px 0px 20px; 
     font-size: 14px;
    }
}

/***** Activity List Modal *****/
#all-activites 
{
    td{
        width:150px;
        input{
            margin-right:5px;
        }
        label{
            display: inline-block;
            position:relative;
            top:2px;
            font-size:12px;
        }
    }
    
}

#customActivityModal
{
    left: 41%;
    z-index: 1045;
    width:850px;

}

#ddCategory
{
    margin-right:10px;
}
.modal-body {
    max-height: 400px;
}
#userNotifications_divGrInv .reqfrndsItems {margin-bottom:15px;}
#divRptFriendRequests .socialList .jqModalPendFr.VHMHref_Names.contentImg.SocialImg{height:50px}
#divRptFriendRequests .reqfrndsItems{height:60px;}
#divRptGrpInvitations .reqfrndsItems{height:90px;}

/******* VHM BLOG STYLES********/
.landing-blog-list
{
	border-top-color: rgb(221, 221, 221);
	border-top-style: dotted;
	border-top-width: 1px;
	width: 552px;
	margin-top:20px;
	margin-bottom:20px;
	.blog-title
	{
		font-family: Arial, Helvetica, sans-serif;
		font-size:22px;
		color:#008aa2;
		margin-top:20px;
		a{
			text-decoration:none;
		}
	}
	.blog-date
	{
		font-family: 'Open Sans', Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#ccc;
		padding:5px 0px;
	}
	p.blog-intro-text
	{
		
	}
	.blog-list-image
	{
		float:right;
		margin-left:15px;
		margin-bottom:20px;
		display:block;
		width:160px;
	}
}

.blog-article
{
	.blog-title
	{
		font-family: Arial, Helvetica, sans-serif;
		font-size:22px;
		color:#008aa2;
		margin-top:20px;
		a{
			text-decoration:none;
		}
	}
	.blog-date
	{
		font-family: 'Open Sans', Arial, Helvetica, sans-serif;
		font-size:12px;
		color:#ccc;
		padding: 0 0 25px;;
	}
	p.blog-intro-text
	{
		
	}
	.blog-list-image
	{
		float:right;
		margin-left:15px;
		margin-bottom:20px;
		display:block;
		width:170px;
	}
	p.blog-content {
	    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        color: #515151;
        font-size: 16px;
        line-height: 21px;
	}
}
.ui-datepicker .ui-datepicker-header {
background-color:#ccc;
}

/******* WELCOME JOURNEY ********/

#divWelcomeJourneyV3
{
	width:743px;
	min-height:612px;
	margin-left:-357px;
	background-color:transparent;
	border:none;
	padding-bottom: 0px;
	#wj-step1
	{
		background: url('../../images/wj/wj1.jpg') no-repeat right top #ffffff;
		-moz-border-radius: 5px;
		border-radius: 5px;
		min-height:573px;
		padding:12px 40px;
	}
	#wj-step2
	{
		background: url('../../images/wj/wj2.jpg') no-repeat right top #ffffff;
		-moz-border-radius: 5px;
		border-radius: 5px;
		min-height:573px;
		padding:12px 40px;
	}
	#wj-step3
	{
		background: url('../../images/wj/wj3.jpg') no-repeat right top #ffffff;
		-moz-border-radius: 5px;
		border-radius: 5px;
		min-height:573px;
		padding:12px 40px;
	}
	.wj-form-wrapper{

		width:250px;

		.wj-title{
			font-size:45px;
			margin-bottom:25px;
			text-transform:uppercase;
		}

		.wj-label{
			font-size:35px;
			margin-bottom:0px;
			text-transform:uppercase;
			margin-top:25px;
		}

		.wj-input{
			width:85px; 
			margin-top:0px;
			-moz-border-radius: 0px;
			border-radius: 0px;
			padding: 7px 6px;
			margin-bottom:0px;
			font-size:16px;
			
		}
		.info-text
		{
			color:#626a73;
			font-size:12px;
			font-style:italic;
			padding-top:0px;
			margin-top:0px;
			line-height:14px;
		}
		#wj-step1-next,#wj-step2-next,#wj-step3-next
		{
			padding: 9px 35px;
			font-size: 20px;
			margin-top:15px;
		}
		.content
		{
			font-size:15px;
			line-height:23px;
			color:#626a73;
		}
	}
}

/******* LEVEL CELEBRATION ********/

#levelCelebrationModal {
	width:710px;
	margin-left:-357px;
	background-color:transparent;
	border:none;
	padding-bottom: 0px;
    min-height: 467px;
	
	#celebration-level2 {
		background: url('../../images/LevelCelebration/level2.jpg') no-repeat right top #ffffff;
		-moz-border-radius: 5px;
		border-radius: 5px;
		min-height:447px;
		padding:20px;
		padding-bottom:0px;
		overflow: hidden;
	}
	#celebration-level3 {
		background: url('../../images/LevelCelebration/level3.jpg') no-repeat right top #ffffff;
		-moz-border-radius: 5px;
		border-radius: 5px;
		min-height:447px;
		padding:20px;
		padding-bottom:0px;
		overflow: hidden;
	}	
	#celebration-level4 {
		background: url('../../images/LevelCelebration/level4.jpg') no-repeat right top #ffffff;
		-moz-border-radius: 5px;
		border-radius: 5px;
		min-height:447px;
		padding:20px;
		padding-bottom:0px;
		overflow: hidden;
	}
	#celebration-level5 {
		background: url('../../images/LevelCelebration/level5.jpg') no-repeat right top #ffffff;
		-moz-border-radius: 5px;
		border-radius: 5px;
		min-height:447px;
		padding:20px;
		padding-bottom:0px;
		overflow: hidden;
	}		
	.celebrationContent {
	    width: 305px;
        margin-left: 20px;
	}
	.celebrationContent h2 {
        margin: 26px 28px 20px;
        text-transform: uppercase;
	    color: white;
	    text-align: center;
	    font-size: 40px;
    }
    .celebrationBadgeBox {
		background: url('../../images/LevelCelebration/level-animation.gif') no-repeat right top transparent;
	    width: 335px;
	    height: 190px;
        margin-top: 10px;
        display: block;
        margin-left: 10px;
        margin-right: auto;
	}
	.celebrationContentLevelTitle {
        padding-top: 56px;
        padding-left: 125px;
        font-size: 50px;
        font-family: 'Conv_Tungsten-Book', Arial, Helvetica, sans-serif !important;
        color: white;
        text-transform: uppercase;
	}
	.celebrationContentLevelNumber {
        padding-top: 37px;
        padding-left: 148px;
        font-size: 70px;
        font-family: 'Conv_Tungsten-Semibold', Arial, Helvetica, sans-serif;
        color: white;
        text-transform: uppercase;
	}
	.celebrationContentCelebrate {
	    text-align: center;
	    font-size: 24px;
        font-family: 'Conv_Tungsten-Book', Arial, Helvetica, sans-serif !important;
	    font-style: italic;
	    color: #626a73;
	    margin-top: 20px;
	}	
	.celebrationButtonContainer {
	    text-align: center;
	    margin-top: 40px;
	}	
}
#levelCelebrationModal .HCelebration {
    font-family: 'Conv_Tungsten-semibold',Arial,Helvetica,sans-serif;
    font-weight: normal;
    color: #626a73;
    text-align: center;
    font-size: 36px;
    display:block;
}

 /******* ACTIVITY CHALLENGES ********/
 .progressBarContent
    {
        height: 38px !important;
        margin-bottom: 40px;
        margin-top: 0px !important;
    }
    
    .progressBarTable
    {
        margin-top: 12px !important;
        width: 98% !important;
    }
    
    .challengeDefaultBg
    {
        background-image: url(/images/challenges/challengeprogressbar_bg-pattern.png) !important;
        background-repeat: repeat;
        height: 38px !important;
    }
    
    .challengeCompletedBg
    {
        background-color: #f2cf4a !important;
    }
    
    p.challenge-name:hover
    {
        color: #008AA2;
    }
    .ranks {
       color: #e7a423; 
       font-weight: bold;
       height: 8px; 
       font-weight: bold;
       font-size:14px;
       margin-top: -7px;
    }
    .counts {
        color: #333333; 
        font-size: 13px;
    }
    .bar {
        z-index: 1;
        left: 0px;
        height: 27px;
        background-color: #d0d0d0; 
        border: 0;
        width: 100%;
    }
    .activity-challenge-badge {
        height:80px;
        width:80px; 
        float: left; 
        padding-right:20px;
        margin-top: 10px;
        margin-left: 6px;
    }
    .challenge-name {
        font-size: 18px;
        margin-top: 10px;
    }

.centerText {
    text-align: center;
    vertical-align: middle;
    font-size: 13px !important;
}
.centerText.centerTime {
    font-size: 11px !important;
    white-space: nowrap;
}
    .accordion-icon {
    float: left;
    padding-top: 3px;
    font-size:15px;
}
    .calories-calculation li.calculation-minus {
    margin-top: 19px !important;
}
.calories-calculation li.calculation-minus i.icon-minus {
     vertical-align:text-bottom;
}
.calories-calculation li.calculation-equals {
     margin-top:21px !important;
}
.mBottom {
    margin-bottom:5px;
}
.calories-calculation .calculation-refresh.lastLink {
    font-size:12px !important;
    font-style:italic !important;
}
.calories-calculation.bottomM {
    margin-bottom:35px !important;
}