﻿/*************************Link styles*******************************************/
.VHMHref, a.VHMHref, a.VHMHref:link, a.VHMHref:visited, 
a.VHMHref:active {color:#008aa2 !important;  text-decoration: none; cursor:hand; cursor:pointer; font-size:11px; font-family: 'Open Sans', Arial, Helvetica, sans-serif;}
a.VHMHref:hover {color:#008aa2 !important;  text-decoration: underline; cursor:hand; cursor:pointer; font-size:11px; font-family: 'Open Sans', Arial, Helvetica, sans-serif;}

.VHMHref_Names, a.VHMHref_Names, a.VHMHref_Names:link, a.VHMHref_Names:visited, 
a.VHMHref_Names:active {color:#008aa2 !important;  text-decoration: none; cursor:hand; cursor:pointer; font-size:13px; font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-weight:bold;}
a.VHMHref_Names:hover {color:#008aa2 !important;  text-decoration: underline; cursor:hand; cursor:pointer; font-size:13px; font-family: 'Open Sans', Arial, Helvetica, sans-serif; font-weight:bold;}

.loadingWaitdiv{padding:20px;text-align:center; z-index:1000;}
.loadWaitMSG{font-family: 'Open Sans', Arial, Helvetica, sans-serif; color:#c10000;font-size:24px;}
.ImgSpinner{ width:65px; height: 65px; border: 0;}

.jqmVHMPopWindow { display: none; top: 35%; left: 90%; border:0;padding:0;overflow:auto;clear:both;}
.congratulation {border: 0px!important;background-color:Transparent!important;padding-right:0px !important; background-image:none!important;}
.notifSection{border-bottom: 1px solid #e3e3e3;padding:15px 0 15px 0; overflow:auto;}
.sectionTitle{height:16px; text-align:left; vertical-align:middle; font-size:13px; font-family: 'Open Sans', Arial, Helvetica, sans-serif; color: #008AA2; font-weight:bold; padding-bottom:12px;}
.NotificTitle {color: #008AA2; border-bottom: 1px solid #e3e3e3; overflow:auto;text-align:left; vertical-align:middle; font-size:23px; font-family: 'Conv_Tungsten-Medium', Arial, Helvetica, sans-serif; text-transform: uppercase; line-height: 25px;}
.clearAllCls {float:right;text-align:right;}
.iconTitle {height:16px; width:16px; border:0; padding-bottom: 4px; vertical-align: middle;}
.spanText{color:#444444; font-size:13px; font-family: 'Open Sans', Arial, Helvetica, sans-serif;}
.spOptionText {font-size: 11px; font-family: 'Open Sans', Arial, Helvetica, sans-serif; color:#c41b00;}
.VHMConfirmAlert {display: none; border:1px solid #cc0000; background-color:#ffffff;padding:15px;overflow:auto; }
.divNudge {float: right;width: 115px; text-align: center;}
.socialList{float: left; margin-right: 15px;}
.socialList_content{float: left;}
.ui-dialog .ui-dialog-content {padding: 0 1em 1em !important;}
#VHMCommonAlertDialog { width: 92%; }
#KAGCompletePopup { width: 95% !important; }
#ui-dialog-title-KAGCompletePopupu + a { top: 95%; }
/*.ui-dialog .ui-dialog-titlebar {padding: 0 1em !important;}*/
ul.friendsList{list-style-type: none;}

.NotificDialogPopUpss {
display: none;
border: 0;
padding: 0 !important;
}
.centerLoading {
padding: 20px;
display: none;
text-align: center;
z-index: 5000;
position: fixed;
top: 37%;
left: 45%;
}
#divVHMNotification {
    min-height: 400px;
    display: none;
}   

#TellAFriendPopup {
	overflow: inherit;
}


/***** Redeem Voucher Window *****/

#divRedeemAVoucher {
    width: 95% !important;
    padding: 0px 0px 15px 15px !important;
    }
#divRedeemAVoucher .close {
        font-size: 25px;
    }
#divRedeemAVoucher p {
        color: #626a73;
        margin: 10px 0 0;
        font-size: 14px;
    }
#divRedeemAVoucher a {
        font-size: 14px;
    }    
#divRedeemAVoucher #inpFirstRedeem, #divRedeemAVoucher #inpSecondRedeem, #divRedeemAVoucher #inpThirdRedeem {
        width: 70px;
        border-radius: 0;
        border-color: #c7c4bc;
        float: left;
        height: 24px;
    }
#divRedeemAVoucher label {
        float: left;
        margin: 5px;
    }
#divRedeemAVoucher .bold {
        font-weight: bold;
    }
#divRedeemAVoucher .EnterVoucher {
        margin-bottom: 10px;
    }
#divRedeemAVoucher .VHMRedeemError{
        color: red;
        font-weight: bold;
        margin: 15px 0;
    }
#divRedeemAVoucher .voucherButtonContainer {
        overflow: auto;
        padding-top:10px;
        padding-bottom: 8px;
    }
#divRedeemAVoucher #redeem-voucher-container {
        margin-top: 15px;
        margin-bottom: 5px;
        height: 26px;
    }
#ui-dialog-title-divRedeemAVoucher + a {
        margin-top: 5px;
    }    
#divVHMNotification + .ui-dialog {background-color: white;}
