<%@ Page Language="c#" Trace="false" AutoEventWireUp="false" CodeBehind="Localization.aspx.cs" Inherits="Ektron.Telerik.WebControls.RadEditorUtils.Localization" %>

<asp:literal id="ltScriptHolder" runat="server"/>

if(typeof(Sys) !== "undefined") Sys.Application.notifyScriptLoaded();