<%@ Page Language="C#" AutoEventWireup="true" Inherits="Workarea_Commerce_Pricebook" Codebehind="Pricebook.aspx.cs" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Pricebook</title>

</head>
<body >
</body>
</html>

