﻿@using Vhm.Web.DataServices.MiddleTierService
@model Vhm.Web.Models.ViewModels.Social.MemberVM 
@{
    string hidden = Model.RelationShip.ToFriendNotification == null && Model.RelationShip.ToMemberNotification == null 
        ? "hidden"
        : string.Empty;
}                                                
<div id="divUserProfile" class="divUserProfile">
          
    <div class="left" style="width:100%;">
        @Html.Partial("SmallMemberProfile", Model)
    </div>
    <div class="floatLeft" style="margin: 10px 0px 10px 0px">
    @if (Model.ShowNickname)
    { //NICKNAME
        <div>
            <div class="floatLeft">
                <label class="lightGrey">Nickname: </label>
                <span>@Model.Member.DisplayName</span>
            </div>
        </div>
    }
    @if (Model.ShowGender)
    { // GENDER
        <div>
            <div class="floatLeft">
                <label class="lightGrey">Gender: </label>
                <span>@(Model.Member.Gender == "M" ? "Male" : "Female")</span>
            </div>
        </div>
    }  
    @if (Model.ShowAge)
    { // AGE
        <div>
            <div class="floatLeft">
                <label class="lightGrey">Age: </label>
                <span>@Model.Member.Age</span>
            </div>
        </div>
    }
    @if (Model.ShowCity)
    { // CITY
        <div>
            <div class="floatLeft">
                <label class="lightGrey">City: </label>
                <span>@Model.Member.City</span>
            </div>
        </div>
    }   
    @if (Model.ShowOrganization)
    { // ORGANIZATION
        <div>
            <div class="floatLeft">
                <label class="lightGrey">Organization: </label>
                <span>@Model.Member.Sponsors</span>
            </div>
        </div>
    }  
    @if (Model.ShowStepsTotal)
    { // STEPS TOTAL
        <div>
            <div class="floatLeft">
                <label class="lightGrey">Total Steps: </label>
                <span>@String.Format("{0:N0}", Model.Member.Total)</span>
            </div>
        </div>
    } 
    @if (Model.ShowStepsAverage)
    { // STEPS AVERAGE
        <div>
            <div class="floatLeft">
                <label class="lightGrey">Average Steps: </label>
                <span>@String.Format("{0:N0}", Model.Member.Average) steps per day</span>
            </div>
        </div>
    }  
    @if (Model.ShowLastGoZoneUpload)
    { // LAST GZ UPLOAD
        <div>
            <div class="floatLeft">
                <label class="lightGrey">Last GoZone Upload: </label>
                <span>@if (Model.Member.LastGZUpload != null)
                     {
                         @String.Format(Model.Culture, "{0}", Model.Member.LastGZUpload.Value.ToShortDateString())
                     } </span>
            </div>
        </div>
    }    
    @if (Model.ShowChallengeHistory)
    { // CHALLENGE HISTORY
        <div>
            <div class="floatLeft">
                <label class="lightGrey">Challenge History: </label>
                <span>@Model.Member.ChallengesParticipatedIn challenges</span>
            </div>
        </div>
    }   
    @if (Model.ShowOrganization)
    { // OCUPATION
        <div>
            <div class="floatLeft">
                <label class="lightGrey">Occupation: </label>
                <span>@if (Model.Member.Occupation != null) {
                        @Model.Member.Occupation.Description
                      }
                </span>
            </div>
        </div>
    } 
    @if (Model.ShowGoals) { // GOALS
        <div>
            <div class="floatLeft">
                <label class="lightGrey">Goals: </label>
                <span>@Model.Member.Goals</span>
            </div>
        </div>
    }  
    @if (Model.ShowInterests) { // INTERESTS
        <div>
            <div class="floatLeft">
                <label class="lightGrey">Interests: </label>
                <span>@Model.Member.Interests</span>
            </div>
        </div>
    }    
    </div>
    <div class="VHMPop_Buttons">
        @if (Model.RelationShip != null && Model.RelationShip.IsFriend) {
            // CHALLENGE OR REMOVE AS FRIEND
            <div class="popPaddingBtm popTitle">
                <input type="button" id="btnChallengeMe" value="Challenge Me" class=" vbtn_red_a_md" />
                <br /> <br />
                <a href="#" id="ahrfRemovefr" class="ahrfRemovefr" >Remove as Friend</a>
            </div>
        } else {   // ADD AS FRIEND            
            <div class="popTitle">
                <input type="button" value="Add as Friend" class="vbtn_red_a_md @hidden" id="btnAddAsFriend" />
                <span name="friendReqSent" class="hidden">Friend Request Sent</span>
            </div>
            <div class="popTitle">
                <span style="color: #474747;" class="hidden">Friend Request Sent</span>
            </div>
        }
        @*@if (Model.RelationShip != null && Model.RelationShip.ToMemberNotification.MemberId == Model.Member.MemberId != null)
        {
            // ACCEPT OR DECLINE FRIEND REQUEST
            <div class="popTitle">
                <input type="button" value="Accept" class="vbtn_red_a_md" id="btnAcceptFr" name="btnAcceptFr"/>
                <br /> <br />
                <a href="#" id="hrefDecline" class="ahrfRemovefr">Decline</a>
            </div>
        }*@
	</div>
</div>
