﻿@using System.Globalization
@model Vhm.Web.Models.ViewModels.Social.MemberVM
<table>
    <tr>
        <td colspan="2" width="300px;">
            @Html.Partial("Member/SmallMemberProfile", Model)
        </td>
    </tr>
    @if (Model.ShowBadges)
    {
        <tr>
            <td colspan="2">
                @*Badges*@
            </td>
        </tr>
    }
    @if (Model.ShowNickname)
    {
        <tr>
            <td style ="width:125px;padding-right:10px;">
               <h5 class="lightGrey" > Nickname:</h5>
            </td>
            <td>
               <h5> @Model.Member.DisplayName</h5>
            </td>
        </tr>
    }
    @if (Model.ShowGender)
    {
        <tr>
            <td>
               <h5 class="lightGrey" > Gender:</h5>
            </td>
            <td>
                <h5>@(Model.Member.Gender.ToUpper() == "M" ? "Male" : "Female")</h5>
            </td>
        </tr>
    }
        @if (Model.ShowAge)
    {
        <tr>
            <td>
               <h5 class="lightGrey" > Age:</h5>
            </td>
            <td>
                <h5>@Model.Member.Age</h5>
            </td>
        </tr>
    }
    @if (Model.ShowCity)
    {
        <tr>
            <td>
               <h5 class="lightGrey" > City:</h5>
            </td>
            <td>
                <h5>@Model.Member.City</h5>
            </td>
        </tr>
    }
      @if (Model.ShowStepsTotal)
    {
        <tr>
            <td>
               <h5 class="lightGrey" > Total Steps:</h5>
            </td>
            <td>
                <h5>@String.Format("{0:N0}", Model.Member.Total)</h5>
            </td>
        </tr>
    }
        @if (Model.ShowStepsAverage)
    {
        <tr>
            <td>
               <h5 class="lightGrey">Average Steps:</h5>
            </td>
            <td>
                <h5>@String.Format("{0:N0}", Model.Member.Average) steps per day</h5>
            </td>
        </tr>
    }
        @if (Model.ShowLastGoZoneUpload)
    {
        <tr>
            <td>
               <h5 class="lightGrey" > Last GoZone Upload:</h5>
            </td>
            <td>
                <h5> @if (Model.Member.LastGZUpload != null)
                     {
                         @String.Format( "{0}", Model.Member.LastGZUpload.Value.ToShortDateString())
                     }
                </h5>
            </td>
        </tr>
    }
        @if (Model.ShowChallengeHistory)
    {
        <tr>
            <td>
              <h5 class="lightGrey" >  Challenge History:</h5>
            </td>
            <td>
                <h5>@Model.Member.ChallengesParticipatedIn challenges</h5>                
            </td>
        </tr>
    }
    @if (Model.ShowOrganization)
    {
        <tr>
            <td>
               <h5 class="lightGrey" > Organization:</h5>
            </td>
            <td>
                <h5>@Model.Member.Sponsors</h5>
            </td>
        </tr>
    }
    @if (Model.ShowOccupation)
    {
        <tr>
            <td>
               <h5 class="lightGrey" > Occupation:</h5>
            </td>
            <td>
                <h5>@if (Model.Member.Occupation != null)
                    {
                        @Model.Member.Occupation.Description
                    }
                </h5>
            </td>
        </tr>
    }
    @if (Model.ShowGoals)
    {
        <tr>
            <td>
               <h5 class="lightGrey" > Goals:</h5>
            </td>
            <td>
                <h5>@Model.Member.Goals</h5>                
            </td>
        </tr>
    }
    @if (Model.ShowInterests)
    {
        <tr>
            <td>
               <h5 class="lightGrey" > Interests:</h5>
            </td>
            <td>
                <h5>@Model.Member.Interests</h5>
            </td>
        </tr>
    }
</table>
