﻿@using Vhm.Web.Models.Enums
@model Vhm.Web.Models.ViewModels.Social.MemberVM

@if (Model.ViewSize == ViewSize.Small)
{
    <div class="socialList">
        <img class="SocialImg" src="@Model.Member.ImageUrl" alt="@Model.Member.FirstName" width="50" />
        <div class="socialList_content" style="display: inline;">
            <h4>
                <span id="FirstName" style="text-wrap: wrap;">@Model.Member.FirstName</span>&nbsp;
                <span id="LastName" style="text-wrap: wrap;">@Model.Member.LastName</span>
            </h4>
        </div>
    </div>
}
else if (Model.ViewSize == ViewSize.Medium)
{
    <div class="socialList" style="width: 100%">
        <img src="@Model.Member.ImageUrl" alt="@Model.Member.FirstName"  height="90" width="90" style="margin-right: 10px; margin-bottom: 10px; float: left;" />
        <h4 class="red">
            <span id="FirstName" style="text-wrap: wrap;">@Model.Member.FirstName</span>&nbsp;
            <span id="LastName" style="text-wrap: wrap;">@Model.Member.LastName</span>
        </h4>
        <h6 class="lightGrey">@Model.Member.Motto</h6>
    </div>
}
