﻿@model Vhm.Web.Models.ViewModels.Shared.FooterViewModel
<div class="navbar bottom-footer">
    <div class="navbar-inner footer-inner">
        <div class="container">
            <span><span>©@DateTime.Now.Year @ViewBag.CompanyName</span> &nbsp;|&nbsp;
                @foreach (var menutItem in Model.FooterMenu.ChildItems)
                {
                    <a href="@Url.Content("~/../" + @menutItem.Url)">@menutItem.Text</a> <span>&nbsp;&nbsp;|&nbsp;&nbsp;</span>
                }
            </span>
        </div>
    </div>
</div>
<div id="divVHMNotification">
</div>