
<style type="text/css">
    .beta
    {
        width: 37px;
        height: 38px;
        position: relative;
        float: right;
        RIGHT: -55px;
        TOP: -80px;
    }
    .ffContent{  min-height: 450px;float: left; }
        .ffContent p{ padding-top: 10px;}
    .leftContent{ width: 45%; background-color: #FEFFD4; padding: 0 20px 30px 20px; }
    .rightContent{ width: 47%;margin-left: 30px;}
    input, label{ display: inline-block;vertical-align: top;}
    input[type=radio]{ width: 22px;}
    ul#inviteeList{ list-style: none;padding: 0;margin: 0;}
        ul#inviteeList li{ clear: both; padding: 25px 0;}
            ul#inviteeList li img{height:50px;width:50px;padding: 0 15px 0 0;}
            ul#inviteeList li a{display: inline-block;padding: 0 10px;font-weight: bold;}
            ul#inviteeList li span.invitationMessage{ display: inline-block;width: 120px;}
    .quoteLeft
    {
        z-index: 1000;
        position: relative;
        display: inline;
    }
</style>
<div class="ffContent leftContent">
    
    <p class="textLargeSecondary">Have some friends or family members that you think might want to play? Enter their email addresses here and we'll send them an invite:</p>
    <div>
        <p class="textMediumSecondary">Friends and family over the age of 18 only, please. If you wish to sign up your children under the age of 18, <a href="" ng-href="#ComingSoon" data-toggle="modal" onclick="_gaq.push(['_trackEvent', 'Friends And Family', '&quot;' + 'Under18Link' + '&quot;', '&quot;' + 'Yes' + '&quot;']);">click here</a>.</p>
        <p>
            <label class="textMediumMain" >You have <span ng-model="model.InvitesRemaining" ng-bind-html="model.InvitesRemaining.toString()"></span> invite remaining:</label><br/>
            <input type="text" placeholder="Type an email address" ng-model="model.EmailToSend"/>
        </p>  
        <p>
            <label class="textMediumMain">Is this person under 18?</label>
            <label for="under21Yes"  ng-href="#ComingSoon" data-toggle="modal">
                <input type="radio" value="yes" id="under21Yes" name="Under21" ng-model="model.Under21"
                    onclick="_gaq.push(['_trackEvent', 'Friends And Family', '&quot;' + 'Under18Radio' + '&quot;', '&quot;' + 'Yes' + '&quot;']);"/>Yes
            </label>
            <label for="under21No">
                <input type="radio" value="no" id="under21No" name="Under21" ng-model="model.Under21"
                    onclick="_gaq.push(['_trackEvent', 'Friends And Family', '&quot;' + 'Under18Radio' + '&quot;', '&quot;' + 'No' + '&quot;']);"/>No
            </label>
        </p>
        <button class="btn btn-main" ng-click="SendInvite()" ng-disabled="model.Under21 != 'no'" onclick="_gaq.push(['_trackEvent', 'Friends And Family', '&quot;' + 'SendInviteButton' + '&quot;', '&quot;' + 'Invite Sent' + '&quot;']);">Send invites</button>
        <hr/>
    
        <label class="textMediumMain">Invites already sent:</label>
        
        <div ng-show="Error" class="alert alert-block">
            <a class="close" ng-click="DismissError()">X</a>
            <h4>{{ErrorMessage}}</h4>
        </div>
    </div>
    <ul id="inviteeList">
        <img src="img/spinner.gif" style="height:40px;" ng-show="Waiting"/>
        <li ng-repeat="person in model.Invitees">
            <img ng-src="{{person.Img}}" class="pull-left"/>
            <div class="pull-left">
                <label class="textLargeMain">{{person.Name}}</label><br/>
                <span class="textSmallSecondary" ng-model="person.InvitationMessage" ng-bind-html="person.InvitationMessage"></span>
                <a href="" ng-click="RemoveInvitee(person.MemberId, person.RelationId, person.InviteId)" 
                   ng-show="person.InvitationMessage == $parent.Messages.Pending || person.InvitationMessage == $parent.Messages.Accepted" class="tertiary"
                   onclick="_gaq.push(['_trackEvent', 'Friends And Family', '&quot;' + 'InviteAction' + '&quot;', '&quot;' + 'Remove' + '&quot;']);">remove</a>
                <a href="" ng-show="person.ShowResend" class="tertiary" ng-click="ResendInvitation(person.InviteId)"
                   ng-show="person.InvitationMessage == $parent.Messages.Pending"
                   onclick="_gaq.push(['_trackEvent', 'Friends And Family', '&quot;' + 'InviteAction' + '&quot;', '&quot;' + 'Resend' + '&quot;']);">resend invite</a>
            </div>
        </li>
    </ul>
</div>
<div class="ffContent rightContent">
    <div style="width: 430px;">
        <h2 class="blue">Success stories</h2>
        <p>When you get healthy with friends and family, everybody wins! Check out these stories from Express members:
        </p>
        <div class="textMediumQuote">
            <img src="https://auth1.virginhealthmiles.com/images/success-lisa.png" align="right" style="padding:0 0 10px 10px;"/>
            <p style="padding-top:10px;">I was never a morning person, but now I'm proud to say I rise six days a week at 5:30 a.m. to meet my best friend Melinda for an hour of walking.  My husband is wearing a pedometer too and walking on his breaks at work. When I see him accomplishing 12,000+ steps a day, it does my heart good. He and I have each lost 20 lbs!</p>
            - Lisa Wright-Minter
        </div>
        <div class="textMediumQuote" style="clear:both  ">
            <img src="https://auth1.virginhealthmiles.com/images/success-walt.png" align="left" style="padding:0 10px 10px 0px;"/>
            <p style="padding-top:10px; text-align:right;">My lovely wife encouraged me by going for a walk every night after our supper. 4,000. 5,000. 7,000 steps. Our progress is encouraging and as we walk together it gives us "alone time". We are able to walk, talk and enjoy each other's company. Our relationship is growing and we return home refreshed with a great attitude!
            </p>
            <p style="text-align:right;">- Walt Neiswender</p>
        </div>
    </div>
</div>
