<%@ Page Language="C#" ResponseEncoding="utf-8" AutoEventWireup="true" Inherits="ektidy" ValidateRequest="false" Theme="" Codebehind="ekajaxtidy.aspx.cs" %>
<asp:Literal id="litContent" runat="server"></asp:Literal>
