<%@ Page Language="C#" AutoEventWireup="true" Inherits="Workarea_ContentDesigner_ekformsiframe" Theme="" Codebehind="ekformsiframe.aspx.cs" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html id="theHtmlTag" runat="server" xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta content="utf-8" http-equiv="Content-type" />
    <meta runat="server" content="text/html; charset='utf-8'" http-equiv="Content-type" />
    <title>Ektron ContentDesigner IFRAME</title>
    <asp:literal id="litBase" runat="server"/>
    <asp:literal id="cssLinks" runat="server"/>
</head>
<body id="theBody" runat="server" class="RadEContentBordered"><p>&#160;</p></body>
</html>