<%@ Page ContentType="text/xml" Language="C#" AutoEventWireup="true" Inherits="ContentDesigner_resourcexml" EnableTheming="false" Codebehind="resourcexml.aspx.cs" %><?xml version="1.0" encoding="utf-8"?>
<root>
<asp:literal id="litOutput" runat="server"></asp:literal>
</root>