﻿@theme-folder-name: 'pul';
@main-theme-color: #008aa2;
@main-theme-hover: #008aa2;
@gradient-color: #008aa2;
@gradient-color-two: #00a9c0;

@accent-color: #e7a423;
@accent-color-two: #008aa2;
@accent-color-three: #e49a1f;

@accent-button-color: #fdbb2d;
@accent-button-color-two:#ec9702;
@accent-border-color: #ffc254;

@import "../../../vhm.mixins.less";
@import "../../base.theme.less";
@import "../../challenges.theme.less";
.black-header-index {
font-family: 'Conv_Tungsten-Medium', Arial, Helvetica, sans-serif !important;
}

h3.subHeader-index{
 color: @accent-color;
    }