/* Round all corners mixin - when all corners are the same */
/* Round certain corners only */
/* top right, bottom right, bottom left, top left */
/* Set background of element to a gradient between two colors */
/* Box Sizing */
/* Box Shadows */
/* Text Shadows */
/* Opacity */
@charset "UTF-8";
/* Round all corners mixin - when all corners are the same */
/* Round certain corners only */
/* top right, bottom right, bottom left, top left */
/* Set background of element to a gradient between two colors */
/* Box Sizing */
/* Box Shadows */
/* Text Shadows */
/* Opacity */
#mainNav li a {
  color: #008aa2;
}
#mainNav li a {
  background-image: url('pul/images/arrow-nav.png');
}
#extendableHeader_sub {
  background-color: #009ab1;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#00a9c0) to(#008aa2));
  background: -webkit-linear-gradient(#00a9c0, #008aa2);
  background: -moz-linear-gradient(#00a9c0, #008aa2);
  background: -ms-linear-gradient(#00a9c0, #008aa2);
  background: -o-linear-gradient(#00a9c0, #008aa2);
  -pie-background: linear-gradient(#00a9c0, #008aa2);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9c0', endColorstr='#008aa2',GradientType=0 );
}
.content-sub-header {
  background-color: #009ab1;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#00a9c0) to(#008aa2));
  background: -webkit-linear-gradient(#00a9c0, #008aa2);
  background: -moz-linear-gradient(#00a9c0, #008aa2);
  background: -ms-linear-gradient(#00a9c0, #008aa2);
  background: -o-linear-gradient(#00a9c0, #008aa2);
  -pie-background: linear-gradient(#00a9c0, #008aa2);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9c0', endColorstr='#008aa2',GradientType=0 );
}
.VHMfooter {
  background-color: #009ab1;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#00a9c0) to(#008aa2));
  background: -webkit-linear-gradient(#00a9c0, #008aa2);
  background: -moz-linear-gradient(#00a9c0, #008aa2);
  background: -ms-linear-gradient(#00a9c0, #008aa2);
  background: -o-linear-gradient(#00a9c0, #008aa2);
  -pie-background: linear-gradient(#00a9c0, #008aa2);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9c0', endColorstr='#008aa2',GradientType=0 );
}
div.rewardsClose h3.jqmClose,
div.rewardsClose h3.jqmClose:visited {
  color: #008aa2;
}
.recentRewardsPopup {
  background-image: url('pul/images/popup-swish.png');
}
.tickerBar {
  height: 34px;
  background-color: #009ab1;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#00a9c0) to(#008aa2));
  background: -webkit-linear-gradient(#00a9c0, #008aa2);
  background: -moz-linear-gradient(#00a9c0, #008aa2);
  background: -ms-linear-gradient(#00a9c0, #008aa2);
  background: -o-linear-gradient(#00a9c0, #008aa2);
  -pie-background: linear-gradient(#00a9c0, #008aa2);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9c0', endColorstr='#008aa2',GradientType=0 );
  width: 960px;
  margin: -15px 0 0 -30px;
}
.tickerArrows.left {
  background-image: url('pul/images/ticker-arrow-left.png') !important;
}
.tickerArrows.right {
  background-image: url(pul/images/ticker-arrow-right.png);
}
#AJChartBody {
  border-color: #008aa2;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 5px 5px;
  width: 719px;
  min-height: 500px;
  background-color: #fff;
  position: relative;
  behavior: url(/PIE.htc);
}
#header {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#footer {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
#footer .navbar-inner {
  background-color: #009ab1;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#00a9c0) to(#008aa2));
  background: -webkit-linear-gradient(#00a9c0, #008aa2);
  background: -moz-linear-gradient(#00a9c0, #008aa2);
  background: -ms-linear-gradient(#00a9c0, #008aa2);
  background: -o-linear-gradient(#00a9c0, #008aa2);
  -pie-background: linear-gradient(#00a9c0, #008aa2);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9c0', endColorstr='#008aa2',GradientType=0 );
}
/* Responsive navigation theming */
#topNavigation li ul li a {
  color: #008aa2;
}
#topNavigation li ul li:hover {
  color: #008aa2;
}
#topNavigation li ul li:hover a {
  color: #008aa2;
}
#mainNavBootstrap li a {
  color: #008aa2;
}
#mainNavBootstrap ul li a {
  color: #008aa2;
}
#mainNavBootstrap ul:hover {
  color: #008aa2;
}
#mainNavBootstrap ul:hover a {
  color: #008aa2;
}
/* Caret theming */
.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover,
.nav > li.dropdown.open.active > a:focus {
  color: #008aa2;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret,
.nav .dropdown-toggle .caret {
  color: #008aa2;
  border-top-color: #008aa2;
}
/* Themed Buttons */
a.btn-main {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #008aa2;
  background-color: #009ab1;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#00a9c0) to(#008aa2));
  background: -webkit-linear-gradient(#00a9c0, #008aa2);
  background: -moz-linear-gradient(#00a9c0, #008aa2);
  background: -ms-linear-gradient(#00a9c0, #008aa2);
  background: -o-linear-gradient(#00a9c0, #008aa2);
  -pie-background: linear-gradient(#00a9c0, #008aa2);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9c0', endColorstr='#008aa2',GradientType=0 );
  background-repeat: repeat-x;
  border-color: #008aa2 #008aa2;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
a.btn-main:hover,
a.btn-main:focus,
a.btn-main:active,
a.btn-main.active,
a.btn-main.disabled,
a.btn-main[disabled] {
  color: #fff;
  background-position: 0 0;
}
input.btn-main,
.btn-main {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #008aa2;
  background-color: #009ab1;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#00a9c0) to(#008aa2));
  background: -webkit-linear-gradient(#00a9c0, #008aa2);
  background: -moz-linear-gradient(#00a9c0, #008aa2);
  background: -ms-linear-gradient(#00a9c0, #008aa2);
  background: -o-linear-gradient(#00a9c0, #008aa2);
  -pie-background: linear-gradient(#00a9c0, #008aa2);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9c0', endColorstr='#008aa2',GradientType=0 );
  background-repeat: repeat-x;
  border-color: #008aa2 #008aa2;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
input.btn-main:hover,
input.btn-main:focus,
input.btn-main:active,
input.btn-main.active,
input.btn-main.disabled,
input.btn-main[disabled] {
  color: #fff;
  background-position: 0 0;
}
/* Themed notification number */
.notificationCount {
  color: #008aa2;
}
h1.main-theme {
  color: #008aa2;
}
h3.main-theme {
  color: #008aa2;
}
.AJ-side-box {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* This style is used to share @gradient-color and @gradient-color-two with JavaScript code.  The code gets the runtime styles of an element with this CSS class. */
.js-gradient-color {
  color: #008aa2;
  background-color: #00a9c0;
  display: none;
}
/*@import url("//hello.myfonts.net/count/263c72");*/
h1.pageHeader {
  color: #008aa2;
  font-size: 14px;
  font-weight: bold;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2.details {
  color: #008aa2;
  font-size: 14px;
  font-weight: bolder;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
}
h3.subHeader {
  color: #008aa2;
  font-size: 18px;
  font-weight: lighter;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h3.subHeader-index {
  color: #e7a423;
  font-family: 'Conv_Tungsten-Medium', Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 28px;
  padding: 0px;
  padding-left: 5px;
  padding-bottom: 7px;
  margin: 40px 0px 15px 0px;
  padding-top: 15px;
  border-top: 1px dotted #ddd;
}
h1.kagQuestion {
  color: #008aa2;
  font-size: 24px;
  font-weight: lighter;
  font-family: 'Conv_Tungsten-Medium', Arial, Helvetica, sans-serif;
  text-align: left;
}
div#tracker div.trackerTitle {
  background-color: #009ab1;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#00a9c0) to(#008aa2));
  background: -webkit-linear-gradient(#00a9c0, #008aa2);
  background: -moz-linear-gradient(#00a9c0, #008aa2);
  background: -ms-linear-gradient(#00a9c0, #008aa2);
  background: -o-linear-gradient(#00a9c0, #008aa2);
  -pie-background: linear-gradient(#00a9c0, #008aa2);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a9c0', endColorstr='#008aa2',GradientType=0 );
  height: 25px;
  color: #fff;
  padding: 10px;
  text-align: center;
}
h1.centerAlign {
  font-size: 30px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #008aa2;
  margin-top: -15px;
}
h1 {
  text-align: center;
  color: #008aa2;
}
.nav-tabs li.tab-item .caret {
  border-top-color: #e7a423;
}
.nav-tabs li.tab-item.active a {
  background-color: #008aa2;
  -webkit-box-shadow: inset 0 0 10px #007489;
  -moz-box-shadow: inset 0 0 10px #007489;
  box-shadow: inset 0 0 10px #007489;
}
.nav-tabs li.tab-item {
  border-top-color: #008aa2;
}
.nav-tabs li.tab-item.active a {
  background-color: #008aa2;
  -webkit-box-shadow: inset 0 0 10px #008aa2;
  -moz-box-shadow: inset 0 0 10px #008aa2;
  box-shadow: inset 0 0 10px #008aa2;
}
/* Browse Challenges Page styling*/
#join-challenge.row-fluid .thumbnails .span2:nth-child(6n + 1),
#join-challenge.row-fluid .thumbnails .span3:nth-child(4n + 1),
#join-challenge.row-fluid .thumbnails .span4:nth-child(3n + 1),
#join-challenge.row-fluid .thumbnails .span6:nth-child(2n + 1) {
  margin-left: 0;
}
#join-challenge .btn {
  font-size: 17px;
  width: 95px;
  font-family: Helvetica;
  text-transform: none;
  font-style: normal;
}
#join-challenge .nav-tabs {
  text-align: center;
  border-bottom-width: 0;
  font-size: 0;
  margin: 20px 0 -15px 0;
}
#join-challenge .nav-tabs li {
  float: none;
  display: inline-block;
  margin: 0 2px;
}
#join-challenge .nav-tabs li .caret {
  display: none;
  text-align: left;
  margin-left: 25px;
  border-width: 12px;
  border-top-color: #e7a423;
}
#join-challenge .nav-tabs li a {
  background-color: #e3dfd5;
  color: #008EAA;
  font-size: 30px;
  font-weight: lighter;
  font-family: Conv_Tungsten-Medium, Arial, Helvetica, sans-serif !important;
  text-transform: uppercase;
  padding: 9px 20px;
  margin: 0;
  border-width: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
#join-challenge .nav-tabs li.active a {
  background-color: #e7a423;
  color: white;
}
#join-challenge .nav-tabs li.active .caret {
  display: block;
}
#join-challenge .well {
  padding: 50px 50px 30px 50px;
  margin: 0;
  -moz-box-shadow: inset 0 0 10px #e3e3e3;
  -webkit-box-shadow: inset 0 0 10px #e3e3e3;
  box-shadow: inset 0 0 10px #e3e3e3;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#join-challenge .well .select-all {
  display: block;
  text-align: right;
  padding: 20px 0;
}
#join-challenge .well .span4 {
  margin-bottom: 5px;
}
#join-challenge .well .carousel {
  margin-bottom: 0;
}
#join-challenge .well .thumbnails {
  padding-left: 0;
}
#join-challenge .well .thumbnails .thumbnail {
  border-width: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 30px 20px 0 20px;
  position: relative;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  background-color: white;
  box-shadow: 5px 5px 15px #e3e3e3;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#join-challenge .well .thumbnails .thumbnail img {
  float: right;
}
#join-challenge .well .thumbnails .thumbnail img.radioCheck {
  left: 0;
  top: -4px;
}
#join-challenge .well .thumbnails .thumbnail input {
  position: absolute;
  left: 0;
  top: 0;
}
#join-challenge .well .thumbnails .thumbnail label {
  padding-left: 0;
  color: #06c;
  margin-bottom: 0;
  font-size: 13px;
  line-height: normal;
}
#join-challenge .well .thumbnails .thumbnail span.challengequestion {
  color: #008EAA;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  font-family: 'Conv_Tungsten-Medium', Arial, Helvetica, sans-serif !important;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  float: left;
}
#join-challenge .well .thumbnails .thumbnail div.challengeDescriptionContentWrapper {
  margin-top: 10px;
  width: 200px;
  float: left;
  color: #626a73;
  font-size: 16px;
  height: 80%;
}
#join-challenge .well .thumbnails .thumbnail p {
  font-style: italic;
  color: #777;
  bottom: 0;
  position: absolute;
}
#join-challenge .well .btn-main {
  padding: 10px 60px;
}
#join-challenge .create-challenge {
  color: #777;
  margin-top: 50px;
  font-size: 15px;
}
#join-challenge .create-challenge .btn {
  margin-left: 20px;
  padding: 8px 15px;
}
#join-challenge .nav-tabs li .caret {
  border-top-color: #e7a423;
}
.btn.create-challenge-button {
  width: 200px;
}
.black-header-index {
  font-family: 'Conv_Tungsten-Medium', Arial, Helvetica, sans-serif !important;
}
h3.subHeader-index {
  color: #e7a423;
}
