﻿@theme-folder-name: 'stj';
@main-theme-color: #1885c3;
@main-theme-hover: #ff8d00;
@gradient-color: #1885c3;
@gradient-color-two: #6dbde8;

@accent-color: #ff8d00;
@accent-color-two: #006400;
@accent-color-three: #333333;

@accent-button-color: #ffb252;
@accent-button-color-two:#ff8d00;
@accent-border-color:#ffa22e;

@link-color: #ff8d00;

@import "../../../Style/vhm.mixins.less";
@import "../../base.theme.less";

.VHMheadermenuc {
.navbar {
    .navbar-inner {
        background-color: #ff8d00 !important;
        background-image: -moz-linear-gradient(top, #ff8d00, #ff8d00);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ff8d00), to(#ff8d00));
        background-image: -webkit-linear-gradient(top, #ff8d00, #ff8d00);
        background-image: -o-linear-gradient(top, #ff8d00, #ff8d00);
        background-image: linear-gradient(to bottom, #ff8d00, #ff8d00);              
        }
    .nav {
        li {
            ul{
                li {
                    a { color: @main-theme-color !important;  }
                }
            }
           
            a { color: #ffffff !important; text-shadow: none !important;
                b {
                    &.caret {color: #ffffff !important;
                            border-top-color:  #ffffff !important;
                            border-bottom-color:  #ffffff !important;
                     }
                }
            }
        }
    }
    
    }
}

.main-nav.navbar { background: @link-color !important; }
.main-nav.navbar .nav li.dropdown.active>.dropdown-toggle { background-color: @main-theme-hover !important; color: #fff !important; }
.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus { -webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,.225); -moz-box-shadow: inset 0 3px 8px rgba(0,0,0,.225); box-shadow: inset 0 3px 8px rgba(0,0,0,0.225); }
.main-nav .nav .dropdown-menu li { border-bottom: none; }
.main-nav .nav ul.dropdown-menu li a:hover { background-color: #f2ece3;color: @main-theme-color important; }
.main-nav.navbar .dropdown-menu { background-color: #fff; }

#tip-arrow {
    background-image: url(/v2/Content/Images/LandingPageV3/arrow_tooltip_graph_stj.png);
}
.nav-tabs li.tab-item .caret {
   border-top-color:@main-theme-color !important;
}