﻿/*///////////////////////////////////////////////////////////////
~CSS File for Ektron Blogs
///////////////////////////////////////////////////////////////*/

/*//////////////////////////////////////////////
~LAYOUT STYLES
/////////////////////////////////////////////*/

div.blog{position:relative;margin:0;padding:0;}
div.blogEntries{float:left;width:500px;border-right:1px solid #333;}
div.blogSidebar{width:220px;float:right;top:0;right:0;padding:0 5px 0 5px;}
div.closeblog{clear:both;}
div.blogRSS{float:left;}

/*//////////////////////////////////////////////
~HEADER STYLES
/////////////////////////////////////////////*/

div.blogHeader{background-color:#069;}
h1.blogTitle{color:#FFF;font-size:x-large;padding:5px 5px 2px 10px;margin:0;}
h2.blogSubhead{color:#CCC;font-size:large;padding:5px 5px 2px 15px;margin:0;}

/*//////////////////////////////////////////////
~Entry STYLES
/////////////////////////////////////////////*/

div.entry{border-bottom:1px solid #CCC;margin:0;}
h3.entryTitle{font-size:medium;background-color:#EEE;margin:0;padding:2px;border-bottom:1px solid #999;}
div.entryBody{padding:0 10px 0 10px;margin:0;font-size:small;}
div.entryFooter{color:#666;font-size:x-small;padding:2px 5px 5px 5px;text-align:right;}

/*//////////////////////////////////////////////
~CALENDAR STYLES
/////////////////////////////////////////////*/

table.calendarTable{border:1px solid #999;background-color:#EEE;}
tr.monthRow{background-color:#069;color:#FFF;font-weight:bold;}
td.prevMonth, td.nextMonth{width:30px;text-align:center;}
td.prevMonth a, td.nextMonth a{color:#CCC;font-weight:normal;font-size:small;}
td.currentMonth{width:140px;text-align:center;}
tr.dayNamesRow{font-size:x-small;color:#666;}
tr.weekRow td{width:14%;text-align:center;}
td.inactiveDay{font-size:small;background-color:#FFF;}
td.activeDay{background-color:#CCC;font-size:small;}

/*//////////////////////////////////////////////
~BLOGROLL STYLES
/////////////////////////////////////////////*/

div.blogSidebar h4{color:#666;font-size:medium;padding-bottom:3px;border-bottom:1px solid #999;margin:5px 0 5px 0;}
div.blogRoll ul{margin:0;padding:0 0 0 5px;list-style-type:none;}
div.blogArchive ul{margin:0;padding:0 0 0 5px;list-style-type:none;} 
.blogrolllink { }

/*//////////////////////////////////////////////
~BLOGCATEGORIES STYLES
/////////////////////////////////////////////*/

div.blogSidebar h4{color:#666;font-size:medium;padding-bottom:3px;border-bottom:1px solid #999;margin:5px 0 5px 0;}
div.blogCategories ul{margin:0;padding:0 0 0 5px;list-style-type:none;}
.blogcatlink { }

/*//////////////////////////////////////////////
~BLOGRECENTPOSTS STYLES
/////////////////////////////////////////////*/

div.blogSidebar h4{color:#666;font-size:medium;padding-bottom:3px;border-bottom:1px solid #999;margin:5px 0 5px 0;}
div.blogRecentPosts ul{margin:0;padding:0 0 0 5px;list-style-type:none;}
.blogrecentlink { }
