﻿<!doctype html>
<html lang="en" ng-app="ChallengeManager">
<head>
    <title>Challenge Manager</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" href="css/bootstrap-datepicker2.css" media="screen" />
    <!--legacy styles-->
    <link rel="stylesheet" type="text/css" href="/v2/content/style/responsive.css" />
    <link rel="stylesheet" type="text/css" href="/v2/content/style/master.css" />
    <link rel="stylesheet" type="text/css" href="/v2/Content/Style/JQuery/jquery-ui-1.8.23.custom.css" />
    <link rel="stylesheet" type="text/css" href="/v2/Content/themes/vhmJqueryTheme.css" />
    
    <link rel="stylesheet" href="css/app.css" />
</head>
<body class="{{Theme.Class}}">

    <div id="extendableHeader">
        <div id="extendableHeader_sub">
            <div class="left">
            </div>
            <div class="middle">
                <div id="contentHeader">
                    <span id="lbHeader">Create a Challenge</span>
                </div>
            </div>
            <div class="right">
            </div>
        </div>
    </div>
    
    <div id="wrapper" class="container" ng-controller="ChallengeManagerCtrl">
        
        <!--Here go the partials -->
        <div>{{Summary.Display}}</div>
        <div ng-view></div>

        <div class="pull-right summary" ng-show="DisplaySummary">
            <h3 class="mgrSummaryHeader header-yellow">SUMMARY</h3>
            <ul class="summaryItems">
                <li>
                    <label>Signup Duration:</label>
                    <span ng-bind-html="Model.Challenge.GetDuration(Model.Challenge.SignUpStart,Model.Challenge.SignUpDeadline)"></span>
                </li>
                <li>
                    <label>Challenge Duration:</label>
                    <span ng-bind-html="Model.Challenge.GetDuration(Model.Challenge.StartDate,Model.Challenge.EndDate)"></span>
                </li>
                <li>
                    <label>Upload Grace Period:</label>
                    <span ng-bind-html="Model.Challenge.GetDuration(Model.Challenge.EndDate,Model.Challenge.UploadDeadline)"></span>
                </li>
                <li>
                    <label>Chat:</label>
                    <span ng-model="Model.Challenge.Chat">{{Model.Challenge.IsChatEnabled == 1 ? 'Enabled' : 'Disabled'}}</span>
                </li>
                <li>
                    <label>Leaderboard:</label>
                    <span ng-model="Model.Challenge.Leaderboard">{{Model.Challenge.Leaderboard == 1 ? 'Enabled' : 'Disabled'}}</span>
                </li>
                <li class="summaryActions">
                    <label ng-click="Model.Save(Model.Challenge)">Save for Later</label>|
                    <label>Delete Challenge</label>
                </li>
            </ul>
        </div>
    </div>

    <div class="modal hide fade" id="ComingSoon">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Coming soon</h3>
        </div>
        <div class="modal-body">
            <p>This feature will be coming soon.</p>
        </div>
        <div class="modal-footer">
            <a data-dismiss="modal" class="btn btn-primary">Ok</a>
        </div>
    </div>

    <script src="lib/jquery/jquery.js"></script>
    <script src="lib/bootstrap/bootstrap.min.js"></script>
    <script src="lib/bootstrap/bootstrap-datepicker.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-strap.js"></script>
    <script src="lib/angular/angular-cookies.min.js"></script>
    <script src="lib/angular/angular-resource.js"></script>
    <script src="lib/angular/angular-sanitize.min.js"></script>
    <script src="js/app.min.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.min.js"></script>
    <script src="js/directives.min.js"></script>

    <!--<script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                url: '/v2/layout/Header',
                cache: false,
                success: function (header) {
                    $("#layoutHeader").html(header);
                }
            });
            $.ajax({
                url: '/v2/layout/Footer',
                cache: true,
                success: function (footer) {
                    $("#layoutFooter").html(footer);
                }
            });
        });
    </script>-->
    <!--<script src='https://ssl.google-analytics.com/ga.js' type='text/javascript'></script>
    <script type="text/javascript">
        var pageTracker = {};

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-5436731-1']);

        var pageTracker = _gat._getTracker("UA-5436731-1");
        pageTracker._trackPageview();
    </script>-->
</body>
</html>

