﻿<div id="nutrition-challenge-list" class="hide" data-bind="if: HasChallenges">
    <h2 class="accent-theme header">
        Join a Challenge</h2>
    <div id="nutChallengeList" data-bind="template: { name: 'challenge-list-template', 'foreach': Challenges }">
    </div>
</div>
<script type="text/html" id="challenge-list-template">
    <div class="challenge-list-item">
        <div class="challengeBadge">              
            <span data-bind="if: BadgeImageUrl"><img data-bind="attr: {'src': BadgeImageUrl }" /></span>
        </div>
        <div class="challengeItem">
            <p class="challenge-item-title"><strong><span data-bind="text: Name"></span></strong></p>
            <p class="challenge-member-participation" data-bind="if: ParticipantCount"><span data-bind="text: ParticipantCount"></span> members</p>
            <p class="challenge-item-description" data-bind="if: Description"><span data-bind="text: Description"></span></p>
            <div class="challenge-item-join" data-bind="if: ChallengeUrl"><a data-bind="attr: {'href': ChallengeUrl }">Join now!</a></div>
        </div>    
        <div class="clearfix"></div>      
    </div>   
</script>
