﻿<div id="nutrition-partner-connect" class="content-box hide">
    <img class="logo" src="/v2/Content/Images/Nutrition/myfitnesspal.png" width="232" height="50" alt="MyFitnessPal" />
    <div class="status hide">
        <h4 class="grey">Status: <span class="status-label status-connected"><i class='icon-ok'></i> Connected</span></h4>
        <p><a class="tertiary" href="/rest/v1/nutrition/data-providers/mfp/website" target="_blank" onclick="TrackGoogleAnalyticEvent('Nutrition', 'Click', 'Go to MyFitnessPal');">Go to MyFitnessPal</a></p>
        <p><a class="btn-disconnect tertiary" href="#" title="Stops sharing information with MyFitnessPal">Disconnect</a></p>
        <p><a class="btn-refresh tertiary" href="#" title="Sends activity data to MyFitnessPal and retrieves the latest consumption data from there">Refresh</a></p>
        <p><span class="btn-refreshing tertiary" href="#"><img src="/v2/Content/Images/Nutrition/refreshing.gif" width="16" height="16" /> Refreshing...</span></p>
        <p><button class="btn btn-main btn-small btn-connect" onclick="TrackGoogleAnalyticEvent('Nutrition', 'Click', 'Connect to MyFitnessPal');">Connect to MyFitnessPal</button></p>
    </div>
</div>
