﻿
<div id="nutrition-weight-guided-dlg" class="modal hide fade">
    <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <div id="guided-goal-step1">
            <h2 class="main-theme">Edit goal: Guide me</h2>
            <p class="margb25px">Do you want to lose, maintain, or gain weight?</p>
            <form class="form-horizontal">
                <div class="step1-goal-type">
                    <div class="control-group">
                        <input type="radio" name="guided_weight" id="loseWeight" class="guided-goal-input">
                        <label for="loseWeight" class="accent-theme tungsten-small guided-goal-label">I want to lose weight</label>
                    </div>
                    <div class="control-group">
                        <input type="radio" name="guided_weight" id="maintainWeight" class="guided-goal-input">
                        <label for="maintainWeight" class="accent-theme tungsten-small guided-goal-label">I want to maintain weight</label>
                    </div>
                    <div class="control-group">
                        <input type="radio" name="guided_weight" id="gainWeight" class="guided-goal-input">
                        <label for="gainWeight" class="accent-theme tungsten-small guided-goal-label">I want to gain weight</label>
                    </div>
                    <div class="control-group margt45px div-currentweight hide">
                        <label class="weight-label-inputs accent-theme tungsten-small" for="current-weight">What is your current weight?</label>
                        <div class="controls">
                            <input value="" type="number" min="80" max="400" maxlength="3" id="guided-current-weight" /><span class="help-inline">lbs</span>
                        </div>
                    </div>
                    <div class="control-group margb45px div-howmuchtolose hide">
                        <label class="weight-label-inputs accent-theme tungsten-small " for="lose-weight">What is your target weight?</label>
                        <div class="controls">
                            <input value="" type="number" min="80" max="400" maxlength="3" id="lose-gain-weight" /><span class="help-inline">lbs</span>
                        </div>
                    </div>
                </div>
            </form>
            <div>
                <input type="button" class="btn button-save yellow-button" id="guided-goal-step1-next" value="Next" />
                <button type="button" class="btn grey-button" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>
        </div>
        <div id="guided-goal-step2" style="display:none;">
            <h2 class="main-theme">Edit goal: Guide me</h2>
            <p class="margb25px">At what pace do you want to <span class="lose-gain-label">lose</span> weight?</p>
            <form class="form-horizontal">
                <div class="control-group">
                    <input type="radio" name="guided_weight" id="loseItEasyWeight" class="guided-goal-input">
                    <label for="loseItEasyWeight" class="accent-theme tungsten-small guided-goal-label weight-intesity-label weight-intesity-labels"></label>
                    <div class="weight-intensity-note"><span class="lose-gain-caps-label">Lose</span> <strong>.5 pounds</strong> a week</div>
                    
                </div>
                <div class="control-group">
                    <input type="radio" name="guided_weight" id="loseItModerateWeight" class="guided-goal-input">
                    <label for="loseItModerateWeight" class="accent-theme tungsten-small guided-goal-label weight-intesity-label weight-intesity-labels"></label>
                    <div class="weight-intensity-note"><span class="lose-gain-caps-label">Lose</span> <strong>1 pound</strong> a week</div>
                  
                </div>
                <div class="control-group">
                    <input type="radio" name="guided_weight" id="loseItAgressivesWeight" class="guided-goal-input">
                    <label for="loseItAgressivesWeight" class="accent-theme tungsten-small guided-goal-label weight-intesity-label weight-intesity-labels"></label>
                    <div class="weight-intensity-note"><span class="lose-gain-caps-label">Lose</span> <strong>1.5 pounds</strong> a week</div>
                  
                </div>
                <div class="control-group">
                    <input type="radio" name="guided_weight" id="loseItIntenseWeight" class="guided-goal-input">
                    <label for="loseItIntenseWeight" class="accent-theme tungsten-small guided-goal-label weight-intesity-label weight-intesity-labels"></label>
                    <div class="weight-intensity-note"><span class="lose-gain-caps-label">Lose</span> <strong>2 pounds</strong> a week</div>
                    
                </div>
                <input type="hidden" value="0" id="weight-goal-value"/>
            </form>
            <p class="content">
                <input type="button" class="btn button-save yellow-button" id="guided-goal-step2-next" value="Next" />
                <input type="button" class="btn grey-button" id="guided-goal-step2-back" value="Back" />
            </p>
        </div>
        <div id="guided-goal-step3" style="display:none;">
            <h2 class="main-theme">Edit goal: Guide me</h2>
            <p class="margb25px">
                Give us your current weight, goal weight, and the rate at which you want to lose or gain weight. We’ll factor in your 14-day average daily calorie burn (based on your activity device or manual entries), and then calculate your daily calorie goal.
            </p>
            <div class="control-group margb15px">
                <div class="weight-label-inputs accent-theme tungsten-small weight-final-step-label">Current weight:</div>
                <div class="weight-final-step-value" id="nutrition-current-weight-value"><span class="value"></span> lbs</div>
            </div>
            <div class="control-group margb15px">
                <div class="weight-label-inputs accent-theme tungsten-small weight-final-step-label">Goal:</div>
                <div class="weight-final-step-value" id="nutrition-lose-weight-value"><span class="value"></span> lbs</div>
            </div>
            <div class="control-group margb15px weeklyweightgoal">
                <div class="weight-label-inputs accent-theme tungsten-small weight-final-step-label">Weekly weight <span class="lose-gain-caps-label-step3">loss</span> goal:</div>
                <div class="weight-final-step-value" id="nutrition-weekly-loss-weight-value"><span class="value"></span> lbs</div>
            </div>
            <div class="control-group margb15px">
                <div class="weight-label-inputs accent-theme tungsten-small weight-final-step-label">Daily calorie goal:</div>
                <div class="weight-final-step-goal-value" id="nutrition-daily-calories-goal"></div>
            </div>
            <div class="control-group margb45px timetogoal">
                <div class="weight-label-inputs accent-theme tungsten-small weight-final-step-label">Time to goal weight:</div>
                <div class="weight-final-step-goal-value" id="nutrition-weekly-goal-weight"></div>
            </div>
            <div class="goal-warning">
                <p>
                    This is a very helpful tool, but don’t let it replace the advice of your doctor.
                </p>
            </div>
            <div class="weight-intensity-note margb25px">Don't like this? <a class="try-doing-yourself-dialog">Try doing it yourself</a></div>
            <p class="weight-save-container">
                <input type="button" class="btn button-save yellow-button" id="guided-goal-step3-save" value="Save" />
                <input type="button" class="btn grey-button" id="guided-goal-step3-back" value="Adjust my numbers" />
            </p>
        </div>
    </div>
</div>