﻿<div id="tell-a-friend" class="content-box hide">
    <h2 class="main-theme">
        Tell a friend</h2>
    <div id="tell-a-friend-detail">
        <ul class="tell-a-friend-list">

        </ul>
        <button class="btn more-friends grey-button hide" data-toggle="modal" data-target="#more-friends-modal">
            See more</button>
    </div>
    <div style="clear: both;"></div>
    <div class="modal fade" id="more-friends-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btnX" data-dismiss="modal" aria-hidden="true" style="font-size:25px;">×</button>
                <h2 class="main-theme">
                    More Friends</h2>
            </div>
            <div class="modal-body more-friends-body">
                <ul class="more-friends-list">
                </ul>
                <button class="btn btn-main btn-small" data-toggle="modal" data-target="#more-friends-modal">
                    See more</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
</div>