﻿<div id="nutrition-overview-chart-container" class="text-center hide">
    <div id="nutrition-overview-chart"></div>
    <div class="chart-label chart-label-left">
        <div id="nutrition-overview-lbl-net" class="chart-label-metric"></div>
        <div data-i18n="GlobalLabels.NetCal">Net Cal</div>
    </div>
    <div class="chart-label chart-label-right">
        <div id="nutrition-overview-lbl-goal" class="chart-label-metric"></div>
        <div data-i18n="[html]GlobalLabels.Goal">Goal</div>
    </div>
    <div class="chart-label chart-label-center">
        <div id="nutrition-overview-lbl-left" class="chart-label-metric"></div>
        <div id="nutrition-overview-lbl-left-direction" data-i18n="GlobalLabels.CaloriesRemaining">Calories remaining</div>
    </div>
    <div id="tip-nutrition" style="position:absolute">
        <div id="tip-arrow-nutrition">
        </div>
        <div id="tip-data-nutrition">
        </div>
    </div>
</div>
<div class="row-fluid calories-calculation bottomM">
    <ul>
        <li class="calculation-goal">
            <strong>
                Goal
            </strong>
            <p>
                1600 calories
            </p>
        </li>
        <li class="calculation-vertical-arrow"></li>
        <li class="calculation-eaten">
            <strong>
                I've eaten
            </strong>
            <p>
                1231 calories
            </p>
        </li>
        <li class="calculation-minus">
            <p>
                <i class="icon-minus"></i>
            </p>
        </li>
        <li class="calculation-burned">
            <strong>
                I've burned
            </strong>
            <p>
                854 calories
            </p>
        </li>
        <li class="calculation-equals">
            <p>
                =
            </p>
        </li>
        <li class="calculation-net">
            <strong>
                Net
            </strong>
            <p>
                377 calories
            </p>
        </li>
    </ul>
    <p class="calculation-refresh lastLink">
        Not seeing your most recent data? <a href="#" class="tertiary btn-refresh Nlink">Try refreshing the page</a>
    </p>
</div>
