﻿<div id="nutrition-progress" class="content-box hide">
    <a href="#" onclick="TrackGoogleAnalyticEvent('Nutrition', 'Click', 'Hide/Show Weight Progress');" class="pull-right" id="nutrition-progress-hide">Hide</a>
    <h2 class="main-theme">My progress</h2>
    <div id="nutrition-progress-detail">
        <div class="chart-container" id="nutrition-progress-chart"></div>     
        <div class="clearfix"></div>  
    </div>
</div>
<div class="EditGoalContainer">
    <h2 class="accent-theme underline">Edit Goal</h2>
    <p class="EditGoalTextfield">Want to change your goal? Let us guide you, or go it alone. You can come back and change your goal anytime.</p>
    <p class="EditGoalButtons">
        <button class="btn-edit-guided-goal btn yellow-button" data-toggle="modal" onclick="TrackGoogleAnalyticEvent('Nutrition', 'Click', 'Edit Guided Goal');" style=" display: inline-block;">
            Guide me
        </button>
        <button class="btn-edit-goal btn btnLeft grey-button" data-toggle="modal" onclick="TrackGoogleAnalyticEvent('Nutrition', 'Click', 'Edit Goal');" style=" display: inline-block;">
            Do it myself
        </button>
    </p>
</div>