﻿<div id="nutrition-overview" class="hide">
    <div class="nav content-box">
        <div class="pull-left">
            <a class="go-left" href="#"><i class="icon-angle-left"></i></a> <span class="grey lbl-date">Today</span>
            <a class="go-right" href="#"><i class="icon-angle-right"></i></a>
        </div>
        <div class="pull-right">
            <a href="#" onclick="TrackGoogleAnalyticEvent('Nutrition', 'Click', 'Calorie Budget - Day View');" class="active groupby groupby-day">Day</a> <a href="#" onclick="TrackGoogleAnalyticEvent('Nutrition', 'Click', 'Calorie Budget - Week View');" class="groupby groupby-week">Week</a>
        </div>
    </div>
    @Html.Partial("_OverviewWidget")
    <div class="row-fluid">
        <div class="span6 chart-col chart-col-eaten">
            <div class="mask hide">
                <h3>To get the most out of your calorie tracker, connect to one of our tracking partners</h3>
                <div class="arrow">&rsaquo;</div>
            </div>
            <h3 id="nutrition-overview-lbl-consumed">I've eaten: 0 calories</h3>
            <a class="add-entry hide" target="_blank" onclick="TrackGoogleAnalyticEvent('Nutrition', 'Click', 'Add Food Entry');" href="#">Add a food entry</a>
            <div class="chart-container" id="nutrition-overview-chart-consumed"></div>
        </div>
        <div class="span6 chart-col chart-col-burned">
            <h3 id="nutrition-overview-lbl-burned">I've burned: 0 calories</h3>
            <a class="add-entry" onclick="TrackGoogleAnalyticEvent('Nutrition', 'Click', 'Add Activity Entry');" href="/secure/member/activityjournal.aspx">Add an activity entry</a>
            <div class="chart-container" id="nutrition-overview-chart-burned"></div>
        </div>
    </div>
</div>