﻿<div id="nutrition-weight-dlg" class="modal hide fade">
    
    <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        
        <div id="nutrition-weight-title-connect">
            <h2 class="main-theme">
                Connection successful!</h2>
            <p class="textMediumSecondary">
                Before you can get started tracking your calorie balance, please set your goal weight.</p>
        </div>
        <div id="nutrition-weight-title-edit">
            <h2 class="main-theme">
                EDIT GOAL: DO IT MYSELF</h2>
        </div>
        <p>Give us your current weight, goal weight, and the rate at which you want to lose weight. We’ll factor in your 
        14-day average daily calorie burn (based on your activity device or manual entries), and then calculate your daily calorie goal.</p>
        <form class="form-horizontal">
            <div class="control-group">
                <label class="control-label accent-theme tungsten-small" for="nutrition-weight-weight">
                    Current weight:</label>
                <div class="controls">
                    <input value="" type="number" min="80" max="400" maxlength="3" id="nutrition-weight-weight" /><span
                                                                                                                      class="help-inline">lbs</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label tungsten-small accent-theme" for="nutrition-weight-goal">
                    Goal weight:</label>
                <div class="controls">
                    <input value="" type="number" min="80" max="400" maxlength="3" id="nutrition-weight-goal" /><span
                                                                                                                    class="help-inline">lbs</span>
                </div>
            </div>
            <div class="control-group" id="nutrition-weight-weekly-group">
                <label class="control-label tungsten-small accent-theme" for="nutrition-weight-weekly"
                       id="nutrition-weight-weekly-lbl">
                    Weekly weight loss:</label>
                <div class="controls">
                    <input value="0.5" type="number" min="0.1" max="2" maxlength="3" step="0.1" id="nutrition-weight-weekly" /><span
                                                                                                                                   class="help-inline">lbs</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label tungsten-small accent-theme">
                    Daily calorie goal:</label>
                <div class="controls">
                    <h3 class="red" id="nutrition-weight-calories">
                    </h3>
                </div>
            </div>
            <div class="control-group" id="nutrition-weight-time-group">
                <label class="control-label tungsten-small accent-theme">
                    Time to goal weight:</label>
                <div class="controls">
                    <h3 class="red" id="nutrition-weight-time">
                    </h3>
                </div>
            </div>
            <p>Prefer some guidance? <a class="try-guide-me-dialog">Guide me</a>.</p>
            <div class="text-left">
                <button class="btn yellow-button" id='nutrition-weight-save' type="button" onclick="TrackGoogleAnalyticEvent('Nutrition', 'Click', 'Save Weight Goal');">
                    Save</button>
                <button class="btn grey-button" type="button" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </form>
    </div>
</div>
