﻿@using System.Web.Optimization
@{
    ViewBag.Title = "Nutrition";
    Layout = "~/Views/Shared/MasterNoCol.cshtml";
}
@section Styles
{
    @Styles.Render("~/Content/nutrition")
    <link rel="stylesheet" type="text/css" href="~/Content/style/font-awesome.css" />
    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="/styles/font-awesome-ie7.css" />
    <![endif]-->
    }
@section Script
{
<script type="text/javascript">(function () { var walkme = document.createElement('script'); walkme.type = 'text/javascript'; walkme.async = true; walkme.src = 'https://d3b3ehuo35wzeh.cloudfront.net/users/0ea1430813424357988a7d2edefb7e14/walkme_0ea1430813424357988a7d2edefb7e14_https.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(walkme, s); })();</script>

    @Scripts.Render("~/bundles/nutrition")
    <script type="text/javascript" src="/JavaScript/lib/highcharts.js"></script>
    <script type="text/javascript" src="https://assets­-ssl.myfitnesspal.com/javascripts/mfp.1.0.0.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            window.Nutrition.getActivitySummaries();
        });
    </script>


    <div id="mfp­root"></div>
}



<div class="span6" id="nutrition-content" style="display: block;">

    <div class="overlayMFPConnect">

    </div>
    <div class="overlayMFPConnectContainer" style="display: none;">
        <div class="overlayMFPConnectTopContainer">
            Connect your Pulse and MyFitnessPal accounts to see how your nutrition stacks up (and earn rewards!)<br /><br />
            Don't have a MyFitnessPal account? It's free!
            <button class="btn yellow-custom" id="connectMFPAccount" onclick="TrackGoogleAnalyticEvent('Nutrition', 'Click', 'Connect or sign up to MyFitnessPal');">Connect or sign up to MyFitnessPal</button>
            <div class="importantMFP"><strong>IMPORTANT: </strong>If you're new to MyFitnessPal, you'll need to come on back and click the button above to connect your accounts after you sign up.</div>
        </div>
        <div class="overlayMFPConnectTopBorder"></div>
        <div class="overlayMFPConnectBottomContainer">
            <strong>About this program:</strong> Studies have shown that simply writing down the food you
            eat encourages you to eat fewer calories, which is key to managing or losing
            weight. Yet without the right tools, tracking calories can be tedious or simply
            impossible to keep up. That's why Virgin Pulse has teamed up with MyFitnessPal,
            marrying the world's two leading health and fitness systems to deliver more
            information, great tips, and even better results.
        </div>
    </div>
    <h1 class="accent-theme underline">Calorie Tracking and Weight Management
        <a href="#helpModalNutrition" data-toggle="modal" class="helpLinkNutrition" title="My Daily Calorie Balance Chart">
            <i class="icon-question"></i>
        </a>
    </h1>
    <div id="loading-element"></div>
    <p id="nut-loading"></p>
    
    @Html.Partial("_TrackingWidget")
    <hr style="margin: 30px 0;" />
    
    @Html.Partial("_WeightGoalDialog")

    
    <div>
        @Html.Action("RichContent", "Content", new { @contentAreaType = "NutritionLandingTop", @sponsorSpecific = true })
    </div>
      
    <div>
        @Html.Action("RichContent", "Content", new { @contentAreaType = "NutritionLandingBottom", @sponsorSpecific = true })
    </div>
</div>
<div class="span3 side-nav">
    <div style="width: 280px;">
        <div id="nutrition-progress-wrapper" style="display:block;">
            <!-- My Progress chart -->
            @Html.Partial("_ProgressWidget")
        </div>
            <!-- Data Provider connection status -->
            @Html.Partial("_ConnectionWidget")

            <!-- What is next - rewards nutrition -->
            @Html.Partial("_WhatsNextWidget")

            <!-- My friends -->
            @Html.Partial("_MyFriendsWidget")

            <!-- Challenge Widget -->
            @Html.Partial("_ChallengeList")
        </div>
    
</div>

@Html.Partial("_GuidedGoal")

<div id="helpModalNutrition" class="modal hide fade helpNlast">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h2 class="main-theme underline helpModalTitle  first-head">WHAT ‘CALORIES REMAINING’ MEANS:</h2>
    <div class="helpModalContent">
        This is an important number to watch, because it shows you the number of calories you have remaining for the day, or the number of calories you went over that day, to hit your daily calorie goal. It’s calculated by taking your NET CAL number (which is the number of calories you’ve eaten, minus the number of calories you’ve burned) and subtracting it from your daily calorie goal. The number will change throughout the day as your track your food intake and upload or enter activity.
    </div>
    <h2 class="main-theme underline helpModalTitle">HOW WE CALCULATE YOUR DAILY CALORIE GOAL</h2>
    <div class="helpModalContent">
        We start with your Resting Metabolic Rate (RMR), which is the number of calories your body will burn if you get no exercise. Next, we factor in your 14-day average calorie burn, based on all
        the physical activity you do. (For new members, we estimate your activity until you have some in the system.) Then, we add or subtract the number of calories that correspond to your weight-change goal. The result is your daily calorie goal.
    </div>
    <h2 class="main-theme underline helpModalTitle">WHY YOUR NUMBERS ARE DIFFERENT THAN MYFITNESS PAL</h2>
    <div class="helpModalContent">
        Virgin Pulse and MyFitnessPal calculate your daily calorie goal a little differently, which is why you may see some differences between the two systems. At Virgin Pulse, we factor in the actual number of calories you’re burning through exercise (either uploaded through your device, or manually entered in your Activity Journal), using a 14-day rolling average. MyFitnessPal factors in a number of calories burned that’s based on the activity level you chose when you set up your account, not necessarily the calories you’re actually burning through exercise.
    </div>
    <h2 class="main-theme underline helpModalTitle">RESTING METABOLIC RATE (RMR)</h2>
    <div class="helpModalContent">
        Virgin Pulse calculates your Resting Metabolic Rate (RMR) that considers your weight, age, gender and height using the Mifflin St. Joer algorithm which is the most accurate and/or underestimates RMR in some cases; which we believe to be beneficial to those interested in managing weight. The RMR estimates the number of calories an individual will burn with zero physical activity (resting) for a 24 hour period.
    </div>
    <h2 class="main-theme underline helpModalTitle">MACRONUTRIENTS</h2>
    <div class="helpModalContent">
        We start with the most accurate Resting Metabolic Rate (RMR). This is the number of calories your body will burn with zero exercise. Next, we add some estimated activity calories to your RMR to arrive at your base daily calories*. Next we subtract or add a number of calories that correspond to your weight change goal. The result is your daily calorie budget goal.<br /><br />
        The Nutrition display will change as you upload exercise, or track food calories each day to show progress against your daily budget.<br /><br />
        *Virgin Pulse uses your real, validated activity data to set the daily budget. For current Virgin Pulse members, we will take your current 14 day average daily activity calories when we calculate the daily calorie budget. If you are a new member, we will include an estimate until you have some real activity data in the system.
    </div>
</div>
<script type="text/javascript">
    var fby = fby || [];
    fby.push(['showTab', { id: '5949', position: 'right', color: '#008EAA'}]);
    (function () {
        var f = document.createElement('script'); f.type = 'text/javascript'; f.async = true;
        f.src = '//cdn.feedbackify.com/f.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(f, s);
    })();
</script>
@{
    string trackerKey = Convert.ToString(Microsoft.Win32.Registry.LocalMachine.OpenSubKey(@"Software\VirginLifecare", false).GetValue("GoogleAnalyticsId", "")) == string.Empty ? "UA-5511099-1" : Convert.ToString(Microsoft.Win32.Registry.LocalMachine.OpenSubKey(@"Software\VirginLifecare", false).GetValue("GoogleAnalyticsId", ""));
}
 <script type="text/javascript">

     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', '@trackerKey']);
     _gaq.push(['_trackPageview']);

     (function () {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

 </script>
