﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="index.aspx.cs" Inherits="Vhm.Widgets.index" %>
<%@ Register src="POC/OHDScheduler.ascx" tagname="OHDScheduler" tagprefix="uc1" %>  

<%@ Register src="POC/OHDEarnedRewards.ascx" tagname="OHDEarnedRewards" tagprefix="uc2" %>

<%@ Register src="POC/MemberBioMetricResults.ascx" tagname="MemberBioMetricResults" tagprefix="uc3" %>
<%@ Register TagPrefix="uc3" Namespace="Vhm.Widgets.POC" Assembly="Vhm.Widgets" %>

<%@ Register src="POC/FriendsRewards.ascx" tagname="FriendsRewards" tagprefix="uc4" %>

<%@ Register src="POC/MyRewards.ascx" tagname="MyRewards" tagprefix="uc5" %>
<%@ Register src="POC/MemberBioMetricStats.ascx" tagname="MemberBioMetricStats" tagprefix="uc6" %>

<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    

<%--<uc1:OHDScheduler ID="OHDScheduler1" runat="server" />
    
<br/><br/>

<uc2:OHDEarnedRewards ID="OHDEarnedRewards1" runat="server" />
    

<uc3:MemberBioMetricResults ID="MemberBioMetricResults1" runat="server" />
   

<uc4:FriendsRewards ID="FriendsRewards2" runat="server" />--%>

<uc6:MemberBioMetricStats ID="MemberBioMetricStats1" runat="server" />

</asp:Content>
