﻿@import "../vhm.mixins.less";

.scriptFont
{
    font-weight: normal;
    font-style: italic;
}

  #wrapper .row-fluid .span4
        {
            margin-left: 10px;
        }
.waitingContainer
{
    text-align: center;
    margin-top: 30px;
}
    .waitingContainer img
    {
        height: 70px;
        width: 70px;
    }
.leaderboardContent {
    color: #666666;
    font-size: 14px;
    font-family: Helvetica,Arial,sans-serif;
}

div.wrapper div.row
{
    margin-bottom: 10px;
}

div.wrapper div.challengeInfoContainer,
div.wrapper div.trackerAnswerContainer,
div.wrapper div.rankContainer
{
    float: left;
    min-height: 80px;
    margin-left: 0px;
  
    
}
div.wrapper div.chatContainer {
      margin-left: 35px;
       float: left;
    min-height: 80px;
}
div.wrapper div.challengeInfoContainer,
div.wrapper div.rankContainer
{
    width: 45%;
    padding: 7px 80px 7px 7px;
}

    div.wrapper div.rankContainer hr
    {
        width: 70%;
    }

div.wrapper div.chatContainer
{
    width: 40%;
    margin-top: 7px;
}


.chatBox {
    margin-bottom: 15px;
}

.chatLink {
    margin-top: 10px;
}

.postButton {
    margin-right: -10px;
}

div.wrapper div.trackerAnswerContainer
{
    width: 305px;
    padding-left: 75px;
}

    div.wrapper div.trackerAnswerContainer div#tracker
    {
        background-image: url('/v2/content/images/Challenges/box-bottom-shadow.jpg');
        background-repeat: no-repeat;
        background-position: bottom;
        background-color: #f9f8f7;
        height: 170px;
    }

div.trackerTitle label
{
    width: 70%;
    display: inline-block;
}

div.trackerTitle img
{
    cursor: pointer;
}

.kagDates {
    font-size: 12px;
    font-weight: bolder;
    color: #666666;
    padding: 5px 0 0 5px;
    cursor: default;
}

div.challengeInfo
{
    font-size: 1.3em;
    width: 90%;
}

div.challengeDates, .trackerAnswerContainer
{
    font-size: 0.9 em;
}

div.challengeInfo, div.challengeDates
{
    margin-bottom: 15px;
    margin-top: 15px;
    color: #666666;
}

div.challengeTarget
{
    margin-bottom: 15px;
    color: #666666;
    clear:both;
}

.trackerAnswerContainer label 
{
    color: #333333;
    padding-left: -10px;
}

div.trackerQuestion
{
    margin-top: 20px;
}

div.trackerAnswer
{
    margin-top: 10px;
}

div.scoreContainer
{
    width: 101%;
    padding: 35px;
}

.kagBottomContent {
    padding-left: 0px;
}

.leaderboardRanks {
    margin-left: -20px;
}

dt {
    border-bottom: 1px dotted #b2b2b2;
    padding: 0 0 2px 0;
    width: 100%;
    margin: 20px 0;
}

div.rankContainer div.rank
{
    margin-bottom: 30px;

}

    div.rankContainer div.rank h3,
    div.rankContainer div.leaderBoard h3
    {
        margin-bottom: 30px;
    }

div.rankContainer div.leaderBoard li
{
    display: block;
    clear: both;
    margin-bottom: 50px;
}

div.scoreContainerRow
{
    min-height: 30px;
}

.scoreContainerRowText 
{
    font-size:24px;
    display: inline-block;
    height: 22px;
    width: 40px;
    margin-top:20px;
    padding-top: 5px;
    color: #666666;
}

    div.scoreContainerRow.yesRow
    {
        padding: 0 15px;
    }

.rangeNumber {
    font-size: 20px;
    width: 30px;
    min-width:30px !important;
    margin-left:15px;
    text-align:center;
}

    div.scoreContainerRow.noRow
    {
        min-height: 68px;
    }

    div.scoreContainerRow.messageRow, div.scoreContainerRow.datesRow
    {
        padding: 30px 0;
        width: 92%;
    }

        div.scoreContainerRow.messageRow, div.scoreContainerRow.datesRow label
        {
            margin-left: 15px;
        }

.scoreMessage
{
    color: #2ea4b8;
    font-size: 20px;
    float: left;
    margin-top: 10px;
}

div.scoreContainerRow ul
{
    height: 100%;
    padding: 0;
}

div.scoreContainerRow li
{
    float: left;
    height: 35px;
    list-style: none;
}

div.scoreContainerRow.yesRow div.checkbox
{
   padding: 0;
    margin-left: 20px;
    background-color: #fff;
    min-height: 0px;
  
}

    div.scoreContainerRow.yesRow div.checkbox input
    {
        display: none;
    }

    div.scoreContainerRow.yesRow div.checkbox.disabled
    {
      /*  background-color: #eee;*/
    }

div.navContainer
{
    padding-left:5px;
    margin-right: -10px;
    margin-top: -40px;
}
    div.navContainer i.navButton
    {
        cursor: pointer;
    }
div.scoreContainerRow.yesRow li, div.scoreContainerRow.noRow li
{
   /* height: 53px;*/
    /*padding-top: 15px;*/
}

    div.scoreContainerRow.yesRow li.yes
    {
        font-size: 32px;
        color: #fff;
        background-color: #2ea4b8;
        background-repeat: repeat-x;
        background-position: center;
    }

div.scoreContainerRow.messageRow
{
    color: #2ea4b8;
}

div.scoreContainerRow.noRow li.no
{
    color: #fff;
    background-color: #c0c0c0;
    font-size: 20px;
}

.kagBottom {
    padding: 0px 40px 0 40px;
}

.hrDotted {
    border: 1px dotted #b2b2b2
}

.rankNumber {
    margin-top: 0px;
    color: #666666;
    width: auto;
    display: block;
}

.rankImage
{
    height: 50px;
    width: 50px;
    margin: 0 10px;
    margin-top: -13px;
}

.dropdownAppendText {
    display: inline;
    cursor: default;
	font-size: 12px;
	color: #666;
}

#pageSelect {
    width: 75px;
}

div#tracker
{
    .border-radius(0, 0, 10px, 0);
}

div.addPost
{
    padding-bottom: 10px;
    margin-top: 20px;
}

    div.addPost textarea
    {
        padding: 4px;
        .rounded-corners(7px);
        margin-bottom: 5px;
    }

div.chatTitle
{
 /*   padding-top: 20px;*/
    width: 45%;
}

.chatIcon {
    padding: 0 10px 0px 0;
    margin: 0px 0 8px 0;
}

ul#chatList
{
    background-color: #edeff1;
	padding: 20px;
	width: 91%;
	margin: 40px 0 10px 0;
}

#chatList ul {
    margin: 0 0 10px 0px;
}

    ul#chatList li
    {
        list-style: none;
        clear: both;
        min-height: 50px;
     
    }

	.chatInfo {
		margin-top: -10px;
		}


        ul#chatList li div.messageItem
        {
            min-height: 40px;
            overflow: hidden;
            padding: 5px 6px;
            width: 100%;
        }

            ul#chatList li div.messageItem img.callout
            {
                margin-left: 20px;
                vertical-align: top;
            }

        ul#chatList li div.imageHolder
        {
            width: 20%;
        }

img.chatImage
{
    width: 50px;
    height: 50px;
}

div.messageItem
{
    background-repeat: no-repeat;
    background-position-x: 20px;
}

    div.messageItem div.message
    {
        padding: 10px;
        width: 83%;
        background-color: #fff;
    }

#remainingCharacters {
    cursor: default;
}
.chatDate, .chatName 
{
    font-size: 11px;
    color: #666;
    cursor: default;
}

    div.messageItem span.chatDate
    {
        margin-right: 20px;
        font-style: italic;
    }

    div.messageItem label.chatName
    {
        margin-right: 20px;
        margin-top: 0;
        margin-left: -10px;
        font-weight: bold;
    }

    div.messageItem textarea:active
    {
        border: none;
    }
/*CREATE*/
.createChallWrapper
{
   .border-radius(6px, 6px, 0, 0);
}

.centerTitle
{
    height: 40px;
	width: 445px;
	margin-left: auto;
	margin-right: auto;
}

.mainContent
{
    width: 450px;
    border: 1px solid #e6e6e6;
    border-top: 0;
    background-color: #ffffff;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    box-shadow: 0 0 4px #e6e6e6;
    margin-top: -35px;
}

.createChallWrapper
{
    padding: 0px 200px 40px 205px;
}

.centerAlign
{
    text-align: center;  
}

.beta { width:37px; height: 38px; position:relative; float:right; top:-60px; }

.thirstyHeader
{
    color: #666666;
    font-size:2em;
}

.questionTextBox
{
    width: 95%;
}

.optionalTextBox
{
    width: 70px;
}

.grayWatermark
{
    color: gray;
    font-style: italic;
    font-size: 12px;
}

.graytext
{
    color: gray;
}

input[type=radio]
{ 
    margin-right: 5px;
    margin-bottom: 10px;
}

input[type=text]
{
    background-color: #FFFCF6;
    padding: 5px;
    margin-right: 10px;
    .rounded-corners(6px);
    border: 1px solid #CCC;
    height: 19px; 
    font-size: 13px;
}

.well {
	margin-top: 30px;
}

.detailsTextArea
{
    background-color: #FFFCF6;
    padding: 5px;
    margin-right: 10px;
    .rounded-corners(6px);
    border: 1px solid #CCC;
    height: 19px;
    font-size: 13px;
    width: 95%;
    overflow: hidden;
    height: 100px;
}

img.challengeBadge
{
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin-right: 25px;
    margin-top: 10px;
}
img.challengeBadge.faded
    {
        .opacity(.4);
    }
    img.challengeBadge.selected
    {
        .opacity(1);
    }
label
{
    font-size: 1.3em;
    padding: 0 10px;
}

    label.question
    {
        font-size: 1.3em;
        padding: 0;
    }

div.section
{
    padding: 20px 0;
}
img.radioCheck
{
    height: 25px;
    width: 21px;
    position: absolute;
    z-index: 2;
}
img.radioCheckTarget
{
    margin-top: -4px;
}
img.radioCheckML
{
    margin-top: 3px;
}
img.radioCheckDUR
{
    margin-top: -4px;
}
img#imgTargAnsCheck,
img#imgDurCheck
{
    margin-top: -4px;
}

img#imgTargOptCheck
{
    margin-top: 2px;
}
/*INVITE*/



.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #fef1ec url(../images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x; color: #cd0a0a; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #cd0a0a; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #cd0a0a; }

/*notification button styles*/
input.vbtn_gray_a_md, input.vbtn_gray_a_md_long, 
input.vbtn_gray_a_md_long_hover, input.vbtn_gray_a_md_hover, 
input.vbtn_red_a_md, input.vbtn_red_a_md_hover, input.vbtn_white_a_md, input.vbtn_white_a_md_hover
{
    width: 129px;
}

.SeeOneYouLike {
    margin-top: 5px;
    cursor: default;
}

/*SELECT*/
ul.iconList{ list-style: none;margin: 0;padding: 0;margin-top: 20px;}
ul.iconList li{ clear: both;}
ul.iconList input{ vertical-align: top;margin-top: 25px;}
ul.iconList li img{ border: solid 1pt #d3d3d3;padding: 4px; .rounded-corners(10px);height: 50px;width: 50px;margin: 10px;vertical-align: top;}

/* Index redesign*/
.v3-wrapper
{
	width:950px;
	margin:0 auto;

	.v3-header
	{
		background-color:#008eaa;
		height:35px;
		line-height:35px;
		font-size:19px;
		padding:0px 15px;
		color:#fff;
		font-family:Helvetica,Arial,sans-serif;
		border:none;
	}
	.v3-body
	{
		border-bottom:1px solid #e3e2e1;
		border-left:1px solid #e3e2e1;
		border-right:1px solid #e3e2e1;
		padding:30px;
		background-color:#fff;
        min-height: 800px;
		.v3-left-col
		{
			width:612px;
			float:left;
		}
	}
	 
}

div.wrapper div.row-index
{
    margin-bottom: 10px;
    margin-left: 0;
    width: 850px;
    height:180px;
}

.black-header-index {
   font-family: 'Conv_Tungsten-Medium', Arial, Helvetica, sans-serif !important;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: normal;  
}

.YES-box-selected {
    background-image: url('/challenge/Content/images/Challenges/challenges-YES-selected.png');
        cursor: pointer;
         text-align: center;
    line-height: 190px;
     color: #4d9332;
}

.NO-box-selected {
    background-image: url('/challenge/Content/images/Challenges/challenges-NO-selected.png');
    cursor: pointer;
    text-align: center;
    line-height: 190px;
    color: #cc2324;
}
.YES-box:hover {
    cursor: pointer;
    text-align: center;
    line-height: 190px;
    color: #4d9332;
}

.NO-box:hover {
    cursor: pointer;
    text-align: center;
    line-height: 190px;
    color: #cc2324;
}

.YES-box 
{
    background-image: none;
    cursor: pointer;
    text-align: center;
    line-height: 190px;
    color: #dbd9d6;
}

.NO-box 
{
    background-image: none;
    cursor: pointer;
    text-align: center;
    line-height: 190px;
    color: #dbd9d6;
}
#YES-box {
  
     background-repeat: no-repeat;
        background-position: bottom;
         height:190px;
        width:200px; 
        background-color:#e0f9fe; 
        float:left;
         margin-right:20px;
}

#NO-box {
    
        background-repeat: no-repeat;
        background-position: bottom;
        height:190px;
        width:200px; 
        background-color:#e0f9fe; 
        float:left;
        
}

#YES-icon {
    color: inherit;
}

#NO-icon {
     color: inherit;
}


.instruction-msg {
    font-family:Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: #626a73;
}

.date-of-answer-boxes {
    font-family:Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: #626a73;
    font-weight: bold;
}


#answer-NUM-input {
    
}
.rangeNumber-big-input {
    font-size: 40px;
    width: 135px;
    height: 70px;
    min-width:30px !important;
    text-align:center;
    margin-left: 15px;
    margin-top: 15px;
    .rounded-corners(6px);
    border: 1px solid #CCC;
    padding: 0;
    float: left;
    color: #626a73;
    line-height:40px !important ;
}

#Challenges-btnSave {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    padding: 20px 25px;
    font-size: 30px;
}

.date-scroller {
    width: 20px;
    position: absolute;
    float: right;
    right: 345px;
}

.date-label {
    color: #626a73;
    font-size: 12px;
    font-weight: bold;
    display:inline; 
    width: 320px; 
    float: left;
    padding: 5px 0 0 5px;
}
.date-label.disabled {
    color: #949a9e;
    cursor: default;
}

.date-label.clicked {
    color: #008eaa;
}

.checkbox-number-input {
    position:absolute;
    margin-left:110px;
}
.checkbox.img {
    height: 30px;
}


.answer-display {
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}

.answer-display.target-not-reached {
    color: #626a73;
}

.answer-display.target-reached {
    color: #4d9332;
}
.selected-date-background {
    background-color: #fff4d3;
}

.blue-wrapper-num-input {
    background-color: #e0f9fe;
width: 350px;
height: 100px;
}

.show-pencil-icon {
    display: block !important;
}

.tracked-day-row:hover {
    background-color: #fff4d3;
}

.message-label {
    background-image: url('/challenge/Content/images/Challenges/ribbon-challenge-bg.png');
    background-repeat: no-repeat;
    height: 50px;
    margin-bottom: -50px;
    padding-top: 15px;
}

.challenge-ended-text {
     font-family: 'Conv_Tungsten-Medium', Arial, Helvetica, sans-serif !important;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: normal;
    color: white;
    margin-left: 10px;
}
.navbar-inner .container {
    max-width:940px !important;
}