﻿.wrapper-create  {
    background-image: url('/challenge/content/images/challenges/create-challenge-bkgd.jpg') !important;
    background-repeat: no-repeat;
    background-position: 2px 50px;
}

.beta
{
    width:37px;
    height: 38px;
    position:relative;
    top:-60px;
}

.centerTitle
{
    padding-top: 50px;
    height: 20px;
	width: 445px;
}