﻿@import "../vhm.mixins.less";

.btnRounded
{
    .rounded-corners(4px);
}

.inviteListContainer
{
    min-height: 70px;
}

.writeInContainer, .inviteListContainer, .friendContainer
{
   clear: both;
   float: left;
   width: 98%;
}
    .writeInContainer ul, .inviteListContainer ul, .friendContainer ul
    {
        list-style: none;
        margin: 0;
        padding: 0;
        clear:both;
    }
        .writeInContainer ul li, .inviteListContainer ul li, .friendContainer ul li
        {
            float: left;
        }
        .friendContainer ul li
        {
            padding: 10px 7px;
            width: 190px;
        }
        .friendContainer ul li input[type=checkbox], 
        .friendContainer ul li span.displayName
        {
            vertical-align: top;
        }
            .friendContainer ul li span.displayName
            {
                display: inline-block;
                width: 100px;
            }
    .buttonContainer
    {
        clear: both;
        text-align: center;
    }
.btnNextPage
{
    clear: both;
}
.friendContainer
{
    max-height: 210px;
}
 .friendContainer, .inviteListContainer ul
{
    margin-left: 20px;
}
ul#inviteList li label, 
ul#writeInList li label, 
ul#friendList li label,
ul#importList li label
{
    display: inline-block;
    width: 175px;
    margin: 10px 10px 0 0;
    margin-left: 0;
    padding: 5px;
}

i
{
    margin-left: 0px;
}
img.inviteProfileImage
{
    height: 50px;
    width: 50px;
}
.inviteLabel
{
    background-color: #c8e5ff;
    color: #666666;
    font-weight: lighter;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    padding: 10px;
    
}
.nav-tabs
{
    float: left;
    text-align: center;
    border-bottom-width: 0;
    font-size: 0;
   margin: 20px 0 -30px 0;
    width: 850px;

    li.tab-item
    {
        float: none;
        display: inline-block;
        margin: 0 2px;

        .caret
        {
            display: none;
            text-align: left;
            margin-left: 25px;
            border-width: 12px;
        }

        a
        {
            .box-shadow(inset 0 0 10px #777);
            background-color: #999;
            
            
        }

            a, a:hover
            {
                color: #fff;
            text-transform: uppercase;
            font-size: 15px;
            padding: 9px 20px;
            margin: 0;
            border-width: 0;
            .rounded-corners(0);
            }

        &.active
        {
            .caret
            {
                display: block;
            }
        }
    }
}
.well.inviteContent
{
    margin-top: 0;
    padding-top: 30px;
    width: 98%;
}
.well
{
    padding: 5px;
}
.well #writeIn
{
    background-color: #fff;
    padding:8px;
}

i.icon-remove
{
    cursor: pointer;
    color: #999999;
}

i.icon-remove:hover
{
    cursor: pointer;
    color: #cc0000;
}