//------------------------------------------------------------------------------------------------------------------------
// FIXME:  The following import(s) and variable definitions are TEMPORARY pending LESS/CSS rationalization in this project.
//------------------------------------------------------------------------------------------------------------------------
@import "../vhm.mixins.less";







.alt
{
    margin-left: 70px !important;
  
}

#btn-join {
    display: none;
}

.challenge-members-number {
    margin-bottom: 10px;
    font-size: 13px;
    font-style: italic;
}