﻿@import "../vhm.mixins.less";


#wrapper .row .well{ min-height: 450px;}
#wrapper .row .span4{margin-left: 0;width: 275px;float: left;}
a.badgeDesc{ display: inline-block;margin-top: 10px;width: 115px;font-weight: bold;}
a.badgeDesc:hover{ text-decoration: none;}
h2{ color: #666666;}
.centerAlignMargin { margin-top: 0; }
hr { width: 100%;border-color: #ddd;margin-top:5px; float: left; }