﻿.bubbleInfo {
    position:absolute;
    z-index:1111;
    width: 180px;
    overflow: auto;
    display: none;
}
.popupBuble {
    table-layout: fixed;
    width: 180px !important;
}
 .popupBuble td.corner {
    height: 15px;
    width: 19px;
}
.popupBubleTopleft { background-image: url('../../images/Shared/bubble-topleft.png'); background-repeat:no-repeat;width: 19px;height: 15px;}
.popupBubleTop { background-image: url('../../images/Shared/bubble-top.png');}
.popupBubleTopright { background-image: url('../../images/Shared/bubble-topright.png'); background-repeat:no-repeat;width: 19px;height: 15px;}
.popupBubleLeft { background-image: url('../../images/Shared/bubble-left.png');background-repeat: repeat-y;}
.popupBubleRight { background-image: url('../../images/Shared/bubble-right.png'); background-repeat: repeat-y}
.popupBubleBottomleft { background-image: url('../../images/Shared/bubble-bottomleft.png'); background-repeat:no-repeat;width: 19px;height: 29px;}
.popupBubleBottom { background-image: url('../../images/Shared/bubble-bottom.png'); }
.popupBubleBottom div { margin: 0 auto; width:30px; height:29px;background-image: url('../../images/Shared/bubble-bottomarrow.png');background-repeat:no-repeat;}
.popupBubleBottomright { background-image: url('../../images/Shared/bubble-bottomright.png'); background-repeat:no-repeat; width: 19px;height: 29px;} 

    .popupBuble .popupBuble-contents {
	    font-size: 11px;
	    line-height: 1.2em;
	    background-color: #E0DFDB;
	    color: #666;
	}
	/*.popupBuble .popupBuble-contents div 
	{
	    width: 140px;
	}
	        
	.popupBuble .popupBuble-contents div.VHMPopupReward
	{
	    width: 140px;
	}*/
	