﻿/****************************************************************
**	Contents:
**	1.	Basic Settings
**	2.	Height
**	3.	Width
**	4.	Font & Spacing
**	5.	Background Image
**
**	Change History:
**	13-Sep-2009	MJH	CRM962 - Initial Version
**		
*****************************************************************/

/*	1.	Basic Settings	*/
/*	1.01	60x22_grayA_xxxx.gif */
.vbtn_gray_a_sm,
.vbtn_gray_a_sm_hover,
.vbtn_gray_a_sm_bgdg,
.vbtn_gray_a_sm_bgdg_hover,
.vbtn_gray_a_sm_bgmg,
.vbtn_gray_a_sm_bgmg_hover,
.vbtn_gray_a_sm_bglg,
.vbtn_gray_a_sm_bglg_hover,
/*	1.02	60x22_redA_xxxx.gif	*/
.vbtn_red_a_sm,
.vbtn_red_a_sm_hover,
.vbtn_red_a_sm_bgbl,
.vbtn_red_a_sm_bgbl_hover,
.vbtn_red_a_sm_bgdg,
.vbtn_red_a_sm_bgdg_hover,
.vbtn_red_a_sm_bgmg,
.vbtn_red_a_sm_bgmg_hover,
.vbtn_red_a_sm_bglg,
.vbtn_red_a_sm_bglg_hover,
/*	1.05	85x22_grayA_xxxx.gif	*/
.vbtn_gray_b_sm,
.vbtn_gray_b_sm_hover,
.vbtn_gray_b_sm_bgdg,
.vbtn_gray_b_sm_bgdg_hover,
.vbtn_gray_b_sm_bglg,
.vbtn_gray_b_sm_bglg_hover,
/*	1.06	85x22_redB_xxxx.gif	*/
.vbtn_red_b_sm,
.vbtn_red_b_sm_hover,
.vbtn_red_b_sm_bgbl,
.vbtn_red_b_sm_bgbl_hover,
.vbtn_red_b_sm_bgdg,
.vbtn_red_b_sm_bgdg_hover,
.vbtn_red_b_sm_bglg,
.vbtn_red_b_sm_bglg_hover,
/*	1.09	129x34_grayA_xxxx.gif	*/
.vbtn_gray_a_md,
.vbtn_gray_a_md_long,
.vbtn_gray_a_md_long_hover,
.vbtn_gray_a_md_hover,
/*	1.10	129x34_redA_xxxx.gif	*/
.vbtn_red_a_md,
.vbtn_red_a_md_hover,
/*	1.11	129x34_whiteA_xxxx.gif	*/
.vbtn_white_a_md,
.vbtn_white_a_md_hover,
/*	1.13	185x36_xxx_xxx.gif	*/
.vbtn_gray_b_md,
.vbtn_gray_b_md_hover,
.vbtn_red_b_md,
.vbtn_red_b_md_hover,
.vbtn_white_b_md,
.vbtn_white_b_md_hover,
.vbtn_white_b_md_bgr,
.vbtn_white_b_md_bgr_hover,
/*	1.14	157x22_xxxxD_xxxx.gif	*/
.vbtn_gray_d,
.vbtn_gray_d_hover,
.vbtn_red_d,
.vbtn_red_d_hover,
.vbtn_red_d_bgbl,
.vbtn_red_d_bgbl_hover

{
	margin:auto;
	padding:0;
	border:0;
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:center center;
	cursor:pointer;
	cursor:hand;
	font-weight:bold;
	color:#FFFFFF;
	font-size:11px;
	letter-spacing:.5px;
}


/*	1.15	236x33_xxxxC_md_xxxx.gif	*/
.vbtn_gray_c_md,
.vbtn_gray_c_md_hover,
.vbtn_red_c_md,
.vbtn_red_c_md_hover,
.vbtn_white_c_md,
.vbtn_white_c_md_hover,
.vbtn_white_c_md_sel,

/*	1.17	280x47_B.gif	*/
.vbtn_gray_b,
.vbtn_gray_b_hover,
.vbtn_red_b,
.vbtn_red_b_hover

{
	margin:auto;
	padding:0;
	border:0;
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:center center;
	cursor:pointer;
	cursor:hand;
	font-weight:bold;
	color:#FFFFFF;
	font-size:14px;
	letter-spacing:.5px;
}


/*	1.03	61x22_arrow_redA_xxxx.gif	*/
a.vbtn_red_a_arw_sm,
a.vbtn_red_a_arw_sm_bgbl,
a.vbtn_red_a_arw_sm_bgbl_dis,
/*	1.04	61x22_arrowBack_redA_xxxx.gif	*/
a.vbtn_red_a_arwbk_sm,
a.vbtn_red_a_arwbk_sm_bgbl,
a.vbtn_red_a_arwbk_sm_bgbl_dis,
/*	1.07	86x22_arrow_xxxx.gif	*/
a.vbtn_red_b_arw_sm,
a.vbtn_red_b_arw_sm_bgbl,
/*	1.08	86x22_arrowBack_redB.gif	*/
a.vbtn_red_b_arwbk_sm,
a.vbtn_red_b_arwbk_sm_bgbl
{
	background-color: transparent;
	background-repeat:no-repeat;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	letter-spacing:.5px;
	text-decoration:none;
	font-weight:bold;
	float:left;
	text-align:center;
}

/*	2. Height	*/
/*	2.01	60x22_grayA_xxxx.gif */
.vbtn_gray_a_sm,
.vbtn_gray_a_sm_hover,
.vbtn_gray_a_sm_bgdg,
.vbtn_gray_a_sm_bgdg_hover,
.vbtn_gray_a_sm_bgmg,
.vbtn_gray_a_sm_bgmg_hover,
.vbtn_gray_a_sm_bglg,
.vbtn_gray_a_sm_bglg_hover,
/*	2.02	60x22_redA_xxxx.gif	*/
.vbtn_red_a_sm,
.vbtn_red_a_sm_hover,
.vbtn_red_a_sm_bgbl,
.vbtn_red_a_sm_bgbl_hover,
.vbtn_red_a_sm_bgdg,
.vbtn_red_a_sm_bgdg_hover,
.vbtn_red_a_sm_bgmg,
.vbtn_red_a_sm_bgmg_hover,
.vbtn_red_a_sm_bglg,
.vbtn_red_a_sm_bglg_hover,
/*	2.03	61x22_arrow_redA_xxxx.gif	*/
a.vbtn_red_a_arw_sm,
a.vbtn_red_a_arw_sm_bgbl,
a.vbtn_red_a_arw_sm_bgbl_dis,
/*	2.04	61x22_arrowBack_redA_xxxx.gif	*/
a.vbtn_red_a_arwbk_sm,
a.vbtn_red_a_arwbk_sm_bgbl,
a.vbtn_red_a_arwbk_sm_bgbl_dis,
/*	2.05	85x22_grayA_xxxx.gif	*/
.vbtn_gray_b_sm,
.vbtn_gray_b_sm_hover,
.vbtn_gray_b_sm_bgdg,
.vbtn_gray_b_sm_bgdg_hover,
.vbtn_gray_b_sm_bglg,
.vbtn_gray_b_sm_bglg_hover,
/*	2.06	85x22_redB_xxxx.gif	*/
.vbtn_red_b_sm,
.vbtn_red_b_sm_hover,
.vbtn_red_b_sm_bgbl,
.vbtn_red_b_sm_bgbl_hover,
.vbtn_red_b_sm_bgdg,
.vbtn_red_b_sm_bgdg_hover,
.vbtn_red_b_sm_bglg,
.vbtn_red_b_sm_bglg_hover,
/*	2.07	86x22_arrow_xxxx.gif	*/
.vbtn_red_b_arw_sm,
.vbtn_red_b_arw_sm_bgbl,
/*	2.08	86x22_arrowBack_redB.gif	*/
.vbtn_red_b_arwbk_sm,
.vbtn_red_b_arwbk_sm_bgbl,

/*	2.10	157x22_xxxxD_xxxx.gif	*/
.vbtn_gray_d,
.vbtn_gray_d_hover,
.vbtn_red_d,
.vbtn_red_d_hover,
.vbtn_red_d_bgbl,
.vbtn_red_d_bgbl_hover
{height:22px;}

/*	2.03	61x22_arrow_redA_xxxx.gif	*/
a.vbtn_red_a_arw_sm,
a.vbtn_red_a_arw_sm_bgbl,
a.vbtn_red_a_arw_sm_bgbl_dis,
/*	2.04	61x22_arrowBack_redA_xxxx.gif	*/
a.vbtn_red_a_arwbk_sm,
a.vbtn_red_a_arwbk_sm_bgbl,
a.vbtn_red_a_arwbk_sm_bgbl_dis,
/*	2.07	86x22_arrow_xxxx.gif	*/
a.vbtn_red_b_arw_sm,
a.vbtn_red_b_arw_sm_bgbl,
/*	2.08	86x22_arrowBack_redB.gif	*/
a.vbtn_red_b_arwbk_sm,
a.vbtn_red_b_arwbk_sm_bgbl
{height:22px}


/*	129x34_grayA_xxxx.gif	*/
.vbtn_gray_a_md,
.vbtn_gray_a_md_long,
.vbtn_gray_a_md_long_hover,
.vbtn_gray_a_md_hover,
/*	129x34_redA_xxxx.gif	*/
.vbtn_red_a_md,
.vbtn_red_a_md_hover,
/*	129x34_whiteA_xxxx.gif	*/
.vbtn_white_a_md,
.vbtn_white_a_md_hover,
/*	236x33_xxxxC_md_xxxx.gif	*/
.vbtn_gray_c_md,
.vbtn_gray_c_md_hover,
.vbtn_red_c_md,
.vbtn_red_c_md_hover,
.vbtn_white_c_md,
.vbtn_white_c_md_hover,
.vbtn_white_c_md_sel,
/*	185x36_xxx_xxx.gif	*/
.vbtn_gray_b_md,
.vbtn_gray_b_md_hover,
.vbtn_red_b_md,
.vbtn_red_b_md_hover,
.vbtn_white_b_md,
.vbtn_white_b_md_hover
{height:36px;}
/*	185x36_xxx_xxx.gif	*/
.vbtn_white_b_md_bgr,
.vbtn_white_b_md_bgr_hover
{height:36px;}

/*	280x47_B.gif	*/
.vbtn_gray_b,
.vbtn_gray_b_hover,
.vbtn_red_b,
.vbtn_red_b_hover
{height:47px;}

/*	3.	Width	*/
/*	60x22_grayA_xxxx.gif */
.vbtn_gray_a_sm,
.vbtn_gray_a_sm_hover,
.vbtn_gray_a_sm_bgdg,
.vbtn_gray_a_sm_bgdg_hover,
.vbtn_gray_a_sm_bgmg,
.vbtn_gray_a_sm_bgmg_hover,
.vbtn_gray_a_sm_bglg,
.vbtn_gray_a_sm_bglg_hover,
/*	60x22_redA_xxxx.gif	*/
.vbtn_red_a_sm,
.vbtn_red_a_sm_hover,
.vbtn_red_a_sm_bgbl,
.vbtn_red_a_sm_bgbl_hover,
.vbtn_red_a_sm_bgdg,
.vbtn_red_a_sm_bgdg_hover,
.vbtn_red_a_sm_bgmg,
.vbtn_red_a_sm_bgmg_hover,
.vbtn_red_a_sm_bglg,
.vbtn_red_a_sm_bglg_hover
{width:60px;}

/*	2.03	61x22_arrow_redA_xxxx.gif	*/
a.vbtn_red_a_arw_sm,
a.vbtn_red_a_arw_sm_bgbl,
a.vbtn_red_a_arw_sm_bgbl_dis,
/*	2.04	61x22_arrowBack_redA_xxxx.gif	*/
a.vbtn_red_a_arwbk_sm,
a.vbtn_red_a_arwbk_sm_bgbl,
a.vbtn_red_a_arwbk_sm_bgbl_dis
{width:61px;}

/*	85x22_grayB_xxxx.gif	*/
.vbtn_gray_b_sm,
.vbtn_gray_b_sm_hover,
.vbtn_gray_b_sm_bgdg,
.vbtn_gray_b_sm_bgdg_hover,
.vbtn_gray_b_sm_bglg,
.vbtn_gray_b_sm_bglg_hover,
/*	85x22_redB_xxxx.gif	*/
.vbtn_red_b_sm,
.vbtn_red_b_sm_hover,
.vbtn_red_b_sm_bgbl,
.vbtn_red_b_sm_bgbl_hover,
.vbtn_red_b_sm_bgdg,
.vbtn_red_b_sm_bgdg_hover,
.vbtn_red_b_sm_bglg,
.vbtn_red_b_sm_bglg_hover
{width:85px;}

/*	2.07	86x22_arrow_xxxx.gif	*/
a.vbtn_red_b_arw_sm,
a.vbtn_red_b_arw_sm_bgbl,
/*	2.08	86x22_arrowBack_redB.gif	*/
a.vbtn_red_b_arwbk_sm,
a.vbtn_red_b_arwbk_sm_bgbl
{width:86px;}

/*	86x22_arrow_xxxx.gif	*/
.vbtn_red_b_arw_sm,
.vbtn_red_b_arw_sm_hover,
.vbtn_red_b_arw_sm_bgbl,
.vbtn_red_b_arw_sm_bgbl_hover,
/*	86x22_arrowBack_redB.gif	*/
.vbtn_red_b_arwbk_sm,
.vbtn_red_b_arwbk_sm_hover,
.vbtn_red_b_arwbk_sm_bgbl,
.vbtn_red_b_arwbk_sm_bgbl_hover
{width:86px;}

/*	129x34_grayA_xxxx.gif	*/
.vbtn_gray_a_md,
.vbtn_gray_a_md_long,
.vbtn_gray_a_md_long_hover,
.vbtn_gray_a_md_hover,
/*	129x34_redA_xxxx.gif	*/
.vbtn_red_a_md,
.vbtn_red_a_md_hover,
/*	129x34_whiteA_xxxx.gif	*/
.vbtn_white_a_md,
.vbtn_white_a_md_hover
{width:129px;}
.vbtn_gray_a_md_long,
.vbtn_gray_a_md_long_hover
{width:230px;}


/*	185x36_xxx_xxx.gif	*/
.vbtn_gray_b_md,
.vbtn_gray_b_md_hover,
.vbtn_red_b_md,
.vbtn_red_b_md_hover,
.vbtn_white_b_md,
.vbtn_white_b_md_hover,
.vbtn_white_b_md_bgr,
.vbtn_white_b_md_bgr_hover
{width:185px;}

/*	157x22_xxxxD_xxxx.gif	*/
.vbtn_gray_d,
.vbtn_gray_d_hover,
.vbtn_red_d,
.vbtn_red_d_hover,
.vbtn_red_d_bgbl,
.vbtn_red_d_bgbl_hover
{width:157px;}

/*	236x33_xxxxC_md_xxxx.gif	*/
.vbtn_gray_c_md,
.vbtn_gray_c_md_hover,
.vbtn_red_c_md,
.vbtn_red_c_md_hover,
.vbtn_white_c_md,
.vbtn_white_c_md_hover,
.vbtn_white_c_md_sel
{width:236px;}


/*	280x47_B.gif	*/
.vbtn_gray_b,
.vbtn_gray_b_hover,
.vbtn_red_b,
.vbtn_red_b_hover
{width:280px;}


/*	4.	Font & Spacing	*/

/*	4.01 For white buttons	*/
.vbtn_white_a_md,
.vbtn_white_a_md_hover,
.vbtn_white_b_md,
.vbtn_white_b_md_hover,
.vbtn_white_b_md_bgr,
.vbtn_white_b_md_bgr_hover,
.vbtn_white_c_md,
.vbtn_white_c_md_hover,
.vbtn_white_c_md_sel,
.vbtn_a,
.vbtn_a_active,
.vbtn_a_hover
{font-size:12px;color:#474747;}

/*	280x47_B.gif	
.vbtn_red_b,
.vbtn_gray_b_hover,
.vbtn_red_b,
.vbtn_red_b_hover,*/


/*	2.03	61x22_arrow_redA_xxxx.gif	*/
a.vbtn_red_a_arw_sm span,
a.vbtn_red_a_arw_sm div,
a.vbtn_red_a_arw_sm_bgbl span,
a.vbtn_red_a_arw_sm_bgbl div,
a.vbtn_red_a_arw_sm_bgbl_dis div,
/*	2.04	61x22_arrowBack_redA_xxxx.gif	*/
a.vbtn_red_a_arwbk_sm span,
a.vbtn_red_a_arwbk_sm div,
a.vbtn_red_a_arwbk_sm_bgbl span,
a.vbtn_red_a_arwbk_sm_bgbl div,
a.vbtn_red_a_arwbk_sm_bgbl_dis div,
a.vbtn_red_b_arw_sm span,
a.vbtn_red_b_arwbk_sm span,
a.vbtn_red_b_arw_sm_bgbl span,
a.vbtn_red_b_arwbk_sm_bgbl span
{
	font-size:12px;
	margin-left:0px;
	margin-top:4px;
}
a.vbtn_red_a_arw_sm span,
a.vbtn_red_a_arw_sm div,
a.vbtn_red_a_arw_sm_bgbl span,
a.vbtn_red_a_arw_sm_bgbl div,
a.vbtn_red_a_arw_sm_bgbl_dis div
{
	margin-right:5px;
}
a.vbtn_red_a_arwbk_sm span,
a.vbtn_red_a_arwbk_sm div,
a.vbtn_red_a_arwbk_sm_bgbl span,
a.vbtn_red_a_arwbk_sm_bgbl div,
a.vbtn_red_a_arwbk_sm_bgbl_dis div,
a.vbtn_red_b_arwbk_sm span,
a.vbtn_red_b_arwbk_sm div,
a.vbtn_red_b_arwbk_sm_bgbl span,
a.vbtn_red_b_arwbk_sm_bgbl div
{margin-left:15px;}

/*	2.07	86x22_arrow_xxxx.gif	*/
a.vbtn_red_b_arw_sm span,
a.vbtn_red_b_arw_sm_bgbl span,
/*	2.08	86x22_arrowBack_redB.gif	*/
a.vbtn_red_b_arwbk_sm span,
a.vbtn_red_b_arwbk_sm_bgbl span
{font-size:12px;}

/*	5.	Background Image	
 background: transparent url('/v2/content/images/Buttons/corner-top-left.png') no-repeat bottom right;
*/
/*	60x22_grayA_xxxx.gif */
.vbtn_gray_a_sm,.vbtn_gray_a_sm[disabled]:hover{background-image:url(/v2/content/images/Buttons/60x22_grayA.gif);}
.vbtn_gray_a_sm_hover,.vbtn_gray_a_sm:hover{background-image:url(/v2/content/images/Buttons/60x22_grayA_hover.gif);}
.vbtn_gray_a_sm_hover,.vbtn_gray_a_sm:active{background-image:url(/v2/content/images/Buttons/60x22_grayA_active.gif);}


/*	60x22_redA_***.gif	*/
.vbtn_a_red,
.vbtn_a_red:hover,
.vbtn_a_red:visited{ color: #fff;
					 font-weight: normal;
					 text-align: center;
                     text-decoration: none; 
                     padding-top:2px;}

.vbtn_red_a_sm{background-image:url(/v2/content/images/Buttons/60x22_redA.gif);}
.vbtn_red_a_sm[disabled]:hover{background-image:url(/v2/content/images/Buttons/60x22_redA.gif);}

.vbtn_red_a_sm_hover{background-image:url(/v2/content/images/Buttons/60x22_redA_hover.gif);}
.vbtn_red_a_sm:hover{background-image:url(/v2/content/images/Buttons/60x22_redA_hover.gif);}
.vbtn_red_a_sm:active{background-image:url(/v2/content/images/Buttons/60x22_redA_active.gif);}


/*	85x22_grayB_xxxx.gif	*/ /*
.vbtn_gray_b_sm{background-image:url(/v2/content/images/Buttons/85x22_grayB.gif);}
.vbtn_gray_b_sm[disabled]:hover{background-image:url(/v2/content/images/Buttons/85x22_grayB.gif);}
.vbtn_gray_b_sm_hover{background-image:url(/v2/content/images/Buttons/85x22_grayB_hover.gif);}
.vbtn_gray_b_sm:hover{background-image:url(/v2/content/images/Buttons/85x22_grayB_hover.gif);}
*/

/*	86x22_arrow_xxxx.gif	*/
a.vbtn_red_b_arw_sm{background-image:url(/v2/content/images/Buttons/86x22_arrow_redB.gif);}
a[disabled]:hover.vbtn_red_b_arw_sm{background-image:url(/v2/content/images/Buttons/86x22_arrow_redB.gif);}
a:hover.vbtn_red_b_arw_sm{background-image:url(/v2/content/images/Buttons/86x22_arrow_redB_hover.gif);}


/*	86x22_arrowBack_redB.gif	*/
a.vbtn_red_b_arwbk_sm{background-image:url(/v2/content/images/Buttons/86x22_arrowBack_redB.gif);}
a[disabled]:hover.vbtn_red_b_arwbk_sm{background-image:url(/v2/content/images/Buttons/86x22_arrowBack_redB.gif);}
a:hover.vbtn_red_b_arwbk_sm{background-image:url(/v2/content/images/Buttons/86x22_arrowBack_redB_hover.gif);}


/*	129x34_grayA_xxxx.gif	*/
.vbtn_gray_a_md{background-image:url(/v2/content/images/Buttons/129x34_grayA.gif);}
.vbtn_gray_a_md[disabled]:hover{background-image:url(/v2/content/images/Buttons/129x34_grayA.gif);}
.vbtn_gray_a_md_hover{background-image:url(/v2/content/images/Buttons/129x34_grayA_hover.gif);}
.vbtn_gray_a_md:hover{background-image:url(/v2/content/images/Buttons/129x34_grayA_hover.gif);}
.vbtn_gray_a_md:active{background-image:url(/v2/content/images/Buttons/129x34_grayA_active.gif);}



/*	129x34_redA_xxxx.gif	*/
.vbtn_red_a_md{background-image:url(/v2/content/images/Buttons/129x34_redA.gif);}
.vbtn_red_a_md[disabled]:hover{background-image:url(/v2/content/images/Buttons/129x34_redA.gif);}
.vbtn_red_a_md_hover{background-image:url(/v2/content/images/Buttons/129x34_redA_hover.gif);}
.vbtn_red_a_md:hover{background-image:url(/v2/content/images/Buttons/129x34_redA_hover.gif);}
.vbtn_red_a_md:active{background-image:url(/v2/content/images/Buttons/129x34_redA_active.gif);}

/*129x34_whiteA_xxxx.gif	*/
/*
.vbtn_white_a_md{background-image:url(/v2/content/images/Buttons/129x34_whiteA.gif);}
.vbtn_white_a_md[disabled]:hover{background-image:url(/v2/content/images/Buttons/129x34_whiteA.gif);}
.vbtn_white_a_md_hover{background-image:url(/v2/content/images/Buttons/129x34_whiteA_hover.gif);}
.vbtn_white_a_md:hover{background-image:url(/v2/content/images/Buttons/129x34_whiteA_hover.gif);}
*/

/*	185x36_xxx_xxx.gif	*/
.vbtn_gray_b_md{background-image:url(/v2/content/images/Buttons/185x36_grayB.gif);}
.vbtn_gray_b_md[disabled]:hover{background-image:url(/v2/content/images/Buttons/185x36_grayB.gif);}
.vbtn_gray_b_md_hover{background-image:url(/v2/content/images/Buttons/185x36_grayB_hover.gif);}
.vbtn_gray_b_md:hover{background-image:url(/v2/content/images/Buttons/185x36_grayB_hover.gif);}
.vbtn_gray_b_md:active{background-image:url(/v2/content/images/Buttons/185x36_grayB_active.gif);}

.vbtn_red_b_md{background-image:url(/v2/content/images/Buttons/185x36_redB.png); white-space: pre-wrap; padding-bottom: 2px;}
.vbtn_red_b_md[disabled]:hover{background-image:url(/v2/content/images/Buttons/185x36_redB.png);}
.vbtn_red_b_md_hover{background-image:url(/v2/content/images/Buttons/185x36_redB_hover.png);}
.vbtn_red_b_md:hover{background-image:url(/v2/content/images/Buttons/185x36_redB_hover.png);}
.vbtn_red_b_md:active{background-image:url(/v2/content/images/Buttons/185x36_redB_active.png);}


/*	157x22_xxxxD_xxxx.gif	*/
.vbtn_gray_d{background-image:url(/v2/content/images/Buttons/157x22_grayD.gif);}
.vbtn_gray_d[disabled]:hover{background-image:url(/v2/content/images/Buttons/157x22_grayD.gif);}
.vbtn_gray_d_hover{background-image:url(/v2/content/images/Buttons/157x22_grayD_hover.gif);}
.vbtn_gray_d:hover{background-image:url(/v2/content/images/Buttons/157x22_grayD_hover.gif);}
.vbtn_gray_d:active{background-image:url(/v2/content/images/Buttons/157x22_grayD_active.gif);}

.vbtn_red_d{background-image:url(/v2/content/images/Buttons/157x22_redD.gif);}
.vbtn_red_d[disabled]:hover{background-image:url(/v2/content/images/Buttons/157x22_redD.gif);}
.vbtn_red_d_hover{background-image:url(/v2/content/images/Buttons/157x22_redD_hover.gif);}
.vbtn_red_d:hover{background-image:url(/v2/content/images/Buttons/157x22_redD_hover.gif);}
.vbtn_red_d:active{background-image:url(/v2/content/images/Buttons/157x22_redD_active.gif);}

/*
.vbtn_red_d_bgbl{background-image:url(/v2/content/images/Buttons/157x22_redD_onBlue.gif);}
.vbtn_red_d_bgbl[disabled]:hover{background-image:url(/v2/content/images/Buttons/157x22_redD_onBlue.gif);}
.vbtn_red_d_bgbl_hover{background-image:url(/v2/content/images/Buttons/157x22_redD_onBlue_hover.gif);}
.vbtn_red_d_bgbl:hover{background-image:url(/v2/content/images/Buttons/157x22_redD_onBlue_hover.gif);}
*/

/*	236x34_xxxxC_md_xxxx.gif	*/
.vbtn_gray_c_md{background-image:url(/v2/content/images/Buttons/236x34_grayC.gif);}
.vbtn_gray_c_md[disabled]:hover{background-image:url(/v2/content/images/Buttons/236x34_grayC.gif);}
.vbtn_gray_c_md_hover{background-image:url(/v2/content/images/Buttons/236x34_grayC_hover.gif);}
.vbtn_gray_c_md:hover{background-image:url(/v2/content/images/Buttons/236x34_grayC_hover.gif);}
.vbtn_gray_c_md:active{background-image:url(/v2/content/images/Buttons/236x34_grayC_active.gif);}

.vbtn_red_c_md{background-image:url(/v2/content/images/Buttons/236x34_redC.gif);}
.vbtn_red_c_md[disabled]:hover{background-image:url(/v2/content/images/Buttons/236x34_redC.gif);}
.vbtn_red_c_md_hover{background-image:url(/v2/content/images/Buttons/236x34_redC_hover.gif);}
.vbtn_red_c_md:hover{background-image:url(/v2/content/images/Buttons/236x34_redC_hover.gif);}
.vbtn_red_c_md:active{background-image:url(/v2/content/images/Buttons/236x34_redC_active.gif);}


/*	280x47_B.gif	*/
.vbtn_gray_b{background-image:url(/v2/content/images/Buttons/280x47_grayB.gif);}
.vbtn_gray_b[disabled]:hover{background-image:url(/v2/content/images/Buttons/280x47_grayB.gif);}
.vbtn_gray_b_hover{background-image:url(/v2/content/images/Buttons/280x47_grayB_hover.gif);}
.vbtn_gray_b:hover{background-image:url(/v2/content/images/Buttons/280x47_grayB_hover.gif);}
.vbtn_gray_b:active{background-image:url(/v2/content/images/Buttons/280x47_grayB_active.gif);}

.vbtn_red_b{background-image:url(/v2/content/images/Buttons/280x47_redB.gif);}
.vbtn_red_b[disabled]:hover{background-image:url(/v2/content/images/Buttons/280x47_redB.gif);}
.vbtn_red_b_hover{background-image:url(/v2/content/images/Buttons/280x47_redB_hover.gif);}
.vbtn_red_b:active{background-image:url(/v2/content/images/Buttons/280x47_redB_active.gif);}
