﻿.pageNumbers{ display:inline; margin:0px; }
.pageNumbers li { display: inline; padding:3px; }
.selectedPageNumber { font-weight: bold; text-decoration: none; }

.poLeft {}
.poRight{}

.pagingList {}
.pagingItem {}
    /*Pagination and search functionality */
.pagingList{list-style-type:none; display:inline; margin:0px; width:auto;padding:0px;clear:both}
.pagingItem{list-style:none; list-style-image:none; display:inline;font-size:11px;height:auto;text-align:right;}
.currentPageItem { font-weight: bold; color: #474747;}
a.currentPageItem , a:hover.currentPageItem {font-weight: bold; color: #474747; cursor: default; text-decoration: none;}
.boldBlue{font-weight:bold; color:Navy; font-size:12px;padding: 0px 0px 10px 0px;}

