﻿.jqmPopUpWindow
{
    display: none;
    position: absolute;
    top: 17%;
    left: 50%;
    margin-left: -300px;
}

#divVHMMsg
{
    font-family: Helvetica,Verdana,Geneva,Arial,Sans-Serif;
    display: none;
}

.tblVHMMsg
{
    width: 100%;
    height: 100%;
}

.tblVHMTrow
{
    height: 24px;
}

.tblVHMTcellL
{
    height: 24px;
    width: 12px;
    background: transparent url('../../images/Shared/VHMPopUp/corner-top-left.png') no-repeat bottom right;
}

.tblVHMTcellR
{
    height: 24px;
    width: 12px;
    background: transparent url('../../images/Shared/VHMPopUp/corner-delete.png') no-repeat bottom left;
    vertical-align: bottom;
}

.tblVHMTcellRCor
{
    height: 24px;
    width: 12px;
    background: transparent url('../../images/Shared/VHMPopUp/corner-top-right.png') no-repeat bottom left;
    vertical-align: bottom;
}

.tblVHMTcellC
{
    height: 24px;
    background: transparent url('../../images/Shared/VHMPopUp/side-top.png') repeat-x bottom;
}

.tblVHMCrow
{
    height: 100%;
}

.tblVHMCcellL
{
    width: 13px;
    background: transparent url('../../images/Shared/VHMPopUp/side-left.png') repeat-y right;
}

.tblVHMCcellR
{
    width: 13px;
    background: transparent url('../../images/Shared/VHMPopUp/side-right.png') repeat-y left;
}

.tblVHMCcellC
{
    background-color: #fff;
    vertical-align: top;
    text-align: left;
    color: #444;
    font-size: 13px;
    padding: 11px 20px 20px 16px;
}

.tblVHMBrow
{
    height: 12px;
}

.tblVHMBcellL
{
    height: 12px;
    width: 13px;
    background: transparent url('../../images/Shared/VHMPopUp/corner-btm-left.png') no-repeat top right;
}

.tblVHMBcellR
{
    height: 12px;
    width: 13px;
    background: transparent url('../../images/Shared/VHMPopUp/corner-btm-right.png') no-repeat top left;
}

.tblVHMBcellC
{
    height: 12px;
    background: transparent url('../../images/Shared/VHMPopUp/side-bottom.png') repeat-x top;
}

.closeButton
{
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.msgContentTitle
{
    font-size: 20px;
    color: #07375f;
}

.VHMTxtStrong
{
    line-height: 13px;
    font-weight: bold;
}

.dialog_red_width_brd
{
    background-color: White !important;
    border-width: 8px !important;
    border-radius: 12px !important;
    margin-top: 20px !important;
    padding: 5px !important;
}

.dialog_red_width_brd .ui-dialog-titlebar .ui-dialog-titlebar-close, .dialog_red_width_brd .ui-dialog-titlebar .ui-dialog-titlebar-close:hover, .dialog_red_width_brd .ui-dialog-titlebar .ui-dialog-titlebar-close:focus .dialog_red_width_brd .ui-dialog-titlebar .ui-icon, .dialog_red_width_brd .ui-dialog-titlebar .ui-icon:hover, .dialog_red_width_brd .ui-dialog-titlebar .ui-icon:focus
{
    border-color: #c40000;
    background-color: Transparent !important;
    right: -20px !important;
    top: -20px !important;
    height: 24px;
    width: 24px;
    background-image: none;
    background-position: 0px 0px;
    border: none;
}

.dialog_red_width_brd .ui-icon-closethick, .dialog_red_width_brd .ui-icon-closethick:hover, .dialog_red_width_brd .ui-icon-closethick:focus
{
    background: transparent url('../../images/Shared/VHMPopUp/corner-delete.png') no-repeat !important;
    background-color: Transparent !important;
    height: 24px;
    width: 24px;
    background-position: 0px 0px;
}

.dialog_red_width_brd .ui-widget-header
{
    background-color: White !important;
    border: none;
}

.dialog_no_close .ui-dialog-titlebar-close
{
    display: none !important;
}

.dialog_confirm .ui-dialog-content, .dialog_confirm_no_title .ui-dialog-content
{
    min-height: 30px !important;
}

.dialog_red_width_brd .ui-dialog-titlebar
{
    padding-left: 0.5em !important;
    font-size: 20px;
    color: #07375f !important;
    font-weight: bold;
}

.dialog_confirm .ui-dialog-titlebar
{
    color: #990000 !important;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.dialog_confirm_no_title .ui-dialog-titlebar
{
    display: none;
}
