<!doctype html>
<html lang="en" ng-app="FaF">
    <head>
        <title>Friends And Family</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="stylesheet" href="css/app.css"/>
        <link rel="stylesheet" href="css/bootstrap.min.css"  media="screen" />
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css" />
    
        <!--legacy styles-->
        <link rel="stylesheet" type="text/css" href="/v2/content/style/responsive.css"/>
        <link rel="stylesheet" type="text/css" href="/v2/content/style/master.css"/>
        <link rel="stylesheet" type="text/css" href="/v2/Content/Style/JQuery/jquery-ui-1.8.23.custom.css"/>
        <link rel="stylesheet" type="text/css" href="/v2/Content/themes/vhmJqueryTheme.css"/>
        <link rel="stylesheet" type="text/css" href="/v2/Content/Style/SocialStyles/style_Social.css"/>
        <link rel="stylesheet" type="text/css" href="/v2/Content/Style/SocialStyles/style_Notifications.css"/>
        <link rel="stylesheet" type="text/css" ng-href="{{'/v2/Content/themes/' + Theme.Class + '/css/theme.css'}}">
        <link rel="stylesheet" type="text/css" ng-href="{{'/v2/Content/themes/' + Theme.Class + '/css/popup.css'}}">
    </head>
    <body class="{{Theme.Class}}">
   
        <input type="hidden" id="hdnLocalizationSeemsLike"/>
        <input type="hidden" id="hdnLocalizationRefreshingPage"/>
        <div id="layoutHeader"></div>
        <div id="extendableHeader">
            <div id="extendableHeader_sub">
                <div class="left">
                </div>
                <div class="middle">
                    <div id="contentHeader">
                        <span id="lbHeader">Friends And Family</span>
                    </div>
                </div>
                <div class="right">
                </div>
            </div>
        </div>
        <div id="wrapper" class="container">
            <!--Here go the partials -->
            <div ng-view></div>
        </div>
    
        <div id="layoutFooter"></div>
    
        <div class="modal hide fade" id="ComingSoon">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Coming soon</h3>
            </div>
            <div class="modal-body">
                <p>This feature will be coming soon.</p>
            </div>
            <div class="modal-footer">
                <a data-dismiss="modal" class="btn btn-primary">Ok</a>
            </div>
        </div>

        <script src="lib/jquery/jquery.min.js"></script>
        <script src="lib/bootstrap/bootstrap.min.js"></script>
        <script src="lib/angular/angular.min.js"></script>
        <script src="lib/angular/angular-cookies.min.js"></script>
        <script src="lib/angular/angular-resource.js"></script>
        <script src="lib/angular/angular-sanitize.min.js"></script>

        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/filters.js"></script>
        <script src="js/directives.js"></script>
    
        <script type="text/javascript">
            $(document).ready(function () {
                $.ajax({
                    url: '/v2/layout/Header',
                    cache: false,
                    success: function (header) {
                        $("#layoutHeader").html(header);
                    }
                });
                $.ajax({
                    url: '/v2/layout/Footer',
                    cache: true,
                    success: function (footer) {
                        $("#layoutFooter").html(footer);
                    }
                });
            });
        </script>
        
        <script type="text/javascript" src="/challenge/Scripts/jquery-migrate-1.2.1.js"></script>
        <script type="text/javascript" src="/v2/Scripts/jquery-ui-1.8.23.min.js"></script>
        <script type="text/javascript" src="/v2/Scripts/jQuery/jquery.vhm.plugins.js"></script> 
        <script type="text/javascript" src="/v2/Scripts/lib/core.js"></script> 
        <script type="text/javascript" src="/v2/Scripts/VHM/social/social_notifications.js"></script> 
        <script type="text/javascript" src="/v2/Scripts/VHM/social/socialGroups.js"></script> 
        <script type="text/javascript" src="/v2/Scripts/VHM/social/social_newsFeed.js"></script> 
        <script type="text/javascript" src="/v2/Scripts/VHM/VHMNotifications.js"></script> 
    
        <script src='https://ssl.google-analytics.com/ga.js' type='text/javascript'></script>
        <script type="text/javascript">
            var pageTracker = {};

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-5436731-1']);

            var pageTracker = _gat._getTracker("UA-5436731-1");
            pageTracker._trackPageview();
        </script>

    </body>
</html>
