﻿<!--http://share.axure.com/RF63PE/#p=create_challenge-->

<h2 class="mgrPageHeader mgrListPageHeader header-yellow">MY CHALLENGES</h2>

<a class="headerLink" ng-href="#/step1/">Add a challenge</a>
<div class="searchBar">
    <input type="text" id="search" placeholder="search" ng-model="SearchText" /><img ng-src="img/search.png" class="searchIcon" />
</div>
<hr/>
<table class="challengeList">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td class="paging" colspan="6">
                <div class="pagination">
                    <ul>
                        <li ng-repeat="page in Model.Pages" ng-click="SetPage(Model.Pages.indexOf(page))" ng-class="{selected: Model.Pages.indexOf(page)==CurrentPage}">
                            {{Model.Pages.indexOf(page) + 1}}
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </tfoot>
    <tbody>
        <tr ng-repeat="challenge in Model.Pages[CurrentPage] | filter:SearchText">
            <td>{{challenge.Name}}</td>
            <td>{{challenge.Status}}</td>
            <td>{{challenge.Type}}</td>
            <td>{{challenge.StartDate}}</td>
            <td>{{challenge.EndDate}}</td>
            <td>
                <img ng-show="challenge.Status == 'Pending'" ng-src="img/edit.png" ng-click="EditChallenge(challenge)" title="Edit" />
                <img ng-show="challenge.Status != 'Completed' && challenge.Status != 'Cancelled'" ng-src="img/delete.png" ng-click="CancelChallenge(challenge)" title="Delete" />
            </td>
        </tr>
    </tbody>
</table>
