﻿<!--http://share.axure.com/RF63PE/#p=create_challenge-->

<h2 class="mgrPageHeader mgrSelectSponsorPageHeader header-yellow">SELECT A SPONSOR</h2>

<div class="pull-left work-area">
    <fieldset>

        <label for="SponsorID">Sponsor ID</label>
        <input type="text" id="SponsorID" placeholder="Spnosor ID" ng-model="SearchText" />
    </fieldset>
    <fieldset>
        <label for="SponsorID">Name</label>
        <input type="text" id="SponsorName" placeholder="Sponsor Name" ng-model="SearchText" />
    </fieldset>
    <fieldset>
        <a ng-href="#/step1/{{Model.Challenge.ChallengeId}}" class="btn yellow-button pull-left">Search</a>
    </fieldset>
</div>
       
        <table class="challengeList">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>ID</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td class="paging" colspan="2">
                        <div class="pagination">
                            <ul>
                                <li ng-repeat="page in Model.Pages" ng-click="SetPage(Model.Pages.indexOf(page))" ng-class="{selected: Model.Pages.indexOf(page)==CurrentPage}">
                                    {{Model.Pages.indexOf(page) + 1}}
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                <tr ng-repeat="challenge in Model.Pages[CurrentPage] | filter:SearchText">
                    <td>{{challenge.Name}}</td>
                    <td>{{challenge.Status}}</td>
                    <td>{{challenge.Type}}</td>
                    <td>{{challenge.StartDate}}</td>
                    <td>{{challenge.EndDate}}</td>
                    <td>
                        <img ng-show="challenge.Status == 'Pending'" ng-src="img/edit.png" ng-click="EditChallenge(challenge)" />
                        <img ng-show="challenge.Status != 'Completed'" ng-src="img/delete.png" ng-click="CancelChallenge(challenge)" />
                    </td>
                </tr>
            </tbody>
        </table>
