﻿<h2 class="mgrPageHeader header-yellow">TEAMS</h2>
<h4 class="mgrSubHeader header-yellow">STEP <strong>3</strong> of 6</h4>
<hr />
<div class="pull-left work-area">
    <fieldset>
        <ul>
            <li>
                <label class="bold">How do you want teams to be created?</label>
                <input type="radio" name="teamCreationType" id="creationTypePlayer" ng-model="Model.Challenge.TeamCreationType" value="MANUAL" />
                <label class="radioLabel radioLabelWide" for="creationTypePlayer">Players can create their own teams</label>
            </li>
            <li class="options">
                <input type="radio" name="teamCreationType" id="creationTypeRandom" ng-model="Model.Challenge.TeamCreationType" value="AUTO_ASSIGN_RANDOM" />
                <label class="radioLabel radioLabelWide" for="creationTypeRandom">Generate random teams</label>
                <ul>
                    <li>
                        <input class="input-mini" ng-model="Model.Challenge.TellAFriendPonts" type="text" id="tellAFriendPoints" />
                        <label class="radioLabel radioLabelXWide">players on each individual team</label>
                    </li>
                    <li>
                        <input type="checkbox" /><label class="radioLabel radioLabelXWide">Allow captains to create team names (Defaults: Team 1, Team 2, etc)</label>
                    </li>
                </ul>
            </li>
            <li>
                <input type="radio" name="teamCreationType" id="creationTypeAssgned" ng-model="Model.Challenge.TeamCreationType" value="MANUAL_PLAYER_DEFINED" />
                <label class="radioLabel radioLabelWide" for="creationTypeAssgned">Assign teams according to member criteria</label>
            </li>
            <li>
                <input type="radio" name="teamCreationType" id="creationTypeNone" ng-model="Model.Challenge.TeamCreationType" value="NONE" />
                <label class="radioLabel radioLabelWide" for="creationTypeNone">No teams, individual players only</label>
            </li>
        </ul>
    </fieldset>
    <div class="mgrNav">
        <a ng-href="#/step2/{{Model.Challenge.ChallengeId}}" class="btn gray-button pull-left">< Back</a>
        <a ng-href="#/step4/{{Model.Challenge.ChallengeId}}" class="btn yellow-button pull-right">Next ></a>
    </div>
</div>