﻿<h2 class="mgrPageHeader header-yellow">PLAYER POPULATION</h2>
<h4 class="mgrSubHeader header-yellow">STEP <strong>4</strong> of 6</h4>
<hr />
<div class="pull-left work-area">
    <fieldset>
        <ul>
            <li>
                <label class="bold">Who do you want to invite to this challenge?</label>
                <input type="radio" name="inviteType" id="inviteTypeAll" ng-model="Model.Challenge.InviteType" value="ALL" />
                <label class="radioLabel radioLabelWide" for="inviteTypeAll">Invite all members from this sponsor</label>
            </li>
            <li>
                <input type="radio" name="inviteType" id="inviteTypeManual" ng-model="Model.Challenge.InviteType" value="MANUAL" />
                <label class="radioLabel radioLabelWide" for="inviteTypeManual">Upload a list of members to invite</label>
                <ul>
                    <li>
                        <label class="radioLabel radioLabelWide bold">Who do you want to invite to this challenge?</label>
                        <input type="file" />
                    </li>
                    <li>
                        <div class="small-text directions">
                            Make sure your file contains a column for member IDs [or email addresses]
                            and a column for "Group", which will be used to form teams in this challenge
                        </div>
                        <div class="small-text directions">
                            Need help? <a class="btn btn-link small-text">Download List Template</a>
                        </div>
                    </li>
                    <li>
                        <input type="button" class="btn yellow-button" value="Upload" />
                    </li>
                </ul>
            </li>
        </ul>
    </fieldset>
    <div class="mgrNav">
        <a ng-href="#/step3/{{Model.Challenge.ChallengeId}}" class="btn gray-button pull-left">< Back</a>
        <a ng-href="#/step5/{{Model.Challenge.ChallengeId}}" class="btn yellow-button pull-right">Next ></a>
    </div>
</div>