﻿<h2 class="mgrPageHeader header-yellow">CHALLENGE REWARDS</h2>
<h4 class="mgrSubHeader header-yellow">STEP <strong>2</strong> of 6</h4>
<hr />
<div class="pull-left work-area">
    <fieldset>
        <label for="challengeName">Which badge do you want to award for participating?</label>
        <ul class="AvailableBadgeList">
            <li ng-repeat="badge in Model.AvailableBadges">
                <img ng-class="{selected: badge.Selected}" ng-src="{{badge.Url}}" alt="{{badge.Title}}" title="{{badge.Title}}" badgeid="{{badge.BadgeId}}" />
            </li>
        </ul>
        <p>
            <a class="btn btn-link">Upload your own</a> (must be: 50 x 50 - PNG, JPG, GIF)
        </p>
    </fieldset>
    <fieldset>
        <label class="inline" for="rewardType">Reward Type:</label>
        <select class="inline" id="rewardType" ng-model="Model.Challenge.RewardType" ng-options="c.Type as c.Description for c in Model.RewardTypes"></select>
        <select class="inline" id="rewardSubType" ng-model="Model.Challenge.RewardSubType" ng-options="c.Type as c.Description for c in Model.RewardSubTypes"></select>
    </fieldset>
    <fieldset class="options">
        <label class="inline" for="firstEntryPoints">First Entry:</label>
        <input class="inline input-small" ng-model="Model.Challenge.FirstEntryPoints" type="text" id="firstEntryPoints" /> <span>points</span>
    </fieldset>
    <fieldset class="options">
        <label class="inline" for="firstEntryPoints">Tell a Friend:</label>
        <input class="inline input-small" ng-model="Model.Challenge.TellAFriendFrequency" type="text" id="tellAFriendFrequency" />
        X
        <input class="inline input-small" ng-model="Model.Challenge.TellAFriendPonts" type="text" id="tellAFriendPoints" /><span>points</span>
    </fieldset>
    <fieldset class="options">
        <label class="inline" for="firstEntryPoints">1/2 Completion:</label>
        <input class="inline input-small" ng-model="Model.Challenge.HalfDonePoints" type="text" id="halfDonePoints" /> <span>points</span>
    </fieldset>
    <fieldset class="options">
        <label class="inline" for="firstEntryPoints">Full Completion:</label>
        <input class="inline input-small" ng-model="Model.Challenge.AllDonePoints" type="text" id="allDonePoints" /> <span>points</span>
    </fieldset>
    <div class="mgrNav">
        <a ng-href="#/step1/{{Model.Challenge.ChallengeId}}" class="btn gray-button pull-left">< Back</a>
        <a ng-href="#/step3/{{Model.Challenge.ChallengeId}}" class="btn yellow-button pull-right">Next > </a>
    </div>
</div>