﻿<h2 class="mgrPageHeader header-yellow">CHALLENGE DETAILS</h2>
<div class="alert" ng-show="Model.Challenge.IsValid==false">
    The following fields are required:
    <ul>
        <li ng-repeat="error in Model.Challenge.Errors">{{error}}</li>
    </ul>
</div>
<h4 class="mgrSubHeader header-yellow">STEP <strong>1</strong> of 6</h4>
<hr/>
<div class="pull-left work-area">
    <fieldset>
        <label for="challengeName">What's the Challenge Name?</label>
        <input class="input-xxlarge" ng-model="Model.Challenge.Name" type="text" id="challengeName" ng-required="true" />
    </fieldset>
    <fieldset>
        <label for="goal">What's the Challenge Goal?</label>
        <select id="goal" ng-model="Model.Challenge.ChallengeType" ng-options="c.Type as c.Description for c in Model.ChallengeTypes" ng-required="true"></select>
    </fieldset>
    <div ng-show="Model.Challenge.ChallengeType=='TRK'">
        <fieldset class="options">
            <label for="question">What's the challenge question?</label>
            <textarea id="question" ng-model="Model.Challenge.ChallengeQuestions[0].Question" placeholder="Did you bring your lunch today?" ng-required="true"></textarea>
        </fieldset>
        <fieldset class="options">
            <label>What's the target answer type?</label>
            <input ng-required="true" ng-change="Model.Challenge.SetPromptType()" type="radio" name="answerType" id="answerTypeYesNo" ng-model="Model.Challenge.ChallengeQuestions[0].AnswerType" value="YNO" /><label class="radioLabel" for="answerTypeYesNo">Yes or No</label>
            <input ng-required="true" ng-change="Model.Challenge.SetPromptType()" type="radio" name="answerType" id="answerTypeNumeric" ng-model="Model.Challenge.ChallengeQuestions[0].AnswerType" value="NUM" /><label class="radioLabel" for="answerTypeNumeric">A Number</label>
            
            <fieldset ng-show="Model.Challenge.ChallengeQuestions[0].AnswerType == 'NUM'" style="margin-left: 133px;margin-top: auto">
                <input type="radio" name="targetType" id="moreThen" ng-model="Model.Challenge.ChallengeQuestions[0].TargetType" value="More" /><label style="width: auto" class="radioLabel" for="moreThen">More then</label>
                <input type="radio" name="targetType" id="lessThen" ng-model="Model.Challenge.ChallengeQuestions[0].TargetType" value="Less" /><label style="width: auto" class="radioLabel" for="lessThen">Less than</label>
                <input style="margin-left:3px;width: 50px" type="text" placeholder="target" ng-model="Model.Challenge.ChallengeQuestions[0].MaxValue"/>
            </fieldset>
        </fieldset>
        <fieldset class="options">
            <label for="description">Challenge Description</label>
            <textarea ng-model="Model.Challenge.RulesCopy" id="description" ng-required="true"></textarea>
        </fieldset>
        <fieldset class="options">
            <label class="inline" for="periodFrom">Sign up Period:</label>
            <input class="datePicker" type="text" id="periodFrom" ng-model="Model.Challenge.SignUpStart" bs-datepicker ng-required="true" />
            <span>to</span>
            <input class="datePicker" type="text" id="periodTo" ng-model="Model.Challenge.SignUpDeadline" bs-datepicker ng-required="true" />
        </fieldset>
        <fieldset class="options">
            <label class="inline" for="startDate">Challenge Duration:</label>
            <input class="datePicker" type="text" id="startDate" ng-model="Model.Challenge.StartDate" bs-datepicker ng-required="true" />
            <span>to</span>
            <input class="datePicker" type="text" id="endDate" ng-model="Model.Challenge.EndDate" bs-datepicker ng-required="true" />
        </fieldset>
        <fieldset class="options">
            <label class="inline" for="deadline">Tracking Deadline:</label>
            <input class="datePicker" type="text" id="deadline" ng-model="Model.Challenge.UploadDeadline" bs-datepicker ng-required="true" />
        </fieldset>
        <fieldset class="options">
            <label class="inline">Chat:</label>
            <input type="radio" name="chat" id="Chat_yes" ng-value="1" ng-model="Model.Challenge.IsChatEnabled" ng-required="true" /><label class="radioLabel" for="Chat_yes">Enabled</label>
            <input type="radio" name="chat" id="Chat_no" ng-value="0" ng-model="Model.Challenge.IsChatEnabled" ng-required="true" /><label class="radioLabel" for="Chat_no">Disabled</label>
        </fieldset>
        <fieldset class="options">
            <label class="inline">Leaderboard:</label>
            <input type="radio" name="leaderBoard" id="LeaderBoard_yes" ng-value="1" ng-model="Model.Challenge.Leaderboard" ng-required="true" /><label class="radioLabel" for="LeaderBoard_yes">Enabled</label>
            <input type="radio" name="leaderBoard" id="LeaderBoard_no" ng-value="0" ng-model="Model.Challenge.Leaderboard" ng-required="true" /><label class="radioLabel" for="LeaderBoard_no">Disabled</label>
        </fieldset>
    </div>
    <div class="mgrNav">
        <a ng-href="#/list" class="btn gray-button pull-left">< Cancel</a>
        <a ng-click="Model.Save(Model.Challenge)" ng-href="#/step2/{{Model.Challenge.ChallengeId}}" class="btn yellow-button pull-right" ng-show="Model.Challenge.ChallengeType.length > 0">Next ></a>
    </div>
</div>
