﻿<h2 class="mgrPageHeader header-yellow">INVITATION</h2>
<h4 class="mgrSubHeader header-yellow">STEP <strong>5</strong> of 6</h4>
<hr />
<div class="pull-left work-area">
    <fieldset class="options">
        <label for="details">Challenge Details</label>
        <textarea id="details" ng-model="Model.Challenge.Details" placeholder="Describe prizes, rules, or other details that you'd like all invitees to know about this challenge"></textarea>
    </fieldset>
    <fieldset class="options">
        <label for="message">Invitation Email Message</label>
        <textarea id="message" ng-model="Model.Challenge.Message" placeholder="Enter a message to be included in the invitation email"></textarea>
    </fieldset>
    <div class="mgrNav">
        <a ng-href="#/step4/{{Model.Challenge.ChallengeId}}" class="btn gray-button pull-left">< Back</a>
        <a ng-href="#/list/{{Model.sponsorId}}" class="btn gray-button pull-left">Return To List</a>
    </div>
</div>