.gfg-root {
  width : auto;
  height : auto;
  position : relative;
  overflow : hidden;
  text-align : left;
  padding-top: 3px;
  border: 1px solid #dddddd;
  border-top:0;
}

.gfg-title {
  font-size: 14px;
  font-weight : bold;
  color : #3366cc;
  background-color: #E5ECF9;
  line-height : 1.4em;
  overflow : hidden;
  white-space : nowrap;
  display: none;
}

.gfg-title a {
  color : #3366cc;
}

.feed-title
{
	color:Blue;
}
.style {color:Blue;}

.gfg-subtitle {
  font-size: 12px;
  font-weight : bold;
  color : #3C3E42;
  background:#9CCDDF url(images/headerBGgray.png) repeat-x scroll 0 0;
  line-height : 1.4em;
  overflow : hidden;
  padding-left: 4px;
  white-space : nowrap;
  margin-bottom : 5px;
}

.gfg-subtitle a {
  color : #3C3E42;
}
.gfg-subtitle a:hover {
	color : #3C3E42;
	text-decoration:underline;
}
	

.gfg-entry {
  background-color : white;
  width : 100%;
  height : 10em;
  position : relative;
  overflow : hidden;
  text-align : left;
  margin-top : 3px;
  font-size: 10px;
}

/* To allow correct behavior for overlay */
.gfg-root .gfg-entry .gf-result {
  position : relative;
  background-color : white;
  width : auto;
  height : 100%;
  padding-left : 5px;
  padding-right : 5px;
}

.gfg-list {
  position : relative;
  overflow : hidden;
  text-align : left;
  margin-bottom : 5px;
}

.gfg-listentry {
  line-height : 1.5em;
  overflow : hidden;
  white-space : nowrap;
  text-overflow : ellipsis;
  -o-text-overflow : ellipsis;
  padding-left : 8px;
  padding-right : 5px;
  margin-left : 3px;
  margin-right : 5px;
}
.gfg-listentry a {
	color:#3C3E42;
}
.gfg-listentry a:hover {
	color:#3C3E42;
	text-decoration:underline;
}
.gfg-listentry-odd {
  background-color : #F6F6F6;
}

.gfg-listentry-even {
}

.gfg-listentry-highlight { 
  background: transparent url(images/bulletSmBlue.png) no-repeat scroll center left;
}
.gfg-listentry-highlight a {
	color:#399BC0;
}

/*
 * FeedControl customizations.
 */

.gfg-root .gfg-entry .gf-result .gf-title {
  font-size: 14px;
  line-height : 1.2em;
  overflow : hidden;
  white-space : nowrap;
  text-overflow : ellipsis;
  -o-text-overflow : ellipsis;
  margin-bottom : 2px;
}

.gfg-root .gfg-entry .gf-result .gf-snippet {
  height : 3.8em;
  color: #000000;
  margin-top : 3px;
}

/*
 * Easy way to get horizontal mode, applicable via js options to gadget.
 */

.gfg-horizontal-container {
  position : relative;
}

.gfg-horizontal-root {
  height : 1.5em;
  _height : 100%;
  position : relative;
  white-space : nowrap;
  overflow : hidden;
  text-align : center;
  font-family: "Arial", sans-serif;
  font-size: 13px;
  border: 1px solid #AAAAAA;
  padding : 5px;
  margin-right : 80px;
}

.gfg-horizontal-root .gfg-title {
  font-weight : bold;
  background-color: #FFFFFF;
  line-height : 1.5em;
  overflow : hidden;
  white-space : nowrap;
  float : left;
  padding-left : 10px;
  padding-right : 12px;
  border-right: 1px solid #AAAAAA;
}

.gfg-horizontal-root .gfg-title a {
  color : #444444;
  text-decoration : none;
}

.gfg-horizontal-root .gfg-entry {
  width : auto;
  height : 1.5em;
  position : relative;
  overflow : hidden;
  text-align : left;
  margin-top : 0px;
  margin-left : 0px;
  padding-left : 10px;
}

/* To allow correct behavior for overlay */
.gfg-horizontal-root .gfg-entry .gf-result {
  position : relative;
  background-color : white;
  width : 100%;
  height : 100%;
  line-height : 1.5em;
  overflow : hidden;
  white-space : nowrap;
}

.gfg-horizontal-root .gfg-list {
  display : none;
}

/*
 * FeedControl customizations.
 */

.gfg-horizontal-root .gfg-entry .gf-result .gf-snippet,
.gfg-horizontal-root .gfg-entry .gf-result .gf-author {
  display : none;
}

.gfg-horizontal-root .gfg-entry  .gf-result .gf-title {
  color: #0000cc;
  margin-right : 3px;
  float : left;
}

.gfg-horizontal-root .gfg-entry .gf-result .gf-spacer {
  float : left;
}

.gfg-horizontal-root .gfg-entry .gf-result .gf-spacer,
.gfg-horizontal-root .gfg-entry .gf-result .gf-relativePublishedDate {
  display : block;
  color: #AAAAAA;
}

.gfg-branding {
  white-space : nowrap;
  overflow : hidden;
  text-align : left;
  position : absolute;
  right : 0px;
  top : 0px;
  width : 80px;
}

.gfg-collapse-open, .gfg-collapse-closed {
  background-repeat : no-repeat;
  background-position : center;
  cursor : pointer;
  float : right;
  width : 17px;
  height : 20px;
}

.gfg-collapse-open {
  background-image : url('arrow_open.gif');
}

.gfg-collapse-closed {
  background-image : url('arrow_close.gif');
}

.gfg-collapse-href {
  float : left;
}

.clearFloat {
  clear : both;
}

.twit h3.header {font-size: 1.1em; font-weight: bold; padding: 4px; margin-bottom:0;}
.twit h3.header.pink{ background: transparent url(images/headerBGpink.png) repeat-x;}

div.message_content{ background: none; padding: 0; width: auto; }


.message_bottom{ background: transparent url(images/message_bottom.png) no-repeat; height: 12px; margin-bottom: 10px; width: 320px; }

div.todays_events_text{width: auto; color: #0e5aa7;}

div.CBEdit .CBEditControls
{
	text-align: right;
	margin: .25em 0 0;
}
.twit 
{
	width: 100%;
	margin-bottom: 10px;
}

.nofeeds
{
	color: #676767; 
	font-size: 11px; 
	margin: 10px; 
	padding: 4px;
}
.feedblock
{
	color:Blue;
}

.PreferenceListDown 
{float:left;display:block;height:16px;width:16px;background-image : url(../../workarea/images/UI/Icons/arrowDownRed.png); background-repeat:no-repeat; font-size:xx-small;} 

.PreferenceListUp
{float:left;display:block;height:16px;width:16px;background-image : url(../../workarea/images/UI/Icons/arrowUp.png); background-repeat:no-repeat; font-size:xx-small;} 

.PreferenceListDownDisabled 
{float:left;display:block;height:16px;width:16px;background-image : url(../../workarea/images/UI/Icons/arrowDownOff.png); background-repeat:no-repeat; font-size:xx-small;} 


.PreferenceListUpDisabled
{float:left;display:block;height:16px;width:16px;background-image : url(../../workarea/images/UI/Icons/arrowUpOff.png); background-repeat:no-repeat; font-size:xx-small;} 
