﻿/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

a.slideNav:hover {
	text-decoration: none;	
}
.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}	 
.pageJump {
	padding: 5px;
}
.switch {
	position: relative;
}
.animate-enter {
	-webkit-transition: 1s linear all; /* Chrome */
	transition: 1s linear all;
	opacity: 0;
}
 
.animate-enter.animate-enter-active {
	opacity: 1;
}

.Red {
	background-image: url('/v2/Content/themes/red/images/site-background-image.jpg');
	background-repeat: no-repeat;
}
.Blue {
	background-image: url('/v2/Content/themes/blu/images/site-background-image.jpg');
	background-repeat: no-repeat;
}
.Int {
	background-image: url('/v2/Content/themes/int/images/site-background-image.jpg');
	background-repeat: no-repeat;
}