<%@ Page Language="C#" AutoEventWireup="true" Inherits="Workarea_DmsMenu_menuActions_WorkareaRedirect" Codebehind="WorkareaRedirect.aspx.cs" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Ektron DMS Menu</title>
</head>
<body>
    <form id="form1" runat="server">
        <h1>Ektron Dms Menu</h1>
    </form>
</body>
</html>
