﻿@using Vhm.Web.Common
@using System.Web.Optimization
@model Vhm.Web.Models.ViewModels.Member.LandingPageVM
<!DOCTYPE html>
@{
    var resourceVersion = ApplicationSettings.CachedResourceVersion;
    var background = ApplicationSettings.SiteBackgroundURL;
    string cash = string.Empty;
}
<html>
<head>
    <script type="text/javascript">
        var showPopUpForTermsPage = @Html.Raw(Model.ShowPopUpForTermsPage.ToString().ToLower());
        var showPopUpForTermsToAcknowledge = @Html.Raw(Model.ShowPopUpForTermsToAcknowledge.ToString().ToLower());
        var hraSetting = '@Model.HRASetting';
    </script>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=1000, initial-scale=1.0">
    <meta name="keywords" content="@ViewBag.OldSiteUrl, Health, Wellness, Rewards, Incentive, Pedometer, Active, Challenge" />
    <meta name="description" content="@ViewBag.CompanyName is a rewards program that works kind of like a frequent flier program, only you don't get rewarded for flying or using a credit card. You get rewarded for getting active. You get great rewards for making small choices that go a long way toward a healthier you." />
    <title>Landing Page - Virgin Pulse</title>
    @Styles.Render("~/Content/Style/LandingPageV3/landingpagev3CSS?v=" + resourceVersion)
    <link rel="stylesheet" type="text/css" href="@Url.Content(string.Format("~/Content/themes/{0}/css/theme.css?v={1}", @Model.ThemeCode.ColorThemeCode, resourceVersion))" />
    @Scripts.Render("~/Scripts/LandingPageV3/landingpageV3JS?v=" + resourceVersion)
    <script type="text/javascript" src="https://assets­-ssl.myfitnesspal.com/javascripts/mfp.1.0.0.js"></script>

    <script type="text/javascript">
        //localization plugin init
        i18n.init(function (t) { });
    </script>
    <!--[if lte IE 9]>
            <script src="../Scripts/LandingPageV3/Plugins/html5shiv.js?version=@resourceVersion"></script>
            <script src="../Scripts/LandingPageV3/Plugins/respond.src.js?version=@resourceVersion"></script>
        <![endif]-->
    
    

    <script type="text/javascript">
    var showExpressWJ = '@Model.ShowExpressWelcomeJourney';
    var ShowWelcomeJourney = '@Model.ShowWelcomeJourney';
    var selfEnteredActivity = '@Model.SelfEnteredActivityEnabled';

        $(document).ready(function () {
            if (showExpressWJ.toLowerCase() == 'true') {
                $("#ExpressWelcomeJourneyContent").load("ExpressWelcomeJourney", function () {

                    var isIE8 = $.browser.msie && $.browser.version == '8.0';
                    if ( !isIE8 ) {
                        $("#ExpressWelcomeJourney").i18n({ ns: 'LocalizationLibrary' });// this fails in ie8
                    } 

                    $("#ExpressWelcomeJourney").modal({
                        keyboard: false,
                        backdrop: 'static',
                        show: true
                    });
                    $(".carousel").carousel({ interval: false });
                    $("#wjPev").click(function () {
                        $(".carousel").carousel(0);
                    });
                    $("#wjNext").click(function () {
                        $(".carousel").carousel(1);
                    });

                });
            }
            if (ShowWelcomeJourney.toLowerCase() == 'true') {

                $("#divWelcomeJourneyV3").modal({
                    keyboard: false,
                    backdrop: 'static',
                    show: true
                });
            }
            $( "#self-entered-activity-enabled" ).val( selfEnteredActivity );
        });
        var initSelfEnteredActivity = function() {
            if ( selfEnteredActivity.toLowerCase() == 'true' ) {
                var error = function () {
                };
                var f = function () {
                    $("#AL-ActivityList2")[0].selectedIndex = -1;
                };

                VHM.AL.MemberActivityListAL = VHM.AL.GetActivityList(VHM.AL.PopulateActivitiesAL, error);
                VHM.Core.Util.ExecFuncWhenCondition(f, function () {
                    return (VHM.AJ.MemberActivityListAL);
                });
            }
        };
</script>
    <script type="text/javascript">
        //localization plugin init
        i18n.init(function (t) {
            $("body").i18n({ ns: "LocalizationLibrary" });
        });
    </script>
    <script type="text/javascript">(function() {var walkme = document.createElement('script'); walkme.type = 'text/javascript'; walkme.async = true; walkme.src = 'https://d3b3ehuo35wzeh.cloudfront.net/users/0ea1430813424357988a7d2edefb7e14/walkme_0ea1430813424357988a7d2edefb7e14_https.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(walkme, s);})();</script>

</head>
<body class="background-pattern">
    @Html.Action("HeaderV3", "Layout")
    <span class="js-gradient-color"></span>
    <div class="main-body">
        <div class="alert alert-info thicker-info" id="alert-classic-site">
            @Html.Action("RichContent", "Content", new { @contentAreaType = "HomepageTicker", @sponsorSpecific = true })
        </div>
        <div class="top-bg">
        </div>
        <div class="content-bg">
            <div class="content-holder">
                <div class="row span9" style="margin-top: 25px;">
                    <input type="hidden" id="self-entered-activity-enabled" />
                    <div class="span6">
                        <h2 class="gold" data-i18n="[html]WolverineLandingPage.GlobalTitles.WhatImTrackingToday">
                            WHAT I'M TRACKING TODAY</h2>
                        <div class="accordion" id="landing-accordion">
                            @if (Model.SelfEnteredActivityEnabled)
                            {
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle accordion1" data-toggle="collapse" data-parent="#landing-accordion"
                                           href="#collapseOne">
                                            <div class="openClosed"><i class="icon-minus accordion-icon"></i>
                                            </div>
                                            <span data-i18n="WolverineLandingPage.GlobalTitles.PhysicalActivity">PHYSICAL ACTIVITY</span></a>
                                        
                                    </div>
                                    <div id="collapseOne" class="accordion-body collapse">
                                        <div class="accordion-inner">
                                            @Html.Partial("LandingPageV3/Partials/_AccordionActivity")
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (Model.NutritionEnabled)
                            {
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle accordion2" data-toggle="collapse" data-parent="#landing-accordion"
                                           href="#collapseNtr">
                                            <div class="openClosed"><i class="icon-plus accordion-icon"></i>
                                            </div>
                                            <span data-i18n="WolverineLandingPage.GlobalTitles.Nutrition">NUTRITION</span></a>
                                       
                                    </div>
                                    <div id="collapseNtr" class="accordion-body collapse">
                                        <div class="accordion-inner">
                                            @Html.Partial("LandingPageV3/Partials/_AccordionNutrition")
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (Model.SelfTrackingChallengesEnabled)
                            {
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle accordion2" data-toggle="collapse" data-parent="#landing-accordion"
                                           href="#collapseTwo">
                                            <div class="openClosed"><i class="icon-plus accordion-icon"></i>
                                            </div>
                                            <span data-i18n="WolverineLandingPage.GlobalTitles.SelfTrackingChallenges">SELF TRACKING
                                                CHALLENGES</span>
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="accordion-body collapse">
                                        <div class="accordion-inner no-padding">
                                            @Html.Partial("LandingPageV3/Partials/_AccordionSelfTracking")
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (Model.SelfEnteredActivityEnabled)
                            {
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle accordion3" data-toggle="collapse" data-parent="#landing-accordion"
                                           href="#collapseThree">
                                            <div class="openClosed"><i class="icon-plus accordion-icon"></i>
                                            </div>
                                            <span data-i18n="WolverineLandingPage.GlobalTitles.ActivityChallenges">ACTIVITY CHALLENGES</span>
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="accordion-body collapse">
                                        <div class="accordion-inner" style="padding:0px;">
                                            @Html.Partial("LandingPageV3/Partials/_AccordionChallenge")
                                        </div>
                                    </div>
                                </div>
                            }
                            @if (Model.MeasurementsEnabled)
                            {
                                <div class="accordion-group">
                                    <div class="accordion-heading">
                                        <a class="accordion-toggle accordion4" data-toggle="collapse" data-parent="#landing-accordion"
                                           href="#collapseFour">
                                            <div class="openClosed"><i class="icon-plus accordion-icon"></i>
                                            </div>
                                            <span data-i18n="WolverineLandingPage.GlobalTitles.Measurements">MEASUREMENTS</span>
                                        </a>
                                    </div>
                                    <div id="collapseFour" class="accordion-body collapse">
                                        <div class="accordion-inner">
                                            @Html.Partial("LandingPageV3/Partials/_AccordionMeasurement", Model)
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div id="upForGrabs" class="test">
                            <h2 class="gold" data-i18n="WolverineLandingPage.GlobalTitles.WhatCanYouDoNextTitle">
                                WHAT CAN YOU DO NEXT ?</h2>
                            <div class="upForGrabsNoData" data-bind="template: { name: 'upForGrabsNoData', 'if': hasNoRewards }">
                            </div>
                            <div id="upForGrabsSectionWhatNext" class="landingPageSection" data-bind="template: { name: 'grabs-template', 'foreach': Grabs }">
                            </div>
                        </div>
                        <div>
                            <a id="upForGrabs-ShowMore" class="pull-right" href="#ShowMore" data-i18n="WolverineLandingPage.GlobalLabels.ShowMore">
                                Show more</a></div>
                        <div id="recentActivityList">
                            <h2 class="gold" data-i18n="[html]WolverineLandingPage.GlobalTitles.WhatHaveYouDoneRecently">
                                WHAT HAVE YOU DONE RECENTLY ?</h2>
                            @if (Model.RecentlyEarnedRewardsNoBadges.Count == 0)
                            {
                                <div class="upForGrabsNoData" data-i18n="[html]WolverineLandingPage.GlobalMessages.WhatHaveYouDoneRecentlyNoData">
                                    Well, not a whole lot. But that’s easy to change! Try 
                                    <a href="/secure/challenge/create.aspx">creating a new challenge</a>, or 
                                    <a href="/secure/member/activityjournal.aspx">logging your activity in the Activity Journal</a>.
                                </div>
                                <script>                                    $(document).ready(function () { $('#recentActivityList-ShowMore').hide(); }); </script>
                            }
                            else
                            {
                                <div id="upForGrabsSection" class="landingPageSection">
                                    @foreach (var recentItem in Model.RecentlyEarnedRewardsNoBadges)
                                    {
                                        <div class="upForGrabsItemRecently">
                                            <h2>@recentItem.Name</h2>
                                            @if (recentItem.Rewards.Count > 0 && @recentItem.RewardType.Trim().Equals("Text Only", StringComparison.InvariantCultureIgnoreCase))
                                            {
                                                @recentItem.Rewards[0].Text
                                            }
                                            else
                                            {
                                                <span data-i18n="WolverineLandingPage.MiscLabels.YouHaveEarned">You've earned</span>
                                                if ( @recentItem.Amount == 0 && @recentItem.RewardType.ToLower() == "badge" )
                                                {
                                                    <span class='grabPoints' data-i18n="WolverineLandingPage.MiscLabels.ABadge">a Badge</span>
                                                }
                                                else
                                                {
                                                    <span class='grabPoints'>@recentItem.Amount @recentItem.RewardType</span>
                                                }
                                                <span data-i18n="WolverineLandingPage.MiscLabels.On">on</span>
                                                @recentItem.DateEarned.Value.ToShortDateString()
                                                <span data-i18n="WolverineLandingPage.MiscLabels.ByCompletingThisActivity">by completing this activity!</span>
                                            }
                                            <div class="clearfix">
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                        @if (Model.RecentlyEarnedRewardsNoBadges.Count > 3)
                        {
                            <div>
                                <a id="recentActivityList-ShowMore" class="pull-right" href="#ShowMore" data-i18n="WolverineLandingPage.GlobalLabels.ShowMore">
                                    Show more</a></div>
                        }
                        @*<script type="text/html" id="upForGrabsNoData">*@
                            <div id="upForGrabsNoData"  data-i18n="[html]WolverineLandingPage.GlobalMessages.WhatCanYouDoNextNoData" style="display: none">
                                <a href="/secure/challenge/create.aspx">Create a new challenge!</a> <a href="/secure/member/activityjournal.aspx">Log activity in your Activity Journal!</a>
                                <span>Don’t stop now – there are plenty of ways to keep earning points.</span>
                            </div>
                        @*</script>*@
                        <script type="text/html" id="grabs-template">
                            <div class="upForGrabsItem">
                                <div class="grabComment" data-bind="html: Comment"></div>
                                <div data-bind=" 'if': hasUrl">
                                    <a data-bind="attr: { 'href': UFGTaskRewardURL, 'title': Title , 'class' : 'btn button-save yellow-button' },'text' : Title"></a>
                                </div>

                                <div class="clearfix"></div>
                            </div>

                        </script>
                        @*@Html.Action("LatestBlogPosts", "Content", new { @sponsorSpecific = true, @count = 3 })*@
                    </div>
                    <div class="span3">
                        <h2 class="blue">
                            <span data-i18n="WolverineLandingPage.GlobalTitles.MyGame" id="test">MY GAME</span>
                            @if (Model.RewardDisplay == "LAP")
                            {
                                <a onclick="TrackGoogleAnalyticEvent('Wolverine', 'Click', 'Game Help - Program Description');"
                                   href="#challenges-how-it-works" class="helpImage" id="gameHelp" title="Game Help"><i class="icon-question">
                                                                                                                     </i></a>
                                <a onclick="TrackGoogleAnalyticEvent('Wolverine', 'Click', 'Redeem Voucher');"
                                   href="#divRedeemAVoucherNewLanding" data-toggle="modal" class="helpImage redeem" title="Redeem Voucher">
                                    <i class="icon-ticket"></i>
                                </a>
                            }
                            else if (Model.RewardDisplay == "LVL")
                            {
                                <a onclick="TrackGoogleAnalyticEvent('Wolverine', 'Click', 'Game Help - Reward Table');"
                                   href="#levels-reward" data-toggle="modal" class="helpImage" title="Game reward summary"><i class="icon-question">
                                                                                                                           </i></a>
                                <a onclick="TrackGoogleAnalyticEvent('Wolverine', 'Click', 'Redeem Voucher');"
                                   href="#divRedeemAVoucherNewLanding" data-toggle="modal" class="helpImage" title="Redeem voucher">
                                    <i class="icon-ticket">
                                    </i>
                                </a>
                            }
                        </h2>
                        @if (Model.RewardDisplay == "LAP")
                        {
                            <div id="lap-display">
                                @Html.Action("LapsDisplay", "Member")
                            </div>
                        }
                        else if (Model.RewardDisplay == "LVL")
                        {
                            <div class="levelGraphWrapper">
                                @Html.Action("GameDisplayV3", "Member")
                            </div>
                        }
                        else if (Model.RewardDisplay == "No Game")
                        {
                            @Html.Action("NoGameDisplay", "Member")
                                
                        }
                        else
                        {
                            @Html.Action("NoGameDisplay", "Member")
                        }
                        <div class="clearfix">
                        </div>
                        <h2 class="blue">
                            <span data-i18n="WolverineLandingPage.GlobalTitles.RecentBadges">RECENT BADGES</span>
                            <a onclick="TrackGoogleAnalyticEvent('Wolverine', 'Click', 'Badge Help');"
                               data-toggle="modal" class="helpImage" title="Badges"><i class="icon-question"></i></a>
                        </h2>
                        <div class="badgeSectionRight">
                            @if (Model.RecentlyEarnedRewards.Count > 0)
                            {
                                int rewardsToDisplay = 0;
                                <ul class="rewardBadges">
                                    @foreach (var reward in Model.RecentlyEarnedRewards.Where(r => r.DateEarned.HasValue).Take(8))
                                    {
                                        cash = reward.IsCash ? "cash" : string.Empty;

                                        if (reward.IsBadge)
                                        {
                                            <li class="reward"><a href="/secure/rewards/mybadges.aspx">
                                                                   <img data-toggle="tooltip"
                                                                        data-placement="top" title="@reward.DateEarned.Value.Date.ToString("d", Model.CurrentCulture)&nbsp;@reward.Name"
                                                                        alt="@reward.Name" class="CTTrigger" dt="@reward.DateEarned.Value.ToShortDateString()"
                                                                        tsk="" src="@(Model.BadgeImageUrl + reward.RewardImage + ".png")" vlc_name="vlc_badgeReward"
                                                                        vlc_badgeID="@reward.BadgeId"/>
                                                               </a></li>
                                            rewardsToDisplay++;
                                        }
                                        else if (reward.IsCash)
                                        {
                                            <li class="reward">
                                                <label class="@cash">@(reward.IsCash ? reward.Amount.ToString("C0") : reward.Amount.ToString())</label>
                                                <img src="@(string.Concat(Model.RewardTypeImageUrl, reward.RewardImage, "_on.gif"))" alt="@reward.Name"/>
                                            </li>
                                            rewardsToDisplay++;
                                        }

                                    }
                                    @if (rewardsToDisplay == 0)
                                    {
                                        <div class="noGameDisplay" data-i18n="[html]WolverineLandingPage.GlobalMessages.NoRecentBadges">
                                            It’s been a while since you earned a badge. <a href="/secure/rewards/MyBadges.aspx">
                                                                                            Check out all the badges you can earn</a> – we bet you’ll have a new one in
                                            no time.</div>
                                    }
                                    <div class="clearfix">
                                    </div>
                                </ul>
                            }
                            else
                            {
                                
                                <div class="noGameDisplay" data-i18n="[html]WolverineLandingPage.GlobalMessages.NoRecentBadges">
                                    It’s been a while since you earned a badge. <a href="/secure/rewards/MyBadges.aspx">
                                                                                    Check out all the badges you can earn</a> – we bet you’ll have a new one in
                                    no time.</div>
                            }
                        </div>
                        <h2 class="blue" data-i18n="WolverineLandingPage.GlobalTitles.NewsAndTips">
                            NEWS AND TIPS
                        </h2>
                        <div class="infoBoxRight">
                            @Html.Action("RichContent", "Content", new { @contentAreaType = "HomepageInfoBox", @sponsorSpecific = true })
                        </div>
                        <div class="infoBoxRightFooter">
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix">
            </div>
        </div>
        <div class="bottom-bg">
        </div>
        <div class="fat-footer">
            <div class="col1">
                <div class="landingPageSection sideNavSection" id="newsfeedSection">
                    &nbsp;@*THIS SECTION IS FILLED IN VIA AJAX*@</div>
                <script>                    LoadNewsFeed();
                </script>
            </div>
            <div class="col2">
                @Html.Action("LatestMemberEngagementArticle", "Content", new { @contentAreaType = "EngagementLeftBanner", @sponsorSpecific = true })
            </div>
            <div class="col3">
                    @Html.Action("LatestMemberEngagementArticle", "Content", new { @contentAreaType = "ClientSpecificRightBanner", @sponsorSpecific = true })
           
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
    <!--EXPRESS WELCOME JOURNEY-->
    <div class="modal hide fade" id="ExpressWelcomeJourney">
        <div class="modal-body">
            <div id="ExpressWelcomeJourneyContent">
            </div>
        </div>
    </div>
    <div id="badgesModal" class="modal hide fade">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;</button>
        <div class="badgeModalContent">
            <h2 class="blue" data-i18n="WolverineLandingPage.GlobalTitles.BadgesModalTitle">
                BADGES !</h2>
            <div class="badgeModalContentText" data-i18n="[html]WolverineLandingPage.GlobalMessages.BadgesModalContent">
                Get something to show for all the healthy things you do! Earn badges for all kinds
                of stuff: reaching milestones, participating in challenges, trying out something
                new, reaching goals… the more you do, the more badges you earn. Why not try to get
                them ALL?
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="badgeModalButtonContainer">
            <button type="button" class="btn yellow-button modal-badge-button" data-dismiss="modal"
                aria-hidden="true" data-i18n="WolverineLandingPage.GlobalLabels.OkGotIt">
                Ok, got it!</button>
        </div>
    </div>
    <!-- Redeem a voucher -->
    <div id="divRedeemAVoucherNewLanding" class="modal hide fade">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;</button>

        <h2 class="blue" data-i18n="WolverineLandingPage.GlobalTitles.RedeemAVoucher">
            Redeem a Voucher</h2>
        <p class="content" data-i18n="WolverineLandingPage.GlobalMessages.HaveHealthMilesHealthCashVoucherInHand">
            Have a HealthMiles or HealthCash voucher in hand? Find the 10-digit Voucher Code
            and enter it below. (Each Voucher Code can only be redeemed once).</p>
        <p class="VHMRedeemError" id="errorMessage" style="display: none" data-i18n="[html]WolverineLandingPage.GlobalMessages.SorryWeCouldntFindVoucherCodeTryAgain">
            Sorry, we couldn’t find the Voucher Code as entered below. Please try again or <a
                target="_self" href="https://local.virginhealthmiles.com/secure/help/contactusform.aspx">
                contact us for help.</a></p>
        <p class="VHMRedeemError" id="hdnVoucherErrorMessage" style="display: none" data-i18n="WolverineLandingPage.GlobalMessages.PleaseEnter10CharactersBeforeSubmit">
            Please enter all 10 characters in the code before clicking Submit</p>
        <p class="bold" data-i18n="WolverineLandingPage.GlobalMessages.EnterVoucherCode">
            Enter voucher code:</p>
        <div id="redeem-voucher-container">
            <input type="text" name="inpFirstRedeem" id="inpFirstRedeem" onkeydown="CheckRedeemField(event, this, 4, 1);"
                onkeyup="CheckRedeemField(event, this, 4, 1);" size="4" />
            <label for='inpSecondRedeem'>
                -
            </label>
            <input type="text" name="inpSecondRedeem" value="" title='Voucher code' id='inpSecondRedeem'
                onkeydown="CheckRedeemField(event, this, 4, 2);" onkeyup="CheckRedeemField(event, this, 4, 2);"
                size="4" />
            <label for='inpThirdRedeem'>
                -
            </label>
            <input type="text" name="inpThirdRedeem" value="" title='Voucher code' id='inpThirdRedeem'
                onkeydown="CheckRedeemField(event, this, 2, 3);" onkeyup="CheckRedeemField(event, this, 2, 3);"
                size="3" />&nbsp; <i class="check-code icon-ok" style="display: none;"></i>
        </div>
        <div class="clearfix">
        </div>
        <div class="voucherButtonContainer">
            <input type="button" class="btn button-save yellow-button margr10" value="Submit"
                id="btnSubmitVoucher" onclick="javascript:redeemVoucher('hdnVoucherErrorMessage', this);"
                data-i18n="[value]WolverineLandingPage.GlobalLabels.Submit" />
            <input type="button" class="btn button-cancel grey-button" value="Close" id="btnCancelVoucher"
                data-dismiss="modal" aria-hidden="true" data-i18n="[value]WolverineLandingPage.GlobalLabels.Close" />
        </div>
        <p>
            <span class="bold" data-i18n="WolverineLandingPage.GlobalMessages.WhatsAVoucher">What’s
                a voucher?</span>
        </p>
        <p class="content" data-i18n="WolverineLandingPage.GlobalMessages.VouchersAllowSponsorToRewardHealthyInitiatives">
            Vouchers allow your sponsor to reward you for additional healthy initiatives such
            as special events or other achievements. Your sponsor will give you a voucher upon
            completion of these initiatives and you may redeem it here.</p>
        <p class="content" data-i18n="WolverineLandingPage.GlobalMessages.NoSpecialOffersFromSponsor">
            No special offers from your sponsor lately? Remind them about vouchers!</p>
    </div>
    @if (Model.LevelCelebration != null)
    {
        <!-- Levels Celebration -->
        <div id="levelCelebrationModal" class="modal hide fade">
            <div id="celebration-level5">
                <button type="button" class="close close-celebration" data-dismiss="modal" aria-hidden="true">
                    &times;</button>
                <div class="celebrationContent">
                    <h2 data-i18n="WolverineLandingPage.GlobalMessages.WayToGo">
                        Way to go</h2>
                    <div class="HCelebration">You just reached</div>
                </div>
                <div class="celebrationBadgeBox">
                    <div class="celebrationContentLevelTitle" data-i18n="WolverineLandingPage.MiscLabels.Level">Level</div>
                    <div class="celebrationContentLevelNumber">
                    @Model.LevelCelebration.BadgeName.Substring(Model.LevelCelebration.BadgeName.Length - 1)
                    </div>
                  
                </div>
                <div class="celebrationContent">
                    <div class="celebrationContentCelebrate" data-i18n="WolverineLandingPage.GlobalMessages.GoCelebrate">
                        (now go do something fun to celebrate!)</div>
                    <div class="celebrationButtonContainer">
                        <button type="button" class="btn grey-button close-celebration" data-dismiss="modal" aria-hidden="true"
                            data-i18n="WolverineLandingPage.GlobalLabels.Close">
                            Close</button>
                    </div>
                </div>
                <div class="clearfix">
                </div>
            </div>
        </div>
        <span>
            <script type="text/javascript">
                $(document).ready( function() {
                    $("#levelCelebrationModal").modal({
                        keyboard: false,
                        backdrop: 'static',
                        show: true
                    });
                    
                    
                    $(".close-celebration").click(function () {
                        $.ajax({
                            url: '../Member/SaveRewardCelebration',
                            type: 'post'
                        });
                    } );
                } );
            </script>
        </span>
        
    }
    <!-- Updated Terms -->
    <div id="termsPage" class="modal hide fade">
        @{    
            var url = string.Format("{0}/promotional/terms.aspx?termsId={1}", ApplicationSettings.BaseURL, @Model.TermsId);
        }
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;</button>
            <h2>
                Important Account Information</h2>
            <p class="content">
                <span data-i18n="WolverineLandingPage.TermsAndConditions.WeHaveUpdated" id="updatedTermsConditions">
                    We have updated the</span><span>@Model.Title</span> <span data-i18n="WolverineLandingPage.TermsAndConditions.IfYouWouldLikeToReadNewAgreement">
                                                                            . If you would like to read the new agreement </span><a id="lnkTerms" href="@url"  data-i18n="WolverineLandingPage.MiscLabels.ClickHere">
                                                                                                                                     click here</a>&nbsp; <span data-i18n="WolverineLandingPage.TermsAndConditions.OrCloseToContinue">
                                                                                                                                                              OR close the message box to continue.</span>
            </p>
            <div class="buttonModalContainer">
                <button type="button" class="btn yellow-button modal-button" data-dismiss="modal"
                        aria-hidden="true" data-i18n="WolverineLandingPage.GlobalLabels.OkGotIt">
                    Ok, got it!</button>
            </div>
        </div>
    </div>
    
    <div id="customActivityModal" class="modal hide fade" tabindex="-1" role="dialog"
         aria-labelledby="customActivityModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h1 id="H1" class="main-theme" data-i18n="WolverineLandingPage.GlobalLabels.AddNewActivity">
                Add New Activity
            </h1>
        </div>
        <div class="modal-body" id="custom-activity-content">
        </div>
        <div class="modal-footer" id="custom-activity-footer">
        </div>
    </div>


    @Html.Action("WelcomeJourneyV3", "Member")

    @Html.Action("FooterV3", "Layout")
    @{
        string trackerKey = Convert.ToString(Microsoft.Win32.Registry.LocalMachine.OpenSubKey(@"Software\VirginLifecare", false).GetValue("GoogleAnalyticsId", "")) == string.Empty ? "UA-5511099-1" : Convert.ToString(Microsoft.Win32.Registry.LocalMachine.OpenSubKey(@"Software\VirginLifecare", false).GetValue("GoogleAnalyticsId", ""));
    }
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '@trackerKey']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
  
    </script>
    @if (Model.ProgramType == "EXP")
    {
        <script type="text/javascript">
            var fby = fby || [];
            fby.push(['showTab', { id: '5696', position: 'right', color: '#008EAA'}]);
            (function () {
                var f = document.createElement('script'); f.type = 'text/javascript'; f.async = true;
                f.src = '//cdn.feedbackify.com/f.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(f, s);
            })();
        </script>
    }
    else
    {
        <script type="text/javascript">
            var fby = fby || [];
            fby.push(['showTab', { id: '5697', position: 'right', color: '#008EAA'}]);
            (function () {
                var f = document.createElement('script'); f.type = 'text/javascript'; f.async = true;
                f.src = '//cdn.feedbackify.com/f.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(f, s);
            })();
        </script>
    }
    <script type="text/javascript">
        //localize page
        $("body").i18n({ ns: 'LocalizationLibrary' });
        $( "#upForGrabsNoData" ).i18n();
    </script>
</body>
</html>
