﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="ektron_Templates_EktronUI_ErrorMessage" Codebehind="ErrorMessage.ascx.cs" %>
<asp:label ID="aspErrorLabel" AssociatedControlID="" runat="server"><asp:PlaceHolder ID="aspErrorMessage" runat="server"></asp:PlaceHolder></asp:label>