﻿<%@ Control Language="C#" AutoEventWireup="true" Inherits="Ektron.Cms.Framework.UI.Controls.EktronUI.Templates.TextField" Codebehind="TextField.ascx.cs" %>
<span id="uxTextField" runat="server" class="ektron-ui-control ektron-ui-input ektron-ui-textField">
    <asp:TextBox ID="aspInput" runat="server" />
</span>