<%@ Control Language="C#" AutoEventWireup="true" Inherits="Image_pagebuilder_foldertree" Codebehind="foldertree.ascx.cs" %>
<div class="CBfoldercontainer">
    <span class="folder" data-ektron-folid="0">Root</span>
    <ul class="EktronFolderTree EktronFiletree" data-ektron-folid="0"></ul>
</div>
