/* Ektron begin */
img.ContentDesignerStatusMessage
{
	margin: 4px;
	border: 0px;
	text-align: center;
	vertical-align: middle;
	background-color: transparent;
	background-image: none; /* 03 Jan 05 */	
}

table.RadEToolbarDefault
{
	border: solid 1px #b9b9b9;
}

table.RadEToolbarDefault td.RadEContentContainer
{
	padding-top: 0px;
	padding-left: 3px;
	padding-right: 0px;
	padding-bottom: 1px;
	background-color: White;
}

table.RadEDropDownOff, table.RadEDropDownOver, table.RadEDropDownOffOver
{
	width: auto;
}

table.RadEDropDownOff div, table.RadEDropDownOver div, table.RadEDropDownOffOver div
{
	background-color: #FFFFFF !important;
}

.RadEToolbar
{
   float: left;
   width: auto;
}

.RadEToolbar td
{
    padding: 0 !important;
}

iframe.RadEContent, iframe.RadEContentBordered
{	
	margin-bottom:-3px;
	min-height:5em; /* autoheight */
}

.RadESpellUIWrapper
{
	width: 100%;
	float: left;
	background-color: #ffffcc;
	border-bottom: 1px solid #adadad;
	line-height: normal;
}
.RadESpellUIDescription
{
	float: left;
	margin: 2px;
}
.RadESpellUIButtonsWrapper
{
	float: right;
	margin: 2px;
}
.RadESpellUIButtonsWrapper *
{
	float: left;
	margin: 2px;
}

/* Ektron end */

/*Set the background color in Moz from here*/
.RadEWrapper iframe
{	
	background-color:white;
}

td.RadEContentContainer
{
}

td.RadEContentContainer iframe
{
    background-color: White;
}

/* Table wrapper and DOCKING ZONES classes */
table.RadEWrapper
{
	background-color: #e5e5e5;
	border-collapse:separate !important;
	overflow: hidden;	
}

.RadEWrapper .RadEVerticalDockingZone
{
	font-size:0px;
	line-height:0px;
	width:1px;
}

.RadEWrapper .RadEDockingZone
{
	font-size:0px;
	line-height:0px;
}

table.RadEWrapper td
{
    /* This block the RadESeparator on the toolbar
	background:transparent;
    color:#000;*/
}

table.RadEWrapper table
{
    border:0
}

table.RadEWrapper td,
table.RadEWrapper th
{
    padding-left:0
}

.RadEDockingZone
{
    margin-left: 3px;
    margin-right: 3px;
}

/* undocked toolbar titlebar */
.RadETitleGrip
{
	background: transparent url(CssImg/draggedToolbarTitleBg.gif);
	height: 17px;
	text-align: left;
	padding-left: 4px;
	color: white;
	border-bottom: solid 1px #5d8fb4;
}

/* horizontal side grip class */
.RadESideGripHorizontal
{
	background: transparent url('CssImg/dragHandle.gif') no-repeat center;
	width: 11px;
	height: 24px;
}

/* vertical side grip class */
.RadESideGripVertical
{
	background: transparent url(CssImg/dragHandleVertical.gif) no-repeat center top;
}

/* horizontal toolbar */
.RadEToolbar
{
	/*background: #fbfbfb url(CssImg/ToolbarRowBackground.gif) repeat-x bottom;*/
	font: normal 11px Tahoma;
	border: solid 1px #9EBCD7;
	height: 24px;
}

/* vertical toolbar class */
.RadEToolbarVertical
{
	background: #fbfbfb url(CssImg/ToolbarRowBgVertical.gif) repeat-y;
	font:normal 11px Tahoma;
	border: solid 1px #5d8fb4;
	width: 24px;
}

.RadAutoDockButton
{
	cursor: hand;
	cursor:pointer;
	background: transparent url(CssImg/AutoDockButton.gif) no-repeat center;
	width:8px;
	height:11px;
	margin-right: 3px;
	float:right;
	border:0px;
}

/* WAS: toolbar buttons separator - this skin does not support separators, and is set to display: none; */
/* APR-29-2009: Retrieve the separator from the Telerik source. we would want a separator in the toolbar */
.RadESeparator,
.RadESeparatorHorizontal
{
	width:3px;
	font-size:1px;	
	background-image: url(CssImg/Separator.gif);
	background-position:center;
	background-repeat:no-repeat;
	padding-right: 1px;
    padding-left: 1px;
}

/* ----------------------- MODIFY CAREFULLY! Css classes that are needed for the fixed toolbar---------------------------------*/
.RadEFixedToolbarHolderMozilla
{
	border:1px solid #383838;
	width:100%;
	background-color: #595959;
	position: fixed !important;
	top: 0px !important;
	left: 0px !important;
	text-align: left;
	z-index: 10000;
}

.RadEFixedToolbarHolderIE 
{
	/* IE5.5+ / Win */
	position: absolute;
	left: expression( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft  + 'px');
	top: expression(  ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop  + 'px');
	background-color: #595959;
	border:1px solid #383838;
	width: 100%;
	text-align: left;
	z-index: 51200;
}

/* ----------------------- Css classes for the relative toolbar ---------------------------------*/
.RadERelativeToolbarHolder 
{
	position: absolute;
	background: #f7f7f7;
	border: solid 1px #808080;
	text-align: left;
	z-index: 10000;
}

.RadEToolText
{
	font: normal 11px Tahoma;
	margin-left: 2px;
	margin-right: 2px;
	cursor: default;
}

/* clicked and toggled small toolbar button */
.RadEToolOn,
.RadEToolDown,
.RadEToolLongOn
{
	background:  url(CssImg/toolOnBg.gif);
	font: normal 11px Tahoma;
	white-space: nowrap;
	margin: 1px;
}

/* normal small button */
.RadEToolOff,
.RadEToolLongOff
{
	font: normal 11px Tahoma;
	white-space: nowrap;
	margin: 1px;
}

/* normal small button hover */
.RadEToolOnOver,
.RadEToolOffOver,
.RadEToolLongOnOver,
.RadEToolLongOffOver
{		
	background-image: url(CssImg/toolOverBg.gif);
	font: normal 11px Tahoma;
	white-space: nowrap;
	margin: 1px;
}

.RadEToolDisabled,
.RadEToolLongDisabled
{
	filter: alpha(opacity=30); /* IE */
	-moz-opacity: 0.5; /* Mozilla */
	opacity: 0.5; /* CSS3, Mozilla */
	margin: 1px;
	white-space: nowrap;
}

.RadEContextMenu
{
	background-color: #FDFAFF;
	background: url(../Menu/Img/GroupBkg.gif) repeat-y;
}

/* Context menu small button hover */
.RadEContextMenu .RadEToolOnOver, 
.RadEContextMenu .RadEToolOffOver
{		
	background: #e4f0c5;
	font: normal 11px Tahoma;
	white-space: nowrap;
	margin: 0px;
}

/*
.RadEModuleTable
{
	background: #afc3e1 url('CssImg/RadEModuleTableBg.gif') repeat-x;	
	color: black;
	border: solid 1px #5d8fb4;
	text-align:left;
}

.RadEModuleTable .RadESideGripHorizontal
{
	background: url('CssImg/dragHandleModule.gif') no-repeat center;
	width: 11px;
	height: 24px;
}

.RadEModule
{
	color: black;
	width: 100%;
	height: 100%;	
	padding-top: 1px;	
	font: normal 11px Tahoma;
}
*/

a.DomPathLink,
a.DomPathLink:visited,
a.DomPathLink:active,
a.DomPathLink:link
{
	text-decoration: underline;
	font: normal 11px Arial, Verdana, Sans-serif;
	padding: 3px 2px 1px 2px;
	color: #3333cc;
}

a.DomPathLink:hover
{
	background-color: white;	
}

a.DomPathLinkSelected
{
	padding: 1px 2px 1px 2px;
	text-decoration: none;
	border: solid 1px #C4D5E4;
	background: white;
	font: bold 11px Tahoma;
	color: #333;
}

.RadEToggleButton
{
	margin: 1px;
	border: 0px;
	text-align: center;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	background-color: #f7f7f7; /* 03 Jan 05 */
	background-image: none; /* 03 Jan 05 */	
}

.RadEToggleButtonPressed
{
	border: 1px solid #a0a0a0; /* 03 Jan 05 */
	text-align: center;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	background-image: none; /* 03 Jan 05 */
	background-color: #dddddd; /* 03 Jan 05 */
}

/*----------------- Editor additional HTML objects' styles */
.RadEErrorMessage
{
	color: red;
	text-align:left;
	margin:3px;
}

textarea.RadETextArea
{
	/* IMPORTANT: Bug in IE - crashing the browser - do not set scrollbar styles! */
	border: none; /* Ektron - was: border: solid 1px #808080; */
	background: white;
	color: #000080;
	height: 100%;  /* Ektron #47754: Textarea: 150px (from another CSS) causes a verticle scrollbar in IE */
}
/* Ektron begin 
	Fix for IE not displaying TextArea at the full/correct height of it's parent */
td.RadEContentContainer {position: relative\9;}
textarea.RadETextArea {position: absolute\9; top: 0\9; left: 0\9; right: 0\9; bottom: 0\9;}
/* Ektron end */

/* Update and Cancel buttons */
input.RadEButton,
button.RadEButton
{
    margin: 2px;
	width: 78px;
	height: 19px;
	text-align: center;
	line-height: 14px;
}

/* Toggle between html and design views */
.RadEToggleButton,
.RadEToggleButtonPressed
{
    margin: 2px;    
    width: 30px;
    height: 19px;
	text-align: center; 
	vertical-align: middle;  
}

.RadEToggleButtonPressed
{
	background: #73839f;
}

input.RadETextBox
{
	padding-left:2px;
	border: 1px solid #4D6185; 
	font: menu;
	margin:1px;	 
}

select.RadEDropDown
{
	padding-left:2px;
	margin: 2px;
}

.RadEXhtmlButton
{
	white-space:nowrap;
	position: relative;
	top: -1px;
	_top: -2px;
	width: auto;
	font-size: small !important; /* Ektron #46634: font-size: 1em (from another CSS) causes miniscule font height in IE */
}

/* ------------------------- Dropdown "Header" Styles ---------------------------------*/
.RadEDropDownOff
{
	cursor: default;
	background: white;
	border: solid 1px #a0b8db;
	padding-left: 3px;
	margin-left:1px;
	color: #333;
}

.RadEDropDownOn,
.RadEDropDownOffOver
{
	cursor: default;
	background: white;
	border: solid 1px #5d8fb4;
	padding-left: 3px;
	margin-left:1px;
	color: black;
}

.RadEDropDownDisabled
{
	background: #e9eef6;
	border: solid 1px #a0b8db;
	padding-left: 3px;
	margin-left:1px;
	cursor: no-drop !important;
	color: #808080;
}

.RadEDropDownDisabled img
{
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	opacity: 0.5;
	-moz-opacity: 0.5;
}

/* ----------------------------- r.a.d.window wrapper related styles ------------------------*/
.RadETableWrapperResizeSpan
{
	cursor : default;
	border : 3px solid #cccccc;
}

/* dialog styles */
.RadETableWrapper
{
	font-size: 0px;
	vertical-align: top;
}

.RadETableWrapper td
{
	vertical-align: top;
}

.RadETableWrapperHeaderLeft
{
	background: transparent url('CssImg/Window.gif') no-repeat 0 0;
	width: 4px;
}

.RadETableWrapperHeaderCenter
{
    background: transparent url('CssImg/Window.gif') repeat-x 0 -39px;
	text-align: left;
	height: 39px;
	color: white;
	vertical-align: top;
	padding-left: 10px;
}

.RadETableWrapperHeaderRight
{
	background: transparent url('CssImg/Window.gif') no-repeat 0 -78px;
	width: 4px;
}

.RadETableWrapperBodyLeft
{
	background: transparent url('CssImg/WindowSides.gif') repeat-y 0 0;
	width: 4px;
}

.RadETableWrapperBodyCenter
{
	width: 100%;
	height: 100%;
}
td.RadETableWrapperBodyCenter iframe
{
	overflow-y: auto;
}
.RadETableWrapperBodyRight
{
	background: transparent url('CssImg/WindowSides.gif') repeat-y -4px 0;
	width: 4px;
}

.RadETableWrapperFooterLeft
{
	background: transparent url(CssImg/Window.gif) no-repeat 0 -117px;
	width: 4px;	
	font-size: 0px;	
}

.RadETableWrapperFooterCenter
{
	background: transparent url('CssImg/Window.gif') repeat-x 0 -137px;
	width: 100%;
	height: 20px;
	font-size: 0px;	
}

.RadETableWrapperFooterRight
{
    background: transparent url('CssImg/Window.gif') no-repeat 0 -157px;	
	width: 20px;	
	line-height: 0px;
	font-size: 0px;
	cursor: nw-resize;	
}

/* Mozilla corners fix */
.RadETableWrapperBodyLeft:before,
.RadETableWrapperBodyRight:before
{
	width: 4px;
	display: block;
	content: " ";
}

.RadETableWrapperFooterRight:before
{
	display: block;
	content: " ";
	width: 20px;
	height: 20px;	
}

/* Mozilla corners fix */
.RadETableWrapperFooterLeft:before
{
	display: block;
	content: " ";
	width: 4px;
	height: 20px;	
}

.RadETableWrapperFooterRightOver
{
	width:0px;
	height:0px;
	font-size: 0px;
	line-height:0px;
	cursor:nw-resize;
}

/* Mozilla corners fix */
.RadETableWrapperHeaderRight:before,
.RadETableWrapperHeaderLeft:before
{
	width: 4px;
	height: 39px;
	content: " ";
	display: block;
}

.RadERadWindowHeader
{
    line-height: 39px;
    padding-left: 4px;    
	color: #fff;
	cursor: default;
	font-weight: bold;
    font-size: 14px;	
	width: 100%;
	position: relative;
	top: 1px;
}

.RadERadWindowButtonClose
{
	cursor: hand;
	cursor: pointer;
	background: transparent url(CssImg/dialogueHeaderClose.gif) no-repeat;
	width: 11px;
	height: 11px;
	display: block;
	margin-top: 15px;
	margin-right: 14px;
}

.RadERadWindowButtonPinOff
{
	cursor: hand;
	cursor:pointer;
	background-image: url(CssImg/dialogueHeaderPinOff.gif);
	background-repeat: no-repeat;
	width:16px;
	height:24px;
	display:block;
}

.RadERadWindowButtonPinOn
{
	cursor: hand;
	cursor:pointer;
	background-image: url(CssImg/dialogueHeaderPinOn.gif);
	background-repeat: no-repeat;
	width:16px;
	height:24px;
	display:block;
}
/* dialog styles end */