﻿@using System.Web.Optimization
@Scripts.Render("~/bundles/nutrition")
@Styles.Render("~/Content/nutrition")

<div id="loading-element"></div>
<div class="overlayMFPLandingPageConnect" style="display: none;">
    <h3 data-i18n="WolverineLandingPage.GlobalTitles.LetsGetTracking">Let's get tracking!</h3>
    <p data-i18n="[html]WolverineLandingPage.GlobalMessages.ConnectPulseMFPToSeeStackUp">Connect your Pulse and MyFitnessPal accounts to see how your nutrition stacks up (and earn rewards!). Don't have a MyFitnessPal account? It's free! <a href="/v2/Nutrition/LandingPage">Learn more</a></p>
    <button class="btn yellow-button" id="connectMFPAccountLanding" data-i18n="[value]WolverineLandingPage.GlobalTitles.ConnectToMFPButton" value="Connect or sign up to MyFitnessPal" onclick="TrackGoogleAnalyticEvent('Nutrition', 'Click', 'Connect to MyFitnessPal');">Connect or sign up to MyFitnessPal</button>
    <span data-i18n="[html]WolverineLandingPage.GlobalMessages.MPFImportantComeWhenConnected"><strong>IMPORTANT: </strong>If you're new to MyFitnessPal you'll need to come on back and connect after you sign up.</span>
</div>
<div id="nutrition-widget-content">
    <span class="pull-right btn-refreshing tertiary" href="#"><img src="/v2/Content/Images/Nutrition/refreshing.gif" width="16" height="16" /> Refreshing...</span>
    <ul id="nutrition-tab" class="nav nav-tabs">
        <li class="active"><a href="#nutrition-calorie" data-toggle="tab">Calorie tracking</a></li>
        <li class=""><a href="#nutrition-weight" data-toggle="tab">Weight Management</a></li>
    </ul>
    <div id="nutrition-tab-content" class="tab-content">
        <div class="tab-pane fade active in" id="nutrition-calorie">
            <div>
                @Html.Partial("~/Views/Nutrition/_OverviewWidget.cshtml")
            </div>
        </div>
        <div class="tab-pane fade" id="nutrition-weight">
            <div id="nutrition-weight-container">
            </div>
            <div id="nutrition-weight-summary">
                <strong>
                    Summary
                </strong>
                <ul>
                    <li id="nutrition-current-weight">
                        <div>
                            <p>Current weight:</p>
                            <div id="nutrition-current-weight-value" class="nutrition-weight-summary-value">
                                178
                            </div>
                            <div class="nutrition-weight-summary-text">
                                lbs
                            </div>
                        </div>
                    </li>
                    <li id="nutrition-target-weight">
                        <div>
                            <p>Target weight:</p>
                            <div id="nutrition-target-weight-value" class="nutrition-weight-summary-value">
                                175
                            </div>
                            <div class="nutrition-weight-summary-text">
                                lbs
                            </div>
                        </div>
                    </li>
                    <li id="nutrition-weight-lost">
                        <div>
                            <p>Weight lost:</p>
                            <div id="nutrition-weight-lost-value" class="nutrition-weight-summary-value">
                                19
                            </div>
                            <div class="nutrition-weight-summary-text">
                                lbs
                            </div>
                        </div>
                    </li>
                    <li id="nutrition-left-time">
                        <div>
                            <p>Time to meet your goal:</p>
                            <div id="nutrition-left-time-value" class="nutrition-weight-summary-value">
                                2
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <input type="button" class="btn button-save yellow-button" data-i18n="[value]WolverineLandingPage.GlobalLabels.CheckItOut" value="Check it out" onclick="nutritionClick();"  />
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#nutrition-widget-content").hide();
        new imageLoader("startAnimation()");

        $('#nutrition-tab a').click(function (e) {
            e.preventDefault();
            $( this ).tab( 'show' );
        });
        var isWidget = true;
        window.Nutrition.getActivitySummaries(isWidget);
        window.Nutrition.initOverviewChart();
    });

    var nutritionClick = function () {
        TrackGoogleAnalyticEvent('Wolverine', 'Click', 'Nutrition Accordion');
        location.href = '/v2/Nutrition/LandingPage';
    };
</script>
