﻿@using System.Globalization
@using Vhm.Web.Models.ViewModels.Member
@using VirginLifecare.Utils

<div class="activity-left">

    <!--ACTIVITY-->
    @if (Model.ActivityEnabled)
    {
        <span class="graph-title">
            <a onclick="TrackGoogleAnalyticEvent('Wolverine', 'Click', 'Activity - My Steps');"
               id="StepsSwitch" class="active" href="#StepsGraphButton" data-i18n="WolverineLandingPage.GlobalLabels.MySteps">My Steps</a>&nbsp;|&nbsp;<a onclick="TrackGoogleAnalyticEvent('Wolverine', 'Click', 'Activity - My Calories');"
                                                                                                                                                          id="CaloriesSwitch" href="#CaloriesGraphButton" data-i18n="WolverineLandingPage.GlobalLabels.MyCalories">My Calories</a>
        </span>

        <div id="activity-graph-container" class="activity-graph">
            <div id="tip">
                <div id="tip-arrow"></div>
                <div id="tip-data"></div>
            </div>
        </div>
        <script>
            type = "steps";

        </script>
    }
    else
    {

        <span class="graph-title" id="CaloriesSwitch" data-i18n="WolverineLandingPage.GlobalLabels.MyCalories">My Calories</span>

        <div id="activity-graph-container" class="activity-graph">
            <div id="tip">
                <div id="tip-arrow"></div>
                <div id="tip-data"></div>
            </div>
        </div>
        <script>
            VHM.AJ.type = "calories";

        </script>

    }
    <div class="last-entry">
        <h5 data-i18n="WolverineLandingPage.GlobalLabels.MostRecentActivityData">
            Most recent activity data
        </h5>
        <div class="data-row activity-name">
            <span class="row-label" data-i18n="WolverineLandingPage.GlobalLabels.ActivityLabel">Activity: </span><span class="row-value" id="ac-name"></span>
        </div>
        <div class="data-row date">
            <span class="row-label" data-i18n="WolverineLandingPage.GlobalLabels.DateLabel">Date: </span><span class="row-value" id="ac-date"></span>
        </div>
        <div class="data-row steps">
            <span class="row-label" data-i18n="WolverineLandingPage.GlobalLabels.StepsLabel">Steps: </span><span class="row-value" id="ac-steps"></span>
        </div>
        <div class="data-row calories">
            <span class="row-label" data-i18n="WolverineLandingPage.GlobalLabels.CaloriesLabel">Calories: </span><span class="row-value" id="ac-calories">
            </span>
        </div>
    </div>
    <div class="activity-data-loading-div">
        <img width="25" src="~/Content/Images/Shared/spinner.gif" alt="Please wait" />
    </div>
    <div class="no-data-msg">
        <h5 data-i18n="WolverineLandingPage.GlobalMessages.PleaseUploadDataOrAddActivity">
            Please upload device data or add a custom activity entry.
        </h5>
    </div>
</div>
<div class="activity-right">
    <div class="acitvity-form-placeholder">
        <div class="aj-row first">
            <label class="activity-label" data-i18n="WolverineLandingPage.GlobalLabels.DateLabel">
                Date
            </label>
            <input type="text" class="bootstrap bootstrap-input datepicker inputDateAL-AddEntry"
                   id="inputDateAL-AddEntry">
        </div>
        <div class="aj-row">
            <label class="activity-label activity" data-i18n="WolverineLandingPage.GlobalLabels.ActivityLabel">
                Activity
            </label>
            <select id="AL-ActivityList" class="bootstrap bootstrap-select" onchange="javascript:VHM.AL.GetCalcCaloriesV2();VHM.AL.onChangeSelActivity(this);">
                <option selected="selected" data-i18n="WolverineLandingPage.GlobalLabels.Loading">Loading...</option>
            </select>
        </div>
        <div class="aj-row">
            <label class="activity-label duration" data-i18n="WolverineLandingPage.GlobalLabels.DurationLabel">
                Duration
            </label>
            <input type="text" placeholder="hours" data-i18n="[placeholder]WolverineLandingPage.GlobalLabels.Hours" id="txtALActivityHours" class="short-input bootstrap"
                   onblur="javascript:VHM.AL.GetCalcCaloriesV2();" onkeypress="javascript:return VHM.AJ.onKeyPressOnlyNum();"
                   maxlength="1" />
            <sup class="colon">:</sup>
            <input type="text" placeholder="minutes" data-i18n="[placeholder]WolverineLandingPage.GlobalLabels.Minutes" id="txtALActivityMinutes" class="short-input bootstrap"
                   onblur="javascript:VHM.AL.GetCalcCaloriesV2();" onkeypress="javascript:return VHM.AJ.onKeyPressOnlyNum();"
                   maxlength="2" />
        </div>
        <div class="aj-row">
            <label class="activity-label" data-i18n="WolverineLandingPage.GlobalLabels.IntensityLabel">
                Intensity
            </label>
            <select id="ddAlIntensity" class="bootstrap bootstrap-select" onchange="javascript:VHM.AL.GetCalcCaloriesV2();">
                <option value="95577" data-i18n="WolverineLandingPage.GlobalLabels.Light">Light</option>
                <option value="95576" data-i18n="WolverineLandingPage.GlobalLabels.Moderate">Moderate</option>
                <option value="95572" data-i18n="WolverineLandingPage.GlobalLabels.Vigorous">Vigorous</option>
            </select>
            <label class="activity-label" data-i18n="WolverineLandingPage.GlobalLabels.CaloriesLabel">
                Calories
            </label>
            <input type="text" id="txtACLCalories" maxlength="4" name="txtALCalorie" class="bootstrap"
                   value="" onkeypress="javascript:return VHM.AJ.onKeyPressOnlyNum();" />
        </div>
        <div class="aj-row first">
            <label class="activity-label" id="LabelALSteps" data-i18n="WolverineLandingPage.GlobalLabels.StepsLabel">
                Steps:
            </label>
            <input type="text" class="bootstrap bootstrap-input" maxlength="5" id="txtALSteps"
                   onblur="javascript:VHM.AL.GetCalcCaloriesV2();" onkeypress="return VHM.ValidateDistanceSteps(event);" />
        </div>
        <div class="aj-row">
            <a onclick="TrackGoogleAnalyticEvent('Wolverine', 'Click', 'Activity - Additional Options');"
               class="button-additional-options" href="#additional-options" data-i18n="WolverineLandingPage.GlobalLabels.AdditionalOptions">Additional options</a>
        </div>
        <div class="aj-row additional-options-ph">
            <div class="aj-row first">
                <label class="activity-label" data-i18n="WolverineLandingPage.GlobalLabels.DistanceLabel">
                    Distance:
                </label>
                <input type="text" class="bootstrap bootstrap-input" maxlength="4" id="txtALDistance"
                       onkeypress="return VHM.ValidateDistanceSteps(event);" />
            </div>
            <div class="aj-row">
                <label class="activity-label" data-i18n="WolverineLandingPage.GlobalLabels.NotesLabel">
                    Notes:
                </label>
                <textarea type="text" class="bootstrap bootstrap-input text-area" id="txtALNotes"></textarea>
            </div>
        </div>
        <div class="activity-buttons">
            <input onclick="TrackGoogleAnalyticEvent('Wolverine', 'Click', 'Activity - Save');"
                   type="button" class="btn button-save yellow-button" id="AL-btnSave" value="Save" data-i18n="[value]WolverineLandingPage.GlobalLabels.Save" />
            <input onclick="TrackGoogleAnalyticEvent('Wolverine', 'Click', 'Activity - Cancel');"
                   type="button" class="btn button-cancel grey-button" id="AL-dismiss" value="Cancel" data-i18n="[value]WolverineLandingPage.GlobalLabels.Cancel" />
            <div class="loading-div">
                <img width="25" src="~/Content/Images/Shared/spinner.gif" alt="Please wait" />
            </div>
        </div>
    </div>
    <div class="activity-message">
        <h3 data-i18n="WolverineLandingPage.GlobalLabels.Success">
            Success!
        </h3>
        <p data-i18n="WolverineLandingPage.GlobalMessages.YouHaveAddedANewActivity">
            You have added a new Activity!
        </p>
        <br />
        <input type="button" class="btn yellow-button" id="AL-btnBack" data-i18n="[value]WolverineLandingPage.GlobalLabels.AddAnother" value="Add another" />
        <input type="button" class="btn yellow-button" data-i18n="[value]WolverineLandingPage.GlobalLabels.GoToActivityJournal" value="Go to Activity Journal" onclick="location.href='../../secure/member/activityjournal.aspx'" />
    </div>
    <div class="clearfix">
    </div>
</div>
<div class="clearfix">
</div>

@if (Model.ShowPickDevicePrompt)
{
    <style>
        #divPickADevice {
            background: url('/v2/Content/Images/ActiVity/prompt-white-bkgd.png');
            border: none;
            box-shadow: 4px 4px 8px #BDBABA;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: 16px;
            position: absolute;
        }

            #divPickADevice .modal-header {
                background: none;
                border: none;
                box-shadow: none;
            }

            #divPickADevice .modal-content {
            }

            #divPickADevice h1 {
                background: url('/v2/Content/Images/ActiVity/prompt-green-header-bkgd.png') no-repeat center;
                height: 92px;
                margin-top: -10px;
                color: #efefef;
                line-height: 75px;
                text-align: center;
            }

            #divPickADevice .modal-footer {
                position: absolute;
                bottom: 0;
                background: none;
                border: none;
                box-shadow: none;
                padding-bottom: 4px;
            }

            #divPickADevice img {
                float: right;
                max-height: 200px;
                max-width: 200px;
            }

            #divPickADevice label {
                font-size: 12px;
            }

            #divPickADevice input {
                margin-top: -2px;
                margin-right: 4px;
            }
    </style>

    <div id="divPickADevice" class="hide fade">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close btnX" style="font-size:25px;">×</button>
            </div>
            <div class="modal-body">
                @try
                {
                    @Html.Action("ContentArea", "Social", new { contentAreaId = "292ff8fd-c43a-443a-813e-81c77d0ba80a" })
                }
                catch
                {@Html.Action("LandingPageSectionError")}
            </div>
            <div class="modal-footer">
                <label for="chkHidePickDevicePrompt"><input type="checkbox" id="chkHidePickDevicePrompt" /><span data-i18n="HomePage.Activity.PickADevicePrompt.DontShowAgain">Don't show me this again</span></label>
            </div>
        </div>
    </div>

    <script type="text/javascript">

        $( document ).ready( function() {
            var createCookie = function( name, value, days ) {
                var expires;
                if ( days ) {
                    var date = new Date();
                    date.setTime( date.getTime() + ( days * 24 * 60 * 60 * 1000 ) );
                    expires = "; expires=" + date.toGMTString();
                } else {
                    expires = "";
                }
                document.cookie = name + "=" + value + expires + "; path=/";
            }
            $( "#btnPickADevice" ).click( function() {
                createCookie( @Html.Raw("'GZHidePickDevicePrompt" + @Model.MemberId.ToString() + "'"), '1', 14 );
            } );
            $( '#divPickADevice .close.btnX' ).click( function() {
                if ( $( "#chkHidePickDevicePrompt" ).is( ":checked" ) ) {
                    createCookie( @Html.Raw("'GZHidePickDevicePrompt" + @Model.MemberId.ToString() + "'"), '1', 14 );
                }
                $( "#divPickADevice" ).removeClass( 'in' );
                $( "#divPickADevice" ).addClass( 'hide' );
            } );
            $( "#divPickADevice" ).removeClass( 'hide' );
            $( "#divPickADevice" ).addClass( 'in' );
        } );
        
    </script>
}