﻿<div id="personal-tracking">
<div class="tracking-list" data-bind="if: HaveChallenges">
    <div data-bind="template: { name: 'challenge-template', foreach: Challenges }">
    </div>
</div>
    <div class="tracking-list" data-bind="if: ( DisplayNoChallengesMessage )">
        <div class="empty-self-tracking">
            <h3 data-i18n="WolverineLandingPage.GlobalMessages.YouAreNotInAnySelfTrackingChallenges">
                You’re not in any self-tracking challenges.
            </h3>
            <p data-i18n="WolverineLandingPage.GlobalMessages.LetsFixThatCreateAddSTC">
                What? Let’s fix that! Choose from a great set of challenge topics, or create your own.
            </p>
        </div>
    </div>
<div class="tracking-buttons">
    <input type="button" class="btn grey-button" data-i18n="[value]WolverineLandingPage.GlobalLabels.ChooseAChallenge" value="Choose a Challenge" onclick="location.href='/challenge/select'" />
    <input type="button" class="btn grey-button" data-i18n="[value]WolverineLandingPage.GlobalLabels.CreateAChallenge" value="Create a Challenge" onclick="location.href='/challenge/create'" />
</div>

</div>
<div id="challenge-template" style="display: none">
    <div data-bind="if: toDisplay">
        <div class="tracking-item" data-bind="attr: {'data-challengeid': ChallengeId}">
            <div data-bind="attr: {'class': 'challenge-bg badgeId-' + BadgeID}" >
            </div>
            <div class="question-ph">
                <h3>
                    <span data-bind="text: ChallengeQuestions[0].Question"></span>
                </h3>
                <div class="change-answer">
                    <div class="answer-icon">
                        <div class="answer-left"></div>
                        <div class="answer-content"><span data-bind="text: lastTrackedDayData.Answer"></span></div>
                        <div class="answer-right"></div>
                    </div>
                    <a class="change-answer" href="#changeanswer" data-i18n="WolverineLandingPage.GlobalLabels.ChangeYourAnswer">Change your answer</a>
                </div>
                <div class="new-answer">
                    <div class="question-form" data-bind="if: IsYesNoAnswer">
                        <button class="btn button-save yellow-button" data-value="yes" data-bind="click: $root.SaveAnswer" data-i18n="WolverineLandingPage.GlobalLabels.Yes">
                            Yes</button>&nbsp;&nbsp;
                        <button class="btn button-save grey-button" data-value="no" data-bind="click: $root.SaveAnswer" data-i18n="WolverineLandingPage.GlobalLabels.No">
                            No</button>
                    </div>
                    <div class="question-form" type="number" data-bind="ifnot: IsYesNoAnswer">
                        <input type="text" class="question-text-field" data-bind="value: lastTrackedDayData.Answer, event: { keypress: $root.Validate }, keypressBubble: false" />&nbsp;&nbsp;
                        <button class="btn button-save yellow-button" data-i18n="WolverineLandingPage.GlobalLabels.TrackIt" data-value="track" data-bind="click: $root.SaveAnswer">
                            Track it</button>
                    </div>
                </div>
            </div>
            <a class="challenge-link" data-bind="attr: { href: Url }"></a>
            <div class="clearfix">
            </div>
        </div>
    </div>    
    <div data-bind="if: HasFinished">
        <div class="tracking-item" data-bind="attr: {'data-challengeid': ChallengeId}">
            <div data-bind="attr: {'class': 'challenge-bg badgeId-' + BadgeID}" >
            </div>
            <div class="question-ph">
                <h3 style="margin-bottom:10px;">
                    <span data-bind="text: Name"></span>
                </h3>
                <span ><span data-i18n="WolverineLandingPage.GlobalMessages.YourChallengeHasEnded">Your challenge has ended! You still have a little time to</span> <a data-bind="attr: { 'href': Url }"><span data-i18n="WolverineLandingPage.GlobalMessages.FinishTracking">finish tracking</span></a>.</span>
            </div>
            <a class="challenge-link" data-bind="attr: { href: Url }"></a>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>
