﻿@model Vhm.Web.Models.ViewModels.Member.LandingPageVM
@{
    decimal amount = 0;
    string dateEarned = string.Empty;
    string cashClass = string.Empty;
    if (Model.MeasuermentsSummary.Reward != null)
    {
        amount = Model.MeasuermentsSummary.Reward.TaskRewardAmt;
        if (Model.MeasuermentsSummary.Reward.Cash)
        {
            cashClass = "cash";
        }
    }
    if (Model.MeasuermentsSummary.LastMeasurementDate != null)
    {
        dateEarned = Model.MeasuermentsSummary.LastMeasurementDate.Value.ToLongDateString();
    }
    
}
<div class="measurements-accordion-body">
    <h1 class="main-theme"><span data-i18n="WolverineLandingPage.Measurements.LastMeasurement">Last Measurement: </span> @dateEarned</h1>
@if (Model.MeasuermentsSummary.LastMeasurementDate.HasValue && Model.MeasuermentsSummary.RewardEarnedThisMonth)
{
    <p><i class="icon-ok" style="font-size:30px; margin-right:10px; color:#4D9332;"></i><span data-i18n="WolverineLandingPage.Measurements.TakenMeasurementsEarnedBefore">You have taken your measurements this month, congratulations for doing so. Great job!</span></p>
}
else
{
    <p><i class="icon-ban-circle" style="font-size: 30px; color: #ac1f2d; margin-right: 10px;"></i><span data-i18n="WolverineLandingPage.Measurements.NoMeasurementsThisMonth">You have not taken your measurements this month.</span></p>
}
<input type="button" class="btn button-save yellow-button" id="bioMeasurementsButton" data-i18n="[value]WolverineLandingPage.Measurements.TakeMeasurementsNow" value="Take measurements now" onclick="measureClick();"  />
</div>
<script type="text/javascript">
    var measureClick = function () {
        TrackGoogleAnalyticEvent('Wolverine', 'Click', 'Measurement Accordion');
        location.href = '../../secure/member/biomeasurements.aspx';
    }
</script>