﻿<div id="activity-challenges" style="padding: 0px !important">
    <div class="tracking-list">
        <div data-bind="visible: ActivityChallenges().length == 0">
            <div class="empty-self-tracking" style="margin-left: 14px !important">
                <h3 data-i18n="WolverineLandingPage.GlobalMessages.YouAreNotInAnyActivityChallenges">
                    You’re not in any activity challenges.
                </h3>
                <p data-i18n="WolverineLandingPage.GlobalMessages.LetsFixThatCreateAddSTC">
                    What? Let’s fix that! Choose from a great set of challenge topics, or create your own.
                </p>
            </div>
        </div>
        <div data-bind="foreach: ActivityChallenges, visible: ActivityChallenges().length > 0">
            <img data-bind="attr: { src: BadgeImageUrl }" class="activity-challenge-badge" />
            <div class="tracking-item" style="height: 138px">
                <div class="question-ph" style="padding: 0">
                    <a data-bind="attr: { href: Url }" style="cursor: pointer; color: #333333; font-family: Arial,Helvetica,sans-serif;">
                        <p data-bind="text: Name" class="challenge-name">
                        </p>
                    </a>
                    <div data-bind="if: ShouldShowYourRanks">
                        <div style="float: left; display: inline-block; width: 100px; margin-bottom: 7px;">
                            <h6 class="ranks" data-i18n="[value]WolverineLandingPage.GlobalLabels.YourRank">
                                Your rank:
                            </h6>
                            <span data-bind="text: ParticipantRank" class="counts"></span>
                            <span class="counts">
                                <span data-bind="text: OridinalParticipantRank"> </span>
                                <span data-i18n="[value]WolverineLandingPage.GlobalLabels.OutOf">out of</span>
                            </span>
                            <span data-bind="text: ParticipantCount" class="counts"></span>
                        </div>
                    </div>
                    <div data-bind="if: ShouldShowTeamRanks">
                        <div style="display: inline-block; margin-bottom: 7px;">
                            <h6 class="ranks" data-i18n="[value]WolverineLandingPage.GlobalLabels.TeamRank">
                                Team rank:
                            </h6>
                            <span data-bind="text: TeamRank" class="counts"></span>
                            <span class="counts">
                                <span data-bind="text: OridinalTeamRank" class="conts"></span>&nbsp
                                <span data-i18n="[value]WolverineLandingPage.GlobalLabels.OutOf">out of </span>
                            </span>
                            <span data-bind="text: TeamCount" class="counts"></span>
                        </div>
                    </div>
                    <table class="challengeDefaultBg bar" data-bind="visible: ChallengeFinished" style="table-layout: fixed">
                        <tr>
                            <td class="challengeCompletedBg" style="text-align: center">
                                &nbsp;&nbsp;<span class="counts">
                                    <strong>
                                        <span data-i18n="[value]WolverineLandingPage.GlobalLabels.ThisChallengeHasFinished">This Challenge has finished.</span>
                                    </strong>
                                </span>&nbsp;
                                &nbsp;
                            </td>
                        </tr>
                    </table>
                    <span data-bind="visible: !ChallengeFinished">
                        <table class="challengeDefaultBg bar" data-bind="visible: !ChallengeFinished" style="table-layout: fixed">
                            <tr>

                                <td class="challengeCompletedBg " data-bind="style: { width: PassedWidth }" style="text-align: center"></td>
                                <td data-bind="style: { width: Width }"></td>
                            </tr>
                        </table>
                        <span class="counts" style="position: absolute; /* margin: 0 auto; */  margin-top: -30px;  margin-left: 127px; float:left;">
                            <strong>
                                <span data-bind="text: DaysUntilEnd"></span>&nbsp<span data-i18n="[value]WolverineLandingPage.GlobalLabels.DaysToGo">
                                    days to go!
                                </span>
                            </strong>
                        </span>
                    </span>

                </div>
                <a class="challenge-link" data-bind="attr: { href: Url }"></a>
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
    <div class="tracking-buttons">
        <input type="button" class="btn grey-button" data-i18n="[value]WolverineLandingPage.GlobalLabels.ChooseAChallenge"
               value="Choose a Challenge" onclick="location.href='/challenge/select'" />
        <input type="button" class="btn grey-button" data-i18n="[value]WolverineLandingPage.GlobalLabels.BuildYourOwn"
               value="Build Your Own" onclick="location.href='/challenge/create'" style="margin-right: 155px" />
    </div>
</div>
