﻿@using System.Globalization
@using Microsoft.Ajax.Utilities
@using Vhm.Web.Models.RepositoryModels
@using Vhm.Web.Models.ViewModels.Member
@model Vhm.Web.Models.ViewModels.Member.LapsGameDisplayVM
@{
    
    int milestoneCount = Model.CurrentGame == null ? 0 : Model.CurrentGame.Milestones.Count;
    int currentGameNumber = 1;
    var healthCashCulture = Model.SponsorCultureFormat;
    const string PREMIUM_REBATE = "PMRBT";
    const string EMPLOYEE_DISCOUNT = "EMPD";
    var totalAvailableToSpend = Model.AvailableRewards.Amount.GetValueOrDefault();
    int currentLap = 0;
    long CurrentProgress = 0;
    decimal actualProgress = 0;
    int daysToGameEnd = 0;
    int daysSpentSinceChallangeStarted = 0;
    int lengthOfGameInDays = 0;
    if (Model.CurrentGame != null)
    {
        Milestone currentMilestone = (from s in Model.CurrentGame.Milestones
                                      where s.IsCurrentMilestone == true
                                      select s).FirstOrDefault();

        Milestone[] sortedMilestones = Model.CurrentGame.Milestones.OrderBy(x => x.Value).ToArray();
        currentLap = Array.IndexOf(sortedMilestones, currentMilestone) + 1;
        if (currentMilestone != null)
        {
            actualProgress = currentMilestone.ActualProgress;
            CurrentProgress = Model.CurrentProgress;
        }
        else
        {
            actualProgress = 0;
            CurrentProgress = Model.CurrentProgress;
        }

    }

    string currency = Model.CurrentGame.Currency;
    long currentProgresInPoints = CurrentProgress;

    int nextLevel = currentLap;
    nextLevel = nextLevel + 1;

    /********************* Day spent calculating *****************************/

   
    daysToGameEnd = Model.DaysLeft;
    /* Calculating length of game */
    lengthOfGameInDays = Model.GameLengthInDays;
    /* How much time has passed since challenge started*/
    daysSpentSinceChallangeStarted = Model.DaysSpentSinceChallangeStarted;
    
    int currentDay = DateTime.Now.DayOfYear;
    int avaragePointsEarnedDaily;

    /* Calculating avarage points per day earned by user*/
    avaragePointsEarnedDaily = (daysSpentSinceChallangeStarted != 0 && CurrentProgress != 0) ? (int)(CurrentProgress / daysSpentSinceChallangeStarted) : avaragePointsEarnedDaily = 1;
    avaragePointsEarnedDaily = (avaragePointsEarnedDaily < 1) ? 1 : avaragePointsEarnedDaily;

    int daysToNextLevel = (int)(Model.AmountToNextLevel / avaragePointsEarnedDaily);
    int isNextLevelInMoreThen2Years = (daysToNextLevel > 731) ? 1 : 0;
    
     
    DateTime endOfGame = (DateTime) Model.CurrentGame.EndDate;
    decimal fullBarWidth = Math.Round( ( (decimal)daysToGameEnd / (decimal) lengthOfGameInDays) * 100 ) ;
    decimal emptyBarWidth = 100 - fullBarWidth;

    if (emptyBarWidth < 1)
    {
        emptyBarWidth = 1;
        fullBarWidth = 99;
    }
        
    DateTime today = DateTime.Now;
    DateTime answer = today.AddDays(daysToNextLevel);
                
                
}
@helper RewardTypeImage(Reward reward)
    {
        string imgSrc = string.Empty;
        var rewardDescription = string.Empty;
        rewardDescription = (string.IsNullOrEmpty(reward.RewardTypeDescription)) ? "" : reward.RewardTypeDescription.Replace("'", "&#39;");
        if (Model.RewardsImageLookup.ContainsKey(reward.RewardType))
        {
            imgSrc = Model.RewardsImageLookup[reward.RewardType];
            if (reward.RewardType == "CASHI" || reward.RewardType == "HCASH" || reward.RewardType == "HSA" || reward.RewardType == "HRA" || reward.RewardType == "HS/RA")
            {
    <a href="#" title="@rewardDescription" style="margin-left:4px; cursor: default">@imgSrc</a>
            }
            else
            {
    <img class="rewardImage" title="@reward.RewardTypeDescription" src="@Url.Content("~/Content/Images/" + imgSrc)" />
            }
        }
        else
        {
    <i class="icon icon-star" title="@reward.RewardTypeDescription" style="margin-left:-4px;" />
        }
}
<div class="canvas_wrapper">
    <div id="canvas_container" class="levels_graph_canvas">
        <div id="levelgraphbars_container">
            <div class=" counter counterLevel@(currentLap)" style="position: absolute;">
                0
            </div>
            <div class="graphbar" id="graphbar1" style="height: 33px; margin-top: 133px; margin-left: 0px;">
            </div>
            <div class="graphbar" id="graphbar2" style="height: 66px; margin-top: 100px;">
            </div>
            <div class="graphbar" id="graphbar3" style="height: 100px; margin-top: 66px;">
            </div>
            <div class="graphbar" id="graphbar4" style="height: 133px; margin-top: 33px;">
            </div>
            <div class="graphbar" id="graphbar5" style="height: 166px; margin-top: 0px;">
            </div>
        </div>
        <div id="tip-levels">
            <div id="tip-arrow">
            </div>
            <div id="tip-data">
            </div>
        </div>
        <div id="levelsgraph_bottombg">
        </div>
    </div>
</div>
<div>
    <div class="game-start-end-wrapper">
        <table class="progressBarTable" style="table-layout: fixed; left: 0px; position: absolute; z-index: 2;border:0; width: 100%;margin-top: 9px!important;">
            <tr>
                <td width="33%" class="leftAlignText"></td>
                <td style="width: 34%; " class="centerText centerTime"><strong>@(daysToGameEnd)</strong> <strong data-i18n="[html]WolverineLandingPage.MiscLabels.DaysLeft">&nbsp;days left</strong></td>
                <td style="width: 33%;" class="rightAlignText"></td>
            </tr>
        </table>
        <table class="challengeDefaultBg" style="table-layout: fixed; z-index: 1; left: 0px; position: absolute; height: 27px; background-color: #d0d0d0; border: 0; width: 100%;">
            <tr><td class="challengeCompletedBg" style="background-color: #ffc0cb; width: @Html.Raw(emptyBarWidth)%; ">&nbsp;</td><td>&nbsp;</td></tr>
        </table> 
    </div>
    
    <div id="start-end-date-section" >
        <span style="font-weight: bold;" data-i18n ="WolverineLandingPage.MiscLabels.StartDate">Start Date:  </span>&nbsp; <span>@Model.CurrentGame.StartDate.ToString("MMMM d, yyyy")</span><br/>
        <span style="font-weight: bold;" data-i18n="WolverineLandingPage.MiscLabels.EndDate">End Date:  </span>&nbsp; <span>@endOfGame.ToString("MMMM d, yyyy")</span>
    </div>
    

</div>
@if (Model.RewardsByType.Count > 0)
{
    foreach (var reward in Model.RewardsByType)
    {
        bool isPercent = false;
        if (reward.RewardType.Trim() == PREMIUM_REBATE || reward.RewardType.Trim() == EMPLOYEE_DISCOUNT)
        {
            isPercent = true;
        }
        if (reward.RewardType == "HCASH")
        {
            
    <div class="levels-rewards-wrapper">
        @if (Model.IsTickerAvailable) { 
        <div class="levels-cash-reward pull-left">
            <span data-i18n="WolverineLandingPage.MiscLabels.YouHaveEarned">You've earned</span><br />
            <span class="levels-earned-display"><span class="dollar-sign">$</span>@Math.Round(Model.AvialableHealthCash, 0)</span><br />
            <span data-i18n="WolverineLandingPage.MiscLabels.In">in</span><a onclick="TrackGoogleAnalyticEvent('Wolverine', 'Click', 'Levels Game Program Description');"
                href="/secure/rewards/programdescription.aspx" class="tertiary learn-more-link">
                <span data-i18n="WolverineLandingPage.MiscLabels.ThisGame">this game</span></a>
        </div>
        }
        <div class="levels-cash-earned pull-right">
            <span data-i18n="WolverineLandingPage.MiscLabels.YouHave">You have</span><br />
            <span class="levels-earned-display">
                @totalAvailableToSpend.ToString( "C0", healthCashCulture )
            </span><br />
            <span data-i18n="WolverineLandingPage.MiscLabels.To">to</span><a onclick="TrackGoogleAnalyticEvent('Wolverine', 'Click', 'Rewards Redemption');"
                href="/secure/rewards/Redeem.aspx" class="tertiary learn-more-link"> <span data-i18n="WolverineLandingPage.MiscLabels.Spend">
                    spend</span></a>
        </div>
        <div class="clearfix">
        </div>
    </div>
        }
        else
        {
    <div class="levels-rewards-wrapper">
        <div class="levels-reward-earned single-row pull-left">
            <span class="levels-earned-display levels-cash-reward">
                @if (reward.RewardType.Trim().ToUpper() == "HRA" || reward.RewardType.Trim().ToUpper() == "HSA" || reward.RewardType.Trim().ToUpper() == "HS/RA")
                {
                    @Model.RewardsEarnedSummary[reward.RewardType].ToString( "C0", healthCashCulture )
                }
                else
                {
                    @Math.Round(Model.RewardsEarnedSummary[reward.RewardType], 0)
                }
            @if (isPercent)
                {<span>%</span>}</span>
        </div>
        <div class="levels-reward-earned-desc pull-right">
            <span class="levels-reward-text"><span>
                @reward.RewardTypeDescription earned so far this</span> <a onclick="TrackGoogleAnalyticEvent('Wolverine', 'Click', 'Levels Game Program Description');"
                    href="/secure/rewards/programdescription.aspx"><span data-i18n="WolverineLandingPage.MiscLabels.Game">
                        game</span></a></span>
        </div>
        <div class="clearfix">
        </div>
    </div>
        }
    }
}
<div id="levels-reward" class="modal hide fade">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
        &times;</button>
    <div class="rewardContent">
        <h2 class="blue" data-i18n="WolverineLandingPage.GlobalTitles.MyRewards">
            My Rewards</h2>
        <div class="rewardsText" data-i18n="WolverineLandingPage.GlobalMessages.StartAtLevelOne">
            Start at level 1, and each time you reach a higher level, you get rewards! Here’s
            what you get at each level:
        </div>
        <table class="table table-bordered">
            @if (Model.RewardsByType.Count > 0)
            {
                <!-- Write out table headers -->
                <th class="leftAlign" data-i18n="WolverineLandingPage.MiscLabels.Level">
                    Level
                </th>
                if (Model.CurrentGame != null)
                {
                    foreach (var reward in Model.CurrentGame.Milestones.Select((value, i) => new { i, value }))
                    {
                <th class="rewardslvl-@(reward.i + 1)">
                    @(reward.i + 1)
                </th>

                    }
                <th class="totalRewards" data-i18n="WolverineLandingPage.MiscLabels.TotalAvailableToEarn">
                    Total available to earn:
                </th>
                }
                foreach (var reward in Model.RewardsByType)
                {
                    bool isPercent = false;
                    string format = reward.IsCash ? "C0" : "N0";
                    if (reward.RewardType.Trim() == PREMIUM_REBATE || reward.RewardType.Trim() == EMPLOYEE_DISCOUNT)
                    {
                        format = "P1";
                        isPercent = true;
                    }
                <tr>
                    <td class="leftAlign">
                        @RewardTypeImage(reward)
                    </td>
                    @{
                    currentGameNumber = 1;
                    }
                    @for (var i = 0; i < milestoneCount; i++)
                    {

                        var milestone = Model.CurrentGame.Milestones[i];
                        if (milestone.RelativeProgress > 0 && milestone.RewardsDictionary.ContainsKey(reward.RewardType.Trim()))
                        {
                        <td class="rewardslvl-@(i + 1)">
                            @if (milestone.RewardsDictionary.ContainsKey(reward.RewardType.Trim()))
                            {
                                var amt = isPercent
                                    ? milestone.RewardsDictionary[reward.RewardType] / 100
                                    : milestone.RewardsDictionary[reward.RewardType];
                                @amt.ToString(format, healthCashCulture)
                            }
                        </td>
                        }
                        else
                        {
                        <td class="rewardslvl-@(i + 1)  notEarnedReward">
                            @if (milestone.RewardsDictionary.ContainsKey(reward.RewardType.Trim()))
                            {
                                var amt = isPercent
                                    ? milestone.RewardsDictionary[reward.RewardType] / 100
                                    : milestone.RewardsDictionary[reward.RewardType];
                                @amt.ToString(format, healthCashCulture)
                            }
                        </td>
                        }
                        currentGameNumber++;
                    }
                    <td class="totalRewards">
                        @if (Model.RewardsAvailableSummary.ContainsKey(reward.RewardType))
                        {
                            var amt = isPercent
                                ? Model.RewardsAvailableSummary[reward.RewardType] / 100
                                : Model.RewardsAvailableSummary[reward.RewardType];
                            @amt.ToString(format, healthCashCulture)
                        }
                    </td>
                </tr>

                }
            }
        </table>
    </div>
    <div class="clearfix">
    </div>
    <div class="buttonModalContainer">
        <button type="button" class="btn yellow-button modal-button RewardBtn" data-dismiss="modal"
            aria-hidden="true" data-i18n="WolverineLandingPage.GlobalLabels.OkGotIt">
            Ok, got it!</button>
    </div>
</div>
@{
   

    if (Model.CurrentGame != null)
    {
      

    <script type="text/javascript">

    var milestonesArray = new Array();
    var val0 = @(milestoneCount > 0 ? Model.CurrentGame.Milestones[0].Value : 0);
    var val1 = @(milestoneCount > 1 ? Model.CurrentGame.Milestones[1].Value : 0);
    var val2 = @(milestoneCount > 2 ? Model.CurrentGame.Milestones[2].Value : 0);
    var val3 = @(milestoneCount > 3 ? Model.CurrentGame.Milestones[3].Value : 0);
    var val4 = @(milestoneCount > 4 ? Model.CurrentGame.Milestones[4].Value : 0);

     milestonesArray.push( val0 );
     milestonesArray.push( val1 );
     milestonesArray.push( val2 );
     milestonesArray.push( val3 );
     milestonesArray.push( val4 );

        GraphPluginModule.DrawLevelsGraph(@actualProgress , @currentLap, milestonesArray, @CurrentProgress, 5, 'canvas_container' , '' , 166, 37) ;
    var date = new Date(Date.parse('@answer' ) );
    var dateString = ( date.getMonth() + 1 ) + "/" + ( date.getDate()  ) + "/" + date.getFullYear();

    if ( @currentLap != @milestoneCount ) {
        var tipHtml = "<span id='drawLevelsGraph-tooltip-text'>" + @Model.AmountToNextLevel + " " + "<bold>" + '@currency' + "</bold>" + " " + i18n.t("WolverineLandingPage.GlobalMessages.ToNextLevel", { defaultValue: "to next level"}) +"</span>";
    if(@isNextLevelInMoreThen2Years == 1){
        tipHtml += "<div style='line-height : 18px;'><span id='drawLevelsGraph-tooltip-text-two' > "+ i18n.t("WolverineLandingPage.GlobalMessages.LevelsTooltipMessage", { defaultValue: "Start earning points to reach next level!"})  +" </span></div>";
    }else if ( @isNextLevelInMoreThen2Years == 0){
        tipHtml += "<div style='line-height : 18px;'><span id='drawLevelsGraph-tooltip-text-two' >" + i18n.t("WolverineLandingPage.GlobalMessages.LikelyToReach", { defaultValue: "You are likely to reach Level"}) +" "
   + '@nextLevel' + " "+ i18n.t("WolverineLandingPage.MiscLabels.By", { defaultValue: "by"}) + " "+ dateString + "</span></div>";
    }else{
        var tipHtml = "<span id='drawLevelsGraph-tooltip-text'>" + @Model.AmountToNextLevel + " " + "<bold>" + '@currency' + "</bold>" + " " + i18n.t("WolverineLandingPage.GlobalMessages.ToNextLevel", { defaultValue: "to next level"}) +"</span>";
    }
    } else {
        var tipHtml = "<span id='drawLevelsGraph-tooltip-text'>"  + i18n.t("WolverineLandingPage.GlobalMessages.LeveL5Reached", { defaultValue: "Way to go! You have reached level 5, but keep going!"}) + " </span></div>";
    }
    $( document ).ready( function() {
        addTip( 'canvas_container' , tipHtml , 'tip-levels');

    } );
    </script>
    }
}
<!-- REWARDS MODAL -->
