﻿
ul#newsfeedList {
	list-style: none;
	margin-top: 15px;
	padding: 0px;
}
ul#newsfeedList li {
	list-style: none;
	padding-bottom: 20px;
}

ul#newsfeedList li#newsFeedItemTemplate {
	display: none;
}

ul#newsfeedList li a {
	display: initial;
	padding: 2px;
    font-size: 12px!important;
}
ul#newsfeedList li img {
	height: 50px;
	position: absolute;
	margin-left: 215px;
	width: 50px;	
}

ul#newsfeedList li h4 {
	width: 70%;
	line-height: 1.2em;
    word-wrap:break-word;
}

ul#newsfeedList li img.likeImage {
	height:10px; 
	width:10px;
	margin-right:2px;
	margin-left: 0px;
	border: none;
	box-shadow: none;
	display: inline-block;
	position: relative;
}
div.newsfeedContainer #newPostText {
	background: #f6f6f6;
	box-shadow: #e7e7e7 0px 0px 8px ;
	border: solid 1pt #e4e4e4;
	font-style: italic;
	resize: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px 3px 3px 3px;
}

div.newsfeedContainer #newPostText.active {
	font-style: normal;
}

span.newsfeedSubText {
	font-size: 10px;
}

input#submitPost 
{
	border: none;
	background: url(../../images/buttons/60x22_redA.gif);
	background-repeat: no-repeat;
	color: #fff;
	height: 19px;
	margin-left: 75%;
	width: 56px;
}
input#submitPost.disabled {
	background: url('/v2/Content/Images/buttons/60x22-disabled.png');		
	background-repeat: no-repeat;
}
ul#newsfeedList li .LikeClassic {
    font-size:10px !important;
}