﻿/*General Social styles*/
.socialList{float:left;margin:0;padding: 0px 0px 0px 0px;} /*old axero-section-list-avatar*/
.socialList_content { width: 160px;margin-bottom: 2px;float: left; padding-left:2px;} /*max-height: 30px; old axero-section-list-content*/
.socialList_content_title{padding:0px; width:180px;} /*.axero-section-list-content-title*/
.socialList_content_Descr{width:180px;}/*axero-section-list-content-date*/
.SocialImg{float:left;height: 78px;width: 78px;}

.socialList_content a
{
    font-weight: bold;
}

.ulSocialSearch li label
{
    font-size: 12px;
}

#divShowMoreSuggestGr
{
    font-weight: normal;
    float: left;
}
#divSuggestedGroups h4{font-size: 18px;text-transform: uppercase;
border-bottom: none;
padding-left: 0px;}
.divUserProfile {margin-right: 20px;}
#btnSearchGroup{ float: left;}
#btnSearchGroup[disabled] {
	opacity: 1;
}
#crtGroupLink{ margin-left: 20px;}
.adminImg {width:13px; height:12px; position:absolute; z-index:5; margin-left:-20px; border:0;}
.small{font-size:.9em;line-height:12px;margin-bottom:1.875em;} /*line-height:1.875em*/
ul.SocialList {list-style-type:none; display:inline-block; margin:0px; padding:0px; clear:both; width:100%;margin-top: 20px;}
li.SocialListItems{list-style:none; display:block; float:left;width:190px;height: 110px;margin-bottom: 40px; word-wrap:break-word;}
li.SocialListItems-alt{list-style:none; display:block; float:left;width:190px;height: 110px;margin-bottom: 40px; word-wrap:break-word;}
.suggestedList { list-style-type:none; margin:0px; clear:both; }

.divContentSummaryCount {padding:0 0 10px 0; margin:0px; float:left; width:615px}
.divSocialRequests {float:right;width: 152px;margin-right: 10px; margin-top:10px;}
.divInvitationsRequests {padding: 0 10px 10px 5px; margin-right:5px;margin-top: 0; float:right;}
.VHMinvitIcon {width:16px; height:16px; border:0; padding-bottom:4px; vertical-align:middle;}

.divRgtSectArea { padding: 10px 0px 20px 0px; }
.create-new-group { margin-top: 40px;margin-bottom: 40px; }
.suggested-friends-area{ margin-top: 55px;  }
.search-friends-area{ background-color: #f5f4f2; padding-left:20px}
.ulSocialSearch {list-style-type:none; display:block; margin:0px; width:auto;padding:0px;clear:both;margin-bottom: 15px;}
.ulSocialSearch li { list-style-image: none; vertical-align: middle; margin:0px;line-height: 26px;}
.rdoSearchGrp{ margin:0 3px 3px 0 !important; }
.suggestedItems{list-style:none; display:block; float:left;width:100%;padding:0px 0px 10px 0px; margin:0px !important; word-wrap:break-word;}
.clsSeeMore {float:right; padding:0px 10px 10px 0px;}
.srcButton {z-index:2; float:right;}
.inputText {box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box;width: 225px;}
.dropDownRightSide {width: 228px; padding: 0;}
.paddLeftDialog { display: none;}
.suggestionDialog { overflow: auto;overflow: auto;max-height: 450px;} /*height: 400px !important;*/

.centerLoading { height: 65px;width: 65px;border: 0;}
.centerSpinInDialog { padding: 150px 290px 150px 290px;}
.centerSpinInProfDialog { padding: 150px 190px 150px 190px;}
.loadingWaitdiv{padding:40px; display:none; text-align:center; z-index:10000;position: absolute;top: 300px;left: 25%;}
.loadWaitMSG{font-family:arial;color:#c10000;font-size:24px;}
.ImgSpinner{ width:65px; height: 65px; border: 0;}
.loadingInfo{padding:20px;display:none;text-align:center;}

.divApproveRej {float:right;  padding:0px !important; vertical-align:top;width:115px;}
.spOption{margin-top:5px;}
.declineGrpLnk {text-align:right;float:right;margin-right:20px;margin-top:5px;}
/******************************************************************************************************************
*************************************Group Public Profile styles**************************************************/
.VHMPop_UPInfoPopUp{padding:0px;clear:both; font-size:11px; font-family: Verdana; color:#444444; line-height:13px;}
.VHMPop_UPInfoPop_Left{padding:0 18px 0 0; float:left; width:110px;}
.VHMPop_UPInfoPop_Right_top{padding:0; vertical-align:top; max-height:55px;}
.VHMPop_UPInfoPop_Right_bottom{padding:10px 0 0 0; vertical-align:bottom; max-height:55px; }
.VHMPop_UserName {font-family: Verdana; font-weight:bold; font-size:18px;color:#c81c00;}
.VHMPop_sectName {font-weight:bold; font-size:14px;}
.VHMPop_smallName {font-weight:bold; font-size:11px;}
.VHMPop_divWide_Empty {padding:0px;clear:both; width:95%;}
.VHMPop_InfoRow {padding:5px 0 5px 0; clear:both;overflow: auto;}
.VHMPop_infoRow_right{padding:0; line-height:13px;float:right;}
.VHMPop_infoRow_right_grp {padding:0; float:left;width: 290px;} 
.VHMPop_Buttons {clear:both;width:100%;padding-top: 8px;}
.VHMPop_Buttons .divButtonsLink {margin-top: 10px;}
.jqmUPPopWindow { display: none; position: absolute; top:20%; left:55% ; margin-left: -300px; border:0;padding:0;}
.VHMConfirmPopUps {display: none; position: absolute; top:30%; left:55% ; margin-left: -300px; border:1px solid #cc0000; background-color:#ffffff;padding:15px;overflow:auto; }
.jqmDialogPopUp {display: none;padding:0 !important;}
.VHMDialog { margin: 0;padding: 0;border: 0;background-color: transparent;}

.darkRed{color:#cc0000; font-weight: bold;}
.darkRed_NotBold {color:#cc0000;}
.spanMottoPadd {padding-top:0 !important;font-size:11px !important;}
.labelLghGray {color: #a0a0a0;display: inline-block; width:100px !important;font-weight: bold;}
.ulGrpMembers {clear:both; list-style-type:none; display: inline; margin:0px; width:90%;padding:0px; overflow:auto;}
.liGrpMembers {list-style:none; display: inline; padding:0px 0px 10px 0px; margin:0px !important;}

.profImg{float:left; margin:0 8px 5px 0; padding:2px; border:0; max-height: 115px; max-width: 86px;}
.actionButtons {width:90%; float:right; text-align:right !important;padding: 10px;}
.VhmGroupProf {clear:both; overflow:auto; min-height:300px;}
.ui-dialog-titlebarNoTitle { padding: 0px !important;height: 1px !important;}
.smallThImg {width:30px; border:0; margin:5px; padding:0; height:30px; z-index:4500;}
.pending-inv-decline{ font-size: 11px;font-weight: normal;text-decoration: none !important; float: right;margin-right: 30px; }
/***************************************Pagination and search functionality*********************************************************
*****************************************************************************************************************************************/

.searchSuggest {padding:5px; list-style:none; width:100%; float:left; margin:0; line-height:15px}
li.searchSuggest{list-style:none; list-style-image:none; display:block; width:98%;padding:0px; margin:0px;}
.srcButton {z-index:2; float:right;}
.srcPopUp {clear:both;display:none;background-color:#fff; border: 2px solid #c0c0c0;padding:5px;position:absolute; z-index:900;width:157px; height:auto;}
.searchSuggItems {list-style:none; list-style-image:none; display:block; padding:0px;margin:0px;background-color: #c0c0c0;}
ul.searchSuggest li:hover {background-color: Gray; cursor:hand;}
.small{font-size:.9em;line-height:12px;margin-bottom:1.875em;} /*line-height:1.875em*/

.peoploptionsbar{background:none repeat scroll 0 0 #FFFFFF; margin:0 0 10px 5px;overflow:hidden;padding:10px 10px 10px 0;float:left; width:95%;}
.peoploptionsbar .poLeft{float:left;width:auto;}
.peoploptionsbar .poLeft select {float:left;width:50px;font-size:8pt;margin:1px 3px 4px 5px;}
.peoploptionsbar .poLeft  span {float:left;font-size:8pt;margin:2px 3px 4px 0;}
.peoploptionsbar .poRight{float:right;width:auto; text-align:right; margin-top:3px;}
.pagingList{list-style-type:none; display:inline; margin:0px; width:auto;padding:0px;clear:both}
.pagingItem{list-style:none; list-style-image:none; display:inline;font-size:11px;height:auto;text-align:right;padding-right: 5px; vertical-align:text-bottom;}
.currentPageItem { font-weight: bold; color: #474747;}
a.currentPageItem , a:hover.currentPageItem {font-weight: bold; color: #474747; cursor: default; text-decoration: none;}
.boldBlue{font-weight:bold; color:Navy; font-size:12px;padding: 0px 0px 10px 0px;}
.navigationIcon {width:8px; height:11px; border:0; padding-bottom:4px; vertical-align:middle;}
.VhmGroupProf {clear:both; overflow:auto; min-height:300px;padding: 10px;}

/******************************************************************************************************************
*************************************Create Edit page styles**************************************************/
.divRow{ clear: both;}
.divCell{ float: left;width: 80px; margin: 15px 15px 15px 0px;text-align: right; *margin-top: 0px;}
.divCellRight{ margin: 15px 15px 15px 0px; display: inline-block;}
.socLableLeft{ float: left;clear: both; }

h3.rightpanel_header
{
	/*height:21px;*/
	font-size: 26px;
	font-weight: normal;
    line-height: 28px;
	/*color: #e7a423;*/
	text-align: left;
	padding-left:5px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #afafaf;
   /* text-transform: uppercase;*/
    font-family: 'Conv_Tungsten-Medium', Arial, Helvetica, sans-serif;
}

h3.leftpanel_header
{
	/*height:21px;*/
	font-size: 26px;
	line-height: 28px;
	font-weight: normal;
   /*color: #008aa2;*/
	text-align: left;
	padding-left:5px;
    padding-bottom: 15px;
    border-bottom: 1px dotted #ddd;
    font-family: 'Conv_Tungsten-Medium', Arial, Helvetica, sans-serif;
}

h4.rightpanel_header {
   /*height:21px;*/
	font-size: 26px;
	font-weight: normal;
    line-height: 28px;
	/*color: #e7a423;*/
	text-align: left;
	padding-left:5px;
    padding-bottom: 15px;
    border-bottom: 1px dotted #ddd;
   /* text-transform: uppercase;*/
    font-family: 'Conv_Tungsten-Medium', Arial, Helvetica, sans-serif; 
}

.btn.grey-button {
    background-color: #DBD4C6;
    background-image: linear-gradient(to bottom, #F1EEE8, #DBD4C6);
    border-color: #E0D9CD;
    border-radius: 4px 4px 4px 4px;
    color: #666666;
    font-size: 16px;
    padding: 5px 17px;
    text-shadow: none;
}
.suggestfrndsItems .socialList_content {
    width: 135px;
    margin-bottom: 2px;
    float: left;
    padding-left:0px;
}
.suggestfrndsItems .socialList_content_Descr {
    width: 240px;
    float: none;
    padding-left:0px;
}
.suggestfrndsItems .socialList_content_Descr h6 {
    float: none!important;
    padding-left:0px!important;
    padding-top:0px!important;
}
.suggestedItems .socialList_content {
    width: 135px;
    margin-bottom: 2px;
    float: left;
    padding-left: 0px;
}
.suggestedItems .socialList a img {
    margin: 0 8px 5px 0; padding: 2px; border: 0;
}
.suggestedItems .socialList_content_Descr h6 {
    float: none!important;
    padding-left:0px!important;
    padding-top:0px!important;
}
#divPagedGroups .pagingItem {
    list-style: none;
    list-style-image: none;
    display: inline;
    font-size: 11px;
    height: auto;
    text-align: right;
    padding-right: 10px;
    vertical-align: middle;
}
#divPagedGroups .pagingItem a .navigationIcon{
    vertical-align:middle;
}