﻿/*Page styles*/
.rightSect{clear:both;width:90%; float:right; text-align:right; padding: 15px;}
div.PageHeaderDiv {	margin-bottom:10px;}
/*Left section*/
.myFriendsTable {width:804px;color:#474747; text-align:left; vertical-align:top; min-height:400px; }
.myFriendsTable th {font-style:normal; font-weight: normal; text-align: left; color:#474747; vertical-align:top;}
.myProfileTable {width:100%; background-color: #fff; padding:0 2px 5px 0; border-top: 0; color:#474747; text-align:left; vertical-align:top; table-layout:fixed;}
.myProfileTable th {font-style:normal; font-weight: normal; text-align: left; color:#474747; vertical-align:top;padding:0 !important;}

ul.friendsList {list-style-type:none; display:inline-block; margin:0; padding:0;clear:both;width:100%;}
li.friendsListItems{list-style:none; display:inline-block; float:left;width:32%;padding:0 0 10px 0; height:64px;}
li.suggestFRListItems{list-style:none; display:inline-block; float:left;width:31%;padding:0 0 10px 0; height:64px;}
.contentImg{float:left; margin:0 8px 5px 0; padding:2px; width:50px; border:0; height:50px;}
li.my-notifications-view-more{list-style:none; list-style-image:none; display:block;font-size:11px;height:auto;padding:10px;text-align:right;}
.divWrapper{clear:both; border:1px solid #c0c0c0; background-color: #ffffff;overflow: auto; }
.divWrapper_NoBrd {clear:both;overflow: auto; border:0; background-color: #ffffff;min-height:200px;vertical-align:top;}
.divGrayWrapper_NoBtm {clear:both; border-top:1px solid #c0c0c0; border-left:1px solid #c0c0c0;border-right:1px solid #c0c0c0;background-color: #ffffff;overflow: auto;vertical-align:top;}
.divGrayWrapper_NoBtmTop {clear:both; border-top:0; border-left:1px solid #c0c0c0;border-right:1px solid #c0c0c0;background-color: #ffffff;overflow: auto; border-bottom:0;vertical-align:top;}
.divGrayWrapper_NoTop {clear:both; border-top:0; border-left:1px solid #c0c0c0;border-right:1px solid #c0c0c0;background-color: #ffffff;overflow: auto; border-bottom:1px solid #c0c0c0;min-height:250px;vertical-align:top;}
.clsMinHeight{min-height:300px;}
div.divSearch {padding:10px; min-height:100px !important;}
div.divSuggestedFr{padding:10px; min-height:250px;}
li.suggestfrndsItems{list-style:none; display:block; float:left;width:90%;padding:0 0 10px 0; margin:0 !important; word-wrap:break-word;}
.clsSeeMore {float:right; padding:0 10px 10px 0;}
li.myProfFriend{list-style:none; display:block; float:left;width:90%;padding:0 ; margin:0 !important;}
li.reqfrndsItems{list-style:none; display:block; float:left;width:96%;padding:10px 0 0 0; vertical-align:top; min-height:60px;}
div.divFriendsCount {padding:0 0 10px 0; margin-left:5px; float:left; width:350px;}
div.divfriendRequests {padding: 0 10px 10px 5px; margin-right:5px; float:right;}
.wrapClass {white-space: normal;}
.axero-section-list-content {margin-left:42px !important; }     
.axero-section-list-content .axero-section-list-content-title{overflow:hidden;margin:0;padding:2px 0 0 0; width:80%; white-space: normal; }
.axero-section-list-content .axero-section-list-content-date{overflow:hidden;padding:0; font-size:11px; color:#7F7F7F;margin: 0 0 0 42px !important;}
.axero-section-list-content .axero-section-list-content-summary{overflow:hidden;margin:0;padding:0;}
.axero-section-list-avatar{float:left;margin:0;padding: 0 0 5px 0;}
.peoploptionsbar{background:none repeat scroll 0 0 #FFFFFF; margin:0 0 10px 5px;overflow:hidden;padding:10px 10px 10px 0;float:left; width:95%;}
.peoploptionsbar .poLeft{float:left;width:auto;}
.peoploptionsbar .poLeft select {float:left;width:50px;font-size:8pt;margin:1px 3px 4px 5px;}
.peoploptionsbar .poLeft  span {float:left;font-size:8pt;margin:2px 3px 4px 0;}
.peoploptionsbar .poRight{float:right;width:auto; text-align:right;}
.darkRed{color:#cc0000; font-weight: bold; font-size:12px;}
.darkRed_NotBold {color:#cc0000;font-size:12px;}
.darkRedBigF{color:#cc0000; font-weight: bold; font-size:14px;}
.labelLghGray {color: #a0a0a0;display: inline-block; width:100px !important;}
ul.goalsList {list-style-type:none; display:block; margin:0; width:auto;padding:0;clear:both;}
li.goalsListItems{list-style:none; display:block; float:left;width:90%;padding:0 0 10px 0; margin:0 !important;}
.wrapText {word-wrap: break-word;width:190px;}

.deleteHREF { cursor:hand; font-weight:bold;}
.ulGrpMembers {clear:both; list-style-type:none; display: inline; margin:0; width:90%;padding:0; overflow:auto;}
.liGrpMembers {list-style:none; display: inline; padding:0 0 10px 0; margin:0 !important;}
/*Pop up's styles*/

.divUserProfile {margin-right: 20px;}
.clsAlignTitle {margin:0 0 0 5px; padding: 0 0 10px 0;}
.closeBtns {overflow:hidden; height:auto; margin:0; padding:0 !important; color:#4e4848; background-color:#fff;}
.divApproveRej {float:right; padding:0 !important; vertical-align:top;width:115px;}
.divPopUP{left:25%; padding:10px; top:20%; width:400px; }
.divPopUP_Wider{left:20%; padding:10px 10px 20px 10px; top:25%; width:550px; max-height:550px;} 
.noBorder{border:0 !important; overflow:auto;}
.popPaddingBtm{padding:12px 5px 15px 15px;}
.popPaddingTop{padding:12px 5px 1px 15px;}

.popRemove{width:330px; z-index:4000;}
.popUpPadd{padding:5px 5px 5px 15px; }
.popUpStyle{left:25%; padding:2px; top:20%; z-index:990;}
.popTitle { cursor: pointer; float:right; -moz-user-select: none; padding: 6px 0 6px 18px;}
.popUserProf {left:25%; overflow:hidden; padding:10px; top:20%;min-width: 400px; max-width:650px;}
.popTitle_Span {float:left; margin-top:10px;-moz-user-select: none;}
.popTitle_SpanRed { color: #cc0000;float:left;-moz-user-select: none;}
.popTitle_Close {float:right; margin:-5px 0 0 0;padding-right:0 !important;}
.profImg{float:left; margin:0 8px 5px 0; padding:2px; border:0; max-height: 115px; max-width: 86px;}
.SocialPopUp {background-color:#fff;border:2px solid #cc0000; display:none;overflow:auto;position:absolute; z-index:910;}
.SocialModal {border:2px solid #cc0000 !important; position:absolute !important;clear:both;}
.SuggestMore {padding:0 0 15px 10px; max-height:380px; overflow:auto; }
.SocialSeconPop {background-color:#fff; border:2px solid #cc0000;display:none; padding:10px;position:absolute; width:400px;z-index:908;}
.removeFriendPopUp {background-color:#fff; border:2px solid #cc0000 !important; display:none; padding:10px; top:25% !important; left:52% !important;}
.slimmer{width:40%;}
.spOption{margin-top:5px;}
.popGenInfo{padding:15px;}
/*Pagination and search functionality */
.pagingList{list-style-type:none; display:inline; margin:0; width:auto;padding:0;clear:both}
.pagingItem{list-style:none; list-style-image:none; display:inline;font-size:11px;height:auto;text-align:right;}
.currentPageItem { font-weight: bold; color: #474747;}
a.currentPageItem , a:hover.currentPageItem {font-weight: bold; color: #474747; cursor: default; text-decoration: none;}
.boldBlue{font-weight:bold; color:Navy; font-size:12px;padding: 0 0 10px 0;}
.searchSuggest {padding:5px; list-style:none; width:100%; float:left; margin:0; line-height:15px}
li.searchSuggest{list-style:none; list-style-image:none; display:block; width:98%;padding:0; margin:0;}
.srcButton {z-index:2; float:right;}
.srcPopUp {clear:both;display:none;background-color:#fff; border: 2px solid #c0c0c0;padding:5px;position:absolute; z-index:900;width:157px; height:auto;}
.searchSuggItems {list-style:none; list-style-image:none; display:block; padding:0;margin:0;background-color: #c0c0c0;}
ul.searchSuggest li:hover {background-color: Gray; cursor:hand;}
.small{font-size:.9em;line-height:12px;margin-bottom:1.875em;} /*line-height:1.875em*/

/*Left section*/
.brd_btm{ border-bottom: solid 1px #a0a0a0;}
.brd_darkgray{border: 1px solid #505050;}
div.cover {
	background-color: #dedede;
	background-repeat:repeat;
	background-image:url("../images/general/transparancy.gif");
	height: 100%;
	left: 0;
	-khtml-opacity:0.40;
	opacity: 0.4;
	-moz-opacity: 0.4;
	filter:alpha(opacity=40);
	position:absolute;	
	top: 0;
	width: 100%;
	z-index: 3900;
}
/* My Account and My Profile styles*/
/*My Prof Tab*/
.leftSection {width:560px !important; float:left;border: 1px solid #C0C0C0; padding:10px;}/*78%*/
.rightSection {float:right; width:200px;padding-right:0 !important;}
.topLeft{border-top:1px solid #c0c0c0; border-left:1px solid #c0c0c0;padding:5px;}
.topRight{border-top:1px solid #c0c0c0; border-right:1px solid #c0c0c0;padding:5px;}
.topMiddle{border-top:1px solid #c0c0c0;padding:5px;}
.topLeftRight{border-top:1px solid #c0c0c0;border-left:1px solid #c0c0c0; border-right:1px solid #c0c0c0;padding:5px;}
.topLeftBottom{border-top:1px solid #c0c0c0; border-left:1px solid #c0c0c0; border-bottom: 1px solid #c0c0c0;padding:5px;}
.bottomLeftRight{border-bottom:1px solid #c0c0c0;border-left:1px solid #c0c0c0;border-right:1px solid #c0c0c0;padding:5px;}
.bottomRightTop{border-bottom:1px solid #c0c0c0;border-right:1px solid #c0c0c0;border-top:1px solid #c0c0c0;padding:5px;}
.btmRight{border-bottom:1px solid #c0c0c0;border-right:1px solid #c0c0c0;padding:5px;}
.btmLeft{border-bottom:1px solid #c0c0c0;border-left:1px solid #c0c0c0;padding:5px;}
.txtRight{text-align:right;padding:5px 15px 10px 5px;}
.txtTop{vertical-align:top;padding:5px;}
.txtMiddle{vertical-align:middle;padding:5px;}
.brdRight{ border-right:1px solid #c0c0c0; padding:5px 15px 5px 5px; overflow: hidden;}
#pnlPersInfo {overflow: hidden; }
.fitMotto{ word-wrap: break-word;}
.brdLeft{border-left:1px solid #c0c0c0;padding:5px;}
.MemberProfileImage{border:0; float:left;max-height:115px;max-width:86px;} 
.ChallengeItems{list-style:none; display:block; float:left;width:96%;padding:5px 0 0 0; vertical-align:top;}
.paddAlignTop {padding-top:10px !important;vertical-align:top; } 
.padd{padding:10px 10px 0 10px; }
.editPopUpLeft{width:18%; font-weight:bold;}

.ChlgPop {padding:10px 10px 50px 10px; width:350px;}
.EditInfoPop{ left: 20%; padding:10px 10px 20px 10px; width:550px;}
.OrganizPop { left: 30%;padding:10px 10px 20px 10px; width:400px;}
.grayitalicfont{color:#505050; font-style:italic;}
.editTXT{ width:290px;}
.spanDetails {display: inline-block; font-weight: bold; width:90px !important;}

.rdoPrivSett {list-style:none;float: left; padding:0;width:100%; margin: 0; }
.rdoPrivSett li { list-style-image: none; float:left; vertical-align: bottom; margin:0; width:33%;}

.rdoSearchab {list-style:none; display: inline-block; width:60%; margin:0 !important; padding:0;}
.rdoSearchab li { list-style-image: none; display: inline; vertical-align: bottom;  width:20%;}
.spanSearchab {float:left; width:30%;}
.spanRdoBtns {display: inline-block; width:32% !important;text-decoration:underline;}
.spanNF_RdoBtns {display: inline-block; width:70px !important; text-decoration:underline; }

.spanWhite{color:#ffffff;}
.listItem1 {width:32% !important;display: inline-block;}
.listItem2 {width:15% !important;float: left;}
.listItem3 {width:40% !important;display: inline-block;}
.listItem4 {width:35% !important;display: inline-block;}

.loadingWaitdiv{padding:40px; display:none;text-align:center; z-index:10000;}
.centerLoading{padding:20px;display:none;text-align:center; z-index:5000;  position:fixed; top:37%;left:45%;}
.loadWaitMSG{font-family:arial;color:#c10000;font-size:24px;}
.ImgSpinner{ width:65px; height: 65px; border: 0;}
.loadingInfo{padding:20px;display:none;text-align:center;}

.adminImg {width:13px; height:12px; position:absolute; z-index:5; margin-left:-20px; border:0;}
.adminNoteImg{width:13px; height:12px; z-index:5;vertical-align:bottom;border:0;}
.divInfoNote{clear:both; height:auto; float:right;padding:20px 20px 0 20px; overflow:hidden;}
.newgroupTable{width:400px;text-align:left; font-family:Verdana, Geneva, Arial, Helvetica, Sans-Serif; font-size:11px;}
.newgroupTable td {text-align:left; vertical-align:top; padding:15px 15px 0 0; white-space:nowrap;}
.txtArea{overflow:auto; font-family:Verdana, Geneva, Arial, Helvetica, Sans-Serif; font-size:11px;}
.ulGroupPrivacy{list-style-type:none; display:block; margin:0; width:auto;padding:0;clear:both;}
.ulGroupPrivacy li { list-style-image: none; vertical-align: bottom; margin:0;}
.ulGroupSearch {list-style-type:none; display:block; margin:0; width:auto;padding:0;clear:both;}
.ulGroupSearch li { list-style-image: none; vertical-align: middle; margin:0;}
.rdoSearchGrp{margin:0 3px 3px 0 !important;}
#ProvSettWrap{ padding: 20px;}
.smallThImg {width:30px; border:0; margin:5px; padding:0; height:30px; z-index:4500;}

/*group public profile and user public profile styles */
.spanNamePadd {padding-bottom:0 !important; vertical-align:top; padding-top: 10px !important; }
.spanMottoPadd {padding-top:0 !important;font-size:11px !important;}
div.hideInfo {display:none;}
.imageCell {width:95px !important;}
.fixedLyt {table-layout: fixed; min-height:200px; vertical-align:top !important;}
.actionButtons {width:90%; float:right; text-align:right !important;}
.fixedLyt td {vertical-align:top !important;}

.selectBox
{
    background-color:#fff;
    border:1px solid #b0b0b0; 
    cursor:text;
    height:auto;
    line-height:18px;
    outline-style:none;
    overflow:hidden;
    padding:2px 33px 2px 2px;
    position:relative;
    vertical-align:middle;
}
.selectBox ul {cursor:text;list-style-type:none; margin:0; overflow:hidden; padding-left:0; }
.selectBox ul li{float:left;line-height:18px;list-style-image:none; margin:1px 3px 1px 1px; padding:0;}
.liInvItem{margin-left:-2px;}
.liInvteeLstItem{background-color:#e0e0e0; border:1px solid #b0b0b0;  white-space:nowrap; }
.liInvteeLstItem a
{
    background:url('../images/challenges/btn_close.gif') no-repeat scroll left 0 transparent; 
}
.liInvteeLstItem a:hover{text-decoration:none;}
.txtInvitee{border:0; padding-left:0;}
.selectBoxSearchResWrap { width:100%; }
.selectBoxSearchRes{ width: 100%;}
.selectBoxSearchResWrap{background-color:#fff; border:1px solid #b0b0b0;  position:relative;}
.selectBoxSearchRes {cursor: pointer;left:0; position:absolute; top:0;max-height:150px; overflow:auto; overflow-x:hidden;}
.divSearchLstItem,
.divSearchLstItemOver{ overflow:hidden; padding:2px 4px; text-overflow:ellipsis; white-space:nowrap; }
.divSearchLstItem
{
    border:1px solid #fff;
}
.divSearchLstItemOver
{
    background-color: #e0e0e0; 
    border:1px dotted #b0b0b0;
}
.invLst {width:95%;}

div.nfFailMessage
{
	height: 40px;
	padding: 10px;
}

div.nfFailMessage, 
div.nfFailMessage a,
div.nfFailMessage a:visited,
div.nfFailMessage a:hover
{
	color: #a1030e;
	font-family: Helvetica;
	font-size: 14px;
	font-weight:bold;
	text-decoration: none;
}

/************************************************************************************************************
*************************************BADGES RELATED STYLES**************************************************/
.ulEarnedBadges_UP {clear:both; list-style-type:none; display: list-item; margin:0; width:280px;padding:0 ; overflow:hidden; text-align:center;}
.liEarnedBadges_UP {list-style:none none inside !important; display: list-item; margin:0;width:20%; float:left; text-align:center;}
.UserFullName,
a.UserFullName,
a.UserFullName:link, 
a.UserFullName:visited,
a.UserFullName:hover,
a.UserFullName:active
{color:#0062B0 !important; font-weight:bold !important; text-decoration: none; cursor:hand; cursor:pointer;}
/****************************************************************************************************************************
*************************************Notifications and consolidation styles**************************************************/
.VHMPop_UPInfoPopUp{padding:0;clear:both; font-size:11px; font-family: Verdana; color:#444444; line-height:13px;}
.VHMPop_UPInfoPop_Left{padding:0 18px 0 0; float:left; width:110px;}
.VHMPop_UPInfoPop_Right_top{padding:0; vertical-align:top; max-height:55px;}
.VHMPop_UPInfoPop_Right_bottom{padding:10px 0 0 0; vertical-align:bottom; max-height:55px; }
.VHMPop_UserName {font-family: Verdana; font-weight:bold; font-size:18px;color:#c81c00;}
.VHMPop_sectName {font-weight:bold; font-size:14px;}
.VHMPop_smallName {font-weight:bold; font-size:11px;}
.VHMPop_divWide_Empty {padding:0;clear:both; width:95%;}
.VHMPop_InfoRow {padding:5px 0 5px 0; clear:both; font-size:11px; font-family: Helvetica, Arial, sans-serif;}
.VHMPop_infoRow_right{padding:0; width:280px; float:right; line-height:13px;}
.VHMPop_infoRow_right_grp {padding:0; width:240px; float:right; line-height:13px;}
.VHMPop_Buttons {clear:both;width:100%;padding-top: 8px;}
.VHMPop_Buttons .divButtonsLink {margin-top: 10px;}
.jqmUPPopWindow { display: none; position: absolute; top:20%; left:55% ; margin-left: -300px; border:0;padding:0;}
.VHMConfirmPopUps {display: none; position: absolute; top:30%; left:55% ; margin-left: -300px; border:1px solid #cc0000; background-color:#ffffff;padding:15px;overflow:auto; }
.NotificDialogPopUpss {display: none;border:0;padding:0 !important;}
/****************************************************************************************************************************
*****************************************Social Basics consolidation styles**************************************************/
.VHMDarkRedPageBorder { background-color: #ffffff; border-top: 0; padding: 10px 5px 5px 5px; border-left: 1px #cc0000 solid; border-right: 1px #cc0000 solid; border-bottom: 1px #cc0000 solid; margin-top:-10px;}
.VHMinvitIcon {width:16px; height:16px; border:0; padding-bottom:4px; vertical-align:middle;}
/*padding:5px;margin-top:-10px;*/