﻿.jqmVHMPopWindow { display: none; top: 35%; left: 90%; border:0;padding:0;overflow:auto;clear:both;}
.congratulation {border: 0px!important;background-color:Transparent!important;padding-right:0px !important; background-image:none!important;}
.notifSection{border-bottom: 1px solid #e3e3e3;padding:15px 0 15px 0; overflow:auto;}
.sectionTitle{height:16px; text-align:left; vertical-align:middle; font-size:13px; font-family:Helvetica; color: #022c4f; font-weight:bold; padding-bottom:12px;}
.NotificTitle {border-bottom: 1px solid #e3e3e3;padding:15px 0 5px 0; overflow:auto;text-align:left; vertical-align:middle; font-size:20px; font-family:Helvetica; color: #07375f; font-weight:bold;}
.clearAllCls {width:45%;float:right;text-align:right;margin: 10px 18px 0 0;}
.iconTitle {height:16px; width:16px; border:0; padding-bottom: 4px; vertical-align: middle;}
.spanText{color:#444444; font-size:13px; font-family:Helvetica;}
.spOptionText {font-size: 11px; font-family:Helvetica; color:#c41b00;}
.VHMConfirmAlert {display: none; border:1px solid #cc0000; background-color:#ffffff;padding:15px;overflow:auto; }
.divNudge {float: right;width: 115px; text-align: center;}
/*************************Link styles*******************************************/
.VHMHref, a.VHMHref, a.VHMHref:link, a.VHMHref:visited, 
a.VHMHref:active {color:#0062B0 !important;  text-decoration: none; cursor:hand; cursor:pointer; font-size:11px; font-family:Helvetica;}
a.VHMHref:hover {color:#0062B0 !important;  text-decoration: underline; cursor:hand; cursor:pointer; font-size:11px; font-family:Helvetica;}

.VHMHref_Names, a.VHMHref_Names, a.VHMHref_Names:link, a.VHMHref_Names:visited, 
a.VHMHref_Names:active {color:#0062B0 !important;  text-decoration: none; cursor:hand; cursor:pointer; font-size:13px; font-family:Helvetica; font-weight:bold;}
a.VHMHref_Names:hover {color:#0062B0 !important;  text-decoration: underline; cursor:hand; cursor:pointer; font-size:13px; font-family:Helvetica;font-weight:bold;}

.loadingWaitdiv{padding:20px;text-align:center; z-index:1000;}
.loadWaitMSG{font-family:arial;color:#c10000;font-size:24px;}
.ImgSpinner{ width:65px; height: 65px; border: 0;}