﻿@using System.Configuration
@using Vhm.Web.Common
@using System.Web.Optimization
@section Styles
{
    @RenderSection("Styles", false)
}
<body>
    <head>
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        <meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
        <style type="text/css">
            body
            {
                font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
                font-size: 10pt;
                margin: 0px;
                color: #666;
            }
        </style>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                var url = $("#MemberDeviceSettingsPath").val();
                //TODO: Adjust loader
//                $(".loadingWaitdiv").show();
                GetAllActivites(url);
                GetAllBumps( url );
            });
            function GetAllActivites(url) {
                //TODO: Make ajax call to sync API
            }

            function GetAllBumps( url ) {
                //TODO: Make ajax call
            }
        </script>
    </head>
    <div class="container">
        <h1 style="color: #666;">
            @Model.PageT.PageTitleName
        </h1>
        <div class="alert alert-block alert-error fade in hide" id="errorMessage">
            <button type="button" class="close" onclick="$(this).parent().hide();">
                ×</button>
            <h3 class="alert-heading">
                You got an error!
            </h3>
            <p>
                Please try again or contact administrator.
            </p>
        </div>
        <a href="@Model.MemberDeviceSettingsPath" style="display: none;" id="MemberDeviceSettingsPath">
        </a>
        <h3>
            Activity
        </h3>
        <table class="table table-striped" id="activity-table">
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Steps
                    </th>
                    <th>
                        Active minutes
                    </th>
                    <th>
                        Calories
                    </th>
                    <th>
                        Distance
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>
            Bump challenges
        </h3>
        <table class="table table-striped" id="bump-table">
            <thead>
                <tr>
                    <th>
                        Challenge ID
                    </th>
                    <th>
                        Member ID
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="Loading" class="loadingWaitdiv">
        <div style="padding: 50px; text-align: center;">
            <img src="/v2/Content/Images/Shared/spinner.gif" alt="Searching" class="ImgSpinner" />
            <br />
            <br />
            <strong class="loadWaitMSG">Just a moment…</strong>
        </div>
    </div>
</body>
