﻿@using System.Configuration
@using Vhm.Web.Common
@using System.Web.Optimization
@section Styles
{
    @RenderSection("Styles", false)
}
<body>
    <head>
        <title>@ViewBag.Title</title>
        @Styles.Render("~/Content/css")
        <meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
        <style type="text/css">
            body
            {
                font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
                font-size: 10pt;
                margin: 0px;
                color: #666;
            }
        </style>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                var url = $("#MemberDeviceSettingsPath").val();
                $(".loadingWaitdiv").show();
                $("#config-table").hide();
                GetAllConfigurations(url);
            });
            function GetAllConfigurations(url) {

                $.ajax({
                    url: url + "GetMemberSettings",
                    success: function (data) {
                        if (data != null && data.MemberData != null) {
                            $("#deviceId").text(data.MemberData.DeviceId);
                            $("#nickname").text(data.MemberData.NickName);
                            if (data.HrTimeFormat == 1) {
                                $("#clockSettings").text("24hr");
                            } else {
                                $("#clockSettings").text("12hr");
                            }
                            //Hide this for now. We might need to remove it as this might not be something users should set
//                            if (data.MidnightReset) {
//                                $("#resetOptions").text("Midnight reset");
//                            } else {
//                                $("#resetOptions").text("Manual reset");
//                            }
                            if (data.EngagementMessagingOn) {
                                $("#messaging").text("On");
                            } else {
                                $("#messaging").text("Off");
                            }

                            $(".loadingWaitdiv").hide();
                            $("#config-table").show();
                            return true;
                        }
                        $(".loadingWaitdiv").hide();
                        $("#errorMessage").show();
                        return true;
                    },
                    complete: function (e, xhr) {
                        if (e.status != 200) {
                            $("#errorMessage").show();
                            $(".loadingWaitdiv").hide();
                        }
                    }
                });
            }
        </script>
    </head>
    <div class="container">
        <h1 style="color: #666;">
            @Model.PageT.PageTitleName
        </h1>
        <div class="alert alert-block alert-error fade in hide" id="errorMessage">
            <button type="button" class="close" onclick="$(this).parent().hide();">
                ×</button>
            <h3 class="alert-heading">
                You got an error!
            </h3>
            <p>
                Please try again or contact administrator.
            </p>
        </div>
        <a href="@Model.MemberDeviceSettingsPath" style="display: none;" id="MemberDeviceSettingsPath">
        </a>
        <table class="table table-striped" id="config-table">
            <thead>
                <tr>
                    <th>
                        Device Id
                    </th>
                    <th>
                        Nickname
                    </th>
                    <th>
                        Clock settings
                    </th>
                    <th>
                        Reset options
                    </th>
                    <th>
                        Messaging on/off
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="deviceId">
                    </td>
                    <td id="nickname">
                    </td>
                    <td id="clockSettings">
                    </td>
                    <td id="resetOptions">
                    </td>
                    <td id="messaging">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="Loading" class="loadingWaitdiv">
        <div style="padding: 50px; text-align: center;">
            <img src="/v2/Content/Images/Shared/spinner.gif" alt="Searching" class="ImgSpinner" />
            <br />
            <br />
            <strong class="loadWaitMSG">Just a moment…</strong>
            <p id="prog_msg">
                We&#39;re loading device settings.</p>
        </div>
    </div>
</body>
