﻿@using Vhm.Web.Common
@using Vhm.Web.Models.ViewModels.Device
@using Vhm.Web.Models.ViewModels.Shared
@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/MasterNoCol.cshtml";
    ViewData["pageTitle"] = new PageTitle(Model.PageT.ShowPageTitle, Model.PageT.PageTitleName);
    ViewBag.Title = new PageTitle(Model.PageT.ShowPageTitle, Model.PageT.PageTitleName);
    var resourceVersion = ApplicationSettings.CachedResourceVersion;
}
@section Styles
{
    <link rel="stylesheet" href="~/Content/style/Bootstrap/bootstrap-switch.css?version=@resourceVersion" />
}
@section Script
{
    <script type="text/javascript" src="~/Scripts/Bootstrap/bootstrap-switch.js?version=@resourceVersion"></script>
    <script type="text/javascript" src="~/Scripts/VHM/Settings/MemberDevice.js?version=@resourceVersion"></script>
}
<a href="@Model.MemberDeviceSettingsPath" style="display: none" id="MemberDeviceSettingsPath"></a>
<div class="alert alert-block alert-error fade in hide" id="errorMessage">
    <button type="button" class="close" onclick="$(this).parent().hide();">
        ×</button>
    <h3 class="alert-heading"></h3>
    <p data-i18n="WolverineLandingPage.GlobalTitles.PleaseTryAgain">Please try again or contact administrator.</p>
    @*    <p>
        <a class="btn btn-danger" href="#">Take this action</a> 
    </p>*@
</div>
<div class="device-content">
    <div class="max-device-description">
        <p data-i18n="WolverineLandingPage.GlobalMessages.MaxDeviceDescription">
            One of the best things about Max? You can customize it to work exactly how you want it to work. 
            Love the idea of personal messages? Great! Leave them ON, and Max will provide reminders, encouragement and praise. 
            Not for you? Just turn them OFF.  Check out the list below to see all the ways to customize Max, and simply choose 
            your settings on the right. And don’t worry, you can come back any time to edit your settings.
        </p>
        <p data-i18n="[html]WolverineLandingPage.GlobalMessages.AnyQuestionsVisitSupportPage">If you have any question or you encounter any problems during the install please visit our <a href="/secure/help/Support.aspx">Support page.</a></p>
    </div>
    <div class="max-device-image"><img src="~/Content/Images/Device/max-device.png" alt="Screen Image" /></div>

    <div class="settings-list-clearboth"></div>
    
</div>
<div class="settings-content">
    <h1 class="deviceHeader" data-i18n="WolverineLandingPage.GlobalTitles.MaxDeviceSettings">
        MAX DEVICE SETTINGS
    </h1>
    <ul class="settings-list">
        <li>
            <div>
                <div class="setting-title" data-i18n="WolverineLandingPage.GlobalTitles.SelectNickname">Select a nickname (no more than 14 characters)</div>
                <img src="~/Content/Images/Device/select-nickname.png" alt="Screen Image" />
                <div class="settings-item" id="nickName">
                    <p data-i18n="WolverineLandingPage.GlobalTitles.MaxGreetThisName">Max will greet you with this name.</p>
                    <input type="text" name="nickname" maxlength="14" class="PaddLeft" />
                    <div class="settings-list-clearboth"></div>
                </div>
                
            </div>
        </li>        
        <li>
            <div>
                <div class="setting-title" data-i18n="WolverineLandingPage.GlobalTitles.CaloriesDistanceScreen">Calories and distance screen</div>
                <img src="~/Content/Images/Device/calories-distance.png" alt="Screen Image" />
                <div class="settings-item" id="caloriesDistance">
                    <p data-i18n="WolverineLandingPage.GlobalTitles.HowManyCaloriesBurned">See how many calories you’ve burned and how far you’ve gone.</p>
                    <div class="make-switch" name="caloriesDistance">
                        <input type="checkbox" checked>
                    </div>
                    <div class="settings-list-clearboth"></div>
                </div>
            </div>
        </li>
        <li>
            <div id="distanceUnit">
                <div class="setting-title" data-i18n="WolverineLandingPage.GlobalTitles.UnitsForDistance">Units for distance on Max should be</div>
                <img src="~/Content/Images/Device/miles-kilometers.png" alt="Screen Image" />
                <div class="settings-item" id="isDistanceImperial">
                    <p data-i18n="WolverineLandingPage.GlobalTitles.DistanceDisplayMilesKilometers">Distance can display as Miles or Kilometers.</p>
                    <div class="make-switch" name="distanceDisplay" id="distanceDisplay">
                        <input type="checkbox" checked>
                    </div>
                    <div class="settings-list-clearboth"></div>
                </div>
            </div>
        </li>
        <li>
            <div>
                <div class="setting-title">Clock screen</div>
                <img src="~/Content/Images/Device/clock-12.png" alt="Screen Image" />
                <div class="settings-item" id="clockScreen">
                    <p data-i18n="WolverineLandingPage.GlobalTitles.TellTimeKeepTrackSteps">Tell the time and still keep track of you steps.</p>
                    <div class="make-switch" name="clockScreen">
                        <input type="checkbox" checked>
                    </div>
                    <div class="settings-list-clearboth"></div>
                </div>
            </div>
        </li>
        <li >
            <div id="divHrFormat">
                <div class="setting-title" data-i18n="WolverineLandingPage.GlobalTitles.ClockShouldDisplay">The clock should display</div>
                <img src="~/Content/Images/Device/clock-24.png" alt="Screen Image" />
                <div class="settings-item" id="timeFormat">
                    <p data-i18n="WolverineLandingPage.GlobalTitles.TimeIn12or24HourFormat">Get the time in 12 or 24 hour format.</p>
                    <div class="make-switch" name="clock" id="clock">
                        <input type="checkbox" checked>
                    </div>
                    <div class="settings-list-clearboth"></div>
                </div>
            </div>
        </li>
        <li>
            <div>
                <div class="setting-title" data-i18n="WolverineLandingPage.GlobalTitles.SyncScreen">Sync screen</div>
                <img src="~/Content/Images/Device/sync-steps.png" alt="Screen Image" />
                <div class="settings-item" id="syncScren">
                    <p data-i18n="WolverineLandingPage.GlobalTitles.AbilityToSyncMaxWirelessly">If you want the ability to sync you Max wirelessly you need this screen.</p>
                    <div class="make-switch" name="sync">
                        <input type="checkbox" checked>
                    </div>
                    <div class="settings-list-clearboth"></div>
                </div>
            </div>
        </li>
        @if (@Model.SponsorModule != null && @Model.SponsorModule.AllowBumpChallenge)
        {
            <li>
                <div>
                    <div class="setting-title" data-i18n="WolverineLandingPage.GlobalTitles.BumpChallenges">Bump challenges</div>
                    <img src="~/Content/Images/Device/bump-challenge.png" alt="Screen Image" />
                    <div class="settings-item" id="bumpChallenges">
                        <p data-i18n="WolverineLandingPage.GlobalTitles.BumpFriendsStartChallenge">Bump your friends to start a challenge.</p>
                        <div class="make-switch" name="bump">
                            <input type="checkbox" checked>
                        </div>
                        <div class="settings-list-clearboth"></div>
                    </div>
                </div>
            </li>
        }
        <li>
            <div>
                <div class="setting-title" data-i18n="WolverineLandingPage.GlobalTitles.PaceSunScreen">Pace (sun) screen</div>
                <img src="~/Content/Images/Device/sync-sun.png" alt="Screen Image" />
                <div class="settings-item" id="sunScreen">
                    <p data-i18n="WolverineLandingPage.GlobalTitles.SunGrowThresholdsAre">See the sun grow as you move around. The thresholds are:</p>
                    <ul class="device-settings-steps-list" data-i18n="[html]WolverineLandingPage.GlobalMessages.NumberOfStepsIn60Minutes">
                        <li>less than 1000 steps in the last 60 min</li>
                        <li>more than 1000 steps in the last 60 min</li>
                        <li>more than 2000 steps in the last 60 min</li>
                        <li>more than 3000 steps in the last 60 min</li>
                    </ul>
                    <div class="make-switch" name="sun">
                        <input type="checkbox" checked>
                    </div>
                    <div class="settings-list-clearboth"></div>
                </div>
            </div>
        </li>
        @if (@Model.SponsorModule != null && @Model.SponsorModule.AllowDeviceMessaging)
        {
            <li>
                <div>
                    <div class="setting-title" data-i18n="WolverineLandingPage.GlobalTitles.PersonalMessages">Personal messages</div>
                    <img src="~/Content/Images/Device/encouraging-messaging.png" alt="Screen Image" />
                    <div class="settings-item" id="encouragingMessages">
                        <p data-i18n="WolverineLandingPage.GlobalMessages.UseLittleEncouragement">We could all use a little encouragement from time to time, but if you don’t want Max to remind you to move turn these messages off.</p>
                        <div class="make-switch" name="messaging" id="mySwitch">
                            <input type="checkbox" checked>
                        </div>
                        <div class="settings-list-clearboth"></div>
                    </div>
                </div>
            </li>
        }
        <li style="display:none;"><!-- Hide this section. We might need to remove it as this might not be something users should set-->
            <div>
                <img src="~/Content/Images/Device/dummy-image.png" alt="Screen Image" />
                <div class="settings-item" id="midnightReset">
                    <strong data-i18n="WolverineLandingPage.GlobalTitles.ResetDisplay">Reset the display</strong>
                    <br />
                    <input type="radio" name="reset" value="true" />
                    &nbsp; <span data-i18n="WolverineLandingPage.GlobalTitles.AutomaticallyMidnight">Automatically at midnight</span>
                    <br />
                    <input type="radio" name="reset" value="false" />
                    &nbsp; <span data-i18n="WolverineLandingPage.GlobalTitles.IllDoItManually">I'll do it manually</span>
                </div>
            </div>
        </li>
    </ul>
    <input type="button" class="btn yellow-button floatRight" value="@Model.CommonContent[CommonLabelsContent.SaveChanges]" id="saveChanges" />
    <div class="settings-list-clearboth"></div>
</div>
<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            ×</button>
        <h3 id="myModalLabel" data-i18n="WolverineLandingPage.GlobalTitles.YourChangesSaved">Your changes have been saved</h3>
    </div>
    <div class="modal-body">
        <p data-i18n="WolverineLandingPage.GlobalMessages.ChangesWontAppearOnGoZone">The changes wont appear on your GoZone untill you sync.</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true" data-i18n="WolverineLandingPage.GlobalLabels.Close">Close</button>
    </div>
</div>
<div id="Loading" class="loadingWaitdiv">
    <div style="padding: 50px; text-align: center;">
        <img src="/v2/Content/Images/Shared/spinner.gif" alt="Searching" class="ImgSpinner" />
        <br />
        <br />
        <strong class="loadWaitMSG" data-i18n="WolverineLandingPage.GlobalTitles.JustAMoment">Just a moment...</strong>
        <p id="prog_msg" data-i18n="WolverineLandingPage.GlobalTitles.LoadingDeviceSettings">We are loading device settings.</p>
    </div>
</div>
