﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Challenges</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="Health, Wellness, Rewards, Incentive, Pedometer, Active, Challenge" />
    @Styles.Render("~/Content/site")
    <link rel="stylesheet" type="text/css" href="/v2/content/style/font-awesome.css?v=1" />
    
   
    <link rel="stylesheet" href="/v2/content/style/responsive.css"/>
    
    <link rel="stylesheet" href="/v2/content/style/master.css"/>
    <link rel="stylesheet" href="/v2/Content/Style/JQuery/jquery-ui-1.8.23.custom.css"/>
    <link rel="stylesheet" href="/v2/Content/themes/vhmJqueryTheme.css"/>
    <link rel="stylesheet" href="/v2/Content/Style/SocialStyles/style_Social.css"/>
    
    <link rel="stylesheet" href="/v2/Content/Style/SocialStyles/style_Notifications.css"/>
    <link rel="stylesheet" type="text/css" href="/v2/Content/themes/@ViewBag.Theme/css/theme.css">
    <link rel="stylesheet" type="text/css" href="/v2/Content/themes/@ViewBag.Theme/css/popup.css">
    
    <link rel="stylesheet" type="text/css" href="/challenge/Content/themes/@ViewBag.Theme/css/challenges.css?v=1" />
     <link rel="stylesheet" type="text/css" href="/styles/v3/tungstenV3.css" />
    <link rel="stylesheet" href="/v2/Content/Style/Shared/buttons.css"/>
    @RenderSection("styles", required: false)
    
</head>
<body style="background-image: url('/v2/Content/themes/@ViewBag.Theme/images/site-background-image.jpg');">
   
    <div id="layoutHeader"></div>
    <div class="v3-wrapper">
        <div class="v3-header">
            Challenges</div>
        <input type="hidden" id="hdnLocalizationSeemsLike" value=""/>
        <input type="hidden" id="hdnLocalizationRefreshingPage" value=""/>
        <div class="v3-body">
            @RenderBody()
        </div>
    </div>
    <div id="layoutFooter"></div>
    </body>

    @Scripts.Render("~/bundles/scripts")    
    
    <script type="text/javascript">

        $(document).ready(function () {
            $.ajax({
                url: '/v2/layout/Header',
                cache: false,
                success: function (header) {
                    $("#layoutHeader").html(header);
                    AddActiveOnHover();
                }
            });

            function AddActiveOnHover() {
                $(".menu-item-li").hover(function () {
                    $(this).addClass("active");
                },
            function () {
                $(this).removeClass('active');
                });
            }

            $.ajax({
                url: '/v2/layout/Footer',
                cache: true,
                success: function (footer) {
                    $("#layoutFooter").html(footer);
                }
            });
        });
    </script>

    @RenderSection("scripts", required: false)
        
    <script type="text/javascript" src="/v2/Scripts/jQuery/jquery.vhm.plugins.js"></script> 
    <script type="text/javascript" src="/v2/Scripts/lib/core.js"></script> 
    <script type="text/javascript" src="/v2/Scripts/VHM/social/social_notifications.js"></script> 
    <script type="text/javascript" src="/v2/Scripts/VHM/social/socialGroups.js"></script> 
    <script type="text/javascript" src="/v2/Scripts/VHM/social/social_newsFeed.js"></script> 
    <script type="text/javascript" src="/v2/Scripts/VHM/VHMNotifications.js"></script> 
    
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '@ViewBag.TrackerKey']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

</html>