﻿
<div class="well">
    <p>
        Congratulations! You can now log in using your email address: {{Email}}
    </p>
    <p style="margin-top:20px;">
        <a href="/login.aspx" class="btn btn-link">Log in now</a>
    </p>
</div>