﻿
<style type="text/css">
    li{ margin-bottom: 10px;clear: both;}
    li.spacer{ margin-bottom: 0;clear: both;}
    input[type=radio], input[type=checkbox]{ float: left;margin-left: -20px;}
    select{ width: 130px;}
    label{ margin-left: 20px;}
    li.errorList{ margin-bottom: 5px;}
    hr{border-top: solid 1pt #ccc;}
    h5 span{ padding: 3px;color: #a52a2a;}
</style>
<div class="well" ng-show="!Model.Waiting && !Model.Error">
    <form novalidate name="enrollmentForm" class="css-form">
        <ul>
            <li>*Required fields</li>            
            <li>
                <h5>Title</h5>
                <select ng-model="Model.Title" id="Title" ng-options="title for title in Titles">
                    <option value="">Select one</option>
                </select>
            </li>
            <li>
                <div style="float:left; width: 250px;">
                    <h5><span>*</span>First Name</h5>
                    <input type="text" id="FirstName" required ng-model="Model.FirstName" />
                </div>
                <div style="float:left; width: 250px;">
                    <h5><span>*</span>Last Name</h5>
                    <input type="text" id="LastName" required ng-model="Model.LastName" />
                </div>
            </li>
            <li>
                <h5><span>*</span>Gender</h5>
                <label>
                    <input type="radio" id="GenderMale" value="Male" name="gender" ng-model="Model.Gender" />
                    <span>Male</span>
                </label>
                <label>
                    <input type="radio" id="GenderFemale" value="Female" name="gender" ng-model="Model.Gender" />
                    <span>Female</span>
                </label>
            </li>    
            <!-- Filter Value Go Here-->
            <li ng-repeat="SponsorFilterItems in Model.SponsorFilters">
                <h5><span>*</span>{{SponsorFilterItems.FilterName}}</h5>

                <select style="width:auto"
                        ng-model="SponsorFilterItems.FilterValueID"
                        ng-options="m.FilterValueID as m.FilterValueText for m in SponsorFilterItems.FilterValues"
                        required>
                    <option value="">Select one</option>
                </select>
            </li>
            <li>
                <div style="clear: both;">
                    <h5><span>*</span>Date of Birth</h5>
                    <select ng-options="month.Month as month.Abbr for month in Months" id="DOBMonth" ng-model="Model.DOB_Month" required>
                        <option value="">Month</option>
                    </select>
                    <select ng-options="day for day in Days" ng-model="Model.DOB_Day" id="DOBDays" required>
                        <option value="">Day</option>
                    </select>
                    <select ng-options="year for year in Years" ng-model="Model.DOB_Year" id="DOBYears" required>
                        <option value="">Year</option>
                    </select>
                </div>
            </li>
            <li class="spacer"><hr/></li>
            <li>
                <div>
                    <h5><span>*</span>Phone Number</h5>
                    <p>We won’t use your phone number without your express permission unless we need to contact you about prizes you’ve won.</p>
                    <input type="tel" placeholder="" id="Phone" ng-model="Model.Phone"/>
                </div>                        
                
            </li>
            <li class="spacer"><hr/></li>
            <li>
                <div style="float:left; width: 250px;">
                    <h5><span>*</span>Email Address</h5>
                    <input type="email" required ng-model="Model.Email" id="Email" />
                </div>
                <div style="float:left;">
                    <h5><span>*</span>Re-enter Email Address</h5>
                    <input type="email" required ng-model="Model.ConfirmEmail" id="ConfirmEmail"/>
                    <span class="text-error" ng-show="Model.Email != Model.ConfirmEmail">Emails do not match</span>
                </div>
            </li>
            <li>
                <div style="float:left; width: 250px;">
                    <h5><span>*</span>Create a Password</h5>
                    <input type="password" required ng-model="Model.Password" id="Password"/>
                </div>
                <div style="float:left;">
                    <h5><span>*</span>Re-enter Password</h5>
                    <input type="password" required ng-model="Model.ConfirmPassword" id="ConfirmPassword"/>
                    <span class="text-error" ng-show="Model.Password!=Model.ConfirmPassword">Passwords do not match</span>
                </div>
            </li>
            <li></li>
            <li ng-repeat="terms in Model.Terms">
                <input type="checkbox" ng-model="terms.Accept" class="TermAccept" ng-checked="terms.Accept" required/><span>I have read and agree to the terms of the <a target="_blank" ng-href="/group/Terms.aspx?termscode={{terms.TermsCode}}&version={{terms.Version}}&cid={{terms.EntityID}}&languageId=1033">{{terms.Description}}</a>.</span>
            </li>
            <li class="alert-error alert-block alert" style="display: none;" ng-model="Model.Errors" ng-show="!Model.IsValid">
                <ul class="errorList">
                    <li ng-repeat="error in Model.Errors">{{error}}</li>
                </ul>
            </li>
        </ul>
    </form>
    <p style="clear:both; padding-top:20px;margin-left: 20px;">
        <a ng-href="{{'#/welcome/' + Token}}" class="btn btn-link">Back</a>&nbsp;
        <button ng-show="!Waiting" ng-click="ValidateEnrollment(Model)" class="btn btn-info" ng-disabled="enrollmentForm.$invalid || Model.Password!=Model.ConfirmPassword || Model.Email!=Model.ConfirmEmail">Continue</button>
        <img src="img/spinner.gif" style="height:40px;" ng-show="Waiting"/>
    </p>
</div>
<div ng-show="!Model.Waiting && Model.Error" style="display: none;">
    <p>
        We're sorry, but the invitation that was sent to you is no longer valid.
    </p>
</div>