﻿<style type="text/css">
	#wrapper {
		min-height: 1200px;
		border: 0;
		background-color: white;
		padding: 70px 45px 70px 45px;
		border-top-right-radius: 6px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		border-top-left-radius: 6px;
		box-shadow: 0 0 8px #CCC;
		margin: 0 auto 0 auto;
		width: 870px;
		padding-bottom: 0;
		padding-top: 15px;
	}

	#extendableHeader {
		width: 950px;
		overflow: hidden;
		margin: 20px auto 0 auto;
		padding: 0;
		height: 35px;
		border-width: 0;
		background-color: transparent;
	}

	#extendableHeader_sub {
		background-color: #009AB1;
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#00A9C0) to(#008AA2));
		background: -webkit-linear-gradient(#00A9C0, #008AA2);
		background: -moz-linear-gradient(#00A9C0, #008AA2);
		background: -ms-linear-gradient(#00A9C0, #008AA2);
		background: -o-linear-gradient(#00A9C0, #008AA2);
		-pie-background: linear-gradient(#00a9c0, #008aa2);
		filter: progid:DXImageTransform.Microsoft.gradient( startcolorstr='#00a9c0', endcolorstr='#008aa2',GradientType=0 );
	}
	#extendableHeader_sub {
		display: inline;
		float: left;
		list-style-type: none;
		margin: 0;
		padding: 0;
		white-space: nowrap;
		-webkit-border-top-right-radius: 6px;
		-webkit-border-bottom-right-radius: 0;
		-webkit-border-bottom-left-radius: 0;
		-webkit-border-top-left-radius: 6px;
		-moz-border-radius-topright: 6px;
		-moz-border-radius-bottomright: 0;
		-moz-border-radius-bottomleft: 0;
		-moz-border-radius-topleft: 6px;
		border-top-right-radius: 6px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		border-top-left-radius: 6px;
	}
	#extendableHeader_sub, .extendableHeader_sub {
		position: relative;
	}
	#extendableHeader_sub {
		list-style-type: none;
		white-space: nowrap;
	}


	a{
		color: #0066cc;
		text-decoration:none;
	}

	a:hover, a:active, a:focus{
		color: #0066cc;
		text-decoration:underline;
		cursor:pointer;
	}

	.textLeft {
		text-align:left;
	}

	h1 {
		font-family: Helvetica,Arial, sans-serif;
		font-weight: normal;
		font-size: 32px;
		color: #008AA2;
		text-align: left;
		margin-bottom: 25px;
	}


	.beta {
		width: 27px;
		height: 28px;
		position: relative;

		RIGHT: -5px;
		TOP: -5px;
	}

	.img-sprite-4 {

		height: 130px;
		margin-top: 50px;
	}
	.img-sprite {
		display: block;
		width: 510px;
		margin-top: 20px;
		text-align: center;
		background: transparent url(http://www.virginhealthmiles.com/v2/Content/Images/Challenges/challenges-how-it-works.png) no-repeat 0 0;
		background-position-y: -830px;
	}

	.box {
		padding: 10px 20px 10px 20px;
		margin-bottom: 20px;
	}	

	ul, li {
		list-style:disc !important;
		margin-bottom:6px !important;
		line-height:14px !important;
	}
</style>
  
<img src="img/spinner.gif" style="height:40px;" ng-show="Waiting"/>
<div style="width: 870px; font-family: Helvetica, Arial, sans-serif" ng-show="!Model.Waiting && !Model.Error">
    <!-- left content -->
    <div style="width: 510px; float: left">
        <h1>Hello! We&#39;re so glad you&#39;re here!</h1>
        <p style="color: #333; font-size: 15px">
            <img align="right" alt="Virgin Pulse Express landing page" height="248" src="https://auth1.virginhealthmiles.com/images/ModulePrograms/express-landing-thumb.jpg" style="padding:0 0 20px 20px;" width="200" />             
        </p>
        <p style="padding-bottom: 10px; color: #333; font-size: 12px">
            Virgin Pulse Express is an innovative program that gives you the tools and motivation to live better every day. With Express, you can track the things that matter most to you. You can challenge one another to things that matter to <em>all</em> of you. And you&#39;ll earn entries for great prizes along the way.</p>
        <p style="padding-bottom: 20px; color: #333; font-size: 12px">
            Virgin Pulse is part of Sir Richard Branson&#39;s famed Virgin Group (yep, same Virgin as Virgin Mobile, Virgin Atlantic, Virgin America...) bringing you fun, engaging programs to help you live better every day!</p>
        <h2 style="color: #990000; font-size: 15px; font-weight: bold">
            Here&#39;s what you get:</h2>
        <div style="color: #333; font-size: 12px">
            <ul style="line-height: 18px">
                <li>
                    <strong>Challenges!</strong> All kinds. Compete using our self-tracking tools or a compatible fitness device such as our optional GoZone pedometer, Fitbit, Polar HRM or RunKeeper. Choose from a set of great challenge categories or create your own.</li>
                <li>
                    <strong>Easy activity tracking</strong> to stay on top of your progress. Use our online Activity Journal (self-entry) or a compatible fitness device.</li>
                <li>
                    A <strong>secure, personalized</strong> online account.</li>
	
                <li>
                    <strong>Biometrics tracking</strong> like weight and blood pressure (self-entry).</li>
                <li>
                    <strong>A social community</strong> for adding friends, joining groups, sharing ideas and more.</li>
                <li>
                    <strong>Badges!</strong> for a whole bunch of accomplishments and milestones.</li>
                <li>
                    AND...the chance to <strong>earn entries each day</strong> for monthly prize drawings!</li>
            </ul>
            <h2 style="padding-top:20px; color: #990000; font-size: 15px; font-weight: bold">Here&#39;s how it works:</h2>
            <div style="margin-bottom: 20px; color: #333; font-size: 12px">
                <p>
                    With Virgin Pulse Express, the more healthy things you do, the more entries you earn into monthly prize drawings. And what can you win? &nbsp;Great prizes, including things like iPads, fitness tracking devices, high-tech gadgets and gift cards. Prizes vary and may include the ones you see below. For the most current prize offerings, check the <a href="http://landing.virginhealthmiles.com/ExpressPrizes201310" target="_blank">official prize-giveaway rules</a>.</p>
                <div class="img-sprite img-sprite-4">
                    &nbsp;</div>
                <p>
                    At the end of every month, the entries you earned will be put toward the monthly prize drawing, and then your account will reset to zero so you can start all over again! We make sure everybody has a fair shot at the prizes every month by having all members start over each month.</p>
            </div>
            <p style="padding: 0px 0 0 0;">
                <a ng-href="{{'#/enroll/' + Token}}">JOIN VIRGIN PULSE EXPRESS TODAY!</a> It&#39;s fun, and it&#39;s FREE for you! Don&#39;t miss out.</p>
            <a class="btn btn-large" ng-href="{{'#/enroll/' + Token}}" style="font-size:20px; color:#0066cc;" target="_self">Join  now!</a></div>
    </div>
    <!-- right content -->
    <div style="width: 310px; FLOAT: right; margin-top:20px;">
        <div class="box" style="background-color: #c8e9ed;">
            <span class="pull-left" style="font-size: 22px; font-weight:bold; color: #008AA2; margin-top:12px;">
                Ready to go?&nbsp;</span>
					
            <a class="btn btn-large" ng-href="{{'#/enroll/' + Token}}" style="font-size:20px; color:#0066cc;" target="_self">Join  now!</a>
        </div>
        <div class="box" style="background-color: #ffffcc;">
            <h3 style="margin-bottom: 0px; color: #003366; font-size: 17px; font-weight: normal; line-height:17px;">
                How to earn prize drawing entries:</h3>
            <div style="font-size:12px; color: #333; margin-top:20px;">
                <b>DAILY</b> (up to 9 entries per day)
                <ul style="line-height: 18px; margin-top:10px; padding-bottom:10px;">
                        
                    <li>Participate in healthy challenges.</li>
                    <li>Log your activity in the Activity Journal.</li>

                    <li>Post to your social community.</li>
                    <li> Have a device? Upload your steps and earn entries.</li>
						
                </ul>
                <b>WEEKLY</b> (up to 2 entries per week)
                <ul style="line-height: 18px; margin-top:10px; padding-bottom:10px;">
                    <li>
                        Track your weight (enter your results online). 
                    </li>
                </ul>
                <b>MONTHLY</b> (up to 1 per month)
                <ul style="line-height: 18px; margin-top:10px; padding-bottom:10px;">
                    <li>
                        Create your own activity challenge. Do it every month.  
                    </li>
                </ul>
                <b>LIFETIME</b> (earn up to 7 entries over the course of your program lifetime)


                <ul style="line-height: 18px; margin-top:10px; padding-bottom:10px;">
                    <li>
                        Send up to 5 friend requests and get 1 entry per request.
                    </li>
                    <li>
                        Complete your member profile plus upload a profile picture to earn 2 entries.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div ng-show="!Model.Waiting && Model.Error" style="display: none;">
    <p>
        We're sorry, but the invitation that was sent to you is no longer valid.
    </p>
</div>
      