﻿/* Search Results Control Styles
----------------------------------*/
.ektron-ui-search-results {}

.ektron-ui-search-results .results {list-style: none; padding: 0; margin: 1em 0 0 0;}
.ektron-ui-search-results .results .result {margin-bottom: 1em;list-style: none;}
.ektron-ui-search-results .results .result .title {margin: 0; padding: 0;}
.ektron-ui-search-results .results .result .summary {}
.ektron-ui-search-results .results .result .url {}
.ektron-ui-search-results .results .result .date {}
.ektron-ui-search-results .results .result .avatar {float:left; margin-right: 1em;}
.ektron-ui-search-results .results .result .resultsInfo {float:left; width: 50%; margin-right: 1em;}
.ektron-ui-search-results .results .result .prices {float: left; list-style: none; margin: 0 0 1em 1em;}