﻿@using System.Web.Optimization
@using Vhm.Web.Models.ContentEnums
@using Vhm.Web.Models.ViewModels.Challenges
@using Vhm.Web.Models.ViewModels.Shared
@model AboutChallengesVM

@{
    ViewBag.Title = "AboutChallenges";
    Layout = "~/Views/Shared/MasterNoCol.cshtml";
    ViewData["pageTitle"] = new PageTitle(false, "");
}
@section Styles
{
    @*@Styles.Render("~/Content/LandingPage")*@
    <style type="text/css">
        .aboutChallWrapper{}
        .cloudsBackGround{ background-image:url('/v2/content/images/Challenges/info-page-clouds.png') !important;background-repeat: no-repeat;overflow: auto; width: 836px;height: 614px;}
        .aboutChallInfo { padding: 40px; overflow: auto; clear: both;}
        .centerText{ text-align: center;}
        .fewIdeasContent { background-image:url('/v2/content/images/Challenges/info-page-clouds.png') !important;background-repeat: no-repeat;}
        .activityChallenges{ padding: 20px 0;}
        .healthyChallenges{ padding: 20px 0;}
        .infoSectionBar {-webkit-border-top-right-radius: 6px;
                          -webkit-border-bottom-right-radius: 0;
                          -webkit-border-bottom-left-radius: 0;
                          -webkit-border-top-left-radius: 6px;
                          -moz-border-radius-topright: 6px;
                          -moz-border-radius-bottomright: 0;
                          -moz-border-radius-bottomleft: 0;
                          -moz-border-radius-topleft: 6px;
                          border-top-right-radius: 6px;
                          border-bottom-right-radius: 0;
                          border-bottom-left-radius: 0;
                          border-top-left-radius: 6px;
                          height: 34px;
                          /*margin: -15px 0 0 -30px;
                          width: 320px;*/
                          behavior: url(/v2/content/themes/PIE.htc);
                          position: relative; 
                          
                          /*TODO - add this in the theme folder*/
                          background: -webkit-gradient(linear, 0 0, 0 100%, from(#990000) to(#cc0000));
                          background: -webkit-linear-gradient(#990000, #cc0000);
                          background: -moz-linear-gradient(#990000, #cc0000);
                          background: -ms-linear-gradient(#990000, #cc0000);
                          background: -o-linear-gradient(#990000, #cc0000);
                          -pie-background: linear-gradient(#990000, #cc0000);
                          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#990000', endColorstr='#cc0000',GradientType=0 );
                          background: -webkit-gradient(linear, 0 0, 0 100%, from(#990000) to(#cc0000));
                          background: -webkit-linear-gradient(#990000, #cc0000);
                          background: -moz-linear-gradient(#990000, #cc0000);
                          background: -ms-linear-gradient(#990000, #cc0000);
                          background: -o-linear-gradient(#990000, #cc0000);
                          -pie-background: linear-gradient(#990000, #cc0000);
                          color: #ffffff;text-align: center; vertical-align: middle;line-height: 34px;
                          }
            .infoSectionArea {padding: 20px; background-color: #f9f8f7;min-height: 120px;}
            .infoSectionBottom { background-image: url('/v2/content/images/Challenges/box-bottom-shadow.jpg'); text-align:center; }  
            .infoSctButtons{ position: relative;top: -10px;margin: 0 auto; white-space: normal;padding: 3px;}  
    </style>
}
@section Script
{
    @Scripts.Render("~/bundles/Challenges")
    <script type="text/javascript">
        //get the buttons
        ChAbout.$btnIndividuals = $('#btnIndividuals');
        ChAbout.$btnTeams = $('#btnTeams');
        ChAbout.$btnLetsDoIt = $('#btnLetsDoIt');
        //get the button text
        ChAbout.IndividualsOnly = jDecode('@Model.Content[AboutAndCreateChallengeContent.IndividualPlayersOnly]');
        ChAbout.Teams = jDecode('@Model.Content[AboutAndCreateChallengeContent.IndividualPlayersAndTeams]');
        ChAbout.LetsGo = jDecode('@Model.Content[AboutAndCreateChallengeContent.AboutChallsHealthyChallLetsGo]');
        $(function () {
            ChAbout.PopulateButtonsTextAndOnClick();
        });
    </script>
}
<div class="aboutChallWrapper">
    <div class="centerText">
        <h1 class="red">@Model.Content[AboutAndCreateChallengeContent.CreateChallenge]</h1>
        <br/>
    </div>
    @*<div class="aboutChallInfo">*@
        <div>
            <span>@Model.Content[AboutAndCreateChallengeContent.AboutChallsTopMessage]</span>
        </div>
        <div class="activityChallenges span3 offset1">
            <div class="infoSectionBar"><span>@Model.Content[AboutAndCreateChallengeContent.AboutChallsActivityChallenge]</span></div>
            <div class="infoSectionArea">
                <span>@Model.Content[AboutAndCreateChallengeContent.AboutChallsActivityChallengeMessage]</span>
            </div>
            <div class="infoSectionBottom">
                <input type="button" class="vbtn_red_a_md infoSctButtons" value="Cancel" id="btnIndividuals" onclick=""/> 
                <input type="button" class="vbtn_gray_a_md infoSctButtons" value="Cancel" id="btnTeams" onclick=""/>
            </div>
        </div>
        <div class="healthyChallenges span3 offset2">
            <div class="infoSectionBar"><span>@Model.Content[AboutAndCreateChallengeContent.AboutChallsHealthyChallenges]</span></div>
            <div class="infoSectionArea">
                @Html.Raw(@Model.Content[AboutAndCreateChallengeContent.AboutChallsHealthyChallMessage])
            </div>
            <div class="infoSectionBottom">
                <input type="button" class="vbtn_red_a_md infoSctButtons" value="Let's go!" id="btnLetsDoIt" onclick=""/> 
            </div>
        </div>
    @*</div>*@
    <div class="cloudsBackGround">&nbsp;&nbsp;&nbsp;</div>
</div>
