﻿@using System.Web.Optimization
@using Vhm.Web.Models.ViewModels.Shared
@model Vhm.Web.Models.ViewModels.Challenges.PersonalKnowAndGoVM
@{
    Layout = "~/Views/Shared/MasterNoCol.cshtml";
    ViewData["pageTitle"] = new PageTitle(false, "");
}        
@Scripts.Render("~/bundles/Challenges")    

@section Script{
    <script type="text/javascript">
        $(document).ready(function () {
            var img = $("#menuProfileImage").attr("src");
            ko.applyBindings(new ChallengeModel(img));
        });
    </script>
}
<style type="text/css">
    ul#chatList{width: 295px; padding: 0;margin-left: 20px;}
</style>
<link rel="stylesheet" type="text/css" href="@Url.Content(string.Format("~/Content/themes/{0}/css/challenges.css?v=1", @Model.ThemeCode.ColorThemeCode))" />
<div id="main-content">
<div class="wrapper">
    <div class="row">
        <div class="challengeInfoContainer">
            <h3 class="red" data-bind="text: $data.Challenge().Name"></h3>
            <div class="challengeInfo" data-bind="text: $data.Challenge().RulesCopy">
                
            </div>
            @*<label class="pull-left" style="margin-top: 10px;">
                on your way to winning...</label>
            <img class="pull-left" style="height: 50px; width: 50px; margin: -5px 10px 0" src="https://qa.virginhealthmiles.com/secure/Rewards/BadgeImage.aspx?bid=37&size=small"
                 alt="" />
            <label class="pull-left bold red" style="margin-top: 10px">HI STEPPIN'</label>*@
        </div>
        <div class="trackerAnswerContainer">
            <div style="clear: both;">
                <div class="challengeDates">
                    <span class="bold">Challenge Runs: </span>
                    <span data-bind="text: StartDate"></span> - <span data-bind="    text: EndDate"></span>
                </div>
               @* <div>you've completed 1 out of 2 weeks</div>*@
            </div>
        </div>
    </div>
    <div class="row scoreContainer" style="margin-left: -30px !important;">
        <h1 class="kagQuestion" data-bind="text: ChallengeQuestion" ></h1>
        <div class="scoreContainerRow yesRow">
            <label class="pull-left" style="font-size:24px;display: inline-block;height: 22px;width: 40px;margin-top:20px;">Yes!</label>   
            <ul data-bind="foreach: TrackedDays">                
                <li>
                    <div class="checkbox inline" data-bind="click: ToggleAnswer">
                        <img data-bind="visible: $data.Answer() == 'True'" src="/v2/Content/Images/Challenges/check-mark-lg.png" alt="" />  
                        <input type="checkbox" /> 
                    </div>  
                    <label data-bind="text: Day" style="display:block; margin-left:15px; margin-top:20px;"></label>   
                    <h2 data-bind="visible: $data.Answer() == 'True', text: $parent.InspriationalMessage()" class="text-center ThirstyScriptRegular scoreMessage"></h2>
                </li>
            </ul>
        </div>        
    </div>
    <div class="row">
        <div class="span4 rankContainer">
            <hr /> 
            <!--MY RANK-->
            <div class="rank row">
                <h3 class="red bold">My Progress</h3>
                <div>
                    <h2 class="pull-left" data-bind="text: Rank"></h2>
                    <img class="rankImage pull-left" data-bind="attr: { src: MemberImage }" src="" alt="" />
                    <span class="bold lightGrey">Me:&nbsp;</span><span class="lightGrey"><span data-bind="text: YesCount"></span> days of YES!</span>
                </div>
            </div>
            <hr />
            <!--LEADER BOARD-->
            <div class="leaderBoard" style="clear: both">
                <h3 class="red bold">Leaderboard</h3>
                <ul data-bind="foreach: ChallengeMembers">
                    <li>
                        <img data-bind="attr: { src: ProfilePicUrl }"  class="rankImage pull-left" src="" alt="" />
                        <span data-bind="html: MemberName" class="bold lightGrey"></span>
                        <span class="lightGrey"><span data-bind="text: Score"></span> days of YES!</span> 
                    </li>
                </ul>
            </div>
            <div>
                <label>Items Per Page:</label>   
                <select id="pageSelect" data-bind="options: PageSizes,
    value: SelectedPageSize,
    event: { change: LoadLeaderBoard }, changeBubble: false">
                </select>
            </div>
        </div>
        <!--CHAT BOARD-->
        <div class="span4 chatContainer">
            <input type="hidden" data-bind="value: MemberImage"/>
            <hr />
            <div class="chatTitle">
                <img alt="" src="/challenge/Content/Images/Challenges/chat-icon.png" class="pull-left" />
                <h4 class="red bold">Chat</h4>
            </div>  
            <div class="addPost">
                <textarea data-bind="value: Post, event: { keypress: AllowTyping }, valueUpdate: 'afterkeydown'" placeholder="type chat here"
                          style="resize: none;width:100%" id="newMessage" cols="51" rows="3"></textarea>
                <input type="button" class="btn pull-right" data-bind="click: addMessage" value="Post" />
                <label style="padding: 5px; margin-top: 2px;" class="label-info white pull-right" data-bind="text: PostLength" id="remainingCharacters"></label>
                <a href="#keepItClean" class="pull-left" data-toggle="modal" role="button">Keep it clean!</a>
            </div>
            <ul class="img-rounded" id="chatList" data-bind="foreach: Messages, sortable: Messages">
                <li>
                    <div class="messageItem">
                        <div data-bind="text: FilteredMessageText" class="message img-rounded"></div>
                        <img alt="" class="callout" src="/challenge/Content/images/challenges/chat-arrow.png"/> 
                        <div>
                            <label class="pull-right chatDate lbl" data-bind="text: '(' + CreatedDateString + ')' "></label>                                                 
                            <label class="pull-right blue bold chatName" data-bind="html: NickName"></label>
                        </div>     
                    </div>  
                </li>
            </ul>            
        </div>
    </div>
</div>  
<div id="keepItClean" class="modal fade" tabindex="-1" aria-hidden="true" aria-hidden="true">
    
    <div class="modal-body" data-bind="html: Content().Exer_PleaseRememberKeep + '<a href=/secure/help/contactusform.aspx>' + Content().ContactUs + '</a>'"></div>
    <div class="modal-footer">
        <a type="button" class="btn btn-main" data-dismiss="modal" aria-hidden="true">Close</a>
    </div>
    
</div>
</div>
