﻿@using System.Web.Optimization
@using Vhm.Web.Models.ContentEnums
@using Vhm.Web.Models.ViewModels.Shared
@using Vhm.Web.Models.ViewModels.Social
@model Vhm.Web.Models.ViewModels.Challenges.PersonalKnowAndGoVM

@{
    Layout = "~/Views/Shared/MasterNoCol.cshtml";
    ViewData["pageTitle"] = new PageTitle(false, "" );
}

@section Styles
{
    @Styles.Render("~/Content/LandingPage")
    <style type="text/css">
        #wrapper{ background-image:url('/v2/content/images/Challenges/create-challenge-bkgd.jpg') !important; }
        .mainContent{ width: 450px; border: 1px solid #C0C0C0;border-top: 0;background-color: #ffffff;padding-top: 0px;padding-left: 20px;padding-right: 20px;padding-bottom: 20px;}
        .createChallWrapper { padding: 0px 200px 40px 205px;}
        .centerAlign { text-align: center;}
        
        .questionTextBox { width: 95%; }
        .optionalTextBox{ width: 70px;}
        .grayWatermark{ color: gray;font-style: italic;font-size: 12px;}
        .graytext{color: gray;}
        input[type=radio]{width: 13px;height: 13px; box-shadow: 0px 0px 8px #ccc;margin-right: 5px;}
        input[type=text]{background-color: #c0c0c0;padding: 5px;margin-right: 10px; border-radius: 6px; border: 1px solid #CCC; height: 19px; box-shadow: 0 0 8px #EDEAEA; font-size: 13px;}
        .detailsTextArea{background-color: #c0c0c0;padding: 5px;margin-right: 10px; border-radius: 6px; border: 1px solid #CCC; height: 19px; box-shadow: 0 0 8px #EDEAEA; font-size: 13px;width: 95%;overflow: hidden;height: 100px;}
    </style>
    <!--[if IE]><link href="@Url.Content("~/Content/Style/LandingPage_IE.css")" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if gte IE 9]>
        <style type="text/css">
            </style>
<![endif]-->
    
    <!--[if IE 7]><style type="text/css">h3.sectionTitle a { margin-top: -13px;} a.badgelink{ margin-top: 30px;}</style>   <![endif]-->
    <!--[if IE 8]><style type="text/css">
                      
                      </style>
     <![endif]-->
}
@section Script
{
    @Scripts.Render("~/bundles/Challenges")
    <script type="text/javascript">
        ChCreateKnowAndGo.$btnOnlyForMe = $('#btnOnlyForMe');
        ChCreateKnowAndGo.$btnInviteFriends = $('#btnInviteFriends');
        ChCreateKnowAndGo.$questionBox = $(".questionTextBox");
        ChCreateKnowAndGo.$detailsTextArea = $( ".detailsTextArea" );
        //get the button text
        ChCreateKnowAndGo.OnlyForMe = jDecode('@Model.CreateChallContent[AboutAndCreateChallengeContent.ThisIsJustForMe]');
        ChCreateKnowAndGo.InviteFriends = jDecode('@Model.CreateChallContent[AboutAndCreateChallengeContent.InviteFriends]');
        ChCreateKnowAndGo.QuestionBoxWatermark = jDecode('@Model.CreateChallContent[AboutAndCreateChallengeContent.DidYouEatDonutsToday]');
        ChCreateKnowAndGo.DetailsTextAreaWatermark = jDecode('@Model.CreateChallContent[AboutAndCreateChallengeContent.AnyRulesPrizes]');
        $(document).ready(function () {
            ChCreateKnowAndGo.PopulateButtonsTextAndOnClick();
            ChCreateKnowAndGo.PopulateTextAndTextAreas();
        });
    </script>
}
<div class="createChallWrapper">
    <div class="mainContent">
        <h1 class="red centerAlign">Create Your Own Challenge</h1>
        <br/>
        <p>@Html.Raw(@Model.CreateChallContent[AboutAndCreateChallengeContent.WhatIsChallengeQuestion])</p>
        <input type="text" name="txtQuestion" class="questionTextBox grayWatermark" value="Did you eat any donuts today?"/>
        <br/><br/>
        <p>@Html.Raw(@Model.CreateChallContent[AboutAndCreateChallengeContent.WhatIsTargetAnswer])</p>
        <div>
            <input type="radio" name="rdoTargetAnswer" id="rdoTargetYes" value="yes"/><label for="rdoTargetYes">@Model.ContentCommon[CommonLabelsContent.Yes]</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="rdoTargetAnswer" id="rdoTargetNo" value="no"/><label for="rdoTargetNo">@Model.ContentCommon[CommonLabelsContent.No]</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="rdoTargetAnswer" id="rdoTargetNumber" value="number"/><label for="rdoTargetNumber">@Model.ContentSocial[SocialChallengePromotionLabelsContent.Number]</label>
            <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span>@Model.CreateChallContent[AboutAndCreateChallengeContent.Optional]:&nbsp;&nbsp;</span>
            <input type="radio" name="rdoTargetOptional" id="rdoOptMore" value="more"/><label for="rdoOptMore">@Model.CreateChallContent[AboutAndCreateChallengeContent.MoreThan]</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="rdoTargetOptional" id="rdoOptLess" value="less"/><label for="rdoOptLess">@Model.CreateChallContent[AboutAndCreateChallengeContent.LessThan]</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="text" name="txtOptionalTarget" class="optionalTextBox" value=""/>&nbsp;&nbsp;
            <img alt="what is this" src="/v2/Content/Images/Challenges/icon_help.gif" style="height:14px; width:14px;" />
        </div>
        <br/><br/>
        <p>@Html.Raw(@Model.CreateChallContent[AboutAndCreateChallengeContent.HowLongIsChallenge])</p>
        <div>
            <input type="radio" name="rdoDuration" id="rdoOneDay" value="oneDay"/><label for="rdoOneDay">1 @Model.ContentSocial[SocialChallengePromotionLabelsContent.Day]</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="rdoDuration" id="rdoOneWeek" value="oneWeek"/><label for="rdoOneWeek">1 @Model.ContentCommon[CommonLabelsContent.Week]</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="rdoDuration" id="rdoTwoWeeks" value="twoWeek"/><label for="rdoTwoWeeks">2 @Model.ContentSocial[SocialChallengePromotionLabelsContent.Weeks]</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="rdoDuration" id="rdoOneMonth" value="oneMonth"/><label for="rdoOneMonth">1 @Model.ContentCommon[CommonLabelsContent.Month]</label>
        </div>
        <br/><br/>
        <p>@Html.Raw(@Model.CreateChallContent[AboutAndCreateChallengeContent.AnyDetailsYouWantToAdd])</p>
        <textarea rows="8" class="detailsTextArea" title="Any rules? Prizes?"></textarea>
        <br/><br/>
        <div style="text-align: center;">
            <input type="button" class="vbtn_gray_c_md" id="btnOnlyForMe"/>
            <br/><p>@Model.ContentCommon[CommonLabelsContent.Or]</p>
            <input type="button" class="vbtn_red_c_md" id="btnInviteFriends"/>
        </div>
    </div>
</div>
