﻿@using Vhm.Web.Common
@using Vhm.Web.Models.ViewModels.Shared
@model Vhm.Web.Models.ViewModels.Challenges.InvitationVM
@{
    ViewBag.Title = "Invitation";
    Layout = "~/Views/Shared/MasterNoCol.cshtml";
    var resourceVersion = ApplicationSettings.CachedResourceVersion;
}
@section Styles
{   
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Style/Invitation.css?v=" + resourceVersion)" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Style/SocialStyles/SocialStyles.css?v=" + resourceVersion)" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Style/Shared/PopUp.css?v=" + resourceVersion)" />
    <style type="text/css">
    	div.tab-pane {
    		margin-top: -21px;
    	}
    	h1.pageTitle {
    		font-size: 39px;
    		font-weight: normal;
    		padding-bottom: 20px;
    	}
    	h2.script {
    		font-family: "brush script MT";
    		font-size: 36px;
    	}
        .nav-tabs > li{width: 19%;text-align: center;}
        .nav-tabs > li > a{ font-size: 14px;}
        div.socialList img.SocialImg{ float: left;}
        div.friendHolder input[type="checkbox"], div.friendHolder img {
        	float: left;
        }
        div.friendHolder img { margin-left: 4px;margin-right: 4px;}
        div.friendHolder h4{ margin-top: 0;font-weight: bold;}
        div.span3{ width: 250px;height: 80px;}
    </style>
}
@section Script
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/Invitation.js?v=" + resourceVersion)"></script>
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/VHM/Social/Social.js?v=" + resourceVersion)"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/VHM/Social/CreateEditGroup.js?v=" + resourceVersion)"></script>*@
   } 
<div class="container">
    <div class="span9">
        <h1 class="red text-center pageTitle">Create Your Own Challenge</h1> 
        <h2 class="text-center gray script">who would you like to invite?</h2>  
    </div>
@Html.Partial("PartialViews/InviteNewStyle", Model.Invite)
</div>