﻿@theme-folder-name: 'neu';
@main-theme-color: #575551;
@main-theme-hover:  #666;
@gradient-color: #666;
@gradient-color-two: #333;

@accent-color: #990000;
@accent-color-two: #003366;
@accent-color-three: #ec9702;

@accent-button-color: #333333; 
@accent-button-color-two:#333333;
@accent-border-color: #333333;

@link-color: #003366;

@import "../../../Style/vhm.mixins.less";
@import "../../base.theme.less";


#tip-arrow {
    background-image: url(/v2/Content/Images/LandingPageV3/arrow_tooltip_graph_neu.png);
}
.nav-tabs li.tab-item .caret {
   border-top-color:@main-theme-color !important;
}