<%@ Control Language="C#" AutoEventWireup="True" Inherits="WidgetControls_widget_type" Codebehind="personalization_widget_type.ascx.cs" %>

        <asp:PlaceHolder ID="pnl" runat="server"></asp:PlaceHolder>