<%@ Control Language="C#" AutoEventWireup="True" Inherits="Workarea_Widgets_ForumTopicsAndPosts" Codebehind="ForumTopicsAndPosts.ascx.cs" %>

<asp:Label ToolTip="No Records" ID="lblNoRecords" Visible="false" runat="server"><asp:literal ID="ltrlNoRecords" runat="server" /></asp:Label>
<asp:Literal ID="ltr_forum_mod" runat="Server" />