﻿@theme-folder-name: 'blu';
@main-theme-color: #003f77;
@gradient-color: #2F79BB;
@gradient-color-two: #003f77;
@main-theme-hover: #006699;

@accent-color: #990000;
@accent-color-two: #333333;
@accent-color-three: #ec9702;

@accent-button-color: #cc0000;
@accent-button-color-two:#ac0000;
@accent-border-color: #990000;

@link-color: #6699CC;

@import "../../../vhm.mixins.less";
@import "../../challenges.theme.less";