/* Round all corners mixin - when all corners are the same */
/* Round certain corners only */
/* top right, bottom right, bottom left, top left */
/* Set background of element to a gradient between two colors */
/* Box Sizing */
/* Box Shadows */
/* Text Shadows */
/* Opacity */
@charset "UTF-8";
/*@import url("//hello.myfonts.net/count/263c72");*/
h1.pageHeader {
  color: #003f77;
  font-size: 14px;
  font-weight: bold;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2.details {
  color: #003f77;
  font-size: 14px;
  font-weight: bolder;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
}
h3.subHeader {
  color: #003f77;
  font-size: 18px;
  font-weight: lighter;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h3.subHeader-index {
  color: #990000;
  font-family: 'Conv_Tungsten-Medium', Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: normal;
  line-height: 28px;
  padding: 0px;
  padding-left: 5px;
  padding-bottom: 7px;
  margin: 40px 0px 15px 0px;
  padding-top: 15px;
  border-top: 1px dotted #ddd;
}
h1.kagQuestion {
  color: #003f77;
  font-size: 24px;
  font-weight: lighter;
  font-family: 'Conv_Tungsten-Medium', Arial, Helvetica, sans-serif;
  text-align: left;
}
div#tracker div.trackerTitle {
  background-color: #185c99;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#003f77) to(#2f79bb));
  background: -webkit-linear-gradient(#003f77, #2f79bb);
  background: -moz-linear-gradient(#003f77, #2f79bb);
  background: -ms-linear-gradient(#003f77, #2f79bb);
  background: -o-linear-gradient(#003f77, #2f79bb);
  -pie-background: linear-gradient(#003f77, #2f79bb);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003f77', endColorstr='#2f79bb',GradientType=0 );
  height: 25px;
  color: #fff;
  padding: 10px;
  text-align: center;
}
h1.centerAlign {
  font-size: 30px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #003f77;
  margin-top: -15px;
}
h1 {
  text-align: center;
  color: #003f77;
}
.nav-tabs li.tab-item .caret {
  border-top-color: #990000;
}
.nav-tabs li.tab-item.active a {
  background-color: #003f77;
  -webkit-box-shadow: inset 0 0 10px #005580;
  -moz-box-shadow: inset 0 0 10px #005580;
  box-shadow: inset 0 0 10px #005580;
}
.nav-tabs li.tab-item {
  border-top-color: #003f77;
}
.nav-tabs li.tab-item.active a {
  background-color: #003f77;
  -webkit-box-shadow: inset 0 0 10px #003f77;
  -moz-box-shadow: inset 0 0 10px #003f77;
  box-shadow: inset 0 0 10px #003f77;
}
/* Browse Challenges Page styling*/
#join-challenge.row-fluid .thumbnails .span2:nth-child(6n + 1),
#join-challenge.row-fluid .thumbnails .span3:nth-child(4n + 1),
#join-challenge.row-fluid .thumbnails .span4:nth-child(3n + 1),
#join-challenge.row-fluid .thumbnails .span6:nth-child(2n + 1) {
  margin-left: 0;
}
#join-challenge .btn {
  font-size: 17px;
  width: 95px;
  font-family: Helvetica;
  text-transform: none;
  font-style: normal;
}
#join-challenge .nav-tabs {
  text-align: center;
  border-bottom-width: 0;
  font-size: 0;
  margin: 20px 0 -15px 0;
}
#join-challenge .nav-tabs li {
  float: none;
  display: inline-block;
  margin: 0 2px;
}
#join-challenge .nav-tabs li .caret {
  display: none;
  text-align: left;
  margin-left: 25px;
  border-width: 12px;
  border-top-color: #990000;
}
#join-challenge .nav-tabs li a {
  background-color: #e3dfd5;
  color: #008EAA;
  font-size: 30px;
  font-weight: lighter;
  font-family: Conv_Tungsten-Medium, Arial, Helvetica, sans-serif !important;
  text-transform: uppercase;
  padding: 9px 20px;
  margin: 0;
  border-width: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
#join-challenge .nav-tabs li.active a {
  background-color: #990000;
  color: white;
}
#join-challenge .nav-tabs li.active .caret {
  display: block;
}
#join-challenge .well {
  padding: 50px 50px 30px 50px;
  margin: 0;
  -moz-box-shadow: inset 0 0 10px #e3e3e3;
  -webkit-box-shadow: inset 0 0 10px #e3e3e3;
  box-shadow: inset 0 0 10px #e3e3e3;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#join-challenge .well .select-all {
  display: block;
  text-align: right;
  padding: 20px 0;
}
#join-challenge .well .span4 {
  margin-bottom: 5px;
}
#join-challenge .well .carousel {
  margin-bottom: 0;
}
#join-challenge .well .thumbnails {
  padding-left: 0;
}
#join-challenge .well .thumbnails .thumbnail {
  border-width: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 30px 20px 0 20px;
  position: relative;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  background-color: white;
  box-shadow: 5px 5px 15px #e3e3e3;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
#join-challenge .well .thumbnails .thumbnail img {
  float: right;
}
#join-challenge .well .thumbnails .thumbnail img.radioCheck {
  left: 0;
  top: -4px;
}
#join-challenge .well .thumbnails .thumbnail input {
  position: absolute;
  left: 0;
  top: 0;
}
#join-challenge .well .thumbnails .thumbnail label {
  padding-left: 0;
  color: #06c;
  margin-bottom: 0;
  font-size: 13px;
  line-height: normal;
}
#join-challenge .well .thumbnails .thumbnail span.challengequestion {
  color: #008EAA;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  font-family: 'Conv_Tungsten-Medium', Arial, Helvetica, sans-serif !important;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  float: left;
}
#join-challenge .well .thumbnails .thumbnail div.challengeDescriptionContentWrapper {
  margin-top: 10px;
  width: 200px;
  float: left;
  color: #626a73;
  font-size: 16px;
  height: 80%;
}
#join-challenge .well .thumbnails .thumbnail p {
  font-style: italic;
  color: #777;
  bottom: 0;
  position: absolute;
}
#join-challenge .well .btn-main {
  padding: 10px 60px;
}
#join-challenge .create-challenge {
  color: #777;
  margin-top: 50px;
  font-size: 15px;
}
#join-challenge .create-challenge .btn {
  margin-left: 20px;
  padding: 8px 15px;
}
#join-challenge .nav-tabs li .caret {
  border-top-color: #990000;
}
.btn.create-challenge-button {
  width: 200px;
}
