﻿@theme-folder-name: 'blu';
@main-theme-color: #6699CC;
@main-theme-hover: #006699;
@gradient-color: #006699;
@gradient-color-two: #6699CC;

@accent-color: #990000;
@accent-color-two: #333333;
@accent-color-three: #ec9702;

@accent-button-color: #cc0000;
@accent-button-color-two:#ac0000;
@accent-border-color: #990000;

@link-color: #6699CC;

@import "../../../vhm.mixins.less";
@import "../../base.theme.less";