﻿@theme-folder-name: 'asc';
@main-theme-color: #003f77;
@main-theme-hover: #2F79BB;
@gradient-color: #2F79BB;
@gradient-color-two: #003f77;

@accent-color: #268b51;
@accent-color-two: #000000;
@accent-color-three: #333333;

@accent-button-color: #63b759; 
@accent-button-color-two:#268b51;
@accent-border-color: #57a14e;

@import "../../../vhm.mixins.less";
@import "../../challenges.theme.less";