﻿@using Vhm.Web.Common
@using Vhm.Web.Models.RepositoryModels
@using Vhm.Web.Models.ViewModels.Social
@model Vhm.Web.Models.ViewModels.Social.NewsFeedVM

@helper PostText(NewsfeedPost post){
    string cdnBaseURL=ApplicationSettings.CDNBaseURL;
    string postText = string.Empty;
    string nfLink = " and&nbsp;<a style=\"padding:0px;\" href=\"" + Model.NewsfeedUrl + "\">" + post.AggregationCount + "&nbsp;others</a>";
    string profileLink = "<strong>"+post.PostByName + "</strong>";
    string friendLink = "<strong>" + post.PostToName + "</strong>";
    string badgeLink = "<a href=\"/secure/rewards/mybadges.aspx\">{0}</a> ";
    if (post.AggregationCount > 1) {
        switch (post.PostType) {
            case NewsfeedPost.POST_TYPE_FRIEND: // friend
                {

                    postText = post.PostText.Replace("<Member>", profileLink).Replace("<Friend>", friendLink) + nfLink + ".";
                    break;
                }
            case NewsfeedPost.POST_TYPE_JOIN_GROUP: // joined group
                {
                    postText = profileLink + nfLink + " <span  data-i18n=\"WolverineLandingPage.GlobalMessages.HaveJustJoined\">have just joined</span> " +
                               post.GroupName;
                    break;
                }
            case NewsfeedPost.POST_TYPE_PROMO: // promo
                {
                    postText = profileLink + nfLink + " " + post.PostText;
                    post.PostText = postText;
                    break;
                }
            case NewsfeedPost.POST_TYPE_BADGE: // badge
                {
                    postText = profileLink + nfLink + " <span  data-i18n=\"WolverineLandingPage.GlobalMessages.HaveJustEarned\">have just earned</span> " +
                               string.Format(badgeLink, post.BadgeName) + " <span  data-i18n=\"WolverineLandingPage.MiscLabels.Badge\">  badge</span>";
                    post.PostText = postText;
                    break;
                }
            default: {
                postText = post.PostText.Replace("<Member>", profileLink).Replace("<Friend>", post.PostToName);
                    break;
                }
        }
    } else
    {
        if (post.PostType == NewsfeedPost.POST_TYPE_BADGE) {
            postText = profileLink + " <span  data-i18n=\"WolverineLandingPage.GlobalMessages.HasJustEarned\">has just earned</span> " +
                               string.Format(badgeLink, post.BadgeName) + "<span  data-i18n=\"WolverineLandingPage.MiscLabels.Badge\">  badge</span>";
        }
        else if (post.PostType == NewsfeedPost.POST_TYPE_MANUAL)
        {
            postText = profileLink + " " + post.PostText;
        } else
        {
            postText = post.PostText.Replace("<Member>", profileLink).Replace("<Friend>", post.PostToName); 
        }
    }
    var htmlPostString = new HtmlString(postText);
    <span>@htmlPostString</span>
}   

@helper PostImage(NewsfeedPost post){
    string image, altText;

    switch (post.PostType)
    {
        case NewsfeedPost.POST_TYPE_JOIN_GROUP: {
                image = post.GroupImage;
                altText = post.GroupName;
                break;
            }
        case NewsfeedPost.POST_TYPE_BADGE:
            {
                image = post.BadgeImage;
                altText = post.BadgeName;
                break;
            }
        default:
            {
                image = post.PostByImage;
                altText = post.PostByName;
                break;
            }
           
    }
    var imgeURL =(ApplicationSettings.BaseURL+image).StartsWith(ApplicationSettings.BuildBadgeImageUrl) || image.StartsWith("http") ? image : ApplicationSettings.CDNBaseURL + image;
    <img src="@imgeURL" alt="@altText" />
}   

@helper LikeText(NewsfeedPost post)
    {
    string likeText = string.Empty;
    if (post.LikeCount > 1)
    {
        likeText = post.YouLikeThis ? string.Format(" <span data-i18n=\"WolverineLandingPage.GlobalMessages.YouAnd\">You and </span> {0} <span data-i18n=\"WolverineLandingPage.GlobalMessages.PeopleLikeThis\"> people like this</span> ", post.LikeCount) : string.Format("{0} <span data-i18n=\"WolverineLandingPage.GlobalMessages.PeopleLikeThis\">  People like this</span>", post.LikeCount);
    }
    else if (post.YouLikeThis)
    {
        likeText = "<span data-i18n=\"WolverineLandingPage.GlobalMessages.YouLikeThis\">You like this</span>";
    }
    else if (post.LikeCount == 1)
    {
        likeText = "<span data-i18n=\"WolverineLandingPage.GlobalMessages.OnePersonLikesThis\">One person likes this</span>";
    }
    if (!string.IsNullOrEmpty(likeText))
    {
        <img class="likeImage" src="~/Content/Images/LandingPageV3/like-icon.png" alt="like" style="width:12px; height:12px; border:0;" />
    }
    <span class="newsfeedSubText grey">@Html.Raw(likeText)</span>
}
@helper CommentText(NewsfeedPost post)
    {
    var commentText = string.Empty;
    if (post.TotalComments != null && post.TotalComments > 0)
    {
        commentText = post.TotalComments == 1 ?
                          string.Format("1 {0}", "<span data-i18n=\"WolverineLandingPage.GlobalMessages.Comment\">Comment</span>") :
                          string.Format("{0} {1}", post.TotalComments, "<span data-i18n=\"WolverineLandingPage.GlobalMessages.Comments\">Comments</span>");
    }
    if (!string.IsNullOrEmpty(commentText))
    {
        <img class="likeImage" src="~/Content/Images/LandingPageV3/comment-icon.png" alt="comments" style="width: 16px; height:12px; border:0;" />
    }
    <span class="newsfeedSubText grey">@Html.Raw(commentText)</span>
}   

<div class="newsfeedContainer">
    <div class="newsfeedPostFormContainer">
    <div class="questionTextImage"></div>
    <div class="questionText" data-i18n="WolverineLandingPage.GlobalMessages.WhatsOnYourMind" >What's on your mind</div>
    <textarea style="width:250px;overflow: auto;" class="box grey disabled" rows="2" cols="45" id="newPostText" hasText="false" type="text" placeholder="@Model.NewsfeedMessage" value="@Model.NewsfeedMessage" onfocus="this.value = ''" onblur="if (this.value == '') this.value='@Model.NewsfeedMessage'">@Model.NewsfeedMessage</textarea>
    <input id="submitPost" type="button" class="disabled postConfirmButton btn dark-grey-button" data-i18n="[value]WolverineLandingPage.GlobalLabels.Post" value="Post"/> 
    </div>
    <ul id="newsfeedList">
        @if (Model.NewsFeed.Count == 0)
        {
            <li id="nothingPosted" class="newsFeedItem">
                <span  data-i18n="WolverineLandingPage.GlobalMessages.NothingPosted">No recent posts</span>
                <div>
                    <span class="newsfeedSubText grey postDate"></span>
                </div>  
            </li>
        }
        @foreach (var post in Model.NewsFeed)
        {
            <li class="newsFeedItem">
                @PostImage(post) 
                <div class="postText">@PostText(post)</div>
                  <div class="postText-subtext-container">
                      <span class="newsfeedSubText grey">@post.PostDate.ToString(Model.CurrentCulture)</span> 
                      <a href="/Secure/Social/MyNewsFeed.aspx?nfid=Wall_@post.PostId"class="tertiary"  data-i18n="WolverineLandingPage.GlobalMessages.Comment"> Comment</a>  
                      <a href="#" class="tertiary likeLink" postById="@post.PostById" youLikedId="@post.YouLikedId" groupId="@post.GroupId" postId="@post.PostId" youLikedIt="@post.YouLikeThis.ToString()">@(post.YouLikeThis ? Html.Raw("<span data-i18n=\"WolverineLandingPage.GlobalLabels.Unlike\"> Unlike</span>") : Html.Raw("<span data-i18n=\"WolverineLandingPage.GlobalLabels.Like\"> Like</span>"))</a>
                              
                  </div>  
                  <div class="pull-left like-comment-text">@LikeText(post)</div>
                <div class="pull-left  like-comment-text mBottom">@CommentText(post)</div> 
                <div class="clearfix"></div>
            </li>
        }
        @if(Model.NewsFeed.Count > 0) {
        <li class="goto-newsfeed">
            <a href="/Secure/Social/MyNewsFeed.aspx"class="tertiary" data-i18n="WolverineLandingPage.GlobalMessages.GoToNewsFeed">Go to News Feed</a>         
            
        </li>
}
    
    </ul>
</div>
<div id="divRemoveFriend" style="display:none;">
    <div data-i18n="WolverineLandingPage.GlobalMessages.RemoveAsFriend">Are you sure you want to remove this person as a Friend?</div>
    <br /><br />
    <div style="text-align:right;">
        <input type="button" data-i18n="[value]WolverineLandingPage.GlobalLabels.Cancel" value="Cancel" onclick="$('#divRemoveFriend').dialog('close');" class="vbtn_gray_a_md" id="btnCancel" name="btnCancel" style="padding:0px 10px 5px 10px;" />
        <input type="button" value="Model.Content[NewsFeedContent.Yes]" class="vbtn_red_a_md" id="btnRemove" name="btnRemove" style="padding:0px 10px 5px 10px;"/>
    </div>
</div>
         

