/* Round all corners mixin - when all corners are the same */
/* Round certain corners only */
/* top right, bottom right, bottom left, top left */
/* Set background of element to a gradient between two colors */
/* Box Sizing */
/* Box Shadows */
/* Text Shadows */
/* Opacity */
@charset "UTF-8";
/* Round all corners mixin - when all corners are the same */
/* Round certain corners only */
/* top right, bottom right, bottom left, top left */
/* Set background of element to a gradient between two colors */
/* Box Sizing */
/* Box Shadows */
/* Text Shadows */
/* Opacity */
#mainNav li a {
  color: #575551;
}
#mainNav li a {
  background-image: url('neu/images/arrow-nav.png');
}
#extendableHeader_sub {
  background-color: #4d4d4d;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#333333) to(#666666));
  background: -webkit-linear-gradient(#333333, #666666);
  background: -moz-linear-gradient(#333333, #666666);
  background: -ms-linear-gradient(#333333, #666666);
  background: -o-linear-gradient(#333333, #666666);
  -pie-background: linear-gradient(#333333, #666666);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#666666',GradientType=0 );
}
.content-sub-header {
  background-color: #4d4d4d;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#333333) to(#666666));
  background: -webkit-linear-gradient(#333333, #666666);
  background: -moz-linear-gradient(#333333, #666666);
  background: -ms-linear-gradient(#333333, #666666);
  background: -o-linear-gradient(#333333, #666666);
  -pie-background: linear-gradient(#333333, #666666);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#666666',GradientType=0 );
}
.VHMfooter {
  background-color: #4d4d4d;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#333333) to(#666666));
  background: -webkit-linear-gradient(#333333, #666666);
  background: -moz-linear-gradient(#333333, #666666);
  background: -ms-linear-gradient(#333333, #666666);
  background: -o-linear-gradient(#333333, #666666);
  -pie-background: linear-gradient(#333333, #666666);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#666666',GradientType=0 );
}
div.rewardsClose h3.jqmClose,
div.rewardsClose h3.jqmClose:visited {
  color: #575551;
}
.recentRewardsPopup {
  background-image: url('neu/images/popup-swish.png');
}
.tickerBar {
  height: 34px;
  background-color: #4d4d4d;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#333333) to(#666666));
  background: -webkit-linear-gradient(#333333, #666666);
  background: -moz-linear-gradient(#333333, #666666);
  background: -ms-linear-gradient(#333333, #666666);
  background: -o-linear-gradient(#333333, #666666);
  -pie-background: linear-gradient(#333333, #666666);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#666666',GradientType=0 );
  width: 960px;
  margin: -15px 0 0 -30px;
}
.tickerArrows.left {
  background-image: url('neu/images/ticker-arrow-left.png') !important;
}
.tickerArrows.right {
  background-image: url(neu/images/ticker-arrow-right.png);
}
#AJChartBody {
  border-color: #575551;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 5px 5px;
  width: 719px;
  min-height: 500px;
  background-color: #fff;
  position: relative;
  behavior: url(/PIE.htc);
}
#header {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#footer {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
#footer .navbar-inner {
  background-color: #4d4d4d;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#333333) to(#666666));
  background: -webkit-linear-gradient(#333333, #666666);
  background: -moz-linear-gradient(#333333, #666666);
  background: -ms-linear-gradient(#333333, #666666);
  background: -o-linear-gradient(#333333, #666666);
  -pie-background: linear-gradient(#333333, #666666);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#666666',GradientType=0 );
}
/* Responsive navigation theming */
#topNavigation li ul li a {
  color: #575551;
}
#topNavigation li ul li:hover {
  color: #575551;
}
#topNavigation li ul li:hover a {
  color: #575551;
}
#mainNavBootstrap li a {
  color: #575551;
}
#mainNavBootstrap ul li a {
  color: #575551;
}
#mainNavBootstrap ul:hover {
  color: #575551;
}
#mainNavBootstrap ul:hover a {
  color: #575551;
}
/* Caret theming */
.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover,
.nav > li.dropdown.open.active > a:focus {
  color: #575551;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret,
.nav .dropdown-toggle .caret {
  color: #575551;
  border-top-color: #575551;
}
/* Themed Buttons */
a.btn-main {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #666666;
  background-color: #4d4d4d;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#333333) to(#666666));
  background: -webkit-linear-gradient(#333333, #666666);
  background: -moz-linear-gradient(#333333, #666666);
  background: -ms-linear-gradient(#333333, #666666);
  background: -o-linear-gradient(#333333, #666666);
  -pie-background: linear-gradient(#333333, #666666);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#666666',GradientType=0 );
  background-repeat: repeat-x;
  border-color: #575551 #575551;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
a.btn-main:hover,
a.btn-main:focus,
a.btn-main:active,
a.btn-main.active,
a.btn-main.disabled,
a.btn-main[disabled] {
  color: #fff;
  background-position: 0 0;
}
input.btn-main,
.btn-main {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #666666;
  background-color: #4d4d4d;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#333333) to(#666666));
  background: -webkit-linear-gradient(#333333, #666666);
  background: -moz-linear-gradient(#333333, #666666);
  background: -ms-linear-gradient(#333333, #666666);
  background: -o-linear-gradient(#333333, #666666);
  -pie-background: linear-gradient(#333333, #666666);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#666666',GradientType=0 );
  background-repeat: repeat-x;
  border-color: #575551 #575551;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
input.btn-main:hover,
input.btn-main:focus,
input.btn-main:active,
input.btn-main.active,
input.btn-main.disabled,
input.btn-main[disabled] {
  color: #fff;
  background-position: 0 0;
}
/* Themed notification number */
.notificationCount {
  color: #575551;
}
h1.main-theme {
  color: #575551;
}
h3.main-theme {
  color: #575551;
}
.AJ-side-box {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* This style is used to share @gradient-color and @gradient-color-two with JavaScript code.  The code gets the runtime styles of an element with this CSS class. */
.js-gradient-color {
  color: #666666;
  background-color: #333333;
  display: none;
}
