﻿@theme-folder-name: 'neu';
@main-theme-color: #575551;
@main-theme-hover:  #666;
@gradient-color: #666;
@gradient-color-two: #333;

@accent-color: #990000;
@accent-color-two: #003366;
@accent-color-three: #ec9702;

@accent-button-color: #333333; 
@accent-button-color-two:#333333;
@accent-border-color: #333333;


@import "../../../vhm.mixins.less";
@import "../../base.theme.less";
