﻿/******************************** Drop Zone ************************************/

div.dzthumbnail
{
	border: dashed 3px orange;
	background-image:url(../images/dropzonepattern.png);
	text-align:center;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:20px;
	width:100%;
	height:100px;
}

div.PBColumnHeader
{
	display: none;
}