@{
  Layout = null;
}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Jasmine Spec Runner</title>

  <link rel="shortcut icon" type="image/png" href="/VirginLifecareWeb.JS.Tests/Content/jasmine/jasmine_favicon.png">
  <link rel="stylesheet" type="text/css" href="/VirginLifecareWeb.JS.Tests/Content/jasmine/jasmine.css">
  <script type="text/javascript" src="/VirginLifecareWeb.JS.Tests/Scripts/jasmine/jasmine.js"></script>
  <script type="text/javascript" src="/VirginLifecareWeb.JS.Tests/Scripts/jasmine/jasmine-html.js"></script>
    
  <script type="text/javascript" src="/v2/Scripts/jquery-1.8.2.min.js"></script>
  <script type="text/javascript" src="/v2/Scripts/knockout-2.2.1.js"></script>

  <!-- include source files here... -->
  <script type="text/javascript" src="/Challenge/Scripts/challenges.js"></script>
  <script type="text/javascript" src="/Challenge/Scripts/select.js"></script>
  <script type="text/javascript" src="/Challenge/Scripts/create.js"></script>
  <script type="text/javascript" src="/Challenge/Scripts/invite.js"></script>

  <!-- include spec files here-->
  <script type="text/javascript" src="/VirginLifecareWeb.JS.Tests/Scripts/VHM/Challenges/ChallengeSpec.js"></script>
  <script type="text/javascript" src="/VirginLifecareWeb.JS.Tests/Scripts/VHM/Challenges/SelectSpec.js"></script>
  <script type="text/javascript" src="/VirginLifecareWeb.JS.Tests/Scripts/VHM/Challenges/CreateSpec.js"></script>
  <script type="text/javascript" src="/VirginLifecareWeb.JS.Tests/Scripts/VHM/Challenges/InviteSpec.js"></script>
  

  <script type="text/javascript">
    (function() {
      var jasmineEnv = jasmine.getEnv();
      jasmineEnv.updateInterval = 1000;

      var htmlReporter = new jasmine.HtmlReporter();

      jasmineEnv.addReporter(htmlReporter);

      jasmineEnv.specFilter = function(spec) {
        return htmlReporter.specFilter(spec);
      };

      var currentWindowOnload = window.onload;

      window.onload = function() {
        if (currentWindowOnload) {
          currentWindowOnload();
        }
        execJasmine();
      };

      function execJasmine() {
        jasmineEnv.execute();
      }

    })();
  </script>

</head>

<body>
</body>
</html>
