<%@ Page Language="C#" AutoEventWireup="true" Inherits="loginMin" Codebehind="CMSLogin.aspx.cs" %>

<%@ Register TagPrefix="cms" Namespace="Ektron.Cms.Controls" Assembly="Ektron.Cms.Controls" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head runat="server">
    <title>login</title>
    <meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1" />
    <meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1" />
    <meta name="vs_defaultClientScript" content="JavaScript" />
    <meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5" />
</head>
<body>
    <form id="Form1" method="post" runat="server">
		<div>
		</div>
		<div>
		</div>
		<div>
		</div>
		<cms:Login ID="Login1" runat="server"></cms:Login>
		<div align="center">
			<img src="images/page-under-construction.jpg" width="500" height="225" />
		</div> 
        <div style="display:none">
             <cms:LanguageSelect runat="server" ID="lsSelect"/>
        </div>
    </form>
</body>
</html>
