﻿@charset "UTF-8";
@import "../vhm.mixins.less";

#mainNav li a {
	color: @main-theme-color;
}

#mainNav li a {
    background-image: url('@{theme-folder-name}/images/arrow-nav.png');
}

#extendableHeader_sub
{
	.gradient(@gradient-color, @gradient-color-two);
}

.content-sub-header {
    .gradient(@gradient-color, @gradient-color-two);
}

.VHMfooter
{
	.gradient(@gradient-color, @gradient-color-two);
}

div.rewardsClose h3.jqmClose, div.rewardsClose h3.jqmClose:visited {
	color: @main-theme-color; 
}
.recentRewardsPopup {
	background-image: url('@{theme-folder-name}/images/popup-swish.png');
}

.tickerBar
{
    height: 34px;
    .gradient(@gradient-color, @gradient-color-two);
    width: 960px;
    margin: -15px 0 0 -30px ;  
}

.tickerArrows.left 
{
    background-image: url('@{theme-folder-name}/images/ticker-arrow-left.png') !important; 
}
.tickerArrows.right
{
	background-image: url(~'@{theme-folder-name}/images/ticker-arrow-right.png'); 
}

#AJChartBody {
    border-color:@main-theme-color;
	border-style:solid;
	border-width:0 1px 1px 1px;
	border-radius:0 0 5px 5px;
	width:719px;min-height:500px;
	background-color:#fff;
	position:relative;
	behavior: url(/PIE.htc);
}


.rounded-corners (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

#header {
  .rounded-corners;
}
#footer {
  .rounded-corners(10px); 
  .navbar-inner{
     .gradient(@gradient-color, @gradient-color-two);
   }
}


/* Responsive navigation theming */
#topNavigation{
    li{
        ul{
            li{
                a{
	                color: @main-theme-color;
                }
                 &:hover{
                    color: @main-theme-color;
                    a{
                        color: @main-theme-color;
                    }
                }
            }
        }
    }
}   

#mainNavBootstrap{
    li{
        a{
            color: @main-theme-color;
        }
    }
    ul{
        li{
            a{
                color: @main-theme-color;
            }
        }
        &:hover{
            color: @main-theme-color;
            a{
                color: @main-theme-color;
            }
        }
        
    }
}

/* Caret theming */
.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav>li.dropdown.open.active>a:hover, .nav>li.dropdown.open.active>a:focus {
    color: @main-theme-color;   
}.navbar .nav li.dropdown>.dropdown-toggle .caret,.nav .dropdown-toggle .caret {
    color: @main-theme-color;   
    border-top-color: @main-theme-color;
}

/* Themed Buttons */
a.btn-main {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: @gradient-color;
  .gradient(@gradient-color, @gradient-color-two);
  background-repeat: repeat-x;
  border-color: @main-theme-color @main-theme-color;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

a.btn-main:hover, a.btn-main:focus, a.btn-main:active, a.btn-main.active, a.btn-main.disabled, a.btn-main[disabled]{
    color: #fff;
    background-position: 0 0;
}

input.btn-main, .btn-main {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: @gradient-color;
  .gradient(@gradient-color, @gradient-color-two);
  background-repeat: repeat-x;
  border-color: @main-theme-color @main-theme-color;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

input.btn-main:hover, input.btn-main:focus, input.btn-main:active, input.btn-main.active, input.btn-main.disabled, input.btn-main[disabled]{
    color: #fff;
    background-position: 0 0;
}

/* Themed notification number */
.notificationCount {
    color: @main-theme-color;
}
h1.main-theme {
    color: @main-theme-color;
}
h3.main-theme {
    color: @main-theme-color;
}

.AJ-side-box{
    .rounded-corners();
}

/* This style is used to share @gradient-color and @gradient-color-two with JavaScript code.  The code gets the runtime styles of an element with this CSS class. */
.js-gradient-color {
	color: @gradient-color;
	background-color: @gradient-color-two;
	display: none;
}


