﻿@charset "UTF-8";
/*@import url("//hello.myfonts.net/count/263c72");*/

h1.pageHeader {
    color: @main-theme-color;
    font-size: 14px;
    font-weight: bold;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h2.details
{
    color: @main-theme-color;
    font-size: 14px;
    font-weight: bolder;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: left;
}

h3.subHeader {
    color: @main-theme-color;
    font-size: 18px;
    font-weight: lighter;
    font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
}

 h3.subHeader-index
 {
     color: @accent-color;
    font-family: 'Conv_Tungsten-Medium', Arial, Helvetica, sans-serif;
    font-size:36px;
    font-weight:normal;
    line-height:28px;
    padding:0px;
    padding-left:5px;
    padding-bottom:7px;
    margin:40px 0px 15px 0px;
     padding-top: 15px;
    border-top: 1px dotted #ddd;
    }
     
h1.kagQuestion
{
    color: @main-theme-color;
    font-size: 24px;
    font-weight: lighter;
    font-family: 'Conv_Tungsten-Medium', Arial, Helvetica, sans-serif;
    text-align: left;
}

div#tracker div.trackerTitle
{
    .gradient(@gradient-color, @gradient-color-two);
    height: 25px;
    color: #fff;
    padding: 10px;
    text-align: center;
}

h1.centerAlign
{
    font-size: 30px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: lighter;
    color: @main-theme-color;
	margin-top: -15px;
}
h1
{
    text-align: center;
    color: @main-theme-color;  
}
.nav-tabs
{
    li.tab-item
    {
        .caret
        {
            border-top-color: @accent-color; 
        }
        &.active
        {
            a
            {
                background-color: @main-theme-color;
                .box-shadow(inset 0 0 10px darken(@main-theme-hover, 5%));
            }
        }
    }
}

.nav-tabs li.tab-item  {
  border-top-color: @main-theme-color;
}
.nav-tabs li.tab-item.active a {
  background-color: @main-theme-color;
  -webkit-box-shadow: inset 0 0 10px @main-theme-color;
  -moz-box-shadow: inset 0 0 10px @main-theme-color;
  box-shadow: inset 0 0 10px @main-theme-color;
}

/* Browse Challenges Page styling*/
#join-challenge {
	// Responsive Thumbnail "Rows" (https://github.com/twitter/bootstrap/issues/3494)
	&.row-fluid {
		.thumbnails {
			.span2:nth-child(6n + 1),
			.span3:nth-child(4n + 1),
			.span4:nth-child(3n + 1),
			.span6:nth-child(2n + 1) {
				margin-left: 0;
			}
		}
	}

	.btn {
		font-size: 17px;
	    width: 95px;
	    font-family: Helvetica;
	    text-transform: none;
	    font-style: normal;
	}

	.nav-tabs {
		text-align: center;
		border-bottom-width: 0;
		font-size: 0;
		margin: 20px 0 -15px 0;

		li {
			float: none;
			display: inline-block;
			margin: 0 2px;

			.caret {
				display: none;
				text-align: left;
				margin-left: 25px;
				border-width: 12px;
				border-top-color: @accent-color;
			}

			a {
				
				background-color: #e3dfd5;
				color: #008EAA;
				font-size: 30px;
                font-weight: lighter;
                font-family: Conv_Tungsten-Medium,Arial,Helvetica,sans-serif!important;
				text-transform: uppercase;
				padding: 9px 20px;
				margin: 0;
				border-width: 0;
				.rounded-corners(0);
			}

			&.active {
				a {
					background-color: @accent-color;
					color: white;
				}
			
				.caret {
					display: block;
				}
			}
		}
	}
		.well    {
		padding: 50px 50px 30px 50px;
		margin: 0;
        -moz-box-shadow:    inset 0 0 10px #e3e3e3;
        -webkit-box-shadow: inset 0 0 10px #e3e3e3;
        box-shadow:         inset 0 0 10px #e3e3e3;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
		.select-all {
			display: block;
			text-align: right;
			padding: 20px 0;
		}

		.span4 {
			margin-bottom: 5px;
		}

		.carousel {
			margin-bottom: 0;
		}

		.thumbnails {
			padding-left: 0;

			.thumbnail {
				border-width: 0;
				.box-shadow(none);
				padding: 30px 20px 0 20px;
				position: relative;
				height: 100%;
				.border-box();
				overflow: hidden;
			    background-color: white;
			    box-shadow: 5px 5px 15px #e3e3e3;
			    -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                border-radius: 0px;
				img {
					float: right;
				}

				img.radioCheck {
					left: 0;
					top: -4px;
				}

				input {
					position: absolute;
					left: 0;
					top: 0;
				}

				label {
					padding-left: 0;
					color: #06c;
					margin-bottom: 0;
					font-size: 13px;
					line-height: normal;
				}
                span.challengequestion{
                    color: #008EAA;
                    font-size: 30px;
                    line-height: 30px;
                    font-weight: normal;
                   font-family: 'Conv_Tungsten-Medium', Arial, Helvetica, sans-serif !important;
                    text-align: left;
                    text-transform: uppercase;
                    width: 100%;
                    float: left;
                }
                
                div.challengeDescriptionContentWrapper 
                {
                    margin-top: 10px;
                    width: 200px;
                    float: left;
                    color: #626a73;
                    font-size: 16px;
                    height: 80%;
                    
                }
				p {
					font-style: italic;
					color: #777;
				    bottom: 0;
				    position: absolute;
				}
			}
		}

		.btn-main {
			padding: 10px 60px;
		}
	}

	.create-challenge {
		color: #777;
		margin-top: 50px;
		font-size: 15px;

		.btn {
			margin-left: 20px;
			padding: 8px 15px;
		}
	}
}

#join-challenge .nav-tabs li .caret {
    border-top-color: @accent-color;
}

.btn.create-challenge-button {
    width: 200px;
}

