.EktronAnalyticsOverlay{
	border: solid black 1px;
	width:100%;
	height:34px;
	text-align:right;
	
	color: #FFFFFF;
	background: url("/WorkArea/images/UI/header/tabsBG.png") scroll center center #414141;
	position: fixed !important;
	top:0; left:0; 
	padding-top: 4px;
    z-index: 999999 !important;
}
.EktronAnalyticsOverlay a:link, .EktronAnalyticsOverlay a:visited
{
    color:#FFFFFF;
}
#page-overlay { 
    position:fixed; 
    top:37px; left:0; 
    width:100%; height:100%;  
    background-color:#000; 
    filter:alpha(opacity=70); opacity: 0.7; 
} 

#overlay-loading { 
    position:fixed; 
    top:37px; left:0; 
    width:100%; height:100%;  
    background:transparent url(loading.gif) no-repeat center center; 
} 

#overlay-container div.click { 
    position:absolute; 
    width:20px; height:20px; 
    background:transparent url(click.png) no-repeat center center; 
} 
.EktronAnalyticsOverlayRemove {margin-left: 50px; margin-right: 25px;}
a.EktronAnalyticsOverlayClickInfo { position: relative; top:0; left:0; z-index:99999; overflow:visible !important;}
.ektronOverlayOuterBar{position: absolute; top:0; left:0; height:5px; background-color:white; padding:0; border: solid 1px black;z-index: 99999;}
.ektronOverlayInnerBar{float:left; margin: 0; padding: 0; background-color:blue; height:5px;}
.EktronAnalyticsOverlayViewSelect {margin-top: 2px;}
.EktronOverlayDatePicker {padding-right: 10px;}
.EktronOverlayDatePicker label {padding-left: 12px; padding-right: 4px;}
.EktronOverlayDatePicker input {width: 7em;}
.EktronOverlayDatePicker a img {border: none; padding-left: 5px;}

.AbandonSection {
    position: absolute;
    z-index: 98 !important;
    width: 100%;
    border-bottom: 2px solid #000000;
    margin: 0;
    padding: 0;
}
.AbandonSection p {
    width: 100%;
    margin: 2px 0 0;
    background: #999;
    opacity: 0.05;
    filter: alpha(opacity=5);
	z-index: 98 !important;
}

/* Start of Styles for Various Abandonment Rates */
.Highlight1 { border-bottom: 2px solid #55ff33; }
.Highlight1 p { background: #55ff33; opacity: 0.05; filter: alpha(opacity=5); }
.Highlight1 UL  
{
    border-left: 2px solid #55ff33 !important;
    border-top: 2px solid #55ff33 !important;
    border-right: 2px solid #55ff33 !important;
}

.Highlight2 { border-bottom: 2px solid #aaff11; }
.Highlight2 p { background: #aaff11; opacity: 0.1; filter: alpha(opacity=10); }
.Highlight2 UL  
{
    border-left: 2px solid #aaff11 !important;
    border-top: 2px solid #aaff11 !important;
    border-right: 2px solid #aaff11 !important;
}

.Highlight3 { border-bottom: 2px solid #eeff22; }
.Highlight3 p { background: #eeff22; opacity: 0.2; filter: alpha(opacity=20); }
.Highlight3 UL  
{
    border-left: 2px solid #eeff22 !important;
    border-top: 2px solid #eeff22 !important;
    border-right: 2px solid #eeff22 !important;
}

.Highlight4 { border-bottom: 2px solid #ffff22; }
.Highlight4 p { background: #ffff22; opacity: 0.3; filter: alpha(opacity=30); }
.Highlight4 UL  
{
    border-left: 2px solid #ffff22 !important;
    border-top: 2px solid #ffff22 !important;
    border-right: 2px solid #ffff22 !important;
}

.Highlight5 { border-bottom: 2px solid #ff8800; }
.Highlight5 p { background: #ff8800; opacity: 0.35; filter: alpha(opacity=35); }
.Highlight5 UL  
{
    border-left: 2px solid #ff8800 !important;
    border-top: 2px solid #ff8800 !important;
    border-right: 2px solid #ff8800 !important;
}

.Highlight6 { border-bottom: 2px solid #ff1100; }
.Highlight6 p { background: #ff1100; opacity: 0.4; filter: alpha(opacity=40); }
.Highlight6 UL  
{
    border-left: 2px solid #ff1100 !important;
    border-top: 2px solid #ff1100 !important;
    border-right: 2px solid #ff1100 !important;
}

.Highlight7 { border-bottom: 2px solid #ee2200; }
.Highlight7 p { background: #ee2200; opacity: 0.5; filter: alpha(opacity=50); }
.Highlight7 UL  
{
    border-left: 2px solid #ee2200 !important;
    border-top: 2px solid #ee2200 !important;
    border-right: 2px solid #ee2200 !important;
}

.Highlight8 { border-bottom: 2px solid #990000; }
.Highlight8 p { background: #990000; opacity: 0.6; filter: alpha(opacity=60); }
.Highlight8 UL  
{
    border-left: 2px solid #990000 !important;
    border-top: 2px solid #990000 !important;
    border-right: 2px solid #990000 !important;
}

.Highlight9 { border-bottom: 2px solid #770000; }
.Highlight9 p { background: #770000; opacity: 0.7; filter: alpha(opacity=70); }
.Highlight9 UL  
{
    border-left: 2px solid #770000 !important;
    border-top: 2px solid #770000 !important;
    border-right: 2px solid #770000 !important;
}

.Highlight10 { border-bottom: 2px solid #330000; }
.Highlight10 p { background: #330000; opacity: 0.9; filter: alpha(opacity=90); }
.Highlight10 UL  
{
    border-left: 2px solid #330000 !important;
    border-top: 2px solid #330000 !important;
    border-right: 2px solid #330000 !important;
}

/* End of Styles for Various Abandonment Rates */

.AbandonSection ul 
{
    position: absolute;
    margin: 0 0 0 10px;
    background: #FFFFFF;
    padding: 6px;
    list-style: none;
    border-left: 2px solid #000000;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    width: 200px;
    min-height: 45px;
    bottom: 0px;
    z-index: 999;
    opacity: 1;
    filter: alpha(opacity=100) !important;
}

#cluetip #cluetip-outer #cluetip-title
{
	background: #3163BD;
	color: #fff;
	font-size:1em;
	padding:2px;
	min-width:100px;
}

