.message p {font-size: 8.0pt;}

p, li, div 	
	{
	margin:0in;
	margin-bottom:.0001pt;
	font-size:10.0pt;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}

body, td
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 8pt;
}

input{font:8pt Verdana,Arial,Helvetica,sans-serif}

select{background:#ffffff;font:8pt Verdana,Arial,Helvetica,sans-serif}

textarea{background:#ffffff;border:1px solid #000000;
font:8pt Verdana,Arial,Helvetica,sans-serif;padding-bottom:2px;padding-left:2px}

form{display:inline}

input{border:1px solid #606060;font-size:8pt}

input.pbutton{background:#ffffff;}

/*  */
img 
{
	border: 0;
}

/* hyperlinks */
a			{ text-decoration: none; color: #000080; }
a:hover		{ text-decoration: underline; }

/* Header 1 - Main header */
.header1 {
	background-image: url('bg_header1.gif');
	background-color: #7D8CFF;
	color: #FFFFFF;
	font-weight: bold;
	height: 32px;
	font-size:12px;
}

/* Links in header1 */
tr.header1 a		{color:#FFFFFF;text-decoration:none}
tr.header1 a:hover	{color:#C0C0FF;text-decoration:none}

/* Header 2 - Sub header */
.header2 {
	background-image: url('bg_header2.gif');
	background-color: #7D8CFF;
	color: #000000;
	font-weight: bold;
	height: 28px;
}

/* Footer1 - Bottom of tables */
.footer1 {
	background-image: url('bg_footer1.gif');
	font-size: 7pt;
	height: 28px;
}

.footer1 select, .footer1 td
{
	font-size: 7pt;
}

.postformheader 
{
	background-color: #B2C8F6;
	font-weight:bold;
}

/* Header of posts */
.postheader 
{
	background-color: #B2C8F6;
}

/* User info and post/article */
.post 
{
	background-color: #CFDDF8;
}

.post_alt
{
	background-color: #e0e8f8;
}	

.post_priority
{
	font-weight:bold;
}

.post_link
{
	font-weight: bold;
}

/* Footer of posts */
.postfooter 
{
    background-color: #95B4F3;
}

/* Area between posts */
.postsep 
{
	background-color: #2163E8;
	height: 1px 
}

/* most tables are class 'content' */
.content {
	font-family: verdana,Arial,Helvetica,sans-serif;
	font-size: 8pt;
	border: solid 1px #2163E8;
	color: #000000;
	padding: 0px;
	background-color: #FFFFFF;
}

.content td {
	padding: 3px;
}

#RichEdit td 
{
	padding: 0px;
}

/* links inside content table*/
.content a			{ color: navy; text-decoration: underline; }
.content a:hover	{ color: #000000; text-decoration: none; }

/* used for quoting messages */
.quote 
{
	margin-left: 16px;
	padding-left: 16px;
}

.innerquote 
{
	padding: 4px;
	background-color: #B2C8F6;
	border: solid 1px #95B4F3;
}

/* used for code */
.code
{
	margin-left: 16px;
	padding-left: 16px;	
}

.innercode
{
	padding: 4px;
	/*background-color: #B2C8F6;*/
	background-color: #FFFFFF;
	border: solid 1px #95B4F3;
	/*color:#014C00;*/
	color:#000000;
	font-family:Courier New,Courier;
}

/* font sizes */
.smallfont	{ font-size: 7.5pt; }
.largefont	{ font-size: 9pt; }

/* Image Links */
a.imagelink 
{
	font-size: 8pt;
	font-weight: bold;
	color: #000080;
}
a:hover.imagelink
{
	text-decoration: underline;
	color: #0000FF;
	/*background-color: #D0D0D0;*/
}

/* Used for editor textarea */
.posteditor 
{
	width: 100%;
	height: 200px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 8pt;
}

/* Table just above and below tables */
table.command 
{
	/*border: solid 1px blue;*/
	padding: 3px;
}

/* p-tag at the top of pages with navigation links */
.navlinks { font-weight: bold; color: #000000; }
.navlinks a { color: #000080; text-decoration: none }
.navlinks a:hover { color: #808080; }

/* for printing */
.print 
{
	border: solid 1px #C0C0C0;
}
.printheader 
{
	background-color: #DDDDDD;
	color: #000000;
	padding: 4px;
}
.printbody 
{
	background-color: #FFFFFF;
	color: #000000;
	padding: 4px;
}

/* Classes used for language translation */

.ekForumIcon
{
	float:left;
	display:inline;
	padding: 2px;
	margin-top: 0.5em;
}

.ekForumButtonWrapper 
{
	float:right;
}

.ekForumButtonWrapperLeft
{
	float:left;
}

.ekForumButton
{
	float:left;
	display:inline;
	padding: 0;
	margin: 0;
	padding: 2px;
	margin-top:4px; 

	/* comment the next few properties to see the translated text instead of the image */
	text-align:left;
	text-indent:-5000px;
	background-position:center; 
	background-repeat:no-repeat;
	height:18px;
	width:81px;
	overflow:hidden;

}

/* comment the background-image and width in each of the properties below to see the translated text instead of the image */

.ekForumButtonNewTopic
{
	background-image:url("b_post_topic.png");
}

.ekForumButtonProperties
{
	background-image:url("b_edit_post.png");
}

.ekForumButtonSearch
{
	background-image:url("b_post_search.png");
}

.ekForumButtonAddPost
{
	background-image:url("b_addpost.png");
}

.ekForumButtonEditPost
{
	background-image:url("b_edit_post.png");
	width:60px;
}

.ekForumButtonApprove
{
	background-image:url("b_approve.png");
}

.ekForumButtonPostReply
{
	background-image:url("b_post_reply.png");
}

.ekForumButtonQuotePost
{
	background-image:url("b_quote_post.png");
	width:55px;
}

.ekForumButtonMessage
{
	background-image:url("p_pm.gif");
}

.ekForumButtonReport
{
	background-image:url("b_ReportPost.png");
}

.ekForumButtonControlPanel
{
	background-image:url("b_controlPanel.png");
}

.ekForumButtonDeletePost
{
	background-image:url("b_delete_post.png");
	width:60px;
}

.ekForumButtonReply
{
	background-image:url("b_Reply.png");
}

.ekForumButtonDeleteMesssage
{
	background-image:url("b_delete_post.png");
	width:60px;
}

.ekForumButtonDeleteTopic
{
	background-image:url("b_delete_topic.png");
}

/* End of classes used for translation */


/* Classes used to control alignment and width of tables in forum screens */
.ekNavLinkReply
{
	text-align:left; 
}


table.ekContent
{
	width:100%; 
}

table.ekContentPostDelete, table.ekContentPostReply, table.ekContentPostEdit, table.ekContentPostNewTopic
{
	text-align:center; 
}

td.ekHeader1
{
	text-align:center;
}

table.ekHeader1Search, table.ekHeader1Reply
{
	width:100%;
}

.ekHeader1Icon
{
	width:1%;
}

td.ekHeader1Forums
{
	text-align:left; 
}

td.ekHeader1Topics
{
	text-align:center; 
	width:7%;
}

td.ekHeader1Posts
{
	text-align:center; 
	width:7%;
}

td.ekHeader1LastPost
{
	text-align:center; 
	width:25%;
}

table.ekHeader1Reply
{
	width:100%;
}

td.ekHeader2Notify
{
	text-align:left;
}

td.ekHeader2NotifyAlignBoardName
{
	text-align:left;
}

td.ekHeader2NotifyWatchTypeCheck
{
	text-align:center; 
	width:24%;
}

td.ekHeader2NotifyWatchTypeCheck
{
	text-align:center; 
	width:24%;
}

td.ekHeader2ModerateIcon
{
	width:1%;
}

td.ekHeader2ModerateForumName
{
	text-align:left;	
}

td.ekHeader2ModerateNumPosts
{
	text-align:center; 
	width:24%;	
}

td.ekHeader2Reply
{
	text-align:left;	
}

td.ekHeader2Forum
{
	width:1%;		
}

td.ekHeader2SortByTopic
{
	text-align:left;	
}

td.ekHeader2SortByTopicStart
{
	text-align:left; 
	width:20%;	
}

td.ekHeader2SortByReply
{
	text-align:center; 
	width:7%;	
}

td.ekHeader2SortByView
{
	text-align:center; 
	width:7%;	
}

td.ekHeader2SortByThreadRate
{
	text-align:center; 
	width:7%;	
}

td.ekHeader2SortByLastPost
{
	text-align:center; 
	width:25%;	
}

td.ekPostFormHeader
{
	width:20%;	
	text-align:left;
}

td.ekPostFormHeaderMessages, td.ekPostFormHeaderNewTopic
{
	vertical-align:top;
}

table.ekCommand
{
	width:100%;	
}

td.ekPost
{
	width:80%;
	text-align:left;
}

td.ekPostSubscribe
{
	width:80%;
}

td.ekPostProfile, td.ekPostManageNotify, td.ekPostManageModerate, td.ekPostManageModeratePrivate,  td.ekPostBoardMessage
{
	vertical-align:top;
}

td.ekPostNotify, td.ekPostModerate, td.ekPostModeratePrivate, td.ekPostMessage
{
	width:150px;	
	vertical-align:top;
}

td.ekPostHeaderMemberProfile
{
	width:60px;
}

td.ekPostHeaderSearch
{
	text-align:center; 
}

td.ekPostNotifyPanel
{
	text-align:center; 
	width:24%;
}

td.ekPostPrivateMessage, td.ekPostMessages, td.ekPostApprove, td.ekPostReport, td.ekPostDeleteTopic, td.ekPostApproveTopic, td.ekPostReply
{
	width:80%;
}

td.ekMessage
{
	vertical-align:top;
}

/* End of classes used to control alignment and width of tables in forum screens */

