﻿@using Vhm.Web.Models.RepositoryModels
@model Vhm.Web.Models.ViewModels.Member.LapsGameDisplayVM
@{
    bool isInternationalExpress = false;
    if (Model.CurrentGame != null && Model.CurrentGame.Milestones.Any())
    {
        isInternationalExpress = Model.IsSponsorInternational && Model.CurrentGame.ProgramType == "EXP";
        Milestone currentMilestone = (from s in Model.CurrentGame.Milestones
                                      where s.IsCurrentMilestone == true
                                      select s).FirstOrDefault();

        Milestone[] sortedMilestones = Model.CurrentGame.Milestones.OrderBy(x => x.Value).ToArray();
        int currentLap = Array.IndexOf(sortedMilestones, currentMilestone) + 1;
        int totalLevels = Model.CurrentGame.Milestones.Count;
        string currency = Model.CurrentGame != null ? Model.CurrentGame.CurrencyDescription : string.Empty;
        long currentProgres = Model.CurrentProgress;
        decimal actualProgress = currentMilestone.ActualProgress;
        var milestoneReward =  currentMilestone.Rewards.Where( r => r.RewardType == Model.CurrentGame.Currency ).SingleOrDefault();
        var bonus = 0;
        if ( milestoneReward != null )
        {
            bonus = (int)milestoneReward.Amount;
        }
        
        if ( actualProgress == 0  )
        {
            actualProgress = (decimal) 0.1;
        }
        
        if (currentLap == sortedMilestones.Length)
        {
            actualProgress = (Model.CurrentGame.MemberTotalHealthMiles / sortedMilestones[totalLevels - 1].Value) - 1;
            actualProgress = actualProgress * 100;
            if (actualProgress > 100)
            {
                actualProgress = 100;
            }
            
        }

        int actualProgressInteger = (int) Math.Round(actualProgress);

        <script type="text/javascript">
            window.onLoad = LapGraphModule.DrawLapGraphSideNav(  @actualProgressInteger, @Model.CurrentGame.MemberTotalHealthMiles, @Model.DaysLeft, @currentLap, @sortedMilestones.Length, @bonus, '@currency' );
        </script>

        
    <!--<a class="laps-flip" href="#"><span class="this-month">This month</span><span class="last-month">Last month</span></a>-->
     <input type="hidden" value="@currency" id="gameCurrency"/>   
    if(Model.IsTickerAvailable) { 
    <div class="laps-cash-back">
        <div class="laps-earned-display">
            <span class="dollar-sign">$</span>@Math.Round(Model.AvailableCashReward, 2)</div>
        <br />
        <div class="textMediumSecondary" data-i18n="WolverineLandingPage.GlobalMessages.CashBackAvailableNow">
            cash back available now</div>
        <a href="#cash-back" data-toggle="modal" class="tertiary learn-more-link" data-i18n="WolverineLandingPage.GlobalTitles.LearnMore">Learn More</a>
        </div>
        }
    <!-- Cash back popup -->
        <div id="cash-back" class="modal hide fade">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;</button>
            <div class="item modalContent">
                <h2 class="blue" data-i18n="WolverineLandingPage.GlobalTitles.EarnCashBack">EARN CASH BACK!</h2>
                <p data-i18n="[html]WolverineLandingPage.GlobalMessages.VirginPulseRebateCenter">As a Virgin Pulse Express member, you can shop in our Rebate Center where great deals await you! Plus, you earn cash back with each purchase.</p>
                <div class="button-center">
                    <a class="btn btn-large yellow-button" href="https://www.virginhealthmiles.com/secure/Rewards/MallNetwork.aspx"
                       target="_blank" data-i18n="WolverineLandingPage.GlobalTitles.CashBackAvailableNow">Start saving now!</a>
                </div>
            </div>
        </div>
    
    <!-- Game and Prizes popup -->
        <div id="game-prizes" class="modal hide fade">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;</button>
            <div class="item modalContent">
                <h2 class="blue" data-i18n="WolverineLandingPage.GlobalTitles.AvailablePrizes">AVAILABLE PRIZES</h2>
                <p data-i18n="WolverineLandingPage.GlobalMessages.WaysToEarnMonthlyPrizeDrawings" id="WaysToEarnMonthlyPrizeDrawings">There are lots of ways to earn dohh! into monthly prize drawings. Create and join challenges, keep track of your weight, log daily activity, upload your steps, and more.</p>
                <div class="button-center">
                    <a class="btn btn-large yellow-button" href="/secure/rewards/programdescription.aspx"
                       target="_blank" data-i18n="WolverineLandingPage.GlobalTitles.CheckOutMoreDetailsNow">Check out more details now!</a>
                </div>
            </div>
        </div>
    
    <!-- "How it works" modal carousel -->
    <div id="challenges-how-it-works" class="modal hide fade">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;</button>
        <div id="challenges-how-it-works-carousel" class="carousel slide" data-interval="false">
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#challenges-how-it-works-carousel" data-slide="prev">
                &lsaquo;</a> <a class="carousel-control right" href="#challenges-how-it-works-carousel"
                    data-slide="next">&rsaquo;</a>
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item">
                    <p data-i18n="[html]WolverineLandingPage.HowItWorks.CompleteChallengeDoTask" id="CompleteChallengeDoTask">
                        Every time you complete a challenge or do a task, you earn __currency__. You&rsquo;ll
                        see how many __currency__ you&rsquo;ve racked up in the graph:
                    </p>
                    <div class="img-sprite img-sprite-1">
                        <div class="TrackIt">
                            <p data-i18n="[html]WolverineLandingPage.HowItWorks.Question">How many hours of sleep did you get last night?</p>
                            <input type="text" class="question-text-field" disabled/>&nbsp;&nbsp;<button class="btn button-save yellow-button" data-i18n="WolverineLandingPage.GlobalLabels.TrackIt" disabled>Track it</button>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <p data-i18n="[html]WolverineLandingPage.HowItWorks.CompleteLap" id="CompleteLap">
                        Earn enough __currency__ to compete a lap and you&rsquo;ll also earn <b>bonus __currency__</b>!
                    </p>
                    <div class="img-sprite img-sprite-2">
                    </div>
                </div>
                <div class="item">
                    <p data-i18n="[html]WolverineLandingPage.HowItWorks.AccelerateWithPedometer" id="AccelerateWithPedometer">
                        You can also accelerate your number of __currency__ <!--<a href="/secure/isync/buy.aspx">-->with a GoZone pedometer<!--</a>-->.
                    </p>
                    <div class="img-sprite img-sprite-3">
                    </div>
                </div>
                @if (!isInternationalExpress)
                {
                <div class="item">
                    <p data-i18n="[html]WolverineLandingPage.HowItWorks.YouCouldWin" id="YouCouldWin">
                        Your __currency__ are automatically entered in the monthly prize drawings. You could
                        win the latest high tech and home gadgets, health monitoring devices or awesome
                        gift cards. <a href="http://landing.virginhealthmiles.com/ExpressPrizes201310" target="blank">See available prizes and official rules.</a>
                    </p>
                    <div class="img-sprite img-sprite-4">
                    </div>
                        <div class="modalButton">
                            <a href="../../secure/rewards/programdescription.aspx" id="WaysToEarnEntries" title="Ways to Earn" class="btn button-save yellow-button" data-i18n="WolverineLandingPage.HowItWorks.WaysToEarnEntries">Ways to Earn __currency__</a>
                        </div>
                </div>
                }
            </div>
            <!-- Page indicators -->
            <ol class="carousel-indicators">
                <li data-target="#challenges-how-it-works-carousel" data-slide-to="0" class="active">
                    1</li>
                <li data-target="#challenges-how-it-works-carousel" data-slide-to="1">2</li>
                <li data-target="#challenges-how-it-works-carousel" data-slide-to="2">3</li>
                @if (!isInternationalExpress)
                {
                <li data-target="#challenges-how-it-works-carousel" data-slide-to="3">4</li>
                }
            </ol>
        </div>
    </div>

    <!-- Congratulations popup -->
    <div id="challenges-congrats" class="modal hide fade">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
            &times;</button>
        <div class="way-to-go-msg">
            <div class="title">
                Way to go!</div>
            <div class="value">
                0</div>
            <div class="subtitle">
                bonus __currency__ earned!</div>
        </div>
    </div>
    }
    else
    {
    @Html.Partial("LandingPageV3/Partials/_NoGameGraph")
    }
}
