﻿@using System.Globalization
@using Vhm.Web.Models.RepositoryModels
@using Vhm.Web.Models.ViewModels.Member
@model Vhm.Web.Models.ViewModels.Member.GameDisplayGraphVM  

@*NOTE: The number of <td> elements in this view are dynamic and correspond to the number of milestones in the game*@
    
@{
    int milestoneCount = Model.CurrentGame == null ? 0 : Model.CurrentGame.Milestones.Count;
    int currentGameIdx = 0;
    int currentGameNumber = 1;
    var healthCashCulture = Model.SponsorCultureFormat;
    var minHeightStyle = (Model.ShowNoTasksInProgressContent || Model.ShowNoTasksToCompleteContent)
                             ? "min-height: 100px;"
                             : string.Empty;
    var totalAvailableToSpend = Model.AvailableRewards.Amount.GetValueOrDefault();
    const string PREMIUM_REBATE = "PMRBT";
    const string EMPLOYEE_DISCOUNT = "EMPD";                           
} 
@helper RewardTypeImage(Reward reward) {

    string imgSrc = string.Empty;
    var rewardDescription = string.Empty;
    rewardDescription = (string.IsNullOrEmpty(reward.RewardTypeDescription)) ? "" : reward.RewardTypeDescription.Replace("'", "&#39;");
    if (Model.RewardsImageLookup.ContainsKey(reward.RewardType)) {
        imgSrc = Model.RewardsImageLookup[reward.RewardType];
        if (reward.RewardType == "CASHI" || reward.RewardType == "HCASH" || reward.RewardType == "HSA" || reward.RewardType == "HRA" || reward.RewardType == "HS/RA") {
            <span class="red rewardImage" style="cursor: pointer;" onmouseover='javascript:ShowHoverRewardSummaryInfo( this, "@rewardDescription", "@Model.ImageCDN");' onmouseout="javascript:HideUpForGrabInfo();" >@imgSrc</span>
        } else {
            <img class="rewardImage" style="cursor: pointer;" alt="@reward.RewardTypeDescription" src="@Url.Content("~/Content/Images/" + imgSrc)" onmouseover='javascript:ShowHoverRewardSummaryInfo( this, "@rewardDescription", "@Model.ImageCDN");' onmouseout="javascript:HideUpForGrabInfo();" /> 
        }
    } else {
        imgSrc = Model.RewardsImageLookup["XXXXX"];
        <img class="rewardImage" style="cursor: pointer;" alt="@reward.RewardTypeDescription" src="@Url.Content("~/Content/Images/" + imgSrc)" onmouseover='javascript:ShowHoverRewardSummaryInfo( this, "@rewardDescription", "@Model.ImageCDN");' onmouseout="javascript:HideUpForGrabInfo();" />
    }                
}   

<div class="levelsContainer" style="@minHeightStyle">
    <input type="hidden" value="@Model.OnTrackToEarnAmount" id="OnTrackToEarnAmount"/>
    <input type="hidden" value="@Model.AmountToNextLevel" id="AmountToNextLevel"/>
    @if (!Model.ShowNoTasksInProgressContent && !Model.ShowNoTasksToCompleteContent) {
        <table class="levelsGraph" id="levelseGraph">
            <tr>
                <td style="width: 14px;"></td>   
                @for (currentGameIdx = 0; currentGameIdx < milestoneCount; currentGameIdx++) {
                    if (currentGameNumber < milestoneCount) {
                        <td><div class="bar" style="height: 1px;"></div></td>
                    } else {
                        <td>                 
                            <img alt="" class="levlTop" src="@(Model.ImageCDN + "level-5-arrow.png")" />
                        </td>
                    }
                    currentGameNumber++;
                }
            </tr>     
            <tr>
                <td style="width: 14px;"></td>       
                @{ currentGameNumber = 1; }  
                @for (var i = 0; i < milestoneCount; i++) {
                    var milestone = Model.CurrentGame.Milestones[i];
                    var nextMilestone = (i < Model.CurrentGame.Milestones.Count - 1) ? Model.CurrentGame.Milestones[i + 1] : null;
                    if (currentGameNumber < milestoneCount) {
                        decimal levelThreshold = nextMilestone.Value;
                        <td>
                            <input type="hidden" class="OnTrackToEarn content" value=""/>
                            <input type="hidden" class="ToNextLevelAmt content" value=""/>
                            <img id="runningMan@i" alt="" class="runningMan runningManMsg @(milestone.IsCurrentMilestone ? string.Empty : "hidden")" src="@(Model.ImageCDN + "running-man.png")" data-toggle="tooltip" data-trigger="hover" data-content="" />
                            <h6 class="grey">@levelThreshold.ToString("N0") HM</h6>     
                            <div class="bar @( "level" + currentGameNumber)">
                                @if (milestone.RelativeProgress == 0 || milestone.RelativeProgress >= 40 || milestone.IsCurrentMilestone == false) {
                                    <label>@currentGameNumber.ToString()</label>
                                }  
                                <div class="completion @( "level" + currentGameNumber.ToString()) @(milestone.RelativeProgress == 100 ? "bar" : string.Empty)" align="center" style="height: @milestone.RelativeProgress.ToString()%;">
                                    @if (milestone.IsCurrentMilestone && Model.CurrentProgress < nextMilestone.Value) {
                                        <h6 class="white">@Model.CurrentProgress.ToString("N0") HM</h6>
                                    }
                                </div>
                            </div>  
                        </td>
                    } else {
                        <td>
                            <img alt="" class="runningMan lvl5runningMan @(milestone.IsCurrentMilestone ? string.Empty : "hidden")" src="@(Model.ImageCDN + "running-man.png")" /> 
                            <div class="bar level5">
                                @if (milestone.RelativeProgress > 24 || milestone.IsCurrentMilestone == false) {
                                    <label>@currentGameNumber.ToString()</label>
                                }
                                <img src="@(Model.ImageCDN + "level-5-starburst.png")" class="level5" />
                                <div class="completion level5" style="height: @milestone.RelativeProgress%;">
                                    <h6 class="white">@Model.CurrentProgress.ToString("N0") HM</h6>
                                </div>
                            </div>   
                        </td>
                    }
                    currentGameIdx++;
                    currentGameNumber++;
                }
                <td></td>
                <td class="green piggyCell">
                    @if (totalAvailableToSpend > 0 && Model.AllowSpendHealthCash) {
                        <img src="@Url.Content( "~/Content/Images/piggy-bank.png" )" class="piggyImage" alt="total available"/>
                        <h3 id="totHCContent" class="green piggyTotalHealthCash">
                            <span class="content @LandingPageContent.TotalAvailableToSpend"></span> 
                            <br/>
                            @totalAvailableToSpend.ToString( "C0", healthCashCulture )
                        </h3>
                        <a href="/secure/rewards/redeem.aspx" class="content @LandingPageContent.SpendYourHealthCash piggySpendHCLink"></a>
                    }
                </td>
            </tr> 
            <tr>
                <td><div style="width: 20px;"></div></td> 
                <td id="programStartContainer" colspan="@(milestoneCount)" style="text-align: left; height: 26px; padding-bottom: 12px">
                    <input type="hidden" id="gameStart" value="@Model.CurrentGame.StartDate.ToShortDateString( )"/>
                    <label class="graphStart content @LandingPageContent.GameStart"></label>
                    @if ( Model.DaysLeft > 0 )
                    {
                        <input type="hidden" id="DaysLeft" value="@Model.DaysLeft"/>
                        <label class="graphDaysLeft content @LandingPageContent.DaysLeft"></label>
                    }
                    else
                    {
                       <label class="graphDaysLeft @LandingPageContent.LastDay"></label> 
                    }
                    
                    @if ( Model.CurrentGame.EndDate.HasValue )
                    {
                       <input type="hidden" id="gameEnd" value="@Model.CurrentGame.EndDate.GetValueOrDefault( ).ToShortDateString( )"/>
                    }
                    <label class="graphEnd content @LandingPageContent.GameEnd"></label> 
                </td>
                <td class="red" style="text-align: center; font-size: 13px; padding-bottom:11px;">
                    @if ( Model.RewardsByType.Count > 0 )
                    {
                        <span class="content @LandingPageContent.TotalAvailableToEarn"></span>
                    }
                </td>
                <td style="text-align: center; font-size: 13px; padding-bottom:11px;">
                    @if ( Model.RewardsByType.Count > 0 && Model.IsTickerAvailable)
                    {
                        <h4 class="lightGrey content @LandingPageContent.Earned"></h4>
                    }
                </td>
            </tr>       
            <!--MILESTONE REWARDS SUMMARY-->
            @if ( Model.RewardsByType.Count == 0 )
            {
            <tr>
                <td></td>    
                @for ( var i = 0; i < milestoneCount; i++ )
                {
                    <td><div class="white infoLevel infoLevel1" style="background: none;">&nbsp;</div></td>
                }
                <td style="padding: 5px"><div style="width: 80px;"></div></td>
                <td style="padding: 5px"><div style="width: 80px;"></div></td>
            </tr>
            }
            @foreach ( var reward in Model.RewardsByType )
            {
                bool isPercent = false;
                string format = reward.IsCash ? "C0" : "N0";
                if ( reward.RewardType.Trim( ) == PREMIUM_REBATE || reward.RewardType.Trim( ) == EMPLOYEE_DISCOUNT )
                {
                    format = "P1";
                    isPercent = true;
                }
                <tr>
                    <td style="text-align: center; vertical-align: middle;">
                        @RewardTypeImage( reward )                     
                        @if ( Model.RewardsByType.IndexOf( reward ) != Model.RewardsByType.Count - 1 )
                        {
                            <hr class="rewardTypeRowDivider" style="margin-bottom:10 !important; margin-top: 10px !important;"/>
                        }
                    </td> 
                    @{ currentGameNumber = 1; }
                    @for ( var i = 0; i < milestoneCount; i++ )
                    {
                        var milestone = Model.CurrentGame.Milestones[i];                        
                        <td>
                             @if ( milestone.RelativeProgress > 0 && milestone.RewardsDictionary.ContainsKey( reward.RewardType.Trim( ) ) )
                             {
                                <img src="/v2/Content/Images/yes-measurement.png" width="20" height="20" style="position: absolute; margin-left: 45px; margin-top: -10px;" />
                             }
                            <div class="white infoLevel @("infoLevel" + currentGameNumber.ToString( ))">
                                @if ( milestone.RewardsDictionary.ContainsKey( reward.RewardType.Trim( ) ) )
                                {
                                    var amt = isPercent
                                                  ? milestone.RewardsDictionary[reward.RewardType] / 100
                                                  : milestone.RewardsDictionary[reward.RewardType];
                                    @amt.ToString( format, healthCashCulture )
                                }    
                            </div>
                        </td>
                                currentGameNumber++;
                    } 
                    <!--REWARDS TOTAL & EARNED-->
                    <td class="red rightBorder" style="padding: 5px; text-align: center;vertical-align: middle;font-size: 18px;">
                       <div style="width: 80px;">
                        @if ( Model.RewardsAvailableSummary.ContainsKey( reward.RewardType ) )
                        {
                            var amt = isPercent
                                ? Model.RewardsAvailableSummary[reward.RewardType] / 100
                                : Model.RewardsAvailableSummary[reward.RewardType];
                            @amt.ToString( format, healthCashCulture )
                        }   
                        </div>
                    </td>
                    @if (Model.IsTickerAvailable)
                    {
                    <td class="lightGrey" style="padding: 5px; text-align: center; vertical-align: middle;font-size: 18px;">
                        <div style="width:80px;">
                        @if ( Model.RewardsEarnedSummary.ContainsKey( reward.RewardType ) )
                        {
                            var amt = isPercent
                                          ? Model.RewardsEarnedSummary[reward.RewardType] / 100
                                          : Model.RewardsEarnedSummary[reward.RewardType];
                            @amt.ToString( format, healthCashCulture )
                        }    
                        </div>
                    </td>                        
                    }
                </tr>
            }
        </table>
            if ( Model.OtherRewards.Count > 0 )
            {
            <!--TRIGGER (OTHER) REWARDS-->
            <div id="OtherRewardsContainer" style="margin-top: 15px;">
                <h3 class="red content @LandingPageContent.OtherRewards" style="float: left; width: 140px; height:@(( 33 * Model.OtherRewards.Count ) + "px");"></h3> 
                <ul style="list-style: none;">
                    @foreach ( var reward in Model.OtherRewards )
                    {
                        string desc = string.Empty;
                        switch ( reward.RewardType.Trim( ) )
                        {
                            case "CERT":
                                {
                                    desc = reward.CertificateName;
                                    break;
                                }
                            case "TEXT":
                                {
                                    desc = reward.Text;
                                    break;
                                }
                            default:
                                {
                                    if ( reward.Amount > 0 )
                                    {
                                        if ( reward.IsCash )
                                        { // //reward.RewardType.Trim( ) == "HCASH"
                                            desc = reward.Amount.ToString( "C0", healthCashCulture ) + " " + reward.RewardTriggerName;
                                            break;
                                        }
                                        desc = reward.Amount.ToString( "N0", healthCashCulture ) + " " + reward.RewardTypeDescription + " " + reward.RewardTriggerName;
                                        break;
                                    }
                                    desc = reward.RewardTypeDescription;
                                    break;
                                }
                        }
                        <li><h4 class="lightGrey">@desc</h4></li>
                    }
                </ul>
            </div>
            }
    }
    else
    {
        if ( Model.ShowNoTasksInProgressContent )
        {
            <div id="ShowNoTasksInProgressContent">
                @try
                {
                    @Html.Action( "ContentAreaChildAction", "Social", new { contentAreaId = "bf4361e8-09fc-4832-9b2b-b49bc03516eb" } )
                }
                catch
                {@Html.Action( "LandingPageSectionError" ) }
            </div>
            <div class="spendHC green piggy spendHC piggyCell">
                @if ( totalAvailableToSpend > 0 && Model.AllowSpendHealthCash )
                {
                    <img src="@Url.Content( "~/Content/Images/piggy-bank.png" )" class="piggyImage" alt="total available"/>
                    <h3 id="totHCContent" class="green piggyTotalHealthCash">
                        <span class="content @LandingPageContent.TotalAvailableToSpend"></span> 
                        <br/>
                        @totalAvailableToSpend.ToString( "C0", healthCashCulture )
                    </h3>
                    <a href="/secure/rewards/redeem.aspx" class="content @LandingPageContent.SpendYourHealthCash piggySpendHCLink"></a>
                }
            </div>
        }
        else if ( Model.ShowNoTasksToCompleteContent )
        {
            <div id="ShowNoTasksToCompleteContent">
                @try
                {
                    @Html.Action( "ContentAreaChildAction", "Social", new { contentAreaId = "5102abf1-bc33-4b81-8915-8326da7e0807" } )
                }
                catch
                {@Html.Action( "LandingPageSectionError" ) }
            </div> 
            <div class="green piggy spendHC piggyCell piggyFix">
                @if ( totalAvailableToSpend > 0 && Model.AllowSpendHealthCash )
                {
                    <img src="@Url.Content( "~/Content/Images/piggy-bank.png" )" class="piggyImage" alt="total available"/>
                    <h3 id="totHCContent" class="green piggyTotalHealthCash">
                        <span class="content @LandingPageContent.TotalAvailableToSpend"></span> 
                        <br/>
                        @totalAvailableToSpend.ToString( "C0", healthCashCulture )
                    </h3>
                    <a href="/secure/rewards/redeem.aspx" class="content @LandingPageContent.SpendYourHealthCash piggySpendHCLink"></a>
                }
            </div>
        }
        <script type="text/javascript">try { LoadContentLabels();} catch (e){} </script>
    }
</div>
