﻿@using Vhm.Web.Models.ViewModels.Member
@model Vhm.Web.Models.ViewModels.Member.PersonalChallengesCarouselVM

<div id="personal-challenge"> 
	<h1 class="red pull-left">My challenges:</h1>
	<p class="text-right more-link"><a href="/secure/challenge/MyPersonalChallenges.aspx">See all challenges</a></p>
	<div class="clearfix"></div>
	
	<div id="challenges-carousel" class="carousel slide" data-interval="false">
		@if (Model.Challenges.Count > 1)
		{
			<ol class="carousel-indicators">
				<li data-target="#challenges-carousel" data-slide-to="0" class="active"></li>
				@for ( int i = 1; i < Model.Challenges.Count; i++ )
				{
					<li data-target="#challenges-carousel" data-slide-to="@i"></li>
				}
			</ol>
		}

		<!-- Carousel items -->
		<div class="carousel-inner">
			@if (Model.Challenges.Count == 0)
			{
				<!-- No challenges placeholder -->
				<div class="active item">
					<p class="empty-message">
						You&rsquo;re not in any challenges yet.<br/>
						Get started by joining or creating your own!
					</p>
					<div class="text-center">
						<a class="btn btn-large" href="/challenge/select/">Create a challenge</a>
						<a class="btn btn-large btn-last" href="/challenge/join/">Join a challenge</a>
					</div>
				</div>
			}

			@foreach (var challenge in Model.Challenges)
			{
				<div class="@((Model.Challenges[0] == challenge) ? "active item" : "item")">
					<div class="row-fluid">
						<div class="span6">
							<form data-score-id="@challenge.ScoreID" data-challenge-id="@challenge.ChallengeID">
								<label>@challenge.Question</label>
								@if (challenge.AnswerType == PersonalChallengesCarouselVM.AnswerType.YesNo)
								{
									<button class="btn btn-bool" type="submit" value="1">Yes</button>
									<button class="btn btn-bool" type="submit" value="0">No</button>
									<input type="hidden" value="" />
								}
								else
								{
									<input type="number" value="@challenge.DefaultAnswer" min="@challenge.MinAnswer" max="@challenge.MaxAnswer" />
									<button class="btn" type="submit">Track it!</button>
								}
							</form>
							<div class="rewards" data-entry-value="@challenge.Rewards.Sum(r => r.Value)">
								<h3>Rewards:</h3>
								@foreach (var reward in challenge.Rewards)
								{
									<div>
										<img src="@reward.Url" title="@reward.Name" alt="@reward.Name" />
										@if (reward.Value != null)
										{
											<label class="reward">@reward.Value</label>
										}
									</div>
								}
							</div>
							<div><a class="btn btn-primary" href="/secure/challenge/rankings.aspx?challengeid=@challenge.ChallengeID">See full challenge</a></div>
						</div>
						<div class="span6">
							<h2>Leaderboard <span>@challenge.NumPlayers @((challenge.NumPlayers != 1) ? "players" : "player")</span></h2>
							<dl class="leaders">
								@foreach (var leader in challenge.Leaders)
								{
									<dt class="@(leader.IsLoggedInUser ? "active" : null)"><img src="@leader.ProfilePicUrl" width="50" height="50" /><span class="place">@leader.Rank@(leader.Rank == 1 ? "st" : leader.Rank == 2 ? "nd" : leader.Rank == 3 ? "rd" : "th")</span> @leader.MemberName</dt>
									<dd class="@(leader.IsLoggedInUser ? "active" : null)">@leader.ScoreSummary</dd>
								}
							</dl>
						</div>
					</div>
				</div>
			}
		</div>

		<!-- Carousel nav -->
		@if (Model.Challenges.Count > 1)
		{
			<a class="carousel-control left" href="#challenges-carousel" data-slide="prev">&lsaquo;</a>
			<a class="carousel-control right" href="#challenges-carousel" data-slide="next">&rsaquo;</a>
		}
	</div>
	
	@if (Model.Challenges.Count > 0)
	{
		<a class="btn btn-large" href="/challenge/create/">Create a challenge</a>
		<a class="btn btn-large btn-last" href="/challenge/join/">Join a challenge</a>
	}
		
	<div class="summary">
        <p>Earn entries into the monthly prize drawing. <a href="#challenges-how-it-works" data-toggle="modal">Check out</a> 
how to play and what prizes you could win!</p>
		<!-- <p>You&rsquo;ve earned <b class="num-entries">@Model.NumUserEntries</b> @(Model.NumUserEntries == 1 ? "entry" : "entries") to this quarter&rsquo;s drawings.  You could win the latest high tech and home gadgets, health monitoring devices or awesome gift cards!</p> -->
	</div>
 </div>

<script>
	// Initialize carousel
	var cc$ = $('#challenges-carousel');
	cc$.carousel();

	// Auto-cycle until mouse enter, then stop forever
	var interval = setInterval(function () {
		cc$.carousel('next');
	}, 5000);
	cc$.on('mouseenter', function () {
		clearInterval(interval);
		cc$.carousel('pause');
	});

	// Don't show a title above our title (it's redundant)
	$( '.RewardsGraphTitle' ).hide();

	// Hook "Track it!" buttons to track progress
	$('#challenges-carousel .item .btn').click(function (e) {
		e.preventDefault();
		var btn$ = $(this);

		// Copy button's value to hidden field
		if (btn$.hasClass('btn-bool')) {
			$('input', btn$.closest('form')).val(btn$.val());
		}
		if (!btn$.attr('data-orig-html')) {
			btn$.attr('data-orig-html', btn$.html());
		}
		btn$.html('<img alt="" src="/v2/Content/Images/Shared/spinner.gif" style="height:25px; width:25px;" /> ');
		btn$.closest('form').submit();
	});
	$('#challenges-carousel .item form').submit(function (e) {
		e.preventDefault();

		var form$ = $(this);
		var answer = $('input', form$).val();
		var min = $('input').attr('min');
		var max = $('input').attr('max');
		if (min != '' && answer < min) {
			alert("The value cannot be less than " + min + ".");
			return;
		} else if (max != '' && answer > max) {
			alert("The value cannot be greater than " + max + ".");
			return;
		}

		// Sync elements on UI page with entries added (though a pub/sub model would be better)
		// TODO:  Move this down into the "success" handler below -- it's not there now so we add entries even with mock data, which would otherwise fail
		var entriesToAdd = parseInt($('.rewards', form$.closest('.item')).attr('data-entry-value'));
		if (entriesToAdd > 0 && window.LapGraphModule && window.LapGraphModule.AddEntriesToLapGraph) {
			// Sync summary counter below carousel
			var numEntries$ = $('#personal-challenge .num-entries');
			numEntries$.html( parseInt( numEntries$.html() ) + entriesToAdd );

			// Sync laps graph
			window.LapGraphModule.AddEntriesToLapGraph(entriesToAdd);
		}

		// Save changes
		$('button', form$).attr('disabled', 'disabled');
		$.ajax({
			url: '/challenge/PersonalKag/SaveChallengeScore',
			data: {
				challengeScoreId: form$.attr('data-score-id'),
				challengeId: form$.attr('data-challenge-id'),
				scoreDate: "@DateTime.Today.ToShortDateString()",
				answer: answer,
				isMemberAnswer: 1
			},
			cache: false,
			success: function () {
				if (!(entriesToAdd > 0)) {
					alert("Thanks!  We got it.");
				}
			},
			error: function () {
				// TODO:  Uncomment this later (not for demo)
				// alert("Sorry, your answer could not be recorded at this time.  Please try again later.");
			}
		}).always(function () {
			$('button', form$).attr('disabled', null).each(function () {
				var origHtml = $(this).attr('data-orig-html');
				if (origHtml) {
					$(this).html(origHtml);
				}
			});
		});
	});
</script>
