﻿@using Vhm.Web.Models.ViewModels.Member
@model Vhm.Web.Models.ViewModels.Member.MemberVoucher
<h2 class="content @MemberVoucherContent.Title blue"></h2>
<p class="content @MemberVoucherContent.FirstMessage"></p>
<p class="VHMRedeemError" id="errorMessage"></p>
<p class="bold content @MemberVoucherContent.EnterVoucher"></p>
<div id="redeem-voucher-container">
    <input type="text" name="inpFirstRedeem" id="inpFirstRedeem" onkeydown="CheckRedeemField(event, this, 4, 1);" onkeyup="CheckRedeemField(event, this, 4, 1);" size="4"/>
    <label for='inpSecondRedeem'> - </label>
    <input type="text" name="inpSecondRedeem" value="" title='Voucher code' id='inpSecondRedeem' onkeydown="CheckRedeemField(event, this, 4, 2);" onkeyup="CheckRedeemField(event, this, 4, 2);" size="4"/>
    <label for='inpThirdRedeem'> - </label>
    <input type="text" name="inpThirdRedeem" value="" title='Voucher code' id='inpThirdRedeem' onkeydown="CheckRedeemField(event, this, 2, 3);" onkeyup="CheckRedeemField(event, this, 2, 3);" size="3"/>
</div>
<div class="clearfix"></div>
<div class="voucherButtonContainer">
    <input type="hidden" id="hdnVoucherErrorMessage" class="content @MemberVoucherContent.ErrorMessageNotEnoughCharacters" value=""/> 
    <input type="button" class="btn button-save yellow-button" value="Submit" id="btnSubmitVoucher" onclick="javascript:redeemVoucher('hdnVoucherErrorMessage', this);" />
    <input type="button" class="btn button-cancel grey-button" value="Cancel" id="btnCancelVoucher" onclick="javascript:OpenCloseRedeem(false);"/>
</div>
<p>
    <span class="bold content @MemberVoucherContent.WhatsVoucher"></span>
</p>
<p class="content @MemberVoucherContent.VoucherInfo"></p>
<p class="content @MemberVoucherContent.NoSpecialOffers"></p>