﻿@using Vhm.Web.Models.ViewModels.Member
@using VirginLifecare.Utils
@model Vhm.Web.Models.ViewModels.Member.GameDisplayGraphVM
@{
    int milestoneCount = Model.CurrentGame == null ? 0 : Model.CurrentGame.Milestones.Count;
    int currentGameNumber = 1;
    var progressPercenatge = Model.RelativeProgressPercentage;
    var totalAvailableToSpend = Model.AvailableRewards.Amount.GetValueOrDefault();
    var healthCashCulture = Model.SponsorCultureFormat;
    Model.AllowSpendHealthCash = true;
} 
<div class="tasksContainer">
    @if (!Model.ShowNoTasksInProgressContent && !Model.ShowNoTasksToCompleteContent) {
        if (Model.CurrentGame.Milestones.Count > 0) {
            // use the endDateMargins to make sure we align the end date with the end of the progress bar
            var endDateMargins = (Model.CurrentGame.Milestones.Count > 1) ? 15 * Model.CurrentGame.Milestones.Count : 0;
            
            <div style="overflow: auto; padding-bottom: 10px;">
                <!--Milestone Name -->
                <h2 style="width: 300px;">@Model.CurrentGame.Milestones.Single(m => m.IsCurrentMilestone == true).Name</h2>   
                <!--Milestone reward --> 
                <h4 class="red italic">
                    @if (Model.MilestoneRewardDisplay.Amount > 0) {
                        <label>@(Model.MilestoneRewardDisplay.IsCash ? Model.MilestoneRewardDisplay.Amount.ToString("C0") : Model.MilestoneRewardDisplay.Amount.ToString("N0") + " " + Model.MilestoneRewardDisplay.RewardTypeDescription)</label>
                    } else {
                        <label>@Model.MilestoneRewardDisplay.RewardTypeDescription</label>
                    }
                    
                </h4> 
                              
            </div> 
            
            <div id="tasksGraph"  style="width: 300px;">
                <!--PROGRAM INFO-->    
                <div class="currentScoreContainer"  style="width: 255px;">
                    <div style="overflow: auto; padding-bottom: 5px;">Current Score</div>
                    <div class="sectionTitle" style="padding-left: @(progressPercenatge)%;">
                        <label class="currentScore" >@Model.CurrentProgress&nbsp;<img alt="HealthMiles" src="/v2/Content/Images/Shared/hm_11.gif" class="iconHM" /></label>
                    </div>
                </div>
                @{ currentGameNumber = 1; }  
                <div class="task">
                    @for (var i = 0; i < milestoneCount; i++) {
                        var rewardText = "";
                        var milestone = Model.CurrentGame.Milestones[i];
                        var taskPercentage = (100 / milestoneCount);
                        var reward = milestone.Rewards.FirstOrDefault(m => m.RewardType != "BADGE");
                        if (reward != null) {
                            switch (reward.RewardType.Trim()) {
                                case "CERT":
                                    rewardText = reward.CertificateName;
                                    break;
                                case "TEXT":
                                    rewardText = reward.Text;
                                    break;
                                default:
                                    rewardText = reward.IsCash ? reward.Amount.ToString("C0") : reward.Amount.ToString("N0");
                                    break;
                            }
                        }                            
                        <div class="@("task" + currentGameNumber.ToString() + " milestone" + (i + 1).ToString())" 
                            style="width: @(taskPercentage)%; height:30px; z-index: @(milestoneCount - i + 1)"
                            onmouseover=" javascript:ShowProgressBarInfo(@Model.CurrentProgress, @milestone.Value, '@rewardText','prgBubbleInfo', this, '@Model.ImageCDN');" 
                            onmouseout="javascript:HideProgressBarInfo();">
                                                  
                            @if (milestoneCount > 1) {
                                if (i < milestoneCount - 1) {
                                    if (milestone.IsCurrentMilestone) {
                                        <div class="currentGoalContainer" style="">                                
                                            <div class="currentGoal">
                                                <span class="content @LandingPageContent.TaskNewGoal"></span><br /><span>@milestone.Value</span>
                                            </div>                                
                                        </div>
                                    } else {
                                        <div class="nextGoalContainer">                                
                                            <div class="currentGoal">
                                                <span class="content @LandingPageContent.TaskNextGoal"></span><br /><span>@milestone.Value</span>
                                            </div>                                
                                        </div>
                                    }
                                } else {
                                     <div class="lastTask">@milestone.Value</div>
                                }
                            } else {
                                <div class="lastTask">@milestone.Value</div>
                            }  
                            <div class="taskBackground" style="width: 100%;"> </div>
                            @if (milestone.RelativeProgress == 100 || milestone.IsCurrentMilestone) {
                                if(milestoneCount==1)
                                {
                                    <div class="task progress" style="width: @(milestone.RelativeProgress)%;padding-left:0px"></div>
                                    
                                }
                                else
                                {
                                    <div class="task progress" style="width: @(milestone.RelativeProgress)%;"></div>
                                }
                                
                            }
                           
                        </div>                                                   
                    }
                    
                </div>
                <!--PROGRAM DATES-->
                <div class="programInfo">
                    <label id="programStart" style="float: left;">@CustomFormat.ShortMonthDay(Model.CurrentGame.StartDate, Model.SponsorCultureFormat)</label>
                    <label id="programEnd" style="float: right;margin-right: @(endDateMargins)px;">@(Model.CurrentGame.EndDate.HasValue ? CustomFormat.ShortMonthDay(Model.CurrentGame.EndDate.Value, Model.SponsorCultureFormat) : string.Empty)</label>      
                </div>
            </div>
            <div class="green piggyCellProgressBar">
            @if (totalAvailableToSpend > 0 && Model.AllowSpendHealthCash)
            {
                <img src="@Url.Content("~/Content/Images/piggy-bank.png")" class="piggyImage" alt="total available"/>
                <h3 id="totHCContent" class="green piggyTotalHealthCash">
                    <span class="content @LandingPageContent.TotalAvailableToSpend"></span> 
                    <br/>
                    @totalAvailableToSpend.ToString("C0", healthCashCulture)
                </h3>  
                <a href="/secure/rewards/redeem.aspx" class="content @LandingPageContent.SpendYourHealthCash piggySpendHCLink"></a>
            }
            </div>
        }
    }
    else
    {
        if (Model.ShowNoTasksInProgressContent)
        {
            <div id="ShowNoTasksInProgressContent">
                @try
                {
                    @Html.Action("ContentArea", "Social", new { contentAreaId = "bf4361e8-09fc-4832-9b2b-b49bc03516eb" })
                }
                catch
                {@Html.Action("LandingPageSectionError")}
            </div>
            <div class="green piggy spendHC piggyCellProgressBar">
                @if (totalAvailableToSpend > 0 && Model.AllowSpendHealthCash)
                {
                    <img src="@Url.Content("~/Content/Images/piggy-bank.png")" class="piggyImage" alt="total available"/>
                    <h3 id="totHCContent" class="green piggyTotalHealthCash">
                        <span class="content @LandingPageContent.TotalAvailableToSpend"></span> 
                        <br/>
                        @totalAvailableToSpend.ToString("C0", healthCashCulture)
                    </h3>
                    <a href="/secure/rewards/redeem.aspx" class="content @LandingPageContent.SpendYourHealthCash piggySpendHCLink"></a>
                }
            </div>
        }
        else if (Model.ShowNoTasksToCompleteContent)
        {
            <div id="ShowNoTasksToCompleteContent">
                @try
                {
                    @Html.Action("ContentArea", "Social", new { contentAreaId = "5102abf1-bc33-4b81-8915-8326da7e0807" })
                }
                catch
                {@Html.Action("LandingPageSectionError")}
            </div> 
            <div class="green piggy spendHC piggyCellProgressBar">
                @if (totalAvailableToSpend > 0 && Model.AllowSpendHealthCash)
                {
                    <img src="@Url.Content("~/Content/Images/piggy-bank.png")" class="piggyImage" alt="total available"/>
                    <h3 id="totHCContent" class="green piggyTotalHealthCash">
                        <span class="content @LandingPageContent.TotalAvailableToSpend"></span> 
                        <br/>
                        @totalAvailableToSpend.ToString("C0", healthCashCulture)
                    </h3>
                    <a href="/secure/rewards/redeem.aspx" class="content @LandingPageContent.SpendYourHealthCash piggySpendHCLink"></a>
                }
            </div>
        }
        <script type="text/javascript"> try { LoadContentLabels(); } catch (e) { } </script>
    }    
</div>     

<div class="hover UpForGrabInfo" id="prgBubbleInfo"></div>         
