﻿@using Vhm.Web.Common
@model Vhm.Web.Models.ViewModels.Member.UpForGrabsVM

<ul id="upForGrabsList">
    @{
        var baseMarginLeft = 30;
        var baseMarginTop = 0;
        var cash = string.Empty;                   
    }
    @foreach (var task in Model.Rewards)
    {
        int baseZIndex = 100;
        var url = task.UFGTaskRewardURL;
        if (string.IsNullOrEmpty(task.UFGTaskRewardURL))
        {
            url = "#" + task.UFGTaskName;
        }
        else
        {
            if (task.UFGTaskRewardURL.IndexOf("selfmeasurements.aspx", System.StringComparison.Ordinal) >= 0)
            {
                url = ApplicationSettings.BaseURL + "/secure/member/biomeasurements.aspx?showEntry=1";
            }
        }
        <li class="reward">
           
          
                @*<div class="rewardListContainer" onmouseover="javascript:ShowUpForGrabInfo(@Html.Raw(Json.Encode(task)) ,this,'@Model.RewardTypeImageUrl ', '@Model.ImageCDN ', '@Model.BadgeImageUrl');" onmouseout="javascript:HideUpForGrabInfo();"></div>
            <div class="rewardListContainer">
                @foreach (var reward in task.Rewards)
                {
                    baseZIndex--;
                    cash = reward.IsCash ? "cash" : string.Empty;
                    if (reward.BadgeId != null && reward.BadgeId > 0)
                    {
                        <a href="@url">
                        <img alt="badge" class="ufgReward" style="z-index: @baseZIndex; margin-left: @(baseMarginLeft + (task.Rewards.IndexOf(reward) * 10))px; margin-top: @(baseMarginTop - (task.Rewards.IndexOf(reward) * 10))px; width:50px; height:50px;" src="@(string.Concat(Model.BadgeImageUrl, reward.RewardImage, ".png"))" />
                        </a>
                    }
                    else
                    {
                        <a href="@url" style="width:50px; height:50px;">
                        <img alt="reward" class="ufgReward" style="z-index: @baseZIndex; margin-left: @(baseMarginLeft + (task.Rewards.IndexOf(reward) * 10))px; margin-top: @(baseMarginTop - (task.Rewards.IndexOf(reward) * 10))px;" src="@(string.Concat(Model.RewardTypeImageUrl, reward.RewardImage, "_on.gif"))" /> 
                        
                        @if (task.Rewards.IndexOf(reward) == 0 && reward.Amount > 0)
                        {
                        <label style="z-index: @(baseZIndex + 1); margin-left: @(baseMarginLeft + (task.Rewards.IndexOf(reward) * 10))px; margin-top: @((reward.IsCash ? 5 : 0) + baseMarginTop - (task.Rewards.IndexOf(reward) * 10))px;" class="@cash">@(reward.IsCash ? reward.Amount.ToString("C0", Model.CurrencyCulture) : reward.Amount.ToString())</label>
                        }
                        </a>
                    }
                }
            </div>*@
           
            <div class="rewardListContainer" onmouseover="javascript:ShowUpForGrabInfo(@Html.Raw(Json.Encode(task)) ,this,'@Model.RewardTypeImageUrl', '@Model.ImageCDN', '@Model.BadgeImageUrl');" onmouseout="javascript:HideUpForGrabInfo();">
                @foreach (var reward in task.Rewards)
                {
                    baseZIndex--;
                    cash = reward.IsCash ? "cash" : string.Empty;
                    if (reward.BadgeId != null && reward.BadgeId > 0)
                    {
                        <a href="@url">
                        <img alt="badge" class="ufgReward" style="z-index: @baseZIndex; margin-left: @(baseMarginLeft + (task.Rewards.IndexOf(reward) * 10))px; margin-top: @(baseMarginTop - (task.Rewards.IndexOf(reward) * 10))px; width:50px; height:50px;" src="@(string.Concat(Model.BadgeImageUrl, reward.RewardImage, ".png"))" />
                        </a>
                    }
                    else
                    {
                        <a href="@url" style="width:50px; height:50px;">
                        <img alt="reward" class="ufgReward" style="z-index: @baseZIndex; margin-left: @(baseMarginLeft + (task.Rewards.IndexOf(reward) * 10))px; margin-top: @(baseMarginTop - (task.Rewards.IndexOf(reward) * 10))px;" src="@(string.Concat(Model.RewardTypeImageUrl, reward.RewardImage, "_on.gif"))" /> 
                        
                        @if (task.Rewards.IndexOf(reward) == 0 && reward.Amount > 0)
                        {
                        <label style="z-index: @(baseZIndex + 1); margin-left: @(baseMarginLeft + (task.Rewards.IndexOf(reward) * 10))px; margin-top: @((reward.IsCash ? 5 : 0) + baseMarginTop - (task.Rewards.IndexOf(reward) * 10))px;" class="@cash">@(reward.IsCash ? reward.Amount.ToString("C0", Model.CurrencyCulture) : reward.Amount.ToString())</label>
                        }
                        </a>
                    }
                }
            </div>
            
           
        
            @if (string.IsNullOrEmpty(task.UFGTaskRewardURL))
            {
                <div class="grey" style=" font-size:14px; text-align: center;">@task.UFGTaskName</div> 
            }
            else
            {               
                <a class="secondary blueLink" href="@url">@task.UFGTaskName</a>
            }
        </li>    
    }
</ul>