﻿@using Vhm.Web.Models.ViewModels.Shared
@model Vhm.Web.Models.ViewModels.Member.WelcomeJourneyStepThree
<div id="WJStepThree">
    <style type="text/css">
        ul.horizontalul, .horizontalul ul
        {
            white-space: nowrap;
            text-align: left;
        }
        ul.horizontalul li
        {
            list-style-type: none;
            display: inline;
        }
        .stage_number{margin-left:0px;padding-left:0px;}
        .stage_number li{margin-left:0px;margin-right:10px;}
        .imgStep { width: 33px;height: 33px;border: 0;}
        .stepSubtitle {clear:both;padding-top:8px;margin-top:0px; color:#c40000;}
        div#us_unitset div{margin-top:5px;}
    </style>
    <ul class="horizontalul stage_number">
        @for (int i = Model.WJSeed; i <= Model.WJMaxNumber; i += Model.WJStep)
        {
            <li>
                @if( i == Model.WJCurrentStep )
                {
                    <img src="/images/Challenges/@("step_" + Model.WJCurrentStep + "_on.gif")" alt="Model.WJCurrentStep" class="imgStep"/>
                } 
                else if( i < Model.WJCurrentStep){
                    <img src="/images/Challenges/@("step_" + i + "_done.gif")" alt="Model.WJCurrentStep" class="imgStep"/>
                } else {
                    <img src="/images/Challenges/@("step_" + i + "_off.gif")" alt="Model.WJCurrentStep" class="imgStep" />
                }
            </li>
        }
    </ul>
    <br/>
    @if (Model.CommunityType == "OPN")
    {
        <p data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepThree.VariantA">@*@Html.Action("ContentAreaChildAction", "Social", new { contentAreaId = "d99e09fe-d30b-4fb3-b4f9-7b6691a3eca2" })*@</p>
    }
    else 
    if (Model.CommunityType == "PRI")
    {
        <p data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepThree.VariantB">@*@Html.Action("ContentAreaChildAction", "Social", new { contentAreaId = "4b765105-9fe5-42de-9016-e6b57aab5555" })*@</p>
    }
    else //if closed
    {
       <p data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepThree.VariantC">@*@Html.Action("ContentAreaChildAction", "Social", new { contentAreaId = "eb0568d5-fe77-4fd8-a963-6b23490276b1" })*@</p>
    }
    @if (Model.WJCurrentStep == Model.WJMaxNumber)
    {
        <div>
            <input type="button" id="btnNext" class="vbtn_red_a_md" style="margin-top:10px; margin-left:290px;" onclick="javascript:finishWelcomeJourney(@Model.WJCurrentStep);"/>
        </div>
    }
    else
    {
        <div class="popupButtonContainer">
            <a class="popupLeftButton" href="@Url.Content("~/../logout.aspx")" style="font-weight: bold;" data-i18n="[html]WolverineLandingPage.WelcomeJourney.LogOut">LogOut</a>
            <input type="button" id="btnNext_Step3" class="popupRightButton clearfix vbtn_red_a_md"  onclick="javascript:saveWjStepThree(@Model.WJMaxNumber);"/>
        </div>
    }
</div>
<script>
    $( document ).ready(function() {
        $("#WJStepThree").i18n();
        $( '#btnNext_Step3' )[0].value = i18n.t( "WolverineLandingPage.WelcomeJourney.Next", { defaultValue: "Next" } );
    });
</script>
