﻿@using Vhm.Web.Models.ViewModels.Member
@using Vhm.Web.Models.ViewModels.Shared
@model Vhm.Web.Models.ViewModels.Member.WelcomeJourneyStepFour
<div id="WJStepFour">
    <style type="text/css">
        ul.horizontalul, .horizontalul ul
        {
            white-space: nowrap;
            text-align: left;
        }
        ul.horizontalul li
        {
            list-style-type: none;
            display: inline;
        }
        .stage_number{margin-left:0px;padding-left:0px;}
        .stage_number li{margin-left:0px;margin-right:10px;}
        .imgStep { width: 33px;height: 33px;border: 0;}
        .stepSubtitle {clear:both;padding-top:8px;margin-top:0px; color:#c40000;}
        .rdoPrivSett {list-style:none;float: left; padding:0px;width:100%; margin: 0px; }
        .rdoPrivSett li { list-style-image: none; float:left; vertical-align: bottom; margin:0px; width:33%;}

        .rdoSearchab {list-style:none; display: inline-block; width:60%; margin:0px !important; padding:0px;}
        .rdoSearchab li { list-style-image: none; display: inline; vertical-align: bottom;  width:20%;}
        .spanSearchab {float:left; width:30%;}
        .spanRdoBtns {display: inline-block; width:32% !important;text-decoration:underline;}
        .spanNF_RdoBtns {display: inline-block; width:70px !important; text-decoration:underline; }
        .myProfileTable {width:100%; background-color: #fff; padding:10px; border-top: 0; color:#474747; text-align:left; vertical-align:top; table-layout:fixed;}
        .spanWhite{color:#ffffff;}
        .listItem1 {width:32% !important;display: inline-block;}
    </style>
    <ul class="horizontalul stage_number">
        @for (int i = Model.WJSeed; i <= Model.WJMaxNumber; i += Model.WJStep)
        {
            <li>
                @if( i == Model.WJCurrentStep )
                {
                    <img src="/images/Challenges/@("step_" + Model.WJCurrentStep + "_on.gif")" alt="Model.WJCurrentStep" class="imgStep"/>
                } 
                else if( i < Model.WJCurrentStep){
                    <img src="/images/Challenges/@("step_" + i + "_done.gif")" alt="Model.WJCurrentStep" class="imgStep"/>
                } else {
                    <img src="/images/Challenges/@("step_" + i + "_off.gif")" alt="Model.WJCurrentStep" class="imgStep" />
                }
            </li>
        }
    </ul>
    <br/>
    <h3 class="stepSubtitle" data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.EditPrivacySettings">Edit Privacy Settings</h3>
    <br />
    <div><p data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.FirstMessage">Choose what profile information you would like others to see. Select &#34;Public&#34; if you want everyone to be able to see it, &#34;Private&#34; if you want only your Friends to see it, and &#34;Do not show&#34; if you don’t want anyone to see it.</p></div>
    <br />
@using (Html.BeginForm(null, null, FormMethod.Get, new { name = "frm", id = "frm" }))
{
    <div style="padding: 10px 0 10px 0; overflow: hidden; width: 100%;">
        <div class="spanSearchab" style="clear: both; padding-top: 8px; margin-top: 0px; font-size:11px;"><span data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.ProfileSearchability">Profile Searchability</span></div>
        @Html.RadioButtonFor( model => model.MemberProfile.Privacy, "False", new { id = "rdoSetPrivacy_Yes" } )<span data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.Yes">Yes</span>
        @Html.RadioButtonFor( model => model.MemberProfile.Privacy, "True", new { id = "rdoSetPrivacy_no" } )<span data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.No">No</span>
    </div>
    <table class="myProfileTable">
        <tr>
            <td style="width: 45%;">&nbsp;</td>
            <td><span class="spanRdoBtns" data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.Public">Public</span>
                <span class="spanRdoBtns" data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.Private">Private</span>
                <span class="spanRdoBtns" data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.DoNotShow">Do Not Show</span>
            </td>
        </tr>
        <tr>
            <td style="margin-top: 5px;"><span data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.ShowGender">Show Gender</span></td>
            <td style="margin-top: 5px;">
                <div class="listItem1">@Html.RadioButtonFor( model => model.MemberProfile.Member.ShowGender, "1", new { id = "rdoSGender_Public" } ) <span class="spanWhite" data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.Public">Public</span></div>
                <div class="listItem1">@Html.RadioButtonFor( model => model.MemberProfile.Member.ShowGender, "0", new { id = "rdoSGender_Private" } ) <span class="spanWhite" data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.Private">Private</span></div>
                <div class="listItem1">@Html.RadioButtonFor( model => model.MemberProfile.Member.ShowGender, "-1", new { id = "rdoSGender_DoNotShow" } )<span class="spanWhite"data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.DoNotShow">Do Not Show</span></div> 
            </td>
        </tr>
        <tr>
            <td><span data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.ShowAge">Show Age</span></td>
            <td>
                <div class="listItem1">@Html.RadioButtonFor( model => model.MemberProfile.Member.ShowAge, "1", new { id = "rdoSAge_Public" } ) <span class="spanWhite" data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.Public">Public</span></div>
                <div class="listItem1">@Html.RadioButtonFor( model => model.MemberProfile.Member.ShowAge, "0", new { id = "rdoSAge_Private" } ) <span class="spanWhite" data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.Private">Private</span></div>
                <div class="listItem1">@Html.RadioButtonFor( model => model.MemberProfile.Member.ShowAge, "-1", new { id = "rdoSAge_DoNotShow" } ) <span class="spanWhite" data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.DoNotShow">Do Not Show</span></div> 
            </td>
        </tr>
        <tr>
            <td><span data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.ShowTotalSteps">Show total steps</span></td>
            <td>
                <div class="listItem1">@Html.RadioButtonFor( model => model.MemberProfile.Member.ShowTotalSteps, "1", new { id = "rdoSTotSteps_Public" } ) <span class="spanWhite" data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.Public">Public</span></div>
                <div class="listItem1">@Html.RadioButtonFor( model => model.MemberProfile.Member.ShowTotalSteps, "0", new { id = "rdoSTotSteps_Private" } ) <span class="spanWhite" data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.Private">Private</span></div>
                <div class="listItem1"> @Html.RadioButtonFor( model => model.MemberProfile.Member.ShowTotalSteps, "-1", new { id = "rdoSTotSteps_DoNotShow" } ) <span class="spanWhite" data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.DoNotShow">Do Not Show</span></div>
            </td>
        </tr>
        <tr>
            <td><span data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.ShowAverageStepsPerDay">Show average steps per day</span></td>
            <td>
                <div class="listItem1">@Html.RadioButtonFor( model => model.MemberProfile.Member.ShowStepsAvg, "1", new { id = "rdoSAvrgSteps_Public" } ) <span class="spanWhite" data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.Public">Public</span></div>
                <div class="listItem1">@Html.RadioButtonFor( model => model.MemberProfile.Member.ShowStepsAvg, "0", new { id = "rdoSAvrgSteps_Private" } ) <span class="spanWhite" data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.Private">Private</span></div>
                <div class="listItem1">@Html.RadioButtonFor( model => model.MemberProfile.Member.ShowStepsAvg, "-1", new { id = "rdoSAvrgSteps_DoNotShow" } ) <span class="spanWhite" data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.DoNotShow">Do Not Show</span></div>
            </td>
        </tr>
        <tr>
            <td><span data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.ShowLastGoZoneUploadDate">Show last device upload date</span></td>
            <td>
                <div class="listItem1">@Html.RadioButtonFor( model => model.MemberProfile.Member.ShowLastGZUpload, "1", new { id = "rdoSGZUpload_Public" } ) <span class="spanWhite" data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.Public">Public</span></div>
                <div class="listItem1">@Html.RadioButtonFor( model => model.MemberProfile.Member.ShowLastGZUpload, "0", new { id = "rdoSGZUpload_Private" } ) <span class="spanWhite" data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.Private">Private</span></div>
                <div class="listItem1">@Html.RadioButtonFor( model => model.MemberProfile.Member.ShowLastGZUpload, "-1", new { id = "rdoSGZUpload_DoNotShow" } ) <span class="spanWhite" data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.DoNotShow">Do Not Show</span></div>
            </td>
        </tr>
        <tr>
            <td><span data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.ShowChallenges">Show Challenges</span></td>
            <td>
                <div class="listItem1">@Html.RadioButtonFor( model => model.MemberProfile.Member.ShowChallengeHistory, "1", new { id = "rdoSChall_Public" } ) <span class="spanWhite" data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.Public">Public</span></div>
                <div class="listItem1">@Html.RadioButtonFor( model => model.MemberProfile.Member.ShowChallengeHistory, "0", new { id = "rdoSChall_Private" } ) <span class="spanWhite" data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.Private">Private</span></div>
                <div class="listItem1">@Html.RadioButtonFor( model => model.MemberProfile.Member.ShowChallengeHistory, "-1", new { id = "rdoSChall_DoNotShow" } ) <span class="spanWhite" data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.DoNotShow">Do Not Show</span></div>
            </td>
        </tr>
    </table>
    <p data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFour.SecondMessage">But wait, there’s more! There’s more for you to do and share in your profile. When you’re finished here go to &#34;My Profile&#34; under My Account and fill in your personal profile with things like organization, interests and goals. Then set what you would like to share with friends the same way you did above. Completing and sharing your profile helps you connect with friends and build a healthy community.</p>
    if (Model.WJCurrentStep == Model.WJMaxNumber)
     {
         <div>
             <a href="@Url.Content( "~/../logout.aspx" )" style="font-weight: bold;" data-i18n="[html]WolverineLandingPage.WelcomeJourney.LogOut">LogOut</a>
             <input type="button" id="btnNext" value="Done" class="vbtn_red_a_md" style="margin-top: 10px; margin-left: 290px;" onclick="javascript:saveWjStepFour(@Model.WJMaxNumber, @Model.WJCurrentStep);"/>
         </div>
     } else
     {
         <div class="popupButtonContainer">
             <a class="popupLeftButton" href="@Url.Content( "~/../logout.aspx" )" style="font-weight: bold;" data-i18n="[html]WolverineLandingPage.WelcomeJourney.LogOut">LogOut</a>
             <input type="button" id="btnNext_Step4" value="Next" class="popupRightButton clearfix vbtn_red_a_md"  onclick="javascript:saveWjStepFour(@Model.WJMaxNumber, @Model.WJCurrentStep);"/>
         </div>
     }
}
</div >
<script>
    $( document ).ready(function() {
        $("#WJStepFour").i18n();
        $('#btnNext_Step4')[0].value = i18n.t("WolverineLandingPage.WelcomeJourney.Next", { defaultValue: "Next" });
    });
</script>