﻿
@using Vhm.Web.Models.ViewModels.Measurments
@using Vhm.Web.Models.ViewModels.Member
@using Vhm.Web.Models.ViewModels.Shared
@model Vhm.Web.Models.ViewModels.Member.WelcomeJourneyStepTwo

<div id="wjSteps" class="carousel slide">
    <div class="carousel-inner">
        <div id="expWJStep1" class="item active expWelcomeJourney" style="min-height: 80px;">
            <h3 class="gold" data-i18n="[html]WolverineLandingPage.WelcomeJourneyExpress.WelcomeTitle">WELCOME!</h3>
            <p data-i18n="[html]WolverineLandingPage.WelcomeJourneyExpress.Welcome">
                Welcome to Virgin Pulse Express, the program that helps you live better every day. Track what matters most like activity, nutrition,
                sleep, stress management, recycling – whatever’s most important to you. For a little extra motivation, challenge your friends
                and family to a little healthy competition. Each time you complete a self-tracking task or a challenge with others, you earn an entry
                into our monthly prize drawings.
            </p>
            <h3 class="pulseRed">
                <span data-i18n="[html]WolverineLandingPage.WelcomeJourneyExpress.GetStarted">Ready to play? Let’s get started. </span>
                <input type="button" id="wjNext" class="btn button-save yellow-button next" value="Next" data-i18n="[value]WolverineLandingPage.WelcomeJourneyExpress.Next" />
            </h3>
        </div>

        <div id="expWJStep2" class="item expWelcomeJourney">
            <p data-i18n="[html]WolverineLandingPage.WelcomeJourneyExpress.EnterHeightAndWeight">
                Enter your height and weight (we’ll give you a <span class="gold bold">prize drawing entry</span> for doing so!)
            </p>
            @if (Model.MeasurementSystem == "Imperial")
            {
                <div id="us_unitset" style="overflow:hidden;">
                    <div class="pull-left">
                        <h1 class="pulseBlue" data-i18n="[html]WolverineLandingPage.WelcomeJourneyExpress.Height">Height:</h1>
                        <input type="text" id="ddHtFtUS" name="ddHtFtUS" placeholder="feet" />
                        <input type="text" placeholder="inches" id="ddHtInUS" name="ddHtInUS" />
                    </div>
		            <div class="pull-left" style="margin-left: 50px;">
                        <h1 class="pulseBlue" data-i18n="[html]WolverineLandingPage.WelcomeJourneyExpress.Weight">Weight:</h1>
			            <input type="text" id="txtWtLbsUS" size="3" maxlength="3" placeholder="pounds"/>
                    </div>
                </div>
            }
            else if (Model.MeasurementSystem == "UK Imperial")
            {
                <div id="unit_imperial">
	                <table  style="padding:5px; border:0;">
		                <tr>
		                    <td style="padding-left:0px;padding-bottom:4px;width:60px;">
                                <h1 class="pulseBlue" data-i18n="[html]WolverineLandingPage.WelcomeJourneyExpress.Height">Height:</h1>
		                    </td>
			                <td>
				                <table>
					                <tr><td><select id="ddHtFtUK" name="ddHtFtUK">
								                <option></option>	
								                <option>4</option>	
								                <option>5</option>	
								                <option>6</option>	
								                <option>7</option>	
								                <option>8</option>	
							                </select>
						                </td>
                                        <td data-i18n="[html]WolverineLandingPage.WelcomeJourneyExpress.Feet">&nbsp;&nbsp;feet&nbsp;&nbsp;</td>
						                <td><select id="ddHtInUK" name="ddHtInUK">
								                <option></option>
								                <option>0</option>
								                <option>1</option>
								                <option>2</option>
								                <option>3</option>
								                <option>4</option>
								                <option>5</option>
								                <option>6</option>
								                <option>7</option>
								                <option>8</option>
								                <option>9</option>
								                <option>10</option>
								                <option>11</option>
							                </select></td>
                                        <td data-i18n="[html]WolverineLandingPage.WelcomeJourneyExpress.Inches">&nbsp;&nbsp;inches&nbsp;&nbsp;</td>
					                </tr>
				                </table>
			                </td>
		                </tr>
		                <tr><td style="padding-left:0px;padding-bottom:4px;">
                                <h1 class="pulseBlue" data-i18n="[html]WolverineLandingPage.WelcomeJourneyExpress.Weight">Weight:</h1>
		                    </td>
			                <td><table>
					                <tr><td><input type="text" id="txtWtStUK" size="2" maxlength="2" onkeypress="javascript:handleWtStUK();"/></td>
                                        <td data-i18n="[html]WolverineLandingPage.WelcomeJourneyExpress.Stones">&nbsp;&nbsp;@Model.ContentMeasurementLabels[MeasurementLabelsContent.Stone].ToLower()&nbsp;&nbsp;</td>
						                <td><input type="text" id="txtWtLbsUK" size="2" maxlength="2" onkeypress="javascript:handleLbsStUK();"/></td>
                                        <td data-i18n="[html]WolverineLandingPage.WelcomeJourneyExpress.Pounds">&nbsp;&nbsp;@Model.ContentMeasurementLabels[MeasurementLabelsContent.Lbs].ToLower()&nbsp;&nbsp;</td>
					                </tr>
				                </table>
			                </td>
		                </tr>
	                </table>
                </div>
            }
            else
            {
                <div id="unit_metric">
		            <table  style="padding:5px; border:0;">
			            <tr><td style="padding-left:0px;width:60px;">
                                <h1 class="pulseBlue" data-i18n="[html]WolverineLandingPage.WelcomeJourneyExpress.Height">Height:</h1>
			                </td>
				            <td><input type="text" id="txtHtCmUK" size="3" maxlength="3" onkeypress="javascript:handletxtHtCm('txtHtCmUK')" /></td>
                            <td data-i18n="[html]WolverineLandingPage.WelcomeJourneyExpress.Centimeters">&nbsp;&nbsp;cm&nbsp;&nbsp;</td>
			            </tr>
			            <tr><td>
                                <h1 class="pulseBlue" data-i18n="[html]WolverineLandingPage.WelcomeJourneyExpress.Weight">Weight:</h1> 
			                </td>
				            <td>
				                <input type="text" id="txtWtKgUK" size="3" maxlength="3" onkeypress="javascript:handletxtHtCm('txtWtKgUK')"/>
				            </td>
                            <td data-i18n="[html]WolverineLandingPage.WelcomeJourneyExpress.Kilograms">
                                &nbsp;&nbsp;kg&nbsp;&nbsp;
                            </td>
			            </tr>
		            </table>
	            </div>
            }
            <p class="subtext" data-i18n="[html]WolverineLandingPage.WelcomeJourneyExpress.HeightWeightInfoMessage">
                Your height and weight will allow us to accurately calculate the calories you burn from activities you do.  Rest assured,
                your individual data is protected by law and won’t be shared.
            </p>
            <p data-i18n="[html]WolverineLandingPage.WelcomeJourneyExpress.DoneInfo">
                Click submit now to earn your first prize-drawing entry and to get full access to your program. Also check out
                the <span class="gold">"What can you do next?"</span> section on the homepage to see other earning opportunities.
                Thanks, and have fun!
            </p>
            <input type="button" class="btn button-save yellow-button" onclick="javascript:return saveExpressWJ('@Model.MeasurementSystem', @Model.CultureId);" value="Submit Now" data-i18n="[value]WolverineLandingPage.WelcomeJourneyExpress.Submit" />
        </div>
    </div>
 </div>