﻿
@using Vhm.Web.Models.ViewModels.Measurments
@using Vhm.Web.Models.ViewModels.Member
@using Vhm.Web.Models.ViewModels.Shared
@model Vhm.Web.Models.ViewModels.Member.WelcomeJourneyStepTwo

<div id="divWelcomeJourneyV3" class="modal hide fade">
    <input type="hidden" id="measurementsType" value="@Model.MeasurementSystem" />
    <input type="hidden"id="cultureId" value="@Model.CultureId" />
        <div id="wj-step1">
            <div class="wj-form-wrapper">
                <h2 class="blue wj-title" data-i18n="WolverineLandingPage.GlobalMessages.Welcome">
                    Welcome</h2>
                <p class="content" data-i18n="WolverineLandingPage.GlobalMessages.YouAreMinutesAway">
                    You’re only minutes away from getting started in the program.
                </p>
                <p class="content" data-i18n="WolverineLandingPage.GlobalMessages.EnterHeightAndWeight">
                    First, a little data. Please give us your height & weight – we need it to calculate
                    your BMI and the calories you burn when you’re active.
                </p>
                @if ( Model.MeasurementSystem == "Imperial" )
                {
                    <p class="content">
                        <h2 class="gold wj-label" data-i18n="WolverineLandingPage.GlobalLabels.Height">
                            Height:</h2>
                        <input type="text" class="bootstrap-input wj-input height-field-feet" placeholder="feet" data-i18n="[placeholder]WolverineLandingPage.WelcomeJourneyExpress.Feet" />&nbsp;&nbsp;
                        <input type="text" class="bootstrap-input wj-input height-field-inches" placeholder="inches" data-i18n="[placeholder]WolverineLandingPage.WelcomeJourneyExpress.Inches"/>
                    </p>
                    <p class="content">
                        <h2 class="gold wj-label" data-i18n="WolverineLandingPage.GlobalLabels.Weight">
                            Weight:</h2>
                        <input type="text" class="bootstrap-input wj-input weight-field" data-i18n="[placeholder]WolverineLandingPage.WelcomeJourneyExpress.Pounds" placeholder="pounds"/><br/>
                        <span class="info-text" data-i18n="WolverineLandingPage.GlobalMessages.ThisIsPrivate">(don't worry, this is private)</span>
                    </p>
                }
                else if ( Model.MeasurementSystem == "UK Imperial" )
                {
                    <p class="content">
                        <h2 class="gold wj-label" data-i18n="WolverineLandingPage.GlobalLabels.Height">
                            Height:</h2>
                        <input type="text" class="bootstrap-input wj-input height-field-feet" placeholder="feet" data-i18n="[placeholder]WolverineLandingPage.WelcomeJourneyExpress.Feet" />&nbsp;&nbsp;
                        <input type="text" class="bootstrap-input wj-input height-field-inches" placeholder="inches" data-i18n="[placeholder]WolverineLandingPage.WelcomeJourneyExpress.Inches"/>
                    </p>
                    <p class="content">
                        <h2 class="gold wj-label" data-i18n="WolverineLandingPage.GlobalLabels.Weight">
                            Weight:</h2>
                        <input type="text" class="bootstrap-input wj-input weight-field" placeholder="pounds" data-i18n="[placeholder]WolverineLandingPage.WelcomeJourneyExpress.Pounds"/><br/>
                        <span class="info-text" data-i18n="WolverineLandingPage.GlobalMessages.ThisIsPrivate">(don't worry, this is private)</span>
                    </p>
                } else
                {
                    <p class="content">
                        <h2 class="gold wj-label" data-i18n="WolverineLandingPage.GlobalLabels.Height">
                            Height:</h2>
                        <input type="text" class="bootstrap-input wj-input height-field-feet" placeholder="cm" value="cm" onfocus=" this.value = '' "  />
                    </p>
                    <p class="content">
                        <h2 class="gold wj-label" data-i18n="WolverineLandingPage.GlobalLabels.Weight">
                            Weight:</h2>
                        <input type="text" class="bootstrap-input wj-input weight-field" placeholder="kg" value="kg" onfocus=" this.value = '' "   /><br/>
                        <span class="info-text" data-i18n="WolverineLandingPage.GlobalMessages.ThisIsPrivate">(don't worry, this is private)</span>
                    </p>
                }

                <p class="content">
                    <input type="button" class="btn button-save yellow-button" id="wj-step1-next" data-i18n="[value]WolverineLandingPage.GlobalLabels.Next" value="Next" />
                </p>
            </div>
        </div>
        <div id="wj-step2" style="display:none;">
            <div class="wj-form-wrapper">
                <h2 class="blue wj-title" data-i18n="WolverineLandingPage.GlobalLabels.Thanks">
                    Thanks!</h2>
                <p class="content" data-i18n="WolverineLandingPage.GlobalMessages.WJStep2">
                    There are lots of ways to participate and earn HealthMiles points all throughout the year. Stay active, track your progress, challenge yourself (and others) to all kinds of healthy things, get social, take your measurements... the more you do, the more points you earn, the more rewards you get. 
                </p>
                <p class="content">
                    <input type="button" class="btn button-save yellow-button" id="wj-step2-next"  data-i18n="[value]WolverineLandingPage.GlobalLabels.Next" value="Next" />
                </p>
            </div>
        </div>
        <div id="wj-step3" style="display:none;">
            <div class="wj-form-wrapper">
                <h2 class="blue wj-title" data-i18n="WolverineLandingPage.GlobalMessages.OneLastThing">
                    One last thing...</h2>
                <p class="content" data-i18n="WolverineLandingPage.GlobalMessages.WJStep3">
                    Like you, we take privacy very seriously. Only you get to decide what profile information you want to share with others. Edit your privacy settings now, or explore the site and do it later. (Look for the “Privacy” page in the My Account section.)  While you’re there, update your profile with more fun info about you, and edit other display settings, too.                     You’re all set. Now go have fun!
                </p>
               
                <p class="content">
                    <input type="button" class="btn button-save yellow-button" id="wj-step3-next"  data-i18n="[value]WolverineLandingPage.GlobalMessages.TakeMeToMyHomepage" value="Take me to my homepage!" />
                    <input type="button" class="btn button-save yellow-button" id="wj-hs" style="margin-top:15px" onclick="" data-i18n="[value]WolverineLandingPage.GlobalMessages.LetsTakeMyHealthSnapshot" value="Let's take my Health snapshot" />
                </p> 
                <p class="content">
                    <a id="setPrivacy" href="/Secure/Member/MemberDetails.aspx?open=profile" data-i18n="WolverineLandingPage.GlobalMessages.EditYourPrivacySettings" >Edit your privacy settings</a>
                </p>

            </div>
        </div>
    </div>