﻿@using Vhm.Web.Models.ViewModels.Member
@using Vhm.Web.Models.ViewModels.Shared
@model Vhm.Web.Models.ViewModels.Member.WelcomeJourneyStepOne
<div id="wjStepOne" style="overflow:auto;">
    <style type="text/css">
        ul.horizontalul, .horizontalul ul
        {
            white-space: nowrap;
            text-align: left;
        }
        ul.horizontalul li
        {
            list-style-type: none;
            display: inline;
        }
        .stage_number{margin-left:0px;padding-left:0px;}
        .stage_number li{margin-left:0px;margin-right:10px;}
        .imgStep { width: 33px;height: 33px;border: 0;}
    </style>
    <ul class="horizontalul stage_number">
        @for (int i = Model.WJSeed; i <= Model.WJMaxNumber; i += Model.WJStep)
        {
            <li>
                @if( i == Model.WJCurrentStep )
                {
                    <img src="/images/Challenges/@("step_" + Model.WJCurrentStep + "_on.gif")" alt="Model.WJCurrentStep" class="imgStep"/>
                } 
                else if( i < Model.WJCurrentStep){
                    <img src="/images/Challenges/@("step_" + i + "_done.gif")" alt="Model.WJCurrentStep" class="imgStep"/>
                } else {
                    <img src="/images/Challenges/@("step_" + i + "_off.gif")" alt="Model.WJCurrentStep" class="imgStep" />
                }
            </li>
        }
    </ul>
    <br/>
    <h3 style="clear:both;padding-top:8px;margin-top:0px;" data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepOne.Subtitle">Your Settings</h3>
    <p data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepOne.IntroMessage">As a member, you have some additional options in terms of how you would prefer your dates and dimensions to display. Your language will not change, but please select a format from the drop-down menu below to reflect your preferred international display settings:</p>
    @*if sponsor has more than one language show the dropn down*@
    @if (Model.SponsorLanguages.Count>1)
    {
        <div style="clear:both; overflow: auto;padding-top:10px; padding-bottom:10px;">
            <div style="width:100px; float: left; font-weight: bold;"><span data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepOne.Language">Language:</span></div>
            <div id="divCultureFormat" style="width:350px; float: left;overflow: hidden; ">
                
                @Html.DropDownListFor(c => c.LanguageId, new SelectList(Model.SponsorLanguages, "LanguageID", "LanguageName"), new { @Name = "SponsorLanguages",@id="SponsorLanguages" })
            </div>
        </div>
    }
    <div style="clear:both; overflow: auto;padding-top:10px; padding-bottom:10px;">
        <div style="width:100px; float: left; font-weight: bold;"><span data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepOne.Format">Format:</span></div>
        <div id="divCultureFormat" style="width:310px; float: left;overflow: hidden;  margin-left: 40px">
            
            @Html.DropDownListFor(c => c.CultureFormats, new SelectList(Model.CultureFormats, "CultureID", "Name", Model.CultureId))
        </div>
    </div>
    <div style="clear:both; overflow: auto;padding-top:0px; padding-bottom:10px;" id="divCulture_Dates">
        <div style="width:100px; float: left; font-weight: bold;"><span data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepOne.Dates">Dates:</span></div>
        <div style="width:150px; float: left;  margin-left: 40px"><span id="lblDateFormat" vlc_name="lblDateFormat"></span></div>
    </div>
    <div style="clear:both; overflow: auto;padding-top:0px; padding-bottom:10px;" id="divCulture_MsrmntFormat">
        <div style="width:100px; float: left; font-weight: bold;"><span data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepOne.Measurements">Measurements:</span></div>
        <div style="width:150px; float: left; margin-left: 40px "><span id="lblMeasuremFormat" vlc_name="lblMeasuremFormat"></span></div>
    </div>
    <p><br /><span data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepOne.Note">Note*: You will have the ability to change your preferred display settings from the &#34;My Account&#34; page.</span></p>
    <div class="popupButtonContainer">
        <a class="popupLeftButton" href="@Url.Content("~/../logout.aspx")" style="font-weight: bold;" data-i18n="[html]WolverineLandingPage.WelcomeJourney.LogOut">LogOut</a>
        <input class="popupRightButton clearfix vbtn_red_a_md" type="button" id="btnNext_stepOne" onclick="javascript:saveWJStepOne();"/>
    </div>
</div>
<script>
    $( document ).ready(function() {
        $("#wjStepOne").i18n();
        $('#btnNext_stepOne')[0].value = i18n.t("WolverineLandingPage.WelcomeJourney.Next", { defaultValue: "Next" });
    });
</script>