﻿@using Vhm.Web.Models.ViewModels.Member
@using Vhm.Web.Models.ViewModels.Measurments
@using Vhm.Web.Models.ViewModels.Shared
@model Vhm.Web.Models.ViewModels.Member.WelcomeJourneyStepTwo
<div id="WJStepTwo">
    <style type="text/css">
        ul.horizontalul, .horizontalul ul
        {
            white-space: nowrap;
            text-align: left;
        }
        ul.horizontalul li
        {
            list-style-type: none;
            display: inline;
        }
        .stage_number{margin-left:0px;padding-left:0px;}
        .stage_number li{margin-left:0px;margin-right:10px;}
        .imgStep { width: 33px;height: 33px;border: 0;}
        .stepSubtitle {clear:both;padding-top:8px;margin-top:0px; color:#c40000;}
        div#us_unitset div{margin-top:5px;}
    </style>
    <ul class="horizontalul stage_number">
        @for (int i = Model.WJSeed; i <= Model.WJMaxNumber; i += Model.WJStep)
        {
            <li>
                @if( i == Model.WJCurrentStep )
                {
                    <img src="/images/Challenges/@("step_" + Model.WJCurrentStep + "_on.gif")" alt="Model.WJCurrentStep" class="imgStep"/>
                } 
                else if( i < Model.WJCurrentStep){
                    <img src="/images/Challenges/@("step_" + i + "_done.gif")" alt="Model.WJCurrentStep" class="imgStep"/>
                } else {
                    <img src="/images/Challenges/@("step_" + i + "_off.gif")" alt="Model.WJCurrentStep" class="imgStep" />
                }
            </li>
        }
    </ul>
    <br/>
    <p data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepTwo.FirstMessage">You're just about ready to get started! First, we need a little more information about you:</p>
    <h3 data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepTwo.Subtitle">Your Basics</h3>
    <p data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepTwo.SecondMessage">Please enter your height and weight. We'll use them to calculate your body mass index and to estimate how many calories you burn when you're active.</p>
    @if (Model.MeasurementSystem == "Imperial")
    {
        <div id="us_unitset" style="overflow:hidden;">
            <table style="padding:5px; border:0;">
                <tr><td width="60px" valign="top" style="padding-left:0px;"><strong data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepTwo.Height">Height:</strong></td>
                    <td><select id="ddHtFtUS" name="ddHtFtUS">
                            <option></option>	
                            <option>4</option>	
                            <option>5</option>	
                            <option>6</option>	
                            <option>7</option>	
                            <option>8</option>	
                        </select></td>
                    <td valign="top" data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepTwo.Ft">ft&nbsp;&nbsp;</td>
                    <td><select id="ddHtInUS" name="ddHtInUS">
                            <option></option>
                            <option>0</option>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                        </select></td>
                    <td valign="top" data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepTwo.In">&nbsp;&nbsp;in&nbsp;&nbsp;</td>
                </tr>
                <tr><td colspan="2"><div></div></td></tr>
                <tr><td valign="top" ><strong data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepTwo.Weight">Weight:</strong></td>
                    <td valign="top"><input type="text" id="txtWtLbsUS" size="3" maxlength="3"/></td>
                    <td valign="middle" colspan="3" data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepTwo.Lbs">&nbsp;&nbsp;lbs&nbsp;&nbsp;</td>
                </tr>
            </table>
        </div>
    }
    else if (Model.MeasurementSystem == "UK Imperial")
    {
        <div id="unit_imperial">
            <table  style="padding:5px; border:0;">
                <tr><td style="padding-left:0px;padding-bottom:4px;width:60px;"><strong data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepTwo.Height">Height:</strong></td>
                    <td>
                        <table>
                            <tr><td><select id="ddHtFtUK" name="ddHtFtUK">
                                        <option></option>	
                                        <option>4</option>	
                                        <option>5</option>	
                                        <option>6</option>	
                                        <option>7</option>	
                                        <option>8</option>	
                                    </select>
                                </td>
                                <td data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepTwo.Ft">&nbsp;&nbsp;ft&nbsp;&nbsp;</td>
                                <td><select id="ddHtInUK" name="ddHtInUK">
                                        <option></option>
                                        <option>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                        <option>11</option>
                                    </select></td>
                                <td data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepTwo.In">&nbsp;&nbsp;in&nbsp;&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr><td style="padding-left:0px;padding-bottom:4px;"><strong data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepTwo.Weight">Weight:</strong></td>
                    <td><table>
                            <tr><td><input type="text" id="txtWtStUK" size="2" maxlength="2" onkeypress="javascript:handleWtStUK();"/></td>
                                <td data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepTwo.Stone">&nbsp;&nbsp;Stone&nbsp;&nbsp;</td>
                                <td><input type="text" id="txtWtLbsUK" size="2" maxlength="2" onkeypress="javascript:handleLbsStUK();"/></td>
                                <td data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepTwo.Lbs">&nbsp;&nbsp;Lbs&nbsp;&nbsp;</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    }
    else
    {
        <div id="unit_metric">
            <table  style="padding:5px; border:0;">
                <tr><td style="padding-left:0px;width:60px;"><strong data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepTwo.Height">Height:</strong></td>
                    <td><input type="text" id="txtHtCmUK" size="3" maxlength="3" onkeypress="javascript:handletxtHtCm('txtHtCmUK');" /></td>
                    <td data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepTwo.Height">&nbsp;&nbsp;Cm&nbsp;&nbsp;</td>
                </tr>
                <tr><td ><strong data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepTwo.Weight">Weight:</strong></td>
                    <td><input type="text" id="txtWtKgUK" size="3" maxlength="3" onkeypress="javascript:handletxtHtCm('txtWtKgUK');"/></td>
                    <td data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepTwo.Kg">&nbsp;&nbsp;Kg&nbsp;&nbsp;</td>
                </tr>
            </table>
        </div>
    }

    <div class="popupButtonContainer">
        <a class="popupLeftButton" href="@Url.Content("~/../logout.aspx")" style="font-weight: bold;" data-i18n="[html]WolverineLandingPage.WelcomeJourney.LogOut">LogOut</a>
        <input type="button" id="btnNext_Step2" value="Next" class="popupRightButton clearfix vbtn_red_a_md" onclick="javascript:saveWJStepTwo('@Model.MeasurementSystem', @Model.CultureId);"/>
    </div>
</div>
<script>
    $( document ).ready(function() {
        $("#WJStepTwo").i18n();
        $('#btnNext_Step2')[0].value = i18n.t("WolverineLandingPage.WelcomeJourney.Next", { defaultValue: "Next" });
    });
</script>