﻿@using Vhm.Web.Models.ViewModels.Member
@using Vhm.Web.Models.ViewModels.Shared
@model Vhm.Web.Models.ViewModels.Member.WelcomeJourneyStepFive
<div id="WJStepFive">
    <style type="text/css">
        ul.horizontalul, .horizontalul ul
        {
            white-space: nowrap;
            text-align: left;
        }
        ul.horizontalul li
        {
            list-style-type: none;
            display: inline;
        }
        .stage_number{margin-left:0px;padding-left:0px;}
        .stage_number li{margin-left:0px;margin-right:10px;}
        .imgStep { width: 33px;height: 33px;border: 0;}
        .stepSubtitle {clear:both;padding-top:8px;margin-top:0px; color:#c40000;}
    </style>
    <ul class="horizontalul stage_number">
        @for (int i = Model.WJSeed; i <= Model.WJMaxNumber; i += Model.WJStep)
        {
            <li>
                @if( i == Model.WJCurrentStep )
                {
                    <img src="/images/Challenges/@("step_" + Model.WJCurrentStep + "_on.gif")" alt="Model.WJCurrentStep" class="imgStep"/>
                } 
                else if( i < Model.WJCurrentStep){
                    <img src="/images/Challenges/@("step_" + i + "_done.gif")" alt="Model.WJCurrentStep" class="imgStep"/>
                } else {
                    <img src="/images/Challenges/@("step_" + i + "_off.gif")" alt="Model.WJCurrentStep" class="imgStep" />
                }
            </li>
        }
    </ul>
    <br/>
    <h3 data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFive.Subtitle">Your Health Snapshot</h3>
    <br />
    <p data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFive.Message">Give us 15 minutes and we’ll give you your baseline wellness score. This questionnaire is a great opportunity for you to see where you’re currently doing well, and where you can improve. We’ll ask everything from current activity and eating habits to how often you wear your seatbelt. It’s an important first step as you embark on your new program.</p>
    <br/>
    
    <div style="padding:10px;">
        @Html.RadioButtonFor(h => h.IsHraOptional, !Model.IsHraOptional, new { id = "hraMandatory" }) <span data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFive.TakeMeThere">Take me there now</span>
    </div>
    @if (Model.IsHraOptional)
    {
        <div style="padding:10px;">
            @Html.RadioButtonFor(h => h.IsHraOptional, !Model.IsHraOptional, new { id = "hraOpt_remind" }) <span data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFive.RemindLater">Remind me later</span>
        </div>
        <div style="padding:10px;">
            @Html.RadioButtonFor(h => h.IsHraOptional, !Model.IsHraOptional, new { id = "hraOpt_dontRemind" }) <span data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFive.DontRemind">Don't remind me again</span>
        </div>
    }
    <br/>
    <p data-i18n="[html]WolverineLandingPage.WelcomeJourney.StepFive.StepFiveTip">Tip: You can complete the Health Snapshot one section at a time, but once you begin, you have 7 days to finish it. Otherwise, you have to start over. Remember, it only takes about 15 minutes.</p>
    <br/>
    <div class="popupButtonContainer">
        <a class="popupLeftButton" href="@Url.Content("~/../logout.aspx")" style="font-weight: bold;" data-i18n="[html]WolverineLandingPage.WelcomeJourney.LogOut">LogOut</a>
        <input type="button" id="btnNext" class="popupRightButton clearfix vbtn_red_a_md" onclick="javascript:saveWjFinalStep(@Model.WJCurrentStep, '@Model.IsHraMandatory');"/>
    </div>
</div>
<script>
    $( document ).ready(function() {
        $("#WJStepFive").i18n();
        $('#btnNext')[0].value = i18n.t("WolverineLandingPage.WelcomeJourney.Done", { defaultValue: "Done" });
    });
</script>

