﻿@using Vhm.Web.Models.RepositoryModels
@using Vhm.Web.Models.ViewModels.Member
@using VirginLifecare.Utils
@model Vhm.Web.Models.ViewModels.Member.GameDisplayGraphVM
<style>
    .currentProgress
    {
        font-size: 72px;
        background: -webkit-linear-gradient(#feffa0, red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
    }
    .graph
    {
        height: 250px;
        width: 250px;
        display: inline-block;
    }
    .divCurrentProgress
    {
        position: relative;
        top: 0px;
        left: 0px;
        display: inline-block;
    }
</style>
@{
    var currMilstone = new Milestone();
    if ( Model.CurrentGame != null && Model.CurrentGame.Milestones != null )
    {
        currMilstone = ( from s in Model.CurrentGame.Milestones
                             where s.IsCurrentMilestone == true
                         select s).FirstOrDefault() ?? currMilstone;
    }
}
<!--[if IE]><script type="text/javascript" src="excanvas.js"></script><![endif]-->
<div class="graph">
        <div class="divCurrentProgress">
    </div>
    <div>
        <canvas id="myCanvas" width="250" height="250" style="">
        </canvas>
    </div>

</div>
<script>
    window.onload = function () {
        var canvas = document.getElementById('myCanvas');
        var context = canvas.getContext('2d');
        var x = canvas.width / 2;
        var y = canvas.height / 2;
        var radius = 90;
        context.lineWidth = 45;
        var startAngle = 0.6 * Math.PI;
        var counterClockwise = false;
        var endAngle = (1.8 * "@currMilstone.RelativeProgress" / 100 + 0.6) * Math.PI;
        var endAngle2 = 2.4 * Math.PI;
        var myGradient = context.createLinearGradient(0, 80, 120, 0);
        myGradient.addColorStop(0.5, "#feffa0");
        myGradient.addColorStop(1, "red");
        context.beginPath();
        context.arc(x, y, radius, startAngle, endAngle, counterClockwise);
        context.strokeStyle = myGradient;
        context.stroke();
        context.beginPath();
        context.arc(x, y, radius, endAngle, endAngle2, counterClockwise);
        // line color
        context.strokeStyle = "gray";
        context.stroke();


        context.beginPath();


        // line color
        context.strokeStyle = my_gradient;
        context.stroke();




    }
</script>
