﻿@using System.Globalization
@using System.Web.Optimization
@using Vhm.Web.Common
@using Vhm.Web.Models.RepositoryModels
@using Vhm.Web.Models.ViewModels.Measurments
@using Vhm.Web.Models.ViewModels.Member
@using Vhm.Web.Models.ViewModels.Shared
@using VirginLifecare.Utils
@using VirginLifecareWeb.Extensions
@using VirginLifecareWeb.Helpers
@model Vhm.Web.Models.ViewModels.Member.LandingPageVM
@{
    Layout = "~/Views/Shared/MasterNoCol.cshtml";
    ViewData["pageTitle"] = new PageTitle(Model.PageTitle.ShowPageTitle, Model.PageTitle.PageTitleName);
    string cash;
    var hzOption = Model.MeasuermentsSummary.HasHZDesktopAccess ? "2" : "1";
    var imagePath = "/images/rewards/rewardTypes/badge" + (Model.MeasuermentsSummary.RewardEarnedThisMonth ? "_on" : "_off") + ".gif";
    string cashClass = string.Empty;
    decimal amount = 0;

    if (Model.MeasuermentsSummary.Reward != null)
    {
        imagePath = Model.MeasuermentsSummary.Reward.IsBadge
                        ? ApplicationSettings.BadgeImageUrl + Model.MeasuermentsSummary.Reward.RewardImage + ".png"
                        : ApplicationSettings.RewardTypeImageUrl + Model.MeasuermentsSummary.Reward.RewardImage + (Model.MeasuermentsSummary.RewardEarnedThisMonth ? "_on" : "_off") + ".gif";

        amount = Model.MeasuermentsSummary.Reward.TaskRewardAmt;
        if (Model.MeasuermentsSummary.Reward.Cash)
        {
            cashClass = "cash";
        }
    }

}

@helper ChallengeHeader(ChallengeBase challenge)
{
    // The verbage for the challenge title text is different based on what type of challenge it is and
    // the member's status in that challenge. This helper method isolates the logic for building that text.

    if (challenge is Kag)
    {
        var kag = challenge as Kag;
        <h5 class="bold darkBlue kagQuestion">@kag.TrackerQuestion</h5>

    }
    else if (challenge is TrackingChallenge)
    {
        var trk = challenge as TrackingChallenge;
        var link = challenge.IsMemberEnrolled
            ? string.Format(Model.ChallengeTypes[Challenge.CHALLENGE_TYPE_TRK], trk.ChallengeId)
            : string.Format(Model.ChallengeTypes[Challenge.CHALLENGE_TYPE_CORP_SIGN_UP], trk.ChallengeId);
        <a href="@link">@trk.Name</a>
    }
    else if (challenge is Promo)
    {
        <h4 class="challengeText">
            <span class="content @LandingPageContent.PromoSignedUp"></span>
            <a href="@string.Format(Model.ChallengeTypes[challenge.ChallengeType], challenge.ChallengeId)">@challenge.Name</a>!
        </h4>
    }
    if (challenge is Quest)
    {
        // Only quests for which the member has not signed up for should be shown here. Check the business logic if that's not
        // the case.
        if (challenge.SignedUp)
        {
            <h4 class="challengeText">
                @LandingPageContent.PromoSignedUp <a href="@string.Format(Model.ChallengeTypes[challenge.ChallengeType], challenge.ChallengeId)">@challenge.Name</a>!
            </h4>
        }
        else
        {
            <h4 class="challengeText">
                <span class="content @LandingPageContent.QuestNotSignedUp.ToString()"></span>
                <a href="@string.Format(Model.ChallengeTypes[challenge.ChallengeType], challenge.ChallengeId)">@challenge.Name</a>!
            </h4>
        }
    }
    if (challenge is Challenge)
    {
        string linkText = string.Empty;
        if (challenge.SignedUp)
        {
            string challengeUrl = "<a href=\"" + string.Format(Model.ChallengeTypes[Challenge.CHALLENGE_TYPE_CORP], challenge.ChallengeId) + "\">" + challenge.Name + "</a>";
            if (challenge.Rank != null && challenge.Ended)
            {
                // SIGNED UP, AND FINISHED
                string rankString = "<span class=\"red bold\">" + ((Challenge)challenge).OrdinalRank + " " + "</span><span class=\"red bold content " + LandingPageContent.ChallengeRankPlace + "\"></span>";
                linkText = "<span class=\"content " + LandingPageContent.ChallengeSignedUpFinished + "\" formatVal1=\"" + Server.HtmlEncode(rankString) + "\" formatVal2=\"" + Server.HtmlEncode(challengeUrl) + "\"></span>";

            }
            else if (challenge.Rank == null && challenge.Ended)
            {
                // SIGNED UP, ENDED, NO RANK YET
                linkText = "<span class=\"content " + LandingPageContent.ChallengeSignedUpNoRank + "\" formatVal=\"" + Server.HtmlEncode(challengeUrl) + "\"></span>";

            }
            else if (challenge.Started)
            {
                // SIGNED UP, IN PROGRESS
                linkText = "<span class=\"content " + LandingPageContent.ChallengeSignedUpInProgress + "\" formatVal=\"" + Server.HtmlEncode(challengeUrl) + "\"></span>";

            }
            else
            {// SIGNED UP, BUT HASN'T STARTED YET
                if (challenge.DaysUntilStart > 1)
                {
                    linkText = "<span class=\"content " + LandingPageContent.ChallengeSignedUpStartsInNDays + "\" formatVal1=\"" + Server.HtmlEncode(challengeUrl) + "\" formatVal2=\"" + challenge.DaysUntilStart.ToString() + "\"></span>";
                }
                else
                {
                    linkText = "<span class=\"content " + LandingPageContent.ChallengeSignedUpStartsInOneDay + "\" formatVal=\"" + Server.HtmlEncode(challengeUrl) + "\"></span>";
                }
            }
        }
        else
        {
            // HASN'T SIGNED UP YET
            linkText = "<span class=\"content " + LandingPageContent.ChallengeNotSignedUp + "\"></span>" +
                       "<a href=\"" + string.Format(Model.ChallengeTypes[Challenge.CHALLENGE_TYPE_CORP_SIGN_UP], challenge.ChallengeId) + "\">" + challenge.Name + "</a>!";
        }
        HtmlString linkHtml = new HtmlString(linkText);
        <h4 class="challengeText">
            @linkHtml
        </h4>
    }
}
@section Styles
{
    @Styles.Render("~/Content/LandingPage")
    <link rel="stylesheet" type="text/css" href="~/Content/Style/LandingPageV3/style_notifications.css?<%= ResourceVersion %>" />
    <!--[if IE]><link href="@Url.Content("~/Content/Style/LandingPage_IE.css")" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if gte IE 9]>
            <style type="text/css">
                div.activityBar, div.rewardsClose h3.jqmClose, div.rewardsClose h3.jqmClose:hover, div.rewardsClose h3.jqmClose:active, .gradientFix {
                    filter: none;
                }
            </style>
    <![endif]-->
    <!--[if lt IE 9]>
    <style type="text/css">
        div.activityBar {       background: #134d85;filter: none; border-radius: 6px 6px 0px 0px;    }
        div.rewardsClose h3.jqmClose, div.rewardsClose h3.jqmClose:hover, div.rewardsClose h3.jqmClose:active{filter: none;border-radius: 6px 6px 6px 6px;}
        div.rewardsClose h3.jqmClose{ background-color: #ebebeb; }
        div.rewardsClose h3.jqmClose:hover{ background-color: #d4d4d4; }
        div.rewardsClose h3.jqmClose:active{ background-color: #ebebeb; }
    </style><![endif]-->
    <!--[if IE 7]><style type="text/css">h3.sectionTitle a { margin-top: -13px;} a.badgelink{ margin-top: 30px;}</style>   <![endif]-->
    <!--[if IE 8]><style type="text/css">
                      #tickerContent { width: 950px;}
                      #tickerContent li { width: 750px;margin-left: auto;margin-right: auto;}
                  </style>
    <![endif]-->
    <!--[if lte IE 8]><script type="text/javascript" src="../Scripts/lib/excanvas.js"></script><![endif]-->
}
@section Script
{
    <script type="text/javascript">
        var DATE_PATTERN = '@(Model.CurrentCulture.DateTimeFormat.ShortDatePattern + " " + Model.CurrentCulture.DateTimeFormat.ShortTimePattern)';
        var showWJ = '@Model.ShowWelcomeJourney';
        var showExpressWJ = '@Model.ShowExpressWelcomeJourney';
        var wjTitle = '@Model.WelcomeJourneyTitle';
        var companyName = '@ViewBag.CompanyName';
        var stepNo = '@Model.WelcomeJourneyStep';
        var hraSetting = '@Model.HRASetting';
        var maxWJSteps = '@Model.MaxWelcomeJourneySteps';
        var showPopUpForMemebershipStatusChanged = '@Model.ShowPopUpForMemebershipStatusChanged';
        var showPopUpForCreditCardInfo = '@Model.ShowPopUpForCreditCardInfo';
        var showPopUpForBillingInfo = '@Model.ShowPopUpForBillingInfo';
        var showPopUpForTermsPage = '@Model.ShowPopUpForTermsPage';
        var showPopUpForTermsToAcknowledge = '@Model.ShowPopUpForTermsToAcknowledge';
        $('#memebershipStatusChanged').dialog('open');
    </script>
    @Scripts.Render("~/bundles/LandingPage")

    <!--[if gte IE 9]>
            <style type="text/css">
                .gradientFix {
                    filter: none;
                }
            </style>
    <![endif]-->
}

@if (Model.TickersData != null)
{
    <div class="tickerBar white gradientFix">
        @{
    var avgSteps = string.Format("{0:##,##0}", Model.TickersData.AverageSteps);
    var activityEnabled = Model.ActivityEnabled;
        }
        <input type="hidden" id="@LandingPageContent.AverageDailySteps" value="@avgSteps" />

        <div class="tickerArrows left" onclick="ManualRotation(-1)">
        </div>
        <div class="tickerArrows right" onclick="ManualRotation(1)">
        </div>
        <div class="white">
            <ul id="tickerContent">
                <li id="defaultTickerMessage">
                    <span class="content @LandingPageContent.DefaultTickerText"></span>
                </li>
                @if (Model.TickersData.TotalHCEarn > 0)
                {
                    <li>
                        <input type="hidden" id="TotalHCEarn" value="@Model.TickersData.TotalHCEarn.ToString("C", Model.CurrencyCulture)" />
                        <span class="content @LandingPageContent.TotalHCForThisYear"></span>
                    </li>
                }
                @if (avgSteps != "0" && activityEnabled && Model.TickersData.StepPercentage > 0)
                {
                    <li>
                        <input type="hidden" id="YouTookMoreSteps" value="@string.Format("{0:P}", Model.TickersData.StepPercentage)" />
                        <span class="content @LandingPageContent.YouTookMoreSteps"></span>
                    </li>
                }
                @if (avgSteps != "0" && Model.TickersData.SponsorAverageSteps > 0)
                {
                    <li>

                        <input type="hidden" id="SponsorAverageSteps" value="@string.Format("{0:##,###}", Model.TickersData.SponsorAverageSteps)" />
                        <span class="content @LandingPageContent.AverageDailySteps"></span> <span class="content @LandingPageContent.YourOrganization"></span>
                    </li>
                }
                @if (avgSteps != "0" && activityEnabled == true)
                {
                    <li>
                        <input type="hidden" id="AgeAverageSteps" value="@string.Format("{0:##,###}", Model.TickersData.AgeAverageSteps)" />
                        <span class="content @LandingPageContent.AverageDailySteps"></span>
                        <span class="content @LandingPageContent.OthersYourAge"></span>
                    </li>
                }
                @if (avgSteps != "0" && activityEnabled == true)
                {
                    <li>
                        <input type="hidden" id="GenderAverageSteps" value="@string.Format("{0:##,###}", Model.TickersData.GenderAverageSteps)" />
                        <span class="content @LandingPageContent.AverageDailySteps"></span> <span class="content @(Model.MemberGender == 'M' ? LandingPageContent.OtherMales : LandingPageContent.OtherFemales)"></span>
                    </li>
                }
                @if (Model.TickersData.YesterdaySteps > 0 && activityEnabled == true)
                {
                    <li>
                        <input type="hidden" id="YesterdayUploadedSteps" value="@string.Format("{0:##,###}", Model.TickersData.YesterdaySteps)" />
                        <input type="hidden" id="AverageUploadPerDay" value="@string.Format("{0:##,###}", Model.TickersData.AverageSteps)" />
                        <span class="content @LandingPageContent.YesterdayUploadedSteps"></span>&nbsp;<span class="content @LandingPageContent.AverageUploadPerDay"></span>
                    </li>
                }
                @if (Model.TickersData.MinutePercentage > 0 && activityEnabled == true)
                {
                    <li>
                        <input type="hidden" id="LastWeekMoreActiveMinutes" value="@string.Format("{0:P}", Model.TickersData.MinutePercentage)" />
                        <span class="content @LandingPageContent.LastWeekMoreActiveMinutes"></span>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div style="background-image: url('@(Model.ImageCDN + "ticker/ticker-shadow.png")');" class="tickerShadow"></div>
}<div class="browser-alert alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <span class="content @LandingPageContent.BrowserNotSupportedMessage"></span>
</div>

@if (Model.ProgramType != "EXP" && Model.BetaEnabled)
{
    <div class="alert alert-info">
        <span>We have a new look. <a href="#" class="alert-link" id="beta-landing-alert">Check it out!</a></span>
    </div>
}

<div class="span6">

    <h1 class="red content @LandingPageContent.RewardsGraphTitle" style="padding-bottom:4px"></h1>
    <div style="float:left; width: 550px;">
        <div id="GameDisplay" style="min-width:320px;min-height: 150px;float:left;">
            <img alt="" src="/v2/Content/Images/Shared/spinner.gif" style="height:25px; width:25px;" />
        </div>
        <div class="twoBytwo" id="twoBytwo" style="max-height: 180px;">

            @Html.Action("OldLandingTwoByTwo", "Content", new { @contentAreaType = "OldLandingTwoByTwo", @sponsorSpecific = true })

        </div>
    </div>

    <div style="clear: both; overflow: auto; padding-bottom: 10px;">
        <a href="javascript:openRedeemVoucher();" class="tertiary content @LandingPageContent.RedeemVoucher"></a>

        <hr id="vouncherDivider" />
    </div>

    <div id="divRedeemAVoucher" style="display:none;"></div>
    <!--UP FOR GRABS-->
    <div id="upForGrabsSection" class="landingPageSection" style="clear: both; margin-top: 0px;">
        <h2 class="grey content @LandingPageContent.UpForGrabs"></h2>
        <div id="upForGrabsListContainer"></div>
    </div>
    <!--BANNER AD-->
    @*<div class="landingPageSection" style="clear: both;" id="bannerContent">
        </div>

        </div>
        <!--SPONSOR CONTENT-->
        <div class="landingPageSection" style="clear: both;" id="vhmContent">
        </div>*@
    <div class="clearfix"></div>
    @Html.Action("OldLandingBannerHorizontalBanner", "Content", new { @contentAreaType = "OldLandingHorizontalBanner", @sponsorSpecific = true })

    <!--VHM CONTENT-->
    <div class="clearfix"></div>
    <hr />
    <div class="clearfix"></div>
    @Html.Action("OldLandingMemberEngagementContent", "Content", new { @contentAreaType = "EngagementLeftBanner", @sponsorSpecific = true })

    <div class="landingPageSection" style="clear: both;" id="sponsorContent"></div>

</div>
<div class="span3">
    <!--REWARDS-->
    <h3 class="sectionTitle box grey">
        <span class="sideNavStatusArrow"></span><span class="content @LandingPageContent.Rewards"></span>
        <img src="@(Model.ImageCDN + "ribbon-shadow.png")" class="ribbon" />
        <a href="/secure/member/monthlystatement.aspx" class="tertiary content @LandingPageContent.MonthlyStatementLink"></a>
    </h3>

    @if (Model.RecentlyEarnedRewards.Count > 0)
    {
        <div id="recentRewardsSideNav" class="landingPageSection sideNavSection">
            <div style="width: 290px; float: left;">
                <ul style="padding: 0px">
                    @foreach (var reward in Model.RecentlyEarnedRewards.Where(r => r.DateEarned.HasValue).Take(Model.MaxSummaryRewards))
                    {
                        cash = reward.IsCash ? "cash" : string.Empty;
                        <li class="reward">
                            <div class="hover rewardTip">
                                <div>
                                    <h4 class="hoverSub lightGrey">@reward.DateEarned.Value.Date.ToString("d", Model.CurrentCulture)&nbsp;@reward.Name</h4>
                                </div>
                                <img src="@(Model.ImageCDN + "bubble-tail2.png")" />
                            </div>
                            @if (reward.IsBadge)
                            {
                                <div style="padding: 0; margin: 0; width: 100%; clear: both; position: relative; text-align: center;">
                                    <a href="/secure/rewards/mybadges.aspx">
                                        <img alt="@reward.Name" class="CTTrigger" dt="@reward.DateEarned.Value.ToShortDateString()" tsk="" src="@(Model.BadgeImageUrl + reward.RewardImage + ".png")" vlc_name="vlc_badgeReward" vlc_badgeid="@reward.BadgeId" />
                                    </a>
                                </div>
                            }
                            else
                            {
                                <label class="@cash">@(reward.IsCash ? reward.Amount.ToString("C0") : reward.Amount.ToString())</label>
                                <img src="@(string.Concat(Model.RewardTypeImageUrl, reward.RewardImage, "_on.gif"))" alt="@reward.Name" />
                            }
                        </li>

                    }
                </ul>
            </div>
            <div style="clear: both;">
                @if (Model.BadgesEnabled)
                {
                    <a href="/secure/rewards/mybadges.aspx" class="tertiary badgelink content @LandingPageContent.SeeBadgesLink"></a>
                }
            </div>
        </div>
    }


    <!--ACTIVITY-->
    @if (Model.ActivityEnabled)
    {
        <h3 class="sectionTitle box grey">
            <span class="sideNavStatusArrow"></span><span class="content @LandingPageContent.Activity"></span>
            <img alt="" src="@(Model.ImageCDN + "ribbon-shadow.png")" class="ribbon" />
            <a href="/secure/member/activityjournal.aspx" class="tertiary content @LandingPageContent.ActivityJournalLink"></a>
        </h3>
        <div id="activitySideNav" class="landingPageSection sideNavSection">
            @if (!Model.ActivityData.HasStepsForPeriod)
            {
                <h5 class="disabled NoStepsMessage content @LandingPageContent.NoStepsMessage"></h5>
            }
            <table class="activityGraph">
                <tbody>
                    <tr>
                        <td class="leftMargin"><h4 class="darkBlue content @LandingPageContent.ActivityLabel"></h4></td>
                        <td class="activityDay">
                            <div class="activityBar @(Model.ActivityData.ActivityDays[0].Steps > 0 ? string.Empty : "hidden")" style="height: @(Model.ActivityData.ActivityDays[0].GraphBarHeight.ToString(CultureInfo.InvariantCulture) + "px")">&nbsp;</div>
                            <img class="@(Model.ActivityData.ActivityDays[0].TargetAchieved ? "earned" : "")" src="@(Model.ImageCDN + "check-mark.png")" />
                        </td>
                        <td class="activityDay">
                            <div class="activityBar @(Model.ActivityData.ActivityDays[1].Steps > 0 ? string.Empty : "hidden")" style="height: @(Model.ActivityData.ActivityDays[1].GraphBarHeight.ToString(CultureInfo.InvariantCulture) + "px")">&nbsp;</div>
                            <img class="@(Model.ActivityData.ActivityDays[1].TargetAchieved ? "earned" : "")" src="@(Model.ImageCDN + "check-mark.png")" />
                        </td>
                        <td class="activityDay">
                            <div class="activityBar @(Model.ActivityData.ActivityDays[2].Steps > 0 ? string.Empty : "hidden")" style="height: @(Model.ActivityData.ActivityDays[2].GraphBarHeight.ToString(CultureInfo.InvariantCulture) + "px")">&nbsp;</div>
                            <img class="@(Model.ActivityData.ActivityDays[2].TargetAchieved ? "earned" : "")" src="@(Model.ImageCDN + "check-mark.png")" />
                        </td>
                        <td class="activityDay">
                            <div class="activityBar @(Model.ActivityData.ActivityDays[3].Steps > 0 ? string.Empty : "hidden")" style="height: @(Model.ActivityData.ActivityDays[3].GraphBarHeight.ToString(CultureInfo.InvariantCulture) + "px")">&nbsp;</div>
                            <img class="@(Model.ActivityData.ActivityDays[3].TargetAchieved ? "earned" : "")" src="@(Model.ImageCDN + "check-mark.png")" />
                        </td>
                        <td class="activityDay">
                            <div class="activityBar @(Model.ActivityData.ActivityDays[4].Steps > 0 ? string.Empty : "hidden")" style="height: @(Model.ActivityData.ActivityDays[4].GraphBarHeight.ToString(CultureInfo.InvariantCulture) + "px")">&nbsp;</div>
                            <img class="@(Model.ActivityData.ActivityDays[4].TargetAchieved ? "earned" : "")" src="@(Model.ImageCDN + "check-mark.png")" />
                        </td>
                        <td class="activityDay">
                            <div class="activityBar @(Model.ActivityData.ActivityDays[5].Steps > 0 ? string.Empty : "hidden")" style="height: @(Model.ActivityData.ActivityDays[5].GraphBarHeight.ToString(CultureInfo.InvariantCulture) + "px")">&nbsp;</div>
                            <img class="@(Model.ActivityData.ActivityDays[5].TargetAchieved ? "earned" : "")" src="@(Model.ImageCDN + "check-mark.png")" />
                        </td>
                        <td class="activityDay">
                            <div class="activityBar @(Model.ActivityData.ActivityDays[6].Steps > 0 ? string.Empty : "hidden")" style="height: @(Model.ActivityData.ActivityDays[6].GraphBarHeight.ToString(CultureInfo.InvariantCulture) + "px")">&nbsp;</div>
                            <img class="@(Model.ActivityData.ActivityDays[6].TargetAchieved ? "earned" : "")" src="@(Model.ImageCDN + "check-mark.png")" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="8">
                            <div class="target" style="margin-top: @("-" + Model.ActivityData.TargetGraphPosition.ToString(CultureInfo.InvariantCulture) + "px")">
                                <h6 class="red">@Model.ActivityData.Target.ToString("N0")</h6>
                                <div class="targetLine"></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td class="activityDate">@CustomFormat.ShortMonthDay(Model.ActivityData.ActivityDays[0].ActivityDate, Model.CurrentCulture)</td>
                        <td class="activityDate">@CustomFormat.ShortMonthDay(Model.ActivityData.ActivityDays[1].ActivityDate, Model.CurrentCulture)</td>
                        <td class="activityDate">@CustomFormat.ShortMonthDay(Model.ActivityData.ActivityDays[2].ActivityDate, Model.CurrentCulture)</td>
                        <td class="activityDate">@CustomFormat.ShortMonthDay(Model.ActivityData.ActivityDays[3].ActivityDate, Model.CurrentCulture)</td>
                        <td class="activityDate">@CustomFormat.ShortMonthDay(Model.ActivityData.ActivityDays[4].ActivityDate, Model.CurrentCulture)</td>
                        <td class="activityDate">@CustomFormat.ShortMonthDay(Model.ActivityData.ActivityDays[5].ActivityDate, Model.CurrentCulture)</td>
                        <td class="activityDate">@CustomFormat.ShortMonthDay(Model.ActivityData.ActivityDays[6].ActivityDate, Model.CurrentCulture)</td>
                    </tr>
                    <tr>
                        <td colspan="8" style="text-align: right;"><h6 class="red"><img src="@(Model.ImageCDN + "dotted-line.png")" />&nbsp;My Target</h6></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    }

    <!--MEASUREMENTS-->
    @if (Model.MeasurementsEnabled)
    {
        <h3 class="sectionTitle box grey">
            <span class="sideNavStatusArrow"></span><span class="content @LandingPageContent.Measurements"></span>
            <img src="@(Model.ImageCDN + "ribbon-shadow.png")" class="ribbon" alt="Measurement ribbon" />
            <a href="/secure/member/biomeasurements.aspx" class="tertiary content @LandingPageContent.MeasurementsLink"></a>
        </h3>
        <div id="measurementSideNav" class="landingPageSection sideNavSection" id="measurementsSection">
            <div>
                <h3 class="grey left" style="width:auto"><span class="content @MeasurementSummaryContent.LastMeasurement"></span>:&nbsp;&nbsp;</h3>
                <h4 class="left" style="width:auto">@string.Format("{0:MMMM dd, yyyy}", Model.MeasuermentsSummary.LastMeasurementDate, Model.CurrentCulture)</h4>
            </div>
            <div style="margin-top: 30px; height: 60px; margin-bottom: 10px; clear: both;">
                <input type="hidden" class="content @MeasurementSummaryContent.TakenMeasurements" id="hdnTaken" />
                <input type="hidden" class="content @MeasurementSummaryContent.NotTakenMeasurements" id="hdnNotTaken" />
                @if (amount > 0)
                {
                    <label class="@cashClass reward" style="margin-left: 0px; @(Model.MeasuermentsSummary.RewardEarnedThisMonth ? "" : "color:#fff;")">@amount.ToString(Model.MeasuermentsSummary.AwardNumberFormat)</label>
                    <div style="width: 10%;margin-left: 70px; position: absolute;"
                         class="content @(Model.MeasuermentsSummary.LastMeasurementDate.HasValue && Model.MeasuermentsSummary.RewardEarnedThisMonth
                               ? MeasurementSummaryContent.TakenMeasurements
                               : MeasurementSummaryContent.NotTakenMeasurements)">
                    </div>
                    <img alt="" src="@imagePath" class="" style="height: 50px; width: 50px; padding-right: 18px;" />
                }
                else
                {
                    if (Model.MeasuermentsSummary.RewardEarnedThisMonth)
                    {
                        <img src="@Url.Content("~/Content/Images/yes-measurement.png")" style="float: left;" alt="" />
                    }
                    else
                    {
                        <img src="@Url.Content("~/Content/Images/no-measurement.png")" style="float: left;" alt="" />
                    }
                    <div style="width: 80%; margin-left:10px; float:left;" class="content @(Model.MeasuermentsSummary.LastMeasurementDate.HasValue && Model.MeasuermentsSummary.RewardEarnedThisMonth
                               ? MeasurementSummaryContent.TakenMeasurements
                               : MeasurementSummaryContent.NotTakenMeasurements)">

                    </div>
                }
            </div>
            <a href="/secure/member/biomeasurements.aspx?showEntry=@hzOption" class="secondary content @MeasurementSummaryContent.TakeMeasurements"></a>

        </div>
    }
    <!--CONNECTIONS-->
    @if (Model.ConnectionsEnabled)
    {
        <h3 class="sectionTitle box grey">
            <span class="sideNavStatusArrow"></span><span class="content @LandingPageContent.Connections"></span>
            <img src="@(Model.ImageCDN + "ribbon-shadow.png")" class="ribbon" alt="" />
            <a href="/secure/social/mynewsfeed.aspx" class="tertiary content @LandingPageContent.ConnectionsLink"></a>
        </h3>
        <div class="landingPageSection sideNavSection" id="newsfeedSection">&nbsp;@*THIS SECTION IS FILLED IN VIA AJAX*@</div>
    }
    <!--CHALLENGES-->
    @if (Model.Challenges != null && Model.Challenges.Count > 0)
    {
        <h3 class="sectionTitle box grey">
            <span class="sideNavStatusArrow"></span>
            <span class="content @LandingPageContent.Challenges"></span>
            <img alt="" src="@(Model.ImageCDN + "ribbon-shadow.png")" class="ribbon" />
            @if (Model.PersonalChallengesEnabled)
            {
                <a href="/secure/challenge/mypersonalchallenges.aspx" class="tertiary content @LandingPageContent.ChallengesLink"></a>
            }
        </h3>
        <div id="challengesSideNav" class="landingPageSection sideNavSection">
            <ul class="challengeList">
                @foreach (var challenge in Model.Challenges)
                {
                    <li>
                        @if (challenge is Kag)
                        {
                            var kag = challenge as Kag;
                            if (kag.FrequencyType == Kag.FrequencyTypes.Once && kag.IsComplete)
                            {
                                Html.Raw("</li>");
                                continue;

                            }
                            <!--KNOW AND GO CHALLENGES (SEC)-->
                            @ChallengeHeader(kag)
                            @ChallengeImageHtmlHelper.ChallengeImage(Model, kag)
                            if (string.IsNullOrEmpty(kag.BadgeName))
                            {
                                <label class="reward kagReward">@kag.RewardAmount</label>
                            }
                            <div class="SECTaskItem"
                                 startdate="@challenge.StartDate.ToString("MM/dd/yyyy", CultureInfo.InvariantCulture)"
                                 enddate="@(challenge.EndDate.HasValue ? challenge.EndDate.Value.ToString("MM/dd/yyyy", CultureInfo.InvariantCulture) : string.Empty)"
                                 score="@kag.CurrentScore"
                                 min="@kag.Target.TargetRangeMin" max="@kag.Target.TargetRangeMax"
                                 promoid="@kag.Target.PromoID" frequency="@kag.FrequencyType"
                                 tasktype="@kag.TaskType" response="@kag.ResponseType" currentdate="@kag.CurrentDate.ToString("MM/dd/yyyy", CultureInfo.InvariantCulture)">
                            </div>

                            if (kag.ShowPage)
                            {
                                <a href="/secure/challenge/sechallenge.aspx?secId=@challenge.ChallengeId" class="btn btn-link kagLink">See More</a>
                            }
                            <input type="hidden" class="secCompleted" value=@kag.IsComplete.ToString() secid=@kag.ChallengeId />
                        }
                        else
                        {
                            <!--OTHER CHALLENGES (CORPERATE, QUEST, PROMO)-->
                            <div class="challengeInfo">
                                @try
                                {
                                    @ChallengeHeader(challenge)
                                }
                                catch
                                { <h4 class="challengeText">&nbsp;</h4>  }
                            </div>
                            @ChallengeImageHtmlHelper.ChallengeImage(Model, challenge)
                        }
                    </li>
                }
            </ul>
        </div>
    }
    <!--PROGRAMS-->
    @if (Model.HasProgramsModules)
    {
        <h3 class="sectionTitle box grey">
            <span class="sideNavStatusArrow"></span><span class="content @LandingPageContent.Programs"></span>
            <img src="@(Model.ImageCDN + "ribbon-shadow.png")" class="ribbon" />
            <a href="javascript:return false;"></a>
        </h3>
        <div id="programsSideNav" class="landingPageSection sideNavSection">
            <ul class="challengeList">
                @foreach (var partModule in Model.PartnerModules)
                {
                    <li>
                        <div class="challengeInfo">
                            <a href="@Url.Action("PartnersPage", "Partners", new { sponsorModuleId = @partModule.SponsorModuleId })" class="blueLink">@partModule.MaskModuleName</a>
                        </div>
                        <img alt="@partModule.MaskModuleName" style="width:50px;height:50px;border:0;" src="@(partModule.ModuleImageSrc)" class="challengeBadge" />
                    </li>
                }
            </ul>
        </div>
    }
</div>
<div style="clear: both;"></div>
<div class="recentRewardsPopup">
    <div class="rewardsListContainer">
        <input type="hidden" id="sumPopupRewards" value="@Model.PopupRewards.Sum(r => r.Amount)" />
        <div class="title content @LandingPageContent.OnYourWayToBenefits"></div>
        <div class="subtitle content @LandingPageContent.EarnedHealthMiles"></div>
        <table class="rewardsList">
            <tbody>
                @foreach (var reward in Model.PopupRewards)
                {
                    <tr class="recentRewardsPopupRow">
                        <td>
                            @CustomFormat.ShortMonthDay(reward.DateEarned.Value, Model.CurrentCulture)
                    </td>
                    <td>
                        @reward.Name
                </td>
                <td>
                    @(reward.IsCash ? string.Format("{0:C}", reward.Amount) : reward.Amount + " HM")
            </td>
        </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="rewardsClose">
        <h3 class="jqmClose content @LandingPageContent.ClosePopup"></h3>
    </div>
</div>
<div id="divWelcomeJourney" style="display: none; padding: 10px; background-color: #fff; overflow: hidden;">
    <div id="wjSteps" style="overflow: auto;">
    </div>
</div>



<div style="display:none" id="KAGContentDiv">
    @*these get filled in via ajax in landingpage.js populateFormattedContent*@
    <span class="content @KagContent.Exer_ForStarting"></span>
    <span class="content @KagContent.Exer_CompleteHalfwayThere"></span>
    <span class="content @KagContent.Exer_JustEarned"></span>
    <span class="content @KagContent.KagYes"></span>
    <span class="content @KagContent.KagNo"></span>
    <span class="content @KagContent.ThanksForParticpating"></span>
</div>

<input type="hidden" id="hdnStartingToTrackMsg" value=" " />
<input type="hidden" id="hdnHalfWayThereMsg" value=" " />
<input type="hidden" id="hdnJustEarnedMsg" value="" />
<input type="hidden" id="hdnKagResponseYes" value="" />
<input type="hidden" id="hdnKagResponseNo" value="" />
<input type="hidden" id="hdnThanksForParticpating" value="" />

<div id="KAGCompletePopup"></div>

<div id="memebershipStatusChanged" style="display: none;">
    <p>
        <span class="content @LandingPageContent.MembershipHasChanged"></span>
        <a href="@string.Format("{0}/secure/member/upgrade.aspx", ApplicationSettings.BaseURL)" class="content @LandingPageContent.ReviewThisMembership"></a>.
    </p>
    <p>
        <a href="@string.Format("{0}/logout.aspx", ApplicationSettings.BaseURL)" class="content">Log out</a>
    </p>
</div>
<div id="creditCardInfo" style="display: none;">
    <p>
        <span class="content @LandingPageContent.CreditCardDeclined"></span>
    </p>
    <p>
        <span class="content @LandingPageContent.ToContinueUsing"></span>
        <a href="@string.Format("{0}/secure/member/updatecc.aspx", ApplicationSettings.BaseURL)" class="content @LandingPageContent.UpdateYourBillingInfo"></a>.
        <span class="content @LandingPageContent.YourAccountWillBeCancelled"></span>
    </p>
    <p>
        <a href="@string.Format("{0}/secure/member/updatecc.aspx", ApplicationSettings.BaseURL)" class="content @LandingPageContent.UpdateBillingInfoNow"></a>
    </p>
    <p>
        <span class="content @LandingPageContent.IfYouWishToCancel"></span>
        <br />
        <span class="content @LandingPageContent.PhoneNumberAndHours"></span>.
    </p>
</div>
@{
    if (!ViewBag.ShowBillingInfo)
    {
        <div id="billingInfo" style="display: none;">
            <p>
                <input type="hidden" id="@LandingPageContent.ToContinueAsMember" value="@Model.Title" />
                <span class="content @LandingPageContent.ToContinueAsMember"></span>
            </p>
            <p>
                <a href="@string.Format("{0}/secure/member/updatecc.aspx", ApplicationSettings.BaseURL)">Continue</a> | <a href=@string.Format("{0}/logout.aspx", ApplicationSettings.BaseURL)>Log out</a>
            </p>
        </div>
    }
}
<div id="termsPage" style="display: none;">
    @{
        var url = string.Format("{0}/promotional/terms.aspx?termsId={1}", ApplicationSettings.BaseURL, @Model.TermsId);
    }
    <p>
        <input type="hidden" id="@LandingPageContent.WeUpdatedAgreement" value="@Model.Title" />
        <span class="content @LandingPageContent.WeUpdatedAgreement"></span>
        <a id="lnkTerms" href="@url">click here</a>
        <span class="content @LandingPageContent.OrCloseToContinue"></span>
    </p>
</div>
<div id="LoadingSpinner" class="centerLoading" style="display: none;">
    <div id="divSpinner">
        <img src="@Url.Content("~/Content/Images/Shared/spinner.gif")" alt="" />
    </div>
</div>
<div id="UFGBubbleInfo" class="hover UpForGrabInfo"></div>

<!-- New Landing Modal -->
<input type="hidden" value="@Model.ShowNewLandingModal.ToString()" id="showNewLandingModal" />
<div id="newLandingModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-body">
        <div class="modalNewLookNotification">
            <div class="leftNewLookNotification">
                <h2>
                    We have a new look!
                </h2>
                <input type="button" class="btn button-save yellow-button modalNewLookButton" id="useNewLanding"
                       value="Make the switch" />
                <a href="#" id="useOldLanding">Not now, thanks.</a>
                <p>
                    (Don’t worry, you can try out the new look anytime.)
                </p>
            </div>
            <div class="rightNewLookNotification">
                <img src="/v2/Content/Images/LandingPageV3/newlandingpagelook.jpg" alt="New Look Image" />
            </div>
            <div class="clearfix">
            </div>
        </div>
    </div>
</div>
