﻿@using Vhm.Web.Models.ViewModels.Member
@using Vhm.Web.Models.ViewModels.Shared
@model Vhm.Web.Models.ViewModels.Member.NoSmokingViewModel
@{
    ViewBag.Title = "NoSmoking";
    Layout = "~/Views/Shared/MasterNoCol.cshtml";
    ViewData["pageTitle"] = new PageTitle(Model.PageTitle.ShowPageTitle, Model.PageTitle.PageTitleName);
}
@section Styles
{
}
<div id="innercontent" class="contentWidth">
    <p>
        @if (Model.NonSmokerOn)
        {
            @Html.Raw(String.Format(Model.ContentNoSmoking[NoSmokingContent.YouToldUsInYourVal0That_Val1Member], Model.HraName, Model.CommonContent[CommonLabelsContent.ProgramName]))
        }
        else if (Model.CurrentSmokerOn && Model.NoIntentToQuit)
        {
            @Html.Raw(String.Format(Model.ContentNoSmoking[NoSmokingContent.YouToldUsInYourHRANameThatYo_reementBelow], Model.HraName))
        }
        else if (Model.IntentToQuit && Model.CurrentSmokerOn)
        {
            @Html.Raw(String.Format(Model.ContentNoSmoking[NoSmokingContent.YouToldUsInYourHealthSnapsho_hmilesMember], Model.HraName, Model.CommonContent[CommonLabelsContent.ProgramName]))
        }
        else if (!Model.CurrentSmokerOn && !Model.NonSmokerOn)
        {
            @Html.Raw(String.Format(Model.ContentNoSmoking[NoSmokingContent.NoMatterWhetherYouReCurrent_hmilesMember], Model.CommonContent[CommonLabelsContent.ProgramName]))
        }
        else
        {
            @Html.Raw(String.Format(Model.ContentNoSmoking[NoSmokingContent.NoMatterWhetherYouReCurrent_hmilesMember], Model.CommonContent[CommonLabelsContent.ProgramName]))
        }
    </p>
    <div style="width: 80%">
        <p class="bold">
            "@Model.ContentNoSmoking[NoSmokingContent.TobaccoIsThePrimaryCauseOfMa_rsonalHealth]"</p>
            </div>
    @if (!Model.AlreadyAgreed)
    {
        using (Html.BeginForm("SaveNoSmoking", "Member", FormMethod.Post))
        {
            <div>
            <input type="radio" name="answer" value="w_103010" />
            <label class="bold">@Model.ContentMisc[MiscellaneousLabelsContent.IAgree]</label>
            <div>
                <label>
                    @Model.ContentNoSmoking[NoSmokingContent.YouPromiseToBeTobaccoFreeDur_ewardsPeriod]
                </label>
            </div>
            <div>
                <input type="radio" name="answer" value="w_103020" />
                <label class="bold">@Model.ContentNoSmoking[NoSmokingContent.IDontWantToPromiseYet]</label>
            </div>
                <div>
                    <label>
                        @Model.ContentNoSmoking[NoSmokingContent.YoureNotReadyToBeTobaccoFree_eMeasureMenu]
                    </label>
                </div>
                <br/>
                <div>
                    <button type="button" class="btn yellow-button" onClick="SaveNoSmoking()">@Model.CommonContent[CommonLabelsContent.Submit]</button>
                </div>
                <div  id="pointAppend" style=" z-index: 100;font-size:72px; position: absolute;top: 50%; left: 40%; display:none;">
                </div>
        </div>
        }
    }
    else
    {
        <p class="red">
            @string.Format(Model.ContentNoSmoking[NoSmokingContent.YouVeDeclaredYourselfATobac_hmilesMember], Model.CommonContent[CommonLabelsContent.ProgramName])
        </p>
    }
</div>
@section Script
{
    <script>
    function SaveNoSmoking() {
            if ($('input[name=answer]:checked').val() == undefined) {
                return;
            } else if ($('input[name=answer]:checked').val() == "w_103020") {
                window.location = "landingpage";
            }
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "/secure/member/NoSmoking.aspx/SaveNoSmoking",
                data: "{memberId:'@Model.MemberId',isAgreed:'" + $('input[name=answer]:checked').val() + "'}",
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    if ($(msg.d).text() != "") {
                        var text=$(msg.d).text() + " " + "@Model.CommonContent[CommonLabelsContent.PointsName]";
                        $("#pointAppend").append(text).fadeIn(function () {
                            setTimeout( function(  ) {
                                window.location = "landingpage";
                            },2000 );  });

                    } else {
                        window.location = "NoSmoking";
                    }
                    
                }
            });
        return false;
    }
</script>
}
