<%@ Control Language="C#" AutoEventWireup="true" Inherits="widgets_TaxonomySummary_TaxonomyTree" Codebehind="TaxonomyTree.ascx.cs" %>
<div class="TSfoldercontainer" >
    <span class="folder" path="\" data-ektron-folid="0">Taxonomy</span>
    <ul class="EktronFolderTree EktronFiletree" data-ektron-folid="0"></ul>
</div>