﻿@using System.Configuration
@using System.Web.Optimization
@using Vhm.Web.Common
<!DOCTYPE html>
@{
    var resourceVersion = ApplicationSettings.CachedResourceVersion;
    var background = ApplicationSettings.SiteBackgroundURL;
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=1024, maximum-scale=1.5" />
    <meta name="keywords" content="@ViewBag.OldSiteUrl, Health, Wellness, Rewards, Incentive, Pedometer, Active, Challenge" />
    <meta name="description" content="@ViewBag.CompanyName is a rewards program that works kind of like a frequent flier program, only you don't get rewarded for flying or using a credit card. You get rewarded for getting active. You get great rewards for making small choices that go a long way toward a healthier you." />
    <title></title>
    @Styles.Render("~/Content/css")
    @RenderSection("Styles", false)

    <link rel="stylesheet" type="text/css" href="@Url.Content(string.Format("~/Content/themes/{0}/css/theme.css?v={1}", @Model.ThemeCode.ColorThemeCode, resourceVersion))" />

    <!--[if IE 9]>
    <link rel="stylesheet" type="text/css" href="~/Content/style/ie9.css" />
    <![endif]-->
    <!--[if IE 8]>
    <link rel="stylesheet" type="text/css" href="~/Content/style/ie8.css" />
    <![endif]-->
    @{
        if (ViewBag.EnableNewLanding)
        {
            <link rel="stylesheet" type="text/css" href="/styles/v3/tungstenV3.css?<%= ResourceVersion %>" />
        }
    }


</head>
<body style="background-image: url('@(Url.Content(string.Format("~/Content/themes/{0}/images/{1}", Model.ThemeCode.ColorThemeCode, background)))');">
    @Html.Action("Header", "Layout")
    @{
        if (ViewBag.ShowBillingInfo)
        {
            <input type="hidden" id="showBillingInfo" value="true" />
            <div id="billingInfo" style="display: none;">
                <p>
                    <span class="content">To continue as a member, you will need to set up a billing method. Please click \"Continue\" to enter new payment details.</span>
                </p>
                <p>
                    <a href="@string.Format("{0}/secure/member/updatecc.aspx", ApplicationSettings.BaseURL)">Continue</a> | <a href=@string.Format("{0}/logout.aspx", ApplicationSettings.BaseURL)>Log out</a>
                </p>
            </div>
        }
    }
    @RenderBody()
    @*@if ( @Request.RawUrl == "/v2/member/landingpage" )
        {
            @Html.Action("FooterLandingPage", "Layout")
        }
        else
        {*@
    @Html.Action("Footer", "Layout")
    @*}*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/vhm")

    <script type="text/javascript">
        (function ($) {
            $(function () {
                var pageWrapper = $('#pageContentWrapper');
                var pageWidth = pageWrapper.width(); //.attr("width");
                //we need to set up the pageTitle width - so, out of the pageWidth we need to take out the width of the background left + right background
                //                    var pageTitleLeft = $(".pageTitleLeft").width();
                //                    var pageTitleRight = $(".pageTitleRight").width();
                var pageTitleCenter = pageWidth; // -pageTitleLeft - pageTitleRight;
                $(".pageTitleCenter").width(pageTitleCenter);
                var div = $('.VHMwrapper');
                div.css({ "min-height": ($(window).height() - $("#header").height()) - $("#footer").height() * 2 });
            });

            var showPopUpForBillingInfo = $('#showBillingInfo').val();
            if (showPopUpForBillingInfo != undefined) {
                if (showPopUpForBillingInfo.toLowerCase() == 'true') {
                    $("#billingInfo").dialog({
                        title: 'Important Account Information',
                        width: '400px',
                        modal: true,
                        resizable: false,
                        closeOnEscape: false,
                        open: function (event, ui) {
                            $(".ui-dialog-titlebar-close").hide();
                        }
                    });
                }
            }
        })(jQuery);
        
    </script>
    @RenderSection("Script", false)
    <script type="text/javascript">
        $(document).ready(function () {
            $('.VHMheadermenuc .main-nav .nav > li.menu-item-li').hover(
               function () { $(this).addClass('active') },
               function () { $(this).removeClass('active') });
        });
    </script>
    <script type="text/javascript">
        //localization plugin init
        i18n.init(function (t) {
            $("body").i18n({ ns: "LocalizationLibrary" });
        });
    </script>
    <script type="text/javascript">
        var AppPath = "@(Html.Raw(Request.Url.Scheme))://@(Html.Raw(Request.Url.Host))" + "/v2";
    </script>
    @{
        string trackerKey = Convert.ToString(Microsoft.Win32.Registry.LocalMachine.OpenSubKey(@"Software\VirginLifecare", false).GetValue("GoogleAnalyticsId", "")) == string.Empty ? "UA-5511099-1" : Convert.ToString(Microsoft.Win32.Registry.LocalMachine.OpenSubKey(@"Software\VirginLifecare", false).GetValue("GoogleAnalyticsId", ""));
    }
    <!-- START Google Analytics  -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '@trackerKey']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <!-- END Google Analytics -->
</body>
</html>
