﻿@using Vhm.Web.Common
@using Vhm.Web.Models.RepositoryModels
@using Vhm.Web.Models.ViewModels.Social
@model Vhm.Web.Models.ViewModels.Social.NewsFeedVM

@helper PostText(NewsfeedPost post){
    string cdnBaseURL=ApplicationSettings.CDNBaseURL;
    string postText = string.Empty;
    string nfLink = " and&nbsp;<a style=\"padding:0px;\" href=\"" + Model.NewsfeedUrl + "\">" + post.AggregationCount + "&nbsp;others</a>";
    string profileLink = "<a class=\"profileLink\" href=\"#\" memberId=\"" + post.PostById + "\" friendId=\"" + post.PostById + "\">" + post.PostByName + "</a>";
    string friendLink = "<a class=\"profileLink\" href=\"#\"  memberId=\"" + post.PostById + "\" friendId=\"" + post.PostToId + "\">" + post.PostToName + "</a>";
    string badgeLink = "<a href=\"/secure/rewards/mybadges.aspx\">{0}</a>";
    if (post.AggregationCount > 1) {
        switch (post.PostType) {
            case NewsfeedPost.POST_TYPE_FRIEND: // friend
                {

                    postText = post.PostText.Replace("<Member>", profileLink).Replace("<Friend>", friendLink) + nfLink + ".";
                    break;
                }
            case NewsfeedPost.POST_TYPE_JOIN_GROUP: // joined group
                {
                    postText = profileLink + nfLink + " " + Model.Content[NewsFeedContent.HaveJustJoined] + " " +
                               post.GroupName;
                    break;
                }
            case NewsfeedPost.POST_TYPE_PROMO: // promo
                {
                    postText = profileLink + nfLink + " " + post.PostText;
                    post.PostText = postText;
                    break;
                }
            case NewsfeedPost.POST_TYPE_BADGE: // badge
                {
                    postText = profileLink + nfLink + " " + Model.Content[NewsFeedContent.HaveJustEarned] +
                               string.Format(badgeLink, post.BadgeName) + "badge";
                    post.PostText = postText;
                    break;
                }
            default: {
                postText = post.PostText.Replace("<Member>", profileLink).Replace("<Friend>", post.PostToName);
                    break;
                }
        }
    } else
    {
        if (post.PostType == NewsfeedPost.POST_TYPE_BADGE) {
            postText = profileLink + " " + Model.Content[NewsFeedContent.HasJustEarned] + " " +
                               string.Format(badgeLink, post.BadgeName) +  " badge";
        }
        else if (post.PostType == NewsfeedPost.POST_TYPE_MANUAL)
        {
            postText = profileLink + "<br />" + post.PostText;
        } else
        {
            postText = post.PostText.Replace("<Member>", profileLink).Replace("<Friend>", post.PostToName); 
        }
    }
    var htmlPostString = new HtmlString(postText);
    <span>@htmlPostString</span>
}   

@helper PostImage(NewsfeedPost post){
    string image, altText;

    switch (post.PostType)
    {
        case NewsfeedPost.POST_TYPE_JOIN_GROUP: {
                image = post.GroupImage;
                altText = post.GroupName;
                break;
            }
        case NewsfeedPost.POST_TYPE_BADGE:
            {
                image = post.BadgeImage;
                altText = post.BadgeName;
                break;
            }
        default:
            {
                image = post.PostByImage;
                altText = post.PostByName;
                break;
            }
           
    }
    var imgeURL =(ApplicationSettings.BaseURL+image).StartsWith(ApplicationSettings.BuildBadgeImageUrl) || image.StartsWith("http") ? image : ApplicationSettings.CDNBaseURL + image;
    <img src="@imgeURL" alt="@altText" />
}   

@helper LikeText(NewsfeedPost post)
    {
    string likeText = string.Empty;
    if (post.LikeCount > 1)
    {
        likeText = post.YouLikeThis ? string.Format(Model.Content[NewsFeedContent.YouAndNPeopleLike], post.LikeCount) : string.Format(Model.Content[NewsFeedContent.NPeopleLike], post.LikeCount);
    }
    else if (post.YouLikeThis)
    {
        likeText = Model.Content[NewsFeedContent.YouLikeThis];
    }
    else if (post.LikeCount == 1)
    {
        likeText = Model.Content[NewsFeedContent.OnePersonLikes];
        
    }
    if (!string.IsNullOrEmpty(likeText))
    {
        <img class="likeImage" src="/images/social/icon-likes.gif" alt="like" style="width: 16px; height:16px; border:0;" />
    }
    <span class="newsfeedSubText grey">@likeText</span>
}
@helper CommentText(NewsfeedPost post)
    {
    var commentText = string.Empty;
    if (post.TotalComments != null && post.TotalComments > 0)
    {
        commentText = post.TotalComments == 1 ?
            string.Format("1 {0}", Model.Content[NewsFeedContent.Comment]) :
            string.Format("{0} {1}", post.TotalComments, Model.Content[NewsFeedContent.Comments]);
    }
    if (!string.IsNullOrEmpty(commentText))
    {
        <img class="likeImage" src="/images/social/icon-comments.gif" alt="comments" style="width: 16px; height:16px; border:0;" />
    }
    <span class="newsfeedSubText grey">@commentText</span>
}   

<div class="newsfeedContainer">
    <textarea style="width:240px;overflow: auto;" class="box grey disabled" rows="2" cols="45" id="newPostText" hasText="false" message="@Model.NewsfeedMessage">@Model.NewsfeedMessage</textarea>
    <input id="submitPost" type="button" class="disabled" value="@Model.Content[NewsFeedContent.Post]"/> 
    <ul id="newsfeedList">
        @if (Model.NewsFeed.Count == 0)
        {
            <li id="nothingPosted" class="newsFeedItem">
                <h3 class="grey" style="width:260px">@Model.Content[NewsFeedContent.NothingPosted]</h3>
                <div>
                    <span class="newsfeedSubText grey postDate"></span>
                </div>  
            </li>
        }
        @foreach (var post in Model.NewsFeed)
        {
        <li class="newsFeedItem">
            @PostImage(post) 
            <h4 class="grey postText">@PostText(post)</h4>
            <div>
                <span class="newsfeedSubText grey">@post.PostDate.ToString(Model.CurrentCulture)</span> 
                <a href="#" class="tertiary likeLink LikeClassic" postbyid="@post.PostById" youlikedid="@post.YouLikedId" groupid="@post.GroupId" postid="@post.PostId" youlikedit="@post.YouLikeThis.ToString()">@(post.YouLikeThis ? @Model.Content[NewsFeedContent.Unlike] : @Model.Content[NewsFeedContent.Like])</a>
                <a href="/Secure/Social/MyNewsFeed.aspx?nfid=Wall_@post.PostId" class="tertiary LikeClassic">@Model.Content[NewsFeedContent.Comment]</a>                
            </div>             
                <div>@LikeText(post)</div>
                <div>@CommentText(post)</div>            
        </li>
        }
        <li id="newsFeedItemTemplate">
            <img alt="" src="@Model.MemberImage" />
            <h4 class="grey postText"></h4>
            <div>
                <span class="newsfeedSubText grey postDate"></span>
            </div> 
        </li>
    </ul>
</div>
<div id="divRemoveFriend" style="display:none;">
    <div>@Model.Content[NewsFeedContent.SureRemoveAsFriend]</div>
    <br /><br />
    <div style="text-align:right;">
        <input type="button" value="@Model.Content[NewsFeedContent.Cancel]" onclick="$('#divRemoveFriend').dialog('close');" class="vbtn_gray_a_md" id="btnCancel" name="btnCancel" style="padding:0px 10px 5px 10px;" />
        <input type="button" value="Model.Content[NewsFeedContent.Yes]" class="vbtn_red_a_md" id="btnRemove" name="btnRemove" style="padding:0px 10px 5px 10px;"/>
    </div>
</div>
         


