﻿@using System.Configuration
@using Vhm.Web.Common
@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Virgin HealthMiles - A problem occured";
}
                                       
<html>
    <head>
        <title>@ViewBag.Title</title>          
        <meta http-equiv="Content-Type" content="text/html; charset=us-ascii" >
        <style type="text/css">
        	body { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;font-size:10pt; margin:0px; color:#666}
        </style>
    </head>
  <body>
    <table cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td colspan="2" height="86px">&nbsp;&nbsp;<a href="/secure/member/landingpage.aspx"><img src="/images/general/logo_virgin_healthmiles.gif" alt="logo" width="253" height="53" border="0" /></a></td>
		</tr>
		<tr><td colspan="2" style="background-color:#cc0000;height:28px">&nbsp;</td></tr>
		<tr>
			<td width="160px">&nbsp;</td>
			<td valign="top" width="816px">
				<form id="Form1" method="post" runat="server">
				<table border="0" cellpadding="0" cellspacing="0" style="margin-top:2px;" width="100%">       
					<tr>	
						<td width="21px"><img src="/images/content/heading-corner.gif" alt="page header" style="background-repeat:no-repeat;width:21px;height:35px;" /></td>
						<td style="color:#fff;background-color:#999" class="font14Verdana"><strong>Something went wrong</strong></td>
					</tr>                    
				</table>	
				<table bgcolor="#ccc" border="0" id="content_area" style="font-family:Arial; background:#ebebeb;height:370px;" width="100%">       
					<tr>
						<td valign="top" width="30"></td>
						<td valign="top"><br />We're sorry there is currently an issue with the area you are trying to access. Please go back, and try again later.<br /><br /><br />
						</td>
					</tr>                      
                    @if (ApplicationSettings.ShowException == true)
                    {
                    <tr>	
						<td valign="top" width="30"></td>
						<td valign="top">
                            @(new HtmlString(Model.Exception.ToString().Replace(Environment.NewLine, "<br/><br/>")))
                        </td>
					</tr>
                    }  
                    <tr>
						<td valign="top" width="30"></td>
						<td valign="top">
                            <a href="javascript:history.go(-1)"><img src="/images/error/button_red_back.gif" border="0"></a>
						</td>
					</tr>
                    <tr>
                        <td colspan="3">@System.Environment.MachineName.Replace("VLC-WWW", "").Replace("VHM-WWW", "")</td>
                    </tr>
				</table>
			</form>
			</td>
		</tr>        
	</table>
  </body>
</html>