﻿@using Vhm.Web.Models.ViewModels.Shared
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles
{
    @RenderSection("Styles", false)
}
@section Script
{
    @RenderSection("Script", false)
}
@Html.Action("TitlePageHeader", "Layout", new RouteValueDictionary(new Dictionary<string, object> { { "page", ViewData["pageTitle"] as PageTitle } }))
<div id="wrapper">
        <div class="right_twoColumnLeft">
            @RenderSection("RightColumn", false)
        </div>
        <div class="main_twoColumnLeft">
            <div class="row">
                @RenderBody()
            </div>
        </div>
    <div style="clear: both;">
    </div>
</div>
