﻿@using Vhm.Web.Models.ViewModels.Shared
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles
{
    @RenderSection("Styles", false)
}
@section Script
{
    @RenderSection("Script", false)
}
<div id="section">
    <div class="VHMwrapper">
        <div class="VHMwrapperB" id="pageContentWrapper">
            @Html.Action("TitlePageHeader", "Layout", new RouteValueDictionary(new Dictionary<string, object> {{ "page", ViewData["pageTitle"] as PageTitle }})) 
            <div class="leftCol_twoColumnRight">
                @RenderSection("RightColumn", false)
            </div>
            <div class="main_twoColumnRight">
                @RenderBody()
            </div>
        </div>
    </div>
</div>