﻿@using Vhm.Web.Models.ViewModels.Shared
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles
{
    @RenderSection("Styles", false)
}
@section Script
{
    @RenderSection("Script", false)
}
<div id="section">
    <div class="VHMwrapperThreeColumn">
        <div class="VHMwrapperB_ThreeColumn" id="pageContentWrapper">
            @Html.Action("TitlePageHeader", "Layout", new RouteValueDictionary(new Dictionary<string, object> {{ "page", ViewData["pageTitle"] as PageTitle }}))
            <div class="leftCol_threeColumn">
                    @RenderSection("LeftColumn", false)
                </div>
                <div class="rightCol_threeColumn">
                    @RenderSection("RightColumn", false)
                </div>
                <div class="main_threeColumn">
                    @RenderBody()
                </div>
        </div>
    </div>
</div>

