﻿@using Vhm.Web.Models.ViewModels.Shared
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles
{
    @RenderSection("Styles", false)
}
@section Script
{
    @RenderSection("Script", false)
}
@Html.Action("TitlePageHeader", "Layout", new RouteValueDictionary(new Dictionary<string, object> { { "page", ViewData["pageTitle"] as PageTitle } }))
<div id="wrapper">
    <div class="row">
        <div class="span12">
            @RenderBody()
        </div>
    </div>
</div>
