﻿

div#LoginFields{
	background-color: #ffffff;
	border-top: solid 2px #c00000;
	min-height: 400px;
	padding:10px;
}

div#LoginFields input[type=submit]{
	background: url(/VirginLifecare/images/vhm/button81x18.gif);
	border: none;
	color:#ffffff;
	font-size: .95em;
	height: 18px;
	padding: 1px 0px 0px 6px;
	text-align: left;
	width: 82px;
}

div.editor-label { font-size: 1.1em; }
.red{ color: #990000; }
.badLogin{ display:block; height: auto; padding: 2px 10px 5px 2px; width: 95%; color:#cc0000; border: solid 2pt #cc0000; width: 486px; }
.badLoginInner{margin:5px; margin-top: 0px; float: left;}

div#MemberNavWrapper {
	margin: 10px auto 0px auto;
	padding: 8px;
	width: 816px;
}
div#MemberNavContainer {
	background-image: url(/VirginLifecare/images/home/checkMemberBackgroundLR.jpg);
	background-repeat: no-repeat;
	height: 415px;
	padding: 8px;
}
ul#MemberNav {
	list-style: none;
}

ul#MemberNav li {
	margin-top: 15px;
	margin-bottom: 15px;
}
ul#MemberNav li a {
	background-image: url(/VirginLifecare/images/nav/btnSilverLarge.gif);
	background-repeat: no-repeat;
	color: #000000;
	display: block;
	font-weight: bold;
	line-height: 27px;
	text-align: center;
	text-decoration: none;
	width: 159px;
}
h1.NavHeader {
	background: url('/VirginLifecare/images/Incentives/content_top_816x35.png') top left no-repeat;
	color: #ffffff;
	line-height: 35px;
	padding: 0px 20px;
}