﻿@using System.Web.Optimization
@model Vhm.Web.Models.ViewModels.Activity.ActivityJournalVM

@{
    ViewBag.Title = "ActivityJournal";
    Layout = "~/Views/Shared/MasterNoCol.cshtml";
}     

@section Script{
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>   
    <script type="text/javascript">

        google.load('visualization', '1.0', { 'packages': ['corechart'] });
        google.setOnLoadCallback(drawChart);

    </script>
}   
@Styles.Render("~/Content/activity")
@Scripts.Render("~/bundles/activity")  

<div class="container">
    <div class="span8">
        <div id="chart_div"></div>
    </div>
    <div class="span2">
        <div style="border: 1px solid red; width: 100%; height: 150px;">My profile</div>   
    </div>
</div>
