﻿@using System.Web.Script.Serialization
@using Vhm.Web.Common
@using Vhm.Web.Models.ViewModels.Activity
@using Vhm.Web.Models.ViewModels.Shared
@model DevicesVM

@{

    Layout = "~/Views/Shared/MasterTwoCol.cshtml";
    ViewData["pageTitle"] = new PageTitle(Model.PageT.ShowPageTitle, Model.PageT.PageTitleName);
    ViewBag.Title = new PageTitle(Model.PageT.ShowPageTitle, Model.PageT.PageTitleName);
    var resourceVersion = ApplicationSettings.CachedResourceVersion;
}

@section Styles
{
    <link href="@Url.Content("~/Content/Style/Devices.css?v=" + resourceVersion)" rel="stylesheet" type="text/css" />
}
@section RightColumn
{

    <!--Start RunKeeper Section-->
    <h2 class="gold accent-theme">Need to buy a device?</h2>
    <div class="right-col-box">
        <p>
            <img class="box-image" src="/Images/iSync/max-device_small.png" alt="Max" />
            Virgin Pulse Max is an ultra-smart pedometer that tracks your steps, distance and calories burned. But Max doesn't stop there. Use Max to challenge your friends on the spot, and to get reminders, encouragement and applause. Sync Max to your iOS device (Android coming soon!) or upload to your account via USB. Wear Max every day, and watch your points add up fast!
        </p>
        <div>
            <input type="button" class="btn grey-button" value="Shop Now" onclick="location.href='/shop'" />
        </div>
    </div>
    <!--Start RunKeeper Section-->
    <h2 class="gold accent-theme">New Mobile App!</h2>
    <div class="right-col-box">
        <p>
            <img class="box-image" style="width:120px;" src="https://www.filepicker.io/api/file/Qd1733FTtSsQ4b2qg2EC" alt="Mobile App" />
            The free Virgin Pulse app is designed to work with the Virgin Pulse program and the Max™ activity tracker. The app takes the core features of the program and puts them at your fingertips for on-the-go healthy living!
        </p>
        <div>
            <a href="https://itunes.apple.com/us/app/virgin-pulse/id793322895?ls=1&amp;mt=8" class="AppStoreImg floatLeft linksNormal blueLink" style="margin-left:0px;" target="_blank"></a>
        </div>
    </div>
    @Html.Action("RichContent", "Content", new { @contentAreaType = "DeviceRightColumnContents", @sponsorSpecific = true })
}
<div>
    <h4 class="grey"></h4>
</div>
<div class="hrSolid"></div>
@Html.Action("RichContent", "Content", new { @contentAreaType = "DevicesContent1", @sponsorSpecific = true })
<div class="devices-list">

    @*<h2 class="gold main-theme">Connect a device</h2>
    <div class="search-box hide">
        <input type="text" class="bootstrap search-field" value="Search" /> <input type="button" id="btn-submit-search" class="btn yellow-button floatRight" value="Submit" />
    </div>*@
    <div class="clearfix"></div>
</div>