﻿@using System.Web.Script.Serialization
@using Vhm.Web.Common
@using Vhm.Web.Models.ViewModels.Activity
@using Vhm.Web.Models.ViewModels.Shared
@model DevicesVM
@helper Encode(object obj) {
        @(new HtmlString(new JavaScriptSerializer().Serialize(obj)))
}
@helper  ChangeStringToURL(string content, string url, string urlText) {
        var returnURL = new HtmlString(string.Format(content, "<a href=" + url + " target='_blank'>" + urlText + "</a>"));
        <div>@returnURL</div>
}
@{
    
    Layout = "~/Views/Shared/MasterTwoCol.cshtml";
    ViewData["pageTitle"] = new PageTitle(Model.PageT.ShowPageTitle, Model.PageT.PageTitleName);
    ViewBag.Title = new PageTitle(Model.PageT.ShowPageTitle, Model.PageT.PageTitleName);
    var resourceVersion = ApplicationSettings.CachedResourceVersion;
}

@section Styles
{
    <link href="@Url.Content("~/Content/Style/Devices.css?v=" + resourceVersion)" rel="stylesheet" type="text/css" />
}
@section RightColumn
{
    <!-- START Misfit Section  -->
    
    @if(@Model.ShowDevicesMisfitSection)
    {
    <h4 class="deviceHeader" data-i18n="DevicePage.Misfit">Misfit</h4>
    <div class="box grey deviceContent" style="height: 300px;">
        <div class="floatRight"><img src="/v2/content/images/device/misfit-shine.png" alt="Misfit Shine"/></div>
        <h4 class="floatLeft OtherDeviceText misfitDeviceContent" data-i18n="DevicePage.MisfitDescription">Misfit Shine is a sleek, wireless activity tracker. Connect your Misfit account to sync your steps, distance, and calories from your Misfit Shine.</h4>
        @(Model.IsMisfitConnected == false ? ReturnDeviceStatus(false) : ReturnDeviceStatus(true))
        @if(Model.IsMisfitConnected) {
            <br/>
            @Html.ActionLink(@Model.Content[DeviceContent.Disconnect], "DeleteMemberVendorsTokens", "Activity", new { vendorcode = "MISFT" }, new { @class = "floatLeft blueLink margt10" })
            <a href="http://www.misfit.com/" class="floatLeft linksNormal blueLink" target="_blank" data-i18n="DevicePage.LearnMoreAboutMisfit">Learn more about Misfit</a>
        } else {
            <div class="floatLeft buttonDiv">
                <a class="btn yellow-button misfitConnectBtn" href="/v2/Activity/PairVendorAccount?vendorcode=MISFT" data-i18n="DevicePage.ConnectToMisfit">Connect to Misfit</a>           
                <a href=@Model.HowToConnectMisfit class="floatLeft linksNormal blueLink" target="_blank" >@Model.Content[DeviceContent.HowToConnect]</a> 
                <a href="http://www.misfit.com/" class="floatLeft linksNormal blueLink" target="_blank" data-i18n="DevicePage.LearnMoreAboutMisfit">Learn more about Misfit</a>
            </div>
        }
        <div style="clear: both;"></div>
        <div style="padding-top:10px;">
            <div style="float: left; width:40%; padding-right: 10px;">
                <a href="http://redirect.misfitwearables.com/shineappstore" class="floatLeft linksNormal" target="_blank"><img src="/v2/content/images/device/app-store-sm.png" alt="Download iPhone app"/></a>
            </div>
            <div style="float: left; width:40%; padding-left: 10px;">
                <a href="https://play.google.com/store/apps/details?id=com.misfitwearables.prometheus" class="floatLeft linksNormal" target="_blank"><img src="/v2/content/images/device/google-play-sm.png" alt="Download android app"/></a>
            </div>
            <div style="clear: both;"></div>
        </div>       
    </div>
    }
<!-- END Misfit Section -->
<!-- START Endomondo Section  -->
    <input type="hidden" id="vendorPairStatusResp" value="@Model.VendorConnectResponseStatus"/>
    @if(@Model.ShowDevicesEndomondoSection) {
    <h4 class="deviceHeader" data-i18n="DevicePage.Endomondo">ENDOMONDO</h4>
        <div class="box grey deviceContent" style="height: 340px;">
            <div class="floatRight"><img src="/v2/content/images/device/edomondo.png" alt="Endomondo"/></div>
            <h4 class="floatLeft OtherDeviceText endomondoDeviceContent" data-i18n="DevicePage.EndomondoDescription">Get the Endomondo sports tracking app and turn your smartphone into a real-time GPS tracker for your running, cycling, and other workout activities. It’s fun, it’s social, and it’s FREE.</h4>
            @(Model.IsEndomondoConnected == false ? ReturnDeviceStatus(false) : ReturnDeviceStatus(true))
            @if(Model.IsEndomondoConnected) {
                <br/>
                @Html.ActionLink(@Model.Content[DeviceContent.Disconnect], "DeleteMemberVendorsTokens", "Activity", new { vendorcode = "ENDOM" }, new { @class = "floatLeft blueLink margt10" })
                <a href="http://www.endomondo.com/home" class="floatLeft linksNormal blueLink" target="_blank" data-i18n="DevicePage.LearnMoreAboutEndomondo">Learn more about Endomondo</a>
            } else {
                <div class="floatLeft buttonDiv">
                    <input type="button" id="EndomondoBtnAction" class="btn yellow-button" name="EndomondoBtnAction" value="Connect to Endomondo" onclick="window.location = '@Model.EndomondoURL'" data-i18n="[html]WolverineLandingPage.DevicesPage.ConnectToEndomondo"/>
                    <a href=@Model.HowToConnectEndomondo class="floatLeft linksNormal blueLink" target="_blank" >@Model.Content[DeviceContent.HowToConnect]</a> 
                    <a href="http://www.endomondo.com/home" class="floatLeft linksNormal blueLink" target="_blank" data-i18n="DevicePage.LearnMoreAboutEndomondo">Learn more about Endomondo</a>
                </div>
            }
            <div style="clear: both;"></div>
            <div style="padding-top:10px;">
                <div style="float: left; width:40%; padding-right: 10px;">
                    <a href="http://www.endomondo.com/m/download/iphone" class="floatLeft linksNormal" target="_blank"><img src="/v2/content/images/device/app-store-sm.png" alt="Download iPhone app"/></a>
                </div>
                <div style="float: left; width:40%; padding-left: 10px;">
                    <a href="http://www.endomondo.com/m/download/android" class="floatLeft linksNormal" target="_blank"><img src="/v2/content/images/device/google-play-sm.png" alt="Download android app"/></a>
                </div>
                <div style="clear: both;"></div>
            </div>    
        </div>
    }
<!-- END Endomondo Section -->

<!--Start RunKeeper Section-->
    <h4 class="deviceHeader">@Model.Content[DeviceContent.RunKeeper]</h4>
    <div class="box grey deviceContentShort">
        <h4 class="floatLeft RunKeeperText">
            @Model.Content[DeviceContent.RunKeeperText]
        </h4>
        <div class="RunKeeperImg floatRight"></div>
        @helper ReturnURL(bool isConnected, string src)
            {
                if(isConnected)
                {
                    switch(src)
                    {
                        case "RK":
                        @Html.ActionLink(@Model.Content[DeviceContent.Disconnect], "DeleteMemberRunkeeperToken", "Activity", null, new { @class = "floatLeft linksThemed" })
                   break;
                        case "FB":
                        @Html.ActionLink(@Model.Content[DeviceContent.Disconnect], "DeleteMemberVendorsTokens", "Activity", new { vendorcode = "FITBT" }, new { @class = "floatLeft linksThemed" })
                   break;
                    }
                }
        }
        @helper ReturnRunKeeperButton(string src)
            {
                if(!Model.IsRunKeeperConnected)
                {
                <input type="button" id="btnAction" class="vbtn_gray_a_md connectionButton floatLeft" name="btnAction" value=" " onclick="window.location = '@Model.RunKeeperURL'"/>
                    var url = string.Empty;
                    switch(src)
                    {
                        case "RK":
                        url = @Model.HowToConnectRK;
                        break;
                        case "OD":
                        url = @Model.HowToConnectRK;
                        break;
                        case "FB":
                        url = @Model.HowToConnectFitBit;
                        break;
                    }
                <a href=@url class="floatLeft linksNormal blueLink" target="_blank" >@Model.Content[DeviceContent.HowToConnect]</a><br/>  <br/>          
                }
        }
        @helper ReturnFitbitButton()
            {
                if(!Model.IsFitbitConnected)
                {
                <a class="vbtn_gray_a_md FitbitConnectionButton floatLeftStatus" href="/v2/Activity/PairVendorAccount?vendorcode=FITBT" ></a>
                <a href=@Model.HowToConnectFitBit class="floatLeft linksNormal blueLink" target="_blank" >@Model.Content[DeviceContent.HowToConnect]</a>            
                }
        }
        @helper ReturnDeviceStatus(bool isConnected)
            {  
                if(!isConnected)
                {
                <label class="floatLeft">@Model.Content[DeviceContent.Status]:</label><i class="icon-remove" style="color: #900; text-decoration: none; font-size: 14px; margin-right: 5px; margin-left:5px; float:left;"></i><label class="deviceNotConnected red floatLeftStatus"> @Model.Content[DeviceContent.NotConnected]</label>
                }
                else
                {
                <label class="floatLeft">@Model.Content[DeviceContent.Status]:</label><i class="icon-ok" style="color: #060; text-decoration: none; font-size: 14px; margin-right: 5px; margin-left: 5px; float: left;"></i><label class="deviceConnected green floatLeftStatus">@Model.Content[DeviceContent.Connected]</label>
                }
        }
        <div class="floatLeft buttonDiv">
            @(Model.IsRunKeeperConnected == false ? ReturnDeviceStatus(false) : ReturnDeviceStatus(true))
            @ReturnRunKeeperButton("RK")
            <div class="RunKeeperInfoURL">
                @ReturnURL(Model.IsRunKeeperConnected, "RK")<br/>
                <a href="http://www.RunKeeper.com" class="floatLeft linksNormal blueLink" target="_blank">@Model.Content[DeviceContent.GoToRunKeeper]</a>
            </div>
        </div>
    </div>
<!--END RunKeeper Section-->

<!--Start FitBit Section-->
    <h4 class="deviceHeader">@Model.Content[DeviceContent.FitbitWithRunKeeper]</h4>
    <div class="box grey deviceContent">
        <div class="FitbitImg floatRight"></div>
        <h4 class="FitbitText">@Model.Content[DeviceContent.FitbitText]</h4>
        <div class="floatLeft buttonDiv">
            @if(@Model.ShowDevicesFitbitSection)
            {
                @(Model.IsFitbitConnected == false ? ReturnDeviceStatus(false) : ReturnDeviceStatus(true))
                @ReturnFitbitButton()
            }
            else
            { 
                @ReturnRunKeeperButton("FB")
            }                  
            <div class="RunKeeperInfoURL">
                 @if(@Model.ShowDevicesFitbitSection)
                 {
                     @ReturnURL(Model.IsFitbitConnected, "FB")<br/>
                 }
                 else
                 {
                     <a href=@Model.ConnectFitbitThroughRunkeeperPdf class="floatLeftStatus" target="_blank">@Model.Content[DeviceContent.ConnectThroughRunkeeper]</a>
                 }
                <a href="http://www.Fitbit.com" class="floatLeft linksNormal blueLink" target="_blank">@Model.Content[DeviceContent.GoToFitbit]</a>
            </div>
        </div>
    </div>
<!--END FitBit Section-->
    
<!--Start Other RunKeeper Devices Section-->
    <h4 class="deviceHeader">@Model.Content[DeviceContent.OtherDevices]</h4>
    <div class="box grey deviceContent">
        <h4 class="floatLeft OtherDeviceText">@Model.Content[DeviceContent.OtherDevicesText]</h4>
        <div class=" OtherDeviceImg floatRight"></div>
        <div class="RunKeeperDeviceURL floatLeft">
            <a href="http://www.wahoofitness.com" class="floatLeft linksNormal blueLink" target="_blank">@Model.Content[DeviceContent.WahooFitness]</a>
            <a href="http://www.withings.com/en/bloodpressuremonitor" class="floatLeft linksNormal blueLink" target="_blank">@Model.Content[DeviceContent.WithingsBloodPressure]</a>
            <a href="http://www.withings.com/en/bodyscale" class="floatLeft linksNormal blueLink" target="_blank">@Model.Content[DeviceContent.WithingsBodyScale]</a>
        </div>
        <div class="RunKeeperInfoURL floatLeft">
            @ReturnRunKeeperButton("OD")
             <a href=@Model.ConnectFitbitThroughRunkeeperPdf class="floatLeft linksNormal blueLink" target="_blank">@Model.Content[DeviceContent.ConnectThroughRunkeeper]</a>
            <a href="http://www.RunKeeper.com" class="floatLeft linksNormal blueLink" target="_blank">@Model.Content[DeviceContent.GoToRunKeeper]</a>
        </div>
    </div>
<!--END Other RunKeeper Devices Section-->
}

<div id="connToVendorResponseConflict" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title main-theme" data-i18n="DevicePage.ConnToVendorFailTitle">CONNECTION FAILED</h2>
            </div>
            <div class="modal-body">
                <p data-i18n="DevicePage.ConnToVendorDuplicateMessage">That account is already paired with Virgin Pulse – please take a look and try again.</p>
            </div>
        </div>
    </div>
</div>
<div id="connToVendorResponseError" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2 class="modal-title main-theme" data-i18n="DevicePage.ConnToVendorFailTitle">CONNECTION FAILED</h2>
      </div>
      <div class="modal-body">
        <p data-i18n="DevicePage.ConnToVendorFailMessage">Oops! Something went wrong with the connection, please try again in a few minutes.</p>
      </div>
    </div>
  </div>
</div>
<div id="connToVendorResponseSuccess" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2 class="modal-title main-theme" data-i18n="DevicePage.ConnToVendorSuccessTitle">CONNECTION SUCCESS</h2>
      </div>
      <div class="modal-body">
        <p data-i18n="DevicePage.ConnToVendorSuccessMessage">Success! Connection complete.</p>
      </div>
    </div>
  </div>
</div>
<div>
    <h4 class="grey"></h4>
</div>
<div class="hrSolid"></div>

@Html.Action("RichContent", "Content", new { @contentAreaType = "DevicesContent1", @sponsorSpecific = true })

<hr class="sub" />
@Html.Action("RichContent", "Content", new { @contentAreaType = "DevicesContent2", @sponsorSpecific = true })
@if(Model.IsDashAppOn)
{
    <hr class="sub" />
    @Html.Action("RichContent", "Content", new { @contentAreaType = "DevicesContent3", @sponsorSpecific = true })
}
<hr class="sub" />
@Html.Action("RichContent", "Content", new { @contentAreaType = "DevicesContent4", @sponsorSpecific = true })

@section Script
{
    <script type="text/javascript">
        $(document).ready(function () {
            var endomResponseStatus = $("#vendorPairStatusResp").val();
            if (endomResponseStatus.toLowerCase() == 'conflict') {
                $('#connToVendorResponseConflict').modal('show');
                $('#connToVendorResponseConflict').on('hidden', function () {
                    RemoveStatusFromCache();
                });
                $("#connToVendorResponseError").modal('hide');
                $("#connToVendorResponseSuccess").modal('hide');

            } else if (endomResponseStatus.toLowerCase().indexOf('error') > -1 || endomResponseStatus == "0" || endomResponseStatus.toLowerCase() == "badrequest") {
                $("#connToVendorResponseError").modal('show');
                $('#connToVendorResponseError').on('hidden', function () {
                    RemoveStatusFromCache();
                });
                $("#connToVendorResponseConflict").modal('hide');
                $("#connToVendorResponseSuccess").modal('hide');
            } else if ( endomResponseStatus.toLowerCase() == 'created' ) { 
                
                $( "#connToVendorResponseConflict" ).modal( 'hide' );
                $( "#connToVendorResponseError" ).modal( 'hide' );
                $("#connToVendorResponseSuccess").modal('show');
                $('#connToVendorResponseSuccess').on('hidden', function () {
                    RemoveStatusFromCache();
                });
            } else {
                $("#connToVendorResponseConflict").modal('hide');
                $("#connToVendorResponseError").modal('hide');
                $("#connToVendorResponseSuccess").modal('hide');
            }
        });
        var RemoveStatusFromCache = function() {
            $.ajax( {
                cache: false,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: "RemoveStatusFromCache",
                dataType: "json",
                success: function( responseData ) {
                    if ( responseData != null && responseData.indexOf( "Service Error" ) < 0 ) {
                        var result = $.parseJSON( responseData );
                        if ( result.Success ) {
                            $( "#connToEndomondoResponse" ).hide();
                            $( "#connToVendorResponseError" ).hide();
                        } else {
                            alert( 'Something went wrong. Please try again later.' );
                        }
                    } else {
                        alert( 'Something went wrong. Please try again later.' );
                    }
                    ;
                },
                error: function( xhr, ajaxOptions, error ) {
                    alert( 'Something went wrong. Please try again later.' );
                }
            } );
        };
    </script>
}
